Repository jimmykane/quantified-self: changes, and which lefthook commands are due for each by the changed paths.
All: lint-functions, lint-angular

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint-functions:
      root: "functions"
      glob: "**/*.{ts,js}"
      run: npx eslint {staged_files} --fix && git add {staged_files}
    lint-angular:
      glob: "{src/*.{ts,html},src/**/*.{ts,html}}"
      run: ESLINT_USE_FLAT_CONFIG=false npx eslint {staged_files} --fix && git add {staged_files}

feat: add useful HRV Health highlights
  docs/unified-health-data.md
  src/app/components/health/health-priority-summary.component.html
  src/app/components/health/health-priority-summary.component.scss
  src/app/components/health/health-priority-summary.component.ts
  src/app/components/health/health-workspace.component.spec.ts
  src/app/components/health/health-workspace.component.ts
  src/app/helpers/health-workspace.helper.spec.ts
  src/app/helpers/health-workspace.helper.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

feat: add personal HRV range status
  docs/unified-health-data.md
  src/app/components/health/health-metric-series-chart.component.html
  src/app/components/health/health-metric-series-chart.component.spec.ts
  src/app/components/health/health-metric-series-chart.component.ts
  src/app/components/health/health-priority-summary.component.html
  src/app/components/health/health-priority-summary.component.scss
  src/app/components/health/health-priority-summary.component.ts
  src/app/components/health/health-workspace.component.spec.ts
  src/app/components/health/health-workspace.component.ts
  src/app/helpers/health-metric-chart.helper.spec.ts
  src/app/helpers/health-metric-chart.helper.ts
  src/app/helpers/health-workspace.helper.spec.ts
  src/app/helpers/health-workspace.helper.ts
  src/app/helpers/personal-metric-range.helper.spec.ts
  src/app/helpers/personal-metric-range.helper.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: scope HRV range to nightly data
  docs/unified-health-data.md
  src/app/components/health/health-workspace.component.spec.ts
  src/app/components/health/health-workspace.component.ts
  src/app/helpers/health-workspace.helper.spec.ts
  src/app/helpers/health-workspace.helper.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: color Suunto stress states
  docs/unified-health-data.md
  src/app/helpers/health-metric-chart.helper.spec.ts
  src/app/helpers/health-metric-chart.helper.ts
  src/app/shared/help.content.ts
Due: lint-angular

feat: add bounded existing-user Health backfill script
  README.md
  docs/health-backfill-operations.md
  docs/provider-integration-guide.md
  docs/unified-health-data.md
  functions/package.json
  functions/src/scripts/backfill-existing-health.spec.ts
  functions/src/scripts/backfill-existing-health.ts
  functions/src/scripts/health-backfill-plan.spec.ts
  functions/src/scripts/health-backfill-plan.ts
  functions/src/sleep/queue.spec.ts
  functions/src/sleep/queue.ts
Due: lint-functions

fix: color HRV trend by current status
  docs/unified-health-data.md
  src/app/helpers/health-metric-chart.helper.spec.ts
  src/app/helpers/health-metric-chart.helper.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: preserve point-in-time HRV colors
  docs/unified-health-data.md
  src/app/components/health/health-priority-summary.component.ts
  src/app/components/health/health-workspace.component.spec.ts
  src/app/components/health/health-workspace.component.ts
  src/app/helpers/health-metric-chart.helper.spec.ts
  src/app/helpers/health-metric-chart.helper.ts
  src/app/helpers/health-workspace.helper.spec.ts
  src/app/helpers/health-workspace.helper.ts
  src/app/helpers/personal-metric-range.helper.spec.ts
  src/app/helpers/personal-metric-range.helper.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: simplify Health highlights copy
  src/app/components/health/health-priority-summary.component.html
Due: lint-angular

fix: display Health charts in recorded timezone
  docs/unified-health-data.md
  src/app/helpers/health-metric-chart.helper.spec.ts
  src/app/helpers/health-metric-chart.helper.ts
  src/app/helpers/health-workspace.helper.spec.ts
  src/app/helpers/health-workspace.helper.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: color Health HRV by personal range
  docs/unified-health-data.md
  src/app/components/health/health-metric-chart.component.html
  src/app/components/health/health-metric-chart.component.spec.ts
  src/app/components/health/health-metric-chart.component.ts
  src/app/components/health/health-priority-summary.component.ts
  src/app/components/health/health-workspace.component.html
  src/app/components/health/health-workspace.component.spec.ts
  src/app/components/health/health-workspace.component.ts
  src/app/helpers/health-metric-chart.helper.ts
  src/app/helpers/health-workspace.helper.spec.ts
  src/app/helpers/health-workspace.helper.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: remove duplicate Health connectivity action
  src/app/components/health/health-workspace.component.html
  src/app/components/health/health-workspace.component.spec.ts
Due: lint-angular

feat: showcase Health with shared public previews
  docs/unified-health-data.md
  src/app/app.routes.server.spec.ts
  src/app/app.routes.server.ts
  src/app/app.routing.module.spec.ts
  src/app/app.routing.module.ts
  src/app/components/charts/sleep-trend/charts.sleep-trend.component.spec.ts
  src/app/components/charts/sleep-trend/charts.sleep-trend.component.ts
  src/app/components/home/home.component.html
  src/app/components/home/home.component.spec.ts
  src/app/components/home/home.component.ts
  src/app/components/public-seo/health-feature.content.ts
  src/app/components/public-seo/health-preview.component.html
  src/app/components/public-seo/health-preview.component.scss
  src/app/components/public-seo/health-preview.component.spec.ts
  src/app/components/public-seo/health-preview.component.ts
  src/app/components/public-seo/health-preview.data.ts
  src/app/components/public-seo/public-feature-preview.component.html
  src/app/components/public-seo/public-feature-preview.component.scss
  src/app/components/public-seo/public-feature-preview.component.spec.ts
  src/app/components/public-seo/public-feature-preview.component.ts
  src/app/components/public-seo/public-feature-preview.types.ts
  src/app/components/public-seo/public-seo-pages.content.spec.ts
  src/app/components/public-seo/public-seo-pages.content.ts
  src/app/components/public-seo/public-seo-pages.paths.ts
  src/app/modules/app-charts.module.ts
  src/app/shared/help.content.ts
  src/app/shared/public-startup-route.spec.ts
  src/app/shared/public-startup-route.ts
  src/sitemap.xml
Due: lint-angular

fix: align public Health sample data with app semantics
  src/app/components/public-seo/health-preview.data.spec.ts
  src/app/components/public-seo/health-preview.data.ts
Due: lint-angular

chore: group Health with feature sitemap entries
  src/sitemap.xml
Due: none

fix: prevent overlapping sleep chart average labels
  src/app/components/charts/sleep-trend/charts.sleep-trend.component.css
  src/app/components/charts/sleep-trend/charts.sleep-trend.component.html
  src/app/components/charts/sleep-trend/charts.sleep-trend.component.spec.ts
  src/app/components/charts/sleep-trend/charts.sleep-trend.component.ts
  src/app/components/health/health-workspace.component.html
  src/app/components/health/health-workspace.component.spec.ts
  src/app/components/public-seo/health-preview.component.html
Due: lint-angular

fix: reduce fluctuations in sample weight trend
  src/app/components/public-seo/health-preview.data.spec.ts
  src/app/components/public-seo/health-preview.data.ts
Due: lint-angular

fix: fit efficiency trend axes to visible data
  src/app/components/charts/efficiency-trend/charts.efficiency-trend.component.spec.ts
  src/app/components/charts/efficiency-trend/charts.efficiency-trend.component.ts
  src/app/helpers/dashboard-echarts-yaxis.helper.spec.ts
  src/app/helpers/dashboard-echarts-yaxis.helper.ts
Due: lint-angular

fix: clarify manual measurement limits and inputs
  docs/unified-health-data.md
  src/app/components/health/manual-health-measurement-dialog.component.html
  src/app/components/health/manual-health-measurement-dialog.component.scss
  src/app/components/health/manual-health-measurement-dialog.component.spec.ts
  src/app/components/health/manual-health-measurement-dialog.component.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: keep timeline text validation lint-safe
  functions/src/timeline-notes/mutations.spec.ts
  shared/timeline-notes.ts
Due: lint-functions

feat: open Health navigation to all signed-in users
  docs/unified-health-data.md
  shared/health-workspace-rollout.ts
  src/app/components/public-seo/public-seo-pages.content.spec.ts
  src/app/components/public-seo/public-seo-pages.content.ts
  src/app/components/sidenav/sidenav.component.html
  src/app/components/sidenav/sidenav.component.spec.ts
  src/app/components/sidenav/sidenav.component.ts
  src/app/components/summaries/summaries.component.html
  src/app/components/summaries/summaries.component.spec.ts
  src/app/components/summaries/summaries.component.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

chore: bump app version to 10.13.2
  package-lock.json
  package.json
Due: none

fix: address Timeline notes review findings
  docs/timeline-notes.md
  src/app/components/timeline-notes/timeline-notes-dialog.component.html
  src/app/components/timeline-notes/timeline-notes-dialog.component.spec.ts
  src/app/components/timeline-notes/timeline-notes-dialog.component.ts
  src/app/components/timeline-notes/timeline-notes-workspace.component.scss
  src/app/components/timeline-notes/timeline-notes-workspace.component.ts
  src/app/helpers/timeline-notes-chart.helper.spec.ts
  src/app/helpers/timeline-notes-chart.helper.ts
Due: lint-angular

docs: keep worktree PRs updated after changes
  AGENTS.md
Due: none

fix: adapt Suunto health pulls to response item limits
  docs/health-backfill-operations.md
  docs/provider-integration-guide.md
  docs/suunto-integration.md
  functions/src/suunto/health-sync.spec.ts
  functions/src/suunto/health-sync.ts
  functions/src/suunto/health.ts
Due: lint-functions

fix: remove Dashboard header workspace shortcuts
  docs/training-workspace.md
  docs/unified-health-data.md
  src/app/components/public-seo/public-seo-pages.content.ts
  src/app/components/summaries/summaries.component.css
  src/app/components/summaries/summaries.component.html
  src/app/components/summaries/summaries.component.spec.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: vertically center Health measurement button content
  .agent/rules/material-design-strict.md
  src/app/components/health/health-workspace.component.scss
  src/app/components/health/health-workspace.component.spec.ts
Due: lint-angular

fix: keep Health mobile controls aligned without scrolling
  src/app/components/health/health-workspace.component.html
  src/app/components/health/health-workspace.component.scss
  src/app/components/health/health-workspace.component.spec.ts
Due: lint-angular

fix: remove Health footer import actions
  src/app/components/health/health-workspace.component.html
  src/app/components/health/health-workspace.component.scss
  src/app/components/health/health-workspace.component.spec.ts
  src/app/components/health/health-workspace.component.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

docs: require justification for new backend CRUD functions
  AGENTS.md
Due: none

fix: compact Health source filters on mobile
  src/app/components/health/health-workspace.component.scss
  src/app/components/health/health-workspace.component.spec.ts
Due: lint-angular

fix: wire Health interactions to shared haptic feedback
  src/AGENTS.md
  src/app/components/health/health-metric-series-chart.component.spec.ts
  src/app/components/health/health-source-observation-table.component.html
  src/app/components/health/health-source-observation-table.component.ts
  src/app/components/health/health-workspace.component.html
  src/app/components/health/health-workspace.component.spec.ts
  src/app/components/health/health-workspace.component.ts
  src/app/components/health/manual-health-measurement-dialog.component.html
  src/app/components/health/manual-health-measurement-dialog.component.spec.ts
  src/app/components/health/manual-health-measurement-dialog.component.ts
  src/app/components/timeline-notes/timeline-notes-dialog.component.html
  src/app/components/timeline-notes/timeline-notes-dialog.component.spec.ts
  src/app/components/timeline-notes/timeline-notes-dialog.component.ts
  src/app/components/timeline-notes/timeline-notes-workspace.component.spec.ts
  src/app/components/timeline-notes/timeline-notes-workspace.component.ts
Due: lint-angular

fix: log safe Suunto Health request status
  functions/src/sleep/queue.spec.ts
  functions/src/sleep/queue.ts
  functions/src/suunto/health-sync.spec.ts
  functions/src/suunto/health-sync.ts
Due: lint-functions

feat: add compact mobile Health view options sheet
  docs/unified-health-data.md
  src/app/components/health/health-view-options-bottom-sheet.component.html
  src/app/components/health/health-view-options-bottom-sheet.component.scss
  src/app/components/health/health-view-options-bottom-sheet.component.spec.ts
  src/app/components/health/health-view-options-bottom-sheet.component.ts
  src/app/components/health/health-workspace.component.html
  src/app/components/health/health-workspace.component.scss
  src/app/components/health/health-workspace.component.spec.ts
  src/app/components/health/health-workspace.component.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: identify Suunto Health response byte limits in logs
  functions/src/suunto/health-sync.spec.ts
  functions/src/suunto/health-sync.ts
Due: lint-functions

fix: split oversized Suunto Health download windows
  docs/provider-integration-guide.md
  docs/suunto-integration.md
  functions/src/suunto/health-sync.spec.ts
  functions/src/suunto/health-sync.ts
Due: lint-functions

fix: preserve Health sources on range-only sheet updates
  docs/unified-health-data.md
  src/app/components/health/health-view-options-bottom-sheet.component.spec.ts
  src/app/components/health/health-view-options-bottom-sheet.component.ts
  src/app/components/health/health-workspace.component.spec.ts
Due: lint-angular

feat: show Timeline notes on Health Highlights
  docs/timeline-notes.md
  docs/unified-health-data.md
  src/app/components/health/health-metric-series-chart.component.spec.ts
  src/app/components/health/health-priority-summary.component.html
  src/app/components/health/health-priority-summary.component.ts
  src/app/components/health/health-workspace.component.html
  src/app/components/timeline-notes/timeline-notes-workspace.component.spec.ts
  src/app/components/timeline-notes/timeline-notes-workspace.component.ts
  src/app/helpers/timeline-notes-adapters.spec.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: keep dashboard section icons beside titles
  src/app/components/summaries/summaries.component.css
  src/app/components/summaries/summaries.component.spec.ts
Due: lint-angular

fix: plot historical rolling ranges on HRV charts
  docs/unified-health-data.md
  src/app/components/health/health-metric-chart.component.spec.ts
  src/app/components/health/health-metric-series-chart.component.spec.ts
  src/app/helpers/health-metric-chart.helper.spec.ts
  src/app/helpers/health-metric-chart.helper.ts
  src/app/helpers/health-workspace.helper.spec.ts
  src/app/helpers/health-workspace.helper.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular
