Repository jimmykane/quantified-self: changes, and which lefthook commands are due for each by the changed paths.
All: lint-functions, lint-angular

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint-functions:
      root: "functions"
      glob: "**/*.{ts,js}"
      run: npx eslint {staged_files} --fix && git add {staged_files}
    lint-angular:
      glob: "{src/*.{ts,html},src/**/*.{ts,html}}"
      run: ESLINT_USE_FLAT_CONFIG=false npx eslint {staged_files} --fix && git add {staged_files}

fix: clarify Calendar workout day labels
  docs/activity-calendar.md
  src/app/components/calendar/activity-calendar-grid/activity-calendar-grid.component.html
  src/app/components/calendar/activity-calendar-grid/activity-calendar-grid.component.spec.ts
Due: lint-angular

fix: keep Calendar month corners unclipped
  src/app/components/calendar/activity-calendar-grid/activity-calendar-grid.component.html
  src/app/components/calendar/activity-calendar-grid/activity-calendar-grid.component.scss
  src/app/components/calendar/activity-calendar-grid/activity-calendar-grid.component.spec.ts
Due: lint-angular

fix: stabilize Calendar day loading
  src/app/components/calendar/calendar-day-context/calendar-day-context.component.html
  src/app/components/calendar/calendar-day-context/calendar-day-context.component.scss
  src/app/components/calendar/calendar-day-context/calendar-day-context.component.spec.ts
  src/app/components/calendar/calendar-day-context/calendar-day-context.component.ts
Due: lint-angular

fix: give dashboard calendar room to render
  src/app/components/calendar/activity-calendar-grid/activity-calendar-grid.component.scss
  src/app/components/calendar/activity-calendar-tile/activity-calendar-tile.component.scss
  src/app/components/calendar/activity-calendar-tile/activity-calendar-tile.component.spec.ts
  src/app/components/calendar/calendar-day-context/calendar-day-context.component.html
  src/app/components/calendar/calendar-day-context/calendar-day-context.component.scss
  src/app/components/calendar/calendar-day-context/calendar-day-context.component.spec.ts
Due: lint-angular

fix: enforce canonical sleep freshness
  docs/mcp-server.md
  docs/provider-integration-guide.md
  functions/src/derived-metrics/derived-metrics.service.spec.ts
  functions/src/derived-metrics/derived-metrics.service.ts
  functions/src/mcp/data.service.spec.ts
  functions/src/mcp/data.service.ts
  functions/src/mcp/hrv-personal-range.service.spec.ts
  functions/src/mcp/hrv-personal-range.service.ts
  src/app/helpers/dashboard-hrv-context.helper.spec.ts
  src/app/helpers/dashboard-sleep-chart.helper.spec.ts
  src/app/services/calendar-day-health.service.spec.ts
Due: lint-functions, lint-angular

fix: project Suunto HRV timezone evidence
  functions/src/mcp/hrv-personal-range.service.spec.ts
  functions/src/mcp/hrv-personal-range.service.ts
Due: lint-functions

fix: return dashboard-opened days to dashboard
  docs/activity-calendar.md
  src/app/components/calendar/activity-calendar-tile/activity-calendar-tile.component.spec.ts
  src/app/components/calendar/activity-calendar-tile/activity-calendar-tile.component.ts
  src/app/components/calendar/calendar-day-context/calendar-day-context.component.html
  src/app/components/calendar/calendar-day-context/calendar-day-context.component.ts
  src/app/components/calendar/calendar-day-details/calendar-day-details.component.html
  src/app/components/calendar/calendar-day-details/calendar-day-details.component.spec.ts
  src/app/components/calendar/calendar-day-details/calendar-day-details.component.ts
  src/app/components/calendar/calendar-page/calendar-page.component.html
  src/app/components/calendar/calendar-page/calendar-page.component.spec.ts
  src/app/components/calendar/calendar-page/calendar-page.component.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: centralize MCP sleep time fields
  functions/src/mcp/data.service.spec.ts
  functions/src/mcp/data.service.ts
  functions/src/mcp/hrv-personal-range.service.spec.ts
  functions/src/mcp/hrv-personal-range.service.ts
Due: lint-functions

fix: align calendar day panels and show all entries
  docs/activity-calendar.md
  src/app/components/calendar/activity-calendar-tile/activity-calendar-tile.component.html
  src/app/components/calendar/activity-calendar-tile/activity-calendar-tile.component.scss
  src/app/components/calendar/activity-calendar-tile/activity-calendar-tile.component.spec.ts
  src/app/components/calendar/calendar-day-context/calendar-day-context.component.html
  src/app/components/calendar/calendar-day-context/calendar-day-context.component.scss
  src/app/components/calendar/calendar-day-context/calendar-day-context.component.spec.ts
  src/app/components/calendar/calendar-day-context/calendar-day-context.component.ts
  src/app/components/calendar/calendar-page/calendar-page.component.scss
  src/app/shared/help.content.ts
Due: lint-angular

fix: preserve Suunto feed telemetry across worker claim
  docs/provider-integration-guide.md
  docs/suunto-integration.md
  functions/src/sleep/queue-revision.spec.ts
  functions/src/sleep/queue-revision.ts
  functions/src/sleep/queue.spec.ts
  functions/src/sleep/queue.ts
Due: lint-functions

chore: add Suunto Health feed telemetry
  docs/provider-integration-guide.md
  docs/suunto-integration.md
  functions/src/queue/queue-item.interface.ts
  functions/src/sleep/queue.spec.ts
  functions/src/sleep/queue.ts
  functions/src/suunto/health-sync.spec.ts
  functions/src/suunto/health-sync.ts
  functions/src/suunto/health-webhook-ingress.spec.ts
  functions/src/suunto/health-webhook-ingress.ts
Due: lint-functions

fix: align Today calendar sheet with month views
  docs/activity-calendar.md
  src/app/components/calendar/activity-calendar-grid/activity-calendar-grid.component.scss
  src/app/components/calendar/activity-calendar-tile/activity-calendar-tile.component.html
  src/app/components/calendar/activity-calendar-tile/activity-calendar-tile.component.ts
  src/app/components/calendar/calendar-day-details/calendar-day-details.component.html
  src/app/components/calendar/calendar-day-details/calendar-day-details.component.scss
  src/app/components/calendar/calendar-day-details/calendar-day-details.component.spec.ts
  src/app/components/calendar/calendar-day-details/calendar-day-details.component.ts
  src/app/components/calendar/calendar-month-picker-bottom-sheet/calendar-month-picker-bottom-sheet.component.html
  src/app/components/calendar/calendar-month-picker-bottom-sheet/calendar-month-picker-bottom-sheet.component.spec.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: distinguish Garmin cloud verification from accepted delivery
  docs/mcp-server.md
  docs/provider-integration-guide.md
  docs/training-workspace.md
  src/app/components/plans/training-delivery-button.component.spec.ts
  src/app/components/plans/training-delivery-button.component.ts
  src/app/components/plans/training-delivery-dialog.component.html
  src/app/components/plans/training-delivery-dialog.component.spec.ts
  src/app/helpers/training-delivery-summary.helper.ts
  src/app/services/training-delivery-reads.spec.ts
  src/app/services/training-delivery.service.ts
  src/app/shared/help.content.ts
Due: lint-angular

feat: highlight today in shared calendar month views
  docs/activity-calendar.md
  src/app/components/calendar/activity-calendar-grid/activity-calendar-grid.component.html
  src/app/components/calendar/activity-calendar-grid/activity-calendar-grid.component.scss
  src/app/components/calendar/activity-calendar-grid/activity-calendar-grid.component.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

test: align calendar height expectations with current layout
  src/app/components/summaries/dashboard-tile-board/dashboard-tile-board.component.spec.ts
Due: lint-angular

docs: guide MCP clients around activity date schema
  functions/src/mcp/server.spec.ts
  plugins/quantified-self/skills/analyze-quantified-self-activity/SKILL.md
  plugins/quantified-self/skills/analyze-quantified-self-training/SKILL.md
  plugins/quantified-self/skills/analyze-quantified-self/SKILL.md
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  tools/quantified-self-plugin/plugin-tool.test.mjs
Due: lint-functions, lint-angular

fix: tolerate late activity sync dispatch marker
  functions/src/activity-sync/process-queue-item.spec.ts
  functions/src/activity-sync/process-queue-item.ts
Due: lint-functions

feat: bound training history reads and deletion cleanup
  docs/training-workspace.md
  firestore.indexes.json
  functions/src/firestore-indexes.spec.ts
  functions/src/full-entrypoint.ts
  functions/src/function-target-loader.spec.ts
  functions/src/function-target-loader.ts
  functions/src/scripts/check-entrypoint-loading.ts
  functions/src/training-plans/cleanup-job-contract.ts
  functions/src/training-plans/cleanup-worker.emulator.spec.ts
  functions/src/training-plans/cleanup-worker.spec.ts
  functions/src/training-plans/cleanup-worker.ts
  functions/src/training-plans/delete-training-plan-callable.spec.ts
  functions/src/training-plans/delete-training-plan-callable.ts
  functions/src/training-plans/delete-training-plan.persistence.spec.ts
  functions/src/training-plans/delete-training-plan.ts
  functions/src/training-plans/large-schedule.emulator.spec.ts
  functions/src/training-plans/persistence.spec.ts
  functions/src/training-plans/persistence.ts
  functions/src/training-plans/restore.ts
  shared/functions-manifest.ts
  src/app/components/plans/plans-workspace.component.html
  src/app/components/plans/plans-workspace.component.spec.ts
  src/app/components/plans/plans-workspace.component.ts
  src/app/services/training-plans.service.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/firestore.rules.spec.ts
Due: lint-functions, lint-angular

fix: harden training plan cleanup retries
  docs/training-workspace.md
  functions/src/training-plans/cleanup-worker.emulator.spec.ts
  functions/src/training-plans/cleanup-worker.spec.ts
  functions/src/training-plans/cleanup-worker.ts
  functions/src/training-plans/delete-training-plan.persistence.spec.ts
  functions/src/training-plans/delete-training-plan.ts
  functions/src/training-plans/persistence.spec.ts
  functions/src/training-plans/persistence.ts
Due: lint-functions

fix: log classified Assistant MCP tool failures
  functions/src/assistant/callable.ts
  functions/src/assistant/mcp-session.spec.ts
  functions/src/assistant/mcp-session.ts
  functions/src/assistant/runtime.spec.ts
  functions/src/assistant/runtime.ts
Due: lint-functions

fix: space mobile calendar today pulse from date
  src/app/components/calendar/activity-calendar-grid/activity-calendar-grid.component.scss
Due: none

fix: align dashboard chart padding
  src/app/components/charts/efficiency-trend/charts.efficiency-trend.component.css
  src/app/components/charts/form/charts.form.component.css
  src/app/components/charts/form/charts.form.component.spec.ts
  src/app/components/charts/freshness-forecast/charts.freshness-forecast.component.css
  src/app/components/charts/health/dashboard-health-chart.component.css
  src/app/components/charts/hrv/charts.hrv.component.css
  src/app/components/charts/intensity-distribution/charts.intensity-distribution.component.css
  src/app/components/charts/kpi/charts.kpi.component.css
  src/app/components/charts/power-curve/charts.power-curve.component.css
  src/app/components/charts/sleep-trend/charts.sleep-trend.component.css
  src/app/components/summaries/dashboard-chart-library/dashboard-chart-library.component.css
  src/app/components/tile/chart/tile.chart.component.css
  src/app/components/tile/tile.abstract.css
Due: lint-angular

test: cover oversized training restore safety
  functions/src/training-plans/large-schedule.emulator.spec.ts
Due: lint-functions

fix: preflight oversized training mutations
  docs/training-workspace.md
  functions/src/training-plans/large-schedule.emulator.spec.ts
  functions/src/training-plans/persistence.spec.ts
  functions/src/training-plans/persistence.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

fix: keep compact dashboard charts readable
  src/app/components/charts/hrv/charts.hrv.component.css
  src/app/components/charts/xy/charts.xy.component.spec.ts
  src/app/components/charts/xy/charts.xy.component.ts
Due: lint-angular

fix: retain plan cleanup ownership during residual deletion
  docs/training-workspace.md
  functions/src/training-plans/delete-training-plan.persistence.spec.ts
  functions/src/training-plans/delete-training-plan.ts
Due: lint-functions

fix: tighten day view spacing and copy
  src/app/components/calendar/calendar-day-context/calendar-day-context.component.html
  src/app/components/calendar/calendar-day-context/calendar-day-context.component.scss
  src/app/components/calendar/calendar-day-context/calendar-day-context.component.spec.ts
  src/app/components/calendar/calendar-page/calendar-page.component.scss
  src/app/helpers/calendar-day-health.helper.spec.ts
  src/app/helpers/calendar-day-health.helper.ts
Due: lint-angular

feat: stage oversized training plan shifts for resumable commit
  docs/mcp-server.md
  docs/training-workspace.md
  firestore.indexes.json
  functions/src/firestore-indexes.spec.ts
  functions/src/mcp/training-plans.emulator.spec.ts
  functions/src/training-plans/bulk-shift-worker.ts
  functions/src/training-plans/cleanup-worker.ts
  functions/src/training-plans/large-schedule.emulator.spec.ts
  functions/src/training-plans/mutate-training-schedule.ts
  functions/src/training-plans/persistence.spec.ts
  functions/src/training-plans/persistence.ts
  functions/src/training-plans/staged-shift.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/firestore.rules.spec.ts
Due: lint-functions, lint-angular

fix: isolate resumable shift recovery from deletion cleanup
  docs/training-workspace.md
  functions/src/full-entrypoint.ts
  functions/src/function-target-loader.spec.ts
  functions/src/function-target-loader.ts
  functions/src/scripts/check-entrypoint-loading.ts
  functions/src/training-plans/bulk-shift-worker.ts
  functions/src/training-plans/cleanup-worker.ts
  functions/src/training-plans/large-schedule.emulator.spec.ts
  shared/functions-manifest.ts
Due: lint-functions

fix: make staged plan shift retries idempotent after commit
  docs/training-workspace.md
  functions/src/training-plans/large-schedule.emulator.spec.ts
  functions/src/training-plans/persistence.ts
  functions/src/training-plans/staged-shift.ts
Due: lint-functions

fix: accept reordered revision retries for staged shifts
  docs/training-workspace.md
  functions/src/training-plans/large-schedule.emulator.spec.ts
  functions/src/training-plans/staged-shift.ts
Due: lint-functions

fix: finalize staged shifts from the canonical lock request
  docs/training-workspace.md
  functions/src/training-plans/large-schedule.emulator.spec.ts
  functions/src/training-plans/staged-shift.ts
Due: lint-functions

feat: show overnight sleep details on full day
  docs/activity-calendar.md
  src/app/components/calendar/calendar-day-context/calendar-day-context.component.html
  src/app/components/calendar/calendar-day-context/calendar-day-context.component.scss
  src/app/components/calendar/calendar-day-context/calendar-day-context.component.spec.ts
  src/app/components/calendar/calendar-day-context/calendar-day-context.component.ts
  src/app/helpers/calendar-day-health.helper.spec.ts
  src/app/helpers/calendar-day-health.helper.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: tighten home reviewer section spacing
  src/app/components/home/home.component.scss
Due: none

fix: correct training plans sitemap lastmod
  src/sitemap.xml
Due: none

fix: align day sleep accessibility and owner fencing
  src/app/components/calendar/calendar-day-context/calendar-day-context.component.html
  src/app/components/calendar/calendar-day-context/calendar-day-context.component.spec.ts
  src/app/components/calendar/calendar-day-context/calendar-day-context.component.ts
Due: lint-angular

feat: add training workout prompt example
  src/app/components/home/home.component.html
  src/app/components/home/home.component.scss
  src/app/components/home/home.component.spec.ts
  src/app/components/public-seo/public-seo-pages.content.spec.ts
  src/app/components/public-seo/training-plans-home.content.ts
Due: lint-angular
