Repository jimmykane/quantified-self: changes, and which lefthook commands are due for each by the changed paths.
All: lint-functions, lint-angular

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint-functions:
      root: "functions"
      glob: "**/*.{ts,js}"
      run: npx eslint {staged_files} --fix && git add {staged_files}
    lint-angular:
      glob: "{src/*.{ts,html},src/**/*.{ts,html}}"
      run: ESLINT_USE_FLAT_CONFIG=false npx eslint {staged_files} --fix && git add {staged_files}

fix: keep Health metric picker focus inside sheet
  src/app/components/health/health-metrics-bottom-sheet.component.html
  src/app/components/health/health-metrics-bottom-sheet.component.spec.ts
  src/app/components/health/health-workspace.component.spec.ts
  src/app/components/health/health-workspace.component.ts
Due: lint-angular

fix: label freshness forecast axis
  src/app/components/charts/freshness-forecast/charts.freshness-forecast.component.spec.ts
  src/app/components/charts/freshness-forecast/charts.freshness-forecast.component.ts
Due: lint-angular

fix: route training plan editors through history
  docs/training-workspace.md
  firebase.json
  ngsw-config.json
  src/app/app.routes.server.spec.ts
  src/app/app.routes.server.ts
  src/app/app.routing.module.spec.ts
  src/app/app.routing.module.ts
  src/app/components/calendar/calendar-day-details/calendar-day-details.component.html
  src/app/components/calendar/calendar-day-details/calendar-day-details.component.spec.ts
  src/app/components/calendar/calendar-day-details/calendar-day-details.component.ts
  src/app/components/plans/plans-workspace.component.spec.ts
  src/app/components/plans/plans-workspace.component.ts
  src/app/components/sidenav/sidenav.component.spec.ts
  src/app/helpers/training-plans-navigation.helper.spec.ts
  src/app/helpers/training-plans-navigation.helper.ts
  src/app/services/calendar-day-details-navigation.service.spec.ts
  src/app/services/calendar-day-details-navigation.service.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: tighten freshness forecast chart bounds
  src/app/components/charts/freshness-forecast/charts.freshness-forecast.component.spec.ts
  src/app/components/charts/freshness-forecast/charts.freshness-forecast.component.ts
Due: lint-angular

fix: tighten freshness forecast x axis
  src/app/components/charts/freshness-forecast/charts.freshness-forecast.component.spec.ts
  src/app/components/charts/freshness-forecast/charts.freshness-forecast.component.ts
Due: lint-angular

fix: align dashboard chart axis spacing
  src/app/components/charts/efficiency-trend/charts.efficiency-trend.component.spec.ts
  src/app/components/charts/efficiency-trend/charts.efficiency-trend.component.ts
  src/app/components/charts/form/charts.form.component.spec.ts
  src/app/components/charts/form/charts.form.component.ts
  src/app/components/charts/intensity-distribution/charts.intensity-distribution.component.spec.ts
  src/app/components/charts/intensity-distribution/charts.intensity-distribution.component.ts
Due: lint-angular

fix: harden training plan route recovery
  docs/training-workspace.md
  src/app/components/plans/plans-workspace.component.spec.ts
  src/app/components/plans/plans-workspace.component.ts
  src/app/helpers/training-plans-navigation.helper.spec.ts
  src/app/helpers/training-plans-navigation.helper.ts
  src/app/services/calendar-day-details-navigation.service.spec.ts
  src/app/services/calendar-day-details-navigation.service.ts
Due: lint-angular

fix: thin dashboard chart axis labels
  src/app/components/charts/efficiency-trend/charts.efficiency-trend.component.spec.ts
  src/app/components/charts/efficiency-trend/charts.efficiency-trend.component.ts
  src/app/components/charts/form/charts.form.component.spec.ts
  src/app/components/charts/form/charts.form.component.ts
  src/app/components/charts/intensity-distribution/charts.intensity-distribution.component.spec.ts
  src/app/components/charts/intensity-distribution/charts.intensity-distribution.component.ts
  src/app/components/charts/sleep-trend/charts.sleep-trend.component.spec.ts
  src/app/components/charts/sleep-trend/charts.sleep-trend.component.ts
  src/app/helpers/dashboard-form-x-axis.helper.spec.ts
  src/app/helpers/dashboard-form-x-axis.helper.ts
Due: lint-angular

fix: align training state chart baselines
  src/app/components/charts/form/charts.form.component.css
  src/app/components/charts/form/charts.form.component.spec.ts
  src/app/components/charts/form/charts.form.component.ts
  src/app/components/charts/freshness-forecast/charts.freshness-forecast.component.spec.ts
  src/app/components/charts/freshness-forecast/charts.freshness-forecast.component.ts
  src/app/components/charts/intensity-distribution/charts.intensity-distribution.component.spec.ts
  src/app/components/charts/intensity-distribution/charts.intensity-distribution.component.ts
  src/app/components/charts/sleep-trend/charts.sleep-trend.component.spec.ts
  src/app/components/charts/sleep-trend/charts.sleep-trend.component.ts
  src/app/helpers/training-state-chart-layout.helper.ts
Due: lint-angular

fix: refine training plans navigation hierarchy
  docs/training-workspace.md
  src/app/components/sidenav/sidenav.component.html
  src/app/components/sidenav/sidenav.component.scss
  src/app/components/sidenav/sidenav.component.spec.ts
Due: lint-angular

fix: unify training state date label typography
  src/app/components/charts/form/charts.form.component.ts
  src/app/components/charts/freshness-forecast/charts.freshness-forecast.component.ts
  src/app/components/charts/intensity-distribution/charts.intensity-distribution.component.ts
  src/app/components/charts/sleep-trend/charts.sleep-trend.component.ts
  src/app/helpers/training-state-chart-layout.helper.ts
Due: lint-angular

fix: retain HRV baseline shading across missing readings
  docs/unified-health-data.md
  src/app/components/health/health-workspace.component.ts
  src/app/helpers/health-metric-chart.helper.spec.ts
  src/app/helpers/health-metric-chart.helper.ts
  src/app/helpers/health-workspace.helper.spec.ts
  src/app/helpers/health-workspace.helper.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

feat: expose opt-in activity descriptions through MCP
  .agent/skills/mcp-metric-surface/SKILL.md
  docs/mcp-server.md
  functions/src/mcp/activity-description.firestore.spec.ts
  functions/src/mcp/activity-description.service.ts
  functions/src/mcp/contract-compatibility.ts
  functions/src/mcp/contracts/pending-change.json
  functions/src/mcp/data.service.spec.ts
  functions/src/mcp/data.service.ts
  functions/src/mcp/http-protocol.spec.ts
  functions/src/mcp/oauth.service.spec.ts
  functions/src/mcp/oauth.service.ts
  functions/src/mcp/server.ts
  functions/src/mcp/tool-output-schemas.spec.ts
  functions/src/mcp/tool-output-schemas.ts
  plugins/quantified-self/skills/analyze-quantified-self-activity/SKILL.md
  plugins/quantified-self/skills/analyze-quantified-self-activity/agents/openai.yaml
  plugins/quantified-self/skills/analyze-quantified-self/SKILL.md
  src/app/components/mcp-authorization/mcp-authorization.component.spec.ts
  src/app/components/mcp-authorization/mcp-authorization.component.ts
  src/app/components/mcp-connections/mcp-connections.component.html
  src/app/components/mcp-connections/mcp-connections.component.ts
  src/app/components/public-seo/public-seo-page.component.spec.ts
  src/app/components/public-seo/public-seo-pages.content.spec.ts
  src/app/components/public-seo/public-seo-pages.content.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/app/shared/policies.content.spec.ts
  src/app/shared/policies.content.ts
  src/firebase-hosting.config.spec.ts
  src/sitemap.xml
Due: lint-functions, lint-angular

feat: expose shared HRV personal ranges through MCP
  docs/mcp-server.md
  functions/src/mcp/contracts/pending-change.json
  functions/src/mcp/data.service.ts
  functions/src/mcp/hrv-personal-range.service.spec.ts
  functions/src/mcp/hrv-personal-range.service.ts
  functions/src/mcp/server.spec.ts
  functions/src/mcp/server.ts
  functions/src/mcp/tool-output-schemas.spec.ts
  functions/src/mcp/tool-output-schemas.ts
  plugins/quantified-self/skills/analyze-quantified-self-health/SKILL.md
  plugins/quantified-self/skills/analyze-quantified-self-sleep/SKILL.md
  plugins/quantified-self/skills/analyze-quantified-self/SKILL.md
  shared/personal-metric-range.ts
  src/app/components/public-seo/public-seo-pages.content.ts
  src/app/helpers/health-workspace.helper.ts
  src/app/helpers/personal-metric-range.helper.ts
  src/app/shared/help.content.ts
  src/app/shared/policies.content.ts
  src/sitemap.xml
Due: lint-functions, lint-angular

fix: bound complete MCP activity description results
  docs/mcp-server.md
  functions/src/mcp/activity-description.service.ts
  functions/src/mcp/data.service.ts
  functions/src/mcp/server.ts
  functions/src/mcp/tool-output-schemas.spec.ts
Due: lint-functions

fix: include canonical Sleep duration in HRV range reads
  docs/mcp-server.md
  functions/src/mcp/hrv-personal-range.service.spec.ts
  functions/src/mcp/hrv-personal-range.service.ts
Due: lint-functions

docs: guide note comparisons with Health and Sleep metrics
  docs/mcp-server.md
  plugins/quantified-self/skills/analyze-quantified-self-health/SKILL.md
  plugins/quantified-self/skills/analyze-quantified-self-sleep/SKILL.md
  plugins/quantified-self/skills/analyze-quantified-self/SKILL.md
Due: none

docs: clarify notes comparison permissions and bucket boundaries
  docs/mcp-server.md
  plugins/quantified-self/skills/analyze-quantified-self/SKILL.md
Due: none

fix: preserve dashboard drafts and normalized settings
  docs/frontend-ui.md
  src/app/components/summaries/dashboard-chart-library/dashboard-chart-library-state.service.spec.ts
  src/app/components/summaries/dashboard-chart-library/dashboard-chart-library-state.service.ts
  src/app/components/summaries/dashboard-chart-library/dashboard-chart-library.component.html
  src/app/components/summaries/dashboard-chart-library/dashboard-chart-library.component.spec.ts
  src/app/components/summaries/dashboard-chart-library/dashboard-chart-library.component.ts
  src/app/components/summaries/dashboard-chart-library/dashboard-tile-configuration.ts
  src/app/services/dashboard-configuration.service.spec.ts
  src/app/services/dashboard-configuration.service.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: preselect requested MCP timeline notes permission
  docs/mcp-server.md
  docs/timeline-notes.md
  src/app/components/mcp-authorization/mcp-authorization.component.spec.ts
  src/app/components/mcp-authorization/mcp-authorization.component.ts
  src/app/components/mcp-connections/mcp-connections.component.html
  src/app/components/mcp-connections/mcp-connections.component.spec.ts
  src/app/components/public-seo/public-seo-pages.content.spec.ts
  src/app/components/public-seo/public-seo-pages.content.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/app/shared/policies.content.spec.ts
  src/app/shared/policies.content.ts
Due: lint-angular

fix: preselect all requested MCP permissions
  AGENTS.md
  docs/mcp-server.md
  src/app/components/mcp-authorization/mcp-authorization.component.spec.ts
  src/app/components/mcp-authorization/mcp-authorization.component.ts
  src/app/components/mcp-connections/mcp-connections.component.html
  src/app/components/mcp-connections/mcp-connections.component.spec.ts
  src/app/components/public-seo/public-seo-pages.content.spec.ts
  src/app/components/public-seo/public-seo-pages.content.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/app/shared/policies.content.spec.ts
  src/app/shared/policies.content.ts
Due: lint-angular

feat: open dashboard chart picker in responsive overlays
  docs/frontend-ui.md
  docs/images/dashboard-chart-library/desktop.png
  docs/images/dashboard-chart-library/mobile.png
  src/app/components/summaries/dashboard-chart-library/dashboard-chart-library.component.css
  src/app/components/summaries/dashboard-chart-library/dashboard-chart-library.component.html
  src/app/components/summaries/dashboard-chart-library/dashboard-chart-library.component.spec.ts
  src/app/components/summaries/dashboard-chart-library/dashboard-chart-library.component.ts
  src/app/components/summaries/summaries.component.html
  src/app/components/summaries/summaries.component.spec.ts
  src/app/components/summaries/summaries.component.ts
  src/app/shared/help.content.ts
  src/styles.scss
Due: lint-angular

refactor: organize repository agent guidance
  .agent/rules/backend-crud-boundary.md
  .agent/rules/canonical-metric-display.md
  .agent/skills/mcp-metric-surface/SKILL.md
  AGENTS.md
  functions/AGENTS.md
  src/AGENTS.md
Due: none

fix: improve chart picker previews and undo behavior
  docs/frontend-ui.md
  docs/images/dashboard-chart-library/desktop.png
  docs/images/dashboard-chart-library/mobile.png
  src/app/components/charts/kpi/charts.kpi.component.css
  src/app/components/summaries/dashboard-chart-library/dashboard-chart-library-state.service.spec.ts
  src/app/components/summaries/dashboard-chart-library/dashboard-chart-library-state.service.ts
  src/app/components/summaries/dashboard-chart-library/dashboard-chart-library.component.css
  src/app/components/summaries/dashboard-chart-library/dashboard-chart-library.component.html
  src/app/components/summaries/dashboard-chart-library/dashboard-chart-library.component.spec.ts
  src/app/components/summaries/dashboard-chart-library/dashboard-chart-library.component.ts
  src/app/components/summaries/dashboard-chart-library/dashboard-chart-preview.component.css
  src/app/components/summaries/dashboard-chart-library/dashboard-chart-preview.component.html
  src/app/components/summaries/dashboard-chart-library/dashboard-chart-preview.component.spec.ts
  src/app/components/summaries/dashboard-chart-library/dashboard-chart-preview.component.ts
  src/app/helpers/echarts-host-controller.spec.ts
  src/app/helpers/echarts-host-controller.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: keep custom dashboard charts in activity overview
  docs/frontend-ui.md
  src/app/components/summaries/dashboard-chart-library/dashboard-chart-library-state.service.spec.ts
  src/app/components/summaries/dashboard-chart-library/dashboard-chart-library.component.html
  src/app/components/summaries/dashboard-chart-library/dashboard-chart-library.component.spec.ts
  src/app/components/summaries/dashboard-chart-library/dashboard-chart-library.component.ts
  src/app/components/summaries/summaries.component.spec.ts
  src/app/helpers/dashboard-chart-catalog.helper.spec.ts
  src/app/helpers/dashboard-tile-section.helper.spec.ts
  src/app/helpers/dashboard-tile-section.helper.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: show chart properties first in the dashboard editor
  docs/frontend-ui.md
  src/app/components/summaries/dashboard-chart-library/dashboard-chart-library.component.css
  src/app/components/summaries/dashboard-chart-library/dashboard-chart-library.component.html
  src/app/components/summaries/dashboard-chart-library/dashboard-chart-library.component.spec.ts
  src/app/components/summaries/dashboard-chart-library/dashboard-chart-library.component.ts
  src/app/components/summaries/dashboard-chart-library/dashboard-tile-editor.component.css
  src/app/components/summaries/dashboard-chart-library/dashboard-tile-editor.component.html
  src/app/components/summaries/dashboard-chart-library/dashboard-tile-editor.component.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: harden training delivery recovery and status controls
  .github/workflows/_run-tests.yml
  docs/provider-integration-guide.md
  docs/training-workspace.md
  functions/src/training-plans/delivery/commands.ts
  functions/src/training-plans/delivery/contracts.ts
  functions/src/training-plans/delivery/delivery.emulator.spec.ts
  functions/src/training-plans/delivery/store.ts
  functions/src/training-plans/delivery/worker.ts
  shared/training-provider-delivery.ts
  src/app/components/plans/plans-workspace.component.html
  src/app/components/plans/training-delivery-button.component.html
  src/app/components/plans/training-delivery-button.component.ts
  src/app/components/plans/training-delivery-dialog.component.html
  src/app/components/plans/training-delivery-dialog.component.spec.ts
  src/app/components/plans/training-delivery-dialog.component.ts
  src/app/services/training-delivery.service.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

fix: place available chart actions beside section titles
  docs/frontend-ui.md
  src/app/components/summaries/dashboard-chart-library/dashboard-chart-library-state.service.ts
  src/app/components/summaries/dashboard-chart-library/dashboard-chart-library.component.css
  src/app/components/summaries/dashboard-chart-library/dashboard-chart-library.component.html
  src/app/components/summaries/dashboard-chart-library/dashboard-chart-library.component.spec.ts
  src/app/components/summaries/dashboard-chart-library/dashboard-chart-library.component.ts
  src/app/components/summaries/summaries.component.css
  src/app/components/summaries/summaries.component.html
  src/app/components/summaries/summaries.component.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: keep calendar sheet navigation visible
  docs/training-workspace.md
  src/app/components/calendar/calendar-day-details/calendar-day-details.component.html
  src/app/components/calendar/calendar-day-details/calendar-day-details.component.scss
  src/app/components/calendar/calendar-day-details/calendar-day-details.component.spec.ts
Due: lint-angular

fix: preserve small admin user percentages
  src/app/helpers/admin-user-kpis.helper.spec.ts
  src/app/helpers/admin-user-kpis.helper.ts
Due: lint-angular

fix: align calendar day row affordances
  docs/training-workspace.md
  src/app/components/calendar/calendar-day-details/calendar-day-details.component.html
  src/app/components/calendar/calendar-day-details/calendar-day-details.component.scss
  src/app/components/calendar/calendar-day-details/calendar-day-details.component.spec.ts
Due: lint-angular

fix: round calendar plan accents
  docs/training-workspace.md
  src/app/components/calendar/calendar-day-details/calendar-day-details.component.scss
  src/app/components/calendar/calendar-day-details/calendar-day-details.component.spec.ts
Due: lint-angular

fix: use a chart list with a large dashboard preview
  docs/frontend-ui.md
  docs/images/dashboard-chart-library/desktop.png
  docs/images/dashboard-chart-library/mobile-preview.png
  docs/images/dashboard-chart-library/mobile.png
  src/app/components/summaries/dashboard-chart-library/dashboard-chart-library-state.service.ts
  src/app/components/summaries/dashboard-chart-library/dashboard-chart-library.component.css
  src/app/components/summaries/dashboard-chart-library/dashboard-chart-library.component.html
  src/app/components/summaries/dashboard-chart-library/dashboard-chart-library.component.spec.ts
  src/app/components/summaries/dashboard-chart-library/dashboard-chart-library.component.ts
  src/app/components/summaries/dashboard-chart-library/dashboard-chart-preview.component.css
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: separate calendar plan accent from row state
  docs/training-workspace.md
  src/app/components/calendar/calendar-day-details/calendar-day-details.component.html
  src/app/components/calendar/calendar-day-details/calendar-day-details.component.scss
  src/app/components/calendar/calendar-day-details/calendar-day-details.component.spec.ts
Due: lint-angular

fix: keep chart previews aligned with picker selections
  docs/frontend-ui.md
  src/app/components/summaries/dashboard-chart-library/dashboard-chart-library-state.service.spec.ts
  src/app/components/summaries/dashboard-chart-library/dashboard-chart-library-state.service.ts
  src/app/components/summaries/dashboard-chart-library/dashboard-chart-library.component.html
  src/app/components/summaries/dashboard-chart-library/dashboard-chart-library.component.spec.ts
  src/app/components/summaries/dashboard-chart-library/dashboard-chart-library.component.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: add miniature chart previews to picker rows
  docs/frontend-ui.md
  docs/images/dashboard-chart-library/desktop.png
  docs/images/dashboard-chart-library/mobile-preview.png
  docs/images/dashboard-chart-library/mobile.png
  src/app/components/summaries/dashboard-chart-library/dashboard-chart-library.component.css
  src/app/components/summaries/dashboard-chart-library/dashboard-chart-library.component.html
  src/app/components/summaries/dashboard-chart-library/dashboard-chart-library.component.spec.ts
  src/app/components/summaries/dashboard-chart-library/dashboard-chart-library.component.ts
  src/app/components/summaries/dashboard-chart-library/dashboard-chart-preview.component.ts
  src/app/components/summaries/dashboard-chart-library/dashboard-chart-thumbnail.component.css
  src/app/components/summaries/dashboard-chart-library/dashboard-chart-thumbnail.component.html
  src/app/components/summaries/dashboard-chart-library/dashboard-chart-thumbnail.component.spec.ts
  src/app/components/summaries/dashboard-chart-library/dashboard-chart-thumbnail.component.ts
  src/app/helpers/dashboard-chart-preview.helper.ts
  src/app/helpers/dashboard-chart-thumbnail.helper.spec.ts
  src/app/helpers/dashboard-chart-thumbnail.helper.ts
  src/app/modules/dashboard.module.ts
  src/app/shared/help.content.ts
Due: lint-angular

feat: add overnight HRV chart beside Sleep on the dashboard
  docs/frontend-ui.md
  docs/images/dashboard-hrv/desktop.png
  docs/images/dashboard-hrv/mobile.png
  src/app/components/charts/sleep-trend/charts.sleep-trend.component.css
  src/app/components/charts/sleep-trend/charts.sleep-trend.component.html
  src/app/components/charts/sleep-trend/charts.sleep-trend.component.spec.ts
  src/app/components/charts/sleep-trend/charts.sleep-trend.component.ts
  src/app/components/summaries/dashboard-chart-library/dashboard-chart-library.component.ts
  src/app/components/summaries/dashboard-chart-library/dashboard-tile-configuration.spec.ts
  src/app/components/summaries/dashboard-chart-library/dashboard-tile-configuration.ts
  src/app/components/tile/chart/tile.chart.component.html
  src/app/components/tile/chart/tile.chart.component.spec.ts
  src/app/components/tile/chart/tile.chart.component.ts
  src/app/helpers/dashboard-auto-tile.helper.ts
  src/app/helpers/dashboard-chart-catalog.helper.spec.ts
  src/app/helpers/dashboard-chart-info.helper.ts
  src/app/helpers/dashboard-chart-preview.helper.ts
  src/app/helpers/dashboard-chart-thumbnail.helper.ts
  src/app/helpers/dashboard-hrv-chart.helper.spec.ts
  src/app/helpers/dashboard-hrv-chart.helper.ts
  src/app/helpers/dashboard-manager-presets.helper.spec.ts
  src/app/helpers/dashboard-manager-presets.helper.ts
  src/app/helpers/dashboard-special-chart-types.spec.ts
  src/app/helpers/dashboard-special-chart-types.ts
  src/app/helpers/dashboard-tile-section.helper.ts
  src/app/helpers/dashboard-tile-view-model.helper.ts
  src/app/services/dashboard-chart-preview.service.spec.ts
  src/app/services/dashboard-chart-preview.service.ts
  src/app/shared/help.content.ts
Due: lint-angular
