Repository jimmykane/quantified-self: changes, and which lefthook commands are due for each by the changed paths.
All: lint-functions, lint-angular

lint-functions:
  run: npx eslint {staged_files} --fix && git add {staged_files}

lint-angular:
  run: ESLINT_USE_FLAT_CONFIG=false npx eslint {staged_files} --fix && git add {staged_files}

chore: increase animation time
  src/app/animations/animations.ts
Due: lint-angular

fix: build size
  angular.json
Due: none

chore: fixup for stat activities
  src/app/helpers/summary-stats.helper.spec.ts
  src/app/helpers/summary-stats.helper.ts
Due: lint-angular

chore: better table for mobile
  src/app/components/event-table/event.table.component.html
  src/app/components/event-table/event.table.component.scss
Due: lint-angular

chore: clear merge message
  src/app/utils/app.event.utilities.spec.ts
  src/app/utils/app.event.utilities.ts
Due: lint-angular

chore: styles
  src/app/components/event-table/event.table.component.scss
Due: none

chore: increase animation
  src/app/animations/animations.ts
Due: lint-angular

chore: bump sl
  functions/package-lock.json
  functions/package.json
  package-lock.json
  package.json
Due: none

chore: improve trips
  src/app/components/tracks/tracks.component.spec.ts
  src/app/components/tracks/tracks.component.ts
  src/app/services/my-tracks-trip-detection.service.ts
Due: lint-angular

chore: improve event search
  src/app/components/event-search/event-search.component.html
  src/app/components/event-search/event-search.component.spec.ts
  src/app/components/event-search/event-search.component.ts
Due: lint-angular

chore: bump version
  package-lock.json
  package.json
Due: none

chore: performance charts mvp
  src/app/components/event/event.card.component.html
  src/app/components/event/event.card.component.spec.ts
  src/app/components/event/event.card.component.ts
  src/app/components/event/performance-charts/event.performance-charts.component.css
  src/app/components/event/performance-charts/event.performance-charts.component.html
  src/app/components/event/performance-charts/event.performance-charts.component.spec.ts
  src/app/components/event/performance-charts/event.performance-charts.component.ts
  src/app/components/event/power-curve/event.power-curve.component.spec.ts
  src/app/components/event/power-curve/event.power-curve.component.ts
  src/app/helpers/performance-curve-chart-data-helper.spec.ts
  src/app/helpers/performance-curve-chart-data-helper.ts
  src/app/services/echarts-loader.service.spec.ts
  src/app/services/echarts-loader.service.ts
Due: lint-angular

chore: warn only
  src/app/components/login/login.component.spec.ts
  src/app/components/login/login.component.ts
Due: lint-angular

chore: improve performance charts
  src/app/app.component.scss
  src/app/components/event/cadence-power/event.cadence-power.component.css
  src/app/components/event/cadence-power/event.cadence-power.component.html
  src/app/components/event/cadence-power/event.cadence-power.component.spec.ts
  src/app/components/event/cadence-power/event.cadence-power.component.ts
  src/app/components/event/durability-curve/event.durability-curve.component.css
  src/app/components/event/durability-curve/event.durability-curve.component.html
  src/app/components/event/durability-curve/event.durability-curve.component.spec.ts
  src/app/components/event/durability-curve/event.durability-curve.component.ts
  src/app/components/event/event.card.component.html
  src/app/components/event/event.card.component.scss
  src/app/components/event/event.card.component.spec.ts
  src/app/components/event/event.card.component.ts
  src/app/components/event/performance-charts/event.performance-charts.component.css
  src/app/components/event/performance-charts/event.performance-charts.component.html
  src/app/components/event/performance-charts/event.performance-charts.component.spec.ts
  src/app/components/event/performance-charts/event.performance-charts.component.ts
  src/app/components/event/power-curve/event.power-curve.component.html
  src/app/components/event/power-curve/event.power-curve.component.spec.ts
  src/app/components/event/power-curve/event.power-curve.component.ts
  src/app/components/services/services.component.scss
  src/app/components/shared/material-pill-tabs/material-pill-tabs.component.scss
  src/app/components/user-settings/user-settings.component.scss
  src/app/helpers/performance-curve-chart-data-helper.spec.ts
  src/app/helpers/performance-curve-chart-data-helper.ts
  src/app/helpers/power-curve-chart-data-helper.spec.ts
  src/app/helpers/power-curve-chart-data-helper.ts
  src/app/modules/event.module.ts
  src/app/services/performance-curve-data.service.spec.ts
  src/app/services/performance-curve-data.service.ts
Due: lint-angular

chore: performance charts improvements
  src/app/components/event/cadence-power/event.cadence-power.component.ts
  src/app/components/event/intensity-zones/event.intensity-zones.component.css
  src/app/components/event/intensity-zones/event.intensity-zones.component.html
  src/app/services/performance-curve-data.service.ts
Due: lint-angular

chore: fixes for durations
  src/app/components/event/cadence-power/event.cadence-power.component.ts
  src/app/components/event/durability-curve/event.durability-curve.component.spec.ts
  src/app/components/event/durability-curve/event.durability-curve.component.ts
  src/app/components/event/intensity-zones/event.intensity-zones.component.ts
  src/app/components/event/power-curve/event.power-curve.component.ts
  src/app/services/performance-curve-data.service.spec.ts
  src/app/services/performance-curve-data.service.ts
Due: lint-angular

fix: loading overlay
  src/app/app.component.scss
Due: none

chore: improve performance charts
  src/app/components/event/cadence-power/event.cadence-power.component.spec.ts
  src/app/components/event/cadence-power/event.cadence-power.component.ts
  src/app/components/event/durability-curve/event.durability-curve.component.spec.ts
  src/app/components/event/durability-curve/event.durability-curve.component.ts
  src/app/services/performance-curve-data.service.spec.ts
  src/app/services/performance-curve-data.service.ts
Due: lint-angular

chore: improvements
  src/app/components/event/durability-curve/event.durability-curve.component.ts
  src/app/components/event/performance-charts/event.performance-charts.component.css
  src/app/components/event/power-curve/event.power-curve.component.ts
Due: lint-angular

chore: improve curve
  src/app/components/event/durability-curve/event.durability-curve.component.ts
Due: lint-angular

chore: update development updates
  functions/templates/development_update.hbs
Due: none

chore: email updates
  functions/templates/development_update.hbs
Due: none

chore: update email about dev
  functions/templates/development_update.hbs
Due: none

chore: email stuff
  functions/src/scripts/queue_development_update_emails.ts
  scripts/queue_template_email.ts
Due: lint-functions

chore: update script
  functions/src/scripts/queue_development_update_emails.ts
Due: lint-functions

chore: improve email
  functions/templates/development_update.hbs
Due: none

chore: icons
  src/app/components/event/performance-charts/event.performance-charts.component.css
  src/app/components/event/performance-charts/event.performance-charts.component.html
  src/app/components/event/performance-charts/event.performance-charts.component.spec.ts
  src/app/components/event/performance-charts/event.performance-charts.component.ts
Due: lint-angular

chore: use diplay units
  src/app/components/event/cadence-power/event.cadence-power.component.ts
  src/app/components/event/durability-curve/event.durability-curve.component.ts
  src/app/components/event/power-curve/event.power-curve.component.ts
Due: lint-angular

chore: improve grid
  src/app/components/event/intensity-zones/event.intensity-zones.component.spec.ts
  src/app/components/event/intensity-zones/event.intensity-zones.component.ts
Due: lint-angular

chore: style
  src/app/components/event-table/event.table.component.scss
Due: none

chore: better icons for sports
  src/app/components/activity-type-icon/activity-type-icon.component.spec.ts
  src/app/components/activity-type-icon/activity-type-icon.component.ts
  src/app/services/color/app.activity-type-group.icons.ts
Due: lint-angular

fix: runtime error format
  src/app/services/event-devices.service.spec.ts
  src/app/services/event-devices.service.ts
Due: lint-angular

chore: add my tracks jumps heatmap
  src/app/components/tracks/tracks-map.manager.spec.ts
  src/app/components/tracks/tracks-map.manager.ts
  src/app/components/tracks/tracks.component.html
  src/app/components/tracks/tracks.component.scss
  src/app/components/tracks/tracks.component.spec.ts
  src/app/components/tracks/tracks.component.ts
  src/app/models/app-user.interface.ts
  src/app/services/map/jump-heatmap-weighting.service.spec.ts
  src/app/services/map/jump-heatmap-weighting.service.ts
  src/app/services/map/mapbox-heatmap-layer.service.ts
  src/app/utils/app.user.utilities.spec.ts
  src/app/utils/app.user.utilities.ts
Due: lint-angular

chore: changing style should not rebound and recalculate
  src/app/components/tracks/tracks.component.spec.ts
  src/app/components/tracks/tracks.component.ts
Due: lint-angular

chore: icons
  src/app/components/activity-type-icon/activity-type-icon.component.spec.ts
  src/app/components/activity-type-icon/activity-type-icon.component.ts
Due: lint-angular

chore: analytics
  functions/templates/development_update.hbs
Due: none

chore: improve the button for jumps
  src/app/components/tracks/tracks.component.html
  src/app/components/tracks/tracks.component.scss
  src/app/components/tracks/tracks.component.ts
Due: lint-angular

chore: add start points
  src/app/components/tracks/tracks-map.manager.spec.ts
  src/app/components/tracks/tracks-map.manager.ts
  src/app/components/tracks/tracks.component.html
  src/app/components/tracks/tracks.component.scss
  src/app/components/tracks/tracks.component.spec.ts
  src/app/components/tracks/tracks.component.ts
  src/app/services/app.event.service.ts
  src/app/services/map/mapbox-start-point-layer.service.spec.ts
  src/app/services/map/mapbox-start-point-layer.service.ts
Due: lint-angular

chore: somewhat a mapbox token solution
  .gitignore
  angular.json
  package.json
  src/environments/environment.ts
  src/environments/mapbox-token.ts
Due: lint-angular

chore: show onboarding status for admin
  functions/src/users/admin-filtering.spec.ts
  functions/src/users/admin.spec.ts
  functions/src/users/admin.ts
  src/app/components/admin/admin-user-management/admin-user-management.component.html
  src/app/components/admin/admin-user-management/admin-user-management.component.spec.ts
  src/app/components/admin/admin-user-management/admin-user-management.component.ts
  src/app/resolvers/admin.resolver.spec.ts
  src/app/resolvers/admin.resolver.ts
  src/app/services/admin.service.spec.ts
  src/app/services/admin.service.ts
Due: lint-functions, lint-angular

Path conditions:
  lint-functions: any of: **/*.{ts,js} and ^functions/
  lint-angular: any of: {src/*.{ts,html},src/**/*.{ts,html}}
