Repository jimmykane/quantified-self: changes, and which lefthook commands are due for each by the changed paths.
All: lint-functions, lint-angular

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint-functions:
      root: "functions"
      glob: "**/*.{ts,js}"
      run: npx eslint {staged_files} --fix && git add {staged_files}
    lint-angular:
      glob: "{src/*.{ts,html},src/**/*.{ts,html}}"
      run: ESLINT_USE_FLAT_CONFIG=false npx eslint {staged_files} --fix && git add {staged_files}

feat: include timeline notes in workout recommendations
  docs/assistant.md
  docs/mcp-server.md
  docs/training-workspace.md
  functions/src/assistant/mcp-session.spec.ts
  functions/src/assistant/metric-bucket-context.spec.ts
  functions/src/assistant/metric-bucket-context.ts
  functions/src/assistant/runtime.spec.ts
  functions/src/assistant/runtime.ts
  functions/src/mcp/contracts/pending-change.json
  functions/src/mcp/server.spec.ts
  functions/src/mcp/server.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

fix: keep assistant workout context bounded and accurate
  docs/assistant.md
  docs/training-workspace.md
  functions/src/assistant/mcp-session.spec.ts
  functions/src/assistant/metric-bucket-context.spec.ts
  functions/src/assistant/metric-bucket-context.ts
  functions/src/assistant/runtime.spec.ts
  functions/src/assistant/runtime.ts
  functions/src/mcp/server.ts
Due: lint-functions

fix: align Training preparation with MCP readability
  docs/training-workspace.md
  firebase.json
  functions/src/derived-metrics/ensure-derived-metrics.spec.ts
  functions/src/derived-metrics/ensure-derived-metrics.ts
  functions/src/mcp/data.service.ts
  ngsw-config.json
Due: lint-functions

fix: validate prepared Training metrics and hold Assistant quota
  docs/assistant.md
  docs/training-workspace.md
  firestore.indexes.json
  functions/src/assistant/callable.spec.ts
  functions/src/assistant/callable.ts
  functions/src/assistant/quota.spec.ts
  functions/src/assistant/quota.ts
  functions/src/derived-metrics/ensure-derived-metrics.spec.ts
  functions/src/mcp/data.service.spec.ts
  functions/src/mcp/data.service.ts
Due: lint-functions

feat: link Garmin FIT activities to planned workouts
  docs/garmin-integration.md
  docs/mcp-server.md
  docs/provider-integration-guide.md
  docs/training-workspace.md
  functions/src/garmin/queue.spec.ts
  functions/src/garmin/queue.ts
  functions/src/training-plans/completion/fit-workout-evidence.emulator.spec.ts
  functions/src/training-plans/completion/fit-workout-evidence.spec.ts
  functions/src/training-plans/completion/fit-workout-evidence.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

fix: show dashboard event tags across date ranges
  functions/src/events/list-event-tags.spec.ts
  functions/src/events/list-event-tags.ts
  functions/src/full-entrypoint.ts
  functions/src/scripts/check-entrypoint-loading.ts
  shared/functions-manifest.ts
  src/app/components/event-table/event.table.component.spec.ts
  src/app/components/event-table/event.table.component.ts
  src/app/services/event-tag-catalog.service.spec.ts
  src/app/services/event-tag-catalog.service.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

fix: harden event tag catalog loading
  functions/src/events/list-event-tags.spec.ts
  functions/src/events/list-event-tags.ts
  src/app/components/event-table/event.table.component.html
  src/app/components/event-table/event.table.component.spec.ts
  src/app/components/event-table/event.table.component.ts
  src/app/services/event-tag-catalog.service.spec.ts
  src/app/services/event-tag-catalog.service.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

fix: isolate marketing function entrypoints
  docs/functions-entrypoint-loading.md
  functions/src/function-target-loader.spec.ts
  functions/src/function-target-loader.ts
  functions/src/scripts/check-entrypoint-loading.ts
Due: lint-functions

fix: refresh event tags when filter opens
  src/app/components/event-table/event.table.component.html
  src/app/components/event-table/event.table.component.spec.ts
  src/app/components/event-table/event.table.component.ts
  src/app/services/event-tag-catalog.service.spec.ts
Due: lint-angular

fix: verify Garmin completion source before linking
  docs/provider-integration-guide.md
  docs/training-workspace.md
  functions/src/garmin/queue.spec.ts
  functions/src/garmin/queue.ts
  functions/src/training-plans/completion/fit-workout-evidence.emulator.spec.ts
  functions/src/training-plans/completion/fit-workout-evidence.spec.ts
  functions/src/training-plans/completion/fit-workout-evidence.ts
Due: lint-functions

fix: increase total script build budget
  angular.json
  docs/training-workspace.md
Due: none

feat: add reusable event tag catalog
  README.md
  docs/event-tag-catalog.md
  firestore.rules
  functions/package.json
  functions/src/events/event-tag-catalog.spec.ts
  functions/src/events/event-tag-catalog.trigger.spec.ts
  functions/src/events/event-tag-catalog.trigger.ts
  functions/src/events/event-tag-catalog.ts
  functions/src/full-entrypoint.ts
  functions/src/scripts/backfill-event-tag-catalog.spec.ts
  functions/src/scripts/backfill-event-tag-catalog.ts
  functions/src/scripts/check-entrypoint-loading.ts
  src/app/components/event-tags/event-tags-bulk-dialog.component.spec.ts
  src/app/components/event-tags/event-tags-bulk-dialog.component.ts
  src/app/components/event-tags/event-tags-dialog.component.spec.ts
  src/app/components/event-tags/event-tags-dialog.component.ts
  src/app/services/event-tag-catalog.service.spec.ts
  src/app/services/event-tag-catalog.service.ts
  src/app/services/event-tag.service.spec.ts
  src/app/services/event-tag.service.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/firestore.rules.spec.ts
Due: lint-functions, lint-angular

fix: include legacy event tag field in catalog projection
  functions/src/events/event-tag-catalog.spec.ts
  functions/src/events/event-tag-catalog.ts
  functions/src/scripts/backfill-event-tag-catalog.spec.ts
  functions/src/scripts/backfill-event-tag-catalog.ts
Due: lint-functions

chore: remove unused event tag listing callable
  docs/event-tag-catalog.md
  functions/src/events/list-event-tags.spec.ts
  functions/src/events/list-event-tags.ts
  functions/src/full-entrypoint.ts
  functions/src/scripts/check-entrypoint-loading.ts
  shared/functions-manifest.ts
Due: lint-functions

chore: bump app version to 10.16.0
  package-lock.json
  package.json
Due: none

test: provide tag catalog in benchmark dialog spec
  src/app/components/benchmark/benchmark-review-tags-dialog.component.spec.ts
Due: lint-angular

feat: improve admin marketing composer and test sends
  docs/email-lifecycle.md
  functions/src/admin/marketing/handlers.ts
  functions/src/admin/marketing/marketing.emulator.spec.ts
  functions/src/admin/marketing/service.spec.ts
  functions/src/admin/marketing/service.ts
  package-lock.json
  package.json
  shared/admin-marketing.ts
  src/app/components/admin/admin-marketing/admin-marketing.component.html
  src/app/components/admin/admin-marketing/admin-marketing.component.scss
  src/app/components/admin/admin-marketing/admin-marketing.component.spec.ts
  src/app/components/admin/admin-marketing/admin-marketing.component.ts
  src/app/components/admin/admin-marketing/marketing-editor.spec.ts
  src/app/components/admin/admin-marketing/marketing-editor.ts
  src/app/components/admin/admin-marketing/marketing-rich-editor.component.html
  src/app/components/admin/admin-marketing/marketing-rich-editor.component.scss
  src/app/components/admin/admin-marketing/marketing-rich-editor.component.spec.ts
  src/app/components/admin/admin-marketing/marketing-rich-editor.component.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

feat: project event tags from tag submissions
  docs/event-tag-catalog.md
  docs/mcp-server.md
  firestore.rules
  functions/src/events/event-tag-catalog.trigger.spec.ts
  functions/src/events/event-tag-catalog.trigger.ts
  functions/src/events/event-tag-catalog.ts
  functions/src/full-entrypoint.ts
  functions/src/mcp/content-write.emulator.spec.ts
  functions/src/mcp/content-write.service.ts
  functions/src/scripts/check-entrypoint-loading.ts
  functions/src/utils-usage.spec.ts
  functions/src/utils.ts
  shared/event-tags.ts
  src/app/services/event-tag.service.spec.ts
  src/app/services/event-tag.service.ts
  src/firestore.rules.spec.ts
Due: lint-functions, lint-angular

fix: enable unsaved marketing test sends and styled previews
  angular.json
  docs/email-lifecycle.md
  functions/src/admin/marketing/handlers.ts
  functions/src/admin/marketing/marketing.emulator.spec.ts
  functions/src/admin/marketing/service.spec.ts
  functions/src/admin/marketing/service.ts
  functions/templates/partials/email_marketing_footer.txt.hbs
  src/app/components/admin/admin-marketing/admin-marketing.component.html
  src/app/components/admin/admin-marketing/admin-marketing.component.spec.ts
  src/app/components/admin/admin-marketing/admin-marketing.component.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

chore: revert tag submission projection
  docs/event-tag-catalog.md
  docs/mcp-server.md
  firestore.rules
  functions/src/events/event-tag-catalog.trigger.spec.ts
  functions/src/events/event-tag-catalog.trigger.ts
  functions/src/events/event-tag-catalog.ts
  functions/src/full-entrypoint.ts
  functions/src/mcp/content-write.emulator.spec.ts
  functions/src/mcp/content-write.service.ts
  functions/src/scripts/check-entrypoint-loading.ts
  functions/src/utils-usage.spec.ts
  functions/src/utils.ts
  shared/event-tags.ts
  src/app/services/event-tag.service.spec.ts
  src/app/services/event-tag.service.ts
  src/firestore.rules.spec.ts
Due: lint-functions, lint-angular

feat: write event tag catalog atomically
  docs/event-tag-catalog.md
  docs/mcp-server.md
  firestore.rules
  functions/src/events/event-tag-catalog.emulator.spec.ts
  functions/src/events/event-tag-catalog.ts
  functions/src/mcp/content-write.emulator.spec.ts
  functions/src/mcp/content-write.service.ts
  functions/src/utils-usage.spec.ts
  functions/src/utils.ts
  shared/event-tags.ts
  src/app/helpers/event-tags.helper.spec.ts
  src/app/services/event-tag.service.spec.ts
  src/app/services/event-tag.service.ts
  src/firestore.rules.spec.ts
Due: lint-functions, lint-angular

fix: complete marketing preview and test flow
  docs/email-lifecycle.md
  functions/src/admin/marketing/marketing.emulator.spec.ts
  functions/src/admin/marketing/service.spec.ts
  src/app/components/admin/admin-marketing/admin-marketing.component.html
  src/app/components/admin/admin-marketing/admin-marketing.component.scss
  src/app/components/admin/admin-marketing/admin-marketing.component.spec.ts
  src/app/components/admin/admin-marketing/admin-marketing.component.ts
  src/app/components/admin/admin-marketing/marketing-preview-links.spec.ts
  src/app/components/admin/admin-marketing/marketing-preview-links.ts
  src/app/components/admin/admin-marketing/marketing-rich-editor.component.spec.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

fix: harden event tag catalog rollout and deletion checks
  docs/event-tag-catalog.md
  functions/src/events/event-tag-catalog.ts
  src/firestore.rules.spec.ts
Due: lint-functions, lint-angular

chore: retire event tag catalog trigger
  docs/event-tag-catalog.md
  functions/src/events/event-tag-catalog.spec.ts
  functions/src/events/event-tag-catalog.trigger.spec.ts
  functions/src/events/event-tag-catalog.trigger.ts
  functions/src/full-entrypoint.ts
  functions/src/scripts/check-entrypoint-loading.ts
Due: lint-functions

fix: isolate event tag catalog function startup
  docs/functions-entrypoint-loading.md
  functions/AGENTS.md
  functions/src/events/event-tag-catalog.trigger.spec.ts
  functions/src/events/event-tag-catalog.trigger.ts
  functions/src/function-target-loader.spec.ts
  functions/src/function-target-loader.ts
  functions/src/scripts/check-entrypoint-loading.ts
Due: lint-functions

fix: ground daily workout suggestions in verified context
  docs/assistant.md
  docs/mcp-server.md
  docs/training-workspace.md
  functions/src/assistant/daily-workout-context.spec.ts
  functions/src/assistant/daily-workout-context.ts
  functions/src/assistant/runtime.spec.ts
  functions/src/assistant/runtime.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

fix: configure Training status as single-field index
  firestore.indexes.json
Due: none

chore: limit PR tests to main
  .github/workflows/testing.yaml
Due: none

fix: constrain marketing email CTA size
  functions/src/email/marketing-content.spec.ts
  functions/src/email/marketing-content.ts
Due: lint-functions

feat: add synced pinch zoom to event charts
  src/app/components/event/chart/panel/event.card.chart.panel.component.html
  src/app/components/event/chart/panel/event.card.chart.panel.component.scss
  src/app/components/event/chart/panel/event.card.chart.panel.component.spec.ts
  src/app/components/event/chart/panel/event.card.chart.panel.component.ts
  src/app/helpers/echarts-horizontal-touch-gesture.controller.spec.ts
  src/app/helpers/echarts-horizontal-touch-gesture.controller.ts
  src/app/helpers/event-chart-pinch-zoom.helper.spec.ts
  src/app/helpers/event-chart-pinch-zoom.helper.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: set marketing CTA to 24px height
  functions/src/email/marketing-content.spec.ts
  functions/src/email/marketing-content.ts
Due: lint-functions

fix: support vertical event chart pinch gestures
  src/app/components/event/chart/panel/event.card.chart.panel.component.spec.ts
  src/app/components/event/chart/panel/event.card.chart.panel.component.ts
  src/app/helpers/echarts-horizontal-touch-gesture.controller.spec.ts
  src/app/helpers/echarts-horizontal-touch-gesture.controller.ts
  src/app/helpers/event-chart-pinch-zoom.helper.spec.ts
  src/app/helpers/event-chart-pinch-zoom.helper.ts
  src/app/services/echarts-loader.service.spec.ts
Due: lint-angular

fix: limit event chart pinch zoom to zoom mode
  src/app/components/event/chart/panel/event.card.chart.panel.component.html
  src/app/components/event/chart/panel/event.card.chart.panel.component.spec.ts
  src/app/components/event/chart/panel/event.card.chart.panel.component.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

feat: offer guarded cleanup of past provider workouts
  docs/provider-integration-guide.md
  docs/training-workspace.md
  functions/src/training-plans/delete-training-plan.ts
  functions/src/training-plans/delivery/batch-worker.ts
  functions/src/training-plans/delivery/contracts.ts
  functions/src/training-plans/delivery/coros/transport.spec.ts
  functions/src/training-plans/delivery/coros/transport.ts
  functions/src/training-plans/delivery/delivery.emulator.spec.ts
  functions/src/training-plans/delivery/garmin/transport.spec.ts
  functions/src/training-plans/delivery/garmin/transport.ts
  functions/src/training-plans/delivery/intent.spec.ts
  functions/src/training-plans/delivery/intent.ts
  functions/src/training-plans/delivery/marker.ts
  functions/src/training-plans/delivery/store.ts
  functions/src/training-plans/delivery/suunto/transport.spec.ts
  functions/src/training-plans/delivery/suunto/transport.ts
  functions/src/training-plans/delivery/test-support/fake-transport.ts
  functions/src/training-plans/delivery/wahoo/transport.spec.ts
  functions/src/training-plans/delivery/wahoo/transport.ts
  functions/src/training-plans/delivery/worker.ts
  functions/src/training-plans/persistence.ts
  shared/training-plans.ts
  src/app/components/confirmation-dialog/confirmation-dialog.component.html
  src/app/components/confirmation-dialog/confirmation-dialog.component.scss
  src/app/components/confirmation-dialog/confirmation-dialog.component.spec.ts
  src/app/components/confirmation-dialog/confirmation-dialog.component.ts
  src/app/components/plans/plans-workspace.component.html
  src/app/components/plans/plans-workspace.component.scss
  src/app/components/plans/plans-workspace.component.spec.ts
  src/app/components/plans/plans-workspace.component.ts
  src/app/helpers/training-plans.shared.spec.ts
  src/app/shared/help.content.ts
  src/firestore.rules.spec.ts
Due: lint-functions, lint-angular

fix: preserve and revoke past workout cleanup intent
  docs/mcp-server.md
  docs/training-workspace.md
  functions/src/mcp/training-plans-write.emulator.spec.ts
  functions/src/mcp/training-plans-write.service.ts
  functions/src/mcp/training-plans.schemas.spec.ts
  functions/src/training-plans/delivery/delivery.emulator.spec.ts
  functions/src/training-plans/delivery/marker.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

fix: refine calendar day context
  docs/activity-calendar.md
  src/app/components/calendar/activity-calendar-grid/activity-calendar-grid.component.spec.ts
  src/app/components/calendar/activity-calendar-grid/activity-calendar-grid.component.ts
  src/app/components/calendar/activity-calendar-tile/activity-calendar-tile.component.html
  src/app/components/calendar/activity-calendar-tile/activity-calendar-tile.component.scss
  src/app/components/calendar/activity-calendar-tile/activity-calendar-tile.component.spec.ts
  src/app/components/calendar/calendar-day-context/calendar-day-context.component.scss
  src/app/components/calendar/calendar-day-context/calendar-day-context.component.spec.ts
  src/app/components/calendar/calendar-page/calendar-page.component.spec.ts
  src/app/components/calendar/calendar-page/calendar-page.component.ts
  src/app/components/summaries/dashboard-tile-board/dashboard-tile-board.component.css
  src/app/components/summaries/dashboard-tile-board/dashboard-tile-board.component.spec.ts
  src/app/components/tile/chart/tile.chart.component.spec.ts
  src/app/components/tile/chart/tile.chart.component.ts
  src/app/helpers/calendar-day-health.helper.spec.ts
  src/app/helpers/calendar-day-health.helper.ts
  src/app/services/calendar-day-health.service.spec.ts
  src/app/services/calendar-day-health.service.ts
  src/app/shared/help.content.ts
Due: lint-angular

feat: add dedicated calendar day route
  docs/activity-calendar.md
  firebase.json
  ngsw-config.json
  src/app/app.routes.server.spec.ts
  src/app/app.routes.server.ts
  src/app/app.routing.module.spec.ts
  src/app/app.routing.module.ts
  src/app/components/calendar/calendar-day-context/calendar-day-context.component.html
  src/app/components/calendar/calendar-day-context/calendar-day-context.component.spec.ts
  src/app/components/calendar/calendar-day-context/calendar-day-context.component.ts
  src/app/components/calendar/calendar-page/calendar-page.component.html
  src/app/components/calendar/calendar-page/calendar-page.component.spec.ts
  src/app/components/calendar/calendar-page/calendar-page.component.ts
  src/app/helpers/activity-calendar.helper.spec.ts
  src/app/helpers/activity-calendar.helper.ts
  src/app/shared/help.content.ts
  src/firebase-hosting.config.spec.ts
Due: lint-angular

test: verify dashboard calendar day link
  src/app/components/calendar/activity-calendar-tile/activity-calendar-tile.component.spec.ts
Due: lint-angular

fix: harden exact training completion edge cases
  docs/mcp-server.md
  docs/provider-integration-guide.md
  docs/training-workspace.md
  functions/src/coros/training-completion.emulator.spec.ts
  functions/src/coros/training-completion.ts
  functions/src/mcp/training-plans.service.spec.ts
  functions/src/mcp/training-plans.service.ts
  functions/src/suunto/guide-completion.ts
  functions/src/training-plans/completion/fit-workout-evidence.emulator.spec.ts
  functions/src/training-plans/delivery/suunto/suunto.emulator.spec.ts
  functions/src/training-plans/delivery/test-support/suunto-fit-fixture.ts
  functions/src/wahoo/training-completion.emulator.spec.ts
  functions/src/wahoo/training-completion.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular
