Repository jimmykane/quantified-self: changes, and which lefthook commands are due for each by the changed paths.
All: lint-functions, lint-angular

lint-functions:
  run: npx eslint {staged_files} --fix && git add {staged_files}

lint-angular:
  run: ESLINT_USE_FLAT_CONFIG=false npx eslint {staged_files} --fix && git add {staged_files}

fix: refine route waypoint pin markers
  src/app/services/map/marker-factory.service.spec.ts
  src/app/services/map/marker-factory.service.ts
Due: lint-angular

chore: bv
  package.json
Due: none

fix: skip hydration on Google Translate proxy
  src/app/shared/public-startup-route.spec.ts
  src/app/shared/public-startup-route.ts
Due: lint-angular

fix: make checkout session writes idempotent
  src/app/services/app.payment.service.spec.ts
  src/app/services/app.payment.service.ts
Due: lint-angular

fix: persist optional legal consents
  src/app/components/user-forms/user-agreement.form.component.css
  src/app/components/user-forms/user-agreement.form.component.html
  src/app/components/user-forms/user-agreement.form.component.spec.ts
  src/app/components/user-forms/user-agreement.form.component.ts
  src/app/components/user-settings/user-settings.component.spec.ts
  src/app/components/user-settings/user-settings.component.ts
  src/app/modules/login.module.ts
  src/app/services/app.user.service.spec.ts
  src/app/services/app.user.service.ts
Due: lint-angular

fix: guard optional consent writes
  src/app/components/user-settings/user-settings.component.spec.ts
  src/app/components/user-settings/user-settings.component.ts
  src/app/services/app.user.service.spec.ts
  src/app/services/app.user.service.ts
Due: lint-angular

fix: fail unsafe consent writes
  src/app/services/app.user.service.spec.ts
  src/app/services/app.user.service.ts
Due: lint-angular

fix: improve route table horizontal scrolling
  src/app/components/routes/routes-page.component.html
  src/app/components/routes/routes-page.component.scss
  src/app/components/routes/routes-page.component.spec.ts
  src/app/components/routes/routes-page.component.ts
  src/app/components/tools/tools-compare-page.component.scss
  src/app/components/tools/tools-compare-page.component.spec.ts
Due: lint-angular

chore: fix map layer issues
  src/app/components/event/map/event.card.map.component.spec.ts
  src/app/components/event/map/event.card.map.component.ts
  src/app/components/events-map/events-map.component.spec.ts
  src/app/components/events-map/events-map.component.ts
  src/app/components/routes/route-map/route-map.component.ts
  src/app/components/tracks/tracks.component.spec.ts
  src/app/components/tracks/tracks.component.ts
  src/app/services/map-style.service.ts
  src/app/services/map/mapbox-style-synchronizer.spec.ts
  src/app/services/map/mapbox-style-synchronizer.ts
  src/app/services/map/track-map.manager.spec.ts
  src/app/services/map/track-map.manager.ts
Due: lint-angular

fix: stabilize jumps activity tracking
  src/app/components/event/jumps/event.card.jumps.component.html
  src/app/components/event/jumps/event.card.jumps.component.spec.ts
  src/app/components/event/jumps/event.card.jumps.component.ts
Due: lint-angular

fix: defer tracks overlays until map style ready
  src/app/components/tracks/tracks-map.manager.spec.ts
  src/app/components/tracks/tracks-map.manager.ts
Due: lint-angular

fix: retry tracks overlay removal after style swaps
  src/app/components/tracks/tracks-map.manager.spec.ts
  src/app/components/tracks/tracks-map.manager.ts
Due: lint-angular

docs: add Suunto route delivery SEO guide
  src/app/app.routes.server.spec.ts
  src/app/app.routes.server.ts
  src/app/app.routing.module.spec.ts
  src/app/app.routing.module.ts
  src/app/components/integrations/integration-pages.content.spec.ts
  src/app/components/integrations/integration-pages.content.ts
  src/app/components/public-seo/public-seo-pages.content.spec.ts
  src/app/components/public-seo/public-seo-pages.content.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/firebase-hosting.config.spec.ts
  src/robots.txt
  src/sitemap.xml
Due: lint-angular

fix: share mapbox style retry handling
  src/app/components/tracks/tracks-map.manager.ts
  src/app/services/map/mapbox-heatmap-layer.service.spec.ts
  src/app/services/map/mapbox-heatmap-layer.service.ts
  src/app/services/map/mapbox-start-point-layer.service.spec.ts
  src/app/services/map/mapbox-start-point-layer.service.ts
  src/app/services/map/mapbox-style-ready.utils.spec.ts
  src/app/services/map/mapbox-style-ready.utils.ts
  src/app/services/map/track-map.manager.spec.ts
  src/app/services/map/track-map.manager.ts
Due: lint-angular

fix: keep deferred heatmap retries current
  src/app/services/map/mapbox-heatmap-layer.service.spec.ts
  src/app/services/map/mapbox-heatmap-layer.service.ts
Due: lint-angular

fix: disable route animation for mytracks
  src/app/animations/animations.ts
  src/app/app.routing.module.spec.ts
  src/app/app.routing.module.ts
  src/app/services/shell-navigation-effects.service.spec.ts
  src/app/services/shell-navigation-effects.service.ts
Due: lint-angular

fix: add route delivery guide startup path
  src/app/shared/public-startup-route.ts
Due: lint-angular

fix: update integration page app tests
  src/app/components/integrations/integrations-hub-page.component.html
  src/app/components/integrations/integrations-hub-page.component.spec.ts
  src/app/components/integrations/provider-integration-page.component.spec.ts
Due: lint-angular

fix: cancel stale heatmap retries
  src/app/services/map/mapbox-heatmap-layer.service.spec.ts
  src/app/services/map/mapbox-heatmap-layer.service.ts
Due: lint-angular

fix: cancel stale start-point retries
  src/app/services/map/mapbox-start-point-layer.service.spec.ts
  src/app/services/map/mapbox-start-point-layer.service.ts
Due: lint-angular

feat: show sleep heart rate and SpO2 vitals
  src/app/components/charts/sleep-trend/charts.sleep-trend.component.spec.ts
  src/app/components/charts/sleep-trend/charts.sleep-trend.component.ts
  src/app/helpers/dashboard-chart-info.helper.ts
  src/app/helpers/dashboard-manager-presets.helper.ts
  src/app/helpers/dashboard-sleep-chart.helper.spec.ts
  src/app/helpers/dashboard-sleep-chart.helper.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: retry legal doc access after auth refresh
  src/app/services/app.user.service.spec.ts
  src/app/services/app.user.service.ts
Due: lint-angular

fix: guard event cleanup against stale delete triggers
  functions/src/events/cleanup.spec.ts
  functions/src/events/cleanup.ts
Due: lint-functions

chore: improvements
  src/app/components/charts/kpi/charts.kpi.component.css
  src/app/components/charts/kpi/charts.kpi.component.html
  src/app/components/charts/kpi/charts.kpi.component.spec.ts
  src/app/components/charts/kpi/charts.kpi.component.ts
  src/app/components/dashboard/dashboard.component.html
  src/app/components/dashboard/dashboard.component.scss
  src/app/components/dashboard/dashboard.component.spec.ts
  src/app/components/dashboard/dashboard.component.ts
  src/app/components/events-map/events-map.component.css
  src/app/components/events-map/events-map.component.html
  src/app/components/events-map/events-map.component.spec.ts
  src/app/components/events-map/events-map.component.ts
  src/app/components/loading/shade.component.css
  src/app/components/loading/shade.component.spec.ts
  src/app/components/upload/upload-activities/upload-activities.component.css
  src/app/components/upload/upload-activities/upload-activities.component.html
  src/app/components/upload/upload-activities/upload-activities.component.spec.ts
  src/app/components/upload/upload-activities/upload-activities.component.ts
  src/app/services/app.event.service.spec.ts
  src/app/services/app.event.service.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

chore: clean up sharing lint warnings
  functions/src/events/set-event-sharing.spec.ts
  src/app/components/event-actions/event.actions.component.ts
  src/app/components/event/event.card.component.ts
  src/app/resolvers/event.resolver.spec.ts
  src/app/resolvers/event.resolver.ts
Due: lint-functions, lint-angular

fix: harden event sharing unshare
  .firebaserc
  firebase.json
  functions/src/events/set-event-sharing.spec.ts
  functions/src/events/set-event-sharing.ts
Due: lint-functions

fix: close event sharing access leaks
  firestore.rules
  functions/src/events/set-event-sharing.spec.ts
  functions/src/events/set-event-sharing.ts
  src/firestore.rules.spec.ts
Due: lint-functions, lint-angular

fix: require public event for shared files
  src/storage.rules.spec.ts
  storage.quantified-self-io.rules
Due: lint-angular

fix: test
  vitest.config.ts
Due: none

fix: remove legacy storage bucket fallback
  functions/package.json
  functions/src/events/merge-events.ts
  functions/src/events/set-event-sharing.spec.ts
  functions/src/events/set-event-sharing.ts
  functions/src/reparse/SPORTS_LIB_REPARSE_RUNBOOK.md
  functions/src/reparse/sports-lib-reparse.service.spec.ts
  functions/src/reparse/sports-lib-reparse.service.ts
  functions/src/scripts/fix-original-file-bucket.spec.ts
  functions/src/scripts/fix-original-file-bucket.ts
  functions/src/scripts/migrate-storage-users-bucket.spec.ts
  functions/src/scripts/migrate-storage-users-bucket.ts
Due: lint-functions

fix: package lock
  package-lock.json
Due: none

chore: update indexes
  firestore.indexes.json
Due: none

fix: avoid zero-size ECharts init warning
  src/app/services/echarts-loader.service.spec.ts
  src/app/services/echarts-loader.service.ts
Due: lint-angular

feat: show shared event indicators
  src/app/components/data-type-icon/data-type-icon.component.spec.ts
  src/app/components/data-type-icon/data-type-icon.component.ts
  src/app/components/event-actions/event.actions.component.spec.ts
  src/app/components/event-summary/event-summary.component.html
  src/app/components/event-summary/event-summary.component.scss
  src/app/components/event-summary/event-summary.component.spec.ts
  src/app/components/event-summary/event-summary.component.ts
  src/app/components/event-table/event.table.component.html
  src/app/components/event-table/event.table.component.scss
  src/app/components/event-table/event.table.component.spec.ts
  src/app/components/event-table/event.table.component.ts
  src/app/components/tools/tools-compare-page.component.html
  src/app/components/tools/tools-compare-page.component.scss
  src/app/components/tools/tools-compare-page.component.spec.ts
  src/app/components/tools/tools-compare-page.component.ts
Due: lint-angular

fix: use privacy enum for shared indicators
  src/app/components/event-summary/event-summary.component.ts
  src/app/components/event-table/event.table.component.ts
  src/app/components/tools/tools-compare-page.component.ts
Due: lint-angular

chore: ui
  src/app/components/event-summary/event-summary.component.html
  src/app/components/event-summary/event-summary.component.scss
  src/app/components/event-summary/event-summary.component.spec.ts
  src/app/components/event-summary/event-summary.component.ts
Due: lint-angular

fix: target production storage rules deploy
  .firebaserc
  firebase.json
Due: none

fix: show loader for shared event routes
  src/app/components/route-loader/route-loader.component.spec.ts
  src/app/components/route-loader/route-loader.component.ts
  src/app/shared/public-startup-route.spec.ts
  src/app/shared/public-startup-route.ts
Due: lint-angular

Path conditions:
  lint-functions: any of: **/*.{ts,js} and ^functions/
  lint-angular: any of: {src/*.{ts,html},src/**/*.{ts,html}}
