Repository jimmykane/quantified-self: changes, and which lefthook commands are due for each by the changed paths.
All: lint-functions, lint-angular

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint-functions:
      root: "functions"
      glob: "**/*.{ts,js}"
      run: npx eslint {staged_files} --fix && git add {staged_files}
    lint-angular:
      glob: "{src/*.{ts,html},src/**/*.{ts,html}}"
      run: ESLINT_USE_FLAT_CONFIG=false npx eslint {staged_files} --fix && git add {staged_files}

fix: bound Training state listener readiness waits
  docs/training-workspace.md
  src/app/services/training-plans-state-reads.spec.ts
  src/app/services/training-plans.service.ts
Due: lint-angular

fix: bound all initial Training schedule reads
  docs/training-workspace.md
  src/app/services/training-plans-state-reads.spec.ts
  src/app/services/training-plans.service.ts
Due: lint-angular

fix: preserve uncertainty across weekly Calendar views
  docs/activity-calendar.md
  docs/training-workspace.md
  src/app/components/calendar/activity-calendar-grid/activity-calendar-grid.component.html
  src/app/components/calendar/activity-calendar-grid/activity-calendar-grid.component.ts
  src/app/components/calendar/calendar-day-context/calendar-day-context.component.html
  src/app/components/calendar/calendar-day-context/calendar-day-context.component.spec.ts
  src/app/components/calendar/calendar-day-context/calendar-day-context.component.ts
  src/app/components/calendar/calendar-day-details/calendar-day-details.component.ts
  src/app/components/calendar/calendar-page/calendar-page.component.html
  src/app/components/calendar/calendar-page/calendar-page.component.spec.ts
  src/app/components/calendar/calendar-page/calendar-page.component.ts
  src/app/helpers/activity-calendar.helper.spec.ts
  src/app/helpers/activity-calendar.helper.ts
  src/app/helpers/calendar-day-story.helper.spec.ts
  src/app/helpers/calendar-day-story.helper.ts
  src/app/helpers/calendar-week-summary.helper.spec.ts
  src/app/helpers/calendar-week-summary.helper.ts
  src/app/helpers/planned-workout-calendar.helper.spec.ts
  src/app/helpers/planned-workout-calendar.helper.ts
  src/app/shared/help.content.ts
Due: lint-angular

feat: add weekly planned and recorded Calendar summaries
  docs/activity-calendar.md
  docs/training-workspace.md
  functions/src/mcp/training-plans.service.spec.ts
  src/app/components/calendar/calendar-page/calendar-page.component.html
  src/app/components/calendar/calendar-page/calendar-page.component.spec.ts
  src/app/components/calendar/calendar-page/calendar-page.component.ts
  src/app/components/calendar/calendar-week-summary/calendar-week-summary.component.html
  src/app/components/calendar/calendar-week-summary/calendar-week-summary.component.scss
  src/app/components/calendar/calendar-week-summary/calendar-week-summary.component.spec.ts
  src/app/components/calendar/calendar-week-summary/calendar-week-summary.component.ts
  src/app/helpers/calendar-week-summary.helper.spec.ts
  src/app/helpers/calendar-week-summary.helper.ts
  src/app/services/activity-calendar.service.spec.ts
  src/app/services/activity-calendar.service.ts
  src/app/services/app.event.service.ts
  src/app/services/training-plans.calendar.service.spec.ts
  src/app/services/training-plans.service.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

fix: verify and bound weekly Calendar source readiness
  docs/training-workspace.md
  src/app/services/activity-calendar.service.spec.ts
  src/app/services/activity-calendar.service.ts
  src/app/services/training-plans.calendar.service.spec.ts
  src/app/services/training-plans.service.ts
Due: lint-angular

fix: harden reflection reads and browser saves
  docs/training-workspace.md
  shared/workout-reflection.ts
  src/app/components/workout-reflection/workout-reflection-dialog.component.spec.ts
  src/app/components/workout-reflection/workout-reflection-dialog.component.ts
  src/app/helpers/workout-reflection.shared.spec.ts
  src/app/services/workout-reflection.service.spec.ts
  src/app/services/workout-reflection.service.ts
  src/app/shared/help.content.spec.ts
Due: lint-angular

fix: reject corrupt reflection completion context
  docs/training-workspace.md
  src/app/services/workout-reflection.service.spec.ts
  src/app/services/workout-reflection.service.ts
Due: lint-angular

feat: showcase the workout editor on the homepage
  docs/training-workspace.md
  src/app/components/home/home.component.spec.ts
  src/app/components/plans/workout-profile.component.spec.ts
  src/app/components/plans/workout-profile.component.ts
  src/app/components/public-seo/public-feature-preview.component.spec.ts
  src/app/components/public-seo/training-plans-home.content.ts
  src/app/components/public-seo/training-plans-preview.component.html
  src/app/components/public-seo/training-plans-preview.component.scss
  src/app/components/public-seo/training-plans-preview.component.spec.ts
  src/app/components/public-seo/training-plans-preview.component.ts
  src/app/components/public-seo/training-plans-preview.data.spec.ts
  src/app/components/public-seo/training-plans-preview.data.ts
  src/app/services/rendered-theme.service.spec.ts
  src/app/services/rendered-theme.service.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

docs: investigate inbound workout import feasibility (#708)
  docs/provider-integration-guide.md
  docs/training-workspace.md
Due: none

feat: enable workout reflections for new Assistant chats
  docs/assistant.md
  docs/mcp-server.md
  docs/training-workspace.md
  functions/src/assistant/conversation-store.spec.ts
  functions/src/assistant/conversation-store.ts
  plugins/quantified-self/skills/analyze-quantified-self-activity/SKILL.md
  plugins/quantified-self/skills/analyze-quantified-self-training/SKILL.md
  plugins/quantified-self/skills/analyze-quantified-self/SKILL.md
  src/app/components/assistant/assistant-explore-bottom-sheet.component.html
  src/app/components/assistant/assistant-explore-bottom-sheet.component.spec.ts
  src/app/components/assistant/assistant-page.component.spec.ts
  src/app/components/assistant/assistant-page.component.ts
  src/app/components/public-seo/public-seo-pages.content.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/app/shared/policies.content.ts
Due: lint-functions, lint-angular

fix: make email and analytics preferences discoverable
  docs/email-lifecycle.md
  docs/frontend-ui.md
  functions/src/admin/marketing/service.spec.ts
  functions/src/admin/marketing/service.ts
  functions/src/email/config.ts
  functions/src/email/template-catalog.ts
  src/app/components/shared/workspace-section-navigation/workspace-section-navigation.component.spec.ts
  src/app/components/shared/workspace-section-navigation/workspace-section-navigation.component.ts
  src/app/components/user-settings/user-settings.component.html
  src/app/components/user-settings/user-settings.component.spec.ts
  src/app/components/user-settings/user-settings.component.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

docs: reconcile Suunto strength lifecycle proof (#741)
  docs/provider-integration-guide.md
  docs/training-workspace.md
Due: none

fix: preserve privacy choices during updates and saves
  docs/frontend-ui.md
  src/app/components/user-settings/user-settings.component.spec.ts
  src/app/components/user-settings/user-settings.component.ts
Due: lint-angular

test: guard Suunto Guide target contract boundaries (#773)
  docs/mcp-server.md
  docs/provider-integration-guide.md
  docs/training-workspace.md
  functions/src/mcp/training-plans.schemas.spec.ts
  functions/src/training-plans/providers/suunto-guide.serializer.spec.ts
  src/app/helpers/planned-workout.shared.spec.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

refactor: isolate ingestion function startup
  docs/functions-entrypoint-loading.md
  functions/src/function-target-loader.spec.ts
  functions/src/function-target-loader.ts
  functions/src/scripts/check-entrypoint-loading.ts
Due: lint-functions

fix: force complete discovery during secret validation
  docs/functions-entrypoint-loading.md
  functions/src/scripts/check-entrypoint-loading.ts
  functions/src/scripts/check-secret-bindings.ts
Due: lint-functions

feat: add measured pool SWOLF to Suunto Guides (#773)
  docs/mcp-server.md
  docs/provider-integration-guide.md
  docs/training-workspace.md
  functions/src/mcp/training-plans.schemas.spec.ts
  functions/src/training-plans/delivery/diagnostics.spec.ts
  functions/src/training-plans/delivery/diagnostics.ts
  functions/src/training-plans/delivery/intent.spec.ts
  functions/src/training-plans/delivery/runtime.spec.ts
  functions/src/training-plans/delivery/suunto/mapping.ts
  functions/src/training-plans/delivery/suunto/suunto.emulator.spec.ts
  functions/src/training-plans/delivery/suunto/transport.spec.ts
  functions/src/training-plans/providers/fixtures/suunto-swimming-v6-recovery.json
  functions/src/training-plans/providers/suunto-guide.serializer.spec.ts
  functions/src/training-plans/providers/suunto-guide.serializer.ts
  shared/suunto-guide-presentation.ts
  src/app/helpers/planned-workout.shared.spec.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

refactor: separate service lifecycle from Wahoo recovery
  docs/provider-integration-guide.md
  docs/wahoo-integration.md
  functions/src/service-connection-lifecycle.ts
  functions/src/service-connection-meta.spec.ts
  functions/src/service-connection-meta.ts
  functions/src/service-connection-module-boundary.spec.ts
  functions/src/wahoo/connection-recovery.ts
Due: lint-functions

refactor: isolate scheduled function startup
  docs/functions-entrypoint-loading.md
  functions/src/function-target-loader.spec.ts
  functions/src/function-target-loader.ts
  functions/src/scripts/check-entrypoint-loading.ts
Due: lint-functions

docs: reconcile Suunto SWOLF watch QA evidence (#773)
  docs/mcp-server.md
  docs/provider-integration-guide.md
  docs/training-workspace.md
Due: none

refactor: isolate connection and Garmin Health startup
  docs/functions-entrypoint-loading.md
  functions/src/function-target-loader.spec.ts
  functions/src/function-target-loader.ts
  functions/src/scripts/check-entrypoint-loading.ts
Due: lint-functions

fix: reduce mobile marketing email padding
  docs/email-lifecycle.md
  functions/src/email/template-catalog.spec.ts
  functions/templates/marketing_campaign.hbs
  functions/templates/partials/email_founder_header.hbs
  functions/templates/partials/email_marketing_footer.hbs
Due: lint-functions

refactor: isolate activity route and event cleanup startup
  docs/functions-entrypoint-loading.md
  functions/src/function-target-loader.spec.ts
  functions/src/function-target-loader.ts
  functions/src/scripts/check-entrypoint-loading.ts
Due: lint-functions

fix: honor weight units in Suunto strength Guides
  docs/mcp-server.md
  docs/provider-integration-guide.md
  docs/training-workspace.md
  functions/src/mcp/training-plans-write.emulator.spec.ts
  functions/src/mcp/training-plans-write.service.ts
  functions/src/mcp/training-plans.service.spec.ts
  functions/src/training-plans/delivery/commands.ts
  functions/src/training-plans/delivery/contracts.ts
  functions/src/training-plans/delivery/diagnostics.spec.ts
  functions/src/training-plans/delivery/diagnostics.ts
  functions/src/training-plans/delivery/intent.ts
  functions/src/training-plans/delivery/runtime.spec.ts
  functions/src/training-plans/delivery/store.ts
  functions/src/training-plans/delivery/suunto/mapping.ts
  functions/src/training-plans/delivery/suunto/suunto.emulator.spec.ts
  functions/src/training-plans/delivery/suunto/transport.spec.ts
  functions/src/training-plans/delivery/suunto/transport.ts
  functions/src/training-plans/delivery/worker.ts
  functions/src/training-plans/providers/suunto-guide.serializer.ts
  functions/src/training-plans/providers/suunto-strength.serializer.spec.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

fix: preserve Suunto loss approval across unit changes
  docs/training-workspace.md
  functions/src/training-plans/delivery/intent.spec.ts
  functions/src/training-plans/delivery/suunto/mapping.ts
  functions/src/training-plans/delivery/suunto/suunto.emulator.spec.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

test: cover Suunto unit preference races
  docs/training-workspace.md
  functions/src/training-plans/delivery/suunto/suunto.emulator.spec.ts
Due: lint-functions

refactor: isolate Garmin Ping dispatcher startup
  docs/functions-entrypoint-loading.md
  functions/src/function-target-loader.spec.ts
  functions/src/function-target-loader.ts
  functions/src/scripts/check-entrypoint-loading.ts
Due: lint-functions

chore: measure Garmin Ping dispatch overhead
  README.md
  docs/garmin-dispatch-cost-measurements.md
  functions/src/sleep/dispatch-telemetry.spec.ts
  functions/src/sleep/dispatch-telemetry.ts
  functions/src/sleep/dispatcher.spec.ts
  functions/src/sleep/dispatcher.ts
  functions/src/sleep/garmin-ping-batch-dispatcher.spec.ts
  functions/src/sleep/garmin-ping-batch-dispatcher.ts
Due: lint-functions

fix: correct Garmin dispatch measurement timing and coverage
  docs/garmin-dispatch-cost-measurements.md
  functions/src/sleep/dispatch-telemetry.spec.ts
  functions/src/sleep/dispatch-telemetry.ts
  functions/src/sleep/dispatcher.spec.ts
  functions/src/sleep/dispatcher.ts
  functions/src/sleep/garmin-ping-batch-dispatcher.spec.ts
  functions/src/sleep/garmin-ping-batch-dispatcher.ts
Due: lint-functions

feat: display recorded swim distances in yards
  docs/frontend-ui.md
  shared/unit-aware-display.ts
  src/app/components/event-summary/event-summary.component.spec.ts
  src/app/components/event/stats-table/event.card.stats-table.component.spec.ts
  src/app/components/event/stats-table/event.card.stats-table.component.ts
  src/app/components/event/swim-lengths/event.card.swim-lengths.component.spec.ts
  src/app/components/event/swim-lengths/event.card.swim-lengths.component.ts
  src/app/components/header-stats/header-stats.component.spec.ts
  src/app/components/header-stats/header-stats.component.ts
  src/app/components/user-settings/user-settings.component.html
  src/app/components/user-settings/user-settings.component.spec.ts
  src/app/helpers/event-echarts-data.helper.spec.ts
  src/app/helpers/event-echarts-data.helper.ts
  src/app/helpers/event-lap-table-columns.helper.spec.ts
  src/app/helpers/summary-display.helper.spec.ts
  src/app/helpers/summary-display.helper.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

chore: release app 10.18.0 with sports-lib 21.5.0
  docs/frontend-ui.md
  functions/package-lock.json
  functions/package.json
  functions/src/reparse/SPORTS_LIB_REPARSE_RUNBOOK.md
  package-lock.json
  package.json
Due: none

chore: remove GitHub release deployment workflow
  .github/workflows/buildAndDeployProduction.yml
  docs/ci-testing.md
  tools/functions-emulator-suites.test.mjs
  tools/testing-workflow.test.mjs
Due: none

docs: record Garmin measurement deployment
  docs/garmin-dispatch-cost-measurements.md
Due: none

docs: keep deployment record independent of branch state
  docs/garmin-dispatch-cost-measurements.md
Due: none

fix: keep swim summaries and comparisons consistent with units
  docs/frontend-ui.md
  src/app/components/benchmark/benchmark-report.component.ts
  src/app/components/event-summary/event-summary.component.spec.ts
  src/app/components/event-summary/event-summary.component.ts
  src/app/components/event/stats-grid/event.card.stats-grid.component.spec.ts
  src/app/components/event/stats-grid/event.card.stats-grid.component.ts
  src/app/components/event/stats-table/event.card.stats-table.component.spec.ts
  src/app/helpers/stats-diff.helper.spec.ts
  src/app/helpers/stats-diff.helper.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: isolate impersonateUser function startup
  functions/src/function-target-loader.spec.ts
  functions/src/function-target-loader.ts
  functions/src/scripts/check-entrypoint-loading.ts
Due: lint-functions

feat: separate active swim and rest interval times
  docs/frontend-ui.md
  shared/unit-aware-display.ts
  src/app/components/event/swim-lengths/event.card.swim-lengths.component.css
  src/app/components/event/swim-lengths/event.card.swim-lengths.component.html
  src/app/components/event/swim-lengths/event.card.swim-lengths.component.spec.ts
  src/app/components/event/swim-lengths/event.card.swim-lengths.component.ts
  src/app/helpers/unit-aware-display.helper.spec.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

perf: isolate admin function entrypoints
  docs/functions-entrypoint-loading.md
  functions/src/function-target-loader.spec.ts
  functions/src/function-target-loader.ts
  functions/src/scripts/check-entrypoint-loading.ts
Due: lint-functions

feat: show swim interval strokes by default
  docs/frontend-ui.md
  src/app/components/event/laps/event.card.laps.component.css
  src/app/components/event/laps/event.card.laps.component.html
  src/app/components/event/laps/event.card.laps.component.spec.ts
  src/app/components/event/laps/event.card.laps.component.ts
  src/app/components/event/swim-lengths/event.card.swim-lengths.component.html
  src/app/components/event/swim-lengths/event.card.swim-lengths.component.spec.ts
  src/app/components/event/swim-lengths/event.card.swim-lengths.component.ts
  src/app/helpers/event-lap-table-columns.helper.spec.ts
  src/app/helpers/event-lap-table-columns.helper.ts
  src/app/helpers/event-swim-length.helper.spec.ts
  src/app/helpers/event-swim-length.helper.ts
  src/app/services/app.user-settings-query.service.spec.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular
