Repository jimmykane/quantified-self: changes, and which lefthook commands are due for each by the changed paths.
All: lint-functions, lint-angular

lint-functions:
  run: npx eslint {staged_files} --fix && git add {staged_files}

lint-angular:
  run: ESLINT_USE_FLAT_CONFIG=false npx eslint {staged_files} --fix && git add {staged_files}

fix: test
  functions/src/shared/parsing-options.spec.ts
Due: lint-functions

fix: admin
  src/app/components/admin/admin-user-management/admin-user-management.component.spec.ts
  src/app/components/admin/admin-user-management/admin-user-management.component.ts
Due: lint-angular

fix: ci
  .github/workflows/_run-tests.yml
Due: none

chore: ci fixes
  .github/workflows/buildAndDeployBeta.yml
  .github/workflows/buildAndDeployMain.yml
  .github/workflows/buildAndDeployProduction.yml
Due: none

chore: enable my tracks for all
  src/app/app.routing.module.spec.ts
  src/app/app.routing.module.ts
  src/app/components/sidenav/sidenav.component.html
  src/app/components/sidenav/sidenav.component.spec.ts
Due: lint-angular

chore: remove performance mode
  src/app/components/tracks/tracks-map.manager.ts
  src/app/components/tracks/tracks.component.spec.ts
  src/app/components/tracks/tracks.component.ts
Due: lint-angular

chore: improve upload activity to suunto app
  functions/src/suunto/activities.spec.ts
  functions/src/suunto/activities.ts
Due: lint-functions

chore: improve my tracks
  src/app/components/tracks/tracks-map.manager.ts
  src/app/components/tracks/tracks.component.spec.ts
  src/app/components/tracks/tracks.component.ts
Due: lint-angular

chore: improve tooltips for fullscreen charts
  src/app/app.module.menu-default-options.spec.ts
  src/app/app.module.ts
  src/app/components/event/chart/panel/event.card.chart.panel.component.spec.ts
  src/app/components/event/chart/panel/event.card.chart.panel.component.ts
  src/app/helpers/echarts-tooltip-host.helper.spec.ts
  src/app/helpers/echarts-tooltip-host.helper.ts
Due: lint-angular

fix: activities check
  functions/src/shared/parsing-options.spec.ts
  functions/src/suunto/activities.spec.ts
  functions/src/suunto/activities.ts
Due: lint-functions

chore: fix regression
  src/app/components/event/chart/panel/event.card.chart.panel.component.spec.ts
  src/app/components/event/chart/panel/event.card.chart.panel.component.ts
Due: lint-angular

chore: bump version
  package.json
Due: none

chore: allow passthough for actions on charts
  src/app/components/charts/columns/charts.columns.component.html
  src/app/components/charts/pie/charts.pie.component.html
  src/app/components/charts/xy/charts.xy.component.html
  src/app/components/loading/loading-overlay/loading-overlay.component.html
  src/app/components/loading/loading-overlay/loading-overlay.component.spec.ts
  src/app/components/loading/loading-overlay/loading-overlay.component.ts
  src/app/components/loading/shade.component.css
  src/app/components/loading/shade.component.html
  src/app/components/loading/shade.component.spec.ts
  src/app/components/loading/shade.component.ts
  src/app/components/tile/chart/tile.chart.component.html
Due: lint-angular

fix: mytracks issue with indoor
  src/app/components/tracks/tracks.component.spec.ts
  src/app/components/tracks/tracks.component.ts
Due: lint-angular

chore: improve warnings
  src/app/services/my-tracks-trip-detection.service.spec.ts
  src/app/services/my-tracks-trip-detection.service.ts
Due: lint-angular

chore: increase mem
  functions/src/suunto/history-to-queue.ts
Due: lint-functions

chore: improve dashboard performance
  src/app/components/dashboard/dashboard.component.spec.ts
  src/app/components/dashboard/dashboard.component.ts
  src/app/components/event-table/event.table.component.spec.ts
  src/app/components/event-table/event.table.component.ts
  src/app/services/app.event.service.spec.ts
  src/app/services/app.event.service.ts
Due: lint-angular

chore: customize data duration
  src/app/components/charts/columns/charts.columns.component.ts
  src/app/components/charts/pie/charts.pie.component.ts
  src/app/components/charts/xy/charts.xy.component.ts
  src/app/helpers/dashboard-chart-data.helper.spec.ts
  src/app/helpers/dashboard-chart-data.helper.ts
Due: lint-angular

refactor: only dashboard should hit cache
  src/app/resolvers/dashboard.resolver.ts
  src/app/services/app.event.service.spec.ts
  src/app/services/app.event.service.ts
Due: lint-angular

fix: tests
  src/app/resolvers/dashboard.resolver.spec.ts
  src/app/services/app.event.service.spec.ts
Due: lint-angular

fix: bug with live data
  src/app/components/charts/columns/charts.columns.component.spec.ts
  src/app/components/charts/columns/charts.columns.component.ts
  src/app/components/charts/pie/charts.pie.component.spec.ts
  src/app/components/charts/pie/charts.pie.component.ts
  src/app/components/charts/xy/charts.xy.component.spec.ts
  src/app/components/charts/xy/charts.xy.component.ts
  src/app/helpers/echarts-host-controller.spec.ts
  src/app/helpers/echarts-host-controller.ts
Due: lint-angular

chore: improve mouse events
  src/app/components/event/chart/panel/event.card.chart.panel.component.spec.ts
  src/app/components/event/chart/panel/event.card.chart.panel.component.ts
Due: lint-angular

chore: improve chart selection
  src/app/components/event/chart/actions/event.card.chart.actions.component.html
  src/app/components/event/chart/actions/event.card.chart.actions.component.spec.ts
  src/app/components/event/chart/actions/event.card.chart.actions.component.ts
  src/app/components/event/chart/event.card.chart.component.html
  src/app/components/event/chart/event.card.chart.component.spec.ts
  src/app/components/event/chart/event.card.chart.component.ts
Due: lint-angular

chore: retry 500's just in case
  functions/src/queue.spec.ts
  functions/src/queue.ts
Due: lint-functions

fix: multipart payload
  functions/src/queue.spec.ts
  functions/src/queue.ts
  functions/src/shared/fit-payload.spec.ts
  functions/src/shared/fit-payload.ts
Due: lint-functions

chore: bump sl
  functions/package-lock.json
  functions/package.json
  package-lock.json
  package.json
Due: none

fix: array buffer conversions
  functions/src/queue.spec.ts
  functions/src/queue.ts
Due: lint-functions

fix: test
  functions/src/queue-processing.spec.ts
Due: lint-functions

refactor: url determinations
  proxy.conf.json
  src/app/authentication/app.auth.service.spec.ts
  src/app/authentication/app.auth.service.ts
  src/environments/environment.ts
  src/main.ts
Due: lint-angular

chore: merge
  functions/src/garmin/backfill.spec.ts
  functions/src/garmin/backfill.ts
Due: lint-functions

chore: fixes
  src/app/components/event/chart/panel/event.card.chart.panel.component.html
  src/app/components/event/chart/panel/event.card.chart.panel.component.ts
  src/app/helpers/event-echarts-range-stats.helper.ts
Due: lint-angular

fix: PR feedback
  functions/src/shared/fit-payload.spec.ts
  functions/src/shared/fit-payload.ts
  src/app/components/event-table/event.table.component.spec.ts
  src/app/components/event-table/event.table.component.ts
Due: lint-functions, lint-angular

fix: redirect
  src/app/authentication/app.auth.service.spec.ts
  src/app/authentication/app.auth.service.ts
Due: lint-angular

fix: some auth issues
  docs/firebase-auth-link-domain-routing.md
  src/app/authentication/app.auth.service.ts
  src/app/shared/adapters/firebase-auth-link.constants.ts
  src/app/shared/adapters/firebase-hosting-redirect.spec.ts
  src/app/shared/adapters/firebase-hosting-redirect.ts
  src/main.ts
Due: lint-angular

fix: login with email issues
  src/app/components/grace-period-banner/grace-period-banner.component.html
  src/app/components/login/login.component.spec.ts
  src/app/components/login/login.component.ts
  src/app/services/app.user.service.spec.ts
  src/app/services/app.user.service.ts
Due: lint-angular

fix: banner limit
  src/app/components/grace-period-banner/grace-period-banner.component.html
  src/app/components/grace-period-banner/grace-period-banner.component.spec.ts
  src/app/components/grace-period-banner/grace-period-banner.component.ts
Due: lint-angular

chore: ai trying to fix an non existent issue with login page
  docs/firebase-auth-link-domain-routing.md
  src/app/authentication/app.auth.guard.spec.ts
  src/app/authentication/app.auth.guard.ts
  src/app/authentication/app.auth.service.spec.ts
  src/app/authentication/app.auth.service.ts
  src/app/authentication/logged-in.guard.spec.ts
  src/app/authentication/logged-in.guard.ts
  src/app/components/login/login.component.spec.ts
  src/app/components/login/login.component.ts
  src/app/resolvers/dashboard.resolver.spec.ts
  src/app/resolvers/dashboard.resolver.ts
  src/app/services/app.user.service.spec.ts
  src/app/services/app.user.service.ts
Due: lint-angular

Revert "chore: ai trying to fix an non existent issue with login page"
  docs/firebase-auth-link-domain-routing.md
  src/app/authentication/app.auth.guard.spec.ts
  src/app/authentication/app.auth.guard.ts
  src/app/authentication/app.auth.service.spec.ts
  src/app/authentication/app.auth.service.ts
  src/app/authentication/logged-in.guard.spec.ts
  src/app/authentication/logged-in.guard.ts
  src/app/components/login/login.component.spec.ts
  src/app/components/login/login.component.ts
  src/app/resolvers/dashboard.resolver.spec.ts
  src/app/resolvers/dashboard.resolver.ts
  src/app/services/app.user.service.spec.ts
  src/app/services/app.user.service.ts
Due: lint-angular

Revert "fix: login with email issues"
  src/app/components/login/login.component.spec.ts
  src/app/components/login/login.component.ts
  src/app/services/app.user.service.spec.ts
  src/app/services/app.user.service.ts
Due: lint-angular

Path conditions:
  lint-functions: any of: **/*.{ts,js} and ^functions/
  lint-angular: any of: {src/*.{ts,html},src/**/*.{ts,html}}
