Repository jimmykane/quantified-self: changes, and which lefthook commands are due for each by the changed paths.
All: lint-functions, lint-angular

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint-functions:
      root: "functions"
      glob: "**/*.{ts,js}"
      run: npx eslint {staged_files} --fix && git add {staged_files}
    lint-angular:
      glob: "{src/*.{ts,html},src/**/*.{ts,html}}"
      run: ESLINT_USE_FLAT_CONFIG=false npx eslint {staged_files} --fix && git add {staged_files}

feat: add source-native dive gas and tank details
  docs/mcp-server.md
  functions/package-lock.json
  functions/package.json
  functions/src/mcp/data.service.spec.ts
  functions/src/reparse/SPORTS_LIB_REPARSE_RUNBOOK.md
  package-lock.json
  package.json
  src/app/components/event/dive-gas-tanks/event.dive-gas-tanks.component.css
  src/app/components/event/dive-gas-tanks/event.dive-gas-tanks.component.html
  src/app/components/event/dive-gas-tanks/event.dive-gas-tanks.component.spec.ts
  src/app/components/event/dive-gas-tanks/event.dive-gas-tanks.component.ts
  src/app/components/event/stats-grid/event.card.stats-grid.component.html
  src/app/components/event/stats-grid/event.card.stats-grid.component.spec.ts
  src/app/components/event/stats-grid/event.card.stats-grid.component.ts
  src/app/components/tracks/tracks.component.spec.ts
  src/app/components/tracks/tracks.component.ts
  src/app/helpers/event-dive-profile.helper.spec.ts
  src/app/helpers/event-dive-profile.helper.ts
  src/app/helpers/event-dive-source-records.helper.spec.ts
  src/app/helpers/event-dive-source-records.helper.ts
  src/app/helpers/event-diving.helper.ts
  src/app/helpers/summary-metric-tabs.helper.spec.ts
  src/app/helpers/summary-metric-tabs.helper.ts
  src/app/modules/event.module.ts
  src/app/services/app.event.service.spec.ts
  src/app/services/app.event.service.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/app/utils/event-live-reconcile.spec.ts
  src/app/utils/event-live-reconcile.ts
Due: lint-functions, lint-angular

fix: persist source-native dive records
  docs/mcp-server.md
  docs/training-workspace.md
  functions/package-lock.json
  functions/package.json
  functions/src/reparse/SPORTS_LIB_REPARSE_RUNBOOK.md
  functions/src/shared/dive-source-records-persistence.spec.ts
  package-lock.json
  package.json
  src/app/helpers/event-dive-source-records.helper.spec.ts
  src/app/helpers/event-dive-source-records.helper.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/app/utils/event-json-sanitizer.spec.ts
  src/app/utils/event-live-reconcile.spec.ts
  src/app/utils/event-live-reconcile.ts
Due: lint-functions, lint-angular

fix: complete event card activity test doubles
  src/app/components/event/event.card.component.spec.ts
Due: lint-angular

chore: bump app version to 10.12.0
  package-lock.json
  package.json
Due: none

fix: keep compact calendar overflow labels visible
  src/app/components/calendar/activity-calendar-grid/activity-calendar-grid.component.scss
  src/app/components/calendar/activity-calendar-grid/activity-calendar-grid.component.spec.ts
Due: lint-angular

fix: prevent compact calendar marker clipping
  src/app/components/calendar/activity-calendar-grid/activity-calendar-grid.component.scss
  src/app/components/calendar/activity-calendar-grid/activity-calendar-grid.component.spec.ts
Due: lint-angular

fix: compact dashboard weekly axis labels
  src/app/components/charts/columns/charts.columns.component.spec.ts
  src/app/components/charts/columns/charts.columns.component.ts
  src/app/components/charts/xy/charts.xy.component.spec.ts
  src/app/components/charts/xy/charts.xy.component.ts
  src/app/helpers/dashboard-chart-data.helper.spec.ts
  src/app/helpers/dashboard-chart-data.helper.ts
Due: lint-angular

fix: size dashboard calendar tile for mobile
  src/app/components/calendar/activity-calendar-grid/activity-calendar-grid.component.scss
  src/app/components/calendar/activity-calendar-grid/activity-calendar-grid.component.spec.ts
  src/app/components/summaries/dashboard-tile-board/dashboard-tile-board.component.css
  src/app/components/summaries/dashboard-tile-board/dashboard-tile-board.component.spec.ts
  src/app/components/summaries/summaries.component.html
  src/app/components/summaries/summaries.component.spec.ts
  src/app/components/summaries/summaries.component.ts
Due: lint-angular

feat: support new activity type groups
  package-lock.json
  package.json
  shared/activity-type-group.metadata.ts
  src/app/helpers/activity-type-group.metadata.helper.spec.ts
  src/app/helpers/event-chart-sport-profile.helper.spec.ts
  src/app/helpers/event-chart-sport-profile.helper.ts
  src/app/services/color/app.activity-type-group.colors.ts
  src/app/services/color/app.activity-type-group.gradients.ts
  src/app/services/color/app.activity-type-group.icons.ts
  src/app/services/color/app.event.color.service.spec.ts
Due: lint-angular

fix: allow JSON files in comparison tools
  functions/src/events/create-tool-comparison-event.spec.ts
  functions/src/events/create-tool-comparison-event.ts
  functions/src/events/upload-activity.ts
  shared/activity-file-formats.ts
  src/app/app.routing.module.spec.ts
  src/app/app.routing.module.ts
  src/app/components/tools/tools-compare-page.component.html
  src/app/components/tools/tools-compare-page.component.spec.ts
  src/app/components/tools/tools-compare-page.component.ts
  src/app/components/tools/tools-hub-page.component.ts
  src/app/components/upload/upload-activities/upload-activities.component.ts
  src/app/services/app.analytics.service.ts
  src/app/services/app.tools-comparison.service.spec.ts
  src/app/services/app.tools-comparison.service.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

fix: use graphite for motorized activities
  src/app/services/color/app.activity-type-group.colors.ts
  src/app/services/color/app.activity-type-group.gradients.ts
  src/app/services/color/app.event.color.service.spec.ts
Due: lint-angular

fix: align sports lib activity groups
  docs/training-workspace.md
  functions/package-lock.json
  functions/package.json
  shared/training-disciplines.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/app/shared/training-disciplines.shared.spec.ts
Due: lint-angular

test: cover chart profiles for new activity groups
  src/app/helpers/event-chart-sport-profile.helper.spec.ts
Due: lint-angular

feat: add supported activities reference page
  README.md
  docs/supported-activities.md
  shared/activity-type-group.metadata.ts
  src/app/app.routes.server.spec.ts
  src/app/app.routes.server.ts
  src/app/app.routing.module.spec.ts
  src/app/app.routing.module.ts
  src/app/components/dashboard/dashboard.component.html
  src/app/components/event-summary/event-summary.component.html
  src/app/components/features/supported-activities-page.component.html
  src/app/components/features/supported-activities-page.component.scss
  src/app/components/features/supported-activities-page.component.spec.ts
  src/app/components/features/supported-activities-page.component.ts
  src/app/components/features/supported-activities-page.content.spec.ts
  src/app/components/features/supported-activities-page.content.ts
  src/app/components/features/supported-activities-page.paths.ts
  src/app/components/public-footer/public-footer.component.html
  src/app/components/public-seo/public-seo-pages.content.spec.ts
  src/app/components/public-seo/public-seo-pages.content.ts
  src/app/helpers/activity-type-group.metadata.helper.spec.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/app/shared/public-startup-route.spec.ts
  src/app/shared/public-startup-route.ts
  src/firebase-hosting.config.spec.ts
  src/robots.txt
  src/sitemap.xml
  tools/verify-public-initial-output.mjs
Due: lint-angular

fix: clarify supported activity catalog behavior
  docs/supported-activities.md
  shared/activity-type-group.metadata.ts
  src/app/components/features/supported-activities-page.component.html
  src/app/components/features/supported-activities-page.component.spec.ts
  src/app/components/features/supported-activities-page.component.ts
  src/app/components/features/supported-activities-page.content.spec.ts
  src/app/components/features/supported-activities-page.content.ts
  src/app/helpers/activity-type-group.metadata.helper.spec.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: use client routing for activity reference links
  src/app/components/dashboard/dashboard.component.html
  src/app/components/dashboard/dashboard.component.spec.ts
  src/app/components/event-summary/event-summary.component.html
  src/app/components/event-summary/event-summary.component.spec.ts
Due: lint-angular

docs: require sitemap updates for public pages
  AGENTS.md
Due: none

feat: improve tracks trip navigation
  src/app/components/tracks/tracks.component.html
  src/app/components/tracks/tracks.component.spec.ts
  src/app/components/tracks/tracks.component.ts
  src/app/models/app-user.interface.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/app/utils/app.user.utilities.spec.ts
  src/app/utils/app.user.utilities.ts
Due: lint-angular

fix: compact supported activities support details
  src/app/components/features/supported-activities-page.component.html
  src/app/components/features/supported-activities-page.component.scss
  src/app/components/features/supported-activities-page.component.spec.ts
  src/app/components/features/supported-activities-page.component.ts
Due: lint-angular

fix: preserve tracks map accessibility
  src/app/components/tracks/tracks.component.html
  src/app/components/tracks/tracks.component.spec.ts
  src/app/components/tracks/tracks.component.ts
Due: lint-angular

fix: disable public route cross-fades
  src/app/app.routing.module.spec.ts
  src/app/app.routing.module.ts
Due: lint-angular

fix: preserve tracks map control interactions
  src/app/components/tracks/tracks.component.spec.ts
  src/app/components/tracks/tracks.component.ts
Due: lint-angular

fix: sanitize unknown lap stat data
  src/app/utils/event-json-sanitizer.spec.ts
  src/app/utils/event-json-sanitizer.ts
Due: lint-angular

fix: expand home-only tracks panel
  src/app/components/tracks/tracks.component.spec.ts
  src/app/components/tracks/tracks.component.ts
Due: lint-angular

fix: simplify supported activity copy
  src/app/app.routing.module.spec.ts
  src/app/components/dashboard/dashboard.component.html
  src/app/components/event-summary/event-summary.component.html
  src/app/components/features/supported-activities-page.component.html
  src/app/components/features/supported-activities-page.component.spec.ts
  src/app/components/features/supported-activities-page.component.ts
  src/app/components/features/supported-activities-page.content.spec.ts
  src/app/components/features/supported-activities-page.content.ts
  src/app/components/public-footer/public-footer.component.html
  src/app/components/public-seo/public-seo-pages.content.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: prioritize supported activity catalog
  src/app/components/features/supported-activities-page.component.html
  src/app/components/features/supported-activities-page.component.scss
  src/app/components/features/supported-activities-page.component.spec.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: coordinate OAuth refreshes and recover Wahoo auth
  docs/provider-integration-guide.md
  docs/wahoo-integration.md
  functions/src/OAuth2.spec.ts
  functions/src/OAuth2.ts
  functions/src/activity-sync/process-queue-item.spec.ts
  functions/src/activity-sync/process-queue-item.ts
  functions/src/queue-utils.spec.ts
  functions/src/queue-utils.ts
  functions/src/queue/pending-disconnect-release.spec.ts
  functions/src/queue/pending-disconnect-release.ts
  functions/src/route-delivery-sync/process-queue-item.spec.ts
  functions/src/route-delivery-sync/process-queue-item.ts
  functions/src/service-connection-meta.spec.ts
  functions/src/service-connection-meta.ts
  functions/src/token-refresh-coordinator.spec.ts
  functions/src/token-refresh-coordinator.ts
  functions/src/tokens.spec.ts
  functions/src/tokens.ts
  functions/src/wahoo/activities.spec.ts
  functions/src/wahoo/activities.ts
  functions/src/wahoo/refresh-recovery.ts
  functions/src/wahoo/routes.spec.ts
  functions/src/wahoo/routes.ts
  shared/service-connection.ts
  src/app/components/services/wahoo/services.wahoo.component.html
  src/app/components/services/wahoo/services.wahoo.component.spec.ts
  src/app/components/services/wahoo/services.wahoo.component.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

docs: clarify pending disconnect release invariant
  docs/provider-integration-guide.md
Due: none

fix: bind legacy Wahoo account recovery
  functions/src/service-auth-lifecycle.spec.ts
  functions/src/service-auth-lifecycle.ts
  functions/src/service-connection-meta.spec.ts
  functions/src/service-connection-meta.ts
  functions/src/wahoo/account.spec.ts
  functions/src/wahoo/account.ts
Due: lint-functions

fix: close oauth and reconnect lifecycle races
  functions/src/OAuth2.spec.ts
  functions/src/OAuth2.ts
  functions/src/activity-sync/process-queue-item.spec.ts
  functions/src/activity-sync/process-queue-item.ts
  functions/src/coros/auth/wrapper.spec.ts
  functions/src/coros/auth/wrapper.ts
  functions/src/garmin/auth/wrapper.spec.ts
  functions/src/garmin/auth/wrapper.ts
  functions/src/queue/pending-disconnect-release.spec.ts
  functions/src/queue/pending-disconnect-release.ts
  functions/src/service-auth-lifecycle.spec.ts
  functions/src/service-auth-lifecycle.ts
  functions/src/service-connection-meta.spec.ts
  functions/src/service-connection-meta.ts
  functions/src/suunto/auth/wrapper.spec.ts
  functions/src/suunto/auth/wrapper.ts
  functions/src/token-refresh-coordinator.ts
  functions/src/wahoo/auth/wrapper.spec.ts
  functions/src/wahoo/auth/wrapper.ts
  functions/src/wahoo/history-to-queue.spec.ts
  functions/src/wahoo/history-to-queue.ts
  src/app/components/services/wahoo/services.wahoo.component.html
  src/app/components/services/wahoo/services.wahoo.component.spec.ts
Due: lint-functions, lint-angular

fix: preserve concurrent OAuth recovery state
  functions/src/OAuth2.spec.ts
  functions/src/OAuth2.ts
  functions/src/service-auth-lifecycle.ts
  functions/src/service-disconnect-pending.spec.ts
  functions/src/service-disconnect-pending.ts
  src/app/components/services/wahoo/services.wahoo.component.spec.ts
  src/app/components/services/wahoo/services.wahoo.component.ts
Due: lint-functions, lint-angular

fix: harden Wahoo reconnect lifecycle
  docs/provider-integration-guide.md
  docs/wahoo-integration.md
  functions/src/OAuth2.spec.ts
  functions/src/OAuth2.ts
  functions/src/activity-sync/process-queue-item.ts
  functions/src/coros/auth/wrapper.spec.ts
  functions/src/coros/auth/wrapper.ts
  functions/src/garmin/auth/wrapper.spec.ts
  functions/src/garmin/auth/wrapper.ts
  functions/src/schedule/retry-pending-service-disconnects.spec.ts
  functions/src/schedule/retry-pending-service-disconnects.ts
  functions/src/service-auth-lifecycle.spec.ts
  functions/src/service-auth-lifecycle.ts
  functions/src/service-connection-meta.spec.ts
  functions/src/service-connection-meta.ts
  functions/src/service-disconnect-pending-state.ts
  functions/src/service-disconnect-pending.spec.ts
  functions/src/service-disconnect-pending.ts
  functions/src/service-token-store.ts
  functions/src/suunto/auth/wrapper.spec.ts
  functions/src/suunto/auth/wrapper.ts
  functions/src/wahoo/account.spec.ts
  functions/src/wahoo/account.ts
  functions/src/wahoo/activities.spec.ts
  functions/src/wahoo/activities.ts
  functions/src/wahoo/auth/wrapper.spec.ts
  functions/src/wahoo/auth/wrapper.ts
  functions/src/wahoo/history-to-queue.ts
  functions/src/wahoo/processor.spec.ts
  functions/src/wahoo/processor.ts
  functions/src/wahoo/routes.spec.ts
  functions/src/wahoo/routes.ts
  functions/src/wahoo/webhook.spec.ts
  functions/src/wahoo/webhook.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

fix: harden Wahoo refresh recovery
  docs/provider-integration-guide.md
  docs/wahoo-integration.md
  functions/src/activity-sync/disconnect-routes.spec.ts
  functions/src/activity-sync/metadata.spec.ts
  functions/src/activity-sync/metadata.ts
  functions/src/activity-sync/process-queue-item.spec.ts
  functions/src/activity-sync/process-queue-item.ts
  functions/src/activity-sync/route-cleanup.ts
  functions/src/queue/pending-disconnect-release.spec.ts
  functions/src/queue/pending-disconnect-release.ts
  functions/src/schedule/retry-pending-service-disconnects.spec.ts
  functions/src/schedule/retry-pending-service-disconnects.ts
  functions/src/service-connection-meta.spec.ts
  functions/src/service-connection-meta.ts
  functions/src/token-refresh-coordinator.spec.ts
  functions/src/token-refresh-coordinator.ts
  functions/src/tokens.spec.ts
  functions/src/tokens.ts
  functions/src/wahoo/activities.spec.ts
  functions/src/wahoo/activities.ts
  functions/src/wahoo/history-to-queue.spec.ts
  functions/src/wahoo/history-to-queue.ts
  functions/src/wahoo/routes.spec.ts
  functions/src/wahoo/routes.ts
  shared/service-connection.ts
  src/app/components/services/wahoo/services.wahoo.component.html
  src/app/components/services/wahoo/services.wahoo.component.spec.ts
Due: lint-functions, lint-angular

fix: guard Wahoo reconnect queue transitions
  functions/src/queue/pending-disconnect-release.spec.ts
  functions/src/queue/pending-disconnect-release.ts
  functions/src/route-delivery-sync/process-queue-item.spec.ts
  functions/src/route-delivery-sync/process-queue-item.ts
Due: lint-functions

fix: guard oauth recovery generations
  docs/provider-integration-guide.md
  docs/wahoo-integration.md
  firestore.rules
  functions/src/OAuth2.spec.ts
  functions/src/OAuth2.ts
  functions/src/service-connection-meta.spec.ts
  functions/src/service-connection-meta.ts
  functions/src/service-disconnect-pending.spec.ts
  functions/src/service-disconnect-pending.ts
  functions/src/token-refresh-coordinator.spec.ts
  functions/src/token-refresh-coordinator.ts
  functions/src/tokens.spec.ts
  functions/src/tokens.ts
  src/firestore.rules.spec.ts
Due: lint-functions, lint-angular

fix: harden service recovery transitions
  docs/provider-integration-guide.md
  docs/wahoo-integration.md
  firestore.indexes.json
  functions/src/activity-sync/disconnect-routes.spec.ts
  functions/src/activity-sync/process-queue-item.spec.ts
  functions/src/activity-sync/process-queue-item.ts
  functions/src/activity-sync/route-cleanup.ts
  functions/src/coros/queue-processing.spec.ts
  functions/src/firestore-indexes.spec.ts
  functions/src/garmin/queue.spec.ts
  functions/src/garmin/queue.ts
  functions/src/queue-utils.spec.ts
  functions/src/queue-utils.ts
  functions/src/queue.spec.ts
  functions/src/queue.ts
  functions/src/queue/pending-disconnect-release.spec.ts
  functions/src/queue/pending-disconnect-release.ts
  functions/src/route-delivery-sync/process-queue-item.spec.ts
  functions/src/route-delivery-sync/process-queue-item.ts
  functions/src/routes/process-route-sync-queue-item.spec.ts
  functions/src/routes/process-route-sync-queue-item.ts
  functions/src/schedule/retry-pending-service-disconnects.spec.ts
  functions/src/schedule/retry-pending-service-disconnects.ts
  functions/src/service-auth-lifecycle.spec.ts
  functions/src/service-auth-lifecycle.ts
  functions/src/service-connection-meta.spec.ts
  functions/src/service-connection-meta.ts
  functions/src/service-disconnect-pending-state.spec.ts
  functions/src/service-disconnect-pending-state.ts
  functions/src/service-disconnect-pending.spec.ts
  functions/src/service-disconnect-pending.ts
  functions/src/sleep/queue.spec.ts
  functions/src/sleep/queue.ts
  functions/src/wahoo/history-to-queue.spec.ts
  functions/src/wahoo/history-to-queue.ts
  functions/src/wahoo/processor.ts
  shared/service-connection.ts
Due: lint-functions

fix: remove superseded oauth credentials
  functions/src/OAuth2.spec.ts
  functions/src/OAuth2.ts
Due: lint-functions

test: isolate OAuth cleanup deauthorization assertion
  functions/src/OAuth2.spec.ts
Due: lint-functions

fix: namespace route restore markers
  functions/src/activity-sync/disconnect-routes.spec.ts
  functions/src/activity-sync/route-cleanup.ts
Due: lint-functions
