Repository jimmykane/quantified-self: changes, and which lefthook commands are due for each by the changed paths.
All: lint-functions, lint-angular

lint-functions:
  run: npx eslint {staged_files} --fix && git add {staged_files}

lint-angular:
  run: ESLINT_USE_FLAT_CONFIG=false npx eslint {staged_files} --fix && git add {staged_files}

chore: update extensions
  firebase.json
Due: none

chore: remove legacy
  functions/src/config.spec.ts
  functions/src/config.ts
Due: lint-functions

chore: tile reorder
  src/app/components/summaries/summaries.component.css
  src/app/components/summaries/summaries.component.html
  src/app/components/summaries/summaries.component.spec.ts
  src/app/components/summaries/summaries.component.ts
  src/app/components/tile/chart/tile.chart.component.html
  src/app/components/tile/chart/tile.chart.component.spec.ts
  src/app/components/tile/chart/tile.chart.component.ts
  src/app/components/tile/map/tile.map.component.css
  src/app/components/tile/map/tile.map.component.html
  src/app/components/tile/map/tile.map.component.spec.ts
  src/app/components/tile/map/tile.map.component.ts
  src/app/components/tile/tile.abstract.css
  src/app/modules/dashboard.module.ts
  src/app/shared/help.content.ts
Due: lint-angular

chore: bv
  package.json
Due: none

chore: pr feedback
  functions/src/ai/insights/anomaly-callouts.spec.ts
  functions/src/ai/insights/anomaly-callouts.ts
  functions/src/ai/insights/normalize-query.flow.spec.ts
  functions/src/ai/insights/normalize-query.flow.ts
Due: lint-functions

chore: geocheck
  functions/src/ai/insights/callable.spec.ts
  functions/src/ai/insights/callable.ts
  functions/src/ai/insights/execute-query.spec.ts
  functions/src/ai/insights/execute-query.ts
  functions/src/ai/insights/flow.contract.ts
  functions/src/ai/insights/location-filter.spec.ts
  functions/src/ai/insights/location-filter.ts
  functions/src/ai/insights/mapbox-config.ts
  functions/src/ai/insights/runtime.ts
  functions/src/ai/insights/schemas.spec.ts
  shared/ai-insights-response.contract.ts
  shared/ai-insights.types.ts
  src/app/components/ai-insights/ai-insights-page.component.html
  src/app/components/ai-insights/ai-insights-page.component.scss
  src/app/components/ai-insights/ai-insights-page.component.spec.ts
  src/app/components/ai-insights/ai-insights-page.component.ts
  src/app/services/ai-insights-response.contract.shared.spec.ts
  src/app/services/ai-insights.service.spec.ts
  src/app/services/ai-insights.service.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

chore: geo stuff
  src/app/components/ai-insights/ai-insights-page.component.html
  src/app/components/ai-insights/ai-insights-page.component.scss
  src/app/components/ai-insights/ai-insights-page.component.spec.ts
  src/app/components/ai-insights/ai-insights-page.component.ts
  src/app/components/events-map/events-map.component.spec.ts
  src/app/components/events-map/events-map.component.ts
  src/app/modules/dashboard.module.ts
  src/app/shared/help.content.ts
Due: lint-angular

chore: home improvements
  src/app/components/home/home.component.html
  src/app/components/home/home.component.scss
Due: lint-angular

chore: improvements
  shared/ai-insights-prompts.ts
  src/app/components/ai-insights/ai-insights.prompts.spec.ts
  src/app/components/notifications/processing-indicator/processing-indicator.component.css
Due: lint-angular

chore: improve ai insights
  functions/src/ai/insights/callable.spec.ts
  functions/src/ai/insights/callable.ts
  functions/src/ai/insights/normalize-query.flow.spec.ts
  functions/src/ai/insights/normalize-query.flow.ts
  functions/src/ai/insights/normalize-query.repair.spec.ts
  functions/src/ai/insights/normalize-query.repair.ts
  functions/src/ai/insights/normalize-query.result-kind-router.spec.ts
  functions/src/ai/insights/normalize-query.result-kind-router.ts
  functions/src/ai/insights/result-kind-registry.spec.ts
Due: lint-functions

chore: email for deleting an account
  functions/src/scripts/seed-email-templates.ts
  functions/src/scripts/test-all-emails.ts
  functions/src/user/user.spec.ts
  functions/src/user/user.ts
  functions/src/users/cleanup.spec.ts
  functions/src/users/cleanup.ts
  functions/templates/account_deleted_confirmation.hbs
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

chore: PR fixes
  functions/src/ai/insights/execute-query.spec.ts
  functions/src/ai/insights/execute-query.ts
  functions/src/ai/insights/location-filter.spec.ts
  functions/src/ai/insights/location-filter.ts
Due: lint-functions

feature: jump table
  src/app/components/data-type-icon/data-type-icon.component.spec.ts
  src/app/components/data-type-icon/data-type-icon.component.ts
  src/app/components/event/event.card.component.html
  src/app/components/event/event.card.component.spec.ts
  src/app/components/event/event.card.component.ts
  src/app/components/event/jumps/event.card.jumps.component.css
  src/app/components/event/jumps/event.card.jumps.component.html
  src/app/components/event/jumps/event.card.jumps.component.spec.ts
  src/app/components/event/jumps/event.card.jumps.component.ts
  src/app/helpers/event-jump-type.helper.spec.ts
  src/app/helpers/event-jump-type.helper.ts
  src/app/modules/event.module.ts
  src/app/shared/help.content.ts
Due: lint-angular

chore: jump table improvements
  src/app/components/data-type-icon/data-type-icon.component.spec.ts
  src/app/components/data-type-icon/data-type-icon.component.ts
  src/app/components/event/jumps/event.card.jumps.component.spec.ts
  src/app/components/event/jumps/event.card.jumps.component.ts
Due: lint-angular

chore: fix home
  src/app/components/home/home.component.scss
Due: none

fix: tiles
  src/app/components/tile/actions/tile.actions.abstract.css
Due: none

chore: maps improvements
  functions/src/ai/insights/location-filter.spec.ts
  functions/src/ai/insights/location-filter.ts
  src/app/components/ai-insights/ai-insights-page.component.html
  src/app/components/ai-insights/ai-insights-page.component.spec.ts
  src/app/components/ai-insights/ai-insights-page.component.ts
  src/app/components/events-map/events-map.component.css
  src/app/components/events-map/events-map.component.spec.ts
  src/app/components/events-map/events-map.component.ts
  src/app/components/tracks/tracks-map.manager.ts
  src/app/services/map/map-search-scope-overlay.utils.spec.ts
  src/app/services/map/map-search-scope-overlay.utils.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

chore: bump version
  package.json
Due: none

chore: fix mapbox
  functions/src/ai/insights/callable.spec.ts
  functions/src/ai/insights/callable.ts
  functions/src/ai/insights/mapbox-config.ts
Due: lint-functions

chore: ui and bug fixes
  functions/src/user/user.spec.ts
  functions/src/user/user.ts
  src/app/components/events-map/events-map.component.css
  src/app/components/shared/summary-primary-info/summary-primary-info.component.scss
  src/app/components/user-settings/user-settings.component.html
  src/app/components/user-settings/user-settings.component.spec.ts
  src/app/components/user-settings/user-settings.component.ts
Due: lint-functions, lint-angular

chore: change icon
  src/app/components/event/jumps/event.card.jumps.component.html
  src/app/components/event/jumps/event.card.jumps.component.spec.ts
Due: lint-angular

chore: minor UI
  src/app/components/event-search/event-search.component.html
  src/app/components/event-search/event-search.component.spec.ts
  src/app/components/event-search/event-search.component.ts
  src/app/components/sidenav/sidenav.component.html
  src/app/components/sidenav/sidenav.component.scss
Due: lint-angular

chore: PR fixes
  src/app/app.module.ts
  src/app/authentication/app.auth.service.ts
  src/app/authentication/auth-emulator.config.spec.ts
  src/app/authentication/auth-emulator.config.ts
  src/app/firebase/analytics.ts
  src/app/firebase/app-check.ts
  src/app/firebase/app.ts
  src/app/firebase/auth.spec.ts
  src/app/firebase/auth.ts
  src/app/firebase/firestore.spec.ts
  src/app/firebase/firestore.ts
  src/app/firebase/functions.ts
  src/app/firebase/performance.ts
  src/app/firebase/remote-config.ts
  src/app/firebase/storage.ts
  src/app/services/firebase-analytics-tracking.service.spec.ts
  src/app/services/firebase-analytics-tracking.service.ts
Due: lint-angular

chore: improve error logging
  src/app/services/app.user.service.spec.ts
  src/app/services/app.user.service.ts
Due: lint-angular

chore: sanitize
  src/app/services/firebase-analytics-tracking.service.spec.ts
  src/app/services/firebase-analytics-tracking.service.ts
Due: lint-angular

chore: upgrade node
  functions/package-lock.json
  functions/package.json
Due: none

chore: remove injection
  src/app/authentication/app.auth.service.ts
  src/app/components/event/chart/event.card.chart.component.ts
  src/app/resolvers/dashboard.resolver.ts
  src/app/services/ai-insights-latest-snapshot.service.ts
  src/app/services/app.event.service.ts
  src/app/services/app.original-file-hydration.service.ts
  src/app/services/app.payment.service.ts
  src/app/services/app.user.service.ts
  src/app/services/app.whats-new.service.ts
Due: lint-angular

chore: fix criticals
  src/app/firebase/auth.spec.ts
  src/app/firebase/auth.ts
  src/app/firebase/firestore.spec.ts
  src/app/firebase/firestore.ts
  src/app/services/app.user.service.ts
Due: lint-angular

chore: recovery time
  src/app/components/charts/columns/charts.columns.component.spec.ts
  src/app/components/charts/columns/charts.columns.component.ts
  src/app/components/charts/pie/charts.pie.component.spec.ts
  src/app/components/charts/pie/charts.pie.component.ts
  src/app/components/charts/xy/charts.xy.component.spec.ts
  src/app/components/charts/xy/charts.xy.component.ts
  src/app/components/event-actions/event.actions.component.html
  src/app/components/event-actions/event.actions.component.spec.ts
  src/app/components/event-actions/event.actions.component.ts
  src/app/components/summaries/summaries.component.html
  src/app/components/tile/actions/chart/tile.chart.actions.component.html
  src/app/components/tile/actions/chart/tile.chart.actions.component.spec.ts
  src/app/components/tile/actions/chart/tile.chart.actions.component.ts
  src/app/components/tile/chart/tile.chart.component.html
  src/app/components/tile/chart/tile.chart.component.spec.ts
  src/app/components/tile/chart/tile.chart.component.ts
  src/app/helpers/dashboard-recovery-now.helper.spec.ts
  src/app/helpers/dashboard-recovery-now.helper.ts
  src/app/helpers/dashboard-special-chart-types.ts
  src/app/helpers/dashboard-tile-view-model.helper.spec.ts
  src/app/helpers/dashboard-tile-view-model.helper.ts
  src/app/models/app-user.interface.ts
  src/app/services/app.event.service.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/app/utils/app.user.utilities.spec.ts
  src/app/utils/app.user.utilities.ts
Due: lint-angular

chore: bump sl
  functions/package-lock.json
  functions/package.json
  package-lock.json
  package.json
Due: none

chore: bump reparse version
  functions/src/reparse/sports-lib-reparse.config.ts
Due: lint-functions

chore: reparse improvements
  functions/src/scripts/reparse-sports-lib-events.spec.ts
  functions/src/scripts/reparse-sports-lib-events.ts
Due: lint-functions

chore: mvp for tss chart
  functions/src/scripts/reparse-sports-lib-events.ts
  src/app/components/charts/form/charts.form.component.css
  src/app/components/charts/form/charts.form.component.html
  src/app/components/charts/form/charts.form.component.spec.ts
  src/app/components/charts/form/charts.form.component.ts
  src/app/components/tile/actions/chart/tile.chart.actions.component.html
  src/app/components/tile/actions/chart/tile.chart.actions.component.spec.ts
  src/app/components/tile/actions/chart/tile.chart.actions.component.ts
  src/app/components/tile/chart/tile.chart.component.css
  src/app/components/tile/chart/tile.chart.component.html
  src/app/components/tile/chart/tile.chart.component.spec.ts
  src/app/components/tile/chart/tile.chart.component.ts
  src/app/helpers/dashboard-form.helper.spec.ts
  src/app/helpers/dashboard-form.helper.ts
  src/app/helpers/dashboard-special-chart-types.ts
  src/app/helpers/dashboard-tile-view-model.helper.spec.ts
  src/app/helpers/dashboard-tile-view-model.helper.ts
  src/app/modules/app-charts.module.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

chore: performance improvements
  src/app/components/dashboard/dashboard.component.spec.ts
  src/app/components/dashboard/dashboard.component.ts
  src/app/components/event-table/event.table.component.ts
  src/app/resolvers/dashboard.resolver.spec.ts
  src/app/resolvers/dashboard.resolver.ts
  src/app/services/app.event.service.ts
Due: lint-angular

chore: event table improvements
  src/app/components/event-table/event.table.component.html
  src/app/components/event-table/event.table.component.spec.ts
  src/app/components/event-table/event.table.component.ts
  src/app/helpers/event-table-query.helper.spec.ts
  src/app/helpers/event-table-query.helper.ts
Due: lint-angular

Revert "chore: event table improvements"
  src/app/components/event-table/event.table.component.html
  src/app/components/event-table/event.table.component.spec.ts
  src/app/components/event-table/event.table.component.ts
  src/app/helpers/event-table-query.helper.spec.ts
  src/app/helpers/event-table-query.helper.ts
Due: lint-angular

chore: fix for charts
  src/app/components/event/chart/actions/event.card.chart.actions.component.spec.ts
  src/app/components/event/chart/actions/event.card.chart.actions.component.ts
  src/app/components/event/chart/event.card.chart.component.html
  src/app/components/event/chart/event.card.chart.component.spec.ts
  src/app/components/event/chart/event.card.chart.component.ts
  src/app/components/event/event.card.component.spec.ts
  src/app/components/event/event.card.component.ts
  src/app/helpers/event-echarts-xaxis.helper.spec.ts
  src/app/helpers/event-echarts-xaxis.helper.ts
  src/app/shared/help.content.ts
Due: lint-angular

chore: recovery time improvements
  src/app/components/dashboard/dashboard.component.html
  src/app/components/summaries/summaries.component.spec.ts
  src/app/components/summaries/summaries.component.ts
  src/app/helpers/dashboard-recovery-now.helper.spec.ts
  src/app/helpers/dashboard-recovery-now.helper.ts
  src/app/helpers/dashboard-tile-view-model.helper.spec.ts
  src/app/helpers/dashboard-tile-view-model.helper.ts
  src/app/shared/help.content.ts
Due: lint-angular

Path conditions:
  lint-functions: any of: **/*.{ts,js} and ^functions/
  lint-angular: any of: {src/*.{ts,html},src/**/*.{ts,html}}
