Repository jimmykane/quantified-self: changes, and which lefthook commands are due for each by the changed paths.
All: lint-functions, lint-angular

lint-functions:
  run: npx eslint {staged_files} --fix && git add {staged_files}

lint-angular:
  run: ESLINT_USE_FLAT_CONFIG=false npx eslint {staged_files} --fix && git add {staged_files}

chore: add loading warning
  src/app/components/event-search/event-search.component.spec.ts
  src/app/components/event-search/event-search.component.ts
Due: lint-angular

chore: bump sl reparse
  functions/src/reparse/sports-lib-reparse.config.ts
Due: lint-functions

chore: improve tss chart
  src/app/components/charts/form/charts.form.component.css
  src/app/components/charts/form/charts.form.component.html
  src/app/components/charts/form/charts.form.component.spec.ts
  src/app/components/charts/form/charts.form.component.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

chore: disable charts for now
  src/app/components/tile/actions/chart/tile.chart.actions.component.html
  src/app/components/tile/actions/chart/tile.chart.actions.component.spec.ts
  src/app/components/tile/actions/chart/tile.chart.actions.component.ts
  src/app/shared/help.content.ts
Due: lint-angular

chore: fix for new TSS
  src/app/components/data-type-icon/data-type-icon.component.ts
  src/app/helpers/dashboard-form.helper.spec.ts
  src/app/helpers/dashboard-form.helper.ts
  src/app/helpers/dashboard-tile-view-model.helper.spec.ts
  src/app/helpers/summary-metric-tabs.helper.spec.ts
  src/app/helpers/summary-stats.helper.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: pr feedback
  src/app/firebase/firestore.spec.ts
  src/app/firebase/firestore.ts
Due: lint-angular

chore: bump version
  package.json
Due: none

chore: fix tests
  src/app/helpers/dashboard-form.helper.spec.ts
Due: lint-angular

chore: change order
  src/app/constants/event-summary-metric-groups.ts
Due: lint-angular

chore: fix issues with app readyness
  src/app/services/app-check-readiness.service.spec.ts
  src/app/services/app-check-readiness.service.ts
  src/app/services/app.fit-upload.service.spec.ts
  src/app/services/app.fit-upload.service.ts
  src/app/services/app.functions.service.spec.ts
  src/app/services/app.functions.service.ts
Due: lint-angular

feature: mvp for derived metrics
  functions/src/config.spec.ts
  functions/src/config.ts
  functions/src/derived-metrics/derived-metrics.service.ts
  functions/src/derived-metrics/derived-metrics.trigger.ts
  functions/src/derived-metrics/ensure-derived-metrics.ts
  functions/src/index.ts
  functions/src/shared/cloud-tasks-derived-metrics.spec.ts
  functions/src/shared/cloud-tasks-reparse.spec.ts
  functions/src/shared/cloud-tasks.ts
  functions/src/tasks/derived-metrics-worker.ts
  shared/derived-metrics.ts
  shared/functions-manifest.ts
  src/app/components/summaries/summaries.component.css
  src/app/components/summaries/summaries.component.html
  src/app/components/summaries/summaries.component.spec.ts
  src/app/components/summaries/summaries.component.ts
  src/app/helpers/dashboard-form.helper.spec.ts
  src/app/helpers/dashboard-form.helper.ts
  src/app/helpers/dashboard-tile-view-model.helper.spec.ts
  src/app/helpers/dashboard-tile-view-model.helper.ts
  src/app/services/dashboard-derived-metrics.service.spec.ts
  src/app/services/dashboard-derived-metrics.service.ts
  src/app/shared/derived-metrics.shared.spec.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

refactor: split admin to small pieces
  functions/src/admin/admin-generic-error.spec.ts
  functions/src/admin/financials.handlers.spec.ts
  functions/src/admin/handlers/financials.handlers.ts
  functions/src/admin/handlers/impersonation.handlers.ts
  functions/src/admin/handlers/maintenance.handlers.ts
  functions/src/admin/handlers/queues.handlers.ts
  functions/src/admin/handlers/trends.handlers.ts
  functions/src/admin/handlers/users.handlers.ts
  functions/src/admin/index.ts
  functions/src/admin/maintenance.handlers.spec.ts
  functions/src/admin/queues.handlers.spec.ts
  functions/src/admin/shared/date.utils.ts
  functions/src/admin/shared/error.utils.ts
  functions/src/admin/shared/subscription.constants.ts
  functions/src/admin/shared/types.ts
  functions/src/admin/shared/user-enrichment.ts
  functions/src/admin/test-utils/admin-test-harness.spec.ts
  functions/src/admin/trends.handlers.spec.ts
  functions/src/admin/user-count.handlers.spec.ts
  functions/src/admin/users.handlers.spec.ts
  functions/src/index.ts
  functions/src/users/admin-filtering.spec.ts
  functions/src/users/admin.spec.ts
  functions/src/users/admin.ts
Due: lint-functions

chore: admin interface
  functions/src/users/admin.spec.ts
  functions/src/users/admin.ts
  src/app/components/admin/admin-dashboard/admin-dashboard.component.html
  src/app/components/admin/admin-dashboard/admin-dashboard.component.spec.ts
  src/app/components/admin/admin-queue-monitor/admin-queue-monitor.component.html
  src/app/components/admin/admin-queue-monitor/admin-queue-monitor.component.spec.ts
  src/app/components/admin/admin-queue-monitor/admin-queue-monitor.component.ts
  src/app/components/admin/admin-queue-stats/admin-queue-stats.component.html
  src/app/components/admin/admin-queue-stats/admin-queue-stats.component.spec.ts
  src/app/components/admin/admin-queue-stats/admin-queue-stats.component.ts
  src/app/modules/admin.module.ts
  src/app/services/admin.service.spec.ts
  src/app/services/admin.service.ts
Due: lint-functions, lint-angular

chore: gate
  functions/src/derived-metrics/derived-metrics-uid-gate.spec.ts
  functions/src/derived-metrics/derived-metrics-uid-gate.ts
  functions/src/derived-metrics/derived-metrics.service.ts
Due: lint-functions

chore: dashboard chart manager
  src/app/components/summaries/chart-manager-dialog/chart-manager-dialog.component.css
  src/app/components/summaries/chart-manager-dialog/chart-manager-dialog.component.html
  src/app/components/summaries/chart-manager-dialog/chart-manager-dialog.component.spec.ts
  src/app/components/summaries/chart-manager-dialog/chart-manager-dialog.component.ts
  src/app/components/summaries/summaries.component.css
  src/app/components/summaries/summaries.component.html
  src/app/components/summaries/summaries.component.spec.ts
  src/app/components/summaries/summaries.component.ts
  src/app/components/tile/actions/chart/tile.chart.actions.component.html
  src/app/components/tile/actions/chart/tile.chart.actions.component.spec.ts
  src/app/components/tile/actions/chart/tile.chart.actions.component.ts
  src/app/components/tile/actions/map/tile.map.actions.component.html
  src/app/components/tile/actions/map/tile.map.actions.component.spec.ts
  src/app/helpers/dashboard-special-chart-types.spec.ts
  src/app/helpers/dashboard-special-chart-types.ts
  src/app/helpers/dashboard-tile-view-model.helper.spec.ts
  src/app/helpers/dashboard-tile-view-model.helper.ts
  src/app/modules/dashboard.module.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

chore: sl reparse logging
  functions/src/reparse/sports-lib-reparse.config.ts
  functions/src/reparse/sports-lib-reparse.service.ts
  functions/src/schedule/sports-lib-reparse.ts
  functions/src/tasks/sports-lib-reparse-worker.ts
Due: lint-functions

fix: for activity order
  src/app/services/app.original-file-hydration.service.spec.ts
  src/app/services/app.original-file-hydration.service.ts
Due: lint-angular

chore: fix activity ids suffle on reparsing
  firestore.rules
  functions/src/events/reprocess-event.spec.ts
  functions/src/reparse/SPORTS_LIB_REPARSE_RUNBOOK.md
  functions/src/reparse/sports-lib-reparse.service.spec.ts
  functions/src/reparse/sports-lib-reparse.service.ts
  functions/src/shared/event-writer.spec.ts
  functions/src/shared/event-writer.ts
  functions/src/shared/id-generator.spec.ts
  functions/src/shared/id-generator.ts
  shared/app-event.interface.ts
  src/app/services/app.event-reprocess.service.spec.ts
  src/app/services/app.event-reprocess.service.ts
  src/app/services/app.event.service.spec.ts
  src/app/services/app.event.service.ts
  src/firestore.rules.spec.ts
Due: lint-functions, lint-angular

chore: fixes
  functions/src/reparse/SPORTS_LIB_REPARSE_RUNBOOK.md
  functions/src/reparse/sports-lib-reparse.service.spec.ts
  functions/src/reparse/sports-lib-reparse.service.ts
Due: lint-functions

chore: bump sl
  functions/package-lock.json
  functions/package.json
  package-lock.json
  package.json
Due: none

chore: fix for calling emu
  src/app/services/app.fit-upload.service.spec.ts
  src/app/services/app.fit-upload.service.ts
Due: lint-angular

chore: fix issue
  functions/src/reparse/sports-lib-reparse.service.spec.ts
  functions/src/reparse/sports-lib-reparse.service.ts
Due: lint-functions

chore: timestamp
  functions/src/events/upload-activity.ts
Due: lint-functions

fix: for emu
  functions/src/index.ts
Due: lint-functions

chore: bump up reparse speed
  functions/src/reparse/sports-lib-reparse.config.ts
  functions/src/reparse/sports-lib-reparse.service.ts
  functions/src/schedule/sports-lib-reparse.ts
  functions/src/tasks/sports-lib-reparse-worker.ts
Due: lint-functions

chore: prepare for reparse for my uuid only
  functions/src/reparse/sports-lib-reparse.config.ts
Due: lint-functions

chore: bump cpu to 2
  functions/src/tasks/sports-lib-reparse-worker.ts
Due: lint-functions

chore: concurrency 1
  functions/src/tasks/sports-lib-reparse-worker.ts
Due: lint-functions

chore: parity for frontend
  src/app/services/app.original-file-hydration.service.spec.ts
  src/app/services/app.original-file-hydration.service.ts
Due: lint-angular

chore: bump sl
  functions/package-lock.json
  functions/package.json
  functions/src/reparse/sports-lib-reparse.config.ts
  package-lock.json
  package.json
Due: lint-functions

chore: limits
  functions/src/schedule/sports-lib-reparse.spec.ts
  functions/src/schedule/sports-lib-reparse.ts
Due: lint-functions

chore: guard current version
  functions/src/reparse/sports-lib-reparse.service.spec.ts
  functions/src/reparse/sports-lib-reparse.service.ts
Due: lint-functions

chore: merge global and local
  functions/src/schedule/sports-lib-reparse.spec.ts
  functions/src/schedule/sports-lib-reparse.ts
Due: lint-functions

chore: remove allowlist
  functions/src/reparse/sports-lib-reparse.config.ts
Due: lint-functions

chore: should me empty array
  functions/src/reparse/sports-lib-reparse.config.ts
Due: lint-functions

chore: add retry
  src/app/services/dashboard-derived-metrics.service.spec.ts
  src/app/services/dashboard-derived-metrics.service.ts
  src/app/shared/help.content.ts
Due: lint-angular

chore: increase enqueue limit
  functions/src/reparse/sports-lib-reparse.config.ts
Due: lint-functions

fix: tests
  functions/src/admin/admin-generic-error.spec.ts
  functions/src/admin/financials.handlers.spec.ts
  functions/src/admin/maintenance.handlers.spec.ts
  functions/src/admin/queues.handlers.spec.ts
  functions/src/admin/test-utils/admin-test-harness.ts
  functions/src/admin/trends.handlers.spec.ts
  functions/src/admin/user-count.handlers.spec.ts
  functions/src/admin/users.handlers.spec.ts
  functions/tsconfig.json
  src/app/services/dashboard-derived-metrics.service.spec.ts
  src/app/services/dashboard-derived-metrics.service.ts
Due: lint-functions, lint-angular

refactor: collections
  firestore.rules
  functions/src/admin/handlers/queues.handlers.ts
  functions/src/admin/queues.handlers.spec.ts
  functions/src/admin/shared/types.ts
  functions/src/derived-metrics/derived-metrics-uid-gate.spec.ts
  functions/src/derived-metrics/derived-metrics-uid-gate.ts
  functions/src/derived-metrics/derived-metrics.service.ts
  shared/derived-metrics.ts
  src/app/services/dashboard-derived-metrics.service.spec.ts
  src/app/services/dashboard-derived-metrics.service.ts
  src/app/shared/derived-metrics.shared.spec.ts
  src/firestore.rules.spec.ts
Due: lint-functions, lint-angular

chore: prevent duplicate merges
  functions/src/events/merge-events.spec.ts
  functions/src/events/merge-events.ts
  src/app/components/event-table/event.table.component.spec.ts
  src/app/components/event-table/event.table.component.ts
  src/app/services/app.event-merge.service.spec.ts
  src/app/services/app.event-merge.service.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

Path conditions:
  lint-functions: any of: **/*.{ts,js} and ^functions/
  lint-angular: any of: {src/*.{ts,html},src/**/*.{ts,html}}
