Repository jimmykane/quantified-self: changes, and which lefthook commands are due for each by the changed paths.
All: lint-functions, lint-angular

lint-functions:
  run: npx eslint {staged_files} --fix && git add {staged_files}

lint-angular:
  run: ESLINT_USE_FLAT_CONFIG=false npx eslint {staged_files} --fix && git add {staged_files}

fix: dismiss stale tooltips when chart notes change
  docs/frontend-ui.md
  src/app/helpers/echarts-host-controller.spec.ts
  src/app/helpers/echarts-host-controller.ts
  src/app/helpers/timeline-notes-chart.interaction.spec.ts
Due: lint-angular

fix: stabilize Today summary during dashboard loading
  docs/frontend-ui.md
  src/app/components/summaries/summaries.component.css
  src/app/components/summaries/summaries.component.html
  src/app/components/summaries/summaries.component.spec.ts
Due: lint-angular

fix: preload dashboard charts in background
  docs/frontend-ui.md
  src/app/components/charts/health/dashboard-health-chart.component.spec.ts
  src/app/components/charts/health/dashboard-health-chart.component.ts
  src/app/components/summaries/summaries.component.html
  src/app/components/summaries/summaries.component.spec.ts
  src/app/components/summaries/summaries.component.ts
  src/app/helpers/chart-viewport-queue.spec.ts
  src/app/helpers/chart-viewport-queue.ts
Due: lint-angular

fix: start dashboard charts after view attachment
  docs/frontend-ui.md
  src/app/components/charts/health/dashboard-health-chart.component.spec.ts
  src/app/components/charts/health/dashboard-health-chart.component.ts
  src/app/helpers/chart-viewport-queue.spec.ts
  src/app/helpers/chart-viewport-queue.ts
Due: lint-angular

fix: render stress states as time blocks
  docs/frontend-ui.md
  src/app/helpers/health-metric-chart.helper.spec.ts
  src/app/helpers/health-metric-chart.helper.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: prevent stranded token refresh retries
  docs/provider-integration-guide.md
  functions/src/queue-utils.ts
  functions/src/queue.spec.ts
  functions/src/queue.ts
  functions/src/shared/cloud-tasks.spec.ts
  functions/src/shared/cloud-tasks.ts
  functions/src/tasks/workout-processor.ts
Due: lint-functions

Revert "fix: prevent stranded token refresh retries"
  docs/provider-integration-guide.md
  functions/src/queue-utils.ts
  functions/src/queue.spec.ts
  functions/src/queue.ts
  functions/src/shared/cloud-tasks.spec.ts
  functions/src/shared/cloud-tasks.ts
  functions/src/tasks/workout-processor.ts
Due: lint-functions

Revert "fix: preserve token refresh contention deferral"
  docs/provider-integration-guide.md
  functions/src/queue.spec.ts
  functions/src/queue.ts
Due: lint-functions

Revert "fix: defer workout retries during token refresh contention"
  docs/provider-integration-guide.md
  functions/src/queue-utils.spec.ts
  functions/src/queue-utils.ts
  functions/src/queue.spec.ts
  functions/src/queue.ts
  functions/src/tasks/workout-processor.ts
Due: lint-functions

fix: defer workout tasks during token refresh contention
  docs/provider-integration-guide.md
  functions/src/garmin/queue.spec.ts
  functions/src/garmin/queue.ts
  functions/src/queue-integration.spec.ts
  functions/src/queue-utils.spec.ts
  functions/src/queue-utils.ts
  functions/src/queue.spec.ts
  functions/src/queue.ts
  functions/src/queue/token-refresh-contention.spec.ts
  functions/src/queue/token-refresh-contention.ts
  functions/src/shared/cloud-tasks.spec.ts
  functions/src/shared/cloud-tasks.ts
  functions/src/tasks/workout-processor.spec.ts
  functions/src/tasks/workout-processor.ts
Due: lint-functions

fix: bound workout completion cleanup writes
  functions/src/training-plans/delete-training-plan.persistence.spec.ts
  functions/src/training-plans/delete-training-plan.ts
  functions/src/training-plans/persistence.ts
Due: lint-functions

fix: deduplicate token contention recoveries
  docs/provider-integration-guide.md
  functions/src/garmin/queue.ts
  functions/src/queue-utils.spec.ts
  functions/src/queue-utils.ts
  functions/src/queue.spec.ts
  functions/src/queue.ts
  functions/src/queue/queue-item.interface.ts
  functions/src/queue/token-refresh-contention.spec.ts
  functions/src/queue/token-refresh-contention.ts
  functions/src/shared/cloud-tasks.spec.ts
  functions/src/shared/cloud-tasks.ts
  functions/src/tasks/workout-processor.spec.ts
  functions/src/tasks/workout-processor.ts
Due: lint-functions

fix: retain multi-page Suunto guide evidence
  functions/src/suunto/guide-completion.spec.ts
  functions/src/suunto/guide-completion.ts
  functions/src/training-plans/delivery/suunto/suunto.emulator.spec.ts
  functions/src/training-plans/delivery/test-support/suunto-fit-fixture.ts
Due: lint-functions

fix: remove Health sidenav beta badge
  docs/unified-health-data.md
  src/app/components/sidenav/sidenav.component.html
  src/app/components/sidenav/sidenav.component.spec.ts
Due: lint-angular

feat: redesign dashboard today summary
  src/app/components/summaries/summaries.component.css
  src/app/components/summaries/summaries.component.html
  src/app/components/summaries/summaries.component.spec.ts
  src/app/components/summaries/summaries.component.ts
  src/app/helpers/dashboard-today-visuals.helper.spec.ts
  src/app/helpers/dashboard-today-visuals.helper.ts
Due: lint-angular

fix: log token contention deferrals as info
  functions/src/garmin/queue.spec.ts
  functions/src/queue-utils.ts
  functions/src/queue.spec.ts
  functions/src/queue/token-refresh-contention.spec.ts
  functions/src/queue/token-refresh-contention.ts
  functions/src/tasks/workout-processor.spec.ts
  functions/src/tasks/workout-processor.ts
Due: lint-functions

fix: refine dashboard today visuals
  src/app/components/shared/metric-indicator/metric-indicator.component.html
  src/app/components/shared/metric-indicator/metric-indicator.component.scss
  src/app/components/shared/metric-indicator/metric-indicator.component.spec.ts
  src/app/components/shared/metric-indicator/metric-indicator.component.ts
  src/app/components/summaries/summaries.component.css
  src/app/components/summaries/summaries.component.html
  src/app/components/summaries/summaries.component.spec.ts
  src/app/components/summaries/summaries.component.ts
  src/app/helpers/dashboard-today-visuals.helper.spec.ts
  src/app/helpers/dashboard-today-visuals.helper.ts
Due: lint-angular

fix: stabilize dashboard today hydration
  src/app/components/summaries/summaries.component.css
  src/app/components/summaries/summaries.component.html
  src/app/components/summaries/summaries.component.spec.ts
Due: lint-angular

refactor: reuse workout dispatch recovery for token contention
  functions/src/garmin/queue.ts
  functions/src/queue-utils.spec.ts
  functions/src/queue-utils.ts
  functions/src/queue.spec.ts
  functions/src/queue.ts
  functions/src/queue/queue-item.interface.ts
  functions/src/queue/token-refresh-contention.spec.ts
  functions/src/queue/token-refresh-contention.ts
  functions/src/shared/cloud-tasks.spec.ts
  functions/src/shared/cloud-tasks.ts
  functions/src/tasks/workout-processor.spec.ts
  functions/src/tasks/workout-processor.ts
Due: lint-functions

feat: show recent HRV direction
  docs/training-workspace.md
  shared/personal-metric-range.ts
  shared/readiness.ts
  src/app/components/summaries/summaries.component.spec.ts
  src/app/components/summaries/summaries.component.ts
  src/app/components/training/training-workspace.component.spec.ts
  src/app/components/training/training-workspace.component.ts
  src/app/helpers/readiness-hrv-display.helper.ts
  src/app/helpers/training-readiness.helper.spec.ts
  src/app/helpers/training-readiness.helper.ts
  src/app/shared/help.content.ts
  src/app/shared/readiness-personal-range.shared.spec.ts
Due: lint-angular

feat: repair missing Garmin workout schedules
  docs/mcp-server.md
  docs/provider-integration-guide.md
  docs/training-workspace.md
  functions/src/training-plans/delivery/delivery.emulator.spec.ts
  functions/src/training-plans/delivery/garmin/inspection.ts
  functions/src/training-plans/delivery/garmin/transport.spec.ts
  functions/src/training-plans/delivery/garmin/transport.ts
  functions/src/training-plans/delivery/garmin/worker.emulator.spec.ts
  functions/src/training-plans/delivery/runtime.spec.ts
  functions/src/training-plans/delivery/suunto/transport.spec.ts
  functions/src/training-plans/delivery/suunto/transport.ts
  functions/src/training-plans/delivery/verification-contracts.ts
  functions/src/training-plans/delivery/verification-evidence.spec.ts
  functions/src/training-plans/delivery/verification-evidence.ts
  functions/src/training-plans/delivery/verification-worker.ts
  functions/src/training-plans/delivery/worker.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

fix: harden Garmin schedule repair
  docs/provider-integration-guide.md
  docs/training-workspace.md
  functions/src/training-plans/delivery/delivery.emulator.spec.ts
  functions/src/training-plans/delivery/garmin/transport.spec.ts
  functions/src/training-plans/delivery/garmin/transport.ts
  functions/src/training-plans/delivery/verification-evidence.spec.ts
  functions/src/training-plans/delivery/verification-evidence.ts
  functions/src/training-plans/delivery/worker.ts
Due: lint-functions

fix: deduplicate initial token refresh recovery
  functions/src/queue/token-refresh-contention.spec.ts
  functions/src/queue/token-refresh-contention.ts
  functions/src/shared/cloud-tasks.spec.ts
  functions/src/shared/cloud-tasks.ts
Due: lint-functions

test: fix provider queue integration fixture
  functions/src/queue-integration.spec.ts
Due: lint-functions

fix: reject stale workout recovery tasks
  functions/src/tasks/workout-processor.spec.ts
  functions/src/tasks/workout-processor.ts
Due: lint-functions

fix: harden COROS training delivery races
  docs/coros-integration.md
  docs/provider-integration-guide.md
  docs/training-workspace.md
  functions/src/coros/training-completion.emulator.spec.ts
  functions/src/coros/training-completion.ts
  functions/src/training-plans/delivery/batch-worker.ts
  functions/src/training-plans/delivery/connection.spec.ts
  functions/src/training-plans/delivery/connection.ts
  functions/src/training-plans/delivery/coros/batch-worker.emulator.spec.ts
  functions/src/training-plans/delivery/coros/transport.spec.ts
  functions/src/training-plans/delivery/coros/transport.ts
  functions/src/training-plans/providers/coros-training-plan.serializer.ts
  functions/src/training-plans/providers/fixtures/coros-running-v1.json
  functions/src/training-plans/providers/provider-mapping.spec.ts
Due: lint-functions

fix: keep COROS recovery dispatch fair
  docs/coros-integration.md
  docs/training-workspace.md
  functions/src/secrets.spec.ts
  functions/src/training-plans/delivery/tasks.spec.ts
  functions/src/training-plans/delivery/tasks.ts
Due: lint-functions

fix: recover deferred COROS batch attempts
  functions/src/training-plans/delivery/batch-worker.ts
  functions/src/training-plans/delivery/coros/batch-worker.emulator.spec.ts
Due: lint-functions

fix: reject conflicting COROS completion links
  functions/src/coros/training-completion.emulator.spec.ts
  functions/src/coros/training-completion.ts
Due: lint-functions

fix: retry COROS preflight read failures
  functions/src/training-plans/delivery/coros/batch-worker.emulator.spec.ts
  functions/src/training-plans/delivery/coros/transport.ts
Due: lint-functions

fix: correct COROS batch journals
  functions/src/training-plans/delivery/batch-worker.ts
  functions/src/training-plans/delivery/coros/batch-worker.emulator.spec.ts
Due: lint-functions

fix: resolve uncertain COROS completions
  functions/src/coros/training-completion.emulator.spec.ts
  functions/src/coros/training-completion.ts
Due: lint-functions

fix: clarify Suunto sleep and health history
  docs/provider-integration-guide.md
  docs/suunto-integration.md
  src/app/components/services/services.component.spec.ts
  src/app/components/services/services.component.ts
Due: lint-angular

fix: surface COROS health history import
  docs/coros-integration.md
  docs/provider-integration-guide.md
  src/app/components/services/services.component.spec.ts
  src/app/components/services/services.component.ts
Due: lint-angular

feat: extend Health sample charts to 90 days
  docs/unified-health-data.md
  shared/health-firestore-query.ts
  shared/health-query.ts
  src/app/components/charts/health/dashboard-health-chart.component.html
  src/app/components/charts/health/dashboard-health-chart.component.spec.ts
  src/app/components/charts/health/dashboard-health-chart.component.ts
  src/app/components/health/health-workspace.component.html
  src/app/components/health/health-workspace.component.spec.ts
  src/app/components/health/health-workspace.component.ts
  src/app/components/public-seo/health-preview.data.ts
  src/app/helpers/dashboard-health-context.helper.spec.ts
  src/app/helpers/dashboard-health-context.helper.ts
  src/app/helpers/health-workspace.helper.spec.ts
  src/app/helpers/health-workspace.helper.ts
  src/app/services/app.health.service.spec.ts
  src/app/services/app.health.service.ts
  src/app/shared/health.shared.spec.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: harden Health range correction
  src/app/components/charts/health/dashboard-health-chart.component.spec.ts
  src/app/components/charts/health/dashboard-health-chart.component.ts
  src/app/helpers/health-workspace.helper.ts
  src/app/models/app-user.interface.ts
  src/app/services/app.health.service.ts
Due: lint-angular

Path conditions:
  lint-functions: any of: **/*.{ts,js} and ^functions/
  lint-angular: any of: {src/*.{ts,html},src/**/*.{ts,html}}
