Repository jimmykane/quantified-self: changes, and which lefthook commands are due for each by the changed paths.
All: lint-functions, lint-angular

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint-functions:
      root: "functions"
      glob: "**/*.{ts,js}"
      run: npx eslint {staged_files} --fix && git add {staged_files}
    lint-angular:
      glob: "{src/*.{ts,html},src/**/*.{ts,html}}"
      run: ESLINT_USE_FLAT_CONFIG=false npx eslint {staged_files} --fix && git add {staged_files}

chore: rules
  .agent/rules/rules.md
Due: none

chore: benchmark improvements
  src/app/components/benchmark/benchmark-report.component.ts
  src/app/components/benchmark/benchmark-selection-dialog.component.css
  src/app/components/benchmark/benchmark-selection-dialog.component.ts
Due: lint-angular

feature: sharable events to public
  .github/workflows/_run-tests.yml
  firebase.json
  firestore.rules
  functions/src/shared/event-writer.ts
  functions/src/utils.ts
  package.json
  src/app/app.routing.module.ts
  src/app/components/event-actions/event.actions.component.html
  src/app/components/event-actions/event.actions.component.ts
  src/app/components/event-summary/event-summary.component.html
  src/app/components/event-summary/event-summary.component.ts
  src/app/components/event-summary/service-source-icon/service-source-icon.component.ts
  src/app/components/event-table/event.table.component.html
  src/app/components/event-table/event.table.component.ts
  src/app/components/event/chart/event.card.chart.component.ts
  src/app/components/event/event.card.component.html
  src/app/components/event/map/event.card.map.component.ts
  src/app/resolvers/event.resolver.ts
  src/app/services/app.event.service.ts
  src/firestore.rules.spec.ts
  src/storage.rules.spec.ts
  storage.quantified-self-io.rules
  vitest.rules.config.ts
Due: lint-functions, lint-angular

chore: share benchmark
  package-lock.json
  package.json
  src/app/components/benchmark/benchmark-bottom-sheet.component.css
  src/app/components/benchmark/benchmark-bottom-sheet.component.spec.ts
  src/app/components/benchmark/benchmark-bottom-sheet.component.ts
  src/app/components/benchmark/benchmark-report.component.css
  src/app/services/app.share.service.ts
  src/environments/environment.beta.ts
  src/environments/environment.prod.ts
  src/environments/environment.ts
Due: lint-angular

chore: improve share benchmark
  package-lock.json
  package.json
  src/app/components/benchmark/benchmark-bottom-sheet.component.css
  src/app/components/benchmark/benchmark-bottom-sheet.component.ts
  src/app/components/benchmark/benchmark-report.component.css
  src/app/components/benchmark/benchmark-report.component.ts
  src/app/services/app.share.service.spec.ts
  src/app/services/app.share.service.ts
Due: lint-angular

fix: GitHub issue 355
  src/app/components/event/chart/event.card.chart.component.ts
  src/app/components/user-settings/user-settings.component.html
Due: lint-angular

chore: agents
  AGENTS.md
Due: none

chore: improve benchmark
  src/app/components/benchmark/benchmark-report.component.css
  src/app/components/benchmark/benchmark-report.component.ts
Due: lint-angular

fix: test setup
  src/test-setup.ts
Due: lint-angular

chore: fix for benchmark test
  src/app/components/benchmark/benchmark-report.component.spec.ts
Due: lint-angular

feature: stamp sportslib version
  firestore.rules
  functions/src/shared/get-sports-lib-version.ts
  functions/src/shared/processing-metadata.interface.ts
  functions/src/shared/sports-lib-version.node.ts
  functions/src/utils-usage.spec.ts
  functions/src/utils.ts
  src/app/constants/sports-lib-version.browser.ts
  src/app/services/app.event.service.spec.ts
  src/app/services/app.event.service.ts
Due: lint-functions, lint-angular

chore: fix component
  src/app/app.component.html
Due: lint-angular

fix: rules
  firestore.rules
  src/firestore.rules.spec.ts
Due: lint-angular

fix: functions build
  functions/src/shared/sports-lib-version.node.ts
Due: lint-functions

chore: ui
  src/app/app.component.html
  src/app/app.component.scss
  src/app/components/event/stats-table/event.card.stats-table.component.html
  src/app/components/event/stats-table/event.card.stats-table.component.spec.ts
  src/app/components/event/stats-table/event.card.stats-table.component.ts
  src/app/components/notifications/processing-indicator/processing-indicator.component.css
  src/app/components/notifications/processing-indicator/processing-indicator.component.html
  src/app/components/notifications/processing-indicator/processing-indicator.component.spec.ts
  src/app/components/notifications/processing-indicator/processing-indicator.component.ts
Due: lint-angular

chore: sl
  functions/package-lock.json
  functions/package.json
  package-lock.json
  package.json
Due: none

chore: tests
  functions/src/shared/get-sports-lib-version.spec.ts
  functions/src/shared/sports-lib-version.node.spec.ts
Due: lint-functions

chore: improve badge
  src/app/app.component.html
  src/app/components/sidenav/sidenav.component.html
  src/app/services/app.whats-new.service.spec.ts
  src/app/services/app.whats-new.service.ts
Due: lint-angular

chore: improve processing
  src/app/components/notifications/processing-indicator/processing-indicator.component.css
  src/app/components/notifications/processing-indicator/processing-indicator.component.html
  src/app/components/notifications/processing-indicator/processing-indicator.component.spec.ts
  src/app/components/notifications/processing-indicator/processing-indicator.component.ts
  src/app/services/app.processing.service.ts
Due: lint-angular

chore: improve service worker
  angular.json
  ngsw-config.json
  src/app/app.routing.module.ts
  src/app/resolvers/network-aware-preloading.strategy.spec.ts
  src/app/resolvers/network-aware-preloading.strategy.ts
Due: lint-angular

chore: improve benchmark sharing
  src/app/components/benchmark/benchmark-bottom-sheet.component.spec.ts
  src/app/components/benchmark/benchmark-bottom-sheet.component.ts
Due: lint-angular

fix: bug
  src/app/components/user-settings/user-settings.component.ts
Due: lint-angular

chore: bump version
  package.json
Due: none

fix: share
  src/app/services/app.share.service.ts
Due: lint-angular

chore: update subscription , pricing and info
  src/app/app.component.scss
  src/app/app.component.spec.ts
  src/app/app.routing.module.ts
  src/app/authentication/onboarding.guard.ts
  src/app/authentication/pricing-redirect.guard.spec.ts
  src/app/authentication/pricing-redirect.guard.ts
  src/app/authentication/pro.guard.spec.ts
  src/app/authentication/pro.guard.ts
  src/app/components/benchmark/benchmark-bottom-sheet.component.ts
  src/app/components/grace-period-banner/grace-period-banner.component.html
  src/app/components/history-import-form/history-import.form.component.html
  src/app/components/payment-cancel/payment-cancel.component.ts
  src/app/components/pricing/pricing.component.html
  src/app/components/pricing/pricing.component.scss
  src/app/components/pricing/pricing.component.spec.ts
  src/app/components/pricing/pricing.component.ts
  src/app/components/sidenav/sidenav.component.html
  src/app/components/upload/upload-activities/upload-activities.component.html
  src/app/services/app.payment.service.ts
Due: lint-angular

chore: improve home
  src/app/components/home/home.component.html
  src/app/components/home/home.component.scss
Due: lint-angular

chore: pricing
  src/app/authentication/pricing-redirect.guard.spec.ts
  src/app/authentication/pricing-redirect.guard.ts
  src/app/components/pricing/pricing.component.html
  src/app/components/pricing/pricing.component.scss
  src/app/components/sidenav/sidenav.component.html
Due: lint-angular

fix: try for sharing
  src/app/components/benchmark/benchmark-bottom-sheet.component.ts
Due: lint-angular

fix: pricing
  src/app/components/pricing/pricing.component.html
  src/app/components/pricing/pricing.component.scss
Due: lint-angular

chore: fix benchmark
  src/app/components/benchmark/benchmark-bottom-sheet.component.ts
Due: lint-angular

chore: css
  src/app/app.component.scss
  src/app/components/login/login.component.scss
  src/styles.scss
Due: none

chore: pricing improvements
  src/app/components/pricing/pricing.component.html
  src/app/components/pricing/pricing.component.scss
  src/app/components/pricing/pricing.component.ts
Due: lint-angular

chore: fix admin
  src/app/components/admin/admin-changelog/admin-changelog.component.html
  src/app/components/admin/admin-changelog/admin-changelog.component.spec.ts
  src/app/components/admin/admin-changelog/admin-changelog.component.ts
Due: lint-angular

chore: fix warning
  src/app/app.component.spec.ts
Due: lint-angular

chore: fix share
  src/app/components/benchmark/benchmark-bottom-sheet.component.ts
Due: lint-angular

chore: benchmark
  src/app/components/benchmark/benchmark-bottom-sheet.component.ts
Due: lint-angular

chore: add logging
  src/app/components/benchmark/benchmark-bottom-sheet.component.spec.ts
  src/app/components/benchmark/benchmark-bottom-sheet.component.ts
Due: lint-angular

chore: sanitize more and log better
  src/app/services/app.event.service.spec.ts
  src/app/services/app.event.service.ts
  src/app/utils/event-json-sanitizer.spec.ts
  src/app/utils/event-json-sanitizer.ts
Due: lint-angular

chore: enable my tracks for basic members
  src/app/app.routing.module.ts
  src/app/authentication/pro.guard.spec.ts
  src/app/authentication/pro.guard.ts
Due: lint-angular
