Repository jimmykane/quantified-self: changes, and which lefthook commands are due for each by the changed paths.
All: lint-functions, lint-angular

lint-functions:
  run: npx eslint {staged_files} --fix && git add {staged_files}

lint-angular:
  run: ESLINT_USE_FLAT_CONFIG=false npx eslint {staged_files} --fix && git add {staged_files}

feat: queue MCP connection service updates
  docs/email-lifecycle.md
  functions/package.json
  functions/src/scripts/queue-mcp-connection-update.spec.ts
  functions/src/scripts/queue-mcp-connection-update.ts
Due: lint-functions

fix: pace MCP connection update emails
  docs/email-lifecycle.md
  functions/src/scripts/queue-mcp-connection-update.spec.ts
  functions/src/scripts/queue-mcp-connection-update.ts
Due: lint-functions

fix: preserve lap columns after search
  src/app/components/event/laps/event.card.laps.component.spec.ts
  src/app/components/event/laps/event.card.laps.component.ts
Due: lint-angular

fix: increase derived metrics memory
  docs/training-workspace.md
  functions/src/derived-metrics/ensure-derived-metrics.spec.ts
  functions/src/derived-metrics/ensure-derived-metrics.ts
Due: lint-functions

feat: show sport TSS in training mix
  docs/training-workspace.md
  src/app/components/training/training-workspace.component.html
  src/app/components/training/training-workspace.component.scss
  src/app/components/training/training-workspace.component.spec.ts
  src/app/components/training/training-workspace.component.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: remove duplicate training divider
  docs/training-workspace.md
  src/app/components/training/training-workspace.component.scss
  src/app/components/training/training-workspace.component.spec.ts
Due: lint-angular

fix: hide empty durability scopes
  docs/training-workspace.md
  src/app/components/training/training-durability-trajectory-chart.component.spec.ts
  src/app/components/training/training-durability-trajectory-chart.component.ts
  src/app/components/training/training-workspace.component.html
  src/app/components/training/training-workspace.component.ts
  src/app/helpers/training-durability-view.helper.spec.ts
  src/app/helpers/training-durability-view.helper.ts
  src/app/shared/help.content.ts
Due: lint-angular

test: avoid weak RSA key fixture
  functions/src/mcp/oauth.service.spec.ts
Due: lint-functions

docs: focus compare tool SEO on reviewers
  src/app/app.routing.module.spec.ts
  src/app/app.routing.module.ts
Due: lint-angular

docs: add power to compare tool SEO
  src/app/app.routing.module.spec.ts
  src/app/app.routing.module.ts
Due: lint-angular

docs: include all device metrics in compare SEO
  src/app/app.routing.module.spec.ts
  src/app/app.routing.module.ts
Due: lint-angular

docs: update footer company label
  src/app/components/public-footer/public-footer.component.html
  src/app/components/public-footer/public-footer.component.spec.ts
Due: lint-angular

fix: correct Wahoo activity types after upload
  docs/provider-integration-guide.md
  docs/wahoo-integration.md
  functions/package.json
  functions/src/activity-sync/outbound-fingerprint.spec.ts
  functions/src/activity-sync/outbound-fingerprint.ts
  functions/src/activity-sync/process-queue-item.spec.ts
  functions/src/activity-sync/process-queue-item.ts
  functions/src/scripts/correct-wahoo-workout-types.ts
  functions/src/wahoo/activities.spec.ts
  functions/src/wahoo/activities.ts
  functions/src/wahoo/activity-types.spec.ts
  shared/wahoo-activity-types.ts
  src/app/components/upload/upload-activities-to-service/upload-activities-to-service.component.spec.ts
  src/app/components/upload/upload-activities-to-service/upload-activities-to-service.component.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

fix: harden Wahoo correction recovery
  docs/wahoo-integration.md
  functions/src/activity-sync/process-queue-item.spec.ts
  functions/src/activity-sync/process-queue-item.ts
  functions/src/queue/queue-item.interface.ts
  functions/src/scripts/correct-wahoo-workout-types.spec.ts
  functions/src/scripts/correct-wahoo-workout-types.ts
Due: lint-functions

fix: secure Wahoo activity type correction
  docs/function-secret-management.md
  docs/provider-integration-guide.md
  docs/wahoo-integration.md
  functions/.secret.local.example
  functions/src/activity-sync/process-queue-item.spec.ts
  functions/src/activity-sync/process-queue-item.ts
  functions/src/secrets.spec.ts
  functions/src/secrets.ts
  functions/src/wahoo/activities.spec.ts
  functions/src/wahoo/activities.ts
  src/app/components/upload/upload-activities-to-service/upload-activities-to-service.component.spec.ts
  src/app/components/upload/upload-activities-to-service/upload-activities-to-service.component.ts
Due: lint-functions, lint-angular

fix: coordinate OAuth refreshes and recover Wahoo auth
  docs/provider-integration-guide.md
  docs/wahoo-integration.md
  functions/src/OAuth2.spec.ts
  functions/src/OAuth2.ts
  functions/src/activity-sync/process-queue-item.spec.ts
  functions/src/activity-sync/process-queue-item.ts
  functions/src/queue-utils.spec.ts
  functions/src/queue-utils.ts
  functions/src/queue/pending-disconnect-release.spec.ts
  functions/src/queue/pending-disconnect-release.ts
  functions/src/route-delivery-sync/process-queue-item.spec.ts
  functions/src/route-delivery-sync/process-queue-item.ts
  functions/src/service-connection-meta.spec.ts
  functions/src/service-connection-meta.ts
  functions/src/token-refresh-coordinator.spec.ts
  functions/src/token-refresh-coordinator.ts
  functions/src/tokens.spec.ts
  functions/src/tokens.ts
  functions/src/wahoo/activities.spec.ts
  functions/src/wahoo/activities.ts
  functions/src/wahoo/refresh-recovery.ts
  functions/src/wahoo/routes.spec.ts
  functions/src/wahoo/routes.ts
  shared/service-connection.ts
  src/app/components/services/wahoo/services.wahoo.component.html
  src/app/components/services/wahoo/services.wahoo.component.spec.ts
  src/app/components/services/wahoo/services.wahoo.component.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

refactor: simplify direct Wahoo uploads
  docs/function-secret-management.md
  docs/provider-integration-guide.md
  docs/wahoo-integration.md
  functions/.secret.local.example
  functions/src/secrets.spec.ts
  functions/src/secrets.ts
  functions/src/wahoo/activities.spec.ts
  functions/src/wahoo/activities.ts
  src/app/components/upload/upload-activities-to-service/upload-activities-to-service.component.spec.ts
  src/app/components/upload/upload-activities-to-service/upload-activities-to-service.component.ts
Due: lint-functions, lint-angular

fix: harden Wahoo type correction recovery
  docs/wahoo-integration.md
  functions/src/activity-sync/outbound-fingerprint.spec.ts
  functions/src/activity-sync/outbound-fingerprint.ts
  functions/src/activity-sync/process-queue-item.spec.ts
  functions/src/scripts/correct-wahoo-workout-types.spec.ts
  functions/src/scripts/correct-wahoo-workout-types.ts
  functions/src/wahoo/activities.spec.ts
  functions/src/wahoo/activities.ts
Due: lint-functions

fix: guard Wahoo reconnect queue transitions
  functions/src/queue/pending-disconnect-release.spec.ts
  functions/src/queue/pending-disconnect-release.ts
  functions/src/route-delivery-sync/process-queue-item.spec.ts
  functions/src/route-delivery-sync/process-queue-item.ts
Due: lint-functions

docs: clarify Wahoo activity type correction scope
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

feat: add sport-aware event chart profiles
  src/app/helpers/event-chart-sport-profile.helper.spec.ts
  src/app/helpers/event-chart-sport-profile.helper.ts
Due: lint-angular

feat: version event chart visibility preferences
  src/app/services/storage/app.chart.settings.local.storage.service.spec.ts
  src/app/services/storage/app.chart.settings.local.storage.service.ts
Due: lint-angular

feat: integrate sport-aware event chart controls
  src/app/components/event/chart/actions/event.card.chart.actions.component.html
  src/app/components/event/chart/actions/event.card.chart.actions.component.scss
  src/app/components/event/chart/actions/event.card.chart.actions.component.spec.ts
  src/app/components/event/chart/actions/event.card.chart.actions.component.ts
  src/app/components/event/chart/event.card.chart.component.html
  src/app/components/event/chart/event.card.chart.component.spec.ts
  src/app/components/event/chart/event.card.chart.component.ts
  src/app/components/event/event.card.component.html
  src/app/components/event/event.card.component.spec.ts
  src/app/components/event/event.card.component.ts
  src/app/helpers/event-visibility.helper.spec.ts
  src/app/helpers/event-visibility.helper.ts
Due: lint-angular

docs: document sport-aware event chart defaults
  README.md
  docs/event-chart-visibility.md
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: harden sport-aware chart visibility
  docs/event-chart-visibility.md
  src/app/components/event/chart/actions/event.card.chart.actions.component.spec.ts
  src/app/components/event/chart/actions/event.card.chart.actions.component.ts
  src/app/components/event/chart/event.card.chart.component.spec.ts
  src/app/components/event/chart/event.card.chart.component.ts
  src/app/helpers/event-echarts-data.helper.spec.ts
  src/app/helpers/event-echarts-data.helper.ts
Due: lint-angular

fix: harden Wahoo refresh recovery
  docs/provider-integration-guide.md
  docs/wahoo-integration.md
  functions/src/activity-sync/disconnect-routes.spec.ts
  functions/src/activity-sync/metadata.spec.ts
  functions/src/activity-sync/metadata.ts
  functions/src/activity-sync/process-queue-item.spec.ts
  functions/src/activity-sync/process-queue-item.ts
  functions/src/activity-sync/route-cleanup.ts
  functions/src/queue/pending-disconnect-release.spec.ts
  functions/src/queue/pending-disconnect-release.ts
  functions/src/schedule/retry-pending-service-disconnects.spec.ts
  functions/src/schedule/retry-pending-service-disconnects.ts
  functions/src/service-connection-meta.spec.ts
  functions/src/service-connection-meta.ts
  functions/src/token-refresh-coordinator.spec.ts
  functions/src/token-refresh-coordinator.ts
  functions/src/tokens.spec.ts
  functions/src/tokens.ts
  functions/src/wahoo/activities.spec.ts
  functions/src/wahoo/activities.ts
  functions/src/wahoo/history-to-queue.spec.ts
  functions/src/wahoo/history-to-queue.ts
  functions/src/wahoo/routes.spec.ts
  functions/src/wahoo/routes.ts
  shared/service-connection.ts
  src/app/components/services/wahoo/services.wahoo.component.html
  src/app/components/services/wahoo/services.wahoo.component.spec.ts
Due: lint-functions, lint-angular

fix: address sport-aware chart review findings
  docs/event-chart-visibility.md
  src/app/components/event/chart/actions/event.card.chart.actions.component.spec.ts
  src/app/components/event/chart/actions/event.card.chart.actions.component.ts
  src/app/components/event/chart/event.card.chart.component.spec.ts
  src/app/components/event/chart/event.card.chart.component.ts
  src/app/helpers/event-chart-sport-profile.helper.spec.ts
  src/app/helpers/event-chart-sport-profile.helper.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: preserve shared event chart profiles
  src/app/helpers/event-chart-sport-profile.helper.spec.ts
  src/app/helpers/event-chart-sport-profile.helper.ts
Due: lint-angular

refactor: remove event chart visibility migration
  src/app/components/event/chart/event.card.chart.component.spec.ts
  src/app/components/event/chart/event.card.chart.component.ts
  src/app/services/storage/app.chart.settings.local.storage.service.spec.ts
  src/app/services/storage/app.chart.settings.local.storage.service.ts
Due: lint-angular

fix: harden service recovery transitions
  docs/provider-integration-guide.md
  docs/wahoo-integration.md
  firestore.indexes.json
  functions/src/activity-sync/disconnect-routes.spec.ts
  functions/src/activity-sync/process-queue-item.spec.ts
  functions/src/activity-sync/process-queue-item.ts
  functions/src/activity-sync/route-cleanup.ts
  functions/src/coros/queue-processing.spec.ts
  functions/src/firestore-indexes.spec.ts
  functions/src/garmin/queue.spec.ts
  functions/src/garmin/queue.ts
  functions/src/queue-utils.spec.ts
  functions/src/queue-utils.ts
  functions/src/queue.spec.ts
  functions/src/queue.ts
  functions/src/queue/pending-disconnect-release.spec.ts
  functions/src/queue/pending-disconnect-release.ts
  functions/src/route-delivery-sync/process-queue-item.spec.ts
  functions/src/route-delivery-sync/process-queue-item.ts
  functions/src/routes/process-route-sync-queue-item.spec.ts
  functions/src/routes/process-route-sync-queue-item.ts
  functions/src/schedule/retry-pending-service-disconnects.spec.ts
  functions/src/schedule/retry-pending-service-disconnects.ts
  functions/src/service-auth-lifecycle.spec.ts
  functions/src/service-auth-lifecycle.ts
  functions/src/service-connection-meta.spec.ts
  functions/src/service-connection-meta.ts
  functions/src/service-disconnect-pending-state.spec.ts
  functions/src/service-disconnect-pending-state.ts
  functions/src/service-disconnect-pending.spec.ts
  functions/src/service-disconnect-pending.ts
  functions/src/sleep/queue.spec.ts
  functions/src/sleep/queue.ts
  functions/src/wahoo/history-to-queue.spec.ts
  functions/src/wahoo/history-to-queue.ts
  functions/src/wahoo/processor.ts
  shared/service-connection.ts
Due: lint-functions

docs: align event chart visibility contract
  docs/event-chart-visibility.md
Due: none

fix: fit dashboard calendar on mobile
  src/app/components/calendar/activity-calendar-grid/activity-calendar-grid.component.scss
  src/app/components/calendar/activity-calendar-grid/activity-calendar-grid.component.spec.ts
  src/app/components/calendar/activity-calendar-tile/activity-calendar-tile.component.scss
  src/app/components/calendar/activity-calendar-tile/activity-calendar-tile.component.spec.ts
Due: lint-angular

feat: explain event chart recommendations
  docs/event-chart-visibility.md
  src/app/components/event/chart/actions/event.card.chart.actions.component.html
  src/app/components/event/chart/actions/event.card.chart.actions.component.scss
  src/app/components/event/chart/actions/event.card.chart.actions.component.spec.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: guard oauth recovery generations
  docs/provider-integration-guide.md
  docs/wahoo-integration.md
  firestore.rules
  functions/src/OAuth2.spec.ts
  functions/src/OAuth2.ts
  functions/src/service-connection-meta.spec.ts
  functions/src/service-connection-meta.ts
  functions/src/service-disconnect-pending.spec.ts
  functions/src/service-disconnect-pending.ts
  functions/src/token-refresh-coordinator.spec.ts
  functions/src/token-refresh-coordinator.ts
  functions/src/tokens.spec.ts
  functions/src/tokens.ts
  src/firestore.rules.spec.ts
Due: lint-functions, lint-angular

fix: preserve calendar day navigation
  src/app/components/calendar/activity-calendar-tile/activity-calendar-tile.component.spec.ts
  src/app/components/calendar/activity-calendar-tile/activity-calendar-tile.component.ts
  src/app/components/calendar/activity-calendar-volume-list/activity-calendar-volume-list.component.html
  src/app/components/calendar/activity-calendar-volume-list/activity-calendar-volume-list.component.scss
  src/app/components/calendar/activity-calendar-volume-list/activity-calendar-volume-list.component.spec.ts
  src/app/components/calendar/activity-calendar-volume-list/activity-calendar-volume-list.component.ts
  src/app/components/calendar/calendar-day-details/calendar-day-details.component.html
  src/app/components/calendar/calendar-day-details/calendar-day-details.component.spec.ts
  src/app/components/calendar/calendar-day-details/calendar-day-details.component.ts
  src/app/components/calendar/calendar-page/calendar-page.component.spec.ts
  src/app/components/calendar/calendar-page/calendar-page.component.ts
  src/app/components/event-actions/event.actions.component.spec.ts
  src/app/components/event-actions/event.actions.component.ts
  src/app/helpers/activity-calendar-volume.helper.ts
  src/app/services/calendar-day-details-navigation.service.spec.ts
  src/app/services/calendar-day-details-navigation.service.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: preserve concurrent OAuth recovery state
  functions/src/OAuth2.spec.ts
  functions/src/OAuth2.ts
  functions/src/service-auth-lifecycle.ts
  functions/src/service-disconnect-pending.spec.ts
  functions/src/service-disconnect-pending.ts
  src/app/components/services/wahoo/services.wahoo.component.spec.ts
  src/app/components/services/wahoo/services.wahoo.component.ts
Due: lint-functions, lint-angular

fix: remove superseded oauth credentials
  functions/src/OAuth2.spec.ts
  functions/src/OAuth2.ts
Due: lint-functions

fix: close oauth and reconnect lifecycle races
  functions/src/OAuth2.spec.ts
  functions/src/OAuth2.ts
  functions/src/activity-sync/process-queue-item.spec.ts
  functions/src/activity-sync/process-queue-item.ts
  functions/src/coros/auth/wrapper.spec.ts
  functions/src/coros/auth/wrapper.ts
  functions/src/garmin/auth/wrapper.spec.ts
  functions/src/garmin/auth/wrapper.ts
  functions/src/queue/pending-disconnect-release.spec.ts
  functions/src/queue/pending-disconnect-release.ts
  functions/src/service-auth-lifecycle.spec.ts
  functions/src/service-auth-lifecycle.ts
  functions/src/service-connection-meta.spec.ts
  functions/src/service-connection-meta.ts
  functions/src/suunto/auth/wrapper.spec.ts
  functions/src/suunto/auth/wrapper.ts
  functions/src/token-refresh-coordinator.ts
  functions/src/wahoo/auth/wrapper.spec.ts
  functions/src/wahoo/auth/wrapper.ts
  functions/src/wahoo/history-to-queue.spec.ts
  functions/src/wahoo/history-to-queue.ts
  src/app/components/services/wahoo/services.wahoo.component.html
  src/app/components/services/wahoo/services.wahoo.component.spec.ts
Due: lint-functions, lint-angular

docs: clarify pending disconnect release invariant
  docs/provider-integration-guide.md
Due: none

fix: harden Wahoo reconnect lifecycle
  docs/provider-integration-guide.md
  docs/wahoo-integration.md
  functions/src/OAuth2.spec.ts
  functions/src/OAuth2.ts
  functions/src/activity-sync/process-queue-item.ts
  functions/src/coros/auth/wrapper.spec.ts
  functions/src/coros/auth/wrapper.ts
  functions/src/garmin/auth/wrapper.spec.ts
  functions/src/garmin/auth/wrapper.ts
  functions/src/schedule/retry-pending-service-disconnects.spec.ts
  functions/src/schedule/retry-pending-service-disconnects.ts
  functions/src/service-auth-lifecycle.spec.ts
  functions/src/service-auth-lifecycle.ts
  functions/src/service-connection-meta.spec.ts
  functions/src/service-connection-meta.ts
  functions/src/service-disconnect-pending-state.ts
  functions/src/service-disconnect-pending.spec.ts
  functions/src/service-disconnect-pending.ts
  functions/src/service-token-store.ts
  functions/src/suunto/auth/wrapper.spec.ts
  functions/src/suunto/auth/wrapper.ts
  functions/src/wahoo/account.spec.ts
  functions/src/wahoo/account.ts
  functions/src/wahoo/activities.spec.ts
  functions/src/wahoo/activities.ts
  functions/src/wahoo/auth/wrapper.spec.ts
  functions/src/wahoo/auth/wrapper.ts
  functions/src/wahoo/history-to-queue.ts
  functions/src/wahoo/processor.spec.ts
  functions/src/wahoo/processor.ts
  functions/src/wahoo/routes.spec.ts
  functions/src/wahoo/routes.ts
  functions/src/wahoo/webhook.spec.ts
  functions/src/wahoo/webhook.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

Path conditions:
  lint-functions: any of: **/*.{ts,js} and ^functions/
  lint-angular: any of: {src/*.{ts,html},src/**/*.{ts,html}}
