Repository jimmykane/quantified-self: changes, and which lefthook commands are due for each by the changed paths.
All: lint-functions, lint-angular

lint-functions:
  run: npx eslint {staged_files} --fix && git add {staged_files}

lint-angular:
  run: ESLINT_USE_FLAT_CONFIG=false npx eslint {staged_files} --fix && git add {staged_files}

test: harden Suunto manual Guide recovery coverage
  docs/training-workspace.md
  functions/src/training-plans/delivery/suunto/suunto.emulator.spec.ts
  functions/src/training-plans/providers/suunto-manual-instructions.spec.ts
Due: lint-functions

docs: record second develop helper test check
  docs/ci-helper-test-benchmark.md
Due: none

test: run CI suites on independent runners
  .github/workflows/_run-tests.yml
  docs/ci-testing.md
  tools/testing-workflow.test.mjs
Due: none

fix: compact merged activity filter in table toolbar
  src/app/components/event-search/event-search.component.html
  src/app/components/event-search/event-search.component.scss
  src/app/components/event-search/event-search.component.spec.ts
  src/app/components/event-search/event-search.component.ts
Due: lint-angular

fix: keep merged filter state aligned after rejected saves
  src/app/components/event-search/event-search.component.spec.ts
  src/app/components/event-search/event-search.component.ts
Due: lint-angular

feat: prioritize Suunto rest countdown and repeat context
  docs/mcp-server.md
  docs/provider-integration-guide.md
  docs/training-workspace.md
  functions/src/training-plans/delivery/diagnostics.spec.ts
  functions/src/training-plans/delivery/diagnostics.ts
  functions/src/training-plans/delivery/intent.spec.ts
  functions/src/training-plans/delivery/suunto/mapping.ts
  functions/src/training-plans/delivery/suunto/suunto.emulator.spec.ts
  functions/src/training-plans/delivery/suunto/transport.spec.ts
  functions/src/training-plans/providers/suunto-guide.serializer.spec.ts
  functions/src/training-plans/providers/suunto-guide.serializer.ts
  functions/src/training-plans/providers/suunto-manual-instructions.spec.ts
  functions/src/training-plans/providers/suunto-pool-screens.spec.ts
  functions/src/training-plans/providers/suunto-rest-presentation.spec.ts
  functions/src/training-plans/providers/suunto-rest-presentation.ts
  functions/src/training-plans/providers/suunto-swim-rest.spec.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

feat: add editable campaign sender names
  docs/email-lifecycle.md
  functions/src/admin/marketing/marketing.emulator.spec.ts
  functions/src/admin/marketing/service.spec.ts
  functions/src/admin/marketing/service.ts
  functions/src/email/config.ts
  functions/src/email/marketing-content.spec.ts
  functions/src/email/marketing-content.ts
  shared/admin-marketing.ts
  src/app/components/admin/admin-marketing/admin-marketing.component.html
  src/app/components/admin/admin-marketing/admin-marketing.component.scss
  src/app/components/admin/admin-marketing/admin-marketing.component.spec.ts
  src/app/components/admin/admin-marketing/admin-marketing.component.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

fix: align campaign sender validation and preview checks
  docs/email-lifecycle.md
  functions/src/email/marketing-content.spec.ts
  functions/src/email/marketing-content.ts
  shared/admin-marketing.ts
  src/app/components/admin/admin-marketing/admin-marketing.component.html
  src/app/components/admin/admin-marketing/admin-marketing.component.spec.ts
  src/app/components/admin/admin-marketing/admin-marketing.component.ts
Due: lint-functions, lint-angular

fix: keep Suunto rest fallback within readback bounds
  docs/provider-integration-guide.md
  docs/training-workspace.md
  functions/src/training-plans/providers/suunto-rest-presentation.spec.ts
  functions/src/training-plans/providers/suunto-rest-presentation.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

feat: expand swim intervals with active efficiency averages
  docs/frontend-ui.md
  src/app/components/data-type-icon/data-type-icon.component.ts
  src/app/components/event/laps/event.card.laps.component.css
  src/app/components/event/laps/event.card.laps.component.html
  src/app/components/event/laps/event.card.laps.component.spec.ts
  src/app/components/event/laps/event.card.laps.component.ts
  src/app/components/event/swim-lengths/event.card.swim-lengths.component.css
  src/app/components/event/swim-lengths/event.card.swim-lengths.component.html
  src/app/components/event/swim-lengths/event.card.swim-lengths.component.spec.ts
  src/app/components/event/swim-lengths/event.card.swim-lengths.component.ts
  src/app/helpers/event-lap-table-columns.helper.ts
  src/app/helpers/event-swim-analytics.helper.spec.ts
  src/app/helpers/event-swim-analytics.helper.ts
  src/app/helpers/event-swim-length.helper.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/styles.scss
  tools/frontend-test-environments.json
Due: lint-angular

fix: preserve swim metrics with incomplete length details
  docs/frontend-ui.md
  src/app/components/event/laps/event.card.laps.component.spec.ts
  src/app/components/event/laps/event.card.laps.component.ts
  src/app/components/event/swim-lengths/event.card.swim-lengths.component.spec.ts
  src/app/components/event/swim-lengths/event.card.swim-lengths.component.ts
  src/app/helpers/event-lap-table-columns.helper.ts
  src/app/helpers/event-swim-analytics.helper.spec.ts
  src/app/helpers/event-swim-analytics.helper.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: preserve campaign tests for metadata changes
  docs/email-lifecycle.md
  functions/src/admin/marketing/marketing.emulator.spec.ts
  functions/src/admin/marketing/service.ts
  functions/src/email/marketing-content.spec.ts
  functions/src/email/marketing-content.ts
  src/app/components/admin/admin-marketing/admin-marketing.component.html
  src/app/components/admin/admin-marketing/admin-marketing.component.spec.ts
  src/app/components/admin/admin-marketing/admin-marketing.component.ts
  src/app/components/admin/admin-marketing/marketing-rich-editor.component.spec.ts
  src/app/components/admin/admin-marketing/marketing-rich-editor.component.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

fix: isolate campaign test email autofill
  docs/email-lifecycle.md
  src/app/components/admin/admin-marketing/admin-marketing.component.html
  src/app/components/admin/admin-marketing/admin-marketing.component.spec.ts
Due: lint-angular

test: balance frontend CI shards and split Functions checks
  .agent/rules/frontend-test-environments.md
  .github/workflows/_run-tests.yml
  docs/ci-testing.md
  package.json
  tools/frontend-test-config.test.mjs
  tools/frontend-test-sequencer.mjs
  tools/frontend-test-shard-cli.mjs
  tools/frontend-test-shards.mjs
  tools/frontend-test-shards.test.mjs
  tools/frontend-test-timing-reporter.mjs
  tools/testing-workflow.test.mjs
  vitest.config.ts
Due: none

test: balance delivery emulator CI shards
  .agent/rules/functions-emulator-shards.md
  .github/workflows/_run-tests.yml
  AGENTS.md
  docs/ci-testing.md
  package.json
  tools/delivery-test-shard-cli.mjs
  tools/delivery-test-shards.mjs
  tools/delivery-test-shards.test.mjs
  tools/functions-emulator-suites.test.mjs
  tools/test-functions-emulators.mjs
  tools/testing-workflow.test.mjs
Due: none

feat: add shared training metric history columns
  docs/training-workspace.md
  src/app/components/charts/kpi/charts.kpi.component.spec.ts
  src/app/components/charts/kpi/charts.kpi.component.ts
  src/app/components/shared/metric-history-chart/metric-history-chart.component.spec.ts
  src/app/components/shared/metric-history-chart/metric-history-chart.component.ts
  src/app/components/shared/training-summary/training-metric-grid.component.html
  src/app/components/shared/training-summary/training-metric-grid.component.scss
  src/app/components/shared/training-summary/training-metric-grid.component.spec.ts
  src/app/components/shared/training-summary/training-metric-grid.component.ts
  src/app/components/shared/training-summary/training-snapshot-preview.component.html
  src/app/components/shared/training-summary/training-snapshot-preview.component.spec.ts
  src/app/components/shared/training-summary/training-snapshot-preview.component.ts
  src/app/components/shared/training-summary/training-summary.models.ts
  src/app/components/summaries/dashboard-chart-library/dashboard-tile-configuration.ts
  src/app/components/training/training-workspace.component.html
  src/app/components/training/training-workspace.component.spec.ts
  src/app/components/training/training-workspace.component.ts
  src/app/helpers/dashboard-chart-thumbnail.helper.spec.ts
  src/app/helpers/dashboard-chart-thumbnail.helper.ts
  src/app/helpers/dashboard-kpi-sparkline.helper.ts
  src/app/helpers/metric-history-chart.helper.spec.ts
  src/app/helpers/metric-history-chart.helper.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  tools/frontend-test-environments.json
Due: lint-angular

fix: keep training history tooltips readable on mobile
  docs/training-workspace.md
  src/app/components/charts/kpi/charts.kpi.component.spec.ts
  src/app/components/charts/kpi/charts.kpi.component.ts
  src/app/components/shared/metric-history-chart/metric-history-chart.component.scss
  src/app/components/shared/metric-history-chart/metric-history-chart.component.spec.ts
  src/app/components/shared/metric-history-chart/metric-history-chart.component.ts
  src/app/helpers/echarts-tooltip-interaction.helper.spec.ts
  src/app/helpers/echarts-tooltip-interaction.helper.ts
  src/app/helpers/echarts-tooltip-position.helper.spec.ts
  src/app/helpers/echarts-tooltip-position.helper.ts
Due: lint-angular

fix: keep training preview history internally consistent
  docs/training-workspace.md
  src/app/components/shared/training-summary/training-snapshot-preview.component.spec.ts
  src/app/components/shared/training-summary/training-snapshot-preview.component.ts
Due: lint-angular

feat: add Health category overview
  docs/unified-health-data.md
  src/app/components/charts/health/dashboard-health-chart.component.css
  src/app/components/charts/health/dashboard-health-chart.component.html
  src/app/components/charts/health/dashboard-health-chart.component.spec.ts
  src/app/components/charts/health/dashboard-health-chart.component.ts
  src/app/components/health/health-category-overview.component.html
  src/app/components/health/health-category-overview.component.scss
  src/app/components/health/health-category-overview.component.spec.ts
  src/app/components/health/health-category-overview.component.ts
  src/app/components/health/health-workspace.component.html
  src/app/components/health/health-workspace.component.scss
  src/app/components/health/health-workspace.component.spec.ts
  src/app/components/health/health-workspace.component.ts
  src/app/helpers/dashboard-health-context.helper.spec.ts
  src/app/helpers/dashboard-health-context.helper.ts
  src/app/helpers/health-workspace.helper.spec.ts
  src/app/helpers/health-workspace.helper.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

test: render user settings fixtures only when needed
  .agent/rules/frontend-test-environments.md
  README.md
  docs/ci-component-fixture-benchmark.md
  src/app/components/user-settings/user-settings.component.spec.ts
Due: lint-angular

fix: adapt training metric grid to panel width
  docs/training-workspace.md
  src/app/components/shared/training-summary/training-metric-grid.component.scss
  src/app/components/shared/training-summary/training-metric-grid.component.spec.ts
Due: lint-angular

fix: tighten training metric grid spacing
  docs/training-workspace.md
  src/app/components/shared/training-summary/training-metric-grid.component.scss
  src/app/components/shared/training-summary/training-metric-grid.component.spec.ts
Due: lint-angular

fix: refresh KPI tooltip interaction after resizing
  docs/training-workspace.md
  src/app/components/charts/kpi/charts.kpi.component.spec.ts
  src/app/components/charts/kpi/charts.kpi.component.ts
  src/app/components/home/home-dashboard-preview.component.spec.ts
Due: lint-angular

fix: preserve Training load identity and reject stale source evaluations
  docs/training-workspace.md
  firestore.rules
  functions/package-lock.json
  functions/src/events/upload-activity.ts
  functions/src/function-target-loader.spec.ts
  functions/src/reparse/SPORTS_LIB_REPARSE_RUNBOOK.md
  functions/src/reparse/sports-lib-reparse.service.ts
  functions/src/shared/event-writer.spec.ts
  functions/src/shared/event-writer.ts
  functions/src/training-load/training-load-metadata.ts
  functions/src/training-load/training-load.persistence.emulator.spec.ts
  functions/src/utils.ts
  package-lock.json
  shared/training-load-policy.ts
  shared/training-load-source.ts
  shared/unit-aware-display.ts
  src/app/components/training-load/training-load-dialog.component.html
  src/app/components/training-load/training-load-dialog.component.spec.ts
  src/app/components/training-load/training-load-dialog.component.ts
  src/app/components/training-load/training-load-settings.component.html
  src/app/helpers/training-impact.helper.spec.ts
  src/app/helpers/training-impact.helper.ts
  src/app/helpers/training-load-policy.spec.ts
  src/app/helpers/unit-aware-display.helper.spec.ts
  src/app/services/training-load.service.spec.ts
  src/app/services/training-load.service.ts
  src/app/shared/help.content.ts
  src/firestore.rules.spec.ts
Due: lint-functions, lint-angular

fix: preserve modeled load states in MCP Training impact
  docs/mcp-server.md
  docs/training-workspace.md
  functions/src/mcp/tool-output-schemas.spec.ts
  functions/src/mcp/tool-output-schemas.ts
  functions/src/mcp/training-impact.service.spec.ts
  functions/src/mcp/training-impact.service.ts
Due: lint-functions

fix: keep Training load imports and impact sources consistent
  docs/training-workspace.md
  functions/package-lock.json
  functions/src/training-load/training-load-metadata.ts
  functions/src/training-load/training-load.persistence.emulator.spec.ts
  package-lock.json
  src/app/components/training-load/training-load-dialog.component.spec.ts
  src/app/services/training-impact.service.spec.ts
  src/app/services/training-impact.service.ts
Due: lint-functions, lint-angular

fix: reduce Training load rebuild overhead
  docs/mcp-server.md
  docs/training-workspace.md
  firestore.indexes.json
  firestore.rules
  functions/src/derived-metrics/derived-metrics-source-change.ts
  functions/src/derived-metrics/derived-metrics.service.spec.ts
  functions/src/derived-metrics/derived-metrics.trigger.spec.ts
  functions/src/derived-metrics/derived-metrics.trigger.ts
  functions/src/training-load/training-load-cache.spec.ts
  functions/src/training-load/training-load-cache.ts
  functions/src/training-load/training-load-metadata.ts
  functions/src/training-load/training-load-reader.spec.ts
  functions/src/training-load/training-load-reader.ts
  functions/src/training-load/training-load.persistence.emulator.spec.ts
  shared/training-load-policy.ts
  src/app/shared/help.content.ts
  src/firestore.rules.spec.ts
Due: lint-functions, lint-angular

fix: keep Training load cache consistent through imports
  docs/mcp-server.md
  docs/training-workspace.md
  functions/src/derived-metrics/derived-metrics.trigger.spec.ts
  functions/src/derived-metrics/derived-metrics.trigger.ts
  functions/src/mcp/training-impact.service.spec.ts
  functions/src/training-load/training-load-cache.spec.ts
  functions/src/training-load/training-load-cache.ts
  functions/src/training-load/training-load-metadata.ts
  functions/src/training-load/training-load-reader.ts
  functions/src/training-load/training-load.persistence.emulator.spec.ts
  shared/training-load-policy.ts
  src/app/components/training-load/training-load-dialog.component.spec.ts
  src/app/components/training-load/training-load-dialog.component.ts
  src/app/helpers/training-load-policy.spec.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

fix: reject stale Training load totals after leg changes
  docs/training-workspace.md
  functions/src/derived-metrics/derived-metrics.trigger.spec.ts
  functions/src/derived-metrics/derived-metrics.trigger.ts
  functions/src/training-load/training-load-cache.ts
  functions/src/training-load/training-load.persistence.emulator.spec.ts
Due: lint-functions

fix: keep Training load totals stable across reads
  docs/mcp-server.md
  docs/training-workspace.md
  functions/src/mcp/training-impact.service.spec.ts
  functions/src/mcp/training-impact.service.ts
  functions/src/training-load/training-load-cache.spec.ts
  shared/training-load-policy.ts
  shared/training-load.ts
  src/app/helpers/training-impact.helper.ts
  src/app/helpers/training-load-policy.spec.ts
  src/app/helpers/training-load.shared.spec.ts
Due: lint-functions, lint-angular

fix: align Training impact with current workout sources
  docs/training-workspace.md
  src/app/components/training-load/training-load-dialog.component.spec.ts
  src/app/components/training-load/training-load-dialog.component.ts
  src/app/helpers/training-impact.helper.spec.ts
  src/app/helpers/training-impact.helper.ts
  src/app/services/activity-calendar.service.spec.ts
  src/app/services/activity-calendar.service.ts
  src/app/services/training-load.service.spec.ts
  src/app/services/training-load.service.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: wait for current loads before showing day impact
  docs/training-workspace.md
  src/app/helpers/training-impact.helper.spec.ts
  src/app/helpers/training-impact.helper.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: keep Training load settings current after saves
  docs/training-workspace.md
  src/app/components/training-load/training-load-settings.component.spec.ts
  src/app/components/training-load/training-load-settings.component.ts
Due: lint-angular

fix: handle Training load editor refresh failures
  docs/training-workspace.md
  src/app/components/training-load/training-load-dialog.component.html
  src/app/components/training-load/training-load-dialog.component.spec.ts
  src/app/components/training-load/training-load-dialog.component.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: release Training load editor work on close
  docs/training-workspace.md
  src/app/components/training-load/training-load-dialog.component.spec.ts
  src/app/components/training-load/training-load-dialog.component.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: retain unmatched load controls until owner review
  docs/training-workspace.md
  functions/src/training-load/training-load-metadata.spec.ts
  functions/src/training-load/training-load-metadata.ts
  functions/src/training-load/training-load.persistence.emulator.spec.ts
Due: lint-functions

test: allow Training load transaction retry time
  docs/training-workspace.md
  functions/src/training-load/training-load.persistence.emulator.spec.ts
Due: lint-functions

fix: align Training load controls with workout eligibility
  docs/training-workspace.md
  shared/event-classification.ts
  src/app/components/event-summary/event-summary.component.html
  src/app/components/event-summary/event-summary.component.spec.ts
  src/app/components/event-summary/event-summary.component.ts
  src/app/components/event/event.card.component.spec.ts
  src/app/components/event/event.card.component.ts
  src/app/helpers/training-impact.helper.spec.ts
  src/app/helpers/training-impact.helper.ts
  src/app/services/training-impact.service.spec.ts
  src/app/services/training-impact.service.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: skip unchanged Training load controls regardless of field order
  docs/training-workspace.md
  src/app/services/training-load.service.spec.ts
  src/app/services/training-load.service.ts
Due: lint-angular

Path conditions:
  lint-functions: any of: **/*.{ts,js} and ^functions/
  lint-angular: any of: {src/*.{ts,html},src/**/*.{ts,html}}
