Repository jimmykane/quantified-self: changes, and which lefthook commands are due for each by the changed paths.
All: lint-functions, lint-angular

lint-functions:
  run: npx eslint {staged_files} --fix && git add {staged_files}

lint-angular:
  run: ESLINT_USE_FLAT_CONFIG=false npx eslint {staged_files} --fix && git add {staged_files}

fix: cap Health percentage charts at 100
  src/app/helpers/health-metric-chart.helper.spec.ts
  src/app/helpers/health-metric-chart.helper.ts
Due: lint-angular

fix: prevent sleep chart series flicker
  src/app/components/charts/sleep-trend/charts.sleep-trend.component.spec.ts
  src/app/components/charts/sleep-trend/charts.sleep-trend.component.ts
Due: lint-angular

fix: simplify connectivity data flow copy
  src/app/components/services/services.component.html
  src/app/components/services/services.component.spec.ts
Due: lint-angular

fix: disable assistant route transition
  src/app/app.routing.module.spec.ts
  src/app/app.routing.module.ts
Due: lint-angular

fix: separate card and overlay elevation
  docs/frontend-ui.md
  docs/training-workspace.md
  src/app/app.module.menu-default-options.spec.ts
  src/app/components/shared/typed-prompt-rotator/typed-prompt-rotator.component.scss
  src/styles.scss
  src/styles/_panels.scss
  src/styles/panels.spec.ts
Due: lint-angular

feat: improve Health highlights
  src/app/components/health/health-metric-series-chart.component.html
  src/app/components/health/health-metric-series-chart.component.scss
  src/app/components/health/health-metric-series-chart.component.ts
  src/app/components/health/health-priority-summary.component.html
  src/app/components/health/health-priority-summary.component.scss
  src/app/components/health/health-priority-summary.component.ts
  src/app/components/health/health-workspace.component.html
  src/app/components/health/health-workspace.component.spec.ts
  src/app/components/health/health-workspace.component.ts
  src/app/helpers/health-metric-chart.helper.spec.ts
  src/app/helpers/health-metric-chart.helper.ts
  src/app/helpers/health-workspace.helper.spec.ts
  src/app/helpers/health-workspace.helper.ts
Due: lint-angular

fix: soften connectivity surface borders
  src/app/components/services/service-connection-status/service-connection-status.component.scss
  src/app/components/services/service-connection-status/service-connection-status.component.spec.ts
  src/app/components/services/services.component.scss
  src/app/components/services/services.component.spec.ts
Due: lint-angular

fix: retry assistant calls after token refresh
  src/app/services/assistant.service.spec.ts
  src/app/services/assistant.service.ts
Due: lint-angular

fix: flatten card surfaces
  docs/frontend-ui.md
  docs/training-workspace.md
  src/styles/_panels.scss
  src/styles/panels.spec.ts
Due: lint-angular

fix: clarify provider health backfills
  docs/sleep-sync-operations.md
  functions/src/sleep/backfill.spec.ts
  functions/src/sleep/backfill.ts
  src/app/components/history-import-form/history-import.form.component.html
  src/app/components/history-import-form/history-import.form.component.spec.ts
  src/app/components/history-import-form/history-import.form.component.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

fix: remove connectivity data flow elevation
  src/app/components/services/services.component.scss
  src/app/components/services/services.component.spec.ts
Due: lint-angular

fix: simplify Health highlight sources
  src/app/components/health/health-priority-summary.component.html
  src/app/components/health/health-priority-summary.component.scss
  src/app/components/health/health-priority-summary.component.ts
  src/app/components/health/health-workspace.component.spec.ts
  src/app/components/health/health-workspace.component.ts
Due: lint-angular

feat: enrich Health sleep highlight
  src/app/components/health/health-priority-summary.component.html
  src/app/components/health/health-priority-summary.component.ts
  src/app/components/health/health-sleep-stage-summary.component.scss
  src/app/components/health/health-sleep-stage-summary.component.spec.ts
  src/app/components/health/health-sleep-stage-summary.component.ts
  src/app/components/health/health-workspace.component.spec.ts
  src/app/helpers/health-workspace.helper.spec.ts
  src/app/helpers/health-workspace.helper.ts
Due: lint-angular

fix: align Health highlights with sample data
  src/app/components/health/health-workspace.component.spec.ts
  src/app/components/health/health-workspace.component.ts
  src/app/helpers/health-workspace.helper.spec.ts
  src/app/helpers/health-workspace.helper.ts
Due: lint-angular

feat: surface Sleep HRV in Health
  docs/unified-health-data.md
  src/app/components/health/health-workspace.component.html
  src/app/components/health/health-workspace.component.spec.ts
  src/app/components/health/health-workspace.component.ts
  src/app/helpers/health-workspace.helper.spec.ts
  src/app/helpers/health-workspace.helper.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: stabilize Health workspace loading
  src/app/components/health/health-workspace.component.spec.ts
  src/app/components/health/health-workspace.component.ts
Due: lint-angular

fix: explain health sync status dots
  src/app/components/health/health-workspace.component.html
  src/app/components/health/health-workspace.component.spec.ts
  src/app/components/health/health-workspace.component.ts
Due: lint-angular

fix: identify Sleep-derived HRV precisely
  src/app/components/health/health-workspace.component.ts
  src/app/helpers/health-workspace.helper.spec.ts
  src/app/helpers/health-workspace.helper.ts
Due: lint-angular

fix: resolve legacy weight provider metadata
  docs/unified-health-data.md
  functions/src/health/activity-query.spec.ts
  functions/src/health/activity-query.ts
Due: lint-functions

fix: remove Health highlight selection state
  src/app/components/health/health-priority-summary.component.html
  src/app/components/health/health-priority-summary.component.scss
  src/app/components/health/health-priority-summary.component.ts
  src/app/components/health/health-workspace.component.html
  src/app/components/health/health-workspace.component.spec.ts
Due: lint-angular

fix: preserve missing Sleep health values
  src/app/helpers/health-workspace.helper.spec.ts
  src/app/helpers/health-workspace.helper.ts
Due: lint-angular

fix: preserve weight sources across filters
  docs/unified-health-data.md
  src/app/components/health/health-workspace.component.spec.ts
  src/app/components/health/health-workspace.component.ts
  src/app/helpers/health-workspace.helper.spec.ts
  src/app/helpers/health-workspace.helper.ts
  src/app/shared/help.content.ts
  src/app/shared/policies.content.spec.ts
  src/app/shared/policies.content.ts
Due: lint-angular

fix: fit Health controls on mobile
  src/app/components/health/health-workspace.component.html
  src/app/components/health/health-workspace.component.scss
  src/app/components/health/health-workspace.component.spec.ts
Due: lint-angular

fix: refine Health mobile filters
  src/app/components/health/health-workspace.component.scss
  src/app/components/health/health-workspace.component.spec.ts
Due: lint-angular

fix: harden manual Health measurement flows
  docs/unified-health-data.md
  functions/src/derived-metrics/derived-metrics-health-query.spec.ts
  functions/src/derived-metrics/derived-metrics.service.spec.ts
  functions/src/derived-metrics/derived-metrics.service.ts
  functions/src/health/manual-measurements.spec.ts
  functions/src/health/manual-measurements.ts
  functions/src/tasks/derived-metrics-worker.spec.ts
  functions/src/tasks/derived-metrics-worker.ts
  src/app/components/health/health-workspace.component.html
  src/app/components/health/health-workspace.component.spec.ts
  src/app/components/health/health-workspace.component.ts
  src/app/helpers/health-workspace.helper.spec.ts
  src/app/helpers/health-workspace.helper.ts
Due: lint-functions, lint-angular

fix: use modular Firestore field paths
  functions/src/derived-metrics/derived-metrics-health-query.spec.ts
  functions/src/derived-metrics/derived-metrics.service.ts
Due: lint-functions

fix: increase Suunto projection memory
  functions/src/service-connection-account-projection.spec.ts
  functions/src/service-connection-account-projection.ts
Due: lint-functions

fix: support modern MCP protocol alongside legacy clients
  docs/mcp-server.md
  functions/package-lock.json
  functions/package.json
  functions/src/assistant/mcp-session.spec.ts
  functions/src/assistant/mcp-session.ts
  functions/src/mcp/contract-compatibility.spec.ts
  functions/src/mcp/contract-compatibility.ts
  functions/src/mcp/http-protocol.spec.ts
  functions/src/mcp/register-tool.ts
  functions/src/mcp/server.spec.ts
  functions/src/mcp/server.ts
  functions/src/mcp/tool-output-schemas.spec.ts
  functions/src/mcp/transport.ts
  functions/src/scripts/mcp-contract.ts
Due: lint-functions

fix: tighten MCP diagnostics and capture validation
  docs/mcp-server.md
  functions/src/mcp/http-protocol.spec.ts
  functions/src/mcp/server.ts
  functions/src/scripts/mcp-contract.spec.ts
  functions/src/scripts/mcp-contract.ts
Due: lint-functions

fix: log served MCP protocol versions
  docs/mcp-server.md
  functions/src/mcp/http-protocol.spec.ts
  functions/src/mcp/server.ts
Due: lint-functions

fix: address manual Health review findings
  docs/training-workspace.md
  docs/unified-health-data.md
  firestore.indexes.json
  functions/src/derived-metrics/derived-metrics-health-query.spec.ts
  functions/src/derived-metrics/derived-metrics.service.ts
  functions/src/derived-metrics/derived-metrics.trigger.spec.ts
  functions/src/derived-metrics/derived-metrics.trigger.ts
  functions/src/firestore-indexes.spec.ts
  src/app/components/health/health-workspace.component.html
  src/app/components/health/health-workspace.component.scss
  src/app/components/health/health-workspace.component.spec.ts
  src/app/components/health/manual-health-measurement-dialog.component.spec.ts
Due: lint-functions, lint-angular

fix: handle moving Garmin sleep backfill cutoffs
  docs/garmin-integration.md
  docs/provider-integration-guide.md
  functions/src/sleep/backfill.spec.ts
  functions/src/sleep/backfill.ts
Due: lint-functions

fix: fence manual health mutations and measurement pagination
  docs/mcp-server.md
  docs/unified-health-data.md
  firestore.rules
  functions/src/health/lifecycle.spec.ts
  functions/src/health/manual-callable.spec.ts
  functions/src/health/manual-callable.ts
  functions/src/health/manual-measurements.spec.ts
  functions/src/health/manual-measurements.ts
  functions/src/health/writer.ts
  functions/src/mcp/data.service.ts
  functions/src/mcp/measurement-query.firestore.spec.ts
  shared/manual-health.ts
  src/app/components/health/health-workspace.component.spec.ts
  src/app/components/health/health-workspace.component.ts
  src/app/services/app.health.service.spec.ts
  src/app/services/app.health.service.ts
  src/firestore.rules.spec.ts
Due: lint-functions, lint-angular

feat: add Health measurement picker, blood pressure and body fat
  docs/unified-health-data.md
  functions/src/health/manual-measurements.spec.ts
  functions/src/health/manual-measurements.ts
  shared/manual-health.ts
  src/app/components/health/health-workspace.component.html
  src/app/components/health/health-workspace.component.scss
  src/app/components/health/health-workspace.component.spec.ts
  src/app/components/health/health-workspace.component.ts
  src/app/components/health/manual-health-measurement-dialog.component.html
  src/app/components/health/manual-health-measurement-dialog.component.scss
  src/app/components/health/manual-health-measurement-dialog.component.spec.ts
  src/app/components/health/manual-health-measurement-dialog.component.ts
  src/app/helpers/health-workspace.helper.spec.ts
  src/app/helpers/health-workspace.helper.ts
  src/app/services/app.health.service.spec.ts
  src/app/services/app.health.service.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/app/shared/policies.content.spec.ts
  src/app/shared/policies.content.ts
Due: lint-functions, lint-angular

fix: preserve manual Health measurement dates across timezone changes
  src/app/components/health/health-workspace.component.spec.ts
  src/app/components/health/health-workspace.component.ts
  src/app/components/health/manual-health-measurement-dialog.component.spec.ts
  src/app/components/health/manual-health-measurement-dialog.component.ts
Due: lint-angular

feat: add manual body composition and blood oxygen measurements
  docs/unified-health-data.md
  functions/src/health/manual-measurements.spec.ts
  functions/src/health/manual-measurements.ts
  shared/manual-health.ts
  src/app/components/health/health-workspace.component.spec.ts
  src/app/components/health/manual-health-measurement-dialog.component.spec.ts
  src/app/components/health/manual-health-measurement-dialog.component.ts
  src/app/helpers/health-workspace.helper.spec.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/app/shared/policies.content.spec.ts
  src/app/shared/policies.content.ts
Due: lint-functions, lint-angular

fix: bound Garmin Health backfill cutoff recovery
  docs/garmin-integration.md
  docs/provider-integration-guide.md
  functions/src/garmin/health-backfill-range.spec.ts
  functions/src/garmin/health-backfill-range.ts
  functions/src/garmin/health-backfill.spec.ts
  functions/src/garmin/health-backfill.ts
Due: lint-functions

fix: log bounded Garmin stress validation diagnostics
  docs/garmin-integration.md
  docs/provider-integration-guide.md
  functions/src/garmin/health.spec.ts
  functions/src/garmin/health.ts
  functions/src/sleep/queue.spec.ts
  functions/src/sleep/queue.ts
Due: lint-functions

fix: lighten Health chart lines
  src/app/helpers/health-metric-chart.helper.spec.ts
  src/app/helpers/health-metric-chart.helper.ts
Due: lint-angular

Path conditions:
  lint-functions: any of: **/*.{ts,js} and ^functions/
  lint-angular: any of: {src/*.{ts,html},src/**/*.{ts,html}}
