Repository jimmykane/quantified-self: changes, and which lefthook commands are due for each by the changed paths.
All: lint-functions, lint-angular

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint-functions:
      root: "functions"
      glob: "**/*.{ts,js}"
      run: npx eslint {staged_files} --fix && git add {staged_files}
    lint-angular:
      glob: "{src/*.{ts,html},src/**/*.{ts,html}}"
      run: ESLINT_USE_FLAT_CONFIG=false npx eslint {staged_files} --fix && git add {staged_files}

chore: add loading state
  src/app/components/event/map/event.card.map.component.css
  src/app/components/event/map/event.card.map.component.html
Due: lint-angular

chore: more benchmark improvements
  functions/src/shared/app-event.interface.ts
  src/app/components/benchmark/benchmark-bottom-sheet.component.ts
  src/app/components/benchmark/benchmark-report.component.ts
  src/app/components/benchmark/benchmark-selection-dialog.component.ts
  src/app/components/event-summary/event-summary.component.css
  src/app/components/event-summary/event-summary.component.html
  src/app/components/event-summary/event-summary.component.ts
  src/app/services/app.benchmark.service.ts
  src/app/services/app.event.service.ts
Due: lint-functions, lint-angular

fix: toggles fonts
  src/app/components/event/activities-toggles/activities-toggles.component.css
Due: none

fix: for autofocus
  src/app/app.module.ts
Due: lint-angular

chore: benchmark refinements
  functions/src/shared/app-event.interface.ts
  src/app/components/admin/admin-changelog/admin-changelog.component.scss
  src/app/components/benchmark/benchmark-bottom-sheet.component.ts
  src/app/components/benchmark/benchmark-report.component.ts
  src/app/components/benchmark/benchmark-selection-dialog.component.ts
  src/app/components/event-summary/event-summary.component.ts
  src/app/services/app.event.service.ts
Due: lint-functions, lint-angular

chore: bump sl
  functions/package-lock.json
  functions/package.json
  package-lock.json
  package.json
Due: none

chore: rule
  .agent/rules/ux-ui.md
Due: none

chore: overlay
  src/app/components/event/chart/event.card.chart.component.html
  src/app/components/event/chart/event.card.chart.component.scss
  src/app/components/event/map/event.card.map.component.css
  src/app/components/event/map/event.card.map.component.html
  src/app/components/loading/loading-overlay/loading-overlay.component.css
  src/app/components/loading/loading-overlay/loading-overlay.component.html
  src/app/components/loading/loading-overlay/loading-overlay.component.spec.ts
  src/app/components/loading/loading-overlay/loading-overlay.component.ts
  src/app/modules/shared.module.ts
Due: lint-angular

styles: switch to barlow a little
  src/app/components/event-summary/event-summary.component.css
  src/app/components/header-stats/header-stats.component.scss
Due: none

chore: chart improvements
  src/app/components/event/chart/event.card.chart.component.ts
Due: lint-angular

chore: rules
  firestore.rules
  src/firestore.rules.spec.ts
Due: lint-angular

chore: map styles
  src/app/components/event/activity-toggle/activity-toggle.component.css
  src/app/components/event/map/event.card.map.component.css
Due: none

chore: add agents
  AGENTS.md
Due: none

chore: change font
  src/app/components/charts/intensity-zones/charts.intensity-zones.component.ts
  src/app/components/event/chart/event.card.chart.component.ts
Due: lint-angular

chore: ui
  src/app/components/benchmark/benchmark-report.component.ts
  src/app/components/benchmark/benchmark-selection-dialog.component.ts
  src/app/components/event-summary/event-summary.component.html
  src/app/components/event-table/event.table.component.css
  src/app/components/event-table/event.table.component.html
  src/app/components/event-table/event.table.component.ts
  src/app/services/app.benchmark.service.ts
  src/app/services/app.event.service.ts
  src/app/services/app.whats-new.service.ts
Due: lint-angular

chore: fixes
  src/app/components/event-summary/event-summary.component.html
  src/app/components/event-summary/event-summary.component.ts
Due: lint-angular

chore: extract styles
  src/app/components/benchmark/benchmark-report.component.css
  src/app/components/benchmark/benchmark-report.component.ts
Due: lint-angular

chore: ui for bottom sheets
  src/app/app.module.ts
  src/app/components/event-summary/event-summary.component.ts
  src/app/components/event-table/event.table.component.ts
  src/styles.scss
  src/styles/_glass.scss
  src/styles/_google-maps.scss
Due: lint-angular

chore: let em grow
  src/app/components/event/activities-toggles/activities-toggles.component.css
Due: none

chore: styles
  src/styles.scss
  src/styles/_glass.scss
Due: none

chore: improve benchmark
  src/app/components/benchmark/benchmark-bottom-sheet.component.css
  src/app/components/benchmark/benchmark-selection-dialog.component.ts
  src/app/components/event-summary/event-summary.component.ts
  src/app/components/event-table/event.table.component.ts
  src/app/services/app.benchmark-flow.service.spec.ts
  src/app/services/app.benchmark-flow.service.ts
Due: lint-angular

chore: refactor bottom sheets
  src/app/components/benchmark/benchmark-bottom-sheet.component.css
  src/app/components/benchmark/benchmark-bottom-sheet.component.spec.ts
  src/app/components/benchmark/benchmark-bottom-sheet.component.ts
  src/app/components/event-summary/event-details-summary-bottom-sheet/event-details-summary-bottom-sheet.component.css
  src/app/components/event-summary/event-details-summary-bottom-sheet/event-details-summary-bottom-sheet.component.html
  src/app/components/event/devices/event-devices-bottom-sheet/event-devices-bottom-sheet.component.css
  src/app/components/event/devices/event-devices-bottom-sheet/event-devices-bottom-sheet.component.html
  src/app/components/event/stats-table/event-stats-bottom-sheet/event-stats-bottom-sheet.component.css
  src/app/components/event/stats-table/event-stats-bottom-sheet/event-stats-bottom-sheet.component.html
  src/app/components/shared/bottom-sheet-header/bottom-sheet-header.component.css
  src/app/components/shared/bottom-sheet-header/bottom-sheet-header.component.html
  src/app/components/shared/bottom-sheet-header/bottom-sheet-header.component.ts
  src/app/modules/shared.module.ts
  src/styles.scss
Due: lint-angular

fix: tests
  src/app/components/benchmark/benchmark-selection-dialog.component.spec.ts
  src/app/services/app.benchmark.service.spec.ts
Due: lint-angular

chore: improve ui for table
  src/app/components/event-table/event.table.component.css
  src/app/components/event-table/event.table.component.html
  src/app/components/event-table/event.table.component.ts
Due: lint-angular

chore: refactor
  src/app/components/event-summary/event-details-summary-bottom-sheet/event-details-summary-bottom-sheet.component.html
  src/app/components/event/devices/event-devices-bottom-sheet/event-devices-bottom-sheet.component.html
  src/app/components/event/stats-table/event-stats-bottom-sheet/event-stats-bottom-sheet.component.html
  src/styles.scss
Due: lint-angular

chore: improvements
  src/app/components/benchmark/benchmark-selection-dialog.component.spec.ts
  src/app/components/benchmark/benchmark-selection-dialog.component.ts
  src/app/components/loading/loading-overlay/loading-overlay.component.css
  src/app/components/loading/loading-overlay/loading-overlay.component.html
  src/app/components/loading/loading-overlay/loading-overlay.component.ts
  src/app/services/app.benchmark-flow.service.spec.ts
  src/app/services/app.benchmark-flow.service.ts
  src/styles.scss
Due: lint-angular

chore: reconcile also
  functions/src/schedule/enforce-subscription-limits.spec.ts
  functions/src/schedule/enforce-subscription-limits.ts
Due: lint-functions

chore: improve benchmarks
  functions/src/shared/app-event.interface.ts
  src/app/services/app.benchmark-flow.service.spec.ts
  src/app/services/app.benchmark-flow.service.ts
  src/app/services/app.event.service.ts
  src/app/services/benchmark-event.adapter.spec.ts
  src/app/services/benchmark-event.adapter.ts
Due: lint-functions, lint-angular

chore: bump version
  package.json
Due: none

feature: intermediate for merge
  src/app/components/event-summary/event-summary.component.html
  src/app/components/event-table/event.table.component.spec.ts
  src/app/components/event-table/event.table.component.ts
  src/app/components/event-table/merge-options-dialog/merge-options-dialog.component.css
  src/app/components/event-table/merge-options-dialog/merge-options-dialog.component.html
  src/app/components/event-table/merge-options-dialog/merge-options-dialog.component.ts
  src/app/modules/dashboard.module.ts
Due: lint-angular

chore: new toggle
  src/app/components/dashboard/dashboard.component.html
  src/app/components/dashboard/dashboard.component.spec.ts
  src/app/components/dashboard/dashboard.component.ts
  src/app/components/event-search/event-search.component.css
  src/app/components/event-search/event-search.component.html
  src/app/components/event-search/event-search.component.ts
  src/app/components/tracks/tracks.component.html
  src/app/components/tracks/tracks.component.ts
  src/app/components/user-settings/user-settings.component.ts
  src/app/models/app-user.interface.ts
  src/app/resolvers/dashboard.resolver.spec.ts
  src/app/resolvers/dashboard.resolver.ts
  src/app/services/app.user.service.ts
  src/app/utils/app.user.utilities.spec.ts
  src/app/utils/app.user.utilities.ts
  src/tsconfig.app.json
Due: lint-angular

chore: improvements on filtering
  src/app/components/dashboard/dashboard.component.html
  src/app/components/dashboard/dashboard.component.ts
  src/app/components/event-search/event-search.component.css
  src/app/components/event-search/event-search.component.html
  src/app/components/event-search/event-search.component.ts
  src/app/components/tracks/tracks.component.html
  src/app/components/tracks/tracks.component.ts
  src/app/resolvers/dashboard.resolver.ts
Due: lint-angular

chore: UI
  src/app/components/event-table/event.table.component.spec.ts
  src/app/components/event-table/event.table.component.ts
  src/app/components/event-table/merge-options-dialog/merge-options-dialog.component.css
  src/app/components/event-table/merge-options-dialog/merge-options-dialog.component.html
  src/app/components/event-table/merge-options-dialog/merge-options-dialog.component.ts
  src/app/components/tracks/tracks.component.html
  src/app/components/tracks/tracks.component.ts
Due: lint-angular

chore: improve details
  src/app/components/event/stats-table/event.card.stats-table.component.spec.ts
  src/app/components/event/stats-table/event.card.stats-table.component.ts
Due: lint-angular

chore: reconcile claims as well
  functions/src/schedule/enforce-subscription-limits.spec.ts
  functions/src/schedule/enforce-subscription-limits.ts
Due: lint-functions

chore: styles for non merged
  src/app/components/event/activities-toggles/activities-toggles.component.css
  src/app/components/event/activities-toggles/activities-toggles.component.ts
Due: lint-angular

chore: improvements
  src/app/components/event/stats-grid/event.card.stats-grid.component.html
  src/app/components/event/stats-grid/event.card.stats-grid.component.spec.ts
  src/app/components/event/stats-grid/event.card.stats-grid.component.ts
  src/app/components/event/stats-table/event.card.stats-table.component.ts
  src/app/components/header-stats/header-stats.component.html
  src/app/components/header-stats/header-stats.component.scss
  src/app/components/header-stats/header-stats.component.ts
  src/app/helpers/stats-diff.helper.ts
Due: lint-angular

chore: add typography
  .agent/rules/rules.md
Due: none

chore: styles and fixes
  commit_log.txt
  commit_log_remote.txt
  functions/src/shared/app-event.interface.ts
  pull_request.md
  src/app/components/benchmark/benchmark-bottom-sheet.component.spec.ts
  src/app/components/benchmark/benchmark-bottom-sheet.component.ts
  src/app/components/benchmark/benchmark-report.component.css
  src/app/components/benchmark/benchmark-report.component.ts
  src/app/components/benchmark/benchmark-selection-dialog.component.ts
  src/app/components/event-summary/event-summary.component.css
  src/app/components/event/activities-toggles/activities-toggles.component.css
  src/app/components/event/stats-grid/event.card.stats-grid.component.ts
  src/app/components/header-stats/header-stats.component.scss
  src/app/helpers/stats-diff.helper.ts
  src/app/helpers/summary-stats.helper.ts
  src/app/services/app.benchmark-flow.service.ts
  src/app/services/app.benchmark.service.ts
  src/styles.scss
Due: lint-functions, lint-angular
