Repository jimmykane/quantified-self: changes, and which lefthook commands are due for each by the changed paths.
All: lint-functions, lint-angular

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint-functions:
      root: "functions"
      glob: "**/*.{ts,js}"
      run: npx eslint {staged_files} --fix && git add {staged_files}
    lint-angular:
      glob: "{src/*.{ts,html},src/**/*.{ts,html}}"
      run: ESLINT_USE_FLAT_CONFIG=false npx eslint {staged_files} --fix && git add {staged_files}

fix: clear stale admin provider chart graphics
  src/app/components/admin/admin-user-overview/admin-auth-provider-chart.component.ts
  src/app/components/admin/admin-user-overview/admin-user-chart-components.spec.ts
Due: lint-angular

fix: reset empty admin growth chart
  src/app/components/admin/admin-user-overview/admin-user-chart-components.spec.ts
  src/app/components/admin/admin-user-overview/admin-user-growth-chart.component.ts
Due: lint-angular

fix: preserve admin trend loading state
  src/app/components/admin/admin-user-overview/admin-user-overview.component.html
  src/app/components/admin/admin-user-overview/admin-user-overview.component.spec.ts
  src/app/services/admin-user-analytics.store.spec.ts
  src/app/services/admin-user-analytics.store.ts
Due: lint-angular

fix: add Garmin webhook family telemetry
  docs/garmin-integration.md
  functions/src/sleep/webhooks.spec.ts
  functions/src/sleep/webhooks.ts
Due: lint-functions

feat: split active users by plan
  docs/admin-dashboard-history.md
  functions/src/admin/auth-activity.handlers.spec.ts
  functions/src/admin/dashboard-history.handlers.spec.ts
  functions/src/admin/handlers/dashboard-history.handlers.ts
  functions/src/admin/shared/types.ts
  functions/src/admin/shared/user-metrics.ts
  functions/src/admin/user-metrics.spec.ts
  src/app/components/admin/admin-dashboard/admin-dashboard.component.html
  src/app/components/admin/admin-dashboard/admin-dashboard.component.spec.ts
  src/app/components/admin/admin-dashboard/admin-user-history.component.html
  src/app/components/admin/admin-dashboard/admin-user-history.component.scss
  src/app/components/admin/admin-dashboard/admin-user-history.component.spec.ts
  src/app/components/admin/admin-dashboard/admin-user-history.component.ts
  src/app/components/admin/admin-user-kpi-grid/admin-user-kpi-grid.component.html
  src/app/components/admin/admin-user-kpi-grid/admin-user-kpi-grid.component.scss
  src/app/components/admin/admin-user-kpi-grid/admin-user-kpi-grid.component.spec.ts
  src/app/components/admin/admin-user-overview/admin-user-overview.component.spec.ts
  src/app/helpers/admin-dashboard-history.helper.spec.ts
  src/app/helpers/admin-user-kpis.helper.spec.ts
  src/app/helpers/admin-user-kpis.helper.ts
  src/app/services/admin.service.spec.ts
  src/app/services/admin.service.ts
Due: lint-functions, lint-angular

feat: enable Garmin Health for all connected users
  docs/garmin-integration.md
  docs/provider-integration-guide.md
  docs/sleep-sync-operations.md
  docs/unified-health-data.md
  functions/src/garmin/health-availability.spec.ts
  functions/src/garmin/health-availability.ts
  functions/src/garmin/health-backfill.spec.ts
  functions/src/garmin/health-backfill.ts
  functions/src/garmin/health-flags.spec.ts
  functions/src/garmin/health-flags.ts
  functions/src/garmin/health-rollout.spec.ts
  functions/src/garmin/health-rollout.ts
  functions/src/service-connection-meta.spec.ts
  functions/src/service-connection-meta.ts
  functions/src/sleep/backfill.spec.ts
  functions/src/sleep/backfill.ts
  functions/src/sleep/queue.spec.ts
  functions/src/sleep/queue.ts
  functions/src/sleep/webhooks.spec.ts
  functions/src/sleep/webhooks.ts
  src/app/components/history-import-form/history-import.form.component.html
  src/app/components/history-import-form/history-import.form.component.spec.ts
  src/app/components/history-import-form/history-import.form.component.ts
  src/app/components/integrations/integration-pages.content.ts
  src/app/components/services/services.component.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/app/shared/policies.content.ts
Due: lint-functions, lint-angular

chore: remove unused Firestore rules helpers
  firestore.rules
Due: none

fix: count canonical marketing consent
  firestore.indexes.json
  functions/src/admin/handlers/users.handlers.ts
  functions/src/admin/marketing-consent-count.handlers.spec.ts
  functions/src/admin/shared/types.ts
  functions/src/firestore-indexes.spec.ts
  shared/user-profile-firestore.ts
  src/app/services/app.user.service.ts
Due: lint-functions, lint-angular

fix: accept optional Garmin Body Battery duration
  functions/src/garmin/health.spec.ts
  functions/src/garmin/health.ts
Due: lint-functions

docs: require project assignment for new issues
  AGENTS.md
Due: none

feat: add source-separated Health workspace
  docs/unified-health-data.md
  firebase.json
  ngsw-config.json
  shared/health-query.ts
  src/app/app.routes.server.spec.ts
  src/app/app.routes.server.ts
  src/app/app.routing.module.spec.ts
  src/app/app.routing.module.ts
  src/app/components/health/health-metric-chart.component.html
  src/app/components/health/health-metric-chart.component.scss
  src/app/components/health/health-metric-chart.component.ts
  src/app/components/health/health-priority-summary.component.html
  src/app/components/health/health-priority-summary.component.scss
  src/app/components/health/health-priority-summary.component.ts
  src/app/components/health/health-source-observation-table.component.html
  src/app/components/health/health-source-observation-table.component.scss
  src/app/components/health/health-source-observation-table.component.ts
  src/app/components/health/health-workspace.component.html
  src/app/components/health/health-workspace.component.scss
  src/app/components/health/health-workspace.component.spec.ts
  src/app/components/health/health-workspace.component.ts
  src/app/components/sidenav/sidenav.component.html
  src/app/components/sidenav/sidenav.component.spec.ts
  src/app/components/summaries/summaries.component.css
  src/app/components/summaries/summaries.component.html
  src/app/components/summaries/summaries.component.spec.ts
  src/app/helpers/health-metric-chart.helper.spec.ts
  src/app/helpers/health-metric-chart.helper.ts
  src/app/helpers/health-workspace.helper.spec.ts
  src/app/helpers/health-workspace.helper.ts
  src/app/services/app.health.service.spec.ts
  src/app/services/app.health.service.ts
  src/app/shared/health.shared.spec.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/app/shared/policies.content.spec.ts
  src/app/shared/policies.content.ts
  src/firebase-hosting.config.spec.ts
  src/robots.txt
Due: lint-angular

fix: remove privacy boilerplate from SEO copy
  src/app/app.routing.module.spec.ts
  src/app/app.routing.module.ts
  src/app/components/features/workout-data-comparison-page.component.html
  src/app/components/features/workout-data-comparison-page.content.spec.ts
  src/app/components/features/workout-data-comparison-page.content.ts
  src/app/components/home/home.component.html
  src/app/components/home/home.component.spec.ts
  src/app/components/integrations/integration-pages.content.spec.ts
  src/app/components/integrations/integration-pages.content.ts
  src/app/components/integrations/integrations-hub-page.component.html
  src/app/components/integrations/integrations-hub-page.component.spec.ts
  src/app/components/integrations/provider-integration-page.component.spec.ts
  src/app/components/public-footer/public-footer.component.html
  src/app/components/public-footer/public-footer.component.spec.ts
  src/app/components/public-seo/public-seo-pages.content.spec.ts
  src/app/components/public-seo/public-seo-pages.content.ts
  src/app/components/tools/tools-hub-page.component.html
  src/app/components/tools/tools-hub-page.component.spec.ts
  src/app/services/seo.service.spec.ts
  src/app/services/seo.service.ts
  src/index.html
Due: lint-angular

fix: persist Health range without URL state
  docs/unified-health-data.md
  src/app/components/health/health-workspace.component.html
  src/app/components/health/health-workspace.component.scss
  src/app/components/health/health-workspace.component.spec.ts
  src/app/components/health/health-workspace.component.ts
  src/app/helpers/health-workspace.helper.spec.ts
  src/app/helpers/health-workspace.helper.ts
  src/app/models/app-user.interface.ts
  src/app/services/app.user-settings-query.service.spec.ts
  src/app/services/app.user-settings-query.service.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: align Health workspace with Material and ECharts
  .agent/rules/material-design-strict.md
  docs/unified-health-data.md
  src/app/components/health/health-metric-chart.component.html
  src/app/components/health/health-metric-chart.component.scss
  src/app/components/health/health-metric-chart.component.ts
  src/app/components/health/health-metric-series-chart.component.html
  src/app/components/health/health-metric-series-chart.component.scss
  src/app/components/health/health-metric-series-chart.component.spec.ts
  src/app/components/health/health-metric-series-chart.component.ts
  src/app/components/health/health-priority-summary.component.html
  src/app/components/health/health-priority-summary.component.scss
  src/app/components/health/health-priority-summary.component.ts
  src/app/components/health/health-workspace.component.html
  src/app/components/health/health-workspace.component.scss
  src/app/components/health/health-workspace.component.spec.ts
  src/app/components/health/health-workspace.component.ts
  src/app/helpers/health-metric-chart.helper.spec.ts
  src/app/helpers/health-metric-chart.helper.ts
Due: lint-angular

fix: close Health workspace review gaps
  .agent/rules/material-design-strict.md
  src/app/components/health/health-metric-chart.component.html
  src/app/components/health/health-metric-chart.component.spec.ts
  src/app/components/health/health-source-observation-table.component.html
  src/app/components/health/health-source-observation-table.component.scss
  src/app/components/health/health-source-observation-table.component.ts
  src/app/components/health/health-workspace.component.html
  src/app/components/health/health-workspace.component.spec.ts
  src/app/components/health/health-workspace.component.ts
  src/app/helpers/health-workspace.helper.spec.ts
  src/app/helpers/health-workspace.helper.ts
  src/app/services/app.health.service.spec.ts
  src/app/services/app.health.service.ts
Due: lint-angular

fix: gate Health navigation to pilot user
  shared/health-workspace-rollout.ts
  src/app/components/sidenav/sidenav.component.html
  src/app/components/sidenav/sidenav.component.spec.ts
  src/app/components/sidenav/sidenav.component.ts
Due: lint-angular

fix: increase Suunto disconnect memory
  functions/src/suunto/auth/wrapper.ts
Due: lint-functions

refactor: adopt Sports Lib JSON for health metrics
  docs/mcp-server.md
  docs/sleep-sync-operations.md
  docs/training-workspace.md
  docs/unified-health-data.md
  firestore.indexes.json
  functions/package-lock.json
  functions/package.json
  functions/src/derived-metrics/derived-metrics.service.spec.ts
  functions/src/derived-metrics/derived-metrics.service.ts
  functions/src/firestore-indexes.spec.ts
  functions/src/health/sports-lib-data-migration.spec.ts
  functions/src/health/sports-lib-data-migration.ts
  functions/src/health/writer.spec.ts
  functions/src/health/writer.ts
  functions/src/mcp/data.service.spec.ts
  functions/src/mcp/data.service.ts
  functions/src/mcp/metric-catalog.spec.ts
  functions/src/mcp/metric-catalog.ts
  functions/src/reparse/SPORTS_LIB_REPARSE_RUNBOOK.md
  functions/src/scripts/migrate-coros-sleep-to-health.ts
  functions/src/scripts/migrate-health-sleep-sports-lib-data.ts
  functions/src/sleep/writer.spec.ts
  functions/src/sleep/writer.ts
  package-lock.json
  package.json
  shared/health-query.ts
  shared/health.ts
  shared/sleep.ts
  shared/sports-lib-data.ts
  shared/sports-lib-health-data.ts
  src/app/services/app.health.service.spec.ts
  src/app/services/app.sleep.service.spec.ts
  src/app/services/app.sleep.service.ts
  src/app/shared/sports-lib-health-data.shared.spec.ts
  src/firestore.rules.spec.ts
Due: lint-functions, lint-angular

fix: harden Sports Lib migration writes
  docs/sleep-sync-operations.md
  functions/src/health/sports-lib-data-migration.spec.ts
  functions/src/health/sports-lib-data-migration.ts
  functions/src/scripts/migrate-health-sleep-sports-lib-data.ts
  functions/src/sleep/writer.spec.ts
  functions/src/sleep/writer.ts
Due: lint-functions

fix: prevent Health card icon clipping
  src/app/components/health/health-priority-summary.component.html
  src/app/components/health/health-priority-summary.component.scss
  src/app/components/health/health-workspace.component.html
  src/app/components/health/health-workspace.component.spec.ts
Due: lint-angular

fix: compact Health priority summaries
  src/app/components/health/health-priority-summary.component.html
  src/app/components/health/health-priority-summary.component.scss
  src/app/components/health/health-workspace.component.spec.ts
Due: lint-angular

fix: tighten Health workspace density
  src/app/components/health/health-metric-chart.component.scss
  src/app/components/health/health-metric-series-chart.component.scss
  src/app/components/health/health-priority-summary.component.scss
  src/app/components/health/health-source-observation-table.component.scss
  src/app/components/health/health-workspace.component.html
  src/app/components/health/health-workspace.component.scss
Due: lint-angular

fix: skip series-only health migration records
  functions/src/health/sports-lib-data-migration.spec.ts
  functions/src/health/sports-lib-data-migration.ts
Due: lint-functions

fix: tighten homepage section headings
  src/app/components/home/home.component.html
  src/app/components/home/home.component.spec.ts
Due: lint-angular

fix: restore homepage provider logo opacity
  src/app/components/home/home.component.scss
Due: none

fix: preserve touch scrolling on homepage tooltips
  src/app/components/home/home.component.spec.ts
  src/app/components/home/home.component.ts
Due: lint-angular

fix: tighten homepage card header spacing
  src/app/components/home/home.component.scss
Due: none

fix: restore homepage assistant subtitle spacing
  src/app/components/home/home.component.scss
Due: none

fix: speed up homepage transitions
  src/app/components/home/home.component.scss
Due: none

fix: simplify Health source status
  src/app/components/health/health-workspace.component.html
  src/app/components/health/health-workspace.component.scss
  src/app/components/health/health-workspace.component.spec.ts
  src/app/components/health/health-workspace.component.ts
Due: lint-angular

feat: add concrete homepage training snapshot
  src/app/components/home/home.component.html
  src/app/components/home/home.component.scss
  src/app/components/home/home.component.spec.ts
  src/app/components/home/home.component.ts
Due: lint-angular

feat: add homepage signal chart previews
  src/app/components/home/home-signal-charts-preview.component.html
  src/app/components/home/home-signal-charts-preview.component.scss
  src/app/components/home/home-signal-charts-preview.component.spec.ts
  src/app/components/home/home-signal-charts-preview.component.ts
  src/app/components/home/home-signal-charts-preview.helper.ts
  src/app/components/home/home.component.html
  src/app/components/home/home.component.spec.ts
  src/app/components/home/home.component.ts
Due: lint-angular

fix: align homepage previews with chart colors
  src/app/components/home/home-signal-charts-preview.component.spec.ts
  src/app/components/home/home-signal-charts-preview.component.ts
  src/app/components/home/home-signal-charts-preview.helper.ts
Due: lint-angular

feat: add homepage dashboard and workout previews
  src/app/components/event/chart/panel/event.card.chart.panel.component.html
  src/app/components/event/chart/panel/event.card.chart.panel.component.spec.ts
  src/app/components/event/chart/panel/event.card.chart.panel.component.ts
  src/app/components/home/home-dashboard-preview.component.html
  src/app/components/home/home-dashboard-preview.component.scss
  src/app/components/home/home-dashboard-preview.component.spec.ts
  src/app/components/home/home-dashboard-preview.component.ts
  src/app/components/home/home-workout-preview.component.html
  src/app/components/home/home-workout-preview.component.scss
  src/app/components/home/home-workout-preview.component.spec.ts
  src/app/components/home/home-workout-preview.component.ts
  src/app/components/home/home.component.html
  src/app/components/home/home.component.scss
  src/app/components/home/home.component.spec.ts
  src/app/components/home/home.component.ts
Due: lint-angular

feat: expand homepage workout analysis preview
  src/app/components/event/chart/panel/event.card.chart.panel.component.ts
  src/app/components/home/home-workout-preview.component.html
  src/app/components/home/home-workout-preview.component.scss
  src/app/components/home/home-workout-preview.component.spec.ts
  src/app/components/home/home-workout-preview.component.ts
  src/app/components/home/home.component.html
  src/app/components/home/home.component.scss
  src/app/components/home/home.component.spec.ts
Due: lint-angular

fix: correct homepage workout analysis copy
  src/app/components/event/chart/panel/event.card.chart.panel.component.spec.ts
  src/app/components/event/chart/panel/event.card.chart.panel.component.ts
  src/app/components/home/home-workout-preview.component.html
  src/app/components/home/home-workout-preview.component.scss
  src/app/components/home/home-workout-preview.component.spec.ts
  src/app/components/home/home.component.html
  src/app/components/home/home.component.spec.ts
Due: lint-angular

fix: unwrap homepage workout charts
  src/app/components/home/home-workout-preview.component.html
  src/app/components/home/home-workout-preview.component.scss
  src/app/components/home/home-workout-preview.component.spec.ts
Due: lint-angular

perf: bound health migration concurrency
  docs/sleep-sync-operations.md
  functions/src/health/sports-lib-data-migration.spec.ts
  functions/src/health/sports-lib-data-migration.ts
Due: lint-functions

fix: align homepage workout chart cards
  src/app/components/event/chart/panel/event.card.chart.panel.component.html
  src/app/components/event/chart/panel/event.card.chart.panel.component.ts
  src/app/components/home/home-workout-preview.component.html
  src/app/components/home/home-workout-preview.component.scss
  src/app/components/home/home-workout-preview.component.spec.ts
Due: lint-angular

feat: add global health migration cohorts
  docs/sleep-sync-operations.md
  functions/package.json
  functions/src/health/sports-lib-data-global-migration.spec.ts
  functions/src/health/sports-lib-data-global-migration.ts
  functions/src/scripts/migrate-health-sleep-sports-lib-data-global.ts
Due: lint-functions
