Repository jimmykane/quantified-self: changes, and which lefthook commands are due for each by the changed paths.
All: lint-functions, lint-angular

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint-functions:
      root: "functions"
      glob: "**/*.{ts,js}"
      run: npx eslint {staged_files} --fix && git add {staged_files}
    lint-angular:
      glob: "{src/*.{ts,html},src/**/*.{ts,html}}"
      run: ESLINT_USE_FLAT_CONFIG=false npx eslint {staged_files} --fix && git add {staged_files}

fix: whats new and update message
  src/app/components/whats-new/whats-new-item.component.scss
  src/app/services/app.update.service.spec.ts
  src/app/services/app.update.service.ts
Due: lint-angular

fix: untrack file
  pull_request.md
Due: none

chore: improve updates
  src/app/app.component.ts
  src/app/components/whats-new/whats-new-item.component.html
  src/app/components/whats-new/whats-new-item.component.scss
  src/app/services/app.update.service.spec.ts
  src/app/services/app.update.service.ts
Due: lint-angular

refactor: use map box for events map
  package-lock.json
  package.json
  src/app/app.module.ts
  src/app/components/event/map/map-actions/map.actions.component.html
  src/app/components/event/map/map-actions/map.actions.component.spec.ts
  src/app/components/event/map/map-actions/map.actions.component.ts
  src/app/components/events-map/events-map.component.css
  src/app/components/events-map/events-map.component.html
  src/app/components/events-map/events-map.component.spec.ts
  src/app/components/events-map/events-map.component.ts
  src/app/components/map/map-abstract.directive.ts
  src/app/components/shared/map-activity-popup/map-activity-popup.component.html
  src/app/components/shared/map-activity-popup/map-activity-popup.component.scss
  src/app/components/shared/map-activity-popup/map-activity-popup.component.ts
  src/app/components/summaries/summaries.component.html
  src/app/components/summaries/summaries.component.ts
  src/app/components/tile/actions/map/tile.map.actions.component.html
  src/app/components/tile/actions/map/tile.map.actions.component.spec.ts
  src/app/components/tile/actions/map/tile.map.actions.component.ts
  src/app/components/tile/map/tile.map.component.html
  src/app/components/tile/map/tile.map.component.ts
  src/app/components/tracks/tracks.component.html
  src/app/components/tracks/tracks.component.scss
  src/app/components/tracks/tracks.component.spec.ts
  src/app/components/tracks/tracks.component.ts
  src/app/modules/dashboard.module.ts
  src/app/modules/shared.module.ts
  src/app/services/google-maps-loader.service.spec.ts
  src/app/services/google-maps-loader.service.ts
  src/app/services/map-style.service.spec.ts
  src/app/services/map-style.service.ts
  src/app/services/map/map-style.types.ts
  src/app/services/map/mapbox-layer.utils.spec.ts
  src/app/services/map/mapbox-layer.utils.ts
  src/app/utils/app.user.utilities.ts
  src/styles.scss
  src/styles/_google-maps.scss
  src/tsconfig.app.json
Due: lint-angular

chore: popup improvements
  src/app/components/events-map/events-map.component.html
  src/app/components/events-map/events-map.component.spec.ts
  src/app/components/events-map/events-map.component.ts
  src/app/components/tracks/tracks.component.html
  src/app/components/tracks/tracks.component.spec.ts
  src/app/components/tracks/tracks.component.ts
  src/app/services/map/map-event-popup-content.service.spec.ts
  src/app/services/map/map-event-popup-content.service.ts
Due: lint-angular

chore: events map improvements
  src/app/components/events-map/events-map.component.html
  src/app/components/events-map/events-map.component.spec.ts
  src/app/components/events-map/events-map.component.ts
  src/app/components/shared/map-activity-popup/map-activity-popup.component.html
  src/app/components/tracks/tracks.component.spec.ts
  src/app/components/tracks/tracks.component.ts
  src/app/services/map/map-event-popup-content.service.spec.ts
  src/app/services/map/map-event-popup-content.service.ts
Due: lint-angular

fix: transition
  src/styles.scss
Due: none

chore: show also the track of the activity
  src/app/components/events-map/events-map.component.spec.ts
  src/app/components/events-map/events-map.component.ts
Due: lint-angular

chore: styles and mytracks improvements
  src/app/components/event/map/event.card.map.component.html
  src/app/components/event/map/map-actions/map.actions.component.css
  src/app/components/event/map/map-actions/map.actions.component.html
  src/app/components/event/map/map-actions/map.actions.component.spec.ts
  src/app/components/event/map/map-actions/map.actions.component.ts
  src/app/components/header-stats/header-stats.component.scss
  src/app/components/map/map-layers-actions/map-layers-actions.component.css
  src/app/components/map/map-layers-actions/map-layers-actions.component.html
  src/app/components/map/map-layers-actions/map-layers-actions.component.spec.ts
  src/app/components/map/map-layers-actions/map-layers-actions.component.ts
  src/app/components/summaries/summaries.component.css
  src/app/components/tracks/tracks.component.html
  src/app/components/tracks/tracks.component.scss
  src/app/components/tracks/tracks.component.spec.ts
  src/app/components/tracks/tracks.component.ts
  src/app/modules/event.module.ts
  src/app/modules/shared.module.ts
Due: lint-angular

chore: bump sportslib
  functions/package-lock.json
  functions/package.json
  package-lock.json
  package.json
Due: none

chore: improvements for streams loading
  functions/src/shared/parsing-options.ts
  src/app/services/app.event.service.spec.ts
  src/app/services/app.event.service.ts
  src/app/services/app.original-file-hydration.service.ts
Due: lint-functions, lint-angular

chore: better zoom for markers
  src/app/components/tracks/tracks.component.ts
Due: lint-angular

chore: bump sl
  functions/package-lock.json
  functions/package.json
  package-lock.json
  package.json
Due: none

chore: cleanup
  src/app/components/shared/summary-primary-info/summary-primary-info.component.html
  src/app/components/shared/summary-primary-info/summary-primary-info.component.scss
  src/app/components/shared/summary-primary-info/summary-primary-info.component.ts
Due: lint-angular

refactor: update hero metrics and fix tests
  src/app/components/event-summary/event-summary.component.ts
  src/app/components/shared/hero-metrics/hero-metrics.component.html
  src/app/components/shared/hero-metrics/hero-metrics.component.scss
  src/app/components/shared/hero-metrics/hero-metrics.component.ts
  src/app/components/shared/summary-primary-info/summary-primary-info.component.html
  src/app/components/shared/summary-primary-info/summary-primary-info.component.scss
  src/app/components/shared/summary-primary-info/summary-primary-info.component.ts
  src/app/components/tracks/tracks.component.spec.ts
  src/app/constants/event-summary-metric-groups.ts
  src/app/helpers/summary-display.helper.ts
  src/app/modules/shared.module.ts
  src/app/services/map/map-event-popup-content.service.spec.ts
  src/app/services/map/map-event-popup-content.service.ts
Due: lint-angular

chore: rules
  .agent/rules/verify-changes-with-tests.md
Due: none

chore: styles
  src/app/components/events-map/events-map.component.css
  src/app/components/tracks/tracks.component.scss
Due: none

chore: improve admin
  src/app/components/admin/admin-changelog/admin-changelog.component.html
  src/app/components/admin/admin-changelog/admin-changelog.component.scss
  src/app/components/admin/admin-user-management/admin-user-management.component.html
  src/app/components/admin/admin-user-management/admin-user-management.component.scss
  src/app/components/admin/admin-user-management/admin-user-management.component.ts
Due: lint-angular

chore: bump version
  package-lock.json
  package.json
Due: none

refactor: map activity color service
  src/app/components/events-map/events-map.component.spec.ts
  src/app/components/events-map/events-map.component.ts
  src/app/components/tracks/tracks-map.manager.ts
  src/app/services/map/map-activity-color.utils.spec.ts
  src/app/services/map/map-activity-color.utils.ts
  src/app/services/map/mapbox-start-point-layer.service.ts
Due: lint-angular

chore: fix for mytracks that is basic
  src/app/components/sidenav/sidenav.component.html
Due: lint-angular

fix: mytracks loaders
  src/app/components/tracks/tracks-map.manager.spec.ts
  src/app/components/tracks/tracks-map.manager.ts
  src/app/components/tracks/tracks.component.html
  src/app/components/tracks/tracks.component.spec.ts
  src/app/components/tracks/tracks.component.ts
Due: lint-angular

feature: reparse activities
  functions/package.json
  functions/src/index.ts
  functions/src/reparse/sports-lib-reparse.service.spec.ts
  functions/src/reparse/sports-lib-reparse.service.ts
  functions/src/schedule/sports-lib-reparse.spec.ts
  functions/src/schedule/sports-lib-reparse.ts
  functions/src/scripts/reparse-sports-lib-events.spec.ts
  functions/src/scripts/reparse-sports-lib-events.ts
  functions/src/shared/cloud-tasks-reparse.spec.ts
  functions/src/shared/cloud-tasks.ts
  functions/src/shared/ttl-config.spec.ts
  functions/src/shared/ttl-config.ts
  functions/src/tasks/sports-lib-reparse-worker.spec.ts
  functions/src/tasks/sports-lib-reparse-worker.ts
Due: lint-functions

chore: allowlist and converage
  functions/src/reparse/sports-lib-reparse.service.spec.ts
  functions/src/reparse/sports-lib-reparse.service.ts
  functions/src/schedule/sports-lib-reparse.spec.ts
  functions/src/schedule/sports-lib-reparse.ts
  functions/src/scripts/reparse-sports-lib-events.spec.ts
  functions/src/scripts/reparse-sports-lib-events.ts
Due: lint-functions

chore: optionally allow for free users as well
  functions/src/schedule/sports-lib-reparse.spec.ts
  functions/src/schedule/sports-lib-reparse.ts
  functions/src/scripts/reparse-sports-lib-events.spec.ts
  functions/src/scripts/reparse-sports-lib-events.ts
  functions/src/tasks/sports-lib-reparse-worker.spec.ts
  functions/src/tasks/sports-lib-reparse-worker.ts
Due: lint-functions

chore: add docs
  functions/src/reparse/SPORTS_LIB_REPARSE_RUNBOOK.md
Due: none

chore: use sha256
  functions/src/reparse/sports-lib-reparse.service.ts
Due: lint-functions

chore: fix docs
  functions/src/reparse/SPORTS_LIB_REPARSE_RUNBOOK.md
Due: none

chore: use manifest
  functions/src/schedule/sports-lib-reparse.ts
  functions/src/tasks/sports-lib-reparse-worker.ts
  src/shared/functions-manifest.ts
Due: lint-functions, lint-angular

fix: script
  functions/src/reparse/SPORTS_LIB_REPARSE_RUNBOOK.md
  functions/src/scripts/reparse-sports-lib-events.spec.ts
  functions/src/scripts/reparse-sports-lib-events.ts
Due: lint-functions

chore: use constants
  functions/src/reparse/SPORTS_LIB_REPARSE_RUNBOOK.md
  functions/src/reparse/sports-lib-reparse.service.ts
  functions/src/schedule/sports-lib-reparse.spec.ts
  functions/src/schedule/sports-lib-reparse.ts
  functions/src/scripts/reparse-sports-lib-events.spec.ts
  functions/src/scripts/reparse-sports-lib-events.ts
  functions/src/tasks/sports-lib-reparse-worker.spec.ts
  functions/src/tasks/sports-lib-reparse-worker.ts
Due: lint-functions

chore: seperate queues
  functions/src/config.spec.ts
  functions/src/config.ts
  functions/src/reparse/SPORTS_LIB_REPARSE_RUNBOOK.md
  functions/src/reparse/sports-lib-reparse.config.ts
  functions/src/reparse/sports-lib-reparse.service.ts
  functions/src/shared/cloud-tasks-reparse.spec.ts
  functions/src/shared/cloud-tasks.spec.ts
  functions/src/shared/cloud-tasks.ts
  functions/src/users/admin.spec.ts
  functions/src/users/admin.ts
  functions/src/utils.ts
  src/app/components/admin/admin-queue-stats/admin-queue-stats.component.html
  src/app/components/admin/admin-queue-stats/admin-queue-stats.component.spec.ts
  src/app/services/admin.service.spec.ts
  src/app/services/admin.service.ts
Due: lint-functions, lint-angular

chore: only reparse my uuid
  functions/src/reparse/sports-lib-reparse.config.ts
Due: lint-functions

chore: fix missing
  functions/src/reparse/sports-lib-reparse.service.ts
Due: lint-functions

chore: update script
  scripts/setup-ttl.sh
Due: none

chore: fix for enqueue
  functions/src/schedule/sports-lib-reparse.spec.ts
  functions/src/schedule/sports-lib-reparse.ts
Due: lint-functions

chore: better logging
  functions/src/scripts/reparse-sports-lib-events.spec.ts
  functions/src/scripts/reparse-sports-lib-events.ts
Due: lint-functions

chore: add docs
  FIREBASE_SAVINGS_OPORTUNITIES
  functions/src/reparse/sports-lib-reparse.service.ts
Due: lint-functions

chore: match version
  functions/package-lock.json
  functions/package.json
  functions/src/reparse/SPORTS_LIB_REPARSE_RUNBOOK.md
  functions/src/reparse/sports-lib-reparse.service.spec.ts
  functions/src/reparse/sports-lib-reparse.service.ts
  functions/src/scripts/reparse-sports-lib-events.spec.ts
Due: lint-functions
