Repository jimmykane/quantified-self: changes, and which lefthook commands are due for each by the changed paths.
All: lint-functions, lint-angular

lint-functions:
  run: npx eslint {staged_files} --fix && git add {staged_files}

lint-angular:
  run: ESLINT_USE_FLAT_CONFIG=false npx eslint {staged_files} --fix && git add {staged_files}

chore: use new model
  functions/src/ai/insights/genkit.spec.ts
  functions/src/ai/insights/genkit.ts
Due: lint-functions

chore: fixes
  src/app/components/history-import-form/history-import.form.component.spec.ts
  src/app/components/history-import-form/history-import.form.component.ts
  src/app/components/services/coros/services.coros.component.html
  src/app/components/services/garmin/services.garmin.component.html
  src/app/components/services/suunto/services.suunto.component.html
Due: lint-angular

chore: fix issues
  src/app/components/history-import-form/history-import.form.component.ts
  src/app/components/services/coros/services.coros.component.html
  src/app/components/services/garmin/services.garmin.component.html
  src/app/components/services/suunto/services.suunto.component.html
Due: lint-angular

chore: all options and default for dashboard manager
  src/app/components/summaries/dashboard-manager-dialog/dashboard-manager-dialog.component.html
  src/app/components/summaries/dashboard-manager-dialog/dashboard-manager-dialog.component.spec.ts
  src/app/components/summaries/dashboard-manager-dialog/dashboard-manager-dialog.component.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

chore: fixes
  functions/src/sleep/backfill.spec.ts
  functions/src/sleep/backfill.ts
Due: lint-functions

chore: improve sleep display
  src/app/components/charts/sleep-trend/charts.sleep-trend.component.spec.ts
  src/app/components/charts/sleep-trend/charts.sleep-trend.component.ts
Due: lint-angular

chore: PR fixes
  functions/src/sleep/backfill.spec.ts
  functions/src/sleep/backfill.ts
Due: lint-functions

chore: pr fixes
  functions/src/sleep/backfill.spec.ts
  functions/src/sleep/backfill.ts
Due: lint-functions

feat: add integrations SEO pages
  AGENTS.md
  src/app/app.routing.module.spec.ts
  src/app/app.routing.module.ts
  src/app/components/home/home.component.html
  src/app/components/home/home.component.scss
  src/app/components/home/home.component.spec.ts
  src/app/components/integrations/integration-pages.content.spec.ts
  src/app/components/integrations/integration-pages.content.ts
  src/app/components/integrations/integrations-hub-page.component.html
  src/app/components/integrations/integrations-hub-page.component.scss
  src/app/components/integrations/integrations-hub-page.component.spec.ts
  src/app/components/integrations/integrations-hub-page.component.ts
  src/app/components/integrations/provider-integration-page.component.html
  src/app/components/integrations/provider-integration-page.component.scss
  src/app/components/integrations/provider-integration-page.component.spec.ts
  src/app/components/integrations/provider-integration-page.component.ts
  src/app/services/storage/noop.icon.registry.spec.ts
  src/app/services/storage/noop.icon.registry.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/robots.txt
  src/sitemap.xml
Due: lint-angular

chore: tile helper
  src/app/helpers/dashboard-tile-view-model.helper.spec.ts
  src/app/helpers/dashboard-tile-view-model.helper.ts
Due: lint-angular

chore: pr fixes
  functions/src/sleep/backfill.spec.ts
  functions/src/sleep/backfill.ts
  src/app/components/services/garmin/services.garmin.component.html
  src/app/components/services/garmin/services.garmin.component.spec.ts
  src/app/components/services/garmin/services.garmin.component.ts
Due: lint-functions, lint-angular

fix: align integration card actions
  src/app/components/integrations/integrations-hub-page.component.scss
Due: none

fix: pin integration card actions
  src/app/components/integrations/integrations-hub-page.component.scss
Due: none

fix: equalize integration card heights
  src/app/components/integrations/integrations-hub-page.component.scss
Due: none

fix: align integration card CTA rows
  src/app/components/integrations/integrations-hub-page.component.scss
Due: none

chore: fix mapbox loader
  src/app/services/mapbox-loader.service.ts
Due: lint-angular

chore: improve integrations
  src/app/components/event-summary/service-source-icon/service-source-icon.component.css
  src/app/components/integrations/integration-pages.content.ts
  src/app/components/integrations/integrations-hub-page.component.html
  src/app/components/integrations/integrations-hub-page.component.scss
  src/app/components/integrations/integrations-hub-page.component.spec.ts
  src/app/components/integrations/provider-integration-page.component.scss
Due: lint-angular

chore: SEO opts
  src/app/components/integrations/integration-pages.content.spec.ts
  src/app/components/integrations/integration-pages.content.ts
  src/app/components/integrations/integrations-hub-page.component.html
  src/app/components/integrations/provider-integration-page.component.spec.ts
Due: lint-angular

chore: SSR shit for prerender
  angular.json
  firebase.json
  ngsw-config.json
  package-lock.json
  package.json
  src/app/app-shell.component.ts
  src/app/app.module.server.ts
  src/app/app.module.ts
  src/app/app.routes.server.spec.ts
  src/app/app.routes.server.ts
  src/app/app.server.providers.ts
  src/app/components/integrations/integration-pages.content.ts
  src/app/resolvers/network-aware-preloading.strategy.spec.ts
  src/app/resolvers/network-aware-preloading.strategy.ts
  src/app/services/seo.service.spec.ts
  src/app/services/seo.service.ts
  src/main.server.ts
  src/tsconfig.app.json
Due: lint-angular

chore: improve routing
  src/app/app.routes.server.spec.ts
  src/app/app.routes.server.ts
  src/app/app.routing.module.spec.ts
  src/app/app.routing.module.ts
  src/app/components/home/home.component.spec.ts
  src/app/components/home/home.component.ts
  src/sitemap.xml
Due: lint-angular

chore: fix chart tooltips
  src/app/components/charts/columns/charts.columns.component.spec.ts
  src/app/components/charts/columns/charts.columns.component.ts
  src/app/components/charts/pie/charts.pie.component.spec.ts
  src/app/components/charts/pie/charts.pie.component.ts
  src/app/components/charts/xy/charts.xy.component.spec.ts
  src/app/components/charts/xy/charts.xy.component.ts
  src/app/helpers/dashboard-echarts-cartesian.helper.spec.ts
  src/app/helpers/dashboard-echarts-cartesian.helper.ts
Due: lint-angular

chore: bv
  package.json
Due: none

chore: fix tests
  functions/src/events/upload-activity.spec.ts
Due: lint-functions

Revert "chore: upgrade echarts"
  package-lock.json
  package.json
  src/app/components/admin/admin-queue-stats/admin-queue-stats.component.spec.ts
  src/app/components/admin/admin-queue-stats/admin-queue-stats.component.ts
  src/app/components/admin/admin-user-management/admin-user-management.component.spec.ts
  src/app/components/admin/admin-user-management/admin-user-management.component.ts
  src/app/components/charts/columns/charts.columns.component.spec.ts
  src/app/components/charts/columns/charts.columns.component.ts
  src/app/components/charts/intensity-distribution/charts.intensity-distribution.component.spec.ts
  src/app/components/charts/intensity-distribution/charts.intensity-distribution.component.ts
  src/app/components/charts/sleep-trend/charts.sleep-trend.component.spec.ts
  src/app/components/charts/sleep-trend/charts.sleep-trend.component.ts
  src/app/components/event/chart/panel/event.card.chart.panel.component.spec.ts
  src/app/components/event/chart/panel/event.card.chart.panel.component.ts
  src/app/components/event/intensity-zones/event.intensity-zones.component.spec.ts
  src/app/components/event/intensity-zones/event.intensity-zones.component.ts
Due: lint-angular

chore: fix lock
  package-lock.json
Due: none

chore: add altitude grade coloring
  src/app/components/event/chart/actions/event.card.chart.actions.component.html
  src/app/components/event/chart/actions/event.card.chart.actions.component.spec.ts
  src/app/components/event/chart/actions/event.card.chart.actions.component.ts
  src/app/components/event/chart/event.card.chart.component.html
  src/app/components/event/chart/event.card.chart.component.spec.ts
  src/app/components/event/chart/event.card.chart.component.ts
  src/app/components/event/chart/panel/event.card.chart.panel.component.html
  src/app/components/event/chart/panel/event.card.chart.panel.component.spec.ts
  src/app/components/event/chart/panel/event.card.chart.panel.component.ts
  src/app/components/user-settings/user-settings.component.ts
  src/app/helpers/event-echarts-data.helper.spec.ts
  src/app/helpers/event-echarts-data.helper.ts
  src/app/models/app-user.interface.ts
  src/app/resolvers/event.resolver.spec.ts
  src/app/resolvers/event.resolver.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: restore mapbox loader import
  src/app/services/mapbox-loader.service.ts
Due: lint-angular

chore: use 1gb
  functions/src/schedule/enforce-subscription-limits.ts
Due: lint-functions

chore: fix issue with hydration on localhost
  src/app/app.module.ts
Due: lint-angular

chore: fixes for mapbox
  angular.json
  src/app/services/mapbox-loader.service.spec.ts
  src/app/services/mapbox-loader.service.ts
  src/types/mapbox-gl-esm.d.ts
Due: lint-angular

chore: more seo for features
  src/app/app.routes.server.spec.ts
  src/app/app.routes.server.ts
  src/app/app.routing.module.spec.ts
  src/app/app.routing.module.ts
  src/app/components/features/workout-data-comparison-page.component.html
  src/app/components/features/workout-data-comparison-page.component.scss
  src/app/components/features/workout-data-comparison-page.component.spec.ts
  src/app/components/features/workout-data-comparison-page.component.ts
  src/app/components/features/workout-data-comparison-page.content.spec.ts
  src/app/components/features/workout-data-comparison-page.content.ts
  src/app/components/home/home.component.html
  src/app/components/home/home.component.scss
  src/app/components/home/home.component.spec.ts
  src/app/components/integrations/integrations-hub-page.component.html
  src/app/components/integrations/integrations-hub-page.component.scss
  src/app/components/integrations/integrations-hub-page.component.spec.ts
  src/app/components/integrations/provider-integration-page.component.html
  src/app/components/integrations/provider-integration-page.component.spec.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/robots.txt
  src/sitemap.xml
Due: lint-angular

chore: enable hydration
  ngsw-config.json
  src/app/app-shell.component.spec.ts
  src/app/app-shell.component.ts
  src/app/app.module.ts
  src/app/components/route-loader/route-loader.component.spec.ts
  src/app/components/route-loader/route-loader.component.ts
  src/app/shared/public-startup-route.ts
Due: lint-angular

chore: fix tests
  src/app/app.routing.module.spec.ts
Due: lint-angular

chore: more SEO
  firebase.json
  ngsw-config.json
  src/app/app-shell.component.spec.ts
  src/app/app.routes.server.spec.ts
  src/app/app.routes.server.ts
  src/app/app.routing.module.spec.ts
  src/app/app.routing.module.ts
  src/app/app.server.providers.ts
  src/app/components/features/workout-data-comparison-page.content.spec.ts
  src/app/components/features/workout-data-comparison-page.content.ts
  src/app/components/home/home.component.html
  src/app/components/home/home.component.scss
  src/app/components/home/home.component.spec.ts
  src/app/components/integrations/integration-pages.content.spec.ts
  src/app/components/integrations/integration-pages.content.ts
  src/app/components/integrations/integrations-hub-page.component.html
  src/app/components/integrations/integrations-hub-page.component.scss
  src/app/components/integrations/integrations-hub-page.component.spec.ts
  src/app/components/integrations/provider-integration-page.component.html
  src/app/components/integrations/provider-integration-page.component.spec.ts
  src/app/components/public-seo/public-seo-page.component.html
  src/app/components/public-seo/public-seo-page.component.scss
  src/app/components/public-seo/public-seo-page.component.spec.ts
  src/app/components/public-seo/public-seo-page.component.ts
  src/app/components/public-seo/public-seo-pages.content.spec.ts
  src/app/components/public-seo/public-seo-pages.content.ts
  src/app/components/route-loader/route-loader.component.spec.ts
  src/app/components/whats-new/whats-new-page.component.ts
  src/app/policies.routing.module.ts
  src/app/services/seo.service.spec.ts
  src/app/services/seo.service.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/app/shared/public-startup-route.ts
  src/index.html
  src/robots.txt
  src/sitemap.xml
Due: lint-angular

chore: more seo
  ngsw-config.json
  src/app/app.routes.server.spec.ts
  src/app/app.routes.server.ts
  src/app/app.routing.module.spec.ts
  src/app/app.routing.module.ts
  src/app/components/home/home.component.html
  src/app/components/home/home.component.spec.ts
  src/app/components/integrations/integrations-hub-page.component.html
  src/app/components/integrations/integrations-hub-page.component.spec.ts
  src/app/components/public-seo/public-seo-pages.content.spec.ts
  src/app/components/public-seo/public-seo-pages.content.ts
  src/app/components/route-loader/route-loader.component.spec.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/app/shared/public-startup-route.ts
  src/sitemap.xml
Due: lint-angular

chore: SEO improvements
  src/app/app.routes.server.spec.ts
  src/app/app.routes.server.ts
  src/app/app.routing.module.spec.ts
  src/app/app.routing.module.ts
  src/app/components/not-found/not-found.component.html
  src/app/components/not-found/not-found.component.scss
  src/app/components/not-found/not-found.component.spec.ts
  src/app/components/not-found/not-found.component.ts
  src/app/components/public-seo/public-seo-page.component.html
  src/app/components/public-seo/public-seo-page.component.scss
  src/app/components/public-seo/public-seo-page.component.spec.ts
  src/app/components/public-seo/public-seo-pages.content.spec.ts
  src/app/components/public-seo/public-seo-pages.content.ts
  src/app/services/seo.service.spec.ts
  src/app/services/seo.service.ts
Due: lint-angular

chore: do not prerender pricing and release
  src/app/app.routes.server.spec.ts
  src/app/app.routes.server.ts
Due: lint-angular

chore: SEO
  angular.json
  firebase.json
  ngsw-config.json
  src/404.html
  src/app/app.routes.server.spec.ts
  src/app/app.routes.server.ts
  src/app/modules/admin.module.ts
  src/firebase-hosting.config.spec.ts
Due: lint-angular

Path conditions:
  lint-functions: any of: **/*.{ts,js} and ^functions/
  lint-angular: any of: {src/*.{ts,html},src/**/*.{ts,html}}
