Repository jimmykane/quantified-self: changes, and which lefthook commands are due for each by the changed paths.
All: lint-functions, lint-angular

lint-functions:
  run: npx eslint {staged_files} --fix && git add {staged_files}

lint-angular:
  run: ESLINT_USE_FLAT_CONFIG=false npx eslint {staged_files} --fix && git add {staged_files}

chore: update indexes
  firestore.indexes.json
Due: none

chore: indexes
  firestore.indexes.json
Due: none

chore: reduce size
  functions/src/events/reprocess-event.spec.ts
  functions/src/events/reprocess-event.ts
  functions/src/reparse/sports-lib-reparse.config.ts
  functions/src/shared/activity-processing-config.ts
  functions/src/tasks/sports-lib-reparse-worker.spec.ts
  functions/src/tasks/sports-lib-reparse-worker.ts
Due: lint-functions

chore: increase deadlines ?
  functions/src/shared/cloud-tasks-reparse.spec.ts
  functions/src/shared/cloud-tasks.ts
Due: lint-functions

chore: add support for stamina
  functions/package-lock.json
  functions/package.json
  package-lock.json
  package.json
  src/app/components/data-type-icon/data-type-icon.component.spec.ts
  src/app/components/data-type-icon/data-type-icon.component.ts
  src/app/components/event/event.card.component.spec.ts
  src/app/components/event/event.card.component.ts
  src/app/components/event/stats-grid/event.card.stats-grid.component.spec.ts
  src/app/components/event/stats-table/event.card.stats-table.component.spec.ts
  src/app/components/user-settings/user-settings.component.spec.ts
  src/app/components/user-settings/user-settings.component.ts
  src/app/constants/event-summary-metric-groups.ts
  src/app/helpers/app-chart-data-types.helper.spec.ts
  src/app/helpers/app-chart-data-types.helper.ts
  src/app/helpers/event-echarts-data.helper.spec.ts
  src/app/helpers/event-echarts-data.helper.ts
  src/app/helpers/header-stats-composite.helper.spec.ts
  src/app/helpers/summary-metric-tabs.helper.spec.ts
  src/app/helpers/summary-stats.helper.spec.ts
  src/app/resolvers/event.resolver.spec.ts
  src/app/resolvers/event.resolver.ts
  src/app/services/app.user.service.spec.ts
  src/app/services/app.user.service.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/app/utils/app.user.utilities.spec.ts
  src/app/utils/app.user.utilities.ts
Due: lint-angular

chore: bump sl
  functions/package-lock.json
  functions/package.json
  package-lock.json
  package.json
Due: none

chore: swim lengths improvements
  src/app/components/data-type-icon/data-type-icon.component.spec.ts
  src/app/components/data-type-icon/data-type-icon.component.ts
  src/app/components/event/swim-lengths/event.card.swim-lengths.component.css
  src/app/components/event/swim-lengths/event.card.swim-lengths.component.html
  src/app/components/event/swim-lengths/event.card.swim-lengths.component.spec.ts
  src/app/components/event/swim-lengths/event.card.swim-lengths.component.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

chore: bump it
  functions/src/reparse/sports-lib-reparse.config.ts
Due: lint-functions

chore: improvements
  functions/package-lock.json
  functions/package.json
  functions/src/reparse/sports-lib-reparse.config.ts
  functions/src/reparse/sports-lib-reparse.service.spec.ts
  functions/src/reparse/sports-lib-reparse.service.ts
  package-lock.json
  package.json
  src/app/components/event/chart/panel/event.card.chart.panel.component.scss
  src/app/components/event/chart/panel/event.card.chart.panel.component.spec.ts
  src/app/components/event/chart/panel/event.card.chart.panel.component.ts
  src/app/components/event/swim-lengths/event.card.swim-lengths.component.spec.ts
  src/app/components/events-export-form/events-export.form.component.spec.ts
  src/app/helpers/event-echarts-yaxis.helper.spec.ts
  src/app/helpers/event-echarts-yaxis.helper.ts
  src/app/services/app.share.service.spec.ts
  src/app/services/app.share.service.ts
  src/app/services/browser.compatibility.service.spec.ts
  src/app/services/browser.compatibility.service.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

chore: chart improvements
  src/app/components/event/chart/panel/event.card.chart.panel.component.spec.ts
  src/app/components/event/chart/panel/event.card.chart.panel.component.ts
  src/app/components/sidenav/sidenav.component.spec.ts
  src/app/components/sidenav/sidenav.component.ts
  src/app/helpers/event-echarts-yaxis.helper.spec.ts
  src/app/helpers/event-echarts-yaxis.helper.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

chore: improve distance
  functions/package-lock.json
  functions/package.json
  package-lock.json
  package.json
  src/app/components/event-summary/event-summary.component.spec.ts
  src/app/components/event-summary/event-summary.component.ts
  src/app/components/event/stats-grid/event.card.stats-grid.component.html
  src/app/components/event/stats-grid/event.card.stats-grid.component.spec.ts
  src/app/components/event/stats-grid/event.card.stats-grid.component.ts
  src/app/components/event/swim-lengths/event.card.swim-lengths.component.spec.ts
  src/app/components/event/swim-lengths/event.card.swim-lengths.component.ts
  src/app/components/header-stats/header-stats.component.spec.ts
  src/app/components/header-stats/header-stats.component.ts
  src/app/helpers/event-echarts-data.helper.spec.ts
  src/app/helpers/event-echarts-data.helper.ts
  src/app/helpers/summary-display.helper.ts
  src/app/services/map/map-event-popup-content.service.spec.ts
  src/app/services/map/map-event-popup-content.service.ts
Due: lint-angular

chore: update reparse
  functions/src/reparse/sports-lib-reparse.config.ts
Due: lint-functions

chore: add heavy duty queue
  functions/src/admin/handlers/queues.handlers.ts
  functions/src/admin/index.ts
  functions/src/admin/queues.handlers.spec.ts
  functions/src/admin/shared/types.ts
  functions/src/admin/test-utils/admin-test-harness.ts
  functions/src/config.ts
  functions/src/index.ts
  functions/src/reparse/sports-lib-reparse.config.ts
  functions/src/reparse/sports-lib-reparse.service.ts
  functions/src/schedule/sports-lib-reparse.spec.ts
  functions/src/schedule/sports-lib-reparse.ts
  functions/src/shared/activity-processing-config.ts
  functions/src/shared/cloud-tasks-reparse.spec.ts
  functions/src/shared/cloud-tasks.ts
  functions/src/shared/queue-config.ts
  functions/src/tasks/sports-lib-reparse-worker.spec.ts
  functions/src/tasks/sports-lib-reparse-worker.ts
  shared/functions-manifest.ts
  src/app/components/admin/admin-queue-monitor/admin-queue-monitor.component.html
  src/app/components/admin/admin-queue-stats/admin-queue-stats.component.html
  src/app/components/admin/admin-queue-stats/admin-queue-stats.component.scss
  src/app/components/admin/admin-queue-stats/admin-queue-stats.component.spec.ts
  src/app/components/admin/admin-queue-stats/admin-queue-stats.component.ts
  src/app/services/admin.service.ts
Due: lint-functions, lint-angular

chore: PR fixes
  functions/src/admin/handlers/queues.handlers.ts
  functions/src/admin/queues.handlers.spec.ts
  functions/src/reparse/sports-lib-reparse.service.spec.ts
  functions/src/reparse/sports-lib-reparse.service.ts
  functions/src/shared/activity-processing-config.ts
  functions/src/tasks/sports-lib-reparse-worker.spec.ts
  functions/src/tasks/sports-lib-reparse-worker.ts
Due: lint-functions

chore: more fixes
  functions/src/tasks/sports-lib-reparse-worker.spec.ts
  functions/src/tasks/sports-lib-reparse-worker.ts
Due: lint-functions

chore: pr fixes
  functions/src/tasks/sports-lib-reparse-worker.spec.ts
  functions/src/tasks/sports-lib-reparse-worker.ts
  src/app/components/admin/admin-queue-stats/admin-queue-stats.component.html
  src/app/components/admin/admin-queue-stats/admin-queue-stats.component.ts
Due: lint-functions, lint-angular

chore: better logging and better provider id
  functions/src/coros/queue.spec.ts
  functions/src/coros/queue.ts
  functions/src/garmin/queue.ts
  functions/src/queue.spec.ts
  functions/src/queue.ts
  functions/src/suunto/queue.ts
Due: lint-functions

chore: pr fixes
  functions/src/tasks/sports-lib-reparse-worker.spec.ts
  functions/src/tasks/sports-lib-reparse-worker.ts
Due: lint-functions

fix: functions test
  functions/src/queue-processing.spec.ts
Due: lint-functions

chore: PR fixes
  functions/src/schedule/sports-lib-reparse.spec.ts
  functions/src/schedule/sports-lib-reparse.ts
  functions/src/tasks/sports-lib-reparse-worker.spec.ts
  functions/src/tasks/sports-lib-reparse-worker.ts
Due: lint-functions

chore: PR fixes
  functions/src/admin/handlers/queues.handlers.ts
  functions/src/admin/queues.handlers.spec.ts
  functions/src/admin/test-utils/admin-test-harness.ts
  functions/src/users/cleanup.spec.ts
  functions/src/users/cleanup.ts
Due: lint-functions

chore: fixes
  functions/src/reparse/sports-lib-reparse.service.spec.ts
  functions/src/reparse/sports-lib-reparse.service.ts
Due: lint-functions

chore: pr fixes
  functions/src/reparse/sports-lib-reparse.service.ts
  functions/src/schedule/sports-lib-reparse.spec.ts
  functions/src/schedule/sports-lib-reparse.ts
  functions/src/scripts/reparse-sports-lib-events.spec.ts
  functions/src/scripts/reparse-sports-lib-events.ts
  functions/src/tasks/sports-lib-reparse-worker.spec.ts
  functions/src/tasks/sports-lib-reparse-worker.ts
Due: lint-functions

chore: PR fixes
  functions/src/admin/handlers/queues.handlers.ts
  functions/src/admin/queues.handlers.spec.ts
  functions/src/admin/test-utils/admin-test-harness.ts
  functions/src/scripts/reparse-sports-lib-events.spec.ts
  functions/src/scripts/reparse-sports-lib-events.ts
  functions/src/tasks/sports-lib-reparse-worker.spec.ts
  functions/src/tasks/sports-lib-reparse-worker.ts
Due: lint-functions

chore: remove legacy
  functions/src/service-operational-cleanup.spec.ts
  functions/src/service-operational-cleanup.ts
  functions/src/users/cleanup.spec.ts
  functions/src/users/cleanup.ts
Due: lint-functions

chore: pr fixes
  functions/src/schedule/sports-lib-reparse.spec.ts
  functions/src/schedule/sports-lib-reparse.ts
Due: lint-functions

chore: pr fixes
  functions/src/admin/handlers/queues.handlers.ts
  functions/src/admin/queues.handlers.spec.ts
  functions/src/admin/shared/types.ts
  functions/src/reparse/sports-lib-reparse.service.spec.ts
  functions/src/reparse/sports-lib-reparse.service.ts
  functions/src/schedule/sports-lib-reparse.spec.ts
  functions/src/schedule/sports-lib-reparse.ts
  functions/src/scripts/reparse-sports-lib-events.spec.ts
  functions/src/scripts/reparse-sports-lib-events.ts
  functions/src/tasks/sports-lib-reparse-worker.spec.ts
  functions/src/tasks/sports-lib-reparse-worker.ts
Due: lint-functions

chore: clarify reparse terminal test wording
  functions/src/schedule/sports-lib-reparse.spec.ts
Due: lint-functions

chore: use worker for panel rebuild
  src/app/components/event/chart/event.card.chart.component.ts
  src/app/components/event/chart/panel/event.card.chart.panel.component.ts
  src/app/helpers/event-echarts-data.helper.spec.ts
  src/app/helpers/event-echarts-data.helper.ts
  src/app/helpers/event-echarts-range-stats.helper.ts
  src/app/helpers/event-echarts-yaxis.helper.ts
  src/app/services/event-chart-panel-worker.service.spec.ts
  src/app/services/event-chart-panel-worker.service.ts
  src/app/workers/event-chart-panels.worker.ts
Due: lint-angular

chore: sleep improvements
  functions/src/sleep/provider-mappers.spec.ts
  functions/src/sleep/provider-mappers.ts
  src/app/components/charts/sleep-trend/charts.sleep-trend.component.spec.ts
  src/app/components/charts/sleep-trend/charts.sleep-trend.component.ts
  src/app/helpers/dashboard-sleep-chart.helper.spec.ts
  src/app/helpers/dashboard-sleep-chart.helper.ts
Due: lint-functions, lint-angular

chore: increase limits
  functions/src/events/merge-events.spec.ts
  functions/src/events/merge-events.ts
  functions/src/events/reprocess-event.spec.ts
  functions/src/shared/activity-processing-config.ts
Due: lint-functions

chore: fix for worker
  src/app/helpers/event-chart-range.helper.ts
  src/app/helpers/event-echarts-data.helper.ts
  src/app/helpers/event-echarts-range-stats.helper.ts
  src/app/helpers/event-echarts-xaxis.helper.ts
  src/app/helpers/event-echarts-yaxis.helper.ts
Due: lint-angular

chore: bump version
  package.json
Due: none

chore: update mapbox
  package-lock.json
  package.json
Due: none

chore: upgrade echarts
  package-lock.json
  package.json
  src/app/components/admin/admin-queue-stats/admin-queue-stats.component.spec.ts
  src/app/components/admin/admin-queue-stats/admin-queue-stats.component.ts
  src/app/components/admin/admin-user-management/admin-user-management.component.spec.ts
  src/app/components/admin/admin-user-management/admin-user-management.component.ts
  src/app/components/charts/columns/charts.columns.component.spec.ts
  src/app/components/charts/columns/charts.columns.component.ts
  src/app/components/charts/intensity-distribution/charts.intensity-distribution.component.spec.ts
  src/app/components/charts/intensity-distribution/charts.intensity-distribution.component.ts
  src/app/components/charts/sleep-trend/charts.sleep-trend.component.spec.ts
  src/app/components/charts/sleep-trend/charts.sleep-trend.component.ts
  src/app/components/event/chart/panel/event.card.chart.panel.component.spec.ts
  src/app/components/event/chart/panel/event.card.chart.panel.component.ts
  src/app/components/event/intensity-zones/event.intensity-zones.component.spec.ts
  src/app/components/event/intensity-zones/event.intensity-zones.component.ts
Due: lint-angular

chore: enable sleep sync for Garmin
  functions/src/sleep/provider-flags.spec.ts
  functions/src/sleep/provider-flags.ts
Due: lint-functions

chore: test fix
  functions/src/admin/queues.handlers.spec.ts
Due: lint-functions

chore: add backfill support for garmin sleep
  functions/src/garmin/constants.ts
  functions/src/index.ts
  functions/src/sleep/backfill.spec.ts
  functions/src/sleep/backfill.ts
  shared/functions-manifest.ts
  shared/sleep-backfill.ts
  src/app/components/dashboard/dashboard-action-prompts/dashboard-action-prompts.component.ts
  src/app/components/dashboard/dashboard.component.spec.ts
  src/app/components/dashboard/dashboard.component.ts
  src/app/components/history-import-form/history-import.form.component.html
  src/app/components/history-import-form/history-import.form.component.spec.ts
  src/app/components/history-import-form/history-import.form.component.ts
  src/app/components/services/garmin/services.garmin.component.ts
  src/app/helpers/dashboard-action-prompt.helper.spec.ts
  src/app/helpers/dashboard-action-prompt.helper.ts
  src/app/models/app-user.interface.ts
  src/app/services/app.user.service.spec.ts
  src/app/services/app.user.service.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

Path conditions:
  lint-functions: any of: **/*.{ts,js} and ^functions/
  lint-angular: any of: {src/*.{ts,html},src/**/*.{ts,html}}
