Repository jimmykane/quantified-self: changes, and which lefthook commands are due for each by the changed paths.
All: lint-functions, lint-angular

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint-functions:
      root: "functions"
      glob: "**/*.{ts,js}"
      run: npx eslint {staged_files} --fix && git add {staged_files}
    lint-angular:
      glob: "{src/*.{ts,html},src/**/*.{ts,html}}"
      run: ESLINT_USE_FLAT_CONFIG=false npx eslint {staged_files} --fix && git add {staged_files}

fix: queue item not trowing on fatal
  functions/src/tasks/workout-processor.ts
Due: lint-functions

testing: 100% coverage on processor
  functions/src/tasks/workout-processor.spec.ts
  functions/src/tasks/workout-processor.ts
Due: lint-functions

refactor: garmin oAuth2
  .github/workflows/buildAndDeployBeta.yml
  .github/workflows/buildAndDeployProduction.yml
  functions/src/OAuth2.spec.ts
  functions/src/OAuth2.ts
  functions/src/config.ts
  functions/src/garmin/auth/auth.ts
  functions/src/garmin/auth/wrapper.spec.ts
  functions/src/garmin/auth/wrapper.ts
  functions/src/garmin/backfill.spec.ts
  functions/src/garmin/backfill.ts
  functions/src/garmin/migrate-tokens.spec.ts
  functions/src/garmin/migrate-tokens.ts
  functions/src/garmin/queue.spec.ts
  functions/src/garmin/queue.ts
  functions/src/garmin/run-migration-local.ts
  functions/src/garmin/tokens.spec.ts
  functions/src/garmin/tokens.ts
  functions/src/index.ts
  functions/src/queue.ts
  functions/src/queue/queue-item.interface.ts
  functions/src/queue/user-not-found.spec.ts
  functions/src/schedule/enforce-subscription-limits.spec.ts
  functions/src/schedule/enforce-subscription-limits.ts
  functions/src/suunto/activities.spec.ts
  functions/src/test-setup.ts
  functions/src/tokens.spec.ts
  functions/src/tokens.ts
  functions/src/users/admin.ts
  functions/src/users/cleanup.spec.ts
  functions/src/users/cleanup.ts
  src/app/components/services/garmin/services.garmin.component.ts
  src/app/services/app.user.service.ts
Due: lint-functions, lint-angular

chore: ignore
  .gitignore
Due: none

chore: fix for redirect url
  functions/src/utils.spec.ts
  functions/src/utils.ts
Due: lint-functions

chore: setup script update
  scripts/setup-ttl.sh
Due: none

fix: security
  functions/src/utils.spec.ts
  functions/src/utils.ts
Due: lint-functions

chore: garmin permissions on token
  functions/src/OAuth2.ts
  functions/src/garmin/auth/wrapper.spec.ts
  functions/src/garmin/auth/wrapper.ts
  functions/src/tokens.spec.ts
  functions/src/tokens.ts
Due: lint-functions

chore: highlight selected tab
  src/app/components/services/services.component.html
  src/app/components/services/services.component.scss
  src/app/components/services/services.component.spec.ts
  src/app/components/services/services.component.ts
Due: lint-angular

chore: 400 with garmin
  functions/src/coros/auth/wrapper.spec.ts
  functions/src/coros/auth/wrapper.ts
  functions/src/garmin/auth/wrapper.spec.ts
  functions/src/garmin/auth/wrapper.ts
  functions/src/suunto/auth/wrapper.spec.ts
  functions/src/suunto/auth/wrapper.ts
  src/app/services/app.user.service.ts
Due: lint-functions, lint-angular

fix: correct permissions
  functions/src/OAuth2.ts
Due: lint-functions

fix(tasks): throw error on retry or unexpected results in workout processor
  functions/src/tasks/workout-processor.ts
Due: lint-functions

test(tasks): update workout processor tests to expect errors on retry
  functions/src/tasks/workout-processor.spec.ts
Due: lint-functions

chore: better set the uid
  functions/src/OAuth2.ts
Due: lint-functions

chore: tests
  functions/src/OAuth2.spec.ts
Due: lint-functions

fix: for garmin no token found
  functions/src/garmin/queue.spec.ts
  functions/src/garmin/queue.ts
Due: lint-functions

fix: test
  functions/src/queue/user-not-found.spec.ts
Due: lint-functions

chore: reduce function to 256
  functions/src/queue.ts
  functions/src/user/user.ts
Due: lint-functions

chore: reduce to 1gb workout processor
  functions/src/tasks/workout-processor.ts
Due: lint-functions

chore: update indexes
  firestore.indexes.json
Due: none

chore: remove gap
  src/app/components/data-table/data-table-abstract.directive.ts
  src/app/components/event-table/event.table.component.spec.ts
Due: lint-angular

chore: make ide stop complaining
  src/tsconfig.spec.json
Due: none

chore: queue improvements
  functions/src/garmin/queue.spec.ts
  functions/src/garmin/queue.ts
  functions/src/queue.ts
Due: lint-functions

chore: improve message
  src/app/components/pricing/pricing.component.spec.ts
  src/app/components/pricing/pricing.component.ts
Due: lint-angular

chore: improve upload activity to suunto
  functions/src/suunto/activities.spec.ts
  functions/src/suunto/activities.ts
  src/app/components/notifications/processing-indicator/processing-indicator.component.css
  src/app/components/notifications/processing-indicator/processing-indicator.component.html
  src/app/components/upload/upload-abstract.directive.ts
  src/app/components/upload/upload-activities-to-service/upload-activities-to-service.component.ts
  src/app/components/upload/upload-activities/upload-activities.component.ts
  src/app/components/upload/upload-routes-to-service/upload-routes-to-service.component.ts
  src/app/services/app.processing.service.ts
Due: lint-functions, lint-angular

fix: for gpx
  src/app/components/upload/upload-activities/upload-activities.component.ts
  src/app/services/app.event.service.ts
Due: lint-angular

chore: queue improvements and tests
  functions/src/deduplication.spec.ts
  functions/src/garmin/queue.ts
  functions/src/queue-integration.spec.ts
  functions/src/queue.spec.ts
  functions/src/queue.ts
  functions/src/utils.ts
Due: lint-functions

refactor: better deletes and use of constant names
  functions/src/OAuth2.spec.ts
  functions/src/OAuth2.ts
  functions/src/garmin/backfill.ts
  functions/src/re-queue.ts
  functions/src/scripts/cleanup-orphaned-users.ts
  functions/src/scripts/cleanup-queue.ts
  functions/src/suunto/activities.ts
  functions/src/suunto/get-suunto-fit-file.ts
  functions/src/suunto/routes.ts
  functions/src/users/admin.ts
  functions/src/users/cleanup.ts
Due: lint-functions

chore: cleanup script update
  functions/src/scripts/cleanup-firestore.ts
Due: lint-functions

chore: garmin api premissions
  functions/src/OAuth2.ts
  functions/src/garmin/auth/api.spec.ts
  functions/src/garmin/auth/api.ts
  functions/src/garmin/auth/wrapper.ts
  functions/src/garmin/backfill.ts
  functions/src/garmin/constants.ts
  functions/src/tokens.ts
  package-lock.json
  package.json
  src/app/components/history-import-form/history-import.form.component.ts
  src/app/components/services/garmin/services.garmin.component.html
  src/app/components/services/garmin/services.garmin.component.ts
Due: lint-functions, lint-angular

chore: theme animations
  src/app/animations/animations.ts
  src/app/app.component.html
  src/app/app.component.scss
  src/app/app.component.ts
  src/app/components/sidenav/sidenav.component.html
  src/app/services/app.theme.service.spec.ts
  src/app/services/app.theme.service.ts
Due: lint-angular

chore: do not message
  src/app/components/login/login.component.spec.ts
  src/app/components/login/login.component.ts
Due: lint-angular

chore: workflow for main
  .github/workflows/buildAndDeployMain.yml
Due: none

fix(queue): handle race condition in workout task processing
  functions/src/shared/cloud-tasks.spec.ts
  functions/src/shared/cloud-tasks.ts
  functions/src/tasks/workout-processor.spec.ts
  functions/src/tasks/workout-processor.ts
Due: lint-functions

refactor: oauth2 adapters
  functions/src/OAuth2.spec.ts
  functions/src/OAuth2.ts
  functions/src/auth/ServiceAuthAdapter.ts
  functions/src/auth/factory.ts
  functions/src/coros/auth/adapter.spec.ts
  functions/src/coros/auth/adapter.ts
  functions/src/coros/auth/api.ts
  functions/src/garmin/auth/adapter.spec.ts
  functions/src/garmin/auth/adapter.ts
  functions/src/garmin/auth/api.ts
  functions/src/garmin/auth/wrapper.spec.ts
  functions/src/garmin/backfill.spec.ts
  functions/src/garmin/backfill.ts
  functions/src/shared/token-types.ts
  functions/src/suunto/auth/adapter.spec.ts
  functions/src/suunto/auth/adapter.ts
  functions/src/suunto/auth/api.spec.ts
  functions/src/suunto/auth/api.ts
Due: lint-functions

chore: token parent cleanup
  functions/src/tokens.spec.ts
  functions/src/tokens.ts
Due: lint-functions

fix(auth): delete parent document when last token removed during takeover
  functions/src/OAuth2.spec.ts
  functions/src/OAuth2.ts
Due: lint-functions
