Repository jimmykane/quantified-self: changes, and which lefthook commands are due for each by the changed paths.
All: lint-functions, lint-angular

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint-functions:
      root: "functions"
      glob: "**/*.{ts,js}"
      run: npx eslint {staged_files} --fix && git add {staged_files}
    lint-angular:
      glob: "{src/*.{ts,html},src/**/*.{ts,html}}"
      run: ESLINT_USE_FLAT_CONFIG=false npx eslint {staged_files} --fix && git add {staged_files}

refactor: isolate Health and Sleep queue entrypoints (#830)
  docs/functions-entrypoint-loading.md
  docs/provider-integration-guide.md
  docs/sleep-sync-operations.md
  functions/src/function-target-loader.spec.ts
  functions/src/function-target-loader.ts
  functions/src/scripts/check-entrypoint-loading.ts
Due: lint-functions

fix: validate Health/Sleep monitoring queue filters (#830)
  docs/provider-integration-guide.md
  docs/sleep-sync-operations.md
  tools/health-sleep-monitoring/definitions.mjs
  tools/health-sleep-monitoring/monitoring.test.mjs
Due: none

fix: align Training Plans prerender description check
  tools/verify-public-initial-output.mjs
Due: none

chore: bump app version to 10.18.2
  package-lock.json
  package.json
Due: none

fix: simplify Calendar planning summaries
  docs/activity-calendar.md
  docs/training-workspace.md
  src/app/components/calendar/calendar-page/calendar-page.component.spec.ts
  src/app/components/calendar/calendar-period-summary/calendar-period-summary.component.html
  src/app/components/calendar/calendar-period-summary/calendar-period-summary.component.scss
  src/app/components/calendar/calendar-period-summary/calendar-period-summary.component.spec.ts
  src/app/components/calendar/calendar-period-summary/calendar-period-summary.component.ts
  src/app/helpers/calendar-period-summary.helper.spec.ts
  src/app/helpers/calendar-period-summary.helper.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/styles.scss
Due: lint-angular

fix: preserve Calendar planning collapse and text sizing
  docs/activity-calendar.md
  docs/training-workspace.md
  src/app/components/calendar/calendar-period-summary/calendar-period-summary.component.html
  src/app/components/calendar/calendar-period-summary/calendar-period-summary.component.scss
  src/app/components/calendar/calendar-period-summary/calendar-period-summary.component.spec.ts
Due: lint-angular

test: reproduce Suunto disconnect queue dead letters
  functions/src/service-disconnect-cleanup.integration.spec.ts
Due: lint-functions

fix: checksum original Cloud Storage uploads
  docs/activity-import-monitoring.md
  docs/provider-integration-guide.md
  functions/package-lock.json
  functions/package.json
  functions/src/events/create-tool-comparison-event.spec.ts
  functions/src/events/create-tool-comparison-event.ts
  functions/src/events/merge-events.spec.ts
  functions/src/events/merge-events.ts
  functions/src/events/upload-activity.spec.ts
  functions/src/events/upload-activity.ts
  functions/src/routes/upload-route.spec.ts
  functions/src/routes/upload-route.ts
  functions/src/routes/upsert-synced-route.spec.ts
  functions/src/routes/upsert-synced-route.ts
  functions/src/shared/storage-file-save.spec.ts
  functions/src/shared/storage-file-save.ts
  functions/src/utils-usage.spec.ts
  functions/src/utils.ts
Due: lint-functions

fix: restore compact Month calendar totals
  docs/activity-calendar.md
  docs/training-workspace.md
  src/app/components/calendar/calendar-page/calendar-page.component.html
  src/app/components/calendar/calendar-page/calendar-page.component.spec.ts
  src/app/components/calendar/calendar-page/calendar-page.component.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

feat: monitor recorded activity delivery queues
  .github/workflows/_run-tests.yml
  README.md
  docs/activity-delivery-monitoring.md
  docs/functions-entrypoint-loading.md
  docs/provider-integration-guide.md
  functions/src/activity-sync/dispatcher.spec.ts
  functions/src/activity-sync/dispatcher.ts
  functions/src/activity-sync/monitoring-probe.spec.ts
  functions/src/activity-sync/monitoring-probe.ts
  functions/src/activity-sync/monitoring.emulator.spec.ts
  functions/src/activity-sync/monitoring.spec.ts
  functions/src/activity-sync/monitoring.ts
  functions/src/activity-sync/process-queue-item.spec.ts
  functions/src/activity-sync/process-queue-item.ts
  functions/src/function-target-loader.spec.ts
  functions/src/function-target-loader.ts
  functions/src/queue-utils.ts
  functions/src/scripts/check-entrypoint-loading.ts
  functions/src/tasks/activity-sync-worker.spec.ts
  functions/src/tasks/activity-sync-worker.ts
  package.json
  tools/activity-delivery-monitoring/cli.mjs
  tools/activity-delivery-monitoring/definitions.mjs
  tools/activity-delivery-monitoring/monitoring.test.mjs
  tools/functions-emulator-suites.mjs
Due: lint-functions

test: cover Cloud Storage response checksum failures
  functions/src/shared/storage-file-save.spec.ts
Due: lint-functions

fix: avoid false activity delivery monitoring alerts
  docs/activity-delivery-monitoring.md
  docs/provider-integration-guide.md
  functions/src/activity-sync/dispatcher.spec.ts
  functions/src/activity-sync/dispatcher.ts
  functions/src/activity-sync/monitoring-probe.spec.ts
  functions/src/activity-sync/monitoring-probe.ts
  functions/src/activity-sync/monitoring.emulator.spec.ts
  tools/activity-delivery-monitoring/definitions.mjs
  tools/activity-delivery-monitoring/monitoring.test.mjs
Due: lint-functions

fix: exclude expected Suunto processing waits from delivery alerts
  docs/activity-delivery-monitoring.md
  docs/provider-integration-guide.md
  functions/src/activity-sync/process-queue-item.spec.ts
  functions/src/activity-sync/process-queue-item.ts
  tools/activity-delivery-monitoring/definitions.mjs
Due: lint-functions

docs: record activity delivery monitoring function deployment
  docs/activity-delivery-monitoring.md
  docs/functions-entrypoint-loading.md
  docs/provider-integration-guide.md
Due: none

docs: record activity delivery monitoring activation
  docs/activity-delivery-monitoring.md
  docs/provider-integration-guide.md
Due: none

docs: complete activity delivery monitoring evidence
  docs/activity-delivery-monitoring.md
  docs/provider-integration-guide.md
Due: none

docs: complete Health and Sleep monitoring evidence
  docs/provider-integration-guide.md
  docs/sleep-sync-operations.md
Due: none

feat: add route queue outcome telemetry for #833
  README.md
  docs/activity-delivery-monitoring.md
  docs/functions-entrypoint-loading.md
  docs/provider-integration-guide.md
  docs/route-monitoring.md
  functions/src/function-target-loader.spec.ts
  functions/src/function-target-loader.ts
  functions/src/queue-utils.spec.ts
  functions/src/queue-utils.ts
  functions/src/route-delivery-sync/process-queue-item.spec.ts
  functions/src/route-delivery-sync/process-queue-item.ts
  functions/src/routes/monitoring.emulator.spec.ts
  functions/src/routes/monitoring.spec.ts
  functions/src/routes/monitoring.ts
  functions/src/routes/rejected-original-cleanup.spec.ts
  functions/src/routes/rejected-original-cleanup.ts
  functions/src/scripts/check-entrypoint-loading.ts
  functions/src/tasks/route-delivery-sync-worker.ts
  functions/src/tasks/route-queue-monitoring.spec.ts
  functions/src/tasks/route-sync-worker.ts
  tools/functions-emulator-suites.mjs
Due: lint-functions

fix: observe malformed route task failures
  docs/provider-integration-guide.md
  docs/route-monitoring.md
  functions/src/tasks/route-delivery-sync-worker.ts
  functions/src/tasks/route-queue-monitoring.spec.ts
  functions/src/tasks/route-sync-worker.ts
Due: lint-functions

feat: show month workout totals below activity totals
  docs/training-workspace.md
  src/app/components/calendar/calendar-month-totals/calendar-month-totals.component.html
  src/app/components/calendar/calendar-month-totals/calendar-month-totals.component.scss
  src/app/components/calendar/calendar-month-totals/calendar-month-totals.component.spec.ts
  src/app/components/calendar/calendar-month-totals/calendar-month-totals.component.ts
  src/app/components/calendar/calendar-page/calendar-page.component.html
  src/app/components/calendar/calendar-page/calendar-page.component.scss
  src/app/components/calendar/calendar-page/calendar-page.component.spec.ts
  src/app/components/calendar/calendar-page/calendar-page.component.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: simplify month workout totals and remove bottom padding
  docs/training-workspace.md
  src/app/components/calendar/calendar-month-totals/calendar-month-totals.component.html
  src/app/components/calendar/calendar-month-totals/calendar-month-totals.component.scss
  src/app/components/calendar/calendar-month-totals/calendar-month-totals.component.spec.ts
  src/app/components/calendar/calendar-month-totals/calendar-month-totals.component.ts
  src/app/components/calendar/calendar-page/calendar-page.component.scss
  src/app/shared/help.content.ts
Due: lint-angular

fix: clarify Suunto pool swim work and rest screens
  docs/mcp-server.md
  docs/provider-integration-guide.md
  docs/training-workspace.md
  functions/src/training-plans/delivery/diagnostics.spec.ts
  functions/src/training-plans/delivery/diagnostics.ts
  functions/src/training-plans/delivery/intent.spec.ts
  functions/src/training-plans/delivery/suunto/mapping.ts
  functions/src/training-plans/delivery/suunto/suunto.emulator.spec.ts
  functions/src/training-plans/delivery/suunto/transport.spec.ts
  functions/src/training-plans/providers/suunto-guide.serializer.spec.ts
  functions/src/training-plans/providers/suunto-guide.serializer.ts
  functions/src/training-plans/providers/suunto-pool-screens.spec.ts
  shared/planned-workout-providers.ts
  shared/suunto-guide-presentation.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

fix: shorten Suunto pool screen labels safely
  docs/provider-integration-guide.md
  docs/training-workspace.md
  functions/src/training-plans/delivery/suunto/suunto.emulator.spec.ts
  functions/src/training-plans/providers/suunto-guide.serializer.spec.ts
  functions/src/training-plans/providers/suunto-guide.serializer.ts
  functions/src/training-plans/providers/suunto-pool-screens.spec.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

feat: observe route backlog and dispatch failures for #833
  docs/functions-entrypoint-loading.md
  docs/provider-integration-guide.md
  docs/route-monitoring.md
  functions/src/function-target-loader.spec.ts
  functions/src/function-target-loader.ts
  functions/src/route-delivery-sync/dispatcher.spec.ts
  functions/src/route-delivery-sync/dispatcher.ts
  functions/src/route-delivery-sync/queue.spec.ts
  functions/src/route-delivery-sync/queue.ts
  functions/src/routes/monitoring-probe.spec.ts
  functions/src/routes/monitoring-probe.ts
  functions/src/routes/monitoring.emulator.spec.ts
  functions/src/routes/monitoring.ts
  functions/src/routes/route-sync-queue.spec.ts
  functions/src/routes/route-sync-queue.ts
  functions/src/scripts/check-entrypoint-loading.ts
Due: lint-functions

fix: correct route backlog eligibility observations
  docs/provider-integration-guide.md
  docs/route-monitoring.md
  functions/src/routes/monitoring-probe.ts
  functions/src/routes/monitoring.emulator.spec.ts
Due: lint-functions

fix: preserve eligible route observations during restoration
  docs/provider-integration-guide.md
  docs/route-monitoring.md
  functions/src/route-delivery-sync/process-queue-item.spec.ts
  functions/src/routes/monitoring-probe.ts
  functions/src/routes/monitoring.emulator.spec.ts
Due: lint-functions

docs: record route monitoring function deployment
  docs/provider-integration-guide.md
  docs/route-monitoring.md
Due: none

feat: add route monitoring dashboard and alert bundle for #833
  .github/workflows/_run-tests.yml
  README.md
  docs/provider-integration-guide.md
  docs/route-monitoring.md
  package.json
  tools/route-monitoring/cli.mjs
  tools/route-monitoring/definitions.mjs
  tools/route-monitoring/monitoring.test.mjs
Due: none

docs: record route monitoring bundle activation for #833
  docs/provider-integration-guide.md
  docs/route-monitoring.md
Due: none

fix: run route monitoring CLI through symlinked paths
  docs/provider-integration-guide.md
  docs/route-monitoring.md
  tools/route-monitoring/cli.mjs
  tools/route-monitoring/monitoring.test.mjs
Due: none

docs: record verified route monitoring completion for #833
  docs/provider-integration-guide.md
  docs/route-monitoring.md
Due: none

docs: remove OpenAthlete references
  docs/training-workspace.md
Due: none

fix: validate parsed API hosts in route monitoring tests
  tools/route-monitoring/monitoring.test.mjs
Due: none

test: run pure frontend helpers without Angular setup
  .github/workflows/_run-tests.yml
  README.md
  docs/ci-helper-test-benchmark.md
  docs/ci-testing.md
  package.json
  tools/frontend-test-config.test.mjs
  tools/frontend-test-environments.json
  tools/testing-workflow.test.mjs
  vitest.config.ts
Due: none

test: match Vitest discovery for hidden frontend specs
  docs/ci-helper-test-benchmark.md
  docs/ci-testing.md
  package-lock.json
  package.json
  tools/frontend-test-config.test.mjs
Due: none

docs: require optimized frontend test environments
  .agent/rules/frontend-test-environments.md
  AGENTS.md
  src/AGENTS.md
Due: none

fix: clarify Suunto swim transitions and Rest distance
  docs/mcp-server.md
  docs/provider-integration-guide.md
  docs/training-workspace.md
  functions/src/training-plans/delivery/diagnostics.spec.ts
  functions/src/training-plans/delivery/diagnostics.ts
  functions/src/training-plans/delivery/intent.spec.ts
  functions/src/training-plans/delivery/suunto/mapping.ts
  functions/src/training-plans/delivery/suunto/suunto.emulator.spec.ts
  functions/src/training-plans/delivery/suunto/transport.spec.ts
  functions/src/training-plans/providers/suunto-guide.serializer.spec.ts
  functions/src/training-plans/providers/suunto-guide.serializer.ts
  functions/src/training-plans/providers/suunto-pool-screens.spec.ts
  functions/src/training-plans/providers/suunto-swim-rest.spec.ts
  shared/suunto-guide-presentation.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

test: harden Suunto swim presentation regression coverage
  docs/training-workspace.md
  functions/src/training-plans/delivery/suunto/suunto.emulator.spec.ts
  functions/src/training-plans/providers/suunto-swim-rest.spec.ts
Due: lint-functions

fix: clarify manual Suunto Guide instructions across sports
  docs/mcp-server.md
  docs/provider-integration-guide.md
  docs/training-workspace.md
  functions/src/training-plans/delivery/diagnostics.spec.ts
  functions/src/training-plans/delivery/diagnostics.ts
  functions/src/training-plans/delivery/intent.spec.ts
  functions/src/training-plans/delivery/suunto/mapping.ts
  functions/src/training-plans/delivery/suunto/suunto.emulator.spec.ts
  functions/src/training-plans/delivery/suunto/transport.spec.ts
  functions/src/training-plans/providers/suunto-guide.serializer.spec.ts
  functions/src/training-plans/providers/suunto-guide.serializer.ts
  functions/src/training-plans/providers/suunto-manual-instructions.spec.ts
  functions/src/training-plans/providers/suunto-swim-rest.spec.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

test: adopt help content contracts into Node project
  .agent/rules/frontend-test-environments.md
  docs/ci-helper-test-benchmark.md
  docs/ci-testing.md
  tools/frontend-test-config.test.mjs
  tools/frontend-test-environments.json
Due: none
