Repository jimmykane/quantified-self: changes, and which lefthook commands are due for each by the changed paths.
All: lint-functions, lint-angular

lint-functions:
  run: npx eslint {staged_files} --fix && git add {staged_files}

lint-angular:
  run: ESLINT_USE_FLAT_CONFIG=false npx eslint {staged_files} --fix && git add {staged_files}

fix: restore training state heading and readiness bar
  docs/training-workspace.md
  src/app/components/shared/metric-indicator/metric-indicator.component.scss
  src/app/components/shared/metric-indicator/metric-indicator.component.spec.ts
  src/app/components/training/training-workspace.component.html
  src/app/components/training/training-workspace.component.spec.ts
Due: lint-angular

fix: refresh deleted event rows and indicator aria
  src/app/components/event-actions/event.actions.component.spec.ts
  src/app/components/event-actions/event.actions.component.ts
  src/app/components/event-table/event.table.component.html
  src/app/components/event-table/event.table.component.spec.ts
  src/app/components/event-table/event.table.component.ts
  src/app/components/shared/metric-indicator/metric-indicator.component.html
  src/app/components/shared/metric-indicator/metric-indicator.component.spec.ts
  src/app/components/shared/metric-indicator/metric-indicator.component.ts
Due: lint-angular

fix: align dive and standard event charts
  docs/mcp-server.md
  src/app/components/event/chart/event.card.chart.component.spec.ts
  src/app/components/event/chart/event.card.chart.component.ts
  src/app/components/event/dive-profile/event.dive-profile.component.css
  src/app/components/event/dive-profile/event.dive-profile.component.html
  src/app/components/event/dive-profile/event.dive-profile.component.spec.ts
  src/app/components/event/dive-profile/event.dive-profile.component.ts
  src/app/components/event/event.card.component.html
  src/app/components/event/event.card.component.scss
  src/app/components/event/event.card.component.spec.ts
  src/app/components/event/event.card.component.ts
  src/app/components/event/performance-charts/event.performance-charts.component.html
  src/app/components/event/performance-charts/event.performance-charts.component.spec.ts
  src/app/components/event/performance-charts/event.performance-charts.component.ts
  src/app/helpers/event-dive-profile.helper.spec.ts
  src/app/helpers/event-dive-profile.helper.ts
  src/app/helpers/event-echarts-xaxis.helper.spec.ts
  src/app/helpers/event-echarts-xaxis.helper.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: place dive profile below performance charts
  src/app/components/event/event.card.component.html
  src/app/components/event/event.card.component.spec.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: restore dashboard training state heading
  docs/training-workspace.md
  src/app/components/summaries/summaries.component.html
  src/app/components/summaries/summaries.component.spec.ts
Due: lint-angular

fix: page Assistant metric history
  functions/src/assistant/mcp-session.spec.ts
  functions/src/assistant/mcp-session.ts
  functions/src/assistant/metric-history-query.spec.ts
  functions/src/assistant/metric-history-query.ts
  functions/src/assistant/runtime.spec.ts
  functions/src/assistant/runtime.ts
  functions/src/mcp/data.service.spec.ts
Due: lint-functions

feat: add maximum depth to overall summary
  src/app/components/event/stats-grid/event.card.stats-grid.component.spec.ts
  src/app/constants/event-summary-metric-groups.ts
  src/app/helpers/summary-metric-tabs.helper.spec.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

docs: improve GitHub discovery
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/provider_integration.yml
  README.md
Due: none

fix: enforce Garmin history availability window
  functions/src/garmin/backfill.spec.ts
  functions/src/garmin/backfill.ts
  shared/history-import.constants.ts
  src/app/components/history-import-form/history-import.form.component.html
  src/app/components/history-import-form/history-import.form.component.spec.ts
  src/app/components/history-import-form/history-import.form.component.ts
  src/app/components/home/home.component.html
  src/app/components/integrations/integration-pages.content.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

fix: preserve valid Garmin backfill ranges
  functions/src/garmin/backfill.spec.ts
  functions/src/garmin/backfill.ts
Due: lint-functions

fix: make Garmin backfill retries idempotent
  functions/src/garmin/backfill.spec.ts
  functions/src/garmin/backfill.ts
Due: lint-functions

fix: serialize Garmin history imports
  functions/src/garmin/backfill.spec.ts
  functions/src/garmin/backfill.ts
Due: lint-functions

fix: harden Garmin backfill range recovery
  functions/src/garmin/backfill.spec.ts
  functions/src/garmin/backfill.ts
  src/app/components/history-import-form/history-import.form.component.html
  src/app/components/history-import-form/history-import.form.component.spec.ts
Due: lint-functions, lint-angular

fix: throttle Suunto activity uploads
  docs/provider-integration-guide.md
  functions/src/suunto/activities.spec.ts
  functions/src/suunto/activities.ts
Due: lint-functions

fix: harden Suunto upload throttling
  docs/provider-integration-guide.md
  functions/src/suunto/activities.spec.ts
  functions/src/suunto/activities.ts
  src/app/components/upload/upload-activities-to-service/upload-activities-to-service.component.spec.ts
  src/app/components/upload/upload-activities-to-service/upload-activities-to-service.component.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

chore: bump app version to 10.11.0
  package-lock.json
  package.json
Due: none

feat: add time-aware greeting below the dashboard Today header
  src/app/components/summaries/summaries.component.css
  src/app/components/summaries/summaries.component.html
  src/app/components/summaries/summaries.component.spec.ts
  src/app/components/summaries/summaries.component.ts
  src/app/helpers/dashboard-greeting.helper.spec.ts
  src/app/helpers/dashboard-greeting.helper.ts
Due: lint-angular

feat: add time-aware dashboard greeting
  src/app/components/summaries/summaries.component.css
  src/app/components/summaries/summaries.component.html
  src/app/components/summaries/summaries.component.spec.ts
  src/app/components/summaries/summaries.component.ts
  src/app/helpers/dashboard-greeting.helper.spec.ts
  src/app/helpers/dashboard-greeting.helper.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: harden dashboard greeting ownership
  src/app/components/summaries/summaries.component.html
  src/app/components/summaries/summaries.component.spec.ts
  src/app/components/summaries/summaries.component.ts
Due: lint-angular

fix: preserve provider failure diagnostics
  functions/src/activity-sync/process-queue-item.spec.ts
  functions/src/activity-sync/process-queue-item.ts
  functions/src/coros/activities.spec.ts
  functions/src/coros/activities.ts
  functions/src/route-delivery-sync/process-queue-item.spec.ts
  functions/src/route-delivery-sync/process-queue-item.ts
  functions/src/routes/send-routes-to-service.spec.ts
  functions/src/routes/send-routes-to-service.ts
  functions/src/shared/provider-operation-error.spec.ts
  functions/src/shared/provider-operation-error.ts
  functions/src/suunto/activities.spec.ts
  functions/src/suunto/activities.ts
Due: lint-functions

fix: stabilize dashboard greeting lifecycle
  src/app/components/summaries/summaries.component.css
  src/app/components/summaries/summaries.component.html
  src/app/components/summaries/summaries.component.spec.ts
  src/app/components/summaries/summaries.component.ts
Due: lint-angular

fix: restore cycling durability trends
  docs/training-workspace.md
  functions/src/derived-metrics/derived-metrics.service.spec.ts
  src/app/components/training/training-durability-trajectory-chart.component.spec.ts
  src/app/components/training/training-durability-trajectory-chart.component.ts
  src/app/components/training/training-workspace.component.spec.ts
  src/app/components/training/training-workspace.component.ts
  src/app/helpers/training-derived-metrics.helper.spec.ts
  src/app/helpers/training-durability-view.helper.spec.ts
  src/app/helpers/training-durability-view.helper.ts
  src/app/helpers/training-sport-visibility.helper.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

fix: clarify durability evidence states
  src/app/components/training/training-durability-trajectory-chart.component.spec.ts
  src/app/helpers/training-durability-view.helper.spec.ts
  src/app/helpers/training-durability-view.helper.ts
Due: lint-angular

docs: clarify COROS activity compatibility
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: correct cycling power evidence counts
  docs/training-workspace.md
  src/app/components/training/training-durability-trajectory-chart.component.spec.ts
  src/app/components/training/training-durability-trajectory-chart.component.ts
  src/app/helpers/training-durability-view.helper.spec.ts
  src/app/helpers/training-durability-view.helper.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

feat: add sport destinations to training
  docs/training-workspace.md
  firestore.rules
  functions/src/derived-metrics/set-training-visible-disciplines.spec.ts
  functions/src/derived-metrics/set-training-visible-disciplines.ts
  functions/src/index.ts
  shared/derived-metrics.ts
  shared/functions-manifest.ts
  shared/training-disciplines.ts
  src/app/components/public-seo/public-seo-pages.content.spec.ts
  src/app/components/public-seo/public-seo-pages.content.ts
  src/app/components/training/training-sport-visibility-dialog.component.html
  src/app/components/training/training-sport-visibility-dialog.component.spec.ts
  src/app/components/training/training-sport-visibility-dialog.component.ts
  src/app/components/training/training-workspace.component.html
  src/app/components/training/training-workspace.component.scss
  src/app/components/training/training-workspace.component.spec.ts
  src/app/components/training/training-workspace.component.ts
  src/app/helpers/training-power-systems.helper.spec.ts
  src/app/helpers/training-power-systems.helper.ts
  src/app/helpers/training-sport-visibility.helper.spec.ts
  src/app/helpers/training-sport-visibility.helper.ts
  src/app/models/app-user.interface.ts
  src/app/modules/training.module.ts
  src/app/services/app.user-settings-query.service.spec.ts
  src/app/services/app.user-settings-query.service.ts
  src/app/services/app.user.service.spec.ts
  src/app/services/app.user.service.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/app/shared/training-disciplines.shared.spec.ts
  src/firestore.rules.spec.ts
Due: lint-functions, lint-angular

fix: harden training destination preferences
  docs/training-workspace.md
  src/app/components/training/training-workspace.component.html
  src/app/components/training/training-workspace.component.spec.ts
  src/app/components/training/training-workspace.component.ts
  src/app/services/app.user-settings-query.service.spec.ts
  src/app/services/app.user-settings-query.service.ts
Due: lint-angular

fix: tighten training desktop navigation
  docs/training-workspace.md
  src/app/components/training/training-workspace.component.scss
Due: none

fix: clarify training overview drivers
  docs/training-workspace.md
  src/app/components/training/training-workspace.component.spec.ts
  src/app/helpers/training-explanation-view.helper.spec.ts
  src/app/helpers/training-explanation-view.helper.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: ground Assistant metric history
  docs/assistant.md
  functions/src/assistant/metric-intent.spec.ts
  functions/src/assistant/metric-intent.ts
  functions/src/assistant/runtime.spec.ts
  functions/src/assistant/runtime.ts
  functions/src/assistant/tool-input.spec.ts
  functions/src/assistant/tool-input.ts
Due: lint-functions

feat: ask users about their training history
  docs/email-lifecycle.md
  functions/src/email/template-catalog.spec.ts
  functions/templates/registration_welcome.hbs
  functions/templates/registration_welcome.txt.hbs
  src/app/components/assistant/assistant-page.component.html
  src/app/components/assistant/assistant-page.component.scss
  src/app/components/assistant/assistant-page.component.spec.ts
  src/app/components/assistant/assistant-page.component.ts
  src/app/components/home/home.component.html
  src/app/components/home/home.component.spec.ts
  src/app/components/public-seo/public-seo-pages.content.spec.ts
  src/app/components/public-seo/public-seo-pages.content.ts
Due: lint-functions, lint-angular

feat: improve mobile training navigation
  docs/training-workspace.md
  src/app/components/training/training-mobile-destination-sheet.component.html
  src/app/components/training/training-mobile-destination-sheet.component.scss
  src/app/components/training/training-mobile-destination-sheet.component.spec.ts
  src/app/components/training/training-mobile-destination-sheet.component.ts
  src/app/components/training/training-workspace.component.html
  src/app/components/training/training-workspace.component.scss
  src/app/components/training/training-workspace.component.spec.ts
  src/app/components/training/training-workspace.component.ts
  src/app/modules/training.module.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: merge real MCP metric intervals
  functions/src/assistant/mcp-session.spec.ts
  functions/src/assistant/metric-history-query.spec.ts
  functions/src/assistant/metric-history-query.ts
  functions/src/assistant/runtime.spec.ts
Due: lint-functions

fix: tolerate invalid Assistant visual hints
  functions/src/assistant/runtime.spec.ts
  functions/src/assistant/runtime.ts
Due: lint-functions

fix: preserve welcome email feedback invitation
  functions/src/email/template-catalog.spec.ts
  functions/templates/registration_welcome.hbs
  functions/templates/registration_welcome.txt.hbs
Due: lint-functions

test: align assistant route headline
  src/app/app.routing.module.spec.ts
Due: lint-angular

fix: compact mobile training picker
  docs/training-workspace.md
  src/app/components/training/training-workspace.component.html
  src/app/components/training/training-workspace.component.scss
  src/app/components/training/training-workspace.component.spec.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: compact mobile training shortcuts
  docs/training-workspace.md
  src/app/components/training/training-workspace.component.html
  src/app/components/training/training-workspace.component.scss
  src/app/components/training/training-workspace.component.spec.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

Path conditions:
  lint-functions: any of: **/*.{ts,js} and ^functions/
  lint-angular: any of: {src/*.{ts,html},src/**/*.{ts,html}}
