Repository jimmykane/quantified-self: changes, and which lefthook commands are due for each by the changed paths.
All: lint-functions, lint-angular

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint-functions:
      root: "functions"
      glob: "**/*.{ts,js}"
      run: npx eslint {staged_files} --fix && git add {staged_files}
    lint-angular:
      glob: "{src/*.{ts,html},src/**/*.{ts,html}}"
      run: ESLINT_USE_FLAT_CONFIG=false npx eslint {staged_files} --fix && git add {staged_files}

fix: refine dashboard calendar layout
  docs/activity-calendar.md
  src/app/components/calendar/activity-calendar-grid/activity-calendar-grid.component.html
  src/app/components/calendar/activity-calendar-grid/activity-calendar-grid.component.scss
  src/app/components/calendar/activity-calendar-grid/activity-calendar-grid.component.ts
  src/app/components/calendar/activity-calendar-tile/activity-calendar-tile.component.html
  src/app/components/calendar/activity-calendar-tile/activity-calendar-tile.component.scss
  src/app/components/calendar/activity-calendar-tile/activity-calendar-tile.component.spec.ts
  src/app/components/calendar/calendar-day-context/calendar-day-context.component.html
  src/app/components/calendar/calendar-day-context/calendar-day-context.component.scss
  src/app/components/calendar/calendar-day-context/calendar-day-context.component.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: keep dashboard calendar height stable
  docs/activity-calendar.md
  src/app/components/calendar/activity-calendar-tile/activity-calendar-tile.component.scss
  src/app/components/calendar/calendar-day-context/calendar-day-context.component.html
  src/app/components/calendar/calendar-day-context/calendar-day-context.component.scss
  src/app/components/calendar/calendar-day-context/calendar-day-context.component.spec.ts
  src/app/components/calendar/calendar-day-context/calendar-day-context.component.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: remove dashboard calendar weekend tint seams
  src/app/components/calendar/activity-calendar-grid/activity-calendar-grid.component.html
  src/app/components/calendar/activity-calendar-grid/activity-calendar-grid.component.scss
  src/app/components/calendar/activity-calendar-grid/activity-calendar-grid.component.spec.ts
  src/app/components/calendar/activity-calendar-grid/activity-calendar-grid.component.ts
Due: lint-angular

fix: use plain activity links in dashboard day preview
  src/app/components/calendar/calendar-day-context/calendar-day-context.component.html
  src/app/components/calendar/calendar-day-context/calendar-day-context.component.scss
Due: lint-angular

fix: align calendar day surfaces and navigation styles
  src/app/components/calendar/calendar-day-context/calendar-day-context.component.html
  src/app/components/calendar/calendar-day-context/calendar-day-context.component.scss
  src/app/components/calendar/calendar-page/calendar-page.component.html
  src/app/components/calendar/calendar-page/calendar-page.component.scss
Due: lint-angular

feat: give dashboard calendar its own section
  docs/activity-calendar.md
  src/app/components/calendar/activity-calendar-tile/activity-calendar-tile.component.html
  src/app/components/calendar/activity-calendar-tile/activity-calendar-tile.component.scss
  src/app/components/calendar/activity-calendar-tile/activity-calendar-tile.component.spec.ts
  src/app/components/summaries/dashboard-chart-library/dashboard-chart-library.component.spec.ts
  src/app/components/summaries/dashboard-chart-library/dashboard-chart-library.component.ts
  src/app/components/summaries/summaries.component.html
  src/app/components/summaries/summaries.component.spec.ts
  src/app/components/summaries/summaries.component.ts
  src/app/helpers/dashboard-activity-calendar.helper.ts
  src/app/helpers/dashboard-chart-catalog.helper.spec.ts
  src/app/helpers/dashboard-chart-discovery.helper.ts
  src/app/helpers/dashboard-chart-library-revision.helper.ts
  src/app/helpers/dashboard-manager-presets.helper.spec.ts
  src/app/helpers/dashboard-manager-presets.helper.ts
  src/app/helpers/dashboard-tile-presentation.helper.spec.ts
  src/app/helpers/dashboard-tile-section.helper.spec.ts
  src/app/helpers/dashboard-tile-section.helper.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: remove excess dashboard calendar height
  src/app/components/summaries/dashboard-tile-board/dashboard-tile-board.component.spec.ts
  src/app/components/summaries/summaries.component.css
Due: lint-angular

fix: raise memory for three OOMed functions
  functions/src/activity-sync/disconnect-routes.ts
  functions/src/derived-metrics/set-training-build-benchmark.ts
  functions/src/timeline-notes/callable.ts
Due: lint-functions

fix: disclose pool length in Training MCP previews
  docs/mcp-server.md
  docs/training-workspace.md
  functions/src/assistant/runtime.spec.ts
  functions/src/assistant/runtime.ts
  functions/src/mcp/training-plans-write.emulator.spec.ts
  functions/src/mcp/training-plans-write.service.ts
Due: lint-functions

fix: log sanitized MCP protocol mismatch versions
  functions/src/mcp/http-protocol.spec.ts
  functions/src/mcp/server.ts
Due: lint-functions

test: cover Garmin pool swim plan delivery lifecycle
  docs/provider-integration-guide.md
  docs/training-workspace.md
  functions/src/training-plans/delivery/garmin/worker.emulator.spec.ts
Due: lint-functions

docs: prohibit Garmin FIT SDK project dependencies
  AGENTS.md
Due: none

fix: route varied pool lengths to Training MCP v2 preview
  functions/src/assistant/runtime.spec.ts
  functions/src/assistant/runtime.ts
Due: lint-functions

docs: record Garmin pool swim account and watch proof
  docs/provider-integration-guide.md
  docs/training-workspace.md
Due: none

feat: apply Calm month calendar design
  docs/activity-calendar.md
  src/app/components/calendar/activity-calendar-grid/activity-calendar-grid.component.html
  src/app/components/calendar/activity-calendar-grid/activity-calendar-grid.component.scss
  src/app/components/calendar/activity-calendar-grid/activity-calendar-grid.component.spec.ts
  src/app/components/calendar/activity-calendar-grid/activity-calendar-grid.component.ts
  src/app/components/calendar/activity-calendar-tile/activity-calendar-tile.component.html
  src/app/components/calendar/activity-calendar-tile/activity-calendar-tile.component.scss
  src/app/components/calendar/activity-calendar-tile/activity-calendar-tile.component.spec.ts
  src/app/components/calendar/activity-calendar-tile/activity-calendar-tile.component.ts
  src/app/components/calendar/calendar-day-context/calendar-day-context.component.html
  src/app/components/calendar/calendar-day-context/calendar-day-context.component.scss
  src/app/components/calendar/calendar-day-context/calendar-day-context.component.ts
  src/app/components/calendar/calendar-page/calendar-page.component.html
  src/app/components/calendar/calendar-page/calendar-page.component.scss
  src/app/components/calendar/calendar-page/calendar-page.component.spec.ts
  src/app/helpers/activity-calendar.helper.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: preserve Calm month markers at narrow widths
  src/app/components/calendar/activity-calendar-grid/activity-calendar-grid.component.scss
Due: none

test: cover Garmin schedule repair stop and edit races
  functions/src/training-plans/delivery/garmin/worker.emulator.spec.ts
Due: lint-functions

fix: tighten calendar day previews across viewports
  docs/activity-calendar.md
  src/app/components/calendar/calendar-day-context/calendar-day-context.component.html
  src/app/components/calendar/calendar-day-context/calendar-day-context.component.scss
  src/app/components/calendar/calendar-day-context/calendar-day-context.component.spec.ts
  src/app/components/calendar/calendar-day-context/calendar-day-context.component.ts
  src/app/components/calendar/calendar-page/calendar-page.component.html
  src/app/shared/help.content.ts
Due: lint-angular

fix: keep dashboard calendar date when opening calendar
  docs/activity-calendar.md
  src/app/components/calendar/activity-calendar-tile/activity-calendar-tile.component.spec.ts
  src/app/components/calendar/activity-calendar-tile/activity-calendar-tile.component.ts
  src/app/components/summaries/summaries.component.html
  src/app/components/summaries/summaries.component.spec.ts
  src/app/components/summaries/summaries.component.ts
  src/app/components/tile/chart/tile.chart.component.html
  src/app/components/tile/chart/tile.chart.component.spec.ts
  src/app/components/tile/chart/tile.chart.component.ts
  src/app/shared/help.content.ts
Due: lint-angular

test: harden Garmin workout absence and repair evidence
  functions/src/training-plans/delivery/garmin/worker.emulator.spec.ts
Due: lint-functions

feat: send saved activities and manual FIT uploads to providers
  docs/coros-integration.md
  docs/provider-integration-guide.md
  docs/suunto-integration.md
  docs/wahoo-integration.md
  functions/src/activity-sync/allowlist.ts
  functions/src/activity-sync/backfill.ts
  functions/src/activity-sync/historical-manual-original.spec.ts
  functions/src/activity-sync/historical-manual-original.ts
  functions/src/activity-sync/historical-send.spec.ts
  functions/src/activity-sync/historical-send.ts
  functions/src/activity-sync/metadata.ts
  functions/src/activity-sync/process-queue-item.ts
  functions/src/activity-sync/queue.spec.ts
  functions/src/activity-sync/queue.ts
  functions/src/events/upload-activity.ts
  functions/src/queue/queue-item.interface.ts
  shared/activity-sync-rollout.ts
  shared/activity-sync-routes.ts
  shared/historical-activity-send.ts
  src/app/components/integrations/integration-pages.content.ts
  src/app/components/services/activity-sync-route-control/activity-sync-route-control.component.html
  src/app/components/services/activity-sync-route-control/activity-sync-route-control.component.spec.ts
  src/app/components/services/activity-sync-route-control/activity-sync-route-control.component.ts
  src/app/components/services/coros/services.coros.component.html
  src/app/components/services/coros/services.coros.component.spec.ts
  src/app/components/services/coros/services.coros.component.ts
  src/app/components/services/garmin/services.garmin.component.html
  src/app/components/services/garmin/services.garmin.component.spec.ts
  src/app/components/services/garmin/services.garmin.component.ts
  src/app/components/services/historical-activity-send/historical-activity-send.component.html
  src/app/components/services/historical-activity-send/historical-activity-send.component.scss
  src/app/components/services/historical-activity-send/historical-activity-send.component.spec.ts
  src/app/components/services/historical-activity-send/historical-activity-send.component.ts
  src/app/components/services/services.component.html
  src/app/components/services/services.component.spec.ts
  src/app/components/services/services.component.ts
  src/app/modules/services.module.ts
  src/app/services/app.user.service.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

fix: harden historical activity send against duplicate and stale states
  functions/src/activity-sync/historical-manual-original.spec.ts
  functions/src/activity-sync/historical-manual-original.ts
  functions/src/activity-sync/historical-send.spec.ts
  functions/src/activity-sync/historical-send.ts
  functions/src/activity-sync/metadata.spec.ts
  functions/src/activity-sync/metadata.ts
  functions/src/activity-sync/process-queue-item.spec.ts
  functions/src/activity-sync/process-queue-item.ts
  functions/src/activity-sync/queue.spec.ts
  functions/src/activity-sync/queue.ts
  functions/src/events/upload-activity.spec.ts
Due: lint-functions

fix: separate calendar note and workout markers
  src/app/components/calendar/activity-calendar-grid/activity-calendar-grid.component.scss
Due: none

test: align dashboard calendar expectations with tile name
  src/app/components/summaries/dashboard-chart-library/dashboard-tile-configuration.spec.ts
  src/app/helpers/dashboard-activity-calendar.helper.spec.ts
  src/app/helpers/dashboard-calendar-layout.helper.spec.ts
Due: lint-angular

fix: skip permanently ineligible historical activity sends
  docs/coros-integration.md
  docs/provider-integration-guide.md
  docs/suunto-integration.md
  docs/wahoo-integration.md
  functions/src/activity-sync/historical-manual-original.ts
  functions/src/activity-sync/historical-send.ts
  functions/src/activity-sync/metadata.spec.ts
  functions/src/activity-sync/metadata.ts
  functions/src/activity-sync/process-queue-item.spec.ts
  functions/src/activity-sync/process-queue-item.ts
Due: lint-functions

fix: promote unaccepted activity sends to historical mode
  docs/provider-integration-guide.md
  functions/src/activity-sync/historical-send.spec.ts
  functions/src/activity-sync/historical-send.ts
  functions/src/activity-sync/process-queue-item.spec.ts
  functions/src/activity-sync/queue-promotion.ts
  functions/src/activity-sync/queue.spec.ts
  functions/src/activity-sync/queue.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

fix: keep full plan calendar month at range boundaries
  docs/training-workspace.md
  src/app/components/plans/plan-schedule-calendar.component.spec.ts
  src/app/helpers/plan-schedule-calendar.helper.spec.ts
  src/app/helpers/plan-schedule-calendar.helper.ts
  src/app/shared/help.content.ts
Due: lint-angular

feat: show historical activity delivery admin stats
  docs/provider-integration-guide.md
  firestore.indexes.json
  functions/src/admin/handlers/queues.handlers.ts
  functions/src/admin/queues.handlers.spec.ts
  functions/src/queue-utils.spec.ts
  shared/admin-queue-stats.ts
  src/app/components/admin/admin-queue-stats/admin-queue-stats.component.html
  src/app/components/admin/admin-queue-stats/admin-queue-stats.component.scss
  src/app/components/admin/admin-queue-stats/admin-queue-stats.component.spec.ts
Due: lint-functions, lint-angular

fix: fail closed on stale readiness evidence
  docs/mcp-server.md
  docs/training-workspace.md
  functions/src/derived-metrics/derived-metrics.service.spec.ts
  functions/src/derived-metrics/derived-metrics.service.ts
  functions/src/mcp/data.service.spec.ts
  functions/src/mcp/data.service.ts
  functions/src/mcp/readiness-output-schemas.ts
  functions/src/sleep/nightly-hrv.spec.ts
  shared/readiness-legacy.ts
  shared/readiness.ts
  src/app/components/summaries/summaries.component.spec.ts
  src/app/components/summaries/summaries.component.ts
  src/app/components/training/training-workspace.component.spec.ts
  src/app/components/training/training-workspace.component.ts
  src/app/helpers/dashboard-sleep-chart.helper.ts
  src/app/helpers/dashboard-training-insights.helper.ts
  src/app/helpers/readiness-hrv-display.helper.ts
  src/app/helpers/training-derived-metrics.helper.spec.ts
  src/app/helpers/training-readiness.helper.spec.ts
  src/app/helpers/training-readiness.helper.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/app/shared/readiness-personal-range.shared.spec.ts
Due: lint-functions, lint-angular

fix: correct direct Wahoo FIT activity types
  docs/provider-integration-guide.md
  docs/wahoo-integration.md
  functions/src/activity-sync/outbound-fingerprint.spec.ts
  functions/src/activity-sync/outbound-fingerprint.ts
  functions/src/wahoo/activities.spec.ts
  functions/src/wahoo/activities.ts
  src/app/components/integrations/integration-pages.content.spec.ts
  src/app/components/integrations/integration-pages.content.ts
  src/app/components/upload/upload-activities-to-service/upload-activities-to-service.component.spec.ts
  src/app/components/upload/upload-activities-to-service/upload-activities-to-service.component.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

fix: reconcile adjacent Suunto sleep fragments
  docs/mcp-server.md
  docs/provider-integration-guide.md
  docs/suunto-integration.md
  docs/training-workspace.md
  functions/src/derived-metrics/derived-metrics-source-fields.ts
  functions/src/derived-metrics/derived-metrics.service.spec.ts
  functions/src/derived-metrics/derived-metrics.service.ts
  functions/src/mcp/data.service.spec.ts
  functions/src/mcp/data.service.ts
  functions/src/sleep/nightly-hrv.spec.ts
  shared/nightly-hrv.ts
  shared/readiness-legacy.ts
  shared/readiness.ts
  shared/sleep.ts
  src/app/helpers/dashboard-sleep-chart.helper.spec.ts
  src/app/helpers/dashboard-sleep-chart.helper.ts
  src/app/helpers/dashboard-training-insights.helper.ts
  src/app/helpers/training-derived-metrics.helper.spec.ts
  src/app/helpers/training-readiness.helper.spec.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/app/shared/readiness-personal-range.shared.spec.ts
Due: lint-functions, lint-angular

fix: withhold unidentified Suunto night HRV
  functions/src/derived-metrics/derived-metrics.service.spec.ts
  functions/src/derived-metrics/derived-metrics.service.ts
  functions/src/mcp/data.service.spec.ts
  functions/src/mcp/data.service.ts
  src/app/helpers/dashboard-sleep-chart.helper.spec.ts
  src/app/helpers/dashboard-sleep-chart.helper.ts
Due: lint-functions, lint-angular

feat: group calendar day previews
  docs/activity-calendar.md
  src/app/components/calendar/calendar-day-context/calendar-day-context.component.html
  src/app/components/calendar/calendar-day-context/calendar-day-context.component.scss
  src/app/components/calendar/calendar-day-context/calendar-day-context.component.spec.ts
  src/app/components/calendar/calendar-day-context/calendar-day-context.component.ts
  src/app/helpers/calendar-day-story.helper.ts
Due: lint-angular

fix: retain Wahoo correction resume state
  functions/src/activity-sync/outbound-fingerprint.spec.ts
  functions/src/activity-sync/outbound-fingerprint.ts
  functions/src/wahoo/activities.spec.ts
  functions/src/wahoo/activities.ts
Due: lint-functions

fix: clarify calendar preview states
  src/app/components/calendar/activity-calendar-tile/activity-calendar-tile.component.spec.ts
  src/app/components/calendar/activity-calendar-tile/activity-calendar-tile.component.ts
  src/app/components/calendar/calendar-day-context/calendar-day-context.component.html
  src/app/components/calendar/calendar-day-context/calendar-day-context.component.spec.ts
  src/app/components/summaries/summaries.component.html
  src/app/components/summaries/summaries.component.ts
  src/app/components/tile/chart/tile.chart.component.html
  src/app/components/tile/chart/tile.chart.component.ts
Due: lint-angular

fix: close Suunto reconciliation gaps
  docs/mcp-server.md
  docs/training-workspace.md
  functions/src/derived-metrics/derived-metrics-source-change.spec.ts
  functions/src/derived-metrics/derived-metrics-source-fields.ts
  functions/src/derived-metrics/derived-metrics.service.spec.ts
  functions/src/derived-metrics/derived-metrics.service.ts
  functions/src/mcp/data.service.spec.ts
  functions/src/mcp/data.service.ts
  functions/src/mcp/hrv-personal-range.service.spec.ts
  functions/src/mcp/hrv-personal-range.service.ts
  src/app/helpers/dashboard-sleep-chart.helper.spec.ts
  src/app/helpers/dashboard-sleep-chart.helper.ts
Due: lint-functions, lint-angular

refactor: centralize canonical sleep nights
  docs/mcp-server.md
  docs/provider-integration-guide.md
  docs/training-workspace.md
  functions/src/derived-metrics/derived-metrics.service.ts
  functions/src/mcp/data.service.ts
  functions/src/mcp/hrv-personal-range.service.ts
  shared/sleep.ts
  src/app/components/health/health-workspace.component.ts
  src/app/components/public-seo/health-preview.data.ts
  src/app/helpers/dashboard-chart-preview.helper.ts
  src/app/helpers/dashboard-sleep-chart.helper.spec.ts
  src/app/helpers/dashboard-sleep-chart.helper.ts
  src/app/helpers/health-workspace.helper.spec.ts
  src/app/helpers/health-workspace.helper.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

feat: align Calendar day cells with Training
  docs/activity-calendar.md
  src/app/components/calendar/activity-calendar-grid/activity-calendar-grid.component.html
  src/app/components/calendar/activity-calendar-grid/activity-calendar-grid.component.scss
  src/app/components/calendar/activity-calendar-grid/activity-calendar-grid.component.spec.ts
  src/app/components/calendar/activity-calendar-grid/activity-calendar-grid.component.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: tighten canonical sleep reconciliation
  functions/src/mcp/data.service.spec.ts
  functions/src/mcp/data.service.ts
  functions/src/sleep/nightly-hrv.spec.ts
  shared/nightly-hrv.ts
  shared/sleep.ts
  src/app/helpers/dashboard-sleep-chart.helper.spec.ts
Due: lint-functions, lint-angular
