Repository jimmykane/quantified-self: changes, and which lefthook commands are due for each by the changed paths.
All: lint-functions, lint-angular

lint-functions:
  run: npx eslint {staged_files} --fix && git add {staged_files}

lint-angular:
  run: ESLINT_USE_FLAT_CONFIG=false npx eslint {staged_files} --fix && git add {staged_files}

feat: add shared workout prescription analysis
  docs/mcp-server.md
  docs/training-workspace.md
  functions/src/assistant/evidence.spec.ts
  functions/src/assistant/evidence.ts
  functions/src/assistant/mcp-session.spec.ts
  functions/src/assistant/runtime.spec.ts
  functions/src/assistant/runtime.ts
  functions/src/mcp/contracts/pending-change.json
  functions/src/mcp/server.spec.ts
  functions/src/mcp/server.ts
  functions/src/mcp/tool-output-schemas.spec.ts
  functions/src/mcp/training-plans.schemas.spec.ts
  functions/src/mcp/training-plans.schemas.ts
  functions/src/mcp/training-plans.service.spec.ts
  functions/src/mcp/training-plans.service.ts
  functions/src/mcp/workout-prescription-analysis.schemas.ts
  plugins/quantified-self/skills/analyze-quantified-self-training/SKILL.md
  plugins/quantified-self/skills/analyze-quantified-self/SKILL.md
  shared/planned-workout-analysis-display.ts
  shared/planned-workout-analysis.ts
  src/app/components/plans/plans-workspace.component.html
  src/app/components/plans/plans-workspace.component.scss
  src/app/components/plans/plans-workspace.component.spec.ts
  src/app/components/plans/plans-workspace.component.ts
  src/app/components/public-seo/public-seo-pages.content.ts
  src/app/helpers/planned-workout-analysis-display.shared.spec.ts
  src/app/helpers/planned-workout-analysis.shared.spec.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/app/shared/policies.content.ts
  src/sitemap.xml
Due: lint-functions, lint-angular

fix: align workout profiles and support sport-aware targets
  docs/training-workspace.md
  shared/planned-workout.ts
  src/app/components/plans/plans-workspace.component.html
  src/app/components/plans/plans-workspace.component.spec.ts
  src/app/components/plans/plans-workspace.component.ts
  src/app/components/plans/workout-profile.component.html
  src/app/components/plans/workout-profile.component.spec.ts
  src/app/components/plans/workout-profile.component.ts
  src/app/helpers/pace-axis.helper.spec.ts
  src/app/helpers/pace-axis.helper.ts
  src/app/helpers/planned-workout-editor-actions.helper.spec.ts
  src/app/helpers/planned-workout-editor-actions.helper.ts
  src/app/helpers/planned-workout-editor.helper.spec.ts
  src/app/helpers/planned-workout-editor.helper.ts
  src/app/helpers/planned-workout.shared.spec.ts
  src/app/helpers/workout-profile-chart.helper.spec.ts
  src/app/helpers/workout-profile-chart.helper.ts
  src/app/helpers/workout-profile.helper.spec.ts
  src/app/helpers/workout-profile.helper.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: distinguish Suunto refresh failures from workout access denial
  docs/suunto-integration.md
  functions/src/queue.spec.ts
  functions/src/queue.ts
Due: lint-functions

feat: add reviewed Garmin replacement previews to MCP and Assistant
  docs/assistant.md
  docs/mcp-server.md
  docs/provider-integration-guide.md
  docs/training-workspace.md
  functions/src/assistant/conversation-store.ts
  functions/src/assistant/mcp-session.spec.ts
  functions/src/assistant/mcp-session.ts
  functions/src/assistant/runtime.spec.ts
  functions/src/assistant/runtime.ts
  functions/src/mcp/contracts/pending-change.json
  functions/src/mcp/data.service.ts
  functions/src/mcp/server.spec.ts
  functions/src/mcp/server.ts
  functions/src/mcp/tool-output-schemas.spec.ts
  functions/src/mcp/training-plans-write.emulator.spec.ts
  functions/src/mcp/training-plans-write.service.ts
  functions/src/mcp/training-plans.schemas.spec.ts
  functions/src/mcp/training-plans.schemas.ts
  plugins/quantified-self/skills/analyze-quantified-self-training/SKILL.md
  plugins/quantified-self/skills/analyze-quantified-self/SKILL.md
  shared/assistant-response.contract.ts
  shared/assistant.types.ts
  src/app/components/assistant/assistant-page.component.html
  src/app/components/assistant/assistant-page.component.spec.ts
  src/app/components/assistant/assistant-page.component.ts
  src/app/shared/assistant-response.contract.spec.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

fix: preserve unfinished workout target edits and equal bounds
  docs/training-workspace.md
  src/app/components/plans/workout-targets-editor.component.spec.ts
  src/app/helpers/planned-workout-target-editor.helper.spec.ts
  src/app/helpers/planned-workout-target-editor.helper.ts
Due: lint-angular

test: align MCP sitemap freshness with analyzer content
  src/firebase-hosting.config.spec.ts
Due: lint-angular

fix: retain exact converted target drafts and reference provenance
  docs/training-workspace.md
  functions/src/mcp/training-plans.schemas.spec.ts
  src/app/components/plans/workout-targets-editor.component.spec.ts
  src/app/components/plans/workout-targets-editor.component.ts
  src/app/helpers/planned-workout-target-editor.helper.spec.ts
  src/app/helpers/planned-workout-target-editor.helper.ts
Due: lint-functions, lint-angular

fix: stop ineligible Garmin replacement preview retries
  docs/mcp-server.md
  docs/training-workspace.md
  functions/src/assistant/mcp-session.spec.ts
  functions/src/assistant/mcp-session.ts
  functions/src/assistant/runtime.spec.ts
  functions/src/assistant/runtime.ts
Due: lint-functions

fix: route Garmin replacement eligibility reviews correctly
  docs/mcp-server.md
  docs/training-workspace.md
  functions/src/assistant/runtime.spec.ts
  functions/src/assistant/runtime.ts
Due: lint-functions

fix: extend history import running states to Garmin
  docs/garmin-integration.md
  docs/provider-integration-guide.md
  src/app/components/history-import-form/history-import.form.component.html
  src/app/components/history-import-form/history-import.form.component.spec.ts
  src/app/components/history-import-form/history-import.form.component.ts
  src/app/models/app-user.interface.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

feat: add daily scheduling for admin marketing campaigns
  docs/email-lifecycle.md
  functions/src/admin/marketing/marketing.emulator.spec.ts
  functions/src/admin/marketing/schedule.spec.ts
  functions/src/admin/marketing/service.ts
  functions/src/email/marketing-content.ts
  shared/admin-marketing.ts
  shared/marketing-schedule.ts
  src/app/components/admin/admin-marketing/admin-marketing.component.html
  src/app/components/admin/admin-marketing/admin-marketing.component.scss
  src/app/components/admin/admin-marketing/admin-marketing.component.spec.ts
  src/app/components/admin/admin-marketing/admin-marketing.component.ts
  src/app/services/browser.compatibility.service.spec.ts
  src/app/services/browser.compatibility.service.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

fix: limit missing durability notice to tabbed charts
  src/app/components/event/event.card.component.spec.ts
  src/app/components/event/event.card.component.ts
  src/app/components/event/performance-charts/event.performance-charts.component.html
  src/app/components/event/performance-charts/event.performance-charts.component.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

docs: work on local develop by default
  AGENTS.md
Due: none

fix: retain final activity lap segments
  src/app/components/event/event.card.component.spec.ts
  src/app/components/event/laps/event.card.laps.component.spec.ts
  src/app/components/event/laps/event.card.laps.component.ts
  src/app/helpers/event-lap-type.helper.spec.ts
  src/app/helpers/event-lap-type.helper.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

docs: remove local branch preference from agent instructions
  AGENTS.md
Due: none

fix: respect campaign pause and schedule during dispatch
  docs/email-lifecycle.md
  functions/src/admin/marketing/marketing.emulator.spec.ts
  functions/src/admin/marketing/service.ts
Due: lint-functions

fix: preserve laps with uncertain duplicate evidence
  src/app/components/event/laps/event.card.laps.component.spec.ts
  src/app/helpers/event-lap-type.helper.spec.ts
  src/app/helpers/event-lap-type.helper.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: resolve marketing schedule lint failure
  functions/src/admin/marketing/schedule.spec.ts
  shared/marketing-schedule.ts
Due: lint-functions

fix: retain both JSON upload parser failure diagnostics
  functions/src/events/upload-activity.spec.ts
  functions/src/events/upload-activity.ts
  functions/src/shared/activity-file-parser.spec.ts
  functions/src/shared/activity-file-parser.ts
  functions/src/shared/activity-parser-diagnostics.spec.ts
  functions/src/shared/activity-parser-diagnostics.ts
Due: lint-functions

fix: load current training sync settings before reviews
  docs/provider-integration-guide.md
  docs/training-workspace.md
  src/app/components/plans/training-delivery-button.component.html
  src/app/components/plans/training-delivery-button.component.ts
  src/app/components/plans/training-delivery-dialog.component.html
  src/app/components/plans/training-delivery-dialog.component.spec.ts
  src/app/components/plans/training-delivery-dialog.component.ts
  src/app/firebase/firestore.spec.ts
  src/app/firebase/firestore.ts
  src/app/services/training-delivery-reads.spec.ts
  src/app/services/training-delivery.service.spec.ts
  src/app/services/training-delivery.service.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: invalidate stale training sync confirmations
  docs/provider-integration-guide.md
  docs/training-workspace.md
  src/app/components/plans/training-delivery-dialog.component.html
  src/app/components/plans/training-delivery-dialog.component.spec.ts
  src/app/components/plans/training-delivery-dialog.component.ts
  src/app/services/training-delivery.service.spec.ts
  src/app/services/training-delivery.service.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

test: isolate marketing rollover day counters
  functions/src/admin/marketing/marketing.emulator.spec.ts
Due: lint-functions

chore: exclude local scratch files from functions lint
  functions/eslint.config.js
Due: lint-functions

fix: show loading states for admin marketing campaigns
  src/app/components/admin/admin-marketing/admin-marketing.component.html
  src/app/components/admin/admin-marketing/admin-marketing.component.scss
  src/app/components/admin/admin-marketing/admin-marketing.component.spec.ts
  src/app/components/admin/admin-marketing/admin-marketing.component.ts
Due: lint-angular

feat: add Training delivery monitoring and alert configuration
  .github/workflows/_run-tests.yml
  README.md
  docs/training-workspace.md
  functions/src/training-plans/delivery/monitoring.emulator.spec.ts
  functions/src/training-plans/delivery/monitoring.spec.ts
  functions/src/training-plans/delivery/monitoring.ts
  functions/src/training-plans/delivery/tasks.spec.ts
  functions/src/training-plans/delivery/tasks.ts
  package.json
  tools/functions-emulator-suites.mjs
  tools/training-monitoring/apply.mjs
  tools/training-monitoring/cli.mjs
  tools/training-monitoring/definitions.mjs
  tools/training-monitoring/monitoring.test.mjs
Due: lint-functions

feat: add confirmed deletion of marketing drafts
  docs/email-lifecycle.md
  functions/src/admin/marketing/handlers.spec.ts
  functions/src/admin/marketing/handlers.ts
  functions/src/admin/marketing/marketing.emulator.spec.ts
  functions/src/admin/marketing/service.ts
  shared/admin-marketing.ts
  src/app/components/admin/admin-marketing/admin-marketing.component.html
  src/app/components/admin/admin-marketing/admin-marketing.component.scss
  src/app/components/admin/admin-marketing/admin-marketing.component.spec.ts
  src/app/components/admin/admin-marketing/admin-marketing.component.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

feat: show live workout totals while editing
  docs/training-workspace.md
  src/app/components/plans/plans-workspace.component.html
  src/app/components/plans/plans-workspace.component.scss
  src/app/components/plans/plans-workspace.component.spec.ts
  src/app/components/plans/plans-workspace.component.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: harden Training monitoring probes and provisioning
  docs/training-workspace.md
  functions/src/training-plans/delivery/monitoring.emulator.spec.ts
  functions/src/training-plans/delivery/monitoring.spec.ts
  functions/src/training-plans/delivery/monitoring.ts
  tools/training-monitoring/apply.mjs
  tools/training-monitoring/cli.mjs
  tools/training-monitoring/definitions.mjs
  tools/training-monitoring/monitoring.test.mjs
Due: lint-functions

test: validate workout targets against OpenAthlete
  docs/training-workspace.md
  src/app/helpers/planned-workout-target-editor.helper.spec.ts
Due: lint-angular

chore: remove external implementation references
  docs/training-workspace.md
  src/app/helpers/planned-workout-target-editor.helper.spec.ts
Due: lint-angular

fix: make marketing draft deletion visible and recoverable
  docs/email-lifecycle.md
  src/app/components/admin/admin-marketing/admin-marketing.component.html
  src/app/components/admin/admin-marketing/admin-marketing.component.scss
  src/app/components/admin/admin-marketing/admin-marketing.component.spec.ts
  src/app/components/admin/admin-marketing/admin-marketing.component.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: use supported Monitoring provider label filters
  docs/training-workspace.md
  tools/training-monitoring/definitions.mjs
  tools/training-monitoring/monitoring.test.mjs
Due: none

test: fix workout estimate fixture after target editor merge
  src/app/components/plans/plans-workspace.component.spec.ts
Due: lint-angular

test: update workout totals fixture for ordered targets
  src/app/components/plans/plans-workspace.component.spec.ts
Due: lint-angular

fix: allow deleting prepared marketing campaigns before start
  docs/email-lifecycle.md
  functions/src/admin/marketing/marketing.emulator.spec.ts
  functions/src/admin/marketing/service.ts
  shared/admin-marketing.ts
  src/app/components/admin/admin-marketing/admin-marketing.component.html
  src/app/components/admin/admin-marketing/admin-marketing.component.spec.ts
  src/app/components/admin/admin-marketing/admin-marketing.component.ts
  src/app/shared/admin-marketing.spec.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

feat: add calendar workout library discovery and review
  docs/training-workspace.md
  functions/src/mcp/training-plans.emulator.spec.ts
  src/app/components/calendar/calendar-day-context/calendar-day-context.component.html
  src/app/components/calendar/calendar-day-context/calendar-day-context.component.spec.ts
  src/app/components/calendar/calendar-day-details/calendar-day-details.component.html
  src/app/components/calendar/calendar-day-details/calendar-day-details.component.spec.ts
  src/app/components/plans/plans-workspace.component.html
  src/app/components/plans/plans-workspace.component.scss
  src/app/components/plans/plans-workspace.component.spec.ts
  src/app/components/plans/plans-workspace.component.ts
  src/app/helpers/workout-library-presentation.helper.spec.ts
  src/app/helpers/workout-library-presentation.helper.ts
  src/app/services/calendar-day-details-navigation.service.spec.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

fix: retain placement review context and restore focus
  docs/training-workspace.md
  src/app/components/plans/plans-workspace.component.html
  src/app/components/plans/plans-workspace.component.spec.ts
  src/app/components/plans/plans-workspace.component.ts
Due: lint-angular

test: complete Training rollout evidence audit
  docs/training-workspace.md
  functions/src/training-plans/delivery/intent.spec.ts
Due: lint-functions

fix: isolate MCP startup and diagnose OAuth token failures
  docs/functions-entrypoint-loading.md
  docs/mcp-server.md
  functions/src/function-target-loader.spec.ts
  functions/src/function-target-loader.ts
  functions/src/mcp/http-protocol.spec.ts
  functions/src/mcp/oauth.firestore-store.spec.ts
  functions/src/mcp/oauth.service.spec.ts
  functions/src/mcp/oauth.service.ts
  functions/src/mcp/server.ts
  functions/src/scripts/check-entrypoint-loading.ts
Due: lint-functions

fix: bypass stale Training schedule revision reads
  docs/training-workspace.md
  src/app/services/training-delivery.service.spec.ts
  src/app/services/training-delivery.service.ts
  src/app/services/training-plans-state-reads.spec.ts
  src/app/services/training-plans.service.ts
Due: lint-angular

Path conditions:
  lint-functions: any of: **/*.{ts,js} and ^functions/
  lint-angular: any of: {src/*.{ts,html},src/**/*.{ts,html}}
