Repository jimmykane/quantified-self: changes, and which lefthook commands are due for each by the changed paths.
All: lint-functions, lint-angular

lint-functions:
  run: npx eslint {staged_files} --fix && git add {staged_files}

lint-angular:
  run: ESLINT_USE_FLAT_CONFIG=false npx eslint {staged_files} --fix && git add {staged_files}

feat: expose training beta navigation
  docs/training-workspace.md
  src/app/components/sidenav/sidenav.component.html
  src/app/components/sidenav/sidenav.component.spec.ts
  src/app/components/training/training-workspace.component.html
  src/app/components/training/training-workspace.component.spec.ts
  src/app/components/training/training-workspace.component.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

refactor: move ai insights to sidenav end
  src/app/components/sidenav/sidenav.component.html
  src/app/components/sidenav/sidenav.component.spec.ts
Due: lint-angular

fix: prevent settings tab label overlap
  src/app/components/shared/workspace-section-navigation/workspace-section-navigation.component.scss
  src/app/components/shared/workspace-section-navigation/workspace-section-navigation.component.spec.ts
Due: lint-angular

fix: prevent settings tab content flash
  src/app/components/user-settings/user-settings.component.html
  src/app/components/user-settings/user-settings.component.spec.ts
Due: lint-angular

fix: focus service tool modals
  src/app/components/services/coros/services.coros.component.html
  src/app/components/services/coros/services.coros.component.spec.ts
  src/app/components/services/garmin/services.garmin.component.html
  src/app/components/services/garmin/services.garmin.component.spec.ts
  src/app/components/services/services-abstract-component.directive.ts
  src/app/components/services/services.component.html
  src/app/components/services/services.component.spec.ts
  src/app/components/services/suunto/services.suunto.component.html
  src/app/components/services/suunto/services.suunto.component.spec.ts
Due: lint-angular

fix: remove service modal tabs
  src/app/components/services/coros/services.coros.component.html
  src/app/components/services/coros/services.coros.component.spec.ts
  src/app/components/services/garmin/services.garmin.component.html
  src/app/components/services/garmin/services.garmin.component.spec.ts
  src/app/components/services/suunto/services.suunto.component.html
  src/app/components/services/suunto/services.suunto.component.spec.ts
Due: lint-angular

fix: ignore laps without a type
  src/app/components/event/laps/event.card.laps.component.spec.ts
  src/app/components/lap-type-icon/lap-type-icon.component.spec.ts
  src/app/components/lap-type-icon/lap-type-icon.component.ts
  src/app/helpers/event-lap-type.helper.spec.ts
  src/app/helpers/event-lap-type.helper.ts
Due: lint-angular

fix: center settings and connections layouts
  src/app/components/services/services.component.scss
  src/app/components/services/services.component.spec.ts
  src/app/components/user-settings/user-settings.component.scss
  src/app/components/user-settings/user-settings.component.spec.ts
Due: lint-angular

fix: reject invalid map coordinates
  src/app/services/map/track-map-view-state.helper.spec.ts
  src/app/services/map/track-map-view-state.helper.ts
  src/app/services/map/track-map.manager.spec.ts
  src/app/services/map/track-map.manager.ts
Due: lint-angular

refactor: simplify durability trend surfaces
  docs/training-workspace.md
  src/app/components/training/training-durability-trajectory-chart.component.scss
  src/app/components/training/training-workspace.component.scss
Due: none

fix: contain connection provider tab content
  src/app/components/services/services.component.html
  src/app/components/services/services.component.scss
  src/app/components/services/services.component.spec.ts
Due: lint-angular

fix: avoid dormant training rhythm cards
  docs/training-workspace.md
  src/app/helpers/training-explanation-view.helper.spec.ts
  src/app/helpers/training-explanation-view.helper.ts
Due: lint-angular

refactor: compact single-sport training mix
  docs/training-workspace.md
  src/app/components/training/training-workspace.component.html
  src/app/components/training/training-workspace.component.scss
  src/app/components/training/training-workspace.component.spec.ts
Due: lint-angular

fix: fill single-sport intensity chart
  docs/training-workspace.md
  src/app/components/charts/intensity-distribution/charts.intensity-distribution.component.css
  src/app/components/charts/intensity-distribution/charts.intensity-distribution.component.spec.ts
  src/app/components/training/training-workspace.component.scss
Due: lint-angular

refactor: enrich single-sport training mix
  docs/training-workspace.md
  src/app/components/training/training-workspace.component.html
  src/app/components/training/training-workspace.component.scss
  src/app/components/training/training-workspace.component.spec.ts
  src/app/components/training/training-workspace.component.ts
Due: lint-angular

fix: align current load metrics
  docs/training-workspace.md
  src/app/components/charts/form/charts.form.component.ts
  src/app/components/summaries/summaries.component.spec.ts
  src/app/components/summaries/summaries.component.ts
  src/app/components/training/training-workspace.component.html
  src/app/components/training/training-workspace.component.spec.ts
  src/app/components/training/training-workspace.component.ts
  src/app/helpers/dashboard-chart-info.helper.spec.ts
  src/app/helpers/dashboard-chart-info.helper.ts
  src/app/helpers/dashboard-derived-metrics.helper.spec.ts
  src/app/helpers/dashboard-derived-metrics.helper.ts
  src/app/helpers/dashboard-form.helper.spec.ts
  src/app/helpers/dashboard-form.helper.ts
  src/app/helpers/dashboard-kpi-explanation.helper.spec.ts
  src/app/helpers/dashboard-kpi-explanation.helper.ts
  src/app/helpers/dashboard-tile-view-model.helper.spec.ts
  src/app/helpers/dashboard-tile-view-model.helper.ts
Due: lint-angular

fix: restore dashboard training action
  src/app/components/summaries/summaries.component.html
  src/app/components/summaries/summaries.component.spec.ts
Due: lint-angular

fix: remove training route flicker
  src/app/app.routing.module.spec.ts
  src/app/app.routing.module.ts
Due: lint-angular

fix: simplify home positioning
  src/app/app.routing.module.spec.ts
  src/app/app.routing.module.ts
  src/app/services/seo.service.ts
Due: lint-angular

fix: remove sidenav navigation heading
  src/app/components/sidenav/sidenav.component.html
  src/app/components/sidenav/sidenav.component.spec.ts
Due: lint-angular

feat: add training SEO overview
  docs/training-workspace.md
  src/app/app.routes.server.ts
  src/app/app.routing.module.spec.ts
  src/app/app.routing.module.ts
  src/app/components/home/home.component.html
  src/app/components/home/home.component.spec.ts
  src/app/components/public-seo/public-seo-pages.content.spec.ts
  src/app/components/public-seo/public-seo-pages.content.ts
  src/app/services/seo.service.spec.ts
  src/app/services/seo.service.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/app/shared/public-startup-route.ts
  src/firebase-hosting.config.spec.ts
  src/robots.txt
  src/sitemap.xml
Due: lint-angular

fix: remove sidenav new badge
  src/app/components/sidenav/sidenav.component.html
  src/app/components/sidenav/sidenav.component.spec.ts
Due: lint-angular

fix: remove ai insights beta badge
  src/app/components/sidenav/sidenav.component.html
  src/app/components/sidenav/sidenav.component.spec.ts
Due: lint-angular

feat: add public site footer
  src/app/app-shell.component.html
  src/app/app-shell.component.spec.ts
  src/app/app-shell.component.ts
  src/app/app.module.ts
  src/app/components/home/home.component.html
  src/app/components/home/home.component.scss
  src/app/components/home/home.component.spec.ts
  src/app/components/home/home.component.ts
  src/app/components/policies/policies.component.spec.ts
  src/app/components/public-footer/public-footer.component.html
  src/app/components/public-footer/public-footer.component.scss
  src/app/components/public-footer/public-footer.component.spec.ts
  src/app/components/public-footer/public-footer.component.ts
  src/app/shared/company-contact.ts
  src/app/shared/policies.content.ts
  src/app/shared/public-startup-route.spec.ts
  src/app/shared/public-startup-route.ts
Due: lint-angular

fix: align settings tab scroll icons
  src/app/components/shared/workspace-section-navigation/workspace-section-navigation.component.scss
  src/app/components/shared/workspace-section-navigation/workspace-section-navigation.component.spec.ts
Due: lint-angular

fix: improve help content readability
  src/app/components/help/help-page.component.scss
Due: none

fix: space help markdown lists
  src/app/components/help/help-page.component.scss
  src/styles.scss
Due: none

fix: allow local training refresh without app check
  docs/training-workspace.md
  functions/src/utils.spec.ts
  functions/src/utils.ts
  src/app/services/app.functions.service.spec.ts
  src/app/services/app.functions.service.ts
Due: lint-functions, lint-angular

test: cover training feature prerender route
  src/app/app.routes.server.spec.ts
Due: lint-angular

chore: bv
  package.json
Due: none

fix: update footer contact email
  src/app/components/public-footer/public-footer.component.html
  src/app/components/public-footer/public-footer.component.spec.ts
  src/app/components/public-footer/public-footer.component.ts
Due: lint-angular

fix: bump subscription trigger memory
  functions/src/stripe/subscriptions.spec.ts
  functions/src/stripe/subscriptions.ts
Due: lint-functions

fix: limit subscription trigger concurrency
  functions/src/stripe/subscriptions.spec.ts
  functions/src/stripe/subscriptions.ts
Due: lint-functions

feat: build help documentation center
  package-lock.json
  package.json
  src/app/components/help/help-page.component.html
  src/app/components/help/help-page.component.scss
  src/app/components/help/help-page.component.spec.ts
  src/app/components/help/help-page.component.ts
  src/app/helpers/help-search.helper.spec.ts
  src/app/helpers/help-search.helper.ts
  src/app/shared/help.content.ts
Due: lint-angular

chore: update packages
  package-lock.json
  package.json
Due: none

refactor: refine help center layout
  src/app/components/help/help-page.component.html
  src/app/components/help/help-page.component.scss
  src/app/components/help/help-page.component.ts
Due: lint-angular

fix: polish help center reading flow
  src/app/components/help/help-page.component.html
  src/app/components/help/help-page.component.scss
  src/app/components/help/help-page.component.spec.ts
  src/app/components/help/help-page.component.ts
Due: lint-angular

docs: add training help guide
  src/app/components/help/help-page.component.spec.ts
  src/app/components/help/help-page.component.ts
  src/app/helpers/help-search.helper.spec.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

feat: track comparison page views
  src/app/components/tools/tools-compare-page.component.spec.ts
  src/app/components/tools/tools-compare-page.component.ts
  src/app/services/app.analytics.service.spec.ts
  src/app/services/app.analytics.service.ts
Due: lint-angular

Path conditions:
  lint-functions: any of: **/*.{ts,js} and ^functions/
  lint-angular: any of: {src/*.{ts,html},src/**/*.{ts,html}}
