Repository jimmykane/quantified-self: changes, and which lefthook commands are due for each by the changed paths.
All: lint-functions, lint-angular

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint-functions:
      root: "functions"
      glob: "**/*.{ts,js}"
      run: npx eslint {staged_files} --fix && git add {staged_files}
    lint-angular:
      glob: "{src/*.{ts,html},src/**/*.{ts,html}}"
      run: ESLINT_USE_FLAT_CONFIG=false npx eslint {staged_files} --fix && git add {staged_files}

fix: align routes table columns with compare table
  src/app/components/routes/routes-page.component.html
  src/app/components/routes/routes-page.component.scss
  src/app/components/routes/routes-page.component.spec.ts
  src/app/components/routes/routes-page.component.ts
Due: lint-angular

fix: stabilize suunto services tab state
  src/app/components/services/services-abstract-component.directive.ts
  src/app/components/services/suunto/services.suunto.component.html
  src/app/components/services/suunto/services.suunto.component.spec.ts
  src/app/components/services/suunto/services.suunto.component.ts
Due: lint-angular

fix: align routes toolbar with compare layout
  src/app/components/routes/routes-page.component.html
  src/app/components/routes/routes-page.component.scss
  src/app/components/routes/routes-page.component.spec.ts
Due: lint-angular

fix: unblock beta build for routes and suunto
  src/app/components/services/suunto/services.suunto.component.ts
  src/app/services/app.analytics.service.ts
Due: lint-angular

feat: add bulk delete for compare files
  src/app/components/tools/tools-compare-page.component.html
  src/app/components/tools/tools-compare-page.component.scss
  src/app/components/tools/tools-compare-page.component.spec.ts
  src/app/components/tools/tools-compare-page.component.ts
  src/app/services/app.analytics.service.spec.ts
  src/app/services/app.analytics.service.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: tighten route table bulk layout
  src/app/components/routes/routes-page.component.scss
  src/app/components/routes/routes-page.component.spec.ts
  src/app/components/tools/tools-compare-page.component.scss
  src/app/components/tools/tools-compare-page.component.spec.ts
Due: lint-angular

chore: SEO changes
  src/app/app.routing.module.spec.ts
  src/app/app.routing.module.ts
  src/app/components/integrations/integration-pages.content.spec.ts
  src/app/components/integrations/integration-pages.content.ts
  src/app/components/public-seo/public-seo-pages.content.spec.ts
  src/app/components/public-seo/public-seo-pages.content.ts
  src/firebase-hosting.config.spec.ts
  src/robots.txt
  src/sitemap.xml
Due: lint-angular

feat: add Garmin saved route delivery
  functions/src/garmin/routes.spec.ts
  functions/src/garmin/routes.ts
  functions/src/routes/send-routes-to-service.spec.ts
  functions/src/routes/send-routes-to-service.ts
  shared/garmin-service-token.ts
  shared/saved-route-send.ts
  src/app/components/integrations/integration-pages.content.spec.ts
  src/app/components/integrations/integration-pages.content.ts
  src/app/components/public-seo/public-seo-pages.content.spec.ts
  src/app/components/public-seo/public-seo-pages.content.ts
  src/app/components/routes/route-detail/route-detail.component.html
  src/app/components/routes/route-detail/route-detail.component.spec.ts
  src/app/components/routes/route-detail/route-detail.component.ts
  src/app/components/routes/routes-page.component.html
  src/app/components/routes/routes-page.component.spec.ts
  src/app/components/routes/routes-page.component.ts
  src/app/components/services/garmin/services.garmin.component.html
  src/app/components/services/garmin/services.garmin.component.spec.ts
  src/app/components/services/garmin/services.garmin.component.ts
  src/app/services/app.route-send.service.spec.ts
  src/app/services/app.route-send.service.ts
  src/app/services/app.user.service.spec.ts
  src/app/services/app.user.service.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

chore: fix tests
  src/app/components/integrations/integrations-hub-page.component.spec.ts
  src/app/components/integrations/provider-integration-page.component.spec.ts
Due: lint-angular

fix: clarify Garmin route delivery permission guidance
  src/app/components/services/garmin/services.garmin.component.html
  src/app/components/services/garmin/services.garmin.component.spec.ts
  src/app/components/services/garmin/services.garmin.component.ts
  src/app/shared/help.content.ts
Due: lint-angular

chore: other stuff
  src/app/app.routing.module.spec.ts
  src/app/components/integrations/integrations-hub-page.component.spec.ts
  src/app/components/integrations/provider-integration-page.component.spec.ts
Due: lint-angular

chore: fixes
  functions/src/garmin/routes.spec.ts
  functions/src/garmin/routes.ts
  functions/src/routes/send-routes-to-service.spec.ts
  functions/src/routes/send-routes-to-service.ts
  src/app/components/services/garmin/services.garmin.component.html
  src/app/components/services/garmin/services.garmin.component.spec.ts
  src/app/services/app.route-send.service.spec.ts
Due: lint-functions, lint-angular

fix: align Garmin route send UI with pinned delivery account
  functions/src/garmin/routes.ts
  functions/src/routes/route-persistence.ts
  shared/app-route.interface.ts
  shared/route-provenance.ts
  src/app/components/routes/route-detail/route-detail.component.html
  src/app/components/routes/route-detail/route-detail.component.spec.ts
  src/app/components/routes/route-detail/route-detail.component.ts
  src/app/components/routes/routes-page.component.html
  src/app/components/routes/routes-page.component.spec.ts
  src/app/components/routes/routes-page.component.ts
  src/app/helpers/route-provenance.helper.ts
  src/app/services/app.route-send.service.spec.ts
  src/app/services/app.route-send.service.ts
  src/app/services/app.user.service.ts
Due: lint-functions, lint-angular

fix: harden Garmin route send UI review follow-ups
  functions/src/routes/route-persistence.spec.ts
  src/app/components/routes/route-detail/route-detail.component.ts
  src/app/components/routes/routes-page.component.html
  src/app/components/routes/routes-page.component.spec.ts
  src/app/components/routes/routes-page.component.ts
  src/app/helpers/route-provenance.helper.ts
Due: lint-functions, lint-angular

fix: harden Garmin route send failure handling
  functions/src/routes/send-routes-to-service.spec.ts
  functions/src/routes/send-routes-to-service.ts
  shared/saved-route-send.ts
  src/app/components/services/garmin/services.garmin.component.html
  src/app/components/services/garmin/services.garmin.component.spec.ts
  src/app/components/services/garmin/services.garmin.component.ts
  src/app/services/app.route-send.service.spec.ts
  src/app/services/app.route-send.service.ts
Due: lint-functions, lint-angular

fix: stop misreporting aborted Garmin route sends
  functions/src/routes/send-routes-to-service.spec.ts
  functions/src/routes/send-routes-to-service.ts
  shared/saved-route-send.ts
  src/app/services/app.route-send.service.spec.ts
  src/app/services/app.route-send.service.ts
Due: lint-functions, lint-angular

docs: add connected-service privacy disclosures
  src/app/components/help/help-page.component.html
  src/app/components/help/help-page.component.spec.ts
  src/app/components/policies/policies.component.html
  src/app/components/policies/policies.component.scss
  src/app/components/policies/policies.component.spec.ts
  src/app/components/policies/policies.component.ts
  src/app/components/services/coros/services.coros.component.html
  src/app/components/services/coros/services.coros.component.spec.ts
  src/app/components/services/garmin/services.garmin.component.html
  src/app/components/services/garmin/services.garmin.component.spec.ts
  src/app/components/services/services-abstract-component.directive.scss
  src/app/components/services/suunto/services.suunto.component.html
  src/app/components/services/suunto/services.suunto.component.spec.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/app/shared/policies.content.ts
Due: lint-angular

docs: clarify route cleanup in user deletion workflow
  docs/user-deletion-workflow.html
Due: none

chore: improve policies
  src/app/components/policies/policies.component.html
  src/app/components/policies/policies.component.spec.ts
  src/app/components/policies/policies.component.ts
Due: lint-angular

refactor: unify provider attribution branding
  docs/connected-provider-attribution-audit.md
  shared/provider-presentation.ts
  src/app/components/event-summary/service-source-icon/service-source-icon.component.html
  src/app/components/event-summary/service-source-icon/service-source-icon.component.spec.ts
  src/app/components/event-summary/service-source-icon/service-source-icon.component.ts
  src/app/components/features/workout-data-comparison-page.content.ts
  src/app/components/integrations/integration-pages.content.ts
  src/app/components/routes/route-detail/route-detail.component.spec.ts
  src/app/components/routes/routes-page.component.html
  src/app/components/routes/routes-page.component.spec.ts
  src/app/components/routes/routes-page.component.ts
  src/app/components/services/garmin/services.garmin.component.html
  src/app/components/services/garmin/services.garmin.component.spec.ts
  src/app/components/services/services-abstract-component.directive.ts
  src/app/components/services/services.component.spec.ts
  src/app/components/services/services.component.ts
  src/app/components/upload/upload-activities-to-service/upload-activities-to-service.component.spec.ts
  src/app/components/upload/upload-activities-to-service/upload-activities-to-service.component.ts
  src/app/helpers/dashboard-action-prompt.helper.ts
  src/app/helpers/provider-presentation.helper.spec.ts
  src/app/helpers/provider-presentation.helper.ts
  src/app/helpers/route-provenance.helper.spec.ts
  src/app/helpers/route-provenance.helper.ts
  src/app/services/data-export.service.spec.ts
  src/app/services/data-export.service.ts
Due: lint-angular

chore: pr fixes
  src/app/components/event-summary/event-summary.component.spec.ts
  src/app/components/event-summary/event-summary.component.ts
  src/app/components/event/stats-table/event-stats-bottom-sheet/event-stats-bottom-sheet.component.html
  src/app/components/event/stats-table/event-stats-bottom-sheet/event-stats-bottom-sheet.component.ts
  src/app/components/event/stats-table/event.card.stats-table.component.spec.ts
  src/app/components/event/stats-table/event.card.stats-table.component.ts
Due: lint-angular

chore: pr fixes
  src/app/components/event/stats-table/event.card.stats-table.component.spec.ts
  src/app/components/event/stats-table/event.card.stats-table.component.ts
Due: lint-angular

chore: fixes
  src/app/components/event/stats-table/event.card.stats-table.component.spec.ts
  src/app/components/event/stats-table/event.card.stats-table.component.ts
Due: lint-angular

chore: fix things for export
  src/app/services/data-export.service.spec.ts
  src/app/services/data-export.service.ts
Due: lint-angular

chore: improve tables
  src/app/components/routes/routes-page.component.html
  src/app/components/routes/routes-page.component.scss
  src/app/components/routes/routes-page.component.spec.ts
  src/app/components/routes/routes-page.component.ts
  src/app/components/tools/tools-compare-page.component.html
  src/app/components/tools/tools-compare-page.component.scss
  src/app/components/tools/tools-compare-page.component.spec.ts
  src/app/components/tools/tools-compare-page.component.ts
  src/app/helpers/table-row-activation.helper.spec.ts
  src/app/helpers/table-row-activation.helper.ts
Due: lint-angular

chore: hide Garmin route send actions
  src/app/components/routes/route-detail/route-detail.component.html
  src/app/components/routes/route-detail/route-detail.component.spec.ts
  src/app/components/routes/route-detail/route-detail.component.ts
  src/app/components/routes/routes-page.component.html
  src/app/components/routes/routes-page.component.spec.ts
  src/app/components/routes/routes-page.component.ts
  src/app/constants/route-delivery.constants.ts
Due: lint-angular

fix: build errors
  src/app/components/routes/routes-page.component.ts
  src/app/components/tools/tools-compare-page.component.ts
Due: lint-angular

fix: stabilize shell header responsive action buttons
  src/app/components/app-shell-header/app-shell-header.component.html
  src/app/components/app-shell-header/app-shell-header.component.scss
  src/app/components/app-shell-header/app-shell-header.component.spec.ts
Due: lint-angular

refactor: share compare-style table controls layout
  src/app/components/routes/routes-page.component.scss
  src/app/components/routes/routes-page.component.spec.ts
  src/app/components/tools/tools-compare-page.component.scss
  src/app/components/tools/tools-compare-page.component.spec.ts
  src/styles/_table-controls.scss
Due: lint-angular

fix: prevent workout queue dispatch marker on task dedupe
  functions/src/queue.spec.ts
  functions/src/queue.ts
  functions/src/shared/cloud-tasks.spec.ts
  functions/src/shared/cloud-tasks.ts
Due: lint-functions

fix: recover workout tasks from stale dedupe reservations
  functions/src/shared/cloud-tasks.spec.ts
  functions/src/shared/cloud-tasks.ts
Due: lint-functions

fix: make workout recovery dispatch deterministic
  functions/src/queue.spec.ts
  functions/src/queue.ts
  functions/src/shared/cloud-tasks.spec.ts
  functions/src/shared/cloud-tasks.ts
Due: lint-functions

fix: recover workout dispatch stale task names
  functions/src/queue.spec.ts
  functions/src/queue.ts
  functions/src/queue/queue-item.interface.ts
Due: lint-functions

chore: Pr fixes
  src/app/services/data-export.service.spec.ts
  src/app/services/data-export.service.ts
Due: lint-angular

chore: fixes
  src/app/components/event-summary/event-summary.component.html
  src/app/components/event-summary/event-summary.component.spec.ts
  src/app/components/event-summary/event-summary.component.ts
  src/app/components/event-summary/service-source-icon/service-source-icon.component.html
  src/app/components/event-summary/service-source-icon/service-source-icon.component.spec.ts
  src/app/components/event-summary/service-source-icon/service-source-icon.component.ts
  src/app/constants/route-delivery.constants.spec.ts
  src/app/constants/route-delivery.constants.ts
Due: lint-angular

Revert "chore: hide Garmin route send actions"
  src/app/components/routes/route-detail/route-detail.component.html
  src/app/components/routes/route-detail/route-detail.component.spec.ts
  src/app/components/routes/route-detail/route-detail.component.ts
  src/app/components/routes/routes-page.component.html
  src/app/components/routes/routes-page.component.spec.ts
  src/app/components/routes/routes-page.component.ts
  src/app/constants/route-delivery.constants.spec.ts
  src/app/constants/route-delivery.constants.ts
Due: lint-angular

feat: add Garmin route permission prompt
  src/app/components/routes/route-detail/route-detail.component.spec.ts
  src/app/components/routes/route-detail/route-detail.component.ts
  src/app/components/routes/routes-page.component.html
  src/app/components/routes/routes-page.component.spec.ts
  src/app/components/routes/routes-page.component.ts
  src/app/helpers/dashboard-action-prompt.helper.ts
  src/app/helpers/garmin-route-permission.helper.spec.ts
  src/app/helpers/garmin-route-permission.helper.ts
  src/app/models/app-user.interface.ts
  src/app/services/app.user.service.spec.ts
  src/app/services/app.user.service.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

chore: bump version
  package-lock.json
  package.json
Due: none

chore: add prompt
  src/app/components/dashboard/dashboard-action-prompts/dashboard-action-prompts.component.ts
Due: lint-angular

fix: simplify Garmin route permission prompt
  src/app/components/routes/routes-page.component.ts
  src/app/helpers/garmin-route-permission.helper.spec.ts
  src/app/helpers/garmin-route-permission.helper.ts
Due: lint-angular
