Repository jimmykane/quantified-self: changes, and which lefthook commands are due for each by the changed paths.
All: lint-functions, lint-angular

lint-functions:
  run: npx eslint {staged_files} --fix && git add {staged_files}

lint-angular:
  run: ESLINT_USE_FLAT_CONFIG=false npx eslint {staged_files} --fix && git add {staged_files}

fix: bind legacy Wahoo account recovery
  functions/src/service-auth-lifecycle.spec.ts
  functions/src/service-auth-lifecycle.ts
  functions/src/service-connection-meta.spec.ts
  functions/src/service-connection-meta.ts
  functions/src/wahoo/account.spec.ts
  functions/src/wahoo/account.ts
Due: lint-functions

fix: remove personal data from Wahoo canary
  docs/wahoo-integration.md
  functions/src/scripts/correct-wahoo-workout-types.spec.ts
  functions/src/scripts/correct-wahoo-workout-types.ts
  functions/src/wahoo/activities.spec.ts
Due: lint-functions

fix: preserve pinned Wahoo terminal state
  functions/src/service-auth-lifecycle.spec.ts
  functions/src/service-auth-lifecycle.ts
  functions/src/service-connection-meta.spec.ts
  functions/src/service-connection-meta.ts
Due: lint-functions

fix: checkpoint lifecycle repairs after processing
  functions/src/schedule/retry-pending-service-disconnects.spec.ts
  functions/src/schedule/retry-pending-service-disconnects.ts
Due: lint-functions

fix: compact mobile lap duration column
  src/app/components/event/laps/event.card.laps.component.css
Due: none

fix: close remaining Wahoo lifecycle races
  docs/provider-integration-guide.md
  docs/wahoo-integration.md
  firestore.rules
  functions/src/OAuth2.spec.ts
  functions/src/OAuth2.ts
  functions/src/activity-sync/process-queue-item.spec.ts
  functions/src/activity-sync/process-queue-item.ts
  functions/src/queue/sync-route-eligibility.spec.ts
  functions/src/queue/sync-route-eligibility.ts
  functions/src/route-delivery-sync/process-queue-item.spec.ts
  functions/src/route-delivery-sync/process-queue-item.ts
  functions/src/service-auth-lifecycle.spec.ts
  functions/src/service-auth-lifecycle.ts
  functions/src/wahoo/account.spec.ts
  functions/src/wahoo/account.ts
  functions/src/wahoo/activities.spec.ts
  functions/src/wahoo/activities.ts
  functions/src/wahoo/processor.spec.ts
  functions/src/wahoo/processor.ts
  functions/src/wahoo/routes.spec.ts
  functions/src/wahoo/routes.ts
  src/firestore.rules.spec.ts
Due: lint-functions, lint-angular

fix: guard pending-disconnect sync metadata
  functions/src/activity-sync/process-queue-item.spec.ts
  functions/src/activity-sync/process-queue-item.ts
Due: lint-functions

fix: remove calendar activity chevron
  src/app/components/calendar/activity-calendar-volume-list/activity-calendar-volume-list.component.html
  src/app/components/calendar/activity-calendar-volume-list/activity-calendar-volume-list.component.scss
  src/app/components/calendar/activity-calendar-volume-list/activity-calendar-volume-list.component.spec.ts
Due: lint-angular

fix: use Barlow for calendar numbers
  src/app/components/calendar/activity-calendar-volume-list/activity-calendar-volume-list.component.html
  src/app/components/calendar/activity-calendar-volume-list/activity-calendar-volume-list.component.scss
  src/app/components/calendar/activity-calendar-volume-list/activity-calendar-volume-list.component.spec.ts
  src/app/components/calendar/activity-calendar-volume-list/activity-calendar-volume-list.component.ts
  src/app/components/calendar/calendar-day-details/calendar-day-details.component.html
  src/app/components/calendar/calendar-day-details/calendar-day-details.component.scss
  src/app/components/calendar/calendar-day-details/calendar-day-details.component.spec.ts
  src/app/components/calendar/calendar-day-details/calendar-day-details.component.ts
  src/app/components/shared/bottom-sheet-header/bottom-sheet-header.component.html
  src/app/components/shared/bottom-sheet-header/bottom-sheet-header.component.scss
  src/app/components/shared/bottom-sheet-header/bottom-sheet-header.component.ts
  src/app/helpers/activity-calendar-volume.helper.ts
Due: lint-angular

fix: recheck Wahoo account before uploads
  functions/src/OAuth2.spec.ts
  functions/src/wahoo/activities.spec.ts
  functions/src/wahoo/activities.ts
Due: lint-functions

refactor: group Wahoo upload lifecycle hooks
  functions/src/wahoo/activities.ts
Due: lint-functions

test: isolate OAuth cleanup deauthorization assertion
  functions/src/OAuth2.spec.ts
Due: lint-functions

fix: roll back unused Wahoo upload fingerprints
  functions/src/activity-sync/outbound-fingerprint.spec.ts
  functions/src/activity-sync/outbound-fingerprint.ts
  functions/src/wahoo/activities.spec.ts
  functions/src/wahoo/activities.ts
Due: lint-functions

fix: namespace route restore markers
  functions/src/activity-sync/disconnect-routes.spec.ts
  functions/src/activity-sync/route-cleanup.ts
Due: lint-functions

test: use persisted OAuth credential in cleanup
  functions/src/OAuth2.spec.ts
Due: lint-functions

fix: fence refresh claims during disconnect
  functions/src/token-refresh-coordinator.spec.ts
  functions/src/token-refresh-coordinator.ts
  functions/src/tokens.spec.ts
  functions/src/tokens.ts
Due: lint-functions

fix: serialize explicit disconnects
  functions/src/OAuth2.spec.ts
  functions/src/OAuth2.ts
Due: lint-functions

fix: recover expired explicit disconnect fences
  functions/src/OAuth2.spec.ts
  functions/src/OAuth2.ts
  functions/src/service-auth-lifecycle.spec.ts
  functions/src/service-auth-lifecycle.ts
  functions/src/service-connection-meta.spec.ts
  functions/src/service-connection-meta.ts
  functions/src/service-disconnect-pending-state.spec.ts
  functions/src/service-disconnect-pending-state.ts
  functions/src/service-token-store.ts
  functions/src/token-refresh-coordinator.spec.ts
  functions/src/token-refresh-coordinator.ts
  functions/src/tokens.spec.ts
  functions/src/tokens.ts
  functions/src/wahoo/account.ts
Due: lint-functions

docs: explain diving elevation exclusions
  docs/activity-calendar.md
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: adopt diving elevation exclusions
  docs/training-workspace.md
  package-lock.json
  package.json
  src/app/components/user-settings/user-settings.component.spec.ts
  src/app/helpers/activity-calendar.helper.spec.ts
  src/app/helpers/event-stat-aggregation.helper.spec.ts
  src/app/helpers/summary-stats.helper.spec.ts
Due: lint-angular

fix: align functions sports-lib version
  functions/package-lock.json
  functions/package.json
Due: none

fix: fence refresh persistence and bound queue release
  functions/src/queue/pending-disconnect-release.spec.ts
  functions/src/queue/pending-disconnect-release.ts
  functions/src/token-refresh-coordinator.spec.ts
  functions/src/token-refresh-coordinator.ts
  functions/src/tokens.ts
Due: lint-functions

docs: correct sports-lib training baseline
  docs/training-workspace.md
Due: none

fix: preserve OAuth recovery after bounded queue release
  firestore.indexes.json
  functions/src/firestore-indexes.spec.ts
  functions/src/queue/pending-disconnect-release.spec.ts
  functions/src/queue/pending-disconnect-release.ts
  functions/src/schedule/retry-pending-service-disconnects.spec.ts
  functions/src/schedule/retry-pending-service-disconnects.ts
  functions/src/service-connection-meta.spec.ts
  functions/src/service-connection-meta.ts
  functions/src/service-disconnect-pending.spec.ts
  functions/src/service-disconnect-pending.ts
  shared/service-connection.ts
Due: lint-functions

fix: fence pending queue repairs per row
  functions/src/queue/pending-disconnect-release.spec.ts
  functions/src/queue/pending-disconnect-release.ts
Due: lint-functions

fix: bound deferred route recovery
  firestore.indexes.json
  functions/src/firestore-indexes.spec.ts
  functions/src/queue/pending-disconnect-release.spec.ts
  functions/src/queue/pending-disconnect-release.ts
  functions/src/queue/sync-route-eligibility-release.spec.ts
  functions/src/queue/sync-route-eligibility.spec.ts
  functions/src/queue/sync-route-eligibility.ts
Due: lint-functions

fix: hide diving altitude summaries
  src/app/components/event/stats-grid/event.card.stats-grid.component.spec.ts
  src/app/constants/event-summary-metric-groups.ts
  src/app/helpers/summary-stats.helper.spec.ts
  src/app/helpers/summary-stats.helper.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/app/utils/app.event.utilities.spec.ts
  src/app/utils/app.event.utilities.ts
Due: lint-angular

fix: hide diving terrain summaries
  src/app/components/event/stats-grid/event.card.stats-grid.component.spec.ts
  src/app/constants/event-summary-metric-groups.ts
  src/app/helpers/summary-stats.helper.spec.ts
  src/app/helpers/summary-stats.helper.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/app/utils/app.event.utilities.spec.ts
  src/app/utils/app.event.utilities.ts
Due: lint-angular

fix: preserve work across peer route recovery
  functions/src/queue/sync-route-eligibility-release.spec.ts
  functions/src/queue/sync-route-eligibility.ts
Due: lint-functions

fix: scope deferred queue release queries
  functions/src/queue/pending-disconnect-release.ts
Due: lint-functions

feat: surface source-native dive metrics
  docs/event-chart-visibility.md
  docs/mcp-server.md
  docs/training-workspace.md
  functions/package-lock.json
  functions/package.json
  functions/src/mcp/data.service.spec.ts
  functions/src/mcp/metric-catalog.spec.ts
  functions/src/reparse/SPORTS_LIB_REPARSE_RUNBOOK.md
  functions/src/test-setup.sports-lib.ts
  functions/vitest.config.ts
  package-lock.json
  package.json
  shared/sports-lib-metric-semantics.ts
  src/app/components/data-type-icon/data-type-icon.component.spec.ts
  src/app/components/data-type-icon/data-type-icon.component.ts
  src/app/components/event/dive-profile/event.dive-profile.component.spec.ts
  src/app/components/event/dive-profile/event.dive-profile.component.ts
  src/app/components/event/event.card.component.spec.ts
  src/app/components/event/event.card.component.ts
  src/app/components/event/stats-grid/event.card.stats-grid.component.ts
  src/app/constants/event-summary-metric-groups.ts
  src/app/helpers/event-dive-profile.helper.spec.ts
  src/app/helpers/event-dive-profile.helper.ts
  src/app/helpers/event-echarts-yaxis.helper.spec.ts
  src/app/helpers/event-echarts-yaxis.helper.ts
  src/app/helpers/event-lap-table-columns.helper.spec.ts
  src/app/helpers/summary-metric-tabs.helper.spec.ts
  src/app/helpers/summary-stats.helper.spec.ts
  src/app/resolvers/event.resolver.spec.ts
  src/app/resolvers/event.resolver.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

fix: align dive dependencies and test fixtures
  functions/package-lock.json
  functions/src/test-setup.sports-lib.ts
  functions/src/test-setup.ts
  functions/vitest.config.ts
  package-lock.json
Due: lint-functions

fix: align reviewed dive package artifacts
  docs/mcp-server.md
  docs/training-workspace.md
  functions/package-lock.json
  functions/src/reparse/SPORTS_LIB_REPARSE_RUNBOOK.md
  package-lock.json
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: complete dive metric presentation
  docs/mcp-server.md
  docs/training-workspace.md
  functions/package-lock.json
  functions/src/mcp/metric-catalog.spec.ts
  functions/src/reparse/SPORTS_LIB_REPARSE_RUNBOOK.md
  package-lock.json
  src/app/components/data-type-icon/data-type-icon.component.spec.ts
  src/app/components/data-type-icon/data-type-icon.component.ts
  src/app/components/header-stats/header-stats.component.spec.ts
  src/app/components/user-settings/user-settings.component.html
  src/app/components/user-settings/user-settings.component.spec.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

chore: adopt sports-lib 20.0.1
  docs/mcp-server.md
  docs/training-workspace.md
  functions/package-lock.json
  functions/package.json
  functions/src/mcp/data.service.spec.ts
  functions/src/mcp/metric-catalog.spec.ts
  functions/src/reparse/SPORTS_LIB_REPARSE_RUNBOOK.md
  package-lock.json
  package.json
  src/app/components/data-type-icon/data-type-icon.component.spec.ts
  src/app/components/data-type-icon/data-type-icon.component.ts
  src/app/constants/event-summary-metric-groups.ts
  src/app/helpers/summary-stats.helper.spec.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/app/utils/event-json-sanitizer.spec.ts
Due: lint-functions, lint-angular

fix: adopt sports-lib 20.0.3 terrain summaries
  docs/mcp-server.md
  docs/training-workspace.md
  functions/package-lock.json
  functions/package.json
  functions/src/mcp/data.service.spec.ts
  functions/src/reparse/SPORTS_LIB_REPARSE_RUNBOOK.md
  functions/src/shared/sports-lib-version.node.spec.ts
  package-lock.json
  package.json
  src/app/helpers/sports-lib-metric-semantics.spec.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/app/utils/app.event.utilities.ts
Due: lint-functions, lint-angular

test: strengthen sports-lib terrain migration coverage
  functions/src/mcp/data.service.spec.ts
  functions/src/shared/sports-lib-version.node.spec.ts
  src/app/helpers/sports-lib-metric-semantics.spec.ts
Due: lint-functions, lint-angular

fix: align dive metric projections
  docs/mcp-server.md
  functions/src/mcp/data.service.spec.ts
  functions/src/mcp/data.service.ts
  functions/src/test-setup.ts
  shared/sports-lib-metric-semantics.ts
  src/app/helpers/event-dive-profile.helper.spec.ts
  src/app/helpers/event-echarts-data.helper.ts
  src/app/helpers/event-echarts-yaxis.helper.spec.ts
  src/app/helpers/event-echarts-yaxis.helper.ts
  src/app/helpers/sports-lib-metric-semantics.spec.ts
Due: lint-functions, lint-angular

Path conditions:
  lint-functions: any of: **/*.{ts,js} and ^functions/
  lint-angular: any of: {src/*.{ts,html},src/**/*.{ts,html}}
