Repository jimmykane/quantified-self: changes, and which lefthook commands are due for each by the changed paths.
All: lint-functions, lint-angular

lint-functions:
  run: npx eslint {staged_files} --fix && git add {staged_files}

lint-angular:
  run: ESLINT_USE_FLAT_CONFIG=false npx eslint {staged_files} --fix && git add {staged_files}

chore: charts
  src/app/helpers/event-echarts-data.helper.ts
Due: lint-angular

chore: PR feedback
  functions/src/service-auth-lifecycle.spec.ts
  functions/src/service-auth-lifecycle.ts
Due: lint-functions

chore: pr fixes
  functions/src/OAuth2.spec.ts
  functions/src/service-token-store.ts
Due: lint-functions

chore: pr fixes
  functions/src/OAuth2.spec.ts
  functions/src/service-auth-lifecycle.spec.ts
  functions/src/service-auth-lifecycle.ts
  functions/src/service-token-store.ts
  functions/src/sleep/polling.spec.ts
  functions/src/sleep/polling.ts
  functions/src/sleep/writer.spec.ts
  functions/src/sleep/writer.ts
Due: lint-functions

chore: PR fixes
  functions/src/activity-sync/disconnect-routes.spec.ts
  functions/src/activity-sync/disconnect-routes.ts
  functions/src/activity-sync/enqueue-imported-event.spec.ts
  functions/src/activity-sync/enqueue-imported-event.ts
  functions/src/activity-sync/process-queue-item.spec.ts
  functions/src/activity-sync/process-queue-item.ts
  functions/src/activity-sync/route-cleanup.ts
  functions/src/activity-sync/settings.spec.ts
  functions/src/activity-sync/settings.ts
  functions/src/garmin/queue.spec.ts
  functions/src/garmin/queue.ts
  functions/src/service-connection-meta.spec.ts
  functions/src/service-connection-meta.ts
  functions/src/tokens.spec.ts
  functions/src/tokens.ts
  src/app/components/dashboard/dashboard.component.spec.ts
  src/app/components/dashboard/dashboard.component.ts
  src/app/helpers/dashboard-action-prompt.helper.spec.ts
  src/app/helpers/dashboard-action-prompt.helper.ts
Due: lint-functions, lint-angular

chore: it never stops to find issues
  functions/src/activity-sync/process-queue-item.spec.ts
  functions/src/garmin/queue.spec.ts
  functions/src/garmin/queue.ts
  functions/src/queue-integration.spec.ts
  functions/src/queue-processing.spec.ts
  functions/src/queue-utils.spec.ts
  functions/src/queue-utils.ts
  functions/src/queue.spec.ts
  functions/src/queue.ts
  functions/src/queue/user-deletion-skip.spec.ts
  functions/src/queue/user-deletion-skip.ts
  functions/src/queue/user-not-found.spec.ts
  functions/src/tasks/activity-sync-worker.spec.ts
  functions/src/tasks/workout-processor.spec.ts
  functions/src/tasks/workout-processor.ts
  src/app/components/services/coros/services.coros.component.html
  src/app/components/services/coros/services.coros.component.spec.ts
  src/app/components/services/coros/services.coros.component.ts
  src/app/components/services/garmin/services.garmin.component.html
  src/app/components/services/garmin/services.garmin.component.spec.ts
  src/app/components/services/garmin/services.garmin.component.ts
Due: lint-functions, lint-angular

chore: never stops to find issues
  functions/src/activity-sync/enqueue-imported-event.spec.ts
  functions/src/activity-sync/enqueue-imported-event.ts
  functions/src/activity-sync/process-queue-item.spec.ts
  functions/src/activity-sync/process-queue-item.ts
  functions/src/activity-sync/queue.spec.ts
  functions/src/activity-sync/queue.ts
  functions/src/queue/user-deletion-skip.ts
  functions/src/sleep/queue.spec.ts
  functions/src/sleep/queue.ts
  functions/src/users/cleanup.spec.ts
  functions/src/users/cleanup.ts
Due: lint-functions

chore: never ends
  functions/src/activity-sync/metadata.spec.ts
  functions/src/activity-sync/metadata.ts
  functions/src/activity-sync/process-queue-item.spec.ts
  functions/src/activity-sync/queue.ts
  functions/src/queue.spec.ts
  functions/src/queue.ts
  functions/src/queue/queue-item.interface.ts
  functions/src/queue/user-deletion-skip.spec.ts
  functions/src/queue/user-deletion-skip.ts
  functions/src/shared/user-deletion-guard.ts
  functions/src/users/cleanup.spec.ts
  functions/src/users/cleanup.ts
Due: lint-functions

chore: never stops
  functions/src/activity-sync/metadata.spec.ts
  functions/src/activity-sync/metadata.ts
  functions/src/coros/queue.spec.ts
  functions/src/coros/queue.ts
  functions/src/garmin/queue.spec.ts
  functions/src/garmin/queue.ts
  functions/src/queue.spec.ts
  functions/src/queue.ts
  functions/src/queue/provider-queue-errors.ts
  functions/src/suunto/queue.spec.ts
  functions/src/suunto/queue.ts
Due: lint-functions

chore: more fixes
  functions/src/coros/queue.spec.ts
  functions/src/coros/queue.ts
  functions/src/garmin/queue.spec.ts
  functions/src/garmin/queue.ts
  functions/src/queue.spec.ts
  functions/src/queue.ts
  functions/src/queue/provider-queue-errors.ts
  functions/src/suunto/queue.spec.ts
  functions/src/suunto/queue.ts
Due: lint-functions

chore: more fixes
  functions/src/activity-sync/disconnect-routes.spec.ts
  functions/src/activity-sync/dispatcher.spec.ts
  functions/src/activity-sync/dispatcher.ts
  functions/src/activity-sync/process-queue-item.spec.ts
  functions/src/activity-sync/process-queue-item.ts
  functions/src/activity-sync/queue.spec.ts
  functions/src/activity-sync/queue.ts
  functions/src/activity-sync/route-cleanup.ts
  functions/src/garmin/queue.spec.ts
  functions/src/garmin/queue.ts
  functions/src/queue.spec.ts
  functions/src/queue.ts
  functions/src/queue/dispatch-marker.ts
  functions/src/queue/user-deletion-skip.ts
  functions/src/queue/user-not-found.spec.ts
  functions/src/service-connection-meta.spec.ts
  functions/src/service-connection-meta.ts
  functions/src/shared/event-writer.spec.ts
  functions/src/shared/event-writer.ts
  functions/src/sleep/dispatcher.spec.ts
  functions/src/sleep/dispatcher.ts
  functions/src/sleep/polling.spec.ts
  functions/src/sleep/polling.ts
  functions/src/sleep/queue.spec.ts
  functions/src/sleep/queue.ts
  functions/src/sleep/webhooks.spec.ts
  functions/src/sleep/webhooks.ts
  functions/src/sleep/writer.spec.ts
  functions/src/sleep/writer.ts
  functions/src/suunto/activities.spec.ts
  functions/src/suunto/activities.ts
  functions/src/tokens.spec.ts
  functions/src/tokens.ts
  functions/src/users/cleanup.spec.ts
  functions/src/users/cleanup.ts
  functions/src/utils-usage.spec.ts
  functions/src/utils.ts
Due: lint-functions

chore: more fixes
  docs/user-deletion-workflow.html
  functions/src/activity-sync/queue.ts
  functions/src/queue.ts
  functions/src/queue/cleanup-tombstone.spec.ts
  functions/src/queue/cleanup-tombstone.ts
  functions/src/queue/dispatch-marker.ts
  functions/src/service-auth-lifecycle.spec.ts
  functions/src/service-auth-lifecycle.ts
  functions/src/sleep/queue.ts
  functions/src/tasks/activity-sync-worker.spec.ts
  functions/src/tasks/activity-sync-worker.ts
  functions/src/tasks/sleep-sync-worker.spec.ts
  functions/src/tasks/sleep-sync-worker.ts
  functions/src/tasks/workout-processor.spec.ts
  functions/src/tasks/workout-processor.ts
  functions/src/users/cleanup.spec.ts
  functions/src/users/cleanup.ts
Due: lint-functions

chore: fixes
  functions/src/users/cleanup.spec.ts
  functions/src/users/cleanup.ts
Due: lint-functions

chore: jeee more fixes
  functions/src/OAuth2.spec.ts
  functions/src/OAuth2.ts
  functions/src/orphaned-service-tokens.ts
  functions/src/queue/cleanup-tombstone.ts
  functions/src/service-auth-lifecycle.spec.ts
  functions/src/service-auth-lifecycle.ts
  functions/src/service-operational-cleanup.spec.ts
  functions/src/service-operational-cleanup.ts
  functions/src/users/cleanup.ts
Due: lint-functions

chore: more fixes
  functions/src/OAuth2.spec.ts
  functions/src/OAuth2.ts
Due: lint-functions

chore: more fixes
  functions/src/OAuth2.spec.ts
  functions/src/OAuth2.ts
  functions/src/service-connection-meta.spec.ts
  functions/src/service-connection-meta.ts
Due: lint-functions

chore: more fixes
  functions/src/queue/cleanup-tombstone.ts
  functions/src/sleep/dispatcher.spec.ts
  functions/src/sleep/dispatcher.ts
  functions/src/tasks/sleep-sync-worker.spec.ts
  functions/src/tasks/sleep-sync-worker.ts
Due: lint-functions

chore: more fixes
  functions/src/activity-sync/dispatcher.spec.ts
  functions/src/activity-sync/dispatcher.ts
  functions/src/tasks/activity-sync-worker.spec.ts
  functions/src/tasks/activity-sync-worker.ts
Due: lint-functions

chore: more fixes
  functions/src/activity-sync/dispatcher.spec.ts
  functions/src/activity-sync/queue.spec.ts
  functions/src/activity-sync/queue.ts
  functions/src/queue.spec.ts
  functions/src/queue.ts
  functions/src/queue/cleanup-tombstone.ts
  functions/src/queue/dispatch-marker.spec.ts
  functions/src/queue/dispatch-marker.ts
  functions/src/service-operational-cleanup.spec.ts
  functions/src/service-operational-cleanup.ts
  functions/src/sleep/dispatcher.spec.ts
  functions/src/sleep/queue.spec.ts
  functions/src/sleep/queue.ts
  functions/src/users/cleanup.spec.ts
  functions/src/users/cleanup.ts
Due: lint-functions

chore: more fixes
  functions/src/users/cleanup.spec.ts
  functions/src/users/cleanup.ts
Due: lint-functions

chore: support swim lengths
  functions/package-lock.json
  functions/package.json
  functions/src/shared/firestore-write-sanitizer.spec.ts
  package-lock.json
  package.json
  src/app/components/event/event.card.component.html
  src/app/components/event/event.card.component.spec.ts
  src/app/components/event/event.card.component.ts
  src/app/components/event/swim-lengths/event.card.swim-lengths.component.css
  src/app/components/event/swim-lengths/event.card.swim-lengths.component.html
  src/app/components/event/swim-lengths/event.card.swim-lengths.component.spec.ts
  src/app/components/event/swim-lengths/event.card.swim-lengths.component.ts
  src/app/helpers/event-swim-length.helper.spec.ts
  src/app/helpers/event-swim-length.helper.ts
  src/app/modules/event.module.ts
  src/app/services/app.event.service.spec.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

chore: show also on charts
  functions/package-lock.json
  functions/package.json
  functions/src/reparse/sports-lib-reparse.config.ts
  package-lock.json
  package.json
  src/app/components/data-type-icon/data-type-icon.component.spec.ts
  src/app/components/data-type-icon/data-type-icon.component.ts
  src/app/components/event/chart/actions/event.card.chart.actions.component.html
  src/app/components/event/chart/actions/event.card.chart.actions.component.spec.ts
  src/app/components/event/chart/actions/event.card.chart.actions.component.ts
  src/app/components/event/chart/event.card.chart.component.html
  src/app/components/event/chart/event.card.chart.component.spec.ts
  src/app/components/event/chart/event.card.chart.component.ts
  src/app/components/event/chart/panel/event.card.chart.panel.component.spec.ts
  src/app/components/event/chart/panel/event.card.chart.panel.component.ts
  src/app/components/user-settings/user-settings.component.spec.ts
  src/app/components/user-settings/user-settings.component.ts
  src/app/helpers/event-echarts-data.helper.spec.ts
  src/app/helpers/event-echarts-data.helper.ts
  src/app/models/app-user.interface.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/app/utils/app.user.utilities.spec.ts
  src/app/utils/app.user.utilities.ts
Due: lint-functions, lint-angular

chore: PR fixes
  src/app/components/event/event.card.component.spec.ts
  src/app/components/event/event.card.component.ts
  src/app/components/event/swim-lengths/event.card.swim-lengths.component.html
  src/app/components/event/swim-lengths/event.card.swim-lengths.component.spec.ts
  src/app/components/event/swim-lengths/event.card.swim-lengths.component.ts
Due: lint-angular

chore: enable reparse
  functions/src/reparse/sports-lib-reparse.config.ts
Due: lint-functions

chore: improve swim lengths
  src/app/components/event/swim-lengths/event.card.swim-lengths.component.css
  src/app/components/event/swim-lengths/event.card.swim-lengths.component.html
  src/app/components/event/swim-lengths/event.card.swim-lengths.component.spec.ts
  src/app/components/event/swim-lengths/event.card.swim-lengths.component.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

chore: ui
  src/app/components/event/laps/event.card.laps.component.css
  src/app/components/event/laps/event.card.laps.component.html
  src/app/components/event/laps/event.card.laps.component.spec.ts
  src/app/components/event/swim-lengths/event.card.swim-lengths.component.css
  src/app/components/event/swim-lengths/event.card.swim-lengths.component.html
  src/app/components/event/swim-lengths/event.card.swim-lengths.component.spec.ts
Due: lint-angular

chore: support swim lengths (#462)
  functions/package-lock.json
  functions/package.json
  functions/src/reparse/sports-lib-reparse.config.ts
  functions/src/shared/firestore-write-sanitizer.spec.ts
  package-lock.json
  package.json
  src/app/components/data-type-icon/data-type-icon.component.spec.ts
  src/app/components/data-type-icon/data-type-icon.component.ts
  src/app/components/event/chart/actions/event.card.chart.actions.component.html
  src/app/components/event/chart/actions/event.card.chart.actions.component.spec.ts
  src/app/components/event/chart/actions/event.card.chart.actions.component.ts
  src/app/components/event/chart/event.card.chart.component.html
  src/app/components/event/chart/event.card.chart.component.spec.ts
  src/app/components/event/chart/event.card.chart.component.ts
  src/app/components/event/chart/panel/event.card.chart.panel.component.spec.ts
  src/app/components/event/chart/panel/event.card.chart.panel.component.ts
  src/app/components/event/event.card.component.html
  src/app/components/event/event.card.component.spec.ts
  src/app/components/event/event.card.component.ts
  src/app/components/event/laps/event.card.laps.component.css
  src/app/components/event/laps/event.card.laps.component.html
  src/app/components/event/laps/event.card.laps.component.spec.ts
  src/app/components/event/swim-lengths/event.card.swim-lengths.component.css
  src/app/components/event/swim-lengths/event.card.swim-lengths.component.html
  src/app/components/event/swim-lengths/event.card.swim-lengths.component.spec.ts
  src/app/components/event/swim-lengths/event.card.swim-lengths.component.ts
  src/app/components/user-settings/user-settings.component.spec.ts
  src/app/components/user-settings/user-settings.component.ts
  src/app/helpers/event-echarts-data.helper.spec.ts
  src/app/helpers/event-echarts-data.helper.ts
  src/app/helpers/event-swim-length.helper.spec.ts
  src/app/helpers/event-swim-length.helper.ts
  src/app/models/app-user.interface.ts
  src/app/modules/event.module.ts
  src/app/services/app.event.service.spec.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/app/utils/app.user.utilities.spec.ts
  src/app/utils/app.user.utilities.ts
Due: lint-functions, lint-angular

chore: bv
  package.json
Due: none

chore: fixups
  src/app/helpers/event-echarts-data.helper.spec.ts
  src/app/helpers/event-echarts-data.helper.ts
Due: lint-angular

chore: use sl
  src/app/helpers/event-echarts-data.helper.ts
Due: lint-angular

chore: pr fixes
  src/app/components/event/swim-lengths/event.card.swim-lengths.component.spec.ts
  src/app/components/event/swim-lengths/event.card.swim-lengths.component.ts
  src/app/components/events-export-form/events-export.form.component.spec.ts
  src/app/components/events-export-form/events-export.form.component.ts
Due: lint-angular

Develop (#463)
  functions/package-lock.json
  functions/package.json
  functions/src/reparse/sports-lib-reparse.config.ts
  functions/src/shared/firestore-write-sanitizer.spec.ts
  package-lock.json
  package.json
  src/app/components/data-type-icon/data-type-icon.component.spec.ts
  src/app/components/data-type-icon/data-type-icon.component.ts
  src/app/components/event/chart/actions/event.card.chart.actions.component.html
  src/app/components/event/chart/actions/event.card.chart.actions.component.spec.ts
  src/app/components/event/chart/actions/event.card.chart.actions.component.ts
  src/app/components/event/chart/event.card.chart.component.html
  src/app/components/event/chart/event.card.chart.component.spec.ts
  src/app/components/event/chart/event.card.chart.component.ts
  src/app/components/event/chart/panel/event.card.chart.panel.component.spec.ts
  src/app/components/event/chart/panel/event.card.chart.panel.component.ts
  src/app/components/event/event.card.component.html
  src/app/components/event/event.card.component.spec.ts
  src/app/components/event/event.card.component.ts
  src/app/components/event/laps/event.card.laps.component.css
  src/app/components/event/laps/event.card.laps.component.html
  src/app/components/event/laps/event.card.laps.component.spec.ts
  src/app/components/event/swim-lengths/event.card.swim-lengths.component.css
  src/app/components/event/swim-lengths/event.card.swim-lengths.component.html
  src/app/components/event/swim-lengths/event.card.swim-lengths.component.spec.ts
  src/app/components/event/swim-lengths/event.card.swim-lengths.component.ts
  src/app/components/user-settings/user-settings.component.spec.ts
  src/app/components/user-settings/user-settings.component.ts
  src/app/helpers/event-echarts-data.helper.spec.ts
  src/app/helpers/event-echarts-data.helper.ts
  src/app/helpers/event-swim-length.helper.spec.ts
  src/app/helpers/event-swim-length.helper.ts
  src/app/models/app-user.interface.ts
  src/app/modules/event.module.ts
  src/app/services/app.event.service.spec.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/app/utils/app.user.utilities.spec.ts
  src/app/utils/app.user.utilities.ts
Due: lint-functions, lint-angular

chore: share configs
  functions/src/events/reprocess-event.spec.ts
  functions/src/events/reprocess-event.ts
  functions/src/events/upload-activity.ts
  functions/src/reparse/sports-lib-reparse.service.spec.ts
  functions/src/reparse/sports-lib-reparse.service.ts
  functions/src/shared/activity-processing-config.ts
  functions/src/tasks/sports-lib-reparse-worker.spec.ts
  functions/src/tasks/sports-lib-reparse-worker.ts
Due: lint-functions

chore: 4GB limit
  functions/src/events/reprocess-event.spec.ts
  functions/src/events/upload-activity.spec.ts
  functions/src/shared/activity-processing-config.ts
  functions/src/tasks/sports-lib-reparse-worker.spec.ts
Due: lint-functions

chore: reduce to 2GB
  functions/src/events/reprocess-event.spec.ts
  functions/src/events/upload-activity.spec.ts
  functions/src/shared/activity-processing-config.ts
  functions/src/tasks/sports-lib-reparse-worker.spec.ts
Due: lint-functions

chore: 4GB
  functions/src/events/reprocess-event.spec.ts
  functions/src/events/upload-activity.spec.ts
  functions/src/shared/activity-processing-config.ts
  functions/src/tasks/sports-lib-reparse-worker.spec.ts
Due: lint-functions

Path conditions:
  lint-functions: any of: **/*.{ts,js} and ^functions/
  lint-angular: any of: {src/*.{ts,html},src/**/*.{ts,html}}
