Repository jimmykane/quantified-self: changes, and which lefthook commands are due for each by the changed paths.
All: lint-functions, lint-angular

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint-functions:
      root: "functions"
      glob: "**/*.{ts,js}"
      run: npx eslint {staged_files} --fix && git add {staged_files}
    lint-angular:
      glob: "{src/*.{ts,html},src/**/*.{ts,html}}"
      run: ESLINT_USE_FLAT_CONFIG=false npx eslint {staged_files} --fix && git add {staged_files}

fix: build issues
  functions/src/activity-sync/backfill.ts
  functions/src/activity-sync/enqueue-imported-event.ts
Due: lint-functions

fix: sidenav for services
  src/app/components/sidenav/sidenav.component.html
Due: lint-angular

chore: add home info and pr fixes
  functions/src/activity-sync/backfill.spec.ts
  functions/src/activity-sync/backfill.ts
  functions/src/activity-sync/process-queue-item.spec.ts
  functions/src/activity-sync/process-queue-item.ts
  functions/src/admin/handlers/queues.handlers.ts
  functions/src/admin/queues.handlers.spec.ts
  src/app/components/home/home.component.html
  src/app/components/home/home.component.scss
  src/app/components/home/home.component.spec.ts
  src/app/components/home/home.component.ts
  src/app/components/services/garmin/services.garmin.component.html
  src/app/components/services/garmin/services.garmin.component.spec.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/index.html
Due: lint-functions, lint-angular

chore: home
  src/app/components/home/home.component.html
  src/app/components/home/home.component.scss
  src/app/components/home/home.component.spec.ts
  src/app/components/home/home.component.ts
Due: lint-angular

fix: bugs
  functions/src/activity-sync/dispatcher.spec.ts
  functions/src/activity-sync/dispatcher.ts
  functions/src/activity-sync/queue.spec.ts
  functions/src/activity-sync/queue.ts
Due: lint-functions

chore: update indexes
  firestore.indexes.json
Due: none

fix: date
  src/app/services/app.user.service.spec.ts
  src/app/services/app.user.service.ts
Due: lint-angular

fix: ttl
  functions/src/shared/ttl-config.spec.ts
  functions/src/shared/ttl-config.ts
Due: lint-functions

chore: improve home
  src/app/components/home/home.component.html
  src/app/components/home/home.component.spec.ts
Due: lint-angular

fix: bearer
  functions/src/suunto/activities.spec.ts
  functions/src/suunto/activities.ts
Due: lint-functions

chore: fix for fieldvalue
  functions/src/suunto/activities.ts
  functions/src/suunto/routes.ts
Due: lint-functions

fix: fieldvalue
  functions/src/activity-sync/metadata.spec.ts
  functions/src/activity-sync/metadata.ts
Due: lint-functions

chore: improvements and disconnect functions
  functions/src/OAuth2.spec.ts
  functions/src/activity-sync/disconnect-routes.spec.ts
  functions/src/activity-sync/disconnect-routes.ts
  functions/src/index.ts
  src/app/components/services/garmin/services.garmin.component.spec.ts
  src/app/components/services/garmin/services.garmin.component.ts
  src/app/services/app.user.service.spec.ts
  src/app/services/app.user.service.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

chore: analytics and ui improvements
  src/app/components/services/coros/services.coros.component.html
  src/app/components/services/garmin/services.garmin.component.html
  src/app/components/services/garmin/services.garmin.component.spec.ts
  src/app/components/services/garmin/services.garmin.component.ts
  src/app/components/services/services-abstract-component.directive.scss
  src/app/components/services/services-abstract-component.directive.ts
  src/app/components/services/suunto/services.suunto.component.html
  src/app/components/services/suunto/services.suunto.component.spec.ts
  src/app/services/app.analytics.service.spec.ts
  src/app/services/app.analytics.service.ts
Due: lint-angular

chore: improvements
  functions/src/activity-sync/process-queue-item.spec.ts
  functions/src/activity-sync/process-queue-item.ts
Due: lint-functions

chore: improve AI
  functions/src/ai/insights/normalize-query.flow.spec.ts
  functions/src/ai/insights/normalize-query.flow.ts
Due: lint-functions

chore: allow for all
  functions/src/activity-sync/allowlist.spec.ts
  functions/src/activity-sync/allowlist.ts
  shared/activity-sync-rollout.ts
  src/app/components/services/garmin/services.garmin.component.spec.ts
Due: lint-functions, lint-angular

fix: derived metrics loop
  functions/src/derived-metrics/derived-metrics.service.spec.ts
  functions/src/derived-metrics/derived-metrics.service.ts
  functions/src/derived-metrics/derived-metrics.trigger.ts
  functions/src/derived-metrics/ensure-derived-metrics.spec.ts
  functions/src/derived-metrics/ensure-derived-metrics.ts
  functions/src/tasks/derived-metrics-worker.spec.ts
  functions/src/tasks/derived-metrics-worker.ts
  shared/derived-metrics.ts
Due: lint-functions

fix: pr feedback
  functions/src/derived-metrics/derived-metrics.service.spec.ts
  functions/src/derived-metrics/derived-metrics.service.ts
  functions/src/derived-metrics/ensure-derived-metrics.spec.ts
  functions/src/derived-metrics/ensure-derived-metrics.ts
Due: lint-functions

chore: bv
  package.json
Due: none

fix: ui for derived metrics
  src/app/components/summaries/summaries.component.spec.ts
  src/app/components/summaries/summaries.component.ts
Due: lint-angular

feature: ai composable queries
  functions/src/ai/insights/advisory-estimator.spec.ts
  functions/src/ai/insights/advisory-estimator.ts
  functions/src/ai/insights/advisory-estimators/ftp.estimator.ts
  functions/src/ai/insights/advisory-estimators/heart-rate.estimator.ts
  functions/src/ai/insights/callable.result-kind-handlers.ts
  functions/src/ai/insights/callable.spec.ts
  functions/src/ai/insights/callable.ts
  functions/src/ai/insights/execute-query.result-kind-handlers.ts
  functions/src/ai/insights/execute-query.spec.ts
  functions/src/ai/insights/execute-query.ts
  functions/src/ai/insights/insight-presentation.ts
  functions/src/ai/insights/normalize-query.flow.spec.ts
  functions/src/ai/insights/normalize-query.flow.ts
  functions/src/ai/insights/normalize-query.repair.ts
  functions/src/ai/insights/normalize-query.result-kind-query-builders.ts
  functions/src/ai/insights/normalize-query.result-kind-router.spec.ts
  functions/src/ai/insights/normalize-query.result-kind-router.ts
  functions/src/ai/insights/query-synthesizer.spec.ts
  functions/src/ai/insights/query-synthesizer.ts
  functions/src/ai/insights/result-kind-registry.spec.ts
  functions/src/ai/insights/schemas.spec.ts
  functions/src/ai/insights/schemas.ts
  functions/src/ai/insights/statement-chips.spec.ts
  functions/src/ai/insights/statement-chips.ts
  functions/src/ai/insights/summarize-result.flow.ts
  shared/ai-insights-response.contract.ts
  shared/ai-insights.types.ts
  src/app/components/ai-insights/ai-insights-page.component.html
  src/app/components/ai-insights/ai-insights-page.component.spec.ts
  src/app/components/ai-insights/ai-insights-page.component.ts
  src/app/components/ai-insights/ai-insights-page.helpers.ts
  src/app/helpers/ai-insights-title.helper.spec.ts
  src/app/helpers/ai-insights-title.helper.ts
  src/app/services/ai-insights-response.contract.shared.spec.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

chore: improve prompts etc
  functions/src/ai/insights/normalize-query.flow.spec.ts
  functions/src/ai/insights/normalize-query.flow.ts
  functions/src/ai/insights/normalize-query.sample-prompts.spec.ts
Due: lint-functions

chore: fix for derived
  functions/src/derived-metrics/derived-metrics.service.spec.ts
  functions/src/derived-metrics/derived-metrics.service.ts
  functions/src/derived-metrics/ensure-derived-metrics.spec.ts
  functions/src/derived-metrics/ensure-derived-metrics.ts
Due: lint-functions

fix: ui and ai
  functions/src/ai/insights/advisory-estimators/heart-rate.estimator.ts
  functions/src/ai/insights/insight-summary.ts
  src/app/components/charts/kpi/charts.kpi.component.html
  src/app/components/charts/kpi/charts.kpi.component.spec.ts
  src/app/components/charts/kpi/charts.kpi.component.ts
  src/app/components/summaries/summaries.component.spec.ts
  src/app/components/summaries/summaries.component.ts
Due: lint-functions, lint-angular

chore: fix for summaries
  src/app/components/summaries/summaries.component.spec.ts
Due: lint-angular

chore: bugfixes
  functions/src/admin/handlers/queues.handlers.ts
  functions/src/admin/queues.handlers.spec.ts
  functions/src/admin/shared/types.ts
  functions/src/ai/insights/advisory-estimator.spec.ts
  functions/src/ai/insights/advisory-estimator.ts
  functions/src/ai/insights/execute-query.spec.ts
  functions/src/ai/insights/normalize-query.flow.spec.ts
  functions/src/ai/insights/normalize-query.flow.ts
  functions/src/ai/insights/summarize-result.flow.spec.ts
  functions/src/ai/insights/summarize-result.flow.ts
  src/app/components/data-table/data-table-abstract.directive.spec.ts
  src/app/components/data-table/data-table-abstract.directive.ts
Due: lint-functions, lint-angular

chore: increase memory size
  functions/src/events/merge-events.ts
Due: lint-functions

chore: fix
  src/app/utils/app.user.utilities.spec.ts
  src/app/utils/app.user.utilities.ts
Due: lint-angular

chore: ai stuff
  functions/src/admin/handlers/queues.handlers.ts
  functions/src/admin/queues.handlers.spec.ts
  functions/src/admin/shared/types.ts
  functions/src/ai/insights/advisory-estimator.spec.ts
  functions/src/ai/insights/advisory-estimator.ts
  functions/src/ai/insights/advisory-estimators/heart-rate.estimator.ts
  functions/src/ai/insights/narrative-scope.ts
  functions/src/ai/insights/summarize-result.flow.spec.ts
  shared/ai-insights-activity-filter.ts
  src/app/components/admin/admin-queue-stats/admin-queue-stats.component.html
  src/app/components/admin/admin-queue-stats/admin-queue-stats.component.spec.ts
  src/app/helpers/ai-insights-activity-filter.helper.spec.ts
  src/app/services/admin.service.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

fix: onboarding network error and other issues
  functions/src/ai/insights/advisory-estimator.spec.ts
  functions/src/ai/insights/advisory-estimators/heart-rate.estimator.ts
  functions/src/ai/insights/execute-query.spec.ts
  functions/src/ai/insights/result-kind-registry.spec.ts
  src/app/app-shell.component.spec.ts
  src/app/app-shell.component.ts
  src/app/authentication/onboarding.guard.spec.ts
  src/app/authentication/onboarding.guard.ts
  src/app/components/ai-insights/ai-insights-page.component.spec.ts
  src/app/components/ai-insights/ai-insights-page.component.ts
  src/app/services/app.user.service.spec.ts
  src/app/services/app.user.service.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

chore: improvements for SI
  functions/src/ai/insights/advisory-estimator.spec.ts
  functions/src/ai/insights/advisory-estimator.ts
  functions/src/ai/insights/advisory-estimators/advisory-utils.ts
  functions/src/ai/insights/advisory-estimators/ftp.estimator.ts
  functions/src/ai/insights/advisory-estimators/heart-rate.estimator.ts
  functions/src/ai/insights/callable.spec.ts
  functions/src/ai/insights/execute-query.result-kind-handlers.ts
  functions/src/ai/insights/execute-query.spec.ts
  functions/src/ai/insights/schemas.spec.ts
  functions/src/ai/insights/statement-chips.spec.ts
  functions/src/ai/insights/statement-chips.ts
  functions/src/ai/insights/summarize-result.flow.spec.ts
  functions/src/ai/insights/summarize-result.flow.ts
  shared/ai-insights-prompts.ts
  shared/ai-insights-response.contract.ts
  shared/ai-insights.types.ts
  src/app/components/ai-insights/ai-insights-page.component.spec.ts
  src/app/components/ai-insights/ai-insights-page.component.ts
  src/app/helpers/ai-insights-title.helper.spec.ts
  src/app/services/ai-insights-response.contract.shared.spec.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

chore: improve ai
  functions/src/ai/insights/advisory-estimator.spec.ts
  functions/src/ai/insights/advisory-estimator.ts
  functions/src/ai/insights/advisory-estimators/heart-rate.estimator.ts
  functions/src/ai/insights/callable.spec.ts
  functions/src/ai/insights/execute-query.spec.ts
  functions/src/ai/insights/insight-presentation.ts
  functions/src/ai/insights/normalize-query.flow.spec.ts
  functions/src/ai/insights/normalize-query.flow.ts
  functions/src/ai/insights/normalize-query.result-kind-query-builders.ts
  functions/src/ai/insights/schemas.spec.ts
  functions/src/ai/insights/summarize-result.flow.ts
  functions/tmp/run-hr-advisory.ts
  shared/ai-insights-prompts.ts
  shared/ai-insights-response.contract.ts
  shared/ai-insights.types.ts
  src/app/components/ai-insights/ai-insights-page.component.html
  src/app/components/ai-insights/ai-insights-page.component.scss
  src/app/components/ai-insights/ai-insights-page.component.ts
  src/app/helpers/ai-insights-title.helper.spec.ts
  src/app/helpers/ai-insights-title.helper.ts
  src/app/services/ai-insights-response.contract.shared.spec.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

fix: issues from RP
  src/app/authentication/onboarding.guard.spec.ts
  src/app/authentication/onboarding.guard.ts
  src/app/services/app.user.service.spec.ts
  src/app/services/app.user.service.ts
Due: lint-angular

chore: fix test
  functions/src/ai/insights/advisory-estimators/heart-rate.estimator.ts
Due: lint-functions

feature: garmin to coros
  functions/src/activity-sync/allowlist.spec.ts
  functions/src/activity-sync/backfill.spec.ts
  functions/src/activity-sync/disconnect-routes.spec.ts
  functions/src/activity-sync/enqueue-imported-event.spec.ts
  shared/activity-sync-rollout.ts
  shared/activity-sync-routes.ts
  src/app/components/services/coros/services.coros.component.html
  src/app/components/services/coros/services.coros.component.spec.ts
  src/app/components/services/coros/services.coros.component.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/app/utils/app.user.utilities.spec.ts
Due: lint-functions, lint-angular

chore: fixes
  src/app/components/ai-insights/ai-insights-page.component.spec.ts
  src/app/components/ai-insights/ai-insights-page.component.ts
Due: lint-angular

chore: bump version
  package-lock.json
Due: none

chore: test
  src/app/services/app.user.service.spec.ts
Due: lint-angular
