Repository jimmykane/quantified-self: changes, and which lefthook commands are due for each by the changed paths.
All: lint-functions, lint-angular

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint-functions:
      root: "functions"
      glob: "**/*.{ts,js}"
      run: npx eslint {staged_files} --fix && git add {staged_files}
    lint-angular:
      glob: "{src/*.{ts,html},src/**/*.{ts,html}}"
      run: ESLINT_USE_FLAT_CONFIG=false npx eslint {staged_files} --fix && git add {staged_files}

fix: expand single-sport training comparison
  docs/training-workspace.md
  src/app/components/shared/training-summary/training-mix-details.component.html
  src/app/components/shared/training-summary/training-mix-details.component.scss
  src/app/components/training/training-workspace.component.html
  src/app/components/training/training-workspace.component.scss
  src/app/components/training/training-workspace.component.spec.ts
Due: lint-angular

fix: harden training comparison layout
  src/app/components/shared/training-summary/training-mix-details.component.scss
  src/app/components/training/training-workspace.component.spec.ts
Due: lint-angular

feat: resume large training plan restores safely
  docs/provider-integration-guide.md
  docs/training-workspace.md
  firestore.rules
  functions/src/coros/training-completion.emulator.spec.ts
  functions/src/coros/training-completion.ts
  functions/src/mcp/training-plans-write.emulator.spec.ts
  functions/src/mcp/training-plans.emulator.spec.ts
  functions/src/suunto/guide-completion.ts
  functions/src/training-plans/bulk-shift-worker.ts
  functions/src/training-plans/completion/fit-workout-evidence.emulator.spec.ts
  functions/src/training-plans/completion/fit-workout-evidence.ts
  functions/src/training-plans/deletion-lock.ts
  functions/src/training-plans/delivery/suunto/suunto.emulator.spec.ts
  functions/src/training-plans/history.spec.ts
  functions/src/training-plans/history.ts
  functions/src/training-plans/large-schedule.emulator.spec.ts
  functions/src/training-plans/persistence.spec.ts
  functions/src/training-plans/restore.ts
  functions/src/training-plans/staged-restore.spec.ts
  functions/src/training-plans/staged-restore.ts
  functions/src/wahoo/training-completion.emulator.spec.ts
  functions/src/wahoo/training-completion.ts
  shared/training-plans.ts
  src/app/components/calendar/activity-calendar-tile/activity-calendar-tile.component.html
  src/app/components/calendar/activity-calendar-tile/activity-calendar-tile.component.ts
  src/app/components/calendar/calendar-page/calendar-page.component.html
  src/app/components/calendar/calendar-page/calendar-page.component.spec.ts
  src/app/components/calendar/calendar-page/calendar-page.component.ts
  src/app/components/plans/plans-workspace.component.html
  src/app/components/plans/plans-workspace.component.spec.ts
  src/app/components/plans/plans-workspace.component.ts
  src/app/services/training-plans.service.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/firestore.rules.spec.ts
Due: lint-functions, lint-angular

feat: add daily workout Assistant example
  functions/src/assistant/daily-workout-context.spec.ts
  functions/src/assistant/daily-workout-context.ts
  functions/src/assistant/mcp-session.spec.ts
  functions/src/assistant/mcp-session.ts
  functions/src/assistant/runtime.spec.ts
  functions/src/assistant/runtime.ts
  functions/src/assistant/tool-input.spec.ts
  functions/src/assistant/tool-input.ts
  functions/src/mcp/data.service.spec.ts
  functions/src/mcp/data.service.ts
  shared/assistant.prompts.ts
  src/app/components/assistant/assistant-explore-bottom-sheet.component.spec.ts
  src/app/components/assistant/assistant-explore-bottom-sheet.component.ts
  src/app/components/public-seo/training-plans-home.content.ts
Due: lint-functions, lint-angular

fix: stage high-write training restores
  docs/training-workspace.md
  functions/src/training-plans/large-schedule.emulator.spec.ts
  functions/src/training-plans/restore.ts
  functions/src/training-plans/staged-restore.ts
Due: lint-functions

feat: show selected-day activity totals in calendar
  docs/activity-calendar.md
  src/app/components/calendar/activity-calendar-tile/activity-calendar-tile.component.spec.ts
  src/app/components/calendar/calendar-day-context/calendar-day-context.component.html
  src/app/components/calendar/calendar-day-context/calendar-day-context.component.scss
  src/app/components/calendar/calendar-day-context/calendar-day-context.component.ts
  src/app/components/calendar/calendar-page/calendar-page.component.html
  src/app/components/calendar/calendar-page/calendar-page.component.spec.ts
  src/app/components/calendar/calendar-page/calendar-page.component.ts
  src/app/helpers/activity-calendar.helper.spec.ts
  src/app/helpers/activity-calendar.helper.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: require Assistant delivery previews
  functions/src/assistant/runtime.spec.ts
  functions/src/assistant/runtime.ts
Due: lint-functions

test: align reconciled sleep report contract
  functions/src/mcp/data.service.spec.ts
Due: lint-functions

test: align training plans sitemap date
  src/firebase-hosting.config.spec.ts
Due: lint-angular

fix: resume approved large training shifts through MCP
  docs/mcp-server.md
  docs/training-workspace.md
  firestore.indexes.json
  functions/src/firestore-indexes.spec.ts
  functions/src/mcp/training-plans-write.emulator.spec.ts
  functions/src/mcp/training-plans-write.service.ts
  functions/src/training-plans/bulk-shift-worker.ts
  functions/src/training-plans/staged-shift.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

fix: deduplicate develop CI tests
  .github/workflows/testing.yaml
  src/github-actions.config.spec.ts
Due: lint-angular

fix: gate beta deploy on canonical tests
  .github/workflows/buildAndDeployBeta.yml
  .github/workflows/testing.yaml
  src/github-actions.config.spec.ts
Due: lint-angular

fix: harden staged MCP shift approval recovery
  docs/mcp-server.md
  docs/training-workspace.md
  functions/src/mcp/training-plans-write.emulator.spec.ts
  functions/src/mcp/training-plans-write.service.ts
  functions/src/training-plans/staged-shift.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

feat: show training impact for completed activities
  docs/training-workspace.md
  shared/training-load.ts
  src/app/components/calendar/activity-calendar-tile/activity-calendar-tile.component.spec.ts
  src/app/components/calendar/activity-calendar-tile/activity-calendar-tile.component.ts
  src/app/components/calendar/calendar-day-context/calendar-day-context.component.html
  src/app/components/calendar/calendar-day-context/calendar-day-context.component.scss
  src/app/components/calendar/calendar-day-context/calendar-day-context.component.spec.ts
  src/app/components/calendar/calendar-day-context/calendar-day-context.component.ts
  src/app/components/calendar/calendar-day-details/calendar-day-details.component.html
  src/app/components/calendar/calendar-day-details/calendar-day-details.component.scss
  src/app/components/calendar/calendar-day-details/calendar-day-details.component.spec.ts
  src/app/components/calendar/calendar-day-details/calendar-day-details.component.ts
  src/app/components/calendar/calendar-page/calendar-page.component.spec.ts
  src/app/components/calendar/calendar-page/calendar-page.component.ts
  src/app/components/event/event.card.component.html
  src/app/components/event/event.card.component.spec.ts
  src/app/components/event/event.card.component.ts
  src/app/components/training-impact/training-impact.component.html
  src/app/components/training-impact/training-impact.component.scss
  src/app/components/training-impact/training-impact.component.spec.ts
  src/app/components/training-impact/training-impact.component.ts
  src/app/helpers/training-impact.helper.spec.ts
  src/app/helpers/training-impact.helper.ts
  src/app/helpers/training-load.shared.spec.ts
  src/app/modules/event.module.ts
  src/app/services/training-impact.service.spec.ts
  src/app/services/training-impact.service.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: keep staged MCP shifts authorized on direct retry
  docs/mcp-server.md
  docs/training-workspace.md
  functions/src/mcp/training-plans-write.emulator.spec.ts
  functions/src/mcp/training-plans-write.service.ts
  functions/src/training-plans/staged-shift.ts
Due: lint-functions

fix: align training impact across activity surfaces
  docs/training-workspace.md
  src/app/components/event/event.card.component.spec.ts
  src/app/components/event/event.card.component.ts
  src/app/components/training-impact/training-impact.component.html
  src/app/components/training-impact/training-impact.component.spec.ts
  src/app/components/training-impact/training-impact.component.ts
  src/app/services/activity-calendar.service.spec.ts
  src/app/services/activity-calendar.service.ts
  src/app/services/training-impact.service.spec.ts
  src/app/services/training-impact.service.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

test: provide training impact in calendar picker spec
  src/app/components/calendar/calendar-month-picker-bottom-sheet/calendar-month-picker-bottom-sheet.component.spec.ts
Due: lint-angular

fix: show separate compact training-day outcomes
  src/app/components/training-impact/training-impact.component.html
  src/app/components/training-impact/training-impact.component.scss
  src/app/components/training-impact/training-impact.component.spec.ts
  src/app/components/training-impact/training-impact.component.ts
Due: lint-angular

fix: keep split-day training outcomes visible
  src/app/helpers/training-impact.helper.spec.ts
  src/app/helpers/training-impact.helper.ts
Due: lint-angular

feat: expose training impact through MCP
  docs/assistant.md
  docs/mcp-server.md
  docs/training-workspace.md
  functions/src/assistant/evidence.spec.ts
  functions/src/assistant/evidence.ts
  functions/src/assistant/mcp-session.ts
  functions/src/assistant/runtime.ts
  functions/src/mcp/contracts/pending-change.json
  functions/src/mcp/data.service.spec.ts
  functions/src/mcp/data.service.ts
  functions/src/mcp/server.spec.ts
  functions/src/mcp/server.ts
  functions/src/mcp/tool-output-schemas.spec.ts
  functions/src/mcp/tool-output-schemas.ts
  functions/src/mcp/training-impact.service.spec.ts
  functions/src/mcp/training-impact.service.ts
  plugins/quantified-self/skills/analyze-quantified-self-activity/SKILL.md
  plugins/quantified-self/skills/analyze-quantified-self-activity/agents/openai.yaml
  plugins/quantified-self/skills/analyze-quantified-self-training/SKILL.md
  plugins/quantified-self/skills/analyze-quantified-self-training/agents/openai.yaml
  plugins/quantified-self/skills/analyze-quantified-self/SKILL.md
  plugins/quantified-self/skills/analyze-quantified-self/agents/openai.yaml
  src/app/components/mcp-authorization/mcp-authorization.component.spec.ts
  src/app/components/mcp-connections/mcp-connections.component.spec.ts
  src/app/components/public-seo/public-seo-pages.content.spec.ts
  src/app/components/public-seo/public-seo-pages.content.ts
  src/app/helpers/mcp-permissions.helper.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/app/shared/policies.content.spec.ts
  src/app/shared/policies.content.ts
Due: lint-functions, lint-angular

feat: bound deleted workout recovery to 90 days
  docs/mcp-server.md
  docs/training-workspace.md
  firestore.indexes.json
  functions/src/training-plans/cleanup-worker.emulator.spec.ts
  functions/src/training-plans/cleanup-worker.spec.ts
  functions/src/training-plans/cleanup-worker.ts
  functions/src/training-plans/cleanup-workout.ts
  functions/src/training-plans/history.spec.ts
  functions/src/training-plans/history.ts
  functions/src/training-plans/persistence.spec.ts
  functions/src/training-plans/persistence.ts
  functions/src/training-plans/restore.spec.ts
  functions/src/training-plans/restore.ts
  shared/training-plans.ts
  src/app/components/plans/plans-workspace.component.html
  src/app/components/plans/plans-workspace.component.spec.ts
  src/app/components/plans/plans-workspace.component.ts
  src/app/services/training-plans.deleted-workouts.service.spec.ts
  src/app/services/training-plans.service.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/firestore.rules.spec.ts
Due: lint-functions, lint-angular

fix: keep expired workout cleanup progressing past blocked pages
  docs/training-workspace.md
  functions/src/training-plans/cleanup-worker.emulator.spec.ts
  functions/src/training-plans/cleanup-worker.ts
  functions/src/training-plans/history.spec.ts
  functions/src/training-plans/history.ts
Due: lint-functions

fix: run deleted workout expiry without a config gate
  docs/training-workspace.md
  functions/src/training-plans/cleanup-worker.emulator.spec.ts
  functions/src/training-plans/cleanup-worker.ts
Due: lint-functions

refactor: isolate Training function target loaders
  docs/training-workspace.md
  functions/src/function-target-loader.spec.ts
  functions/src/function-target-loader.ts
  functions/src/scripts/check-entrypoint-loading.ts
Due: lint-functions

test: verify isolated handlers against full exports
  functions/src/scripts/check-entrypoint-loading.ts
Due: lint-functions

fix: add safe JSON parser failure diagnostics
  docs/provider-integration-guide.md
  functions/src/shared/activity-parser-diagnostics.spec.ts
  functions/src/shared/activity-parser-diagnostics.ts
Due: lint-functions

feat: add Training impact Assistant prompts
  docs/assistant.md
  docs/training-workspace.md
  functions/src/assistant/runtime.spec.ts
  shared/assistant.prompts.ts
  src/app/components/assistant/assistant-explore-bottom-sheet.component.spec.ts
  src/app/components/shared/assistant-example-preview/assistant-example-preview.component.spec.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

refactor: split training deletion cleanup schedules
  docs/training-workspace.md
  functions/src/full-entrypoint.ts
  functions/src/function-target-loader.spec.ts
  functions/src/function-target-loader.ts
  functions/src/scripts/check-entrypoint-loading.ts
  functions/src/training-plans/cleanup-worker.emulator.spec.ts
  functions/src/training-plans/cleanup-worker.spec.ts
  functions/src/training-plans/cleanup-worker.ts
  shared/functions-manifest.ts
Due: lint-functions

fix: verify and observe split training cleanup schedules
  docs/training-workspace.md
  functions/src/training-plans/cleanup-worker.spec.ts
  functions/src/training-plans/cleanup-worker.ts
Due: lint-functions

fix: distinguish expected MCP auth challenges in logs
  docs/mcp-server.md
  functions/src/mcp/http-protocol.spec.ts
  functions/src/mcp/server.spec.ts
  functions/src/mcp/server.ts
Due: lint-functions

fix: address calendar and nightly HRV review findings
  docs/mcp-server.md
  functions/src/sleep/nightly-hrv.spec.ts
  shared/nightly-hrv.ts
  src/app/components/calendar/calendar-day-context/calendar-day-context.component.html
  src/app/components/calendar/calendar-day-context/calendar-day-context.component.spec.ts
Due: lint-functions, lint-angular

fix: process expired workouts in bounded daily batches
  docs/mcp-server.md
  docs/training-workspace.md
  functions/src/training-plans/cleanup-worker.emulator.spec.ts
  functions/src/training-plans/cleanup-worker.spec.ts
  functions/src/training-plans/cleanup-worker.ts
Due: lint-functions

fix: account for committed training expiry cleanup failures
  docs/training-workspace.md
  functions/src/training-plans/cleanup-worker.emulator.spec.ts
  functions/src/training-plans/cleanup-worker.spec.ts
  functions/src/training-plans/cleanup-worker.ts
Due: lint-functions

feat: add training impact recap
  docs/mcp-server.md
  docs/training-workspace.md
  functions/src/derived-metrics/derived-metrics.service.spec.ts
  functions/src/derived-metrics/derived-metrics.service.ts
  functions/src/derived-metrics/ensure-derived-metrics.spec.ts
  functions/src/derived-metrics/ensure-derived-metrics.ts
  functions/src/mcp/data.service.spec.ts
  functions/src/mcp/data.service.ts
  functions/src/mcp/training-impact.service.spec.ts
  functions/src/mcp/training-impact.service.ts
  functions/src/tasks/derived-metrics-worker.spec.ts
  shared/derived-metrics.ts
  src/app/components/training/training-impact-recap.component.html
  src/app/components/training/training-impact-recap.component.scss
  src/app/components/training/training-impact-recap.component.spec.ts
  src/app/components/training/training-impact-recap.component.ts
  src/app/components/training/training-workspace.component.html
  src/app/helpers/dashboard-form.helper.spec.ts
  src/app/helpers/dashboard-form.helper.ts
  src/app/helpers/training-impact-recap.helper.spec.ts
  src/app/helpers/training-impact-recap.helper.ts
  src/app/modules/training.module.ts
  src/app/services/dashboard-derived-metrics.service.spec.ts
  src/app/services/dashboard-derived-metrics.service.ts
  src/app/shared/derived-metrics.shared.spec.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

test: cover interrupted training expiry verification
  functions/src/training-plans/cleanup-worker.emulator.spec.ts
Due: lint-functions

chore: bump app version to 10.17.0
  package-lock.json
  package.json
Due: none

fix: keep training impact recap aligned with UTC days
  docs/training-workspace.md
  functions/src/derived-metrics/derived-metrics.service.spec.ts
  functions/src/derived-metrics/derived-metrics.service.ts
  src/app/components/training/training-impact-recap.component.spec.ts
  src/app/components/training/training-impact-recap.component.ts
  src/app/components/training/training-workspace.component.html
  src/app/components/training/training-workspace.component.spec.ts
  src/app/components/training/training-workspace.component.ts
  src/app/helpers/training-impact-recap.helper.spec.ts
  src/app/helpers/training-impact-recap.helper.ts
Due: lint-functions, lint-angular

fix: use single-field indexes for training cleanup scans
  docs/training-workspace.md
  firestore.indexes.json
  functions/src/firestore-indexes.spec.ts
Due: lint-functions

fix: flatten day training impact summary surface
  src/app/components/training-impact/training-impact.component.scss
  src/app/components/training-impact/training-impact.component.spec.ts
Due: lint-angular

test: guard flat day training impact surface
  src/app/components/training-impact/training-impact.component.spec.ts
Due: lint-angular
