Repository jimmykane/quantified-self: changes, and which lefthook commands are due for each by the changed paths.
All: lint-functions, lint-angular

lint-functions:
  run: npx eslint {staged_files} --fix && git add {staged_files}

lint-angular:
  run: ESLINT_USE_FLAT_CONFIG=false npx eslint {staged_files} --fix && git add {staged_files}

fix: clarify homepage prescriptions and membership headings
  src/app/components/home/home-training-preview.component.html
  src/app/components/home/home-training-preview.component.spec.ts
  src/app/components/home/home.component.html
  src/app/components/home/home.component.spec.ts
Due: lint-angular

feat: redesign public homepage for training discovery
  src/app/components/home/home-training-preview.component.html
  src/app/components/home/home-training-preview.component.scss
  src/app/components/home/home-training-preview.component.spec.ts
  src/app/components/home/home-training-preview.component.ts
  src/app/components/home/home.component.html
  src/app/components/home/home.component.scss
  src/app/components/home/home.component.spec.ts
  src/app/components/home/home.component.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: correct homepage allowance and enlarged text layout
  src/app/components/home/home-training-preview.component.scss
  src/app/components/home/home.component.scss
  src/app/components/home/home.component.spec.ts
  src/app/components/home/home.component.ts
Due: lint-angular

fix: restore readable axes in shared workout previews
  src/app/components/event/chart/panel/event.card.chart.panel.component.scss
  src/app/components/event/chart/panel/event.card.chart.panel.component.spec.ts
  src/app/components/event/chart/panel/event.card.chart.panel.component.ts
  src/app/components/home/home-workout-preview.component.scss
  src/app/components/home/home-workout-preview.component.spec.ts
Due: lint-angular

fix: align homepage SEO with training and planning content
  src/app/app.routing.module.spec.ts
  src/app/app.routing.module.ts
  src/app/services/seo.service.spec.ts
  src/app/shared/home-seo.ts
  src/firebase-hosting.config.spec.ts
  src/index.html
  src/sitemap.xml
Due: lint-angular

fix: restore shared homepage visuals and mobile integration layout
  src/app/components/home/home-training-preview.component.html
  src/app/components/home/home-training-preview.component.scss
  src/app/components/home/home-training-preview.component.spec.ts
  src/app/components/home/home-training-preview.component.ts
  src/app/components/home/home.component.html
  src/app/components/home/home.component.scss
  src/app/components/home/home.component.spec.ts
  src/app/components/home/home.component.ts
  src/app/components/integrations/integrations-hub-page.component.scss
  src/app/components/public-seo/public-feature-preview.component.spec.ts
  src/app/components/public-seo/training-plans-preview.component.html
  src/app/components/public-seo/training-plans-preview.component.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: expose homepage provider names to screen readers
  src/app/components/home/home.component.html
  src/app/components/home/home.component.spec.ts
Due: lint-angular

refactor: remove duplicate homepage link styles
  src/app/components/home/home.component.scss
Due: none

refactor: consolidate homepage layout rules within style budget
  src/app/components/home/home.component.html
  src/app/components/home/home.component.scss
  src/app/components/public-seo/public-feature-preview.component.scss
Due: lint-angular

feat: browse homepage features with responsive navigation
  src/app/components/home/home.component.html
  src/app/components/home/home.component.scss
  src/app/components/home/home.component.spec.ts
  src/app/components/home/home.component.ts
  src/app/components/public-seo/public-feature-preview.component.html
  src/app/components/public-seo/public-feature-preview.component.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: tighten homepage and mobile integration spacing
  src/app/components/home/home.component.scss
  src/app/components/integrations/integrations-hub-page.component.scss
  src/app/components/public-seo/public-feature-preview.component.scss
  src/app/components/shared/compact-row/compact-row.component.scss
  src/app/components/shared/reviewer-benchmark-preview/reviewer-benchmark-preview.component.html
  src/app/components/shared/reviewer-benchmark-preview/reviewer-benchmark-preview.component.scss
  src/app/components/shared/training-summary/training-metric-grid.component.scss
Due: lint-angular

fix: restore continuous homepage with original hero
  src/app/components/home/home.component.html
  src/app/components/home/home.component.scss
  src/app/components/home/home.component.spec.ts
  src/app/components/home/home.component.ts
  src/app/components/public-seo/public-feature-preview.component.html
  src/app/components/public-seo/public-feature-preview.component.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: align homepage previews with current Health UI
  docs/frontend-ui.md
  src/app/components/charts/health/dashboard-health-chart.component.spec.ts
  src/app/components/charts/health/dashboard-health-chart.component.ts
  src/app/components/health/health-category-overview.component.html
  src/app/components/health/health-category-overview.component.spec.ts
  src/app/components/health/health-category-overview.component.ts
  src/app/components/home/home.component.spec.ts
  src/app/components/home/home.component.ts
  src/app/components/public-seo/health-feature.content.ts
  src/app/components/public-seo/health-overview-preview.component.html
  src/app/components/public-seo/health-overview-preview.component.scss
  src/app/components/public-seo/health-overview-preview.component.spec.ts
  src/app/components/public-seo/health-overview-preview.component.ts
  src/app/components/public-seo/health-preview.component.spec.ts
  src/app/components/public-seo/public-feature-preview.component.html
  src/app/components/public-seo/public-feature-preview.component.scss
  src/app/components/public-seo/public-feature-preview.component.spec.ts
  src/app/components/public-seo/public-feature-preview.component.ts
  src/app/components/public-seo/public-feature-preview.types.ts
  src/app/components/public-seo/public-seo-pages.content.spec.ts
  src/app/components/public-seo/public-seo-pages.content.ts
  src/app/components/shared/training-summary/training-metric-grid.component.scss
  src/app/helpers/dashboard-health-preview.helper.spec.ts
  src/app/helpers/dashboard-health-preview.helper.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/firebase-hosting.config.spec.ts
  src/sitemap.xml
Due: lint-angular

test: align public metadata checks with broader audience
  src/app/app.routing.module.spec.ts
  src/firebase-hosting.config.spec.ts
Due: lint-angular

fix: restore homepage reading positions through browser history
  src/app/components/home/home.component.spec.ts
  src/app/components/home/home.component.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: restore homepage entrance and scroll animations
  src/app/components/home/home-reveal.directive.spec.ts
  src/app/components/home/home-reveal.directive.ts
  src/app/components/home/home.component.html
  src/app/components/home/home.component.scss
  src/app/components/home/home.component.ts
Due: lint-angular

fix: broaden public audience wording
  src/app/components/features/workout-data-comparison-page.content.spec.ts
  src/app/components/features/workout-data-comparison-page.content.ts
  src/app/components/integrations/integration-pages.content.ts
  src/app/components/public-footer/public-footer.component.html
  src/app/components/public-seo/public-seo-page.component.spec.ts
  src/app/components/public-seo/public-seo-pages.content.spec.ts
  src/app/components/public-seo/public-seo-pages.content.ts
  src/sitemap.xml
Due: lint-angular

fix: validate current history dates before admission
  docs/provider-integration-guide.md
  src/app/components/history-import-form/history-import.form.component.html
  src/app/components/history-import-form/history-import.form.component.spec.ts
  src/app/components/history-import-form/history-import.form.component.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: restore Health sample focus and clear stale errors
  src/app/components/charts/health/dashboard-health-chart.component.spec.ts
  src/app/components/charts/health/dashboard-health-chart.component.ts
  src/app/components/public-seo/health-overview-preview.component.spec.ts
  src/app/components/public-seo/health-overview-preview.component.ts
Due: lint-angular

fix: follow Vitest runtime imports in test policy
  .agent/rules/frontend-test-environments.md
  docs/ci-testing.md
  tools/frontend-test-policy-cli.mjs
  tools/frontend-test-policy.mjs
  tools/frontend-test-policy.test.mjs
Due: none

fix: continue keyboard navigation within homepage features
  src/app/components/home/home.component.html
  src/app/components/home/home.component.spec.ts
  src/app/components/home/home.component.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

test: align merged suites with lightweight environments
  .agent/rules/frontend-test-environments.md
  src/app/components/history-import-form/history-import.form.component.spec.ts
  tools/frontend-test-environments.json
Due: lint-angular

fix: align connection history verification
  functions/src/scripts/check-entrypoint-loading.ts
  src/app/components/services/connection-history/connection-history.component.spec.ts
  src/app/components/services/connection-history/connection-history.component.ts
Due: lint-functions, lint-angular

fix: harden connection history retries and reconnect recovery
  docs/connection-history-import.md
  functions/src/connection-history/adapters.spec.ts
  functions/src/connection-history/adapters.ts
  functions/src/connection-history/execution.ts
  functions/src/connection-history/model.ts
  functions/src/connection-history/queue-replacement.ts
  functions/src/connection-history/tasks.spec.ts
  functions/src/connection-history/tasks.ts
  functions/src/coros/history-to-queue.spec.ts
  functions/src/coros/history-to-queue.ts
  functions/src/garmin/backfill.spec.ts
  functions/src/garmin/backfill.ts
  functions/src/garmin/health-backfill.spec.ts
  functions/src/garmin/health-backfill.ts
  functions/src/history.spec.ts
  functions/src/history.ts
  functions/src/request-helper.spec.ts
  functions/src/request-helper.ts
  functions/src/sleep/backfill.spec.ts
  functions/src/sleep/backfill.ts
  functions/src/wahoo/queue-store.spec.ts
  functions/src/wahoo/queue-store.ts
  src/app/components/services/garmin/services.garmin.component.spec.ts
  src/app/components/services/services-abstract-component.directive.ts
  src/app/components/services/suunto/services.suunto.component.spec.ts
  src/app/components/services/wahoo/services.wahoo.component.spec.ts
Due: lint-functions, lint-angular

docs: clarify connection history run IDs
  docs/connection-history-import.md
Due: none

fix: harden connection history lifecycle review
  functions/src/OAuth2.spec.ts
  functions/src/OAuth2.ts
  functions/src/connection-history/adapters.spec.ts
  functions/src/connection-history/advance.spec.ts
  functions/src/connection-history/advance.ts
  functions/src/connection-history/execution.ts
  functions/src/connection-history/model.spec.ts
  functions/src/connection-history/model.ts
  functions/src/connection-history/tasks.spec.ts
  functions/src/connection-history/tasks.ts
  functions/src/history.spec.ts
  functions/src/history.ts
  functions/src/service-connection-meta.spec.ts
  functions/src/wahoo/queue-store.spec.ts
  functions/src/wahoo/queue-store.ts
  src/app/components/services/services-abstract-component.directive.ts
  src/app/components/services/suunto/services.suunto.component.spec.ts
Due: lint-functions, lint-angular

fix: isolate connection history function targets
  docs/functions-entrypoint-loading.md
  docs/provider-integration-guide.md
  functions/src/function-target-loader.spec.ts
  functions/src/function-target-loader.ts
  functions/src/scripts/check-entrypoint-loading.ts
Due: lint-functions

fix: preserve history through provider cutoffs and lifecycle changes
  docs/connection-history-import.md
  functions/src/connection-history/adapters.spec.ts
  functions/src/connection-history/adapters.ts
  functions/src/connection-history/execution.ts
  functions/src/connection-history/tasks.spec.ts
  functions/src/garmin/backfill.ts
  functions/src/queue-utils.spec.ts
  functions/src/queue-utils.ts
  functions/src/sleep/backfill.ts
  functions/src/wahoo/queue-store.spec.ts
  functions/src/wahoo/queue-store.ts
Due: lint-functions

test: isolate static dashboard and routes contracts
  src/app/components/dashboard/dashboard.component.spec.ts
  src/app/components/routes/routes-page.component.spec.ts
Due: lint-angular

test: avoid MCP hook progress reporting timeouts
  docs/ci-testing.md
  package.json
  tools/testing-workflow.test.mjs
Due: none

fix: verify connection history against current develop
  docs/connection-history-import.md
  docs/functions-entrypoint-loading.md
  docs/provider-integration-guide.md
  functions/src/history.spec.ts
  functions/src/scripts/check-entrypoint-loading.ts
Due: lint-functions

fix: fence history retries and preserve automatic import errors
  docs/connection-history-import.md
  docs/provider-integration-guide.md
  functions/src/sleep/backfill.spec.ts
  functions/src/sleep/backfill.ts
  src/app/components/services/connection-history/connection-history.component.spec.ts
  src/app/components/services/connection-history/connection-history.component.ts
  src/app/services/app.user.service.spec.ts
  src/app/services/app.user.service.ts
  tools/frontend-test-environment-reasons.json
Due: lint-functions, lint-angular

fix: cancel stale history retry failures
  src/app/services/app.user.service.spec.ts
  src/app/services/app.user.service.ts
Due: lint-angular

chore: bump app version to 10.18.3
  package-lock.json
  package.json
Due: none

fix: make shared Health examples more realistic
  docs/frontend-ui.md
  src/app/components/public-seo/health-preview.data.spec.ts
  src/app/components/public-seo/health-preview.data.ts
  src/app/helpers/dashboard-health-preview.helper.spec.ts
  src/app/helpers/dashboard-health-preview.helper.ts
  src/app/helpers/health-example-days.helper.ts
Due: lint-angular

feat: monitor connection-history coordinator
  .github/workflows/_run-tests.yml
  README.md
  docs/connection-history-import.md
  docs/provider-integration-guide.md
  functions/src/connection-history/monitoring-probe.spec.ts
  functions/src/connection-history/monitoring-probe.ts
  functions/src/connection-history/monitoring.emulator.spec.ts
  functions/src/connection-history/monitoring.spec.ts
  functions/src/connection-history/monitoring.ts
  functions/src/connection-history/tasks.spec.ts
  functions/src/connection-history/tasks.ts
  package.json
  tools/connection-history-monitoring/cli.mjs
  tools/connection-history-monitoring/definitions.mjs
  tools/connection-history-monitoring/monitoring.test.mjs
  tools/functions-emulator-suites.mjs
Due: lint-functions

fix: observe committed history receipt recovery
  docs/connection-history-import.md
  docs/provider-integration-guide.md
  functions/src/connection-history/model.spec.ts
  functions/src/connection-history/model.ts
  functions/src/connection-history/monitoring-probe.ts
  functions/src/connection-history/monitoring.emulator.spec.ts
  functions/src/connection-history/tasks.spec.ts
  functions/src/connection-history/tasks.ts
  tools/connection-history-monitoring/definitions.mjs
Due: lint-functions

chore: bump app version to 10.18.4
  package-lock.json
  package.json
Due: none

Path conditions:
  lint-functions: any of: **/*.{ts,js} and ^functions/
  lint-angular: any of: {src/*.{ts,html},src/**/*.{ts,html}}
