Repository jimmykane/quantified-self: changes, and which lefthook commands are due for each by the changed paths.
All: lint-functions, lint-angular

lint-functions:
  run: npx eslint {staged_files} --fix && git add {staged_files}

lint-angular:
  run: ESLINT_USE_FLAT_CONFIG=false npx eslint {staged_files} --fix && git add {staged_files}

chore: retire event tag catalog trigger
  docs/event-tag-catalog.md
  functions/src/events/event-tag-catalog.spec.ts
  functions/src/events/event-tag-catalog.trigger.spec.ts
  functions/src/events/event-tag-catalog.trigger.ts
  functions/src/full-entrypoint.ts
  functions/src/function-target-loader.spec.ts
  functions/src/function-target-loader.ts
  functions/src/scripts/check-entrypoint-loading.ts
Due: lint-functions

fix: remove excess padding around activity stats
  src/app/components/event-summary/event-summary.component.scss
Due: none

fix: give intensity zone labels more text padding
  src/app/components/event/intensity-zones/event.intensity-zones.component.spec.ts
  src/app/components/event/intensity-zones/event.intensity-zones.component.ts
Due: lint-angular

fix: align activity detail sections and responsive chart widths
  docs/frontend-ui.md
  docs/training-workspace.md
  src/app/components/event-summary/event-summary.component.scss
  src/app/components/event/chart/event.card.chart.component.scss
  src/app/components/event/event.card.component.scss
  src/app/components/event/section-header/event.section-header.component.scss
  src/app/components/shared/summary-primary-info/summary-primary-info.component.scss
Due: none

fix: center training impact info icon vertically
  src/app/components/training-impact/training-impact.component.scss
Due: none

fix: require verified email and preserve Stripe ownership
  functions/src/stripe/claims.spec.ts
  functions/src/stripe/claims.ts
Due: lint-functions

fix: recover uncertain MCP training apply results
  docs/mcp-server.md
  docs/training-workspace.md
  functions/src/assistant/mcp-session.spec.ts
  functions/src/mcp/contracts/pending-change.json
  functions/src/mcp/data.service.ts
  functions/src/mcp/server.spec.ts
  functions/src/mcp/server.ts
  functions/src/mcp/tool-output-schemas.spec.ts
  functions/src/mcp/tool-output-schemas.ts
  functions/src/mcp/training-plans-write.emulator.spec.ts
  functions/src/mcp/training-plans-write.service.ts
  functions/src/mcp/training-plans.schemas.ts
  plugins/quantified-self/skills/analyze-quantified-self-training/SKILL.md
  plugins/quantified-self/skills/analyze-quantified-self/SKILL.md
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

fix: recover owned Stripe subscriptions independently of email
  functions/src/stripe/claims.spec.ts
  functions/src/stripe/claims.ts
Due: lint-functions

fix: clarify training impact on event details
  docs/training-workspace.md
  src/app/components/training-impact/training-impact.component.html
  src/app/components/training-impact/training-impact.component.scss
  src/app/components/training-impact/training-impact.component.spec.ts
  src/app/components/training-impact/training-impact.component.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: trust purchased product roles for Stripe recovery
  firestore.rules
  functions/src/stripe/claims.spec.ts
  functions/src/stripe/claims.ts
  src/firestore.rules.spec.ts
Due: lint-functions, lint-angular

docs: align live Training rollout documentation
  docs/function-secret-management.md
  docs/garmin-integration.md
  docs/mcp-server.md
  docs/provider-integration-guide.md
  docs/training-workspace.md
  docs/wahoo-integration.md
  shared/planned-workout-providers.ts
  src/app/helpers/training-delivery-rollout.spec.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

chore: add isolated Garmin webhook URL probe
  docs/garmin-integration.md
  docs/provider-integration-guide.md
  functions/src/full-entrypoint.ts
  functions/src/function-target-loader.spec.ts
  functions/src/function-target-loader.ts
  functions/src/garmin/webhook-probe.spec.ts
  functions/src/garmin/webhook-probe.ts
  functions/src/scripts/check-entrypoint-loading.ts
Due: lint-functions

fix: move dashboard calendar views into its action menu
  docs/activity-calendar.md
  src/app/components/calendar/activity-calendar-tile/activity-calendar-tile.component.html
  src/app/components/calendar/activity-calendar-tile/activity-calendar-tile.component.scss
  src/app/components/calendar/activity-calendar-tile/activity-calendar-tile.component.spec.ts
  src/app/components/tile/actions/chart/tile.chart.actions.component.spec.ts
  src/app/components/tile/actions/tile-actions-abstract.directive.ts
  src/app/components/tile/actions/tile-actions-menu.html
  src/app/components/tile/chart/tile.chart.component.css
  src/app/components/tile/chart/tile.chart.component.html
  src/app/components/tile/chart/tile.chart.component.spec.ts
  src/app/components/tile/chart/tile.chart.component.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: compact the Plans header sync action
  docs/training-workspace.md
  src/app/components/plans/plans-workspace.component.html
  src/app/components/plans/plans-workspace.component.spec.ts
  src/app/components/plans/training-delivery-button.component.html
  src/app/components/plans/training-delivery-button.component.spec.ts
  src/app/components/plans/training-delivery-button.component.ts
  src/app/components/shared/page-header/page-header.component.scss
  src/app/components/shared/page-header/page-header.component.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: offer service-copy cleanup in MCP Training deletion
  docs/assistant.md
  docs/mcp-server.md
  docs/provider-integration-guide.md
  docs/training-workspace.md
  functions/src/assistant/mcp-session.spec.ts
  functions/src/assistant/mcp-session.ts
  functions/src/assistant/runtime.spec.ts
  functions/src/assistant/runtime.ts
  functions/src/mcp/contracts/pending-change.json
  functions/src/mcp/data.service.ts
  functions/src/mcp/server.spec.ts
  functions/src/mcp/server.ts
  functions/src/mcp/tool-output-schemas.spec.ts
  functions/src/mcp/training-plans-write.emulator.spec.ts
  functions/src/mcp/training-plans-write.service.ts
  functions/src/mcp/training-plans.schemas.spec.ts
  functions/src/mcp/training-plans.schemas.ts
  functions/src/mcp/training-preview-loop-guard.spec.ts
  functions/src/mcp/training-preview-loop-guard.ts
  plugins/quantified-self/skills/analyze-quantified-self-training/SKILL.md
  plugins/quantified-self/skills/analyze-quantified-self/SKILL.md
  src/app/components/mcp-authorization/mcp-authorization.component.spec.ts
  src/app/components/public-seo/public-seo-pages.content.spec.ts
  src/app/components/public-seo/public-seo-pages.content.ts
  src/app/helpers/mcp-permissions.helper.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/app/shared/policies.content.spec.ts
  src/app/shared/policies.content.ts
Due: lint-functions, lint-angular

fix: preserve current Training deletion intent in Assistant
  docs/assistant.md
  docs/training-workspace.md
  functions/src/assistant/runtime.spec.ts
  functions/src/assistant/runtime.ts
Due: lint-functions

fix: clarify Assistant Training deletion review and receipts
  docs/assistant.md
  docs/training-workspace.md
  functions/src/assistant/callable.spec.ts
  functions/src/mcp/training-plans-write.emulator.spec.ts
  functions/src/mcp/training-plans-write.service.ts
  src/app/components/assistant/assistant-explore-bottom-sheet.component.html
  src/app/components/assistant/assistant-explore-bottom-sheet.component.spec.ts
  src/app/components/assistant/assistant-page.component.html
  src/app/components/assistant/assistant-page.component.spec.ts
  src/app/components/assistant/assistant-page.component.ts
  src/app/helpers/assistant-training-deletion-review.helper.spec.ts
  src/app/helpers/assistant-training-deletion-review.helper.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

fix: isolate Suunto Health receiver and raise memory
  docs/functions-entrypoint-loading.md
  docs/provider-integration-guide.md
  docs/suunto-integration.md
  functions/src/function-target-loader.spec.ts
  functions/src/function-target-loader.ts
  functions/src/scripts/check-entrypoint-loading.ts
  functions/src/sleep/webhooks.ts
Due: lint-functions

feat: add lap-button endings to the workout editor
  docs/provider-integration-guide.md
  docs/training-workspace.md
  functions/src/mcp/training-plans.service.spec.ts
  functions/src/training-plans/providers/provider-mapping.spec.ts
  src/app/components/plans/plans-workspace.component.html
  src/app/components/plans/plans-workspace.component.scss
  src/app/components/plans/plans-workspace.component.spec.ts
  src/app/components/plans/plans-workspace.component.ts
  src/app/components/public-seo/public-seo-pages.content.spec.ts
  src/app/components/public-seo/public-seo-pages.content.ts
  src/app/components/public-seo/training-plans-page.content.ts
  src/app/helpers/planned-workout-editor.helper.spec.ts
  src/app/helpers/planned-workout-editor.helper.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

fix: diagnose Wahoo training removal safety checks
  docs/provider-integration-guide.md
  docs/training-workspace.md
  functions/src/training-plans/delivery/contracts.spec.ts
  functions/src/training-plans/delivery/contracts.ts
  functions/src/training-plans/delivery/wahoo/transport.spec.ts
  functions/src/training-plans/delivery/wahoo/transport.ts
  functions/src/training-plans/delivery/wahoo/worker.emulator.spec.ts
Due: lint-functions

fix: preserve distance drafts through lap-button toggles
  docs/training-workspace.md
  src/app/components/plans/plans-workspace.component.spec.ts
  src/app/components/plans/plans-workspace.component.ts
  src/app/helpers/planned-workout-editor.helper.spec.ts
  src/app/helpers/planned-workout-editor.helper.ts
Due: lint-angular

fix: authenticate Garmin callbacks and constrain activity downloads
  docs/function-secret-management.md
  docs/garmin-integration.md
  docs/provider-integration-guide.md
  functions/.secret.local.example
  functions/src/garmin/activity-callback-url.spec.ts
  functions/src/garmin/activity-callback-url.ts
  functions/src/garmin/auth/wrapper.spec.ts
  functions/src/garmin/auth/wrapper.ts
  functions/src/garmin/queue.spec.ts
  functions/src/garmin/queue.ts
  functions/src/garmin/webhook-auth.spec.ts
  functions/src/garmin/webhook-auth.ts
  functions/src/queue/user-not-found.spec.ts
  functions/src/request-helper.spec.ts
  functions/src/request-helper.ts
  functions/src/secrets.spec.ts
  functions/src/secrets.ts
  functions/src/sleep/webhooks.spec.ts
  functions/src/sleep/webhooks.ts
Due: lint-functions

fix: converge already-absent Wahoo training removals
  docs/provider-integration-guide.md
  docs/training-workspace.md
  functions/src/mcp/training-plans.service.spec.ts
  functions/src/training-plans/delivery/contracts.spec.ts
  functions/src/training-plans/delivery/contracts.ts
  functions/src/training-plans/delivery/test-support/wahoo-http-fixture.ts
  functions/src/training-plans/delivery/wahoo/http.spec.ts
  functions/src/training-plans/delivery/wahoo/http.ts
  functions/src/training-plans/delivery/wahoo/transport.spec.ts
  functions/src/training-plans/delivery/wahoo/transport.ts
  functions/src/training-plans/delivery/wahoo/worker.emulator.spec.ts
  functions/src/training-plans/delivery/worker.ts
Due: lint-functions

fix: restore visible calendar view buttons
  docs/activity-calendar.md
  src/app/components/calendar/activity-calendar-tile/activity-calendar-tile.component.html
  src/app/components/calendar/activity-calendar-tile/activity-calendar-tile.component.scss
  src/app/components/calendar/activity-calendar-tile/activity-calendar-tile.component.spec.ts
  src/app/components/tile/actions/chart/tile.chart.actions.component.spec.ts
  src/app/components/tile/actions/tile-actions-abstract.directive.ts
  src/app/components/tile/actions/tile-actions-menu.html
  src/app/components/tile/chart/tile.chart.component.css
  src/app/components/tile/chart/tile.chart.component.html
  src/app/components/tile/chart/tile.chart.component.spec.ts
  src/app/components/tile/chart/tile.chart.component.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: fence Wahoo removal readback checkpoints
  docs/provider-integration-guide.md
  docs/training-workspace.md
  functions/src/training-plans/delivery/wahoo/transport.ts
  functions/src/training-plans/delivery/wahoo/worker.emulator.spec.ts
  functions/src/training-plans/delivery/worker.ts
Due: lint-functions

chore: retire Garmin webhook legacy URL compatibility
  docs/function-secret-management.md
  docs/garmin-integration.md
  docs/provider-integration-guide.md
  functions/src/garmin/webhook-auth.spec.ts
  functions/src/garmin/webhook-auth.ts
Due: lint-functions

chore: use a plain Garmin webhook secret
  docs/function-secret-management.md
  docs/garmin-integration.md
  docs/provider-integration-guide.md
  functions/src/garmin/webhook-auth.spec.ts
  functions/src/garmin/webhook-auth.ts
Due: lint-functions

fix: support plain-secret Garmin URL rollout
  docs/function-secret-management.md
  docs/garmin-integration.md
  docs/provider-integration-guide.md
  functions/src/garmin/auth/wrapper.spec.ts
  functions/src/garmin/queue.spec.ts
  functions/src/garmin/webhook-auth.spec.ts
  functions/src/garmin/webhook-auth.ts
  functions/src/sleep/webhooks.spec.ts
Due: lint-functions

feat: add accessible device color presets and chart patterns
  docs/frontend-ui.md
  src/app/components/event/chart/event.card.chart.component.html
  src/app/components/event/chart/event.card.chart.component.spec.ts
  src/app/components/event/chart/event.card.chart.component.ts
  src/app/components/event/chart/panel/event.card.chart.panel.component.html
  src/app/components/event/chart/panel/event.card.chart.panel.component.scss
  src/app/components/event/chart/panel/event.card.chart.panel.component.spec.ts
  src/app/components/event/chart/panel/event.card.chart.panel.component.ts
  src/app/components/tools/device-color-preferences-dialog.component.html
  src/app/components/tools/device-color-preferences-dialog.component.scss
  src/app/components/tools/device-color-preferences-dialog.component.spec.ts
  src/app/components/tools/device-color-preferences-dialog.component.ts
  src/app/helpers/device-chart-appearance.helper.spec.ts
  src/app/helpers/device-chart-appearance.helper.ts
  src/app/helpers/device-color-palette.helper.ts
  src/app/helpers/track-chart-panel.model.ts
  src/app/services/color/app-device-color-preference.service.ts
  src/app/services/map-style.service.spec.ts
  src/app/services/map-style.service.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

chore: retire Garmin webhook probe
  docs/garmin-integration.md
  docs/provider-integration-guide.md
  functions/src/full-entrypoint.ts
  functions/src/function-target-loader.spec.ts
  functions/src/function-target-loader.ts
  functions/src/garmin/webhook-probe.spec.ts
  functions/src/garmin/webhook-probe.ts
  functions/src/scripts/check-entrypoint-loading.ts
Due: lint-functions

fix: correct device color rendering edge cases
  docs/frontend-ui.md
  src/app/components/event/chart/event.card.chart.component.spec.ts
  src/app/components/event/chart/event.card.chart.component.ts
  src/app/components/event/chart/panel/event.card.chart.panel.component.html
  src/app/components/event/chart/panel/event.card.chart.panel.component.scss
  src/app/components/event/chart/panel/event.card.chart.panel.component.spec.ts
  src/app/components/event/chart/panel/event.card.chart.panel.component.ts
  src/app/services/color/app.event.color.service.spec.ts
  src/app/services/color/app.event.color.service.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: default device color picker to Standard palette
  docs/frontend-ui.md
  src/app/components/tools/device-color-preferences-dialog.component.spec.ts
  src/app/components/tools/device-color-preferences-dialog.component.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

feat: make comparison line patterns optional
  docs/frontend-ui.md
  src/app/components/event/chart/event.card.chart.component.spec.ts
  src/app/components/event/chart/event.card.chart.component.ts
  src/app/components/event/chart/panel/event.card.chart.panel.component.spec.ts
  src/app/components/event/chart/panel/event.card.chart.panel.component.ts
  src/app/components/tools/device-color-preferences-dialog.component.html
  src/app/components/tools/tools-compare-page.component.html
  src/app/components/tools/tools-compare-page.component.scss
  src/app/components/tools/tools-compare-page.component.spec.ts
  src/app/components/tools/tools-compare-page.component.ts
  src/app/components/user-settings/user-settings.component.html
  src/app/components/user-settings/user-settings.component.spec.ts
  src/app/components/user-settings/user-settings.component.ts
  src/app/helpers/device-chart-appearance.helper.spec.ts
  src/app/helpers/device-chart-appearance.helper.ts
  src/app/models/app-user.interface.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/app/utils/app.user.utilities.spec.ts
  src/app/utils/app.user.utilities.ts
Due: lint-angular

fix: protect comparison line pattern preferences
  docs/frontend-ui.md
  src/app/components/tools/tools-compare-page.component.spec.ts
  src/app/components/tools/tools-compare-page.component.ts
  src/app/components/user-settings/user-settings.component.spec.ts
  src/app/components/user-settings/user-settings.component.ts
  src/app/services/app.user-settings-query.service.spec.ts
  src/app/services/app.user-settings-query.service.ts
Due: lint-angular

fix: tone down comparison pattern controls and strokes
  docs/frontend-ui.md
  src/app/components/event/chart/panel/event.card.chart.panel.component.spec.ts
  src/app/components/event/chart/panel/event.card.chart.panel.component.ts
  src/app/components/tools/device-color-preferences-dialog.component.html
  src/app/components/tools/tools-compare-page.component.html
  src/app/components/tools/tools-compare-page.component.scss
  src/app/components/tools/tools-compare-page.component.spec.ts
  src/app/components/tools/tools-compare-page.component.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: align Calendar activity rows with dashboard
  docs/activity-calendar.md
  src/app/components/calendar/calendar-day-context/calendar-day-context.component.html
  src/app/components/calendar/calendar-day-context/calendar-day-context.component.scss
  src/app/components/calendar/calendar-day-context/calendar-day-context.component.spec.ts
  src/app/components/calendar/calendar-day-context/calendar-day-context.component.ts
Due: lint-angular

fix: keep comparison appearance controls together on mobile
  docs/frontend-ui.md
  src/app/components/tools/tools-compare-page.component.html
  src/app/components/tools/tools-compare-page.component.scss
  src/app/components/tools/tools-compare-page.component.spec.ts
Due: lint-angular

fix: make Assistant replies easier to read
  docs/assistant.md
  functions/src/assistant/daily-workout-context.spec.ts
  functions/src/assistant/daily-workout-context.ts
  functions/src/assistant/runtime.spec.ts
  functions/src/assistant/runtime.ts
  src/app/components/assistant/assistant-message-body.component.html
  src/app/components/assistant/assistant-message-body.component.scss
  src/app/components/assistant/assistant-message-body.component.ts
  src/app/components/assistant/assistant-page.component.html
  src/app/components/assistant/assistant-page.component.spec.ts
  src/app/components/assistant/assistant-page.component.ts
  src/app/helpers/assistant-message-format.helper.spec.ts
  src/app/helpers/assistant-message-format.helper.ts
Due: lint-functions, lint-angular

fix: renew Wahoo Plan identity after confirmed withdrawal
  docs/mcp-server.md
  docs/provider-integration-guide.md
  docs/training-workspace.md
  functions/src/mcp/training-plans.service.spec.ts
  functions/src/training-plans/delivery/contracts.ts
  functions/src/training-plans/delivery/store.ts
  functions/src/training-plans/delivery/test-support/wahoo-http-fixture.ts
  functions/src/training-plans/delivery/wahoo/identity.spec.ts
  functions/src/training-plans/delivery/wahoo/identity.ts
  functions/src/training-plans/delivery/wahoo/mapping.spec.ts
  functions/src/training-plans/delivery/wahoo/mapping.ts
  functions/src/training-plans/delivery/wahoo/transport.spec.ts
  functions/src/training-plans/delivery/wahoo/transport.ts
  functions/src/training-plans/delivery/wahoo/worker.emulator.spec.ts
  functions/src/training-plans/delivery/worker.ts
  functions/src/wahoo/training-completion.emulator.spec.ts
  functions/src/wahoo/training-completion.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

fix: validate Wahoo incarnation reservations throughout withdrawal
  docs/training-workspace.md
  functions/src/training-plans/delivery/wahoo/transport.spec.ts
  functions/src/training-plans/delivery/wahoo/transport.ts
  functions/src/training-plans/delivery/wahoo/worker.emulator.spec.ts
  functions/src/training-plans/delivery/worker.ts
Due: lint-functions

Path conditions:
  lint-functions: any of: **/*.{ts,js} and ^functions/
  lint-angular: any of: {src/*.{ts,html},src/**/*.{ts,html}}
