Repository jimmykane/quantified-self: changes, and which lefthook commands are due for each by the changed paths.
All: lint-functions, lint-angular

lint-functions:
  run: npx eslint {staged_files} --fix && git add {staged_files}

lint-angular:
  run: ESLINT_USE_FLAT_CONFIG=false npx eslint {staged_files} --fix && git add {staged_files}

fix: grace period not updated
  src/app/app.component.spec.ts
  src/app/components/grace-period-banner/grace-period-banner.component.html
  src/app/components/grace-period-banner/grace-period-banner.component.spec.ts
  src/app/components/grace-period-banner/grace-period-banner.component.ts
  src/app/services/app.user.service.spec.ts
  src/app/services/app.user.service.ts
Due: lint-angular

refactor: frontend
  src/app/authentication/app.auth.service.ts
  src/app/authentication/onboarding.guard.ts
  src/app/authentication/pro.guard.ts
  src/app/components/history-import-form/history-import.form.component.ts
  src/app/components/sidenav/sidenav.component.ts
  src/app/components/upload/upload-abstract.directive.ts
  src/app/components/upload/upload-activities-to-service/upload-activities-to-service.component.ts
  src/app/components/upload/upload-activities/upload-activities.component.html
  src/app/components/upload/upload-activities/upload-activities.component.ts
  src/app/directives/has-role.directive.ts
  src/app/directives/pro-only.directive.ts
  src/app/models/app-user.interface.ts
  src/app/services/app.event.service.spec.ts
  src/app/services/app.event.service.ts
  src/app/services/app.user.service.spec.ts
  src/app/services/app.user.service.ts
Due: lint-angular

refactor: backend
  functions/src/queue/user-not-found.spec.ts
  functions/src/stripe/claims.spec.ts
  functions/src/stripe/claims.ts
  functions/src/stripe/subscriptions.spec.ts
  functions/src/stripe/subscriptions.ts
  functions/src/utils.spec.ts
  functions/src/utils.ts
Due: lint-functions

chore: renames
  functions/src/OAuth2.spec.ts
  functions/src/coros/auth/wrapper.spec.ts
  functions/src/coros/auth/wrapper.ts
  functions/src/coros/history-to-queue.spec.ts
  functions/src/coros/history-to-queue.ts
  functions/src/garmin/auth/wrapper.spec.ts
  functions/src/garmin/auth/wrapper.ts
  functions/src/garmin/backfill.spec.ts
  functions/src/garmin/backfill.ts
  functions/src/suunto/activities.spec.ts
  functions/src/suunto/activities.ts
  functions/src/suunto/auth/wrapper.spec.ts
  functions/src/suunto/auth/wrapper.ts
  functions/src/suunto/history-to-queue.spec.ts
  functions/src/suunto/history-to-queue.ts
  functions/src/suunto/routes.spec.ts
  functions/src/suunto/routes.ts
  functions/src/utils.spec.ts
  functions/src/utils.ts
Due: lint-functions

chore: add lock icon
  src/app/components/sidenav/sidenav.component.html
Due: lint-angular

chore: prevent double fetch
  src/app/components/dashboard/dashboard.component.ts
  src/app/services/app.event.service.ts
Due: lint-angular

fix: for instant roles
  src/app/authentication/app.auth.service.ts
  src/app/services/app.user.service.spec.ts
  src/app/services/app.user.service.ts
Due: lint-angular

refactor: extract to utils
  src/app/services/app.user.service.spec.ts
  src/app/services/app.user.service.ts
  src/app/utils/app.user.utilities.spec.ts
  src/app/utils/app.user.utilities.ts
Due: lint-angular

chore: tests
  src/app/services/app.user.service.spec.ts
  src/app/services/app.user.service.ts
Due: lint-angular

chore: fixes
  src/app/components/event-table/actions/event.table.actions.component.ts
  src/app/components/event-table/event.table.component.ts
  src/app/components/event/chart/event.card.chart.component.ts
  src/app/components/event/map/event.card.map.component.ts
  src/app/components/event/stats-grid/event.card.stats-grid.component.ts
  src/app/components/history-import-form/history-import.form.component.ts
  src/app/components/tile/actions/tile-actions-abstract.directive.ts
  src/app/components/user-settings/user-settings.component.ts
  src/app/services/app.event.service.ts
  src/app/services/app.theme.service.ts
  src/app/services/app.user-settings-query.service.ts
Due: lint-angular

chore: tests fixes
  src/app/components/admin/admin-dashboard/admin-dashboard.component.spec.ts
  src/app/components/event/stats-grid/event.card.stats-grid.component.spec.ts
  src/app/components/login/login.component.spec.ts
  src/app/components/sidenav/sidenav.component.spec.ts
  src/app/components/upload/upload-activities-to-service/upload-activities-to-service.component.spec.ts
  src/app/components/upload/upload-routes-to-service/upload-routes-to-service.component.spec.ts
Due: lint-angular

chore: styles
  src/app/components/home/home.component.html
  src/app/components/home/home.component.scss
  src/index.html
  src/styles.scss
Due: lint-angular

chore: improve token handling
  functions/src/queue.ts
  functions/src/tokens.spec.ts
  functions/src/tokens.ts
Due: lint-functions

fix: tests
  src/app/authentication/app.auth.service.spec.ts
  src/app/authentication/onboarding.guard.spec.ts
  src/app/authentication/pro.guard.spec.ts
  src/app/components/admin/admin-user-management/admin-user-management.component.spec.ts
  src/app/components/history-import-form/history-import.form.component.spec.ts
  src/app/directives/has-role.directive.spec.ts
  src/app/directives/pro-only.directive.spec.ts
  src/app/services/app.event.service.spec.ts
Due: lint-angular

chore: add resolve for whats new
  src/app/app.routing.module.ts
  src/app/resolvers/releases.resolver.spec.ts
  src/app/resolvers/releases.resolver.ts
  src/app/services/app.whats-new.service.ts
Due: lint-angular

feature: home ui
  src/app/components/home/home.component.html
  src/app/components/home/home.component.scss
  src/index.html
Due: lint-angular

chore: tests
  functions/src/config.spec.ts
  functions/src/history.spec.ts
  functions/src/queue-utils.spec.ts
  functions/src/utils-usage.spec.ts
Due: lint-functions

chore: styles
  src/app/components/home/home.component.html
  src/app/components/home/home.component.scss
Due: lint-angular

chore: use logger service
  src/app/authentication/app.auth.service.ts
  src/app/components/tracks/tracks-map.manager.ts
  src/app/components/tracks/tracks.component.ts
  src/app/helpers/markdown.pipe.ts
  src/app/services/app.cache.service.ts
  src/app/services/app.event.service.ts
  src/app/shared/adapters/date-locale.config.ts
Due: lint-angular

chore: fix for garmin gone
  functions/src/garmin/queue.spec.ts
  functions/src/garmin/queue.ts
Due: lint-functions

chore: logs for future usage
  functions/src/utils.ts
Due: lint-functions

chore: export to constant and dec frequency
  functions/src/coros/constants.ts
  functions/src/coros/tokens.ts
  functions/src/garmin/constants.ts
  functions/src/garmin/tokens.ts
  functions/src/shared/date-utils.ts
  functions/src/suunto/constants.ts
  functions/src/suunto/tokens.ts
Due: lint-functions

chore: use google
  src/index.html
  src/styles.scss
Due: lint-angular

fix: url
  src/index.html
Due: lint-angular

chore: improved font loading and fixes
  angular.json
  package-lock.json
  package.json
  src/index.html
Due: lint-angular

chore: improve font loading
  src/index.html
Due: lint-angular

chore: update rules
  .agent/rules/rules.md
Due: none

chore: fix upload now showing up instantly
  src/app/components/dashboard/dashboard.component.ts
Due: lint-angular

chore: test
  src/app/components/dashboard/dashboard.component.spec.ts
Due: lint-angular

chore: fix tests
  src/app/components/tracks/tracks-map.manager.spec.ts
Due: lint-angular

chore: fix charts double loading
  src/app/components/event/chart/actions/event.card.chart.actions.component.html
  src/app/components/event/chart/actions/event.card.chart.actions.component.ts
  src/app/components/event/chart/event.card.chart.component.ts
Due: lint-angular

chore: bump sl
  functions/package-lock.json
  functions/package.json
  package-lock.json
  package.json
Due: none

feature: benchmark
  functions/src/shared/app-event.interface.ts
  src/app/components/benchmark/benchmark-bottom-sheet.component.css
  src/app/components/benchmark/benchmark-bottom-sheet.component.spec.ts
  src/app/components/benchmark/benchmark-bottom-sheet.component.ts
  src/app/components/benchmark/benchmark-report.component.spec.ts
  src/app/components/benchmark/benchmark-report.component.ts
  src/app/components/benchmark/benchmark-selection-dialog.component.spec.ts
  src/app/components/benchmark/benchmark-selection-dialog.component.ts
  src/app/components/dashboard/dashboard.component.ts
  src/app/components/event-summary/event-summary.component.html
  src/app/components/event-summary/event-summary.component.ts
  src/app/components/event/chart/event.card.chart.component.html
  src/app/components/event/chart/event.card.chart.component.scss
  src/app/components/event/event.card.component.html
  src/app/components/event/event.card.component.ts
  src/app/components/event/stats-table/event.card.stats-table.component.spec.ts
  src/app/components/event/stats-table/event.card.stats-table.component.ts
  src/app/components/event/tools/event.card.tools.component.css
  src/app/components/event/tools/event.card.tools.component.html
  src/app/components/event/tools/event.card.tools.component.ts
  src/app/modules/event.module.ts
  src/app/services/app.benchmark.service.spec.ts
  src/app/services/app.benchmark.service.ts
Due: lint-functions, lint-angular

chore: more of benchmark + plan
  docs/benchmark-improvement-ideas.md
  functions/src/shared/app-event.interface.ts
  src/app/components/benchmark/benchmark-bottom-sheet.component.css
  src/app/components/benchmark/benchmark-bottom-sheet.component.ts
  src/app/components/benchmark/benchmark-report.component.spec.ts
  src/app/components/benchmark/benchmark-report.component.ts
  src/app/components/benchmark/benchmark-selection-dialog.component.ts
  src/app/components/event-summary/event-summary.component.ts
  src/app/components/event/chart/event.card.chart.component.ts
  src/app/components/event/map/event.card.map.component.ts
  src/app/services/app.benchmark.service.spec.ts
  src/app/services/app.benchmark.service.ts
  src/app/services/app.user-settings-query.service.ts
Due: lint-functions, lint-angular

style: mobile
  src/app/components/benchmark/benchmark-report.component.ts
Due: lint-angular

chore: queue tests
  functions/src/garmin/queue.spec.ts
Due: lint-functions

fix: add try catch for uploads of debug
  functions/src/garmin/queue.ts
Due: lint-functions

chore: disable downloads for more than 20 files
  src/app/components/event-table/event.table.component.html
  src/app/components/event-table/event.table.component.spec.ts
  src/app/components/event-table/event.table.component.ts
Due: lint-angular

chore: ui fixes
  src/app/components/benchmark/benchmark-report.component.ts
Due: lint-angular

Path conditions:
  lint-functions: any of: **/*.{ts,js} and ^functions/
  lint-angular: any of: {src/*.{ts,html},src/**/*.{ts,html}}
