Repository jimmykane/quantified-self: changes, and which lefthook commands are due for each by the changed paths.
All: lint-functions, lint-angular

lint-functions:
  run: npx eslint {staged_files} --fix && git add {staged_files}

lint-angular:
  run: ESLINT_USE_FLAT_CONFIG=false npx eslint {staged_files} --fix && git add {staged_files}

chore: bump app version to 10.13.1
  package-lock.json
  package.json
Due: none

test: cover Suunto OAuth callback fallback
  src/app/components/services/suunto/services.suunto.component.spec.ts
Due: lint-angular

fix: extend provider disconnect timeouts
  functions/src/coros/auth/wrapper.ts
  functions/src/garmin/auth/wrapper.ts
  functions/src/suunto/auth/wrapper.ts
  functions/src/wahoo/auth/wrapper.ts
Due: lint-functions

feat: expand training sport coverage
  docs/mcp-server.md
  docs/training-workspace.md
  functions/src/derived-metrics/derived-metrics.service.spec.ts
  functions/src/derived-metrics/derived-metrics.service.ts
  functions/src/derived-metrics/set-training-build-benchmark.spec.ts
  functions/src/derived-metrics/set-training-build-benchmark.ts
  functions/src/mcp/data.service.spec.ts
  functions/src/test-setup.ts
  shared/derived-metrics.ts
  shared/training-disciplines.ts
  src/app/components/public-seo/public-seo-pages.content.ts
  src/app/components/training/training-sport-visibility-dialog.component.html
  src/app/components/training/training-sport-visibility-dialog.component.spec.ts
  src/app/components/training/training-sport-visibility-dialog.component.ts
  src/app/components/training/training-workspace.component.html
  src/app/components/training/training-workspace.component.spec.ts
  src/app/components/training/training-workspace.component.ts
  src/app/helpers/dashboard-derived-metrics.helper.spec.ts
  src/app/helpers/training-power-systems.helper.ts
  src/app/helpers/training-sport-visibility.helper.spec.ts
  src/app/shared/derived-metrics.shared.spec.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/app/shared/training-disciplines.shared.spec.ts
Due: lint-functions, lint-angular

fix: keep active disconnect leases fenced
  docs/provider-integration-guide.md
  functions/src/OAuth2.spec.ts
  functions/src/OAuth2.ts
Due: lint-functions

fix: prevent duplicate OAuth starts
  src/app/components/services/services-abstract-component.directive.ts
  src/app/components/services/suunto/services.suunto.component.spec.ts
Due: lint-angular

feat: log rejected MCP protocol versions
  functions/src/mcp/server.spec.ts
  functions/src/mcp/server.ts
Due: lint-functions

fix: harden OAuth completion and cleanup
  docs/provider-integration-guide.md
  functions/package.json
  functions/src/OAuth2.spec.ts
  functions/src/OAuth2.ts
  functions/src/coros/auth/wrapper.spec.ts
  functions/src/coros/auth/wrapper.ts
  functions/src/garmin/auth/wrapper.spec.ts
  functions/src/garmin/auth/wrapper.ts
  functions/src/schedule/retry-pending-service-disconnects.ts
  functions/src/scripts/audit-service-oauth-roots.spec.ts
  functions/src/scripts/audit-service-oauth-roots.ts
  functions/src/service-connection-meta.spec.ts
  functions/src/service-connection-meta.ts
  functions/src/service-oauth-root-reconciliation.spec.ts
  functions/src/service-oauth-root-reconciliation.ts
  functions/src/service-token-store.ts
  functions/src/suunto/auth/wrapper.spec.ts
  functions/src/suunto/auth/wrapper.ts
  functions/src/wahoo/auth/wrapper.spec.ts
  functions/src/wahoo/auth/wrapper.ts
  shared/service-connection.ts
  src/app/components/services/coros/services.coros.component.ts
  src/app/components/services/garmin/services.garmin.component.spec.ts
  src/app/components/services/garmin/services.garmin.component.ts
  src/app/components/services/services-abstract-component.directive.ts
  src/app/components/services/suunto/services.suunto.component.ts
  src/app/components/services/wahoo/services.wahoo.component.ts
  src/app/services/app.user.service.spec.ts
  src/app/services/app.user.service.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

fix: close OAuth review findings
  docs/provider-integration-guide.md
  functions/src/OAuth2.spec.ts
  functions/src/OAuth2.ts
  functions/src/schedule/retry-pending-service-disconnects.spec.ts
  functions/src/schedule/retry-pending-service-disconnects.ts
  functions/src/scripts/audit-service-oauth-roots.spec.ts
  functions/src/scripts/audit-service-oauth-roots.ts
  functions/src/service-connection-meta.spec.ts
  functions/src/service-connection-meta.ts
  functions/src/service-disconnect-pending.spec.ts
  functions/src/service-disconnect-pending.ts
  functions/src/service-oauth-root-reconciliation.spec.ts
  functions/src/service-oauth-root-reconciliation.ts
  functions/src/stripe/subscriptions.spec.ts
  functions/src/stripe/subscriptions.ts
  functions/src/wahoo/auth/wrapper.spec.ts
  functions/src/wahoo/auth/wrapper.ts
  src/app/components/services/garmin/services.garmin.component.spec.ts
  src/app/components/services/services-abstract-component.directive.ts
  src/app/components/services/suunto/services.suunto.component.spec.ts
Due: lint-functions, lint-angular

fix: use material lap option lines
  src/app/components/event/laps/event.card.laps.component.css
  src/app/components/event/laps/event.card.laps.component.html
  src/app/components/event/laps/event.card.laps.component.spec.ts
Due: lint-angular

feat: show lap column availability
  src/app/components/event/laps/event.card.laps.component.css
  src/app/components/event/laps/event.card.laps.component.html
  src/app/components/event/laps/event.card.laps.component.spec.ts
  src/app/components/event/laps/event.card.laps.component.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: satisfy functions build lint
  functions/scripts/build.mjs
Due: none

fix: address local runtime review findings
  README.md
  docs/local-development.md
  functions/package.json
  functions/scripts/build.mjs
  src/app/services/app.user.service.spec.ts
  src/app/services/app.user.service.ts
  src/environments/environment-safety.spec.ts
  src/environments/environment-safety.ts
  src/environments/environment.local.prod-functions.ts
  tools/local-role.mjs
  tools/local-role.test.mjs
  tools/local-runtime.mjs
  tools/local-runtime.test.mjs
  tools/run-local-smoke.mjs
  tools/start-hosted-functions.mjs
  tools/start-local.mjs
Due: lint-angular

docs: clarify local runtime modes
  README.md
Due: none

fix: harden isolated local development
  README.md
  docs/function-secret-management.md
  docs/local-development.md
  functions/src/stripe/client.spec.ts
  functions/src/stripe/client.ts
  functions/src/utils.spec.ts
  functions/src/utils.ts
  package.json
  src/app/services/app.route-upload.service.spec.ts
  src/app/services/app.tools-comparison.service.spec.ts
  src/environments/environment-safety.spec.ts
  src/environments/environment-safety.ts
  src/main.ts
  tools/local-role.mjs
  tools/local-runtime.mjs
  tools/local-runtime.test.mjs
  tools/local-smoke-check.mjs
  tools/reset-local.mjs
  tools/run-local-smoke.mjs
  tools/start-local.mjs
Due: lint-functions, lint-angular

fix: tighten local runtime safety guards
  src/environments/environment-safety.spec.ts
  src/environments/environment-safety.ts
  tools/local-runtime.mjs
  tools/local-runtime.test.mjs
Due: lint-angular

feat: prerender public pricing catalog
  README.md
  docs/public-pricing-prerender.md
  firebase.json
  ngsw-config.json
  package.json
  src/app/app.routes.server.spec.ts
  src/app/app.routes.server.ts
  src/app/app.routing.module.spec.ts
  src/app/app.routing.module.ts
  src/app/app.server.providers.ts
  src/app/components/public-pricing/public-pricing.component.spec.ts
  src/app/components/public-pricing/public-pricing.component.ts
  src/app/resolvers/lazy-route.resolver.spec.ts
  src/app/resolvers/lazy-route.resolver.ts
  src/app/resolvers/public-pricing-json-ld.resolver.spec.ts
  src/app/resolvers/public-pricing-json-ld.resolver.ts
  src/app/services/app.payment.service.spec.ts
  src/app/services/app.payment.service.ts
  src/app/services/pricing-product-catalog.ts
  src/app/services/public-pricing-catalog.service.spec.ts
  src/app/services/public-pricing-catalog.service.ts
  src/app/services/public-pricing-catalog.store.spec.ts
  src/app/services/public-pricing-catalog.store.ts
  src/app/services/public-pricing-snapshot.spec.ts
  src/app/services/public-pricing-snapshot.ts
  src/firebase-hosting.config.spec.ts
  src/sitemap.xml
  tools/generate-public-pricing-snapshot.mjs
  tools/generate-public-pricing-snapshot.test.mjs
  tools/verify-public-initial-output.mjs
Due: lint-angular

feat: add route-specific social preview cards
  src/app/app.routing.module.ts
  src/app/components/features/supported-activities-page.content.ts
  src/app/components/features/workout-data-comparison-page.content.ts
  src/app/components/integrations/integration-pages.content.ts
  src/app/components/public-seo/public-seo-pages.content.ts
  src/app/services/seo.service.spec.ts
  src/app/services/seo.service.ts
  src/app/shared/social-image-route-data.ts
  src/assets/images/social/activity-map-social-v1.jpg
  src/assets/images/social/integrations-social-v1.jpg
  src/assets/images/social/mcp-server-social-v1.jpg
  src/assets/images/social/training-analysis-social-v1.jpg
  src/assets/images/social/workout-data-comparison-social-v1.jpg
  src/index.html
Due: lint-angular

chore: retire connection projection backfill tooling
  docs/provider-integration-guide.md
  functions/package.json
  functions/src/scripts/backfill-service-connection-account-projections.spec.ts
  functions/src/scripts/backfill-service-connection-account-projections.ts
Due: lint-functions

fix: clarify Health priority summary range
  src/app/components/health/health-priority-summary.component.html
  src/app/components/health/health-workspace.component.spec.ts
Due: lint-angular

fix: tighten Health display rendering
  shared/sports-lib-health-data.ts
  src/app/components/health/health-metric-chart.component.html
  src/app/components/health/health-metric-chart.component.ts
  src/app/components/health/health-metric-series-chart.component.spec.ts
  src/app/helpers/health-metric-chart.helper.spec.ts
  src/app/helpers/health-metric-chart.helper.ts
Due: lint-angular

fix: honor Health unit preferences
  shared/sports-lib-health-data.ts
  shared/unit-aware-display.ts
  src/app/components/health/health-metric-chart.component.html
  src/app/components/health/health-metric-chart.component.spec.ts
  src/app/components/health/health-metric-chart.component.ts
  src/app/components/health/health-metric-series-chart.component.ts
  src/app/components/health/health-workspace.component.html
  src/app/components/health/health-workspace.component.spec.ts
  src/app/components/health/health-workspace.component.ts
  src/app/helpers/health-metric-chart.helper.spec.ts
  src/app/helpers/health-metric-chart.helper.ts
  src/app/helpers/health-workspace.helper.spec.ts
  src/app/helpers/health-workspace.helper.ts
  src/app/helpers/unit-aware-display.helper.spec.ts
  src/app/shared/sports-lib-health-data.shared.spec.ts
Due: lint-angular

docs: define metric display formatting boundary
  AGENTS.md
  docs/unified-health-data.md
Due: none

fix: prevent activity icon glyph clipping
  docs/training-workspace.md
  src/app/components/activity-type-icon/activity-type-icon.component.css
  src/app/components/activity-type-icon/activity-type-icon.component.html
  src/app/components/activity-type-icon/activity-type-icon.component.spec.ts
Due: lint-angular

fix: prevent Training selector icon clipping
  docs/training-workspace.md
  src/app/components/training/training-workspace.component.html
  src/app/components/training/training-workspace.component.scss
  src/app/components/training/training-workspace.component.spec.ts
Due: lint-angular

fix: align public SEO indexing
  firebase.json
  src/app/app.routing.module.spec.ts
  src/app/app.routing.module.ts
  src/firebase-hosting.config.spec.ts
  src/index.html
  src/robots.txt
  src/sitemap.xml
Due: lint-angular

fix: align Training sport selector rows
  docs/training-workspace.md
  src/app/components/activity-type-icon/activity-type-icon.component.css
  src/app/components/activity-type-icon/activity-type-icon.component.html
  src/app/components/activity-type-icon/activity-type-icon.component.spec.ts
  src/app/components/training/training-workspace.component.html
  src/app/components/training/training-workspace.component.spec.ts
  src/styles.scss
Due: lint-angular

fix: format Health values with Sports Lib
  shared/sports-lib-health-data.ts
  src/app/components/health/health-metric-chart.component.html
  src/app/components/health/health-metric-chart.component.spec.ts
  src/app/components/health/health-metric-chart.component.ts
  src/app/helpers/health-metric-chart.helper.spec.ts
  src/app/helpers/health-metric-chart.helper.ts
  src/app/helpers/health-workspace.helper.spec.ts
  src/app/helpers/health-workspace.helper.ts
  src/app/shared/sports-lib-health-data.shared.spec.ts
Due: lint-angular

feat: add status page links
  src/app/components/public-footer/public-footer.component.html
  src/app/components/public-footer/public-footer.component.spec.ts
  src/app/components/public-footer/public-footer.component.ts
  src/app/components/sidenav/sidenav.component.html
  src/app/components/sidenav/sidenav.component.spec.ts
  src/app/components/sidenav/sidenav.component.ts
  src/app/shared/status-page-url.ts
Due: lint-angular

fix: remove empty Health connectivity action
  src/app/components/health/health-workspace.component.html
  src/app/components/health/health-workspace.component.spec.ts
Due: lint-angular

fix: keep Health metrics filtered during selection
  src/app/components/health/health-workspace.component.spec.ts
  src/app/components/health/health-workspace.component.ts
Due: lint-angular

fix: simplify status page navigation
  src/app/components/sidenav/sidenav.component.html
  src/app/components/sidenav/sidenav.component.spec.ts
  src/app/components/sidenav/sidenav.component.ts
Due: lint-angular

fix: remove sidenav source code link
  src/app/components/sidenav/sidenav.component.html
  src/app/components/sidenav/sidenav.component.spec.ts
  src/app/components/sidenav/sidenav.component.ts
Due: lint-angular

fix: align Training selector viewport
  docs/training-workspace.md
  src/app/components/training/training-workspace.component.html
  src/app/components/training/training-workspace.component.spec.ts
  src/app/components/training/training-workspace.component.ts
Due: lint-angular

fix: scope Health sleep to selected dates
  src/app/components/health/health-workspace.component.spec.ts
  src/app/components/health/health-workspace.component.ts
  src/app/helpers/dashboard-sleep-chart.helper.ts
Due: lint-angular

fix: clarify Health day navigation
  src/app/components/health/health-workspace.component.html
  src/app/components/health/health-workspace.component.spec.ts
  src/app/components/health/health-workspace.component.ts
  src/app/helpers/health-workspace.helper.spec.ts
  src/app/helpers/health-workspace.helper.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

feat: log Suunto Health provider status
  functions/src/suunto/health-sync.spec.ts
  functions/src/suunto/health-sync.ts
Due: lint-functions

fix: align support footer icon button
  src/app/components/sidenav/sidenav.component.scss
Due: none

fix: use native Training option icons
  docs/training-workspace.md
  src/app/components/activity-type-icon/activity-type-icon.component.spec.ts
  src/app/components/activity-type-icon/activity-type-icon.component.ts
  src/app/components/training/training-workspace.component.html
  src/app/components/training/training-workspace.component.scss
  src/app/components/training/training-workspace.component.spec.ts
  src/app/components/training/training-workspace.component.ts
  src/app/helpers/activity-type-presentation.helper.ts
  src/styles.scss
Due: lint-angular

Path conditions:
  lint-functions: any of: **/*.{ts,js} and ^functions/
  lint-angular: any of: {src/*.{ts,html},src/**/*.{ts,html}}
