Repository jimmykane/quantified-self: changes, and which lefthook commands are due for each by the changed paths.
All: lint-functions, lint-angular

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint-functions:
      root: "functions"
      glob: "**/*.{ts,js}"
      run: npx eslint {staged_files} --fix && git add {staged_files}
    lint-angular:
      glob: "{src/*.{ts,html},src/**/*.{ts,html}}"
      run: ESLINT_USE_FLAT_CONFIG=false npx eslint {staged_files} --fix && git add {staged_files}

chore: update sports-lib to 21.2.2
  docs/provider-integration-guide.md
  docs/training-workspace.md
  functions/package-lock.json
  functions/package.json
  package-lock.json
  package.json
Due: none

test: serialize training delivery emulator suite
  docs/training-workspace.md
  package.json
Due: none

fix: update sports-lib to 21.2.3
  docs/provider-integration-guide.md
  docs/training-workspace.md
  functions/package-lock.json
  functions/package.json
  package-lock.json
  package.json
Due: none

fix: preserve Wahoo delivery across time-zone edits and recovery
  docs/training-workspace.md
  functions/src/OAuth2.spec.ts
  functions/src/mcp/training-plans.service.spec.ts
  functions/src/training-plans/delivery/contracts.ts
  functions/src/training-plans/delivery/intent.spec.ts
  functions/src/training-plans/delivery/intent.ts
  functions/src/training-plans/delivery/wahoo/transport.spec.ts
  functions/src/training-plans/delivery/wahoo/transport.ts
  functions/src/training-plans/delivery/wahoo/worker.emulator.spec.ts
Due: lint-functions

docs: align Wahoo rollout proof and OAuth scope decisions
  docs/provider-integration-guide.md
Due: none

feat: link Wahoo activities to planned workouts
  docs/mcp-server.md
  docs/provider-integration-guide.md
  docs/training-workspace.md
  docs/wahoo-integration.md
  functions/src/events/cleanup.spec.ts
  functions/src/events/cleanup.ts
  functions/src/mcp/training-plans.service.spec.ts
  functions/src/queue/queue-item.interface.ts
  functions/src/wahoo/processor.spec.ts
  functions/src/wahoo/processor.ts
  functions/src/wahoo/queue-store.spec.ts
  functions/src/wahoo/queue-store.ts
  functions/src/wahoo/training-completion.emulator.spec.ts
  functions/src/wahoo/training-completion.ts
  functions/src/wahoo/workout-payload.spec.ts
  functions/src/wahoo/workout-payload.ts
  shared/planned-workout-providers.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

test: align Wahoo pilot readiness expectation
  src/app/services/training-delivery.service.spec.ts
Due: lint-angular

fix: validate Wahoo completion identities
  functions/src/wahoo/training-completion.emulator.spec.ts
  functions/src/wahoo/training-completion.ts
Due: lint-functions

fix: harden MCP training confirmations
  functions/src/assistant/callable.spec.ts
  functions/src/assistant/callable.ts
  functions/src/mcp/training-plans-write.emulator.spec.ts
  functions/src/mcp/training-plans-write.service.ts
  functions/src/training-plans/delivery/commands.ts
  functions/src/training-plans/delivery/delivery.emulator.spec.ts
  functions/src/training-plans/persistence.spec.ts
  functions/src/training-plans/persistence.ts
Due: lint-functions

fix: raise memory for observed function OOMs
  functions/src/admin/handlers/maintenance.handlers.ts
  functions/src/health/manual-callable.ts
  functions/src/mcp/callables.ts
  functions/src/schedule/notifications.ts
  functions/src/stripe/claims.ts
  functions/src/suunto/health-availability.ts
Due: lint-functions

test: align MCP write boundary assertions
  src/app/components/home/home.component.spec.ts
  src/app/components/public-seo/public-seo-page.component.spec.ts
Due: lint-angular

fix: clarify mixed VO2 source labels
  src/app/helpers/health-workspace.helper.spec.ts
  src/app/helpers/health-workspace.helper.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: prevent health source label collisions
  src/app/helpers/dashboard-health-context.helper.spec.ts
  src/app/helpers/dashboard-health-context.helper.ts
  src/app/helpers/health-workspace.helper.spec.ts
  src/app/helpers/health-workspace.helper.ts
Due: lint-angular

test: couple MCP to workout recipe variants
  .agent/skills/mcp-metric-surface/SKILL.md
  docs/mcp-server.md
  docs/training-workspace.md
  functions/src/mcp/contracts/pending-change.json
  functions/src/mcp/server.spec.ts
  functions/src/mcp/server.ts
  functions/src/mcp/training-plans.schemas.spec.ts
  functions/src/mcp/training-plans.schemas.ts
  plugins/quantified-self/skills/analyze-quantified-self-training/SKILL.md
Due: lint-functions

refactor: isolate Suunto function entrypoints
  README.md
  docs/functions-entrypoint-loading.md
  functions/package.json
  functions/src/bootstrap.spec.ts
  functions/src/bootstrap.ts
  functions/src/firebase-admin-initialization.spec.ts
  functions/src/full-entrypoint.ts
  functions/src/function-target-loader.spec.ts
  functions/src/function-target-loader.ts
  functions/src/index.ts
  functions/src/scripts/benchmark-entrypoint.ts
  functions/src/scripts/check-entrypoint-loading.ts
Due: lint-functions

fix: clarify MCP Training permission recovery
  docs/mcp-server.md
  docs/training-workspace.md
  plugins/quantified-self/skills/analyze-quantified-self-activity/SKILL.md
  plugins/quantified-self/skills/analyze-quantified-self-training/SKILL.md
  plugins/quantified-self/skills/analyze-quantified-self/SKILL.md
  src/app/components/mcp-connections/mcp-connections.component.html
  src/app/components/mcp-connections/mcp-connections.component.scss
  src/app/components/mcp-connections/mcp-connections.component.spec.ts
  src/app/components/mcp-connections/mcp-connections.component.ts
  src/app/components/public-seo/public-seo-page.component.spec.ts
  src/app/components/public-seo/public-seo-pages.content.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: clarify MCP Training permission recovery (#721)
  docs/mcp-server.md
  docs/training-workspace.md
  plugins/quantified-self/skills/analyze-quantified-self-activity/SKILL.md
  plugins/quantified-self/skills/analyze-quantified-self-training/SKILL.md
  plugins/quantified-self/skills/analyze-quantified-self/SKILL.md
  src/app/components/mcp-connections/mcp-connections.component.html
  src/app/components/mcp-connections/mcp-connections.component.scss
  src/app/components/mcp-connections/mcp-connections.component.spec.ts
  src/app/components/mcp-connections/mcp-connections.component.ts
  src/app/components/public-seo/public-seo-page.component.spec.ts
  src/app/components/public-seo/public-seo-pages.content.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: protect Firebase function discovery
  docs/functions-entrypoint-loading.md
  functions/src/function-target-loader.spec.ts
  functions/src/function-target-loader.ts
  functions/src/index.ts
  functions/src/scripts/benchmark-entrypoint.ts
  functions/src/scripts/check-entrypoint-loading.ts
Due: lint-functions

fix: clarify completed workout delivery states
  docs/mcp-server.md
  docs/provider-integration-guide.md
  docs/training-workspace.md
  functions/src/mcp/training-plans.service.spec.ts
  functions/src/mcp/training-plans.service.ts
  shared/training-delivery-summary.ts
  src/app/components/plans/plans-workspace.component.html
  src/app/components/plans/training-delivery-button.component.ts
  src/app/components/plans/training-delivery-dialog.component.html
  src/app/components/plans/training-delivery-dialog.component.spec.ts
  src/app/components/plans/training-delivery-dialog.component.ts
  src/app/helpers/training-delivery-display.helper.ts
  src/app/helpers/training-delivery-summary.helper.spec.ts
  src/app/helpers/training-verification-display.helper.spec.ts
  src/app/helpers/training-verification-display.helper.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

fix: simplify training provider sync navigation
  docs/mcp-server.md
  docs/provider-integration-guide.md
  docs/training-workspace.md
  src/app/components/plans/training-delivery-button.component.html
  src/app/components/plans/training-delivery-button.component.scss
  src/app/components/plans/training-delivery-button.component.spec.ts
  src/app/components/plans/training-delivery-button.component.ts
  src/app/components/plans/training-delivery-dialog.component.html
  src/app/components/plans/training-delivery-dialog.component.scss
  src/app/components/plans/training-delivery-dialog.component.spec.ts
  src/app/components/plans/training-delivery-dialog.component.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

docs: correct function registry guidance
  docs/functions-entrypoint-loading.md
  docs/provider-integration-guide.md
  functions/src/reparse/SPORTS_LIB_REPARSE_RUNBOOK.md
Due: none

fix: classify Wahoo plan rejections safely
  docs/training-workspace.md
  docs/wahoo-integration.md
  functions/src/training-plans/delivery/contracts.spec.ts
  functions/src/training-plans/delivery/contracts.ts
  functions/src/training-plans/delivery/wahoo/http.spec.ts
  functions/src/training-plans/delivery/wahoo/http.ts
Due: lint-functions

test: enforce function entrypoint contract
  .github/workflows/_run-tests.yml
  docs/functions-entrypoint-loading.md
  firebase.json
  functions/package.json
Due: none

test: cover entrypoint predeploy gate
  functions/src/deployment-secret-safety.spec.ts
Due: lint-functions

fix: include Wahoo plan descriptions
  docs/training-workspace.md
  docs/wahoo-integration.md
  functions/src/training-plans/delivery/contracts.ts
  functions/src/training-plans/delivery/wahoo/http.spec.ts
  functions/src/training-plans/delivery/wahoo/http.ts
  functions/src/training-plans/delivery/wahoo/mapping.spec.ts
  functions/src/training-plans/delivery/wahoo/mapping.ts
Due: lint-functions

fix: include empty Wahoo target arrays
  docs/training-workspace.md
  docs/wahoo-integration.md
  functions/src/training-plans/delivery/wahoo/mapping.spec.ts
  functions/src/training-plans/delivery/wahoo/mapping.ts
  functions/src/training-plans/providers/wahoo-plan.serializer.ts
Due: lint-functions

fix: validate function source before entrypoint
  docs/functions-entrypoint-loading.md
  firebase.json
  functions/src/deployment-secret-safety.spec.ts
Due: lint-functions

fix: provide neutral Wahoo interval targets
  docs/training-workspace.md
  docs/wahoo-integration.md
  functions/src/training-plans/delivery/wahoo/http.spec.ts
  functions/src/training-plans/delivery/wahoo/mapping.spec.ts
  functions/src/training-plans/delivery/wahoo/mapping.ts
  functions/src/training-plans/providers/wahoo-plan.serializer.ts
Due: lint-functions

fix: accept Wahoo timestamp precision
  docs/training-workspace.md
  functions/src/training-plans/delivery/wahoo/transport.spec.ts
  functions/src/training-plans/delivery/wahoo/transport.ts
Due: lint-functions

feat: simplify training provider sync navigation
  docs/mcp-server.md
  docs/provider-integration-guide.md
  docs/training-workspace.md
  src/app/components/plans/training-delivery-dialog.component.html
  src/app/components/plans/training-delivery-dialog.component.scss
  src/app/components/plans/training-delivery-dialog.component.spec.ts
  src/app/components/plans/training-delivery-dialog.component.ts
  src/app/components/shared/compact-row/compact-row.component.scss
  src/app/components/shared/compact-row/compact-row.component.spec.ts
  src/app/components/shared/compact-row/compact-row.component.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: preserve provider sync navigation focus
  src/app/components/plans/training-delivery-dialog.component.html
  src/app/components/plans/training-delivery-dialog.component.spec.ts
  src/app/components/plans/training-delivery-dialog.component.ts
Due: lint-angular

refactor: isolate Suunto OAuth function entrypoints (#720)
  .github/workflows/_run-tests.yml
  README.md
  docs/functions-entrypoint-loading.md
  docs/provider-integration-guide.md
  firebase.json
  functions/package.json
  functions/src/bootstrap.spec.ts
  functions/src/bootstrap.ts
  functions/src/deployment-secret-safety.spec.ts
  functions/src/firebase-admin-initialization.spec.ts
  functions/src/full-entrypoint.ts
  functions/src/function-target-loader.spec.ts
  functions/src/function-target-loader.ts
  functions/src/index.ts
  functions/src/reparse/SPORTS_LIB_REPARSE_RUNBOOK.md
  functions/src/scripts/benchmark-entrypoint.ts
  functions/src/scripts/check-entrypoint-loading.ts
Due: lint-functions

fix: compact plan sync summary
  docs/provider-integration-guide.md
  docs/training-workspace.md
  src/app/components/plans/training-delivery-button.component.html
  src/app/components/plans/training-delivery-button.component.scss
  src/app/components/plans/training-delivery-button.component.spec.ts
  src/app/components/plans/training-delivery-button.component.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: refine plan sync accessibility
  docs/provider-integration-guide.md
  docs/training-workspace.md
  src/app/components/plans/training-delivery-button.component.html
  src/app/components/plans/training-delivery-button.component.spec.ts
  src/app/components/plans/training-delivery-button.component.ts
Due: lint-angular

fix: clarify plan sync status
  docs/mcp-server.md
  docs/provider-integration-guide.md
  docs/training-workspace.md
  functions/src/mcp/training-plans.service.spec.ts
  functions/src/mcp/training-plans.service.ts
  shared/training-delivery-summary.ts
  src/app/components/plans/plans-workspace.component.html
  src/app/components/plans/plans-workspace.component.spec.ts
  src/app/components/plans/plans-workspace.component.ts
  src/app/components/plans/training-delivery-button.component.html
  src/app/components/plans/training-delivery-button.component.spec.ts
  src/app/components/plans/training-delivery-button.component.ts
  src/app/components/plans/training-delivery-dialog.component.html
  src/app/components/plans/training-delivery-dialog.component.spec.ts
  src/app/components/plans/training-delivery-dialog.component.ts
  src/app/helpers/training-delivery-display.helper.ts
  src/app/helpers/training-delivery-summary.helper.spec.ts
  src/app/helpers/training-delivery-summary.helper.ts
  src/app/helpers/training-verification-display.helper.spec.ts
  src/app/helpers/training-verification-display.helper.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

chore: bump app version to 10.14.1
  package-lock.json
  package.json
Due: none

fix: raise Garmin disconnect cleanup memory
  functions/src/activity-sync/disconnect-routes.ts
Due: lint-functions

fix: default Garmin history to full window
  docs/garmin-integration.md
  docs/provider-integration-guide.md
  src/app/components/history-import-form/history-import.form.component.html
  src/app/components/history-import-form/history-import.form.component.spec.ts
  src/app/components/history-import-form/history-import.form.component.ts
  src/app/components/integrations/integration-pages.content.spec.ts
  src/app/components/integrations/integration-pages.content.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular
