Repository jimmykane/quantified-self: changes, and which lefthook commands are due for each by the changed paths.
All: lint-functions, lint-angular

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint-functions:
      root: "functions"
      glob: "**/*.{ts,js}"
      run: npx eslint {staged_files} --fix && git add {staged_files}
    lint-angular:
      glob: "{src/*.{ts,html},src/**/*.{ts,html}}"
      run: ESLINT_USE_FLAT_CONFIG=false npx eslint {staged_files} --fix && git add {staged_files}

fix: preserve GPX route titles for Wahoo
  functions/src/wahoo/routes.spec.ts
  functions/src/wahoo/routes.ts
Due: lint-functions

feat: support GPX and FIT route delivery
  docs/provider-integration-guide.md
  functions/src/garmin/manual-route-upload.ts
  functions/src/garmin/routes.spec.ts
  functions/src/garmin/routes.ts
  functions/src/index.ts
  functions/src/routes/manual-route-upload.spec.ts
  functions/src/routes/manual-route-upload.ts
  functions/src/suunto/routes.spec.ts
  functions/src/suunto/routes.ts
  functions/src/wahoo/routes.ts
  shared/functions-manifest.ts
  src/app/components/integrations/integration-pages.content.spec.ts
  src/app/components/integrations/integration-pages.content.ts
  src/app/components/integrations/provider-integration-page.component.spec.ts
  src/app/components/services/garmin/services.garmin.component.html
  src/app/components/services/garmin/services.garmin.component.spec.ts
  src/app/components/services/garmin/services.garmin.component.ts
  src/app/components/services/services.component.spec.ts
  src/app/components/services/services.component.ts
  src/app/components/services/suunto/services.suunto.component.html
  src/app/components/upload/upload-routes-to-service/upload-routes-to-service.component.spec.ts
  src/app/components/upload/upload-routes-to-service/upload-routes-to-service.component.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/app/shared/policies.content.spec.ts
  src/app/shared/policies.content.ts
Due: lint-functions, lint-angular

feat: show typical sleep windows
  docs/training-workspace.md
  functions/src/derived-metrics/derived-metrics.service.spec.ts
  functions/src/derived-metrics/derived-metrics.service.ts
  shared/derived-metrics.ts
  src/app/components/training/training-workspace.component.spec.ts
  src/app/components/training/training-workspace.component.ts
  src/app/helpers/dashboard-derived-metrics.helper.spec.ts
  src/app/helpers/dashboard-derived-metrics.helper.ts
Due: lint-functions, lint-angular

fix: harden manual Suunto route uploads
  docs/provider-integration-guide.md
  functions/src/routes/route-processing.ts
  functions/src/suunto/routes.spec.ts
  functions/src/suunto/routes.ts
Due: lint-functions

fix: clarify benchmark event references
  docs/training-workspace.md
  src/app/components/training/training-workspace.component.html
  src/app/components/training/training-workspace.component.scss
  src/app/components/training/training-workspace.component.spec.ts
Due: lint-angular

fix: harden manual route delivery
  docs/provider-integration-guide.md
  functions/src/OAuth2.spec.ts
  functions/src/garmin/manual-route-upload.spec.ts
  functions/src/routes/manual-route-upload.spec.ts
  functions/src/routes/manual-route-upload.ts
  functions/src/suunto/routes.multi-account.spec.ts
  functions/src/suunto/routes.spec.ts
  functions/src/suunto/routes.ts
  functions/src/test-setup.ts
Due: lint-functions

fix: recover from mismatched magic link email
  src/app/authentication/app.auth.service.spec.ts
  src/app/authentication/app.auth.service.ts
  src/app/components/login/login.component.spec.ts
  src/app/components/login/login.component.ts
Due: lint-angular

fix: reduce expected auth error noise
  src/app/authentication/app.auth.service.spec.ts
  src/app/authentication/app.auth.service.ts
  src/app/components/login/login.component.spec.ts
  src/app/components/login/login.component.ts
Due: lint-angular

feat: clarify training insights
  docs/training-workspace.md
  src/app/components/training/training-durability-trajectory-chart.component.spec.ts
  src/app/components/training/training-durability-trajectory-chart.component.ts
  src/app/components/training/training-swim-performance-chart.component.html
  src/app/components/training/training-swim-performance-chart.component.scss
  src/app/components/training/training-swim-performance-chart.component.spec.ts
  src/app/components/training/training-swim-performance-chart.component.ts
  src/app/components/training/training-workspace.component.html
  src/app/components/training/training-workspace.component.scss
  src/app/components/training/training-workspace.component.spec.ts
  src/app/components/training/training-workspace.component.ts
  src/app/helpers/training-analysis.helper.spec.ts
  src/app/helpers/training-analysis.helper.ts
  src/app/helpers/training-capacity.helper.spec.ts
  src/app/helpers/training-capacity.helper.ts
  src/app/helpers/training-card-guidance.helper.spec.ts
  src/app/helpers/training-card-guidance.helper.ts
  src/app/helpers/training-durability-view.helper.spec.ts
  src/app/helpers/training-durability-view.helper.ts
  src/app/helpers/training-explanation-view.helper.spec.ts
  src/app/helpers/training-explanation-view.helper.ts
  src/app/helpers/training-metric-text.helper.spec.ts
  src/app/helpers/training-metric-text.helper.ts
  src/app/helpers/training-power-profile.helper.spec.ts
  src/app/helpers/training-power-profile.helper.ts
  src/app/helpers/training-readiness.helper.spec.ts
  src/app/helpers/training-readiness.helper.ts
  src/app/helpers/training-sport-visibility.helper.spec.ts
  src/app/helpers/training-sport-visibility.helper.ts
  src/app/helpers/training-swim-performance.helper.spec.ts
  src/app/helpers/training-swim-performance.helper.ts
Due: lint-angular

feat: deliver saved Suunto routes to Wahoo
  docs/provider-integration-guide.md
  docs/wahoo-integration.md
  functions/src/activity-sync/disconnect-routes.spec.ts
  functions/src/route-delivery-sync/allowlist.spec.ts
  functions/src/route-delivery-sync/enqueue-imported-route.spec.ts
  functions/src/routes/route-send-core.ts
  functions/src/routes/send-routes-to-service.spec.ts
  functions/src/scripts/recover-suunto-outage.ts
  functions/src/wahoo/routes.spec.ts
  functions/src/wahoo/routes.ts
  shared/route-delivery-sync-rollout.ts
  shared/route-delivery-sync-routes.ts
  src/app/app.routing.module.ts
  src/app/components/integrations/integration-pages.content.spec.ts
  src/app/components/integrations/integration-pages.content.ts
  src/app/components/services/suunto/services.suunto.component.html
  src/app/components/services/suunto/services.suunto.component.spec.ts
  src/app/components/services/suunto/services.suunto.component.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/app/shared/policies.content.spec.ts
  src/app/shared/policies.content.ts
Due: lint-functions, lint-angular

feat: show enabled service sync routes
  src/app/components/services/services.component.html
  src/app/components/services/services.component.scss
  src/app/components/services/services.component.spec.ts
  src/app/components/services/services.component.ts
Due: lint-angular

feat: send saved routes to wahoo
  src/app/components/routes/routes-page.component.html
  src/app/components/routes/routes-page.component.spec.ts
  src/app/components/routes/routes-page.component.ts
  src/app/helpers/route-provenance.helper.spec.ts
  src/app/helpers/route-provenance.helper.ts
  src/app/services/app.route-send.service.spec.ts
  src/app/services/app.route-send.service.ts
Due: lint-angular

fix: improve admin dashboard mobile layout
  src/app/components/admin/admin-dashboard/admin-dashboard.component.html
  src/app/components/admin/admin-dashboard/admin-dashboard.component.scss
  src/app/components/admin/admin-dashboard/admin-dashboard.component.spec.ts
  src/app/components/admin/admin-dashboard/admin-dashboard.component.ts
Due: lint-angular

fix: flatten service sync summary
  src/app/components/services/services.component.html
  src/app/components/services/services.component.scss
  src/app/components/services/services.component.spec.ts
Due: lint-angular

fix: prompt Wahoo route reconnect
  src/app/components/integrations/integration-pages.content.spec.ts
  src/app/components/integrations/integration-pages.content.ts
  src/app/components/routes/routes-page.component.spec.ts
  src/app/components/routes/routes-page.component.ts
  src/app/components/upload/upload-abstract.directive.ts
  src/app/components/upload/upload-routes-to-service/upload-routes-to-service.component.css
  src/app/components/upload/upload-routes-to-service/upload-routes-to-service.component.html
  src/app/components/upload/upload-routes-to-service/upload-routes-to-service.component.spec.ts
  src/app/components/upload/upload-routes-to-service/upload-routes-to-service.component.ts
  src/app/components/wahoo-route-access-reconnect-dialog/wahoo-route-access-reconnect-dialog.component.html
  src/app/components/wahoo-route-access-reconnect-dialog/wahoo-route-access-reconnect-dialog.component.scss
  src/app/components/wahoo-route-access-reconnect-dialog/wahoo-route-access-reconnect-dialog.component.spec.ts
  src/app/components/wahoo-route-access-reconnect-dialog/wahoo-route-access-reconnect-dialog.component.ts
  src/app/helpers/wahoo-route-access.helper.spec.ts
  src/app/helpers/wahoo-route-access.helper.ts
  src/app/services/app.route-send.service.ts
  src/app/services/upload-error.spec.ts
  src/app/services/upload-error.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

test: update help route metadata expectation
  src/app/app.routing.module.spec.ts
Due: lint-angular

chore: bv
  package.json
Due: none

fix: skip Wahoo sync during account deletion
  functions/src/activity-sync/process-queue-item.spec.ts
  functions/src/activity-sync/process-queue-item.ts
Due: lint-functions

feat: enable Wahoo connections for all users
  src/app/components/services/services.component.html
  src/app/components/services/services.component.spec.ts
  src/app/components/services/services.component.ts
Due: lint-angular

feat: mark training as new
  src/app/components/sidenav/sidenav.component.html
  src/app/components/sidenav/sidenav.component.spec.ts
Due: lint-angular

feat: share training state in dashboard today
  docs/training-workspace.md
  src/app/components/summaries/summaries.component.css
  src/app/components/summaries/summaries.component.html
  src/app/components/summaries/summaries.component.spec.ts
  src/app/components/summaries/summaries.component.ts
  src/app/components/training/training-workspace.component.ts
  src/app/helpers/current-training-state.helper.spec.ts
  src/app/helpers/current-training-state.helper.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: open profile settings from sidenav
  src/app/components/sidenav/sidenav.component.html
  src/app/components/sidenav/sidenav.component.spec.ts
  src/app/components/user-settings/user-settings.component.spec.ts
  src/app/components/user-settings/user-settings.component.ts
Due: lint-angular

fix: place settings heading above navigation
  src/app/components/user-settings/user-settings.component.html
  src/app/components/user-settings/user-settings.component.spec.ts
Due: lint-angular

fix: group deletion under account settings
  src/app/components/user-settings/user-settings.component.html
  src/app/components/user-settings/user-settings.component.spec.ts
  src/app/components/user-settings/user-settings.component.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: remove pro labels from connections
  src/app/components/services/services.component.spec.ts
  src/app/components/services/services.component.ts
Due: lint-angular

fix: remove account danger zone wrapper
  src/app/components/user-settings/user-settings.component.html
  src/app/components/user-settings/user-settings.component.spec.ts
Due: lint-angular

test: stabilize subscription cancellation email fixture
  functions/src/stripe/email-triggers.spec.ts
Due: lint-functions

fix: harden Wahoo ownership and upload polling
  functions/src/OAuth2.spec.ts
  functions/src/OAuth2.ts
  functions/src/auth/ServiceAuthAdapter.ts
  functions/src/service-auth-lifecycle.spec.ts
  functions/src/service-auth-lifecycle.ts
  functions/src/service-token-store.ts
  functions/src/wahoo/auth/adapter.spec.ts
  functions/src/wahoo/auth/adapter.ts
  src/app/components/upload/upload-activities-to-service/upload-activities-to-service.component.spec.ts
  src/app/components/upload/upload-activities-to-service/upload-activities-to-service.component.ts
Due: lint-functions, lint-angular

chore: bump sl
  functions/package-lock.json
  functions/package.json
  package-lock.json
  package.json
Due: none

fix: prevent stale Wahoo ownership writes
  functions/src/wahoo/auth/adapter.spec.ts
  functions/src/wahoo/auth/adapter.ts
  functions/src/wahoo/processor.spec.ts
  functions/src/wahoo/queue-store.spec.ts
  functions/src/wahoo/queue-store.ts
Due: lint-functions

test: remove Wahoo ownership lint warnings
  functions/src/wahoo/auth/adapter.spec.ts
  functions/src/wahoo/queue-store.spec.ts
Due: lint-functions

fix: fence Wahoo event writes by ownership
  functions/src/shared/event-writer.spec.ts
  functions/src/shared/event-writer.ts
  functions/src/utils-usage.spec.ts
  functions/src/utils.ts
  functions/src/wahoo/processor.spec.ts
  functions/src/wahoo/processor.ts
  functions/src/wahoo/queue-store.spec.ts
  functions/src/wahoo/queue-store.ts
Due: lint-functions

fix: stage Wahoo FIT uploads behind ownership fence
  functions/src/utils-usage.spec.ts
  functions/src/utils.ts
  functions/src/wahoo/processor.spec.ts
  functions/src/wahoo/processor.ts
Due: lint-functions

fix: serialize Wahoo ownership publication
  docs/provider-integration-guide.md
  docs/wahoo-integration.md
  functions/src/wahoo/auth/adapter.spec.ts
  functions/src/wahoo/auth/adapter.ts
  functions/src/wahoo/processor.spec.ts
  functions/src/wahoo/processor.ts
  functions/src/wahoo/queue-store.spec.ts
  functions/src/wahoo/queue-store.ts
Due: lint-functions

fix: scope Wahoo rejected-write cleanup
  docs/wahoo-integration.md
  functions/src/shared/event-writer.spec.ts
  functions/src/shared/event-writer.ts
  functions/src/utils-usage.spec.ts
  functions/src/utils.ts
  functions/src/wahoo/processor.spec.ts
  functions/src/wahoo/processor.ts
  functions/src/wahoo/queue-store.spec.ts
  functions/src/wahoo/queue-store.ts
Due: lint-functions

feat: improve connection data flow controls
  src/app/components/services/activity-sync-route-control/activity-sync-route-control.component.css
  src/app/components/services/activity-sync-route-control/activity-sync-route-control.component.html
  src/app/components/services/activity-sync-route-control/activity-sync-route-control.component.spec.ts
  src/app/components/services/activity-sync-route-control/activity-sync-route-control.component.ts
  src/app/components/services/coros/services.coros.component.html
  src/app/components/services/coros/services.coros.component.spec.ts
  src/app/components/services/coros/services.coros.component.ts
  src/app/components/services/garmin/services.garmin.component.html
  src/app/components/services/garmin/services.garmin.component.spec.ts
  src/app/components/services/garmin/services.garmin.component.ts
  src/app/components/services/services-abstract-component.directive.scss
  src/app/components/services/services.component.html
  src/app/components/services/services.component.scss
  src/app/components/services/services.component.spec.ts
  src/app/components/services/services.component.ts
  src/app/components/services/suunto/services.suunto.component.html
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: surface Wahoo transfer retry guidance
  functions/src/wahoo/auth/wrapper.spec.ts
  functions/src/wahoo/auth/wrapper.ts
Due: lint-functions

fix: simplify data flow route controls
  src/app/components/services/services.component.html
  src/app/components/services/services.component.scss
Due: lint-angular

fix: show all mobile service providers
  src/app/components/services/services.component.html
  src/app/components/services/services.component.scss
  src/app/components/services/services.component.spec.ts
Due: lint-angular

fix: separate data flow route labels
  src/app/components/services/services.component.html
  src/app/components/services/services.component.scss
  src/app/components/services/services.component.spec.ts
Due: lint-angular
