Repository jimmykane/quantified-self: changes, and which lefthook commands are due for each by the changed paths.
All: lint-functions, lint-angular

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint-functions:
      root: "functions"
      glob: "**/*.{ts,js}"
      run: npx eslint {staged_files} --fix && git add {staged_files}
    lint-angular:
      glob: "{src/*.{ts,html},src/**/*.{ts,html}}"
      run: ESLINT_USE_FLAT_CONFIG=false npx eslint {staged_files} --fix && git add {staged_files}

Show no-overlap benchmark failures in compare table
  src/app/components/tools/tools-compare-page.component.html
  src/app/components/tools/tools-compare-page.component.scss
  src/app/components/tools/tools-compare-page.component.spec.ts
  src/app/components/tools/tools-compare-page.component.ts
  src/app/services/app.benchmark-flow.service.spec.ts
  src/app/services/app.benchmark-flow.service.ts
Due: lint-angular

chore: remove from index
  firebase.json
  src/firebase-hosting.config.spec.ts
Due: lint-angular

Improve compare table mobile tooltip handling
  src/app/components/tools/tools-compare-page.component.html
  src/app/components/tools/tools-compare-page.component.spec.ts
  src/app/components/tools/tools-compare-page.component.ts
Due: lint-angular

Fix route quota reservation race
  functions/src/routes/cleanup.spec.ts
  functions/src/routes/cleanup.ts
  functions/src/routes/upload-route.spec.ts
  functions/src/routes/upload-route.ts
Due: lint-functions

Align sports-lib reparse target with runtime
  functions/src/reparse/sports-lib-reparse.config.ts
  functions/src/schedule/sports-lib-reparse.spec.ts
  functions/src/shared/sports-lib-version.node.spec.ts
Due: lint-functions

Add route analytics and SEO page
  src/app/app.routes.server.spec.ts
  src/app/app.routes.server.ts
  src/app/app.routing.module.spec.ts
  src/app/app.routing.module.ts
  src/app/components/public-seo/public-seo-pages.content.spec.ts
  src/app/components/public-seo/public-seo-pages.content.ts
  src/app/components/routes/routes-page.component.spec.ts
  src/app/components/routes/routes-page.component.ts
  src/app/components/upload/upload-routes/upload-routes.component.spec.ts
  src/app/components/upload/upload-routes/upload-routes.component.ts
  src/app/services/app.analytics.service.spec.ts
  src/app/services/app.analytics.service.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/app/shared/public-startup-route.ts
  src/robots.txt
  src/sitemap.xml
Due: lint-angular

chore: PR fixes
  functions/src/routes/cleanup.spec.ts
  functions/src/routes/cleanup.ts
  functions/src/routes/upload-route.spec.ts
  functions/src/routes/upload-route.ts
Due: lint-functions

Harden route upload and cleanup
  functions/src/routes/cleanup.spec.ts
  functions/src/routes/cleanup.ts
  functions/src/routes/upload-route.spec.ts
  functions/src/routes/upload-route.ts
Due: lint-functions

Fix route upload duplicate edge cases
  functions/src/routes/upload-route.spec.ts
  functions/src/routes/upload-route.ts
  functions/src/shared/route-writer.spec.ts
  functions/src/shared/route-writer.ts
  src/app/components/routes/routes-page.component.html
  src/app/components/routes/routes-page.component.spec.ts
  src/app/components/routes/routes-page.component.ts
Due: lint-functions, lint-angular

Render confirmation messages as plain text
  src/app/components/confirmation-dialog/confirmation-dialog.component.html
  src/app/components/confirmation-dialog/confirmation-dialog.component.spec.ts
  src/app/components/confirmation-dialog/confirmation-dialog.component.ts
  src/app/components/routes/routes-page.component.spec.ts
  src/app/components/routes/routes-page.component.ts
  src/app/components/services/services-abstract-component.directive.ts
Due: lint-angular

Show saved routes in a stats table
  functions/src/shared/route-writer.spec.ts
  functions/src/shared/route-writer.ts
  src/app/components/routes/routes-page.component.html
  src/app/components/routes/routes-page.component.scss
  src/app/components/routes/routes-page.component.spec.ts
  src/app/components/routes/routes-page.component.ts
Due: lint-functions, lint-angular

Fix route waypoint marker artifacts
  src/app/components/routes/route-map/route-map.component.ts
  src/app/services/map/marker-factory.service.spec.ts
  src/app/services/map/marker-factory.service.ts
Due: lint-angular

Add route name editing
  firestore.rules
  src/app/components/routes/route-detail/route-detail.component.html
  src/app/components/routes/route-detail/route-detail.component.spec.ts
  src/app/components/routes/route-detail/route-detail.component.ts
  src/app/components/routes/route-name-dialog/route-name-dialog.component.html
  src/app/components/routes/route-name-dialog/route-name-dialog.component.scss
  src/app/components/routes/route-name-dialog/route-name-dialog.component.spec.ts
  src/app/components/routes/route-name-dialog/route-name-dialog.component.ts
  src/app/helpers/route-name.helper.ts
  src/app/services/app.analytics.service.ts
  src/app/services/app.route.service.spec.ts
  src/app/services/app.route.service.ts
  src/firestore.rules.spec.ts
Due: lint-angular

Fix route summary mobile layout
  src/app/components/routes/route-detail/route-detail.component.scss
  src/app/components/routes/route-detail/route-detail.component.spec.ts
  src/app/components/shared/hero-metrics/hero-metrics.component.scss
  src/app/components/shared/summary-primary-info/summary-primary-info.component.scss
  src/app/components/shared/summary-primary-info/summary-primary-info.component.spec.ts
Due: lint-angular

Improve route detail layout
  src/app/components/routes/route-detail/route-detail.component.html
  src/app/components/routes/route-detail/route-detail.component.scss
  src/app/components/routes/route-detail/route-detail.component.spec.ts
  src/app/components/routes/route-detail/route-detail.component.ts
Due: lint-angular

Improve route upload errors and table spacing
  functions/src/routes/upload-route.spec.ts
  functions/src/routes/upload-route.ts
  src/app/components/routes/route-detail/route-detail.component.html
  src/app/components/routes/route-detail/route-detail.component.scss
  src/app/components/routes/route-detail/route-detail.component.spec.ts
  src/app/components/upload/upload-routes/upload-routes.component.spec.ts
  src/app/components/upload/upload-routes/upload-routes.component.ts
  src/app/services/app.route-upload.service.spec.ts
  src/app/services/app.route-upload.service.ts
Due: lint-functions, lint-angular

Refine route table interactions
  src/app/components/routes/route-detail/route-detail.component.html
  src/app/components/routes/route-detail/route-detail.component.spec.ts
  src/app/components/routes/route-detail/route-detail.component.ts
  src/app/components/routes/routes-page.component.html
  src/app/components/routes/routes-page.component.scss
  src/app/components/routes/routes-page.component.spec.ts
  src/app/components/routes/routes-page.component.ts
Due: lint-angular

Show single route segment metadata
  src/app/components/routes/route-detail/route-detail.component.html
  src/app/components/routes/route-detail/route-detail.component.scss
  src/app/components/routes/route-detail/route-detail.component.spec.ts
  src/app/components/routes/route-detail/route-detail.component.ts
Due: lint-angular

Add route table filters
  src/app/components/routes/routes-page.component.html
  src/app/components/routes/routes-page.component.scss
  src/app/components/routes/routes-page.component.spec.ts
  src/app/components/routes/routes-page.component.ts
  src/app/services/app.analytics.service.spec.ts
  src/app/services/app.analytics.service.ts
Due: lint-angular

Use server sorting for compare table
  src/app/components/tools/tools-compare-page.component.html
  src/app/components/tools/tools-compare-page.component.spec.ts
  src/app/components/tools/tools-compare-page.component.ts
  src/app/services/app.tools-comparison.service.spec.ts
  src/app/services/app.tools-comparison.service.ts
Due: lint-angular

chore: remove privacy indexes
  firestore.indexes.json
Due: none

chore: bump sl
  functions/package-lock.json
  functions/package.json
  package-lock.json
  package.json
Due: none

Add route reprocess and persisted route stats
  firestore.rules
  functions/src/index.ts
  functions/src/routes/reprocess-route.spec.ts
  functions/src/routes/reprocess-route.ts
  functions/src/routes/route-processing.ts
  functions/src/routes/upload-route.ts
  functions/src/shared/route-writer.spec.ts
  functions/src/shared/route-writer.ts
  shared/app-route.interface.ts
  shared/functions-manifest.ts
  src/app/components/routes/route-detail/route-detail.component.html
  src/app/components/routes/route-detail/route-detail.component.spec.ts
  src/app/components/routes/route-detail/route-detail.component.ts
  src/app/components/routes/routes-page.component.html
  src/app/components/routes/routes-page.component.scss
  src/app/components/routes/routes-page.component.spec.ts
  src/app/components/routes/routes-page.component.ts
  src/app/helpers/route-detail.helper.spec.ts
  src/app/helpers/route-detail.helper.ts
  src/app/services/app.analytics.service.ts
  src/app/services/app.route-reprocess.service.spec.ts
  src/app/services/app.route-reprocess.service.ts
  src/app/services/app.route.service.spec.ts
  src/app/services/app.route.service.ts
  src/firestore.rules.spec.ts
Due: lint-functions, lint-angular

Improve route admin counts and reprocess safety
  functions/src/admin/handlers/users.handlers.ts
  functions/src/admin/shared/types.ts
  functions/src/admin/shared/user-enrichment.ts
  functions/src/admin/user-count.handlers.spec.ts
  functions/src/admin/users.handlers.spec.ts
  functions/src/routes/reprocess-route.spec.ts
  functions/src/routes/reprocess-route.ts
  src/app/components/admin/admin-user-management/admin-user-management.component.html
  src/app/components/admin/admin-user-management/admin-user-management.component.scss
  src/app/components/admin/admin-user-management/admin-user-management.component.spec.ts
  src/app/components/admin/admin-user-management/admin-user-management.component.ts
  src/app/components/routes/routes-page.component.spec.ts
  src/app/components/routes/routes-page.component.ts
  src/app/resolvers/admin.resolver.spec.ts
  src/app/services/admin.service.spec.ts
  src/app/services/admin.service.ts
  src/app/services/app.route-reprocess.service.spec.ts
  src/app/services/app.route-reprocess.service.ts
  src/app/services/app.route.service.spec.ts
  src/app/services/app.route.service.ts
Due: lint-functions, lint-angular

Fix route review findings
  functions/src/reparse/sports-lib-reparse.config.ts
  src/app/components/routes/routes-page.component.html
  src/app/components/routes/routes-page.component.spec.ts
  src/app/components/routes/routes-page.component.ts
Due: lint-functions, lint-angular

fix: tests
  .github/workflows/_run-tests.yml
  src/app/components/upload/upload-routes-to-service/upload-routes-to-service.component.spec.ts
  vitest.config.ts
Due: lint-angular

Add queued route sports-lib reparse
  functions/src/admin/handlers/queues.handlers.ts
  functions/src/admin/queues.handlers.spec.ts
  functions/src/admin/shared/types.ts
  functions/src/admin/test-utils/admin-test-harness.ts
  functions/src/config.spec.ts
  functions/src/config.ts
  functions/src/index.ts
  functions/src/reparse/sports-lib-route-reparse.service.spec.ts
  functions/src/reparse/sports-lib-route-reparse.service.ts
  functions/src/schedule/sports-lib-reparse.spec.ts
  functions/src/schedule/sports-lib-reparse.ts
  functions/src/schedule/sports-lib-route-reparse.spec.ts
  functions/src/schedule/sports-lib-route-reparse.ts
  functions/src/scripts/reparse-sports-lib-events.spec.ts
  functions/src/scripts/reparse-sports-lib-events.ts
  functions/src/shared/cloud-tasks-derived-metrics.spec.ts
  functions/src/shared/cloud-tasks-reparse.spec.ts
  functions/src/shared/cloud-tasks.spec.ts
  functions/src/shared/cloud-tasks.ts
  functions/src/shared/route-processing-config.ts
  functions/src/tasks/sports-lib-route-reparse-worker.spec.ts
  functions/src/tasks/sports-lib-route-reparse-worker.ts
  functions/src/users/cleanup.spec.ts
  functions/src/users/cleanup.ts
  shared/functions-manifest.ts
  src/app/components/admin/admin-queue-stats/admin-queue-stats.component.html
  src/app/components/admin/admin-queue-stats/admin-queue-stats.component.ts
  src/app/services/admin.service.ts
Due: lint-functions, lint-angular

Add route processing metadata discriminator
  firestore.indexes.json
  functions/package.json
  functions/src/routes/reprocess-route.spec.ts
  functions/src/routes/route-processing.ts
  functions/src/routes/upload-route.spec.ts
  functions/src/schedule/sports-lib-route-reparse.spec.ts
  functions/src/schedule/sports-lib-route-reparse.ts
  functions/src/scripts/backfill-route-processing-entity.spec.ts
  functions/src/scripts/backfill-route-processing-entity.ts
  functions/src/shared/processing-metadata.interface.ts
Due: lint-functions

Add admin route reparse queue UI
  firebase.json
  functions/src/admin/shared/types.ts
  functions/src/events/create-tool-comparison-event.spec.ts
  functions/src/events/create-tool-comparison-event.ts
  functions/src/events/merge-events.spec.ts
  functions/src/events/merge-events.ts
  functions/src/events/upload-activity.spec.ts
  functions/src/events/upload-activity.ts
  functions/src/reparse/SPORTS_LIB_REPARSE_RUNBOOK.md
  functions/src/reparse/sports-lib-reparse.service.spec.ts
  functions/src/reparse/sports-lib-reparse.service.ts
  functions/src/routes/route-processing.ts
  functions/src/scripts/backfill-sports-lib-processing-code.spec.ts
  functions/src/scripts/backfill-sports-lib-processing-code.ts
  functions/src/shared/processing-metadata.interface.ts
  functions/src/utils-usage.spec.ts
  functions/src/utils.ts
  ngsw-config.json
  shared/admin-queue-stats.ts
  src/app/app.routes.server.ts
  src/app/components/admin/admin-dashboard/admin-dashboard.component.html
  src/app/components/admin/admin-dashboard/admin-dashboard.component.spec.ts
  src/app/components/admin/admin-queue-monitor/admin-queue-monitor.component.html
  src/app/components/admin/admin-queue-monitor/admin-queue-monitor.component.spec.ts
  src/app/components/admin/admin-queue-monitor/admin-queue-monitor.component.ts
  src/app/components/admin/admin-queue-stats/admin-queue-stats.component.html
  src/app/components/admin/admin-queue-stats/admin-queue-stats.component.spec.ts
  src/app/components/admin/admin-queue-stats/admin-queue-stats.component.ts
  src/app/modules/admin.module.ts
  src/app/services/admin.service.spec.ts
  src/app/services/admin.service.ts
  src/firebase-hosting.config.spec.ts
Due: lint-functions, lint-angular

chore: PR feedback
  firestore.indexes.json
  functions/src/firestore-indexes.spec.ts
  functions/src/scripts/backfill-route-processing-entity.spec.ts
  functions/src/scripts/backfill-route-processing-entity.ts
  scripts/setup-ttl.sh
Due: lint-functions

chore: PR fixes
  functions/src/scripts/backfill-route-processing-entity.spec.ts
  functions/src/scripts/backfill-route-processing-entity.ts
Due: lint-functions

chore: backfill scripts for entitity
  functions/package.json
  functions/src/reparse/SPORTS_LIB_REPARSE_RUNBOOK.md
  functions/src/scripts/backfill-event-processing-entity.spec.ts
  functions/src/scripts/backfill-event-processing-entity.ts
  functions/src/scripts/backfill-sports-lib-processing-code.ts
Due: lint-functions

Filter event reparse by processing entity
  functions/src/reparse/SPORTS_LIB_REPARSE_RUNBOOK.md
  functions/src/schedule/sports-lib-reparse.spec.ts
  functions/src/schedule/sports-lib-reparse.ts
  functions/src/scripts/reparse-sports-lib-events.spec.ts
  functions/src/scripts/reparse-sports-lib-events.ts
Due: lint-functions

chore: enable route reparse
  functions/src/reparse/sports-lib-route-reparse.service.ts
Due: lint-functions

Revert "chore: enable route reparse"
  functions/src/reparse/sports-lib-route-reparse.service.ts
Due: lint-functions

Add route GPX export actions
  src/app/components/routes/route-detail/route-detail.component.html
  src/app/components/routes/route-detail/route-detail.component.spec.ts
  src/app/components/routes/route-detail/route-detail.component.ts
  src/app/components/routes/routes-page.component.html
  src/app/components/routes/routes-page.component.scss
  src/app/components/routes/routes-page.component.spec.ts
  src/app/components/routes/routes-page.component.ts
  src/app/services/app.analytics.service.spec.ts
  src/app/services/app.analytics.service.ts
  src/app/services/app.route-gpx-export.service.spec.ts
  src/app/services/app.route-gpx-export.service.ts
Due: lint-angular

Add saved route sending to Suunto
  functions/src/index.ts
  functions/src/routes/send-routes-to-service.spec.ts
  functions/src/routes/send-routes-to-service.ts
  functions/src/suunto/routes.spec.ts
  functions/src/suunto/routes.ts
  shared/functions-manifest.ts
  shared/saved-route-send.ts
  src/app/components/routes/routes-page.component.html
  src/app/components/routes/routes-page.component.spec.ts
  src/app/components/routes/routes-page.component.ts
  src/app/services/app.analytics.service.spec.ts
  src/app/services/app.analytics.service.ts
  src/app/services/app.route-send.service.spec.ts
  src/app/services/app.route-send.service.ts
Due: lint-functions, lint-angular
