Repository jimmykane/quantified-self: changes, and which lefthook commands are due for each by the changed paths.
All: lint-functions, lint-angular

lint-functions:
  run: npx eslint {staged_files} --fix && git add {staged_files}

lint-angular:
  run: ESLINT_USE_FLAT_CONFIG=false npx eslint {staged_files} --fix && git add {staged_files}

chore: prompt improvements
  functions/src/ai/insights/normalize-query.flow.spec.ts
  functions/src/ai/insights/normalize-query.flow.ts
Due: lint-functions

chore: add power curve
  functions/src/ai/insights/callable.result-kind-handlers.ts
  functions/src/ai/insights/callable.spec.ts
  functions/src/ai/insights/callable.ts
  functions/src/ai/insights/execute-query.result-kind-handlers.ts
  functions/src/ai/insights/execute-query.spec.ts
  functions/src/ai/insights/execute-query.ts
  functions/src/ai/insights/insight-presentation.ts
  functions/src/ai/insights/insight-summary.ts
  functions/src/ai/insights/normalize-query.flow.spec.ts
  functions/src/ai/insights/normalize-query.flow.ts
  functions/src/ai/insights/normalize-query.result-kind-query-builders.ts
  functions/src/ai/insights/result-kind-registry.spec.ts
  functions/src/ai/insights/schemas.spec.ts
  functions/src/ai/insights/schemas.ts
  shared/ai-insights-prompts.ts
  shared/ai-insights-response.contract.ts
  shared/ai-insights.types.ts
  src/app/components/ai-insights/ai-insights-page.component.html
  src/app/components/ai-insights/ai-insights-page.component.spec.ts
  src/app/components/ai-insights/ai-insights-page.component.ts
  src/app/components/ai-insights/ai-insights-page.helpers.ts
  src/app/components/ai-insights/ai-insights-power-curve-chart.component.html
  src/app/components/ai-insights/ai-insights-power-curve-chart.component.scss
  src/app/components/ai-insights/ai-insights-power-curve-chart.component.ts
  src/app/components/ai-insights/ai-insights.prompts.spec.ts
  src/app/components/event-table/event.table.component.spec.ts
  src/app/components/event-table/event.table.component.ts
  src/app/components/event/power-curve/event.power-curve.component.ts
  src/app/helpers/ai-insights-title.helper.ts
  src/app/helpers/power-curve-chart.helper.ts
  src/app/services/ai-insights-latest-snapshot.normalizer-registry.spec.ts
  src/app/services/ai-insights-latest-snapshot.validation.shared.spec.ts
  src/app/services/ai-insights-response.contract.shared.spec.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

chore: pr feedback
  functions/src/ai/insights/execute-query.spec.ts
  functions/src/ai/insights/execute-query.ts
  functions/src/ai/insights/normalize-query.flow.spec.ts
  functions/src/ai/insights/normalize-query.flow.ts
  functions/src/ai/insights/schemas.spec.ts
  shared/ai-insights-power-curve.constants.ts
  shared/ai-insights-response.contract.ts
  src/app/components/ai-insights/ai-insights-page.component.html
  src/app/helpers/power-curve-chart.helper.spec.ts
Due: lint-functions, lint-angular

chore: bump version
  package.json
Due: none

chore: AI improvements
  functions/src/ai/insights/normalize-query.flow.spec.ts
  functions/src/ai/insights/normalize-query.flow.ts
Due: lint-functions

chore: do not delete events during enforcing of limits
  docs/PRICING_AND_LIMITS.md
  functions/src/schedule/enforce-subscription-limits.spec.ts
  functions/src/schedule/enforce-subscription-limits.ts
  functions/templates/grace_period_ending.hbs
  functions/templates/subscription_cancellation.hbs
  functions/templates/subscription_downgrade.hbs
  functions/templates/subscription_expiring_soon.hbs
  src/app/components/grace-period-banner/grace-period-banner.component.html
  src/app/components/grace-period-banner/grace-period-banner.component.spec.ts
  src/app/components/pricing/pricing.component.spec.ts
  src/app/components/pricing/pricing.component.ts
  src/app/shared/help.content.ts
  src/app/shared/policies.content.ts
Due: lint-functions, lint-angular

chore: fix style not loading
  src/app/components/event/map/event-card-map.manager.spec.ts
  src/app/components/event/map/event-card-map.manager.ts
Due: lint-angular

Revert "chore: fix style not loading"
  src/app/components/event/map/event-card-map.manager.spec.ts
  src/app/components/event/map/event-card-map.manager.ts
Due: lint-angular

chore: bv
  package.json
Due: none

chore: add deterministic compare summaries
  functions/src/ai/insights/callable.result-kind-handlers.ts
  functions/src/ai/insights/callable.spec.ts
  functions/src/ai/insights/insight-summary.spec.ts
  functions/src/ai/insights/insight-summary.ts
  functions/src/ai/insights/summarize-result.flow.spec.ts
  functions/src/ai/insights/summarize-result.flow.ts
  shared/ai-insights-response.contract.ts
  shared/ai-insights.types.ts
  src/app/components/ai-insights/ai-insights-page.component.html
  src/app/components/ai-insights/ai-insights-page.component.scss
  src/app/components/ai-insights/ai-insights-page.component.spec.ts
  src/app/components/ai-insights/ai-insights-page.component.ts
  src/app/components/ai-insights/ai-insights-page.helpers.ts
  src/app/services/ai-insights-response.contract.shared.spec.ts
Due: lint-functions, lint-angular

chore: update agents
  AGENTS.md
Due: none

chore: ai improvemetns
  functions/src/ai/insights/callable.ts
  functions/src/ai/insights/execute-query.result-kind-handlers.spec.ts
  functions/src/ai/insights/execute-query.result-kind-handlers.ts
  functions/src/ai/insights/execute-query.ts
  functions/src/ai/insights/insight-summary.spec.ts
  functions/src/ai/insights/insight-summary.ts
  functions/src/ai/insights/normalize-query.flow.spec.ts
  functions/src/ai/insights/normalize-query.flow.ts
  functions/src/ai/insights/summarize-result.flow.spec.ts
  functions/src/ai/insights/summarize-result.flow.ts
  shared/ai-insights-compare.constants.ts
  shared/ai-insights-response.contract.ts
  shared/ai-insights.types.ts
  src/app/components/ai-insights/ai-insights-page.component.html
  src/app/components/ai-insights/ai-insights-page.component.scss
  src/app/components/ai-insights/ai-insights-page.component.spec.ts
  src/app/components/ai-insights/ai-insights-page.component.ts
  src/app/components/ai-insights/ai-insights-page.helpers.ts
  src/app/services/ai-insights-response.contract.shared.spec.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

chore: update forgotten lock
  package-lock.json
Due: none

feature: AI callouts and chips
  functions/src/ai/insights/anomaly-callouts.spec.ts
  functions/src/ai/insights/anomaly-callouts.ts
  functions/src/ai/insights/callable.result-kind-handlers.ts
  functions/src/ai/insights/callable.spec.ts
  functions/src/ai/insights/insight-summary.spec.ts
  functions/src/ai/insights/insight-summary.ts
  functions/src/ai/insights/normalize-query.flow.spec.ts
  functions/src/ai/insights/normalize-query.flow.ts
  functions/src/ai/insights/statement-chips.spec.ts
  functions/src/ai/insights/statement-chips.ts
  shared/ai-insights-anomaly.constants.ts
  shared/ai-insights-response.contract.ts
  shared/ai-insights.types.ts
  src/app/components/ai-insights/ai-insights-page.component.html
  src/app/components/ai-insights/ai-insights-page.component.scss
  src/app/components/ai-insights/ai-insights-page.component.spec.ts
  src/app/components/ai-insights/ai-insights-page.component.ts
  src/app/components/ai-insights/ai-insights-page.helpers.ts
  src/app/components/help/help-page.component.spec.ts
  src/app/services/ai-insights-response.contract.shared.spec.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

chore: PR fixes and improvements
  functions/src/ai/insights/anomaly-callouts.ts
  functions/src/ai/insights/callable.spec.ts
  functions/src/ai/insights/callable.ts
  functions/src/ai/insights/insight-summary.spec.ts
  functions/src/ai/insights/insight-summary.ts
  shared/ai-insights-response.contract.ts
  src/app/components/ai-insights/ai-insights-page.component.html
  src/app/components/ai-insights/ai-insights-page.component.scss
  src/app/components/ai-insights/ai-insights-page.component.spec.ts
  src/app/components/ai-insights/ai-insights-page.helpers.ts
Due: lint-functions, lint-angular

chore: improvements
  src/app/components/ai-insights/ai-insights-page.component.html
  src/app/components/ai-insights/ai-insights-page.component.scss
Due: lint-angular

chore: styles
  src/app/components/ai-insights/ai-insights-page.component.html
  src/app/components/ai-insights/ai-insights-page.component.scss
  src/app/components/ai-insights/ai-insights-page.component.spec.ts
Due: lint-angular

chore: lang
  functions/src/ai/insights/summarize-result.flow.spec.ts
  functions/src/ai/insights/summarize-result.flow.ts
Due: lint-functions

chore: not expanded
  src/app/components/ai-insights/ai-insights-page.component.html
Due: lint-angular

chore: bv
  package-lock.json
  package.json
Due: none

chore: update email
  functions/templates/development_update.hbs
Due: none

chore: rules fix
  firestore.rules
  src/firestore.rules.spec.ts
Due: lint-angular

chore: fix for charts
  src/app/components/ai-insights/ai-insights-page.component.scss
  src/app/components/ai-insights/ai-insights-power-curve-chart.component.scss
  src/app/components/ai-insights/ai-insights-power-curve-chart.component.ts
Due: lint-angular

chore: cleanup improvements
  functions/src/schedule/enforce-subscription-limits.spec.ts
  functions/src/schedule/enforce-subscription-limits.ts
  functions/src/stripe/claims.spec.ts
  functions/src/stripe/claims.ts
Due: lint-functions

chore: improvements
  functions/src/stripe/claims.ts
Due: lint-functions

chore: fixes
  src/app/authentication/app.auth.service.spec.ts
  src/app/authentication/pricing-redirect.guard.spec.ts
  src/app/authentication/pricing-redirect.guard.ts
  src/app/components/event-actions/event.actions.component.html
  src/app/components/event-actions/event.actions.component.ts
  src/app/components/event-form/event.form.component.html
  src/app/components/event-form/event.form.component.spec.ts
  src/app/components/event-form/event.form.component.ts
  src/app/components/event-summary/event-summary.component.html
  src/app/components/event-summary/event-summary.component.spec.ts
  src/app/components/event-summary/event-summary.component.ts
  src/app/components/user-actions/user.actions.component.html
  src/app/components/user-actions/user.actions.component.ts
  src/app/components/user-forms/user-agreement.form.component.html
  src/app/components/user-forms/user-agreement.form.component.ts
  src/app/components/user-settings/user-settings.component.html
  src/app/components/user-settings/user-settings.component.spec.ts
  src/app/components/user-settings/user-settings.component.ts
  src/app/services/app.event.service.ts
  src/app/services/app.user.service.spec.ts
  src/app/services/app.user.service.ts
  src/app/shared/help.content.ts
  src/app/shared/policies.content.ts
Due: lint-angular

chore: update rules
  firestore.rules
  src/firestore.rules.spec.ts
Due: lint-angular

chore: mute auth error
  src/app/components/upload/upload-activities/upload-activities.component.spec.ts
  src/app/components/upload/upload-activities/upload-activities.component.ts
Due: lint-angular

chore: remove sharing
  src/app/components/event-actions/event.actions.component.spec.ts
  src/app/components/events-export-form/events-export.form.component.html
  src/app/components/events-export-form/events-export.form.component.spec.ts
  src/app/components/events-export-form/events-export.form.component.ts
  src/app/services/app.sharing.service.ts
  src/app/services/app.user.service.spec.ts
  src/app/services/app.user.service.ts
Due: lint-angular

chore: improvements and diggests
  functions/src/ai/insights/callable.result-kind-handlers.ts
  functions/src/ai/insights/callable.spec.ts
  functions/src/ai/insights/callable.ts
  functions/src/ai/insights/digest.spec.ts
  functions/src/ai/insights/digest.ts
  functions/src/ai/insights/normalize-query.flow.spec.ts
  functions/src/ai/insights/normalize-query.flow.ts
  functions/src/ai/insights/normalize-query.result-kind-query-builders.ts
  functions/src/ai/insights/schemas.spec.ts
  functions/src/ai/insights/summarize-result.flow.spec.ts
  functions/src/ai/insights/summarize-result.flow.ts
  shared/ai-insights-prompts.ts
  shared/ai-insights-response.contract.ts
  shared/ai-insights.types.ts
  src/app/components/ai-insights/ai-insights-page.component.html
  src/app/components/ai-insights/ai-insights-page.component.scss
  src/app/components/ai-insights/ai-insights-page.component.spec.ts
  src/app/components/ai-insights/ai-insights-page.component.ts
  src/app/components/ai-insights/ai-insights-page.helpers.ts
  src/app/components/ai-insights/ai-insights.prompts.spec.ts
  src/app/services/ai-insights-response.contract.shared.spec.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

chore: improvements
  functions/src/ai/insights/normalize-query.flow.spec.ts
  functions/src/ai/insights/normalize-query.flow.ts
  shared/ai-insights-prompts.ts
  src/app/components/ai-insights/ai-insights.prompts.spec.ts
Due: lint-functions, lint-angular

chore: bump sl
  functions/package-lock.json
  functions/package.json
  package-lock.json
  package.json
Due: none

chore: Ai-insights improvements
  shared/unit-aware-display.ts
  src/app/components/ai-insights/ai-insights-page.helpers.ts
  src/app/components/event/map/event.card.map.component.spec.ts
  src/app/components/event/map/event.card.map.component.ts
  src/app/helpers/unit-aware-display.helper.spec.ts
Due: lint-angular

chore: improve labels
  src/app/components/event/chart/panel/event.card.chart.panel.component.spec.ts
  src/app/components/event/chart/panel/event.card.chart.panel.component.ts
  src/app/helpers/event-echarts-xaxis.helper.spec.ts
  src/app/helpers/event-echarts-xaxis.helper.ts
Due: lint-angular

chore: PR feedback
  functions/src/ai/insights/normalize-query.flow.spec.ts
  functions/src/ai/insights/normalize-query.flow.ts
  src/app/services/app.user.service.spec.ts
  src/app/services/app.user.service.ts
Due: lint-functions, lint-angular

chore: tests
  src/app/services/app.user.service.spec.ts
Due: lint-angular

chore: add reorder buttons
  src/app/components/tile/actions/chart/tile.chart.actions.component.html
  src/app/components/tile/actions/chart/tile.chart.actions.component.spec.ts
  src/app/components/tile/actions/map/tile.map.actions.component.html
  src/app/components/tile/actions/map/tile.map.actions.component.spec.ts
  src/app/components/tile/actions/tile-actions-abstract.directive.ts
  src/app/components/tile/actions/tile.actions.abstract.css
  src/app/shared/help.content.ts
Due: lint-angular

chore: improve ai contributions
  functions/src/ai/insights/anomaly-callouts.spec.ts
  functions/src/ai/insights/anomaly-callouts.ts
  functions/src/ai/insights/normalize-query.flow.spec.ts
  functions/src/ai/insights/normalize-query.flow.ts
  functions/src/ai/insights/summarize-result.flow.spec.ts
  functions/src/ai/insights/summarize-result.flow.ts
  src/app/components/help/help-page.component.spec.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

Path conditions:
  lint-functions: any of: **/*.{ts,js} and ^functions/
  lint-angular: any of: {src/*.{ts,html},src/**/*.{ts,html}}
