Repository jimmykane/quantified-self: changes, and which lefthook commands are due for each by the changed paths.
All: lint-functions, lint-angular

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint-functions:
      root: "functions"
      glob: "**/*.{ts,js}"
      run: npx eslint {staged_files} --fix && git add {staged_files}
    lint-angular:
      glob: "{src/*.{ts,html},src/**/*.{ts,html}}"
      run: ESLINT_USE_FLAT_CONFIG=false npx eslint {staged_files} --fix && git add {staged_files}

fix: force calendar activity icon centering
  src/app/components/calendar/calendar-day-details/calendar-day-details.component.html
  src/app/components/calendar/calendar-day-details/calendar-day-details.component.scss
  src/app/components/calendar/calendar-day-details/calendar-day-details.component.spec.ts
Due: lint-angular

fix: preserve confirmed Suunto route copies
  functions/src/routes/send-routes-to-service.spec.ts
  functions/src/routes/send-routes-to-service.ts
  shared/saved-route-send.ts
  src/app/components/routes/route-detail/route-detail.component.spec.ts
  src/app/components/routes/route-detail/route-detail.component.ts
  src/app/components/routes/routes-page.component.spec.ts
  src/app/components/routes/routes-page.component.ts
  src/app/services/app.route-send.service.spec.ts
  src/app/services/app.route-send.service.ts
Due: lint-functions, lint-angular

feat: add manual functions deployment
  .github/workflows/_run-tests.yml
  .github/workflows/deployFunctionsManual.yml
Due: none

fix: keep assistant retries reachable
  functions/src/assistant/callable.spec.ts
  functions/src/assistant/callable.ts
  src/app/components/assistant/assistant-page.component.html
  src/app/components/assistant/assistant-page.component.spec.ts
  src/app/components/assistant/assistant-page.component.ts
Due: lint-functions, lint-angular

fix: preserve assistant retries and replay quota
  functions/src/assistant/callable.spec.ts
  functions/src/assistant/callable.ts
  functions/src/assistant/conversation-store.spec.ts
  functions/src/assistant/conversation-store.ts
  src/app/components/assistant/assistant-page.component.spec.ts
  src/app/components/assistant/assistant-page.component.ts
Due: lint-functions, lint-angular

fix: preserve Assistant replay receipts
  README.md
  docs/assistant.md
  firestore.indexes.json
  functions/src/assistant/callable.spec.ts
  functions/src/assistant/callable.ts
  functions/src/assistant/conversation-store.spec.ts
  functions/src/assistant/conversation-store.ts
  functions/src/firestore-indexes.spec.ts
Due: lint-functions

fix: harden Assistant retries and quota integrity
  docs/assistant.md
  firestore.indexes.json
  functions/src/ai/insights/quota.spec.ts
  functions/src/ai/insights/quota.ts
  functions/src/assistant/callable.spec.ts
  functions/src/assistant/callable.ts
  functions/src/assistant/conversation-store.spec.ts
  functions/src/assistant/conversation-store.ts
  functions/src/assistant/runtime.spec.ts
  functions/src/assistant/runtime.ts
  functions/src/firestore-indexes.spec.ts
  shared/assistant.types.ts
  src/app/components/assistant/assistant-page.component.spec.ts
  src/app/components/assistant/assistant-page.component.ts
  src/app/services/assistant.service.spec.ts
Due: lint-functions, lint-angular

fix: verify assistant prompt examples
  docs/assistant.md
  functions/src/ai/insights/normalize-query.sample-prompts.spec.ts
  functions/src/assistant/mcp-session.spec.ts
  functions/src/assistant/runtime.spec.ts
  functions/src/assistant/runtime.ts
  shared/assistant.prompts.ts
  src/app/components/assistant/assistant-page.component.html
  src/app/components/assistant/assistant-page.component.spec.ts
  src/app/components/assistant/assistant-page.component.ts
Due: lint-functions, lint-angular

fix: harden Assistant retention and output contract
  docs/assistant.md
  functions/package.json
  functions/src/assistant/runtime.spec.ts
  functions/src/assistant/runtime.ts
  functions/src/scripts/purge-legacy-ai-insights-snapshots.spec.ts
  functions/src/scripts/purge-legacy-ai-insights-snapshots.ts
Due: lint-functions

fix: harden MCP-backed assistant
  README.md
  docs/assistant.md
  docs/mcp-server.md
  functions/src/ai/insights/quota.spec.ts
  functions/src/ai/insights/quota.ts
  functions/src/assistant/callable.spec.ts
  functions/src/assistant/callable.ts
  functions/src/assistant/conversation-store.spec.ts
  functions/src/assistant/conversation-store.ts
  functions/src/assistant/evidence.spec.ts
  functions/src/assistant/evidence.ts
  functions/src/assistant/mcp-session.spec.ts
  functions/src/assistant/mcp-session.ts
  functions/src/assistant/runtime.spec.ts
  functions/src/assistant/runtime.ts
  functions/src/utils-usage.spec.ts
  functions/src/utils.ts
  shared/assistant-response.contract.ts
  src/app/components/assistant/assistant-page.component.html
  src/app/components/assistant/assistant-page.component.scss
  src/app/components/assistant/assistant-page.component.spec.ts
  src/app/components/assistant/assistant-page.component.ts
  src/app/components/help/help-page.component.spec.ts
  src/app/components/policies/policies.component.spec.ts
  src/app/components/public-seo/public-seo-pages.content.spec.ts
  src/app/components/public-seo/public-seo-pages.content.ts
  src/app/services/assistant.service.spec.ts
  src/app/shared/assistant-response.contract.spec.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/app/shared/policies.content.spec.ts
  src/app/shared/policies.content.ts
Due: lint-functions, lint-angular

fix: increase Suunto activity upload memory
  functions/src/suunto/activities.spec.ts
  functions/src/suunto/activities.ts
Due: lint-functions

fix: defer Assistant quota finalization
  docs/assistant.md
  functions/src/assistant/callable.spec.ts
  functions/src/assistant/callable.ts
  functions/src/assistant/runtime.spec.ts
  functions/src/assistant/runtime.ts
Due: lint-functions

feat: reset Assistant usage ledger
  README.md
  docs/assistant.md
  firestore.indexes.json
  firestore.rules
  functions/package.json
  functions/src/admin/shared/user-enrichment.ts
  functions/src/admin/users.handlers.spec.ts
  functions/src/assistant/quota.spec.ts
  functions/src/assistant/quota.ts
  functions/src/firestore-indexes.spec.ts
  functions/src/scripts/purge-legacy-ai-insights-snapshots.spec.ts
  functions/src/scripts/purge-legacy-ai-insights-snapshots.ts
  functions/src/scripts/purge-retired-ai-insights-data.spec.ts
  functions/src/scripts/purge-retired-ai-insights-data.ts
  src/firestore.rules.spec.ts
Due: lint-functions, lint-angular

fix: harden retired Assistant data purge
  docs/assistant.md
  functions/src/scripts/purge-retired-ai-insights-data.spec.ts
  functions/src/scripts/purge-retired-ai-insights-data.ts
Due: lint-functions

feat: modernize Assistant and add route summaries
  docs/assistant.md
  docs/mcp-server.md
  functions/src/assistant/evidence.spec.ts
  functions/src/assistant/evidence.ts
  functions/src/assistant/mcp-session.spec.ts
  functions/src/assistant/mcp-session.ts
  functions/src/assistant/runtime.spec.ts
  functions/src/assistant/runtime.ts
  shared/assistant.prompts.ts
  src/app/components/assistant/assistant-page.component.html
  src/app/components/assistant/assistant-page.component.scss
  src/app/components/assistant/assistant-page.component.spec.ts
  src/app/components/assistant/assistant-page.component.ts
  src/app/components/public-seo/public-seo-pages.content.spec.ts
  src/app/components/public-seo/public-seo-pages.content.ts
  src/app/shared/help.content.ts
  src/app/shared/policies.content.spec.ts
  src/app/shared/policies.content.ts
  src/firebase-hosting.config.spec.ts
  src/sitemap.xml
Due: lint-functions, lint-angular

fix: prevent Assistant form navigation
  src/app/components/assistant/assistant-page.component.html
  src/app/components/assistant/assistant-page.component.spec.ts
  src/app/components/assistant/assistant-page.component.ts
Due: lint-angular

fix: keep Assistant composer visible on mobile
  src/app/components/assistant/assistant-page.component.html
  src/app/components/assistant/assistant-page.component.scss
  src/app/components/assistant/assistant-page.component.spec.ts
  src/app/components/assistant/assistant-page.component.ts
Due: lint-angular

fix: prioritize Assistant composer
  src/app/components/assistant/assistant-page.component.html
  src/app/components/assistant/assistant-page.component.scss
  src/app/components/assistant/assistant-page.component.spec.ts
Due: lint-angular

fix: compact Assistant mobile header
  src/app/components/assistant/assistant-page.component.html
  src/app/components/assistant/assistant-page.component.scss
  src/app/components/assistant/assistant-page.component.spec.ts
Due: lint-angular

feat: add calendar route actions
  docs/training-workspace.md
  src/app/components/summaries/summaries.component.css
  src/app/components/summaries/summaries.component.html
  src/app/components/summaries/summaries.component.spec.ts
  src/app/components/training/training-workspace.component.html
  src/app/components/training/training-workspace.component.scss
  src/app/components/training/training-workspace.component.spec.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: compact calendar activity metrics
  src/app/components/calendar/calendar-day-details/calendar-day-details.component.scss
  src/app/components/calendar/calendar-day-details/calendar-day-details.component.spec.ts
Due: lint-angular

feat: simplify Assistant chat layout
  src/app/components/assistant/assistant-explore-bottom-sheet.component.html
  src/app/components/assistant/assistant-explore-bottom-sheet.component.scss
  src/app/components/assistant/assistant-explore-bottom-sheet.component.spec.ts
  src/app/components/assistant/assistant-explore-bottom-sheet.component.ts
  src/app/components/assistant/assistant-page.component.html
  src/app/components/assistant/assistant-page.component.scss
  src/app/components/assistant/assistant-page.component.spec.ts
  src/app/components/assistant/assistant-page.component.ts
Due: lint-angular

feat: use full-height Assistant chat
  src/app/components/assistant/assistant-page.component.html
  src/app/components/assistant/assistant-page.component.scss
  src/app/components/assistant/assistant-page.component.spec.ts
Due: lint-angular

feat: add dashboard mini calendar
  src/app/components/calendar/activity-calendar-tile/activity-calendar-tile.component.html
  src/app/components/calendar/activity-calendar-tile/activity-calendar-tile.component.scss
  src/app/components/calendar/activity-calendar-tile/activity-calendar-tile.component.spec.ts
  src/app/components/calendar/activity-calendar-tile/activity-calendar-tile.component.ts
  src/app/components/calendar/calendar-month-picker-bottom-sheet/calendar-month-picker-bottom-sheet.component.html
  src/app/components/calendar/calendar-month-picker-bottom-sheet/calendar-month-picker-bottom-sheet.component.scss
  src/app/components/calendar/calendar-month-picker-bottom-sheet/calendar-month-picker-bottom-sheet.component.spec.ts
  src/app/components/calendar/calendar-month-picker-bottom-sheet/calendar-month-picker-bottom-sheet.component.ts
  src/app/components/summaries/summaries.component.html
  src/app/components/summaries/summaries.component.spec.ts
  src/app/components/summaries/summaries.component.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

feat: implement full-screen Assistant chat
  src/app/components/assistant/assistant-page.component.html
  src/app/components/assistant/assistant-page.component.scss
  src/app/components/assistant/assistant-page.component.spec.ts
  src/app/components/assistant/assistant-page.component.ts
Due: lint-angular

fix: compact Assistant composer
  src/app/components/assistant/assistant-page.component.html
  src/app/components/assistant/assistant-page.component.scss
  src/app/components/assistant/assistant-page.component.spec.ts
Due: lint-angular

fix: hide evidence storage units
  functions/src/assistant/evidence.spec.ts
  functions/src/assistant/evidence.ts
  shared/assistant-evidence-display.ts
  src/app/services/assistant.service.spec.ts
  src/app/services/assistant.service.ts
Due: lint-functions, lint-angular

fix: streamline Assistant composer
  src/app/components/assistant/assistant-page.component.html
  src/app/components/assistant/assistant-page.component.scss
  src/app/components/assistant/assistant-page.component.spec.ts
Due: lint-angular

feat: add autosizing Assistant composer
  src/app/components/assistant/assistant-page.component.html
  src/app/components/assistant/assistant-page.component.scss
  src/app/components/assistant/assistant-page.component.spec.ts
  src/app/components/assistant/assistant-page.component.ts
Due: lint-angular

fix: serve favicon from root path
  angular.json
  src/firebase-hosting.config.spec.ts
Due: lint-angular

fix: flatten assistant chat composer
  src/app/components/assistant/assistant-page.component.html
  src/app/components/assistant/assistant-page.component.scss
  src/app/components/assistant/assistant-page.component.spec.ts
Due: lint-angular

fix: clear stale chart tooltips before refresh
  src/app/components/event/chart/panel/event.card.chart.panel.component.spec.ts
  src/app/components/event/chart/panel/event.card.chart.panel.component.ts
Due: lint-angular

fix: recover interrupted assistant requests
  docs/assistant.md
  functions/src/assistant/callable.spec.ts
  functions/src/assistant/callable.ts
  functions/src/assistant/conversation-store.spec.ts
  functions/src/assistant/conversation-store.ts
  functions/src/assistant/runtime.spec.ts
  functions/src/assistant/runtime.ts
  shared/assistant.types.ts
  src/app/components/assistant/assistant-page.component.html
  src/app/components/assistant/assistant-page.component.spec.ts
  src/app/components/assistant/assistant-page.component.ts
  src/app/services/assistant.service.spec.ts
  src/app/services/assistant.service.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

fix: focus dashboard calendar action
  src/app/components/summaries/summaries.component.css
  src/app/components/summaries/summaries.component.html
  src/app/components/summaries/summaries.component.spec.ts
  src/app/components/summaries/summaries.component.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: widen mobile bottom sheets
  src/app/app.module.menu-default-options.spec.ts
  src/styles.scss
Due: lint-angular

fix: tighten calendar picker gutters
  src/app/components/calendar/calendar-month-picker-bottom-sheet/calendar-month-picker-bottom-sheet.component.scss
  src/app/components/calendar/calendar-month-picker-bottom-sheet/calendar-month-picker-bottom-sheet.component.spec.ts
Due: lint-angular

fix: harden assistant recovery polling
  docs/assistant.md
  functions/src/assistant/callable.ts
  functions/src/assistant/conversation-store.ts
  functions/src/assistant/runtime.spec.ts
  shared/assistant.types.ts
  src/app/components/assistant/assistant-page.component.spec.ts
  src/app/components/assistant/assistant-page.component.ts
  src/app/services/assistant.service.ts
Due: lint-functions, lint-angular

fix: stabilize assistant and MCP checks
  functions/src/mcp/server.spec.ts
  src/app/components/assistant/assistant-page.component.html
  src/app/components/assistant/assistant-page.component.scss
  src/app/components/assistant/assistant-page.component.spec.ts
  src/app/components/help/help-page.component.spec.ts
Due: lint-functions, lint-angular
