Repository jimmykane/quantified-self: changes, and which lefthook commands are due for each by the changed paths.
All: lint-functions, lint-angular

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint-functions:
      root: "functions"
      glob: "**/*.{ts,js}"
      run: npx eslint {staged_files} --fix && git add {staged_files}
    lint-angular:
      glob: "{src/*.{ts,html},src/**/*.{ts,html}}"
      run: ESLINT_USE_FLAT_CONFIG=false npx eslint {staged_files} --fix && git add {staged_files}

chore: fix tests
  src/app/services/app.user.service.spec.ts
  src/app/services/app.user.service.ts
Due: lint-angular

chore: improve home
  src/app/components/home/home.component.html
  src/app/components/home/home.component.scss
  src/app/components/home/home.component.spec.ts
Due: lint-angular

chore: home improvements
  src/app/components/home/home.component.html
  src/app/components/home/home.component.scss
  src/app/components/home/home.component.spec.ts
Due: lint-angular

chore: add haptic
  src/app/components/charts/efficiency-trend/charts.efficiency-trend.component.html
  src/app/components/charts/form/charts.form.component.html
  src/app/components/charts/form/charts.form.component.spec.ts
  src/app/components/charts/form/charts.form.component.ts
  src/app/components/charts/freshness-forecast/charts.freshness-forecast.component.html
  src/app/components/charts/intensity-distribution/charts.intensity-distribution.component.html
  src/app/components/charts/kpi/charts.kpi.component.css
  src/app/components/charts/kpi/charts.kpi.component.html
  src/app/components/charts/kpi/charts.kpi.component.spec.ts
  src/app/components/charts/kpi/charts.kpi.component.ts
  src/app/components/event-search/event-search.component.spec.ts
  src/app/components/event-search/event-search.component.ts
  src/app/components/summaries/dashboard-manager-dialog/dashboard-manager-dialog.component.css
  src/app/components/summaries/dashboard-manager-dialog/dashboard-manager-dialog.component.html
  src/app/components/summaries/dashboard-manager-dialog/dashboard-manager-dialog.component.spec.ts
  src/app/components/summaries/dashboard-manager-dialog/dashboard-manager-dialog.component.ts
  src/app/components/summaries/summaries.component.html
  src/app/components/tile/actions/chart/tile.chart.actions.component.spec.ts
  src/app/components/tile/actions/chart/tile.chart.actions.component.ts
  src/app/components/tile/actions/footer/tile.actions.footer.component.html
  src/app/components/tile/actions/footer/tile.actions.footer.component.spec.ts
  src/app/components/tile/actions/footer/tile.actions.footer.component.ts
  src/app/components/tile/actions/map/tile.map.actions.component.spec.ts
  src/app/components/tile/actions/map/tile.map.actions.component.ts
  src/app/components/tile/actions/tile-actions-abstract.directive.ts
  src/app/components/tile/chart/tile.chart.component.html
  src/app/components/tile/chart/tile.chart.component.spec.ts
  src/app/directives/haptic-tap.directive.spec.ts
  src/app/directives/haptic-tap.directive.ts
  src/app/modules/shared.module.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

chore: pr feedback
  src/app/components/charts/kpi/charts.kpi.component.spec.ts
  src/app/components/charts/kpi/charts.kpi.component.ts
Due: lint-angular

chore: enable sidenav for ai insights for free users as well
  src/app/components/sidenav/sidenav.component.html
  src/app/components/sidenav/sidenav.component.spec.ts
  src/app/components/sidenav/sidenav.component.ts
Due: lint-angular

chore: improve SEO
  src/app/app.routing.module.spec.ts
  src/app/app.routing.module.ts
  src/app/services/seo.service.spec.ts
  src/app/services/seo.service.ts
  src/index.html
Due: lint-angular

chore: add tss to overall
  src/app/constants/event-summary-metric-groups.ts
  src/app/helpers/summary-metric-tabs.helper.spec.ts
Due: lint-angular

feature: coros upload fit file
  functions/src/coros/activities.spec.ts
  functions/src/coros/activities.ts
  functions/src/coros/auth/api.spec.ts
  functions/src/coros/auth/api.ts
  functions/src/index.ts
  shared/functions-manifest.ts
  src/app/components/services/coros/services.coros.component.html
  src/app/components/services/coros/services.coros.component.spec.ts
  src/app/components/services/coros/services.coros.component.ts
  src/app/components/upload/upload-activities-to-service/upload-activities-to-service.component.spec.ts
  src/app/components/upload/upload-activities-to-service/upload-activities-to-service.component.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

chore: ui improvements
  src/app/components/event-summary/event-summary.component.html
  src/app/components/event-summary/event-summary.component.scss
  src/app/components/event-summary/event-summary.component.spec.ts
  src/app/components/event-summary/event-summary.component.ts
  src/app/components/event-summary/service-source-icon/service-source-icon.component.css
  src/app/components/event-summary/service-source-icon/service-source-icon.component.html
  src/app/components/event-summary/service-source-icon/service-source-icon.component.spec.ts
  src/app/components/event-summary/service-source-icon/service-source-icon.component.ts
Due: lint-angular

chore: improve pricing
  src/app/components/pricing/pricing.component.html
  src/app/components/pricing/pricing.component.spec.ts
Due: lint-angular

chore: temp hide upload activity
  src/app/components/services/coros/services.coros.component.html
  src/app/components/services/coros/services.coros.component.spec.ts
  src/app/components/services/coros/services.coros.component.ts
Due: lint-angular

chore: filter on monthly subs
  src/app/services/app.payment.service.spec.ts
  src/app/services/app.payment.service.ts
Due: lint-angular

chore: improve pricing and add 30 days trial
  src/app/components/pricing/pricing.component.html
  src/app/components/pricing/pricing.component.spec.ts
  src/app/components/pricing/pricing.component.ts
  src/app/services/app.payment.service.spec.ts
  src/app/services/app.payment.service.ts
  src/app/shared/help.content.ts
Due: lint-angular

chore: bump version
  package.json
Due: none

chore: getting ready for yearly pricing
  src/app/components/charts/efficiency-trend/charts.efficiency-trend.component.html
  src/app/components/charts/form/charts.form.component.html
  src/app/components/charts/freshness-forecast/charts.freshness-forecast.component.html
  src/app/components/charts/intensity-distribution/charts.intensity-distribution.component.html
  src/app/components/pricing/pricing.component.html
  src/app/components/pricing/pricing.component.scss
  src/app/components/pricing/pricing.component.spec.ts
  src/app/components/pricing/pricing.component.ts
  src/app/directives/tooltip-tap.directive.spec.ts
  src/app/directives/tooltip-tap.directive.ts
  src/app/modules/shared.module.ts
  src/app/services/app.payment.service.spec.ts
  src/app/services/app.payment.service.ts
  src/app/shared/help.content.ts
Due: lint-angular

chore: PR fixes
  src/app/components/pricing/pricing.component.html
  src/app/components/pricing/pricing.component.spec.ts
  src/app/components/pricing/pricing.component.ts
Due: lint-angular

chore: PR fixes
  src/app/components/pricing/pricing.component.spec.ts
  src/app/components/pricing/pricing.component.ts
Due: lint-angular

fix: plans not going ok
  src/app/components/pricing/pricing.component.spec.ts
  src/app/services/app.payment.service.spec.ts
  src/app/services/app.payment.service.ts
Due: lint-angular

chore: pricing improvements
  src/app/components/pricing/pricing.component.html
  src/app/components/pricing/pricing.component.scss
  src/app/components/pricing/pricing.component.spec.ts
  src/app/components/pricing/pricing.component.ts
Due: lint-angular

chore: settings improvements
  src/app/components/user-settings/user-settings.component.html
  src/app/components/user-settings/user-settings.component.spec.ts
  src/app/components/user-settings/user-settings.component.ts
Due: lint-angular

chore: improvements
  functions/src/admin/handlers/users.handlers.ts
  functions/src/admin/shared/subscription.constants.ts
  functions/src/admin/shared/types.ts
  functions/src/admin/user-count.handlers.spec.ts
  src/app/components/admin/admin-user-management/admin-user-management.component.html
  src/app/components/admin/admin-user-management/admin-user-management.component.spec.ts
  src/app/components/charts/intensity-distribution/charts.intensity-distribution.component.css
  src/app/components/charts/intensity-distribution/charts.intensity-distribution.component.html
  src/app/components/charts/intensity-distribution/charts.intensity-distribution.component.spec.ts
  src/app/components/charts/intensity-distribution/charts.intensity-distribution.component.ts
  src/app/resolvers/admin.resolver.spec.ts
  src/app/services/admin.service.spec.ts
  src/app/services/admin.service.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

chore: pull indexes
  firestore.indexes.json
Due: none

chore: improvements
  functions/src/admin/handlers/users.handlers.ts
  functions/src/admin/shared/subscription.constants.ts
  functions/src/admin/user-count.handlers.spec.ts
  functions/src/admin/users.handlers.spec.ts
  src/app/components/charts/intensity-distribution/charts.intensity-distribution.component.css
Due: lint-functions

chore: support miles and feet for distances
  functions/package-lock.json
  functions/package.json
  package-lock.json
  package.json
  shared/unit-aware-display.ts
  src/app/components/charts/columns/charts.columns.component.spec.ts
  src/app/components/charts/pie/charts.pie.component.spec.ts
  src/app/components/charts/xy/charts.xy.component.spec.ts
  src/app/components/data-table/data-table-abstract.directive.spec.ts
  src/app/components/data-table/data-table-abstract.directive.ts
  src/app/components/event/activities-toggles/activities-toggles.component.html
  src/app/components/event/activities-toggles/activities-toggles.component.spec.ts
  src/app/components/event/activities-toggles/activities-toggles.component.ts
  src/app/components/event/activity-toggle/activity-toggle.component.html
  src/app/components/event/activity-toggle/activity-toggle.component.spec.ts
  src/app/components/event/activity-toggle/activity-toggle.component.ts
  src/app/components/event/chart/event.card.chart.component.html
  src/app/components/event/chart/event.card.chart.component.ts
  src/app/components/event/chart/panel/event.card.chart.panel.component.spec.ts
  src/app/components/event/chart/panel/event.card.chart.panel.component.ts
  src/app/components/event/stats-grid/event.card.stats-grid.component.spec.ts
  src/app/components/events-export-form/events-export.form.component.spec.ts
  src/app/components/events-export-form/events-export.form.component.ts
  src/app/components/user-settings/user-settings.component.html
  src/app/components/user-settings/user-settings.component.spec.ts
  src/app/components/user-settings/user-settings.component.ts
  src/app/helpers/dashboard-chart-data.helper.spec.ts
  src/app/helpers/event-echarts-data.helper.spec.ts
  src/app/helpers/event-echarts-data.helper.ts
  src/app/helpers/event-echarts-xaxis.helper.spec.ts
  src/app/helpers/event-echarts-xaxis.helper.ts
  src/app/helpers/unit-aware-display.helper.spec.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/app/utils/app.user.utilities.spec.ts
  src/app/utils/app.user.utilities.ts
Due: lint-angular

chore: fix icon for distance units
  src/app/components/data-type-icon/data-type-icon.component.spec.ts
  src/app/components/data-type-icon/data-type-icon.component.ts
Due: lint-angular

chore: improvements
  functions/src/ai/insights/user-unit-settings.spec.ts
  functions/src/derived-metrics/derived-metrics.service.spec.ts
  functions/src/derived-metrics/derived-metrics.service.ts
  functions/src/reparse/sports-lib-reparse.config.ts
  shared/derived-metrics.ts
  src/app/components/charts/efficiency-trend/charts.efficiency-trend.component.spec.ts
  src/app/components/charts/efficiency-trend/charts.efficiency-trend.component.ts
  src/app/components/charts/form/charts.form.component.spec.ts
  src/app/components/charts/form/charts.form.component.ts
  src/app/components/charts/freshness-forecast/charts.freshness-forecast.component.spec.ts
  src/app/components/charts/freshness-forecast/charts.freshness-forecast.component.ts
  src/app/components/charts/intensity-distribution/charts.intensity-distribution.component.spec.ts
  src/app/components/charts/intensity-distribution/charts.intensity-distribution.component.ts
  src/app/components/charts/kpi/charts.kpi.component.spec.ts
  src/app/components/charts/kpi/charts.kpi.component.ts
  src/app/components/dashboard/dashboard.component.html
  src/app/components/dashboard/dashboard.component.scss
  src/app/components/dashboard/dashboard.component.spec.ts
  src/app/components/dashboard/dashboard.component.ts
  src/app/components/home/home.component.html
  src/app/components/summaries/dashboard-manager-dialog/dashboard-manager-dialog.component.ts
  src/app/components/user-settings/user-settings.component.spec.ts
  src/app/components/user-settings/user-settings.component.ts
  src/app/helpers/dashboard-chart-info.helper.spec.ts
  src/app/helpers/dashboard-chart-info.helper.ts
  src/app/helpers/dashboard-manager-presets.helper.ts
  src/app/helpers/unit-setup-preset.helper.spec.ts
  src/app/helpers/unit-setup-preset.helper.ts
  src/app/models/app-user.interface.ts
  src/app/services/app.user.service.spec.ts
  src/app/services/app.user.service.ts
  src/app/shared/derived-metrics.shared.spec.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/app/utils/app.user.utilities.spec.ts
Due: lint-functions, lint-angular

chore: ui improvements
  src/app/components/dashboard/dashboard.component.html
  src/app/components/dashboard/dashboard.component.scss
  src/app/components/dashboard/dashboard.component.spec.ts
  src/app/components/dashboard/dashboard.component.ts
  src/app/components/user-settings/user-settings.component.html
  src/app/components/user-settings/user-settings.component.scss
  src/app/components/user-settings/user-settings.component.spec.ts
  src/app/components/user-settings/user-settings.component.ts
  src/app/helpers/unit-setup-preset.helper.spec.ts
  src/app/helpers/unit-setup-preset.helper.ts
Due: lint-angular

chore: fix tests
  src/app/helpers/stat-label.helper.ts
Due: lint-angular

chore: bv
  package.json
Due: none

chore: fix issue with derived metrics
  functions/src/derived-metrics/ensure-derived-metrics.spec.ts
  functions/src/derived-metrics/ensure-derived-metrics.ts
Due: lint-functions

chore: fix package
  package-lock.json
Due: none

chore: fix issues with form and TSS
  src/app/components/charts/form/charts.form.component.spec.ts
  src/app/components/charts/form/charts.form.component.ts
  src/app/shared/help.content.ts
Due: lint-angular

chore: tss improvements
  src/app/components/charts/form/charts.form.component.spec.ts
  src/app/components/charts/form/charts.form.component.ts
Due: lint-angular

chore: disable for garmin and coros and add doc
  docs/sleep-sync-operations.md
  functions/src/sleep/dispatcher.spec.ts
  functions/src/sleep/dispatcher.ts
  functions/src/sleep/polling.spec.ts
  functions/src/sleep/polling.ts
  functions/src/sleep/provider-flags.spec.ts
  functions/src/sleep/provider-flags.ts
  functions/src/sleep/queue.spec.ts
  functions/src/sleep/queue.ts
  functions/src/sleep/webhooks.spec.ts
  functions/src/sleep/webhooks.ts
Due: lint-functions

chore: improvements for sleep
  docs/sleep-sync-operations.md
  functions/src/admin/handlers/queues.handlers.ts
  functions/src/admin/queues.handlers.spec.ts
  functions/src/admin/shared/types.ts
  functions/src/admin/test-utils/admin-test-harness.ts
  functions/src/sleep/garmin-callback-url.spec.ts
  functions/src/sleep/garmin-callback-url.ts
  functions/src/sleep/polling.spec.ts
  functions/src/sleep/polling.ts
  functions/src/sleep/provider-flags.spec.ts
  functions/src/sleep/provider-flags.ts
  functions/src/sleep/queue.spec.ts
  functions/src/sleep/queue.ts
  functions/src/sleep/webhooks.spec.ts
  functions/src/sleep/webhooks.ts
  scripts/setup-ttl.sh
  src/app/components/admin/admin-dashboard/admin-dashboard.component.html
  src/app/components/admin/admin-dashboard/admin-dashboard.component.spec.ts
  src/app/components/admin/admin-queue-monitor/admin-queue-monitor.component.html
  src/app/components/admin/admin-queue-monitor/admin-queue-monitor.component.spec.ts
  src/app/components/admin/admin-queue-monitor/admin-queue-monitor.component.ts
  src/app/components/admin/admin-queue-stats/admin-queue-stats.component.html
  src/app/components/admin/admin-queue-stats/admin-queue-stats.component.spec.ts
  src/app/components/admin/admin-queue-stats/admin-queue-stats.component.ts
  src/app/helpers/dashboard-sleep-chart.helper.spec.ts
  src/app/helpers/dashboard-sleep-chart.helper.ts
  src/app/modules/admin.module.ts
  src/app/services/admin.service.spec.ts
  src/app/services/admin.service.ts
Due: lint-functions, lint-angular
