Repository jimmykane/quantified-self: changes, and which lefthook commands are due for each by the changed paths.
All: lint-functions, lint-angular

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint-functions:
      root: "functions"
      glob: "**/*.{ts,js}"
      run: npx eslint {staged_files} --fix && git add {staged_files}
    lint-angular:
      glob: "{src/*.{ts,html},src/**/*.{ts,html}}"
      run: ESLINT_USE_FLAT_CONFIG=false npx eslint {staged_files} --fix && git add {staged_files}

feat: clarify Heart rate charts and summarize long-range readings
  docs/unified-health-data.md
  src/app/components/health/health-metric-chart.component.html
  src/app/components/health/health-metric-chart.component.spec.ts
  src/app/components/health/health-metric-chart.component.ts
  src/app/components/health/health-workspace.component.html
  src/app/components/health/health-workspace.component.spec.ts
  src/app/components/health/health-workspace.component.ts
  src/app/helpers/health-heart-rate-summary.helper.spec.ts
  src/app/helpers/health-heart-rate-summary.helper.ts
  src/app/helpers/health-workspace.helper.spec.ts
  src/app/helpers/health-workspace.helper.ts
  src/app/services/app.health.service.spec.ts
  src/app/services/app.health.service.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

feat: add read-only Health metrics to MCP
  .agent/skills/mcp-metric-surface/SKILL.md
  README.md
  docs/mcp-server.md
  functions/src/mcp/callables.spec.ts
  functions/src/mcp/contract-compatibility.ts
  functions/src/mcp/contracts/pending-change.json
  functions/src/mcp/data.service.spec.ts
  functions/src/mcp/data.service.ts
  functions/src/mcp/health-query.firestore.spec.ts
  functions/src/mcp/health.service.spec.ts
  functions/src/mcp/health.service.ts
  functions/src/mcp/http-protocol.spec.ts
  functions/src/mcp/oauth.service.spec.ts
  functions/src/mcp/oauth.service.ts
  functions/src/mcp/server.spec.ts
  functions/src/mcp/server.ts
  functions/src/mcp/tool-output-schemas.spec.ts
  functions/src/mcp/tool-output-schemas.ts
  plugins/quantified-self/plugin.template.json
  plugins/quantified-self/skills/analyze-quantified-self-health/SKILL.md
  plugins/quantified-self/skills/analyze-quantified-self-health/agents/openai.yaml
  plugins/quantified-self/skills/analyze-quantified-self-measurements/SKILL.md
  plugins/quantified-self/skills/analyze-quantified-self-sleep/SKILL.md
  plugins/quantified-self/skills/analyze-quantified-self/SKILL.md
  src/app/components/mcp-authorization/mcp-authorization.component.spec.ts
  src/app/components/mcp-authorization/mcp-authorization.component.ts
  src/app/components/mcp-connections/mcp-connections.component.html
  src/app/components/mcp-connections/mcp-connections.component.spec.ts
  src/app/components/mcp-connections/mcp-connections.component.ts
  src/app/components/public-seo/public-seo-pages.content.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/app/shared/policies.content.spec.ts
  src/app/shared/policies.content.ts
  src/firebase-hosting.config.spec.ts
  src/sitemap.xml
  tools/quantified-self-plugin/plugin-tool.mjs
  tools/quantified-self-plugin/plugin-tool.test.mjs
Due: lint-functions, lint-angular

fix: accept Garmin stress zero samples and daily sentinel
  docs/garmin-integration.md
  docs/provider-integration-guide.md
  functions/src/garmin/health.spec.ts
  functions/src/garmin/health.ts
Due: lint-functions

fix: increase Garmin Ping dispatcher memory to 512 MiB
  functions/src/sleep/garmin-ping-batch-dispatcher.spec.ts
  functions/src/sleep/garmin-ping-batch-dispatcher.ts
Due: lint-functions

fix: preserve Health MCP semantics and observation order
  docs/mcp-server.md
  functions/src/mcp/contracts/pending-change.json
  functions/src/mcp/health-query.firestore.spec.ts
  functions/src/mcp/health.service.spec.ts
  functions/src/mcp/health.service.ts
  functions/src/mcp/tool-output-schemas.spec.ts
  src/app/components/public-seo/public-seo-page.component.spec.ts
Due: lint-functions, lint-angular

feat: show today's recorded heart rate in Health highlights
  docs/unified-health-data.md
  src/app/components/health/health-priority-summary.component.ts
  src/app/components/health/health-workspace.component.spec.ts
  src/app/components/health/health-workspace.component.ts
  src/app/helpers/health-workspace.helper.spec.ts
  src/app/helpers/health-workspace.helper.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: allow scoped operator health backfill cooldown overrides
  docs/health-backfill-operations.md
  functions/src/scripts/backfill-existing-health.spec.ts
  functions/src/scripts/backfill-existing-health.ts
  functions/src/scripts/health-backfill-plan.spec.ts
  functions/src/scripts/health-backfill-plan.ts
Due: lint-functions

fix: preserve timeline note shading in one-day charts
  src/app/helpers/timeline-notes-chart.helper.spec.ts
  src/app/helpers/timeline-notes-chart.helper.ts
Due: lint-angular

fix: remove Dashboard shortcut from Health header
  src/app/components/health/health-workspace.component.html
  src/app/components/health/health-workspace.component.spec.ts
Due: lint-angular

feat: add percentage views to admin user history charts
  docs/admin-dashboard-history.md
  functions/src/admin/dashboard-history.handlers.spec.ts
  functions/src/admin/handlers/dashboard-history.handlers.ts
  functions/src/admin/shared/types.ts
  functions/src/admin/shared/user-metrics.ts
  functions/src/admin/user-metrics.spec.ts
  src/app/components/admin/admin-dashboard/admin-user-history.component.html
  src/app/components/admin/admin-dashboard/admin-user-history.component.scss
  src/app/components/admin/admin-dashboard/admin-user-history.component.spec.ts
  src/app/components/admin/admin-dashboard/admin-user-history.component.ts
  src/app/helpers/admin-history-axis.helper.ts
  src/app/helpers/admin-history-percentage.helper.spec.ts
  src/app/helpers/admin-history-percentage.helper.ts
  src/app/helpers/admin-history-series.helper.ts
  src/app/services/admin.service.spec.ts
  src/app/services/admin.service.ts
Due: lint-functions, lint-angular

fix: cancel admin chart renders after component teardown
  src/app/components/admin/admin-dashboard/admin-user-history.component.spec.ts
  src/app/components/admin/admin-dashboard/admin-user-history.component.ts
Due: lint-angular

fix: fill desktop Health explorer chart height
  docs/frontend-ui.md
  src/app/components/health/health-metric-chart.component.html
  src/app/components/health/health-metric-chart.component.scss
  src/app/components/health/health-metric-chart.component.spec.ts
  src/app/components/health/health-metric-chart.component.ts
  src/app/components/health/health-metric-series-chart.component.scss
  src/app/components/health/health-metric-series-chart.component.spec.ts
  src/app/components/health/health-workspace.component.html
  src/app/components/health/health-workspace.component.scss
  src/app/components/health/health-workspace.component.spec.ts
  src/app/components/shared/compact-row/compact-row.component.scss
  src/app/components/shared/compact-row/compact-row.component.spec.ts
  src/app/components/shared/compact-row/compact-row.component.ts
Due: lint-angular

fix: show time axes on Health highlight charts
  docs/unified-health-data.md
  src/app/components/health/health-metric-series-chart.component.spec.ts
  src/app/helpers/health-metric-chart.helper.spec.ts
  src/app/helpers/health-metric-chart.helper.ts
Due: lint-angular

feat: gate plans navigation by uid
  shared/training-planning-rollout.ts
  src/app/components/sidenav/sidenav.component.html
  src/app/components/sidenav/sidenav.component.spec.ts
  src/app/components/sidenav/sidenav.component.ts
Due: lint-angular

fix: close training planning review findings
  shared/planned-workout.ts
  src/app/components/calendar/activity-calendar-tile/activity-calendar-tile.component.ts
  src/app/components/calendar/calendar-page/calendar-page.component.ts
  src/app/components/plans/plans-workspace.component.html
  src/app/components/plans/plans-workspace.component.spec.ts
  src/app/components/plans/plans-workspace.component.ts
  src/app/helpers/planned-workout-calendar.helper.spec.ts
  src/app/helpers/planned-workout-calendar.helper.ts
  src/app/helpers/planned-workout.shared.spec.ts
Due: lint-angular

fix: lighten Health chart strokes
  docs/unified-health-data.md
  src/app/helpers/health-metric-chart.helper.spec.ts
  src/app/helpers/health-metric-chart.helper.ts
Due: lint-angular

fix: show note colours clearly in Calendar
  docs/activity-calendar.md
  docs/timeline-notes.md
  src/app/components/calendar/activity-calendar-grid/activity-calendar-grid.component.html
  src/app/components/calendar/activity-calendar-grid/activity-calendar-grid.component.scss
  src/app/components/calendar/activity-calendar-grid/activity-calendar-grid.component.spec.ts
  src/app/helpers/calendar-timeline-notes.helper.spec.ts
  src/app/helpers/calendar-timeline-notes.helper.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: unify default Timeline note colour across views
  docs/activity-calendar.md
  docs/timeline-notes.md
  src/app/components/calendar/activity-calendar-grid/activity-calendar-grid.component.scss
  src/app/components/calendar/activity-calendar-grid/activity-calendar-grid.component.spec.ts
  src/app/components/calendar/calendar-day-details/calendar-day-details.component.spec.ts
  src/app/components/timeline-notes/timeline-notes-dialog.component.spec.ts
  src/app/helpers/calendar-timeline-notes.helper.spec.ts
  src/app/helpers/calendar-timeline-notes.helper.ts
  src/app/helpers/timeline-note-appearance.helper.spec.ts
  src/app/helpers/timeline-note-appearance.helper.ts
  src/app/helpers/timeline-notes-chart.helper.spec.ts
  src/app/helpers/timeline-notes-chart.helper.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: nest Plans navigation beneath Training
  docs/frontend-ui.md
  src/app/components/sidenav/sidenav.component.html
  src/app/components/sidenav/sidenav.component.scss
  src/app/components/sidenav/sidenav.component.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

refactor: move Plans to the Training route
  docs/activity-calendar.md
  docs/frontend-ui.md
  docs/training-workspace.md
  firebase.json
  functions/src/training-plans/providers/fixtures/suunto-running-v1.json
  functions/src/training-plans/providers/provider-mapping.spec.ts
  ngsw-config.json
  shared/training-planning-rollout.ts
  src/app/app.routes.server.spec.ts
  src/app/app.routes.server.ts
  src/app/app.routing.module.spec.ts
  src/app/app.routing.module.ts
  src/app/components/calendar/calendar-day-details/calendar-day-details.component.html
  src/app/components/calendar/calendar-day-details/calendar-day-details.component.spec.ts
  src/app/components/sidenav/sidenav.component.html
  src/app/components/sidenav/sidenav.component.spec.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/firebase-hosting.config.spec.ts
Due: lint-functions, lint-angular

fix: clarify admin chart percentages and expand tooltips
  docs/admin-dashboard-history.md
  src/app/components/admin/admin-dashboard/admin-user-history.component.html
  src/app/components/admin/admin-dashboard/admin-user-history.component.spec.ts
  src/app/components/admin/admin-dashboard/admin-user-history.component.ts
  src/app/helpers/admin-history-percentage.helper.spec.ts
  src/app/helpers/admin-history-percentage.helper.ts
  src/app/helpers/dashboard-echarts-style.helper.spec.ts
  src/app/helpers/dashboard-echarts-style.helper.ts
Due: lint-angular

fix: apply provider-specific Health history limits
  docs/garmin-integration.md
  docs/health-backfill-operations.md
  docs/provider-integration-guide.md
  docs/sleep-sync-operations.md
  docs/suunto-integration.md
  functions/src/scripts/backfill-existing-health.spec.ts
  functions/src/scripts/backfill-existing-health.ts
  functions/src/scripts/health-backfill-plan.spec.ts
  functions/src/scripts/health-backfill-plan.ts
  functions/src/sleep/backfill-policy.spec.ts
  functions/src/sleep/backfill.spec.ts
  functions/src/sleep/backfill.ts
  shared/sleep-backfill.ts
  src/app/components/history-import-form/history-import.form.component.html
  src/app/components/history-import-form/history-import.form.component.spec.ts
  src/app/components/history-import-form/history-import.form.component.ts
  src/app/helpers/dashboard-action-prompt.helper.spec.ts
  src/app/helpers/dashboard-action-prompt.helper.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

fix: preserve Garmin backfill outcomes during reservation races
  docs/health-backfill-operations.md
  docs/provider-integration-guide.md
  functions/src/scripts/backfill-existing-health.spec.ts
  functions/src/scripts/backfill-existing-health.ts
Due: lint-functions

fix: streamline training plans workspace and mobile editing
  docs/training-workspace.md
  src/app/components/plans/plans-workspace.component.html
  src/app/components/plans/plans-workspace.component.scss
  src/app/components/plans/plans-workspace.component.spec.ts
  src/app/components/plans/plans-workspace.component.ts
  src/app/shared/help.content.ts
Due: lint-angular

refactor: reuse compact rows in training plans
  docs/frontend-ui.md
  docs/training-workspace.md
  src/app/components/plans/plans-workspace.component.html
  src/app/components/plans/plans-workspace.component.scss
  src/app/components/plans/plans-workspace.component.spec.ts
  src/app/components/plans/plans-workspace.component.ts
  src/app/shared/help.content.ts
Due: lint-angular

feat: add Wahoo route detail delivery actions
  docs/provider-integration-guide.md
  src/app/components/routes/route-detail/route-detail.component.html
  src/app/components/routes/route-detail/route-detail.component.scss
  src/app/components/routes/route-detail/route-detail.component.spec.ts
  src/app/components/routes/route-detail/route-detail.component.ts
  src/app/services/app.user.service.spec.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

feat: add a plan-specific schedule calendar
  docs/training-workspace.md
  src/app/components/plans/plan-schedule-calendar.component.html
  src/app/components/plans/plan-schedule-calendar.component.scss
  src/app/components/plans/plan-schedule-calendar.component.spec.ts
  src/app/components/plans/plan-schedule-calendar.component.ts
  src/app/components/plans/plans-workspace.component.html
  src/app/components/plans/plans-workspace.component.scss
  src/app/components/plans/plans-workspace.component.spec.ts
  src/app/components/plans/plans-workspace.component.ts
  src/app/helpers/plan-schedule-calendar.helper.spec.ts
  src/app/helpers/plan-schedule-calendar.helper.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: guard route delivery lifetimes and restore reconnect flow
  docs/provider-integration-guide.md
  src/app/components/routes/route-detail/route-detail.component.spec.ts
  src/app/components/routes/route-detail/route-detail.component.ts
  src/app/components/wahoo-route-access-reconnect-dialog/wahoo-route-access-reconnect-dialog.component.html
  src/app/components/wahoo-route-access-reconnect-dialog/wahoo-route-access-reconnect-dialog.component.spec.ts
  src/app/components/wahoo-route-access-reconnect-dialog/wahoo-route-access-reconnect-dialog.component.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: align plan calendar previews with workout rows
  docs/training-workspace.md
  src/app/helpers/plan-schedule-calendar.helper.spec.ts
  src/app/helpers/plan-schedule-calendar.helper.ts
Due: lint-angular

fix: keep plan calendar dates current and preserve return context
  docs/training-workspace.md
  src/app/components/plans/plans-workspace.component.html
  src/app/components/plans/plans-workspace.component.spec.ts
  src/app/components/plans/plans-workspace.component.ts
  src/app/shared/help.content.ts
Due: lint-angular

feat: highlight plan calendar week starts and weekends
  docs/training-workspace.md
  src/app/components/plans/plan-schedule-calendar.component.html
  src/app/components/plans/plan-schedule-calendar.component.scss
  src/app/components/plans/plan-schedule-calendar.component.spec.ts
  src/app/components/plans/plans-workspace.component.spec.ts
  src/app/helpers/plan-schedule-calendar.helper.spec.ts
  src/app/helpers/plan-schedule-calendar.helper.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: fence Assistant notes consent and stale account views
  docs/assistant.md
  docs/mcp-server.md
  functions/src/assistant/callable.spec.ts
  functions/src/assistant/callable.ts
  functions/src/assistant/conversation-store.spec.ts
  functions/src/assistant/conversation-store.ts
  shared/assistant.types.ts
  src/app/components/assistant/assistant-page.component.html
  src/app/components/assistant/assistant-page.component.spec.ts
  src/app/components/assistant/assistant-page.component.ts
  src/app/services/assistant.service.spec.ts
  src/app/services/assistant.service.ts
Due: lint-functions, lint-angular

feat: add plan colors across training calendars
  docs/activity-calendar.md
  docs/training-workspace.md
  functions/src/training-plans/mutation.spec.ts
  functions/src/training-plans/mutation.ts
  functions/src/training-plans/persistence.spec.ts
  functions/src/training-plans/persistence.ts
  functions/src/training-plans/restore.spec.ts
  shared/training-plans.ts
  src/app/components/calendar/activity-calendar-grid/activity-calendar-grid.component.html
  src/app/components/calendar/activity-calendar-grid/activity-calendar-grid.component.scss
  src/app/components/calendar/activity-calendar-grid/activity-calendar-grid.component.spec.ts
  src/app/components/calendar/activity-calendar-tile/activity-calendar-tile.component.spec.ts
  src/app/components/calendar/calendar-day-details/calendar-day-details.component.html
  src/app/components/calendar/calendar-day-details/calendar-day-details.component.scss
  src/app/components/calendar/calendar-day-details/calendar-day-details.component.spec.ts
  src/app/components/calendar/calendar-day-details/calendar-day-details.component.ts
  src/app/components/plans/plan-schedule-calendar.component.html
  src/app/components/plans/plan-schedule-calendar.component.scss
  src/app/components/plans/plan-schedule-calendar.component.spec.ts
  src/app/components/plans/plan-schedule-calendar.component.ts
  src/app/components/plans/plans-workspace.component.html
  src/app/components/plans/plans-workspace.component.scss
  src/app/components/plans/plans-workspace.component.spec.ts
  src/app/components/plans/plans-workspace.component.ts
  src/app/helpers/planned-workout-calendar.helper.spec.ts
  src/app/helpers/planned-workout-calendar.helper.ts
  src/app/helpers/training-plan-appearance.helper.spec.ts
  src/app/helpers/training-plan-appearance.helper.ts
  src/app/helpers/training-plans.shared.spec.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

fix: increase Suunto OAuth function memory
  functions/src/suunto/auth/wrapper.spec.ts
  functions/src/suunto/auth/wrapper.ts
Due: lint-functions

fix: increase Garmin COROS and Wahoo OAuth memory
  functions/src/coros/auth/wrapper.spec.ts
  functions/src/coros/auth/wrapper.ts
  functions/src/garmin/auth/wrapper.spec.ts
  functions/src/garmin/auth/wrapper.ts
  functions/src/wahoo/auth/wrapper.spec.ts
  functions/src/wahoo/auth/wrapper.ts
Due: lint-functions

feat: use mobile metric title picker in Health
  docs/unified-health-data.md
  src/app/components/health/health-metrics-bottom-sheet.component.html
  src/app/components/health/health-metrics-bottom-sheet.component.scss
  src/app/components/health/health-metrics-bottom-sheet.component.spec.ts
  src/app/components/health/health-metrics-bottom-sheet.component.ts
  src/app/components/health/health-workspace.component.html
  src/app/components/health/health-workspace.component.scss
  src/app/components/health/health-workspace.component.spec.ts
  src/app/components/health/health-workspace.component.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

feat: add dashboard recovery progress bar
  src/app/components/summaries/summaries.component.css
  src/app/components/summaries/summaries.component.html
  src/app/components/summaries/summaries.component.spec.ts
  src/app/components/summaries/summaries.component.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular
