Repository jimmykane/quantified-self: changes, and which lefthook commands are due for each by the changed paths.
All: lint-functions, lint-angular

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint-functions:
      root: "functions"
      glob: "**/*.{ts,js}"
      run: npx eslint {staged_files} --fix && git add {staged_files}
    lint-angular:
      glob: "{src/*.{ts,html},src/**/*.{ts,html}}"
      run: ESLINT_USE_FLAT_CONFIG=false npx eslint {staged_files} --fix && git add {staged_files}

fix: harden connection history retries and reconnect recovery
  docs/connection-history-import.md
  functions/src/connection-history/adapters.spec.ts
  functions/src/connection-history/adapters.ts
  functions/src/connection-history/execution.ts
  functions/src/connection-history/model.ts
  functions/src/connection-history/queue-replacement.ts
  functions/src/connection-history/tasks.spec.ts
  functions/src/connection-history/tasks.ts
  functions/src/coros/history-to-queue.spec.ts
  functions/src/coros/history-to-queue.ts
  functions/src/garmin/backfill.spec.ts
  functions/src/garmin/backfill.ts
  functions/src/garmin/health-backfill.spec.ts
  functions/src/garmin/health-backfill.ts
  functions/src/history.spec.ts
  functions/src/history.ts
  functions/src/request-helper.spec.ts
  functions/src/request-helper.ts
  functions/src/sleep/backfill.spec.ts
  functions/src/sleep/backfill.ts
  functions/src/wahoo/queue-store.spec.ts
  functions/src/wahoo/queue-store.ts
  src/app/components/services/garmin/services.garmin.component.spec.ts
  src/app/components/services/services-abstract-component.directive.ts
  src/app/components/services/suunto/services.suunto.component.spec.ts
  src/app/components/services/wahoo/services.wahoo.component.spec.ts
Due: lint-functions, lint-angular

feat: improve dashboard chart discovery
  docs/frontend-ui.md
  src/app/components/summaries/dashboard-chart-library/dashboard-chart-library-state.service.ts
  src/app/components/summaries/dashboard-chart-library/dashboard-chart-library.component.css
  src/app/components/summaries/dashboard-chart-library/dashboard-chart-library.component.html
  src/app/components/summaries/dashboard-chart-library/dashboard-chart-library.component.spec.ts
  src/app/components/summaries/dashboard-chart-library/dashboard-chart-library.component.ts
  src/app/components/summaries/dashboard-chart-library/dashboard-chart-preview.component.css
  src/app/components/summaries/dashboard-chart-library/dashboard-chart-preview.component.html
  src/app/components/summaries/dashboard-chart-library/dashboard-tile-configuration.spec.ts
  src/app/components/summaries/dashboard-chart-library/dashboard-tile-configuration.ts
  src/app/components/summaries/summaries.component.html
  src/app/components/summaries/summaries.component.spec.ts
  src/app/components/summaries/summaries.component.ts
  src/app/components/tile/actions/chart/tile.chart.actions.component.spec.ts
  src/app/components/tile/actions/map/tile.map.actions.component.spec.ts
  src/app/components/tile/actions/tile-actions-abstract.directive.ts
  src/app/helpers/dashboard-chart-availability.helper.spec.ts
  src/app/helpers/dashboard-chart-availability.helper.ts
  src/app/helpers/dashboard-chart-discovery.helper.spec.ts
  src/app/helpers/dashboard-chart-discovery.helper.ts
  src/app/helpers/dashboard-chart-display-settings.helper.spec.ts
  src/app/helpers/dashboard-chart-display-settings.helper.ts
  src/app/helpers/dashboard-chart-library-revision.helper.ts
  src/app/helpers/dashboard-chart-preview.helper.spec.ts
  src/app/helpers/dashboard-chart-preview.helper.ts
  src/app/helpers/dashboard-manager-presets.helper.spec.ts
  src/app/helpers/dashboard-manager-presets.helper.ts
  src/app/models/app-user.interface.ts
  src/app/services/app.user.service.spec.ts
  src/app/services/app.user.service.ts
  src/app/services/dashboard-auto-tile.service.spec.ts
  src/app/services/dashboard-auto-tile.service.ts
  src/app/services/dashboard-chart-discovery.service.spec.ts
  src/app/services/dashboard-chart-discovery.service.ts
  src/app/services/dashboard-chart-preview.service.spec.ts
  src/app/services/dashboard-chart-preview.service.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/app/utils/app.user.utilities.spec.ts
  src/app/utils/app.user.utilities.ts
Due: lint-angular

fix: increase subscription history trend memory
  functions/src/admin/handlers/trends.handlers.ts
  functions/src/admin/test-utils/admin-test-harness.ts
  functions/src/admin/trends.handlers.spec.ts
Due: lint-functions

fix: keep dashboard discovery previews current
  docs/frontend-ui.md
  docs/training-workspace.md
  src/app/components/summaries/dashboard-chart-library/dashboard-chart-library.component.spec.ts
  src/app/helpers/dashboard-chart-availability.helper.spec.ts
  src/app/helpers/dashboard-chart-availability.helper.ts
  src/app/services/dashboard-chart-preview.service.spec.ts
  src/app/services/dashboard-chart-preview.service.ts
  src/app/services/dashboard-derived-metrics.service.spec.ts
  src/app/services/dashboard-derived-metrics.service.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: stabilize chart picker category row
  docs/frontend-ui.md
  src/app/components/summaries/dashboard-chart-library/dashboard-chart-library.component.css
  src/app/components/summaries/dashboard-chart-library/dashboard-chart-library.component.html
Due: lint-angular

fix: place dashboard add icons after labels
  src/app/components/summaries/dashboard-chart-library/dashboard-chart-library.component.html
Due: lint-angular

fix: prevent chart tooltip text overlap
  docs/frontend-ui.md
  src/app/components/charts/columns/charts.columns.component.spec.ts
  src/app/components/charts/columns/charts.columns.component.ts
  src/app/helpers/dashboard-echarts-style.helper.spec.ts
  src/app/helpers/dashboard-echarts-style.helper.ts
Due: lint-angular

fix: fill dashboard calendar tile height
  docs/frontend-ui.md
  src/app/components/calendar/activity-calendar-grid/activity-calendar-grid.component.scss
  src/app/components/calendar/activity-calendar-grid/activity-calendar-grid.component.spec.ts
  src/app/components/calendar/activity-calendar-grid/activity-calendar-grid.component.ts
  src/app/components/summaries/dashboard-chart-library/dashboard-chart-preview.component.css
  src/app/components/summaries/dashboard-chart-library/dashboard-chart-preview.component.html
Due: lint-angular

fix: release plan color submenu hover
  docs/training-workspace.md
  src/app/components/plans/plans-workspace.component.html
  src/app/components/plans/plans-workspace.component.spec.ts
  src/app/components/plans/plans-workspace.component.ts
Due: lint-angular

fix: remove plan color submenu backdrop
  docs/training-workspace.md
  src/app/components/plans/plans-workspace.component.html
  src/app/components/plans/plans-workspace.component.spec.ts
  src/app/components/plans/plans-workspace.component.ts
Due: lint-angular

feat: add operator Garmin training certification runner
  docs/garmin-integration.md
  docs/provider-integration-guide.md
  docs/training-workspace.md
  functions/package.json
  functions/src/scripts/garmin-training-certification.spec.ts
  functions/src/scripts/garmin-training-certification.ts
  functions/src/scripts/garmin-training-certification/authority.emulator.spec.ts
  functions/src/scripts/garmin-training-certification/authority.ts
  functions/src/scripts/garmin-training-certification/journal.spec.ts
  functions/src/scripts/garmin-training-certification/journal.ts
  functions/src/scripts/garmin-training-certification/model.spec.ts
  functions/src/scripts/garmin-training-certification/model.ts
  functions/src/scripts/garmin-training-certification/runner.spec.ts
  functions/src/scripts/garmin-training-certification/runner.ts
  package.json
Due: lint-functions

fix: simplify Health explorer movement metrics
  docs/unified-health-data.md
  src/app/components/health/health-workspace.component.spec.ts
  src/app/helpers/health-workspace.helper.spec.ts
  src/app/helpers/health-workspace.helper.ts
  src/app/shared/help.content.ts
Due: lint-angular

feat: enable UID-restricted Garmin training pilot
  docs/garmin-integration.md
  docs/provider-integration-guide.md
  docs/training-workspace.md
  functions/src/training-plans/delivery/delivery.emulator.spec.ts
  functions/src/training-plans/delivery/runtime.spec.ts
  functions/src/training-plans/delivery/runtime.ts
  shared/training-delivery-rollout.ts
  src/app/components/plans/plans-workspace.component.spec.ts
  src/app/components/plans/training-delivery-button.component.ts
  src/app/components/plans/training-delivery-dialog.component.spec.ts
  src/app/helpers/training-delivery-rollout.spec.ts
  src/app/services/training-delivery.service.spec.ts
  src/app/services/training-delivery.service.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

fix: balance whats new popup spacing
  src/app/components/whats-new/whats-new-dialog.component.scss
  src/app/components/whats-new/whats-new-dialog.component.spec.ts
  src/app/components/whats-new/whats-new-item.component.html
  src/app/components/whats-new/whats-new-item.component.scss
  src/app/components/whats-new/whats-new-item.component.spec.ts
Due: lint-angular

fix: clarify Garmin workout permission availability
  src/app/components/services/garmin/services.garmin.component.spec.ts
  src/app/components/services/garmin/services.garmin.component.ts
Due: lint-angular

fix: show ungranted MCP connection permissions
  docs/mcp-server.md
  src/app/components/mcp-connections/mcp-connections.component.html
  src/app/components/mcp-connections/mcp-connections.component.spec.ts
  src/app/components/mcp-connections/mcp-connections.component.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: show MCP permission details on demand
  docs/mcp-server.md
  src/app/components/mcp-authorization/mcp-authorization.component.ts
  src/app/components/mcp-connections/mcp-connections.component.html
  src/app/components/mcp-connections/mcp-connections.component.scss
  src/app/components/mcp-connections/mcp-connections.component.spec.ts
  src/app/components/mcp-connections/mcp-connections.component.ts
  src/app/helpers/mcp-permissions.helper.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: remove redundant MCP permission status labels
  docs/mcp-server.md
  src/app/components/mcp-connections/mcp-connections.component.html
  src/app/components/mcp-connections/mcp-connections.component.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

feat: expose Garmin permissions and connected-account reauthorization
  docs/garmin-integration.md
  docs/provider-integration-guide.md
  docs/training-workspace.md
  src/app/components/services/garmin/garmin-permissions.component.html
  src/app/components/services/garmin/garmin-permissions.component.scss
  src/app/components/services/garmin/garmin-permissions.component.spec.ts
  src/app/components/services/garmin/garmin-permissions.component.ts
  src/app/components/services/garmin/services.garmin.component.html
  src/app/components/services/garmin/services.garmin.component.spec.ts
  src/app/components/services/garmin/services.garmin.component.ts
  src/app/helpers/garmin-permissions.helper.spec.ts
  src/app/helpers/garmin-permissions.helper.ts
  src/app/modules/services.module.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: harden Garmin permission recovery and connection lifecycle
  docs/garmin-integration.md
  docs/provider-integration-guide.md
  src/app/components/services/coros/services.coros.component.spec.ts
  src/app/components/services/coros/services.coros.component.ts
  src/app/components/services/garmin/services.garmin.component.html
  src/app/components/services/garmin/services.garmin.component.spec.ts
  src/app/components/services/garmin/services.garmin.component.ts
  src/app/components/services/services-abstract-component.directive.ts
  src/app/components/services/suunto/services.suunto.component.spec.ts
  src/app/components/services/suunto/services.suunto.component.ts
  src/app/services/app.functions.service.spec.ts
  src/app/services/app.functions.service.ts
  src/app/services/app.user.service.spec.ts
  src/app/services/app.user.service.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: tighten and align Garmin permission rows
  docs/frontend-ui.md
  src/app/components/services/garmin/garmin-permissions.component.scss
  src/app/components/services/garmin/garmin-permissions.component.spec.ts
  src/app/components/services/garmin/services.garmin.component.spec.ts
  src/app/components/shared/compact-row/compact-row.component.scss
  src/app/components/shared/compact-row/compact-row.component.spec.ts
  src/app/helpers/garmin-permissions.helper.spec.ts
  src/app/helpers/garmin-permissions.helper.ts
Due: lint-angular

fix: remove reconnect from healthy Garmin connections
  docs/garmin-integration.md
  docs/provider-integration-guide.md
  src/app/components/services/garmin/garmin-permissions.component.html
  src/app/components/services/garmin/services.garmin.component.html
  src/app/components/services/garmin/services.garmin.component.spec.ts
  src/app/components/services/garmin/services.garmin.component.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: hide deferred Garmin women's health permission
  docs/garmin-integration.md
  docs/provider-integration-guide.md
  functions/src/garmin/constants.spec.ts
  functions/src/garmin/constants.ts
  src/app/components/services/garmin/garmin-permissions.component.spec.ts
  src/app/components/services/garmin/services.garmin.component.spec.ts
  src/app/helpers/garmin-permissions.helper.spec.ts
  src/app/helpers/garmin-permissions.helper.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

fix: use Garmin Training permission label
  docs/garmin-integration.md
  docs/provider-integration-guide.md
  docs/training-workspace.md
  functions/src/training-plans/delivery/connection.spec.ts
  functions/src/training-plans/delivery/connection.ts
  functions/src/training-plans/delivery/garmin/authorization.spec.ts
  functions/src/training-plans/delivery/garmin/worker.emulator.spec.ts
  src/app/components/plans/training-delivery-dialog.component.spec.ts
  src/app/components/services/garmin/garmin-permissions.component.spec.ts
  src/app/components/services/garmin/services.garmin.component.spec.ts
  src/app/helpers/garmin-permissions.helper.spec.ts
  src/app/helpers/garmin-permissions.helper.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

fix: add workout date picker
  docs/training-workspace.md
  src/app/components/plans/plans-workspace.component.html
  src/app/components/plans/plans-workspace.component.spec.ts
  src/app/components/plans/plans-workspace.component.ts
Due: lint-angular

fix: clarify training delivery states and recover Garmin schedule creation
  docs/provider-integration-guide.md
  docs/training-workspace.md
  functions/src/training-plans/delivery/contracts.spec.ts
  functions/src/training-plans/delivery/contracts.ts
  functions/src/training-plans/delivery/garmin/http.spec.ts
  functions/src/training-plans/delivery/garmin/http.ts
  functions/src/training-plans/delivery/garmin/transport.spec.ts
  functions/src/training-plans/delivery/garmin/transport.ts
  functions/src/training-plans/delivery/garmin/worker.emulator.spec.ts
  functions/src/training-plans/delivery/worker.ts
  src/app/components/plans/training-delivery-dialog.component.html
  src/app/components/plans/training-delivery-dialog.component.scss
  src/app/components/plans/training-delivery-dialog.component.spec.ts
  src/app/components/plans/training-delivery-dialog.component.ts
  src/app/helpers/training-delivery-display.helper.spec.ts
  src/app/helpers/training-delivery-display.helper.ts
  src/app/services/training-delivery.service.spec.ts
  src/app/services/training-delivery.service.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

fix: avoid repeated workout scans for sleep-derived metrics
  docs/training-workspace.md
  functions/src/derived-metrics/derived-metrics-reuse.emulator.spec.ts
  functions/src/derived-metrics/derived-metrics-source-change.spec.ts
  functions/src/derived-metrics/derived-metrics-source-change.ts
  functions/src/derived-metrics/derived-metrics-source-fields.ts
  functions/src/derived-metrics/derived-metrics.service.spec.ts
  functions/src/derived-metrics/derived-metrics.service.ts
  functions/src/derived-metrics/derived-metrics.trigger.spec.ts
  functions/src/derived-metrics/derived-metrics.trigger.ts
  functions/src/derived-metrics/training-build-workout-seed.spec.ts
  functions/src/derived-metrics/training-build-workout-seed.ts
  functions/src/tasks/derived-metrics-ingress-worker.spec.ts
  functions/src/tasks/derived-metrics-ingress-worker.ts
  functions/src/tasks/derived-metrics-worker.spec.ts
  functions/src/tasks/derived-metrics-worker.ts
Due: lint-functions

fix: harden derived-metric cache and job recovery
  docs/training-workspace.md
  functions/src/derived-metrics/derived-metrics-reuse.emulator.spec.ts
  functions/src/derived-metrics/derived-metrics.service.spec.ts
  functions/src/derived-metrics/derived-metrics.service.ts
  functions/src/tasks/derived-metrics-worker.spec.ts
  functions/src/tasks/derived-metrics-worker.ts
Due: lint-functions

fix: simplify workout sync consent and compact training history
  .agent/rules/material-design-strict.md
  docs/provider-integration-guide.md
  docs/training-workspace.md
  src/app/components/plans/plans-workspace.component.html
  src/app/components/plans/plans-workspace.component.scss
  src/app/components/plans/plans-workspace.component.spec.ts
  src/app/components/plans/plans-workspace.component.ts
  src/app/components/plans/training-delivery-button.component.html
  src/app/components/plans/training-delivery-button.component.ts
  src/app/components/plans/training-delivery-dialog.component.html
  src/app/components/plans/training-delivery-dialog.component.scss
  src/app/components/plans/training-delivery-dialog.component.spec.ts
  src/app/components/plans/training-delivery-dialog.component.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: correct training sync history and inherited controls
  docs/provider-integration-guide.md
  docs/training-workspace.md
  src/app/components/plans/training-delivery-dialog.component.html
  src/app/components/plans/training-delivery-dialog.component.spec.ts
  src/app/components/plans/training-delivery-dialog.component.ts
  src/app/helpers/training-delivery-display.helper.spec.ts
  src/app/helpers/training-delivery-display.helper.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: distinguish plan sync from individual workout status
  docs/provider-integration-guide.md
  docs/training-workspace.md
  src/app/components/plans/plans-workspace.component.html
  src/app/components/plans/training-delivery-button.component.ts
  src/app/components/plans/training-delivery-dialog.component.html
  src/app/components/plans/training-delivery-dialog.component.scss
  src/app/components/plans/training-delivery-dialog.component.spec.ts
  src/app/components/plans/training-delivery-dialog.component.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: clarify stopping workout sync without disconnecting
  docs/training-workspace.md
  src/app/components/plans/training-delivery-dialog.component.html
  src/app/components/plans/training-delivery-dialog.component.spec.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: simplify training sync settings and prevent unchanged saves
  docs/provider-integration-guide.md
  docs/training-workspace.md
  src/app/components/plans/training-delivery-dialog.component.html
  src/app/components/plans/training-delivery-dialog.component.scss
  src/app/components/plans/training-delivery-dialog.component.spec.ts
  src/app/components/plans/training-delivery-dialog.component.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: use shared thin scrollbars across all app surfaces
  .agent/rules/material-design-strict.md
  docs/frontend-ui.md
  src/AGENTS.md
  src/styles.scss
  src/styles/_scrollbars.scss
  src/styles/scrollbars.spec.ts
Due: lint-angular

feat: show per-service plan and workout sync summaries
  docs/provider-integration-guide.md
  docs/training-workspace.md
  src/app/components/plans/plans-workspace.component.html
  src/app/components/plans/plans-workspace.component.spec.ts
  src/app/components/plans/plans-workspace.component.ts
  src/app/components/plans/training-delivery-button.component.html
  src/app/components/plans/training-delivery-button.component.scss
  src/app/components/plans/training-delivery-button.component.spec.ts
  src/app/components/plans/training-delivery-button.component.ts
  src/app/helpers/training-delivery-summary.helper.spec.ts
  src/app/helpers/training-delivery-summary.helper.ts
  src/app/services/training-delivery-reads.spec.ts
  src/app/services/training-delivery.service.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: increase memory for OOM functions
  docs/training-workspace.md
  functions/src/activity-sync/disconnect-routes.spec.ts
  functions/src/activity-sync/disconnect-routes.ts
  functions/src/admin/dashboard-history.handlers.spec.ts
  functions/src/admin/handlers/dashboard-history.handlers.ts
  functions/src/health/activity-callable.spec.ts
  functions/src/health/activity-callable.ts
  functions/src/training-plans/delivery/lifecycle.spec.ts
  functions/src/training-plans/delivery/lifecycle.ts
  functions/src/training-plans/delivery/tasks.spec.ts
  functions/src/training-plans/delivery/tasks.ts
Due: lint-functions

fix: separate workout edit from sync controls
  docs/training-workspace.md
  src/app/components/plans/training-delivery-dialog.component.html
  src/app/components/plans/training-delivery-dialog.component.scss
  src/app/components/plans/training-delivery-dialog.component.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: prevent onboarding plan pricing overlap
  src/app/components/onboarding/onboarding.component.scss
  src/app/components/pricing/pricing.component.scss
Due: none
