Repository jimmykane/quantified-self: changes, and which lefthook commands are due for each by the changed paths.
All: lint-functions, lint-angular

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint-functions:
      root: "functions"
      glob: "**/*.{ts,js}"
      run: npx eslint {staged_files} --fix && git add {staged_files}
    lint-angular:
      glob: "{src/*.{ts,html},src/**/*.{ts,html}}"
      run: ESLINT_USE_FLAT_CONFIG=false npx eslint {staged_files} --fix && git add {staged_files}

feat: clarify Suunto Guide phase notifications
  docs/provider-integration-guide.md
  docs/training-workspace.md
  functions/src/mcp/training-plans.service.spec.ts
  functions/src/training-plans/delivery/suunto/suunto.emulator.spec.ts
  functions/src/training-plans/providers/suunto-guide.serializer.spec.ts
  functions/src/training-plans/providers/suunto-guide.serializer.ts
  functions/src/training-plans/providers/suunto-strength.serializer.spec.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

feat: integrate bounded Wahoo timed strength delivery
  docs/mcp-server.md
  docs/provider-integration-guide.md
  docs/training-workspace.md
  docs/wahoo-integration.md
  functions/src/mcp/training-plans-write.emulator.spec.ts
  functions/src/mcp/training-plans.service.spec.ts
  functions/src/training-plans/delivery/mapping.ts
  functions/src/training-plans/delivery/runtime.spec.ts
  functions/src/training-plans/delivery/test-support/wahoo-http-fixture.ts
  functions/src/training-plans/delivery/wahoo/mapping.spec.ts
  functions/src/training-plans/delivery/wahoo/mapping.ts
  functions/src/training-plans/delivery/wahoo/transport.spec.ts
  functions/src/training-plans/delivery/wahoo/transport.ts
  functions/src/training-plans/delivery/wahoo/worker.emulator.spec.ts
  functions/src/training-plans/providers/wahoo-plan.serializer.ts
  functions/src/training-plans/providers/wahoo-strength.serializer.spec.ts
  shared/planned-workout-providers.ts
  shared/wahoo-strength-workout.ts
  src/app/components/plans/training-delivery-dialog.component.html
  src/app/components/plans/training-delivery-dialog.component.spec.ts
  src/app/components/public-seo/public-seo-pages.content.spec.ts
  src/app/components/public-seo/training-plans-home.content.ts
  src/app/components/public-seo/training-plans-page.content.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

feat: add approval-gated saved workout MCP changes
  docs/assistant.md
  docs/mcp-server.md
  docs/training-workspace.md
  firestore.indexes.json
  firestore.rules
  functions/src/assistant/callable.spec.ts
  functions/src/assistant/callable.ts
  functions/src/assistant/runtime.spec.ts
  functions/src/assistant/runtime.ts
  functions/src/mcp/contracts/pending-change.json
  functions/src/mcp/data.service.ts
  functions/src/mcp/server.spec.ts
  functions/src/mcp/server.ts
  functions/src/mcp/tool-output-schemas.spec.ts
  functions/src/mcp/training-plans-write.service.ts
  functions/src/mcp/training-plans.schemas.ts
  functions/src/mcp/training-preview-loop-guard.spec.ts
  functions/src/mcp/training-preview-loop-guard.ts
  functions/src/mcp/workout-library-write.emulator.spec.ts
  functions/src/mcp/workout-library-write.service.ts
  functions/src/training-plans/workout-library.ts
  functions/src/users/cleanup.spec.ts
  functions/src/users/cleanup.ts
  plugins/quantified-self/skills/analyze-quantified-self-training/SKILL.md
  plugins/quantified-self/skills/analyze-quantified-self/SKILL.md
  src/app/components/assistant/assistant-page.component.html
  src/app/components/assistant/assistant-page.component.spec.ts
  src/app/components/assistant/assistant-page.component.ts
  src/app/components/mcp-connections/mcp-connections.component.spec.ts
  src/app/components/public-seo/public-seo-pages.content.ts
  src/app/helpers/mcp-permissions.helper.ts
  src/app/shared/help.content.ts
  src/app/shared/policies.content.ts
  src/firebase-hosting.config.spec.ts
  src/firestore.rules.spec.ts
  src/sitemap.xml
Due: lint-functions, lint-angular

fix: harden saved workout proposal review paths
  functions/src/assistant/runtime.spec.ts
  functions/src/assistant/runtime.ts
  functions/src/mcp/workout-library-write.emulator.spec.ts
  functions/src/mcp/workout-library-write.service.ts
  functions/src/training-plans/workout-library.ts
  src/app/components/assistant/assistant-page.component.html
  src/app/components/assistant/assistant-page.component.ts
Due: lint-functions, lint-angular

fix: harden manual measurement contracts and retry cleanup
  docs/mcp-server.md
  functions/src/mcp/manual-measurements.schemas.ts
  functions/src/mcp/manual-measurements.spec.ts
  shared/assistant-response.contract.ts
  src/app/components/assistant/assistant-page.component.spec.ts
  src/app/components/assistant/assistant-page.component.ts
  src/app/services/assistant.service.ts
  src/app/shared/assistant-response.contract.spec.ts
  src/firebase-hosting.config.spec.ts
Due: lint-functions, lint-angular

fix: harden manual measurement pagination and read bounds
  docs/mcp-server.md
  functions/src/mcp/manual-measurements.emulator.spec.ts
  functions/src/mcp/manual-measurements.service.ts
Due: lint-functions

fix: keep marketing campaign rows within sidebar
  src/app/components/admin/admin-marketing/admin-marketing.component.scss
Due: none

feat: expose workout library copy actions
  docs/training-workspace.md
  src/app/components/plans/plans-workspace.component.html
  src/app/components/plans/plans-workspace.component.scss
  src/app/components/plans/plans-workspace.component.spec.ts
  src/app/components/plans/plans-workspace.component.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: hide disabled COROS training delivery
  docs/coros-integration.md
  docs/mcp-server.md
  docs/provider-integration-guide.md
  docs/training-workspace.md
  functions/src/training-plans/delivery/coros/strength.emulator.spec.ts
  functions/src/training-plans/delivery/runtime.spec.ts
  functions/src/training-plans/providers/provider-mapping.spec.ts
  shared/planned-workout-providers.ts
  src/app/components/integrations/integration-pages.content.spec.ts
  src/app/components/integrations/integration-pages.content.ts
  src/app/components/plans/plans-workspace.component.html
  src/app/components/plans/plans-workspace.component.spec.ts
  src/app/components/plans/training-delivery-button.component.spec.ts
  src/app/components/plans/training-delivery-button.component.ts
  src/app/components/plans/training-delivery-dialog.component.html
  src/app/components/plans/training-delivery-dialog.component.spec.ts
  src/app/components/plans/training-delivery-dialog.component.ts
  src/app/helpers/training-delivery-rollout.spec.ts
  src/app/services/training-delivery.service.spec.ts
  src/app/services/training-delivery.service.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/app/shared/policies.content.spec.ts
  src/app/shared/policies.content.ts
Due: lint-functions, lint-angular

feat: support tested Wahoo walking and hiking workouts
  docs/mcp-server.md
  docs/provider-integration-guide.md
  docs/training-workspace.md
  docs/wahoo-integration.md
  functions/src/mcp/training-plans.service.spec.ts
  functions/src/training-plans/delivery/wahoo/mapping.spec.ts
  functions/src/training-plans/delivery/wahoo/mapping.ts
  functions/src/training-plans/delivery/wahoo/transport.spec.ts
  functions/src/training-plans/delivery/wahoo/transport.ts
  functions/src/training-plans/delivery/wahoo/worker.emulator.spec.ts
  functions/src/training-plans/providers/provider-mapping.spec.ts
  functions/src/training-plans/providers/wahoo-plan.serializer.ts
  functions/src/wahoo/training-completion.emulator.spec.ts
  shared/planned-workout-providers.ts
  shared/wahoo-workout-sports.ts
  src/app/components/integrations/integration-pages.content.spec.ts
  src/app/components/integrations/integration-pages.content.ts
  src/app/components/public-seo/public-seo-pages.content.spec.ts
  src/app/components/public-seo/training-plans-page.content.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

docs: keep COROS delivery copy coming soon
  src/app/components/integrations/integration-pages.content.spec.ts
  src/app/components/integrations/integration-pages.content.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/app/shared/policies.content.spec.ts
  src/app/shared/policies.content.ts
Due: lint-angular

fix: add production script budget headroom
  angular.json
Due: none

feat: map all planned workout sports for Wahoo
  docs/mcp-server.md
  docs/provider-integration-guide.md
  docs/training-workspace.md
  docs/wahoo-integration.md
  functions/src/mcp/training-plans-write.emulator.spec.ts
  functions/src/mcp/training-plans.service.spec.ts
  functions/src/training-plans/delivery/mapping.ts
  functions/src/training-plans/delivery/test-support/wahoo-sport-fixtures.ts
  functions/src/training-plans/delivery/wahoo/mapping.spec.ts
  functions/src/training-plans/delivery/wahoo/transport.spec.ts
  functions/src/training-plans/delivery/wahoo/transport.ts
  functions/src/training-plans/delivery/wahoo/worker.emulator.spec.ts
  functions/src/training-plans/providers/provider-mapping.spec.ts
  functions/src/training-plans/providers/wahoo-plan.serializer.ts
  shared/planned-workout-providers.ts
  shared/wahoo-workout-sports.ts
  src/app/components/home/home.component.spec.ts
  src/app/components/integrations/integration-pages.content.spec.ts
  src/app/components/integrations/integration-pages.content.ts
  src/app/components/plans/training-delivery-dialog.component.html
  src/app/components/plans/training-delivery-dialog.component.spec.ts
  src/app/components/public-seo/public-seo-pages.content.spec.ts
  src/app/components/public-seo/training-plans-home.content.ts
  src/app/components/public-seo/training-plans-page.content.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

chore: remove unused Wahoo fixture imports
  functions/src/training-plans/delivery/wahoo/transport.spec.ts
  functions/src/training-plans/delivery/wahoo/worker.emulator.spec.ts
Due: lint-functions

fix: use source-specific intensity zone grouping
  docs/mcp-server.md
  docs/training-workspace.md
  functions/src/derived-metrics/derived-metrics.service.spec.ts
  functions/src/derived-metrics/derived-metrics.service.ts
  functions/src/derived-metrics/ensure-derived-metrics.spec.ts
  functions/src/derived-metrics/ensure-derived-metrics.ts
  functions/src/derived-metrics/training-build-workout-seed.spec.ts
  functions/src/derived-metrics/training-build-workout-seed.ts
  functions/src/mcp/data.service.spec.ts
  functions/src/mcp/data.service.ts
  functions/src/mcp/training-metric-catalog.spec.ts
  functions/src/mcp/training-metric-catalog.ts
  shared/derived-metrics.ts
  shared/intensity-zones.ts
  src/app/components/charts/intensity-distribution/charts.intensity-distribution.component.spec.ts
  src/app/components/charts/intensity-distribution/charts.intensity-distribution.component.ts
  src/app/components/tile/chart/tile.chart.component.html
  src/app/components/training/training-workspace.component.html
  src/app/helpers/dashboard-chart-example-signals.helper.ts
  src/app/helpers/dashboard-chart-info.helper.spec.ts
  src/app/helpers/dashboard-chart-info.helper.ts
  src/app/helpers/dashboard-derived-metrics.helper.spec.ts
  src/app/helpers/dashboard-derived-metrics.helper.ts
  src/app/helpers/dashboard-kpi-explanation.helper.spec.ts
  src/app/helpers/dashboard-kpi-explanation.helper.ts
  src/app/helpers/intensity-zones.spec.ts
  src/app/services/dashboard-derived-metrics.service.spec.ts
  src/app/services/dashboard-derived-metrics.service.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

fix: preserve intensity eligibility during targeted refreshes
  docs/mcp-server.md
  docs/training-workspace.md
  functions/src/mcp/data.service.spec.ts
  functions/src/mcp/data.service.ts
  functions/src/tasks/derived-metrics-worker.spec.ts
  functions/src/tasks/derived-metrics-worker.ts
Due: lint-functions

fix: retain Garmin callbacks for failed-job recovery
  docs/garmin-integration.md
  docs/provider-integration-guide.md
  functions/src/queue-utils.spec.ts
  functions/src/queue-utils.ts
  functions/src/queue/queue-item.interface.ts
Due: lint-functions

test: align training delivery provider expectations
  functions/src/mcp/training-plans-write.emulator.spec.ts
Due: lint-functions

feat: add disclosed Garmin Generic workout mappings
  docs/mcp-server.md
  docs/provider-integration-guide.md
  docs/training-workspace.md
  functions/src/mcp/training-plans-write.emulator.spec.ts
  functions/src/mcp/training-plans.service.spec.ts
  functions/src/training-plans/delivery/garmin/worker.emulator.spec.ts
  functions/src/training-plans/delivery/mapping.spec.ts
  functions/src/training-plans/providers/garmin-generic.serializer.spec.ts
  functions/src/training-plans/providers/garmin-workout.serializer.ts
  functions/src/training-plans/providers/provider-mapping.spec.ts
  shared/planned-workout-providers.ts
  src/app/components/home/home.component.spec.ts
  src/app/components/plans/training-delivery-dialog.component.spec.ts
  src/app/components/public-seo/public-seo-pages.content.spec.ts
  src/app/components/public-seo/training-plans-home.content.ts
  src/app/components/public-seo/training-plans-page.content.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

feat: add complete calendar weeks and a 30-day view
  docs/activity-calendar.md
  src/app/components/calendar/activity-calendar-grid/activity-calendar-grid.component.html
  src/app/components/calendar/activity-calendar-grid/activity-calendar-grid.component.scss
  src/app/components/calendar/activity-calendar-grid/activity-calendar-grid.component.spec.ts
  src/app/components/calendar/activity-calendar-grid/activity-calendar-grid.component.ts
  src/app/components/calendar/activity-calendar-tile/activity-calendar-tile.component.html
  src/app/components/calendar/activity-calendar-tile/activity-calendar-tile.component.scss
  src/app/components/calendar/activity-calendar-tile/activity-calendar-tile.component.spec.ts
  src/app/components/calendar/activity-calendar-tile/activity-calendar-tile.component.ts
  src/app/components/calendar/calendar-day-context/calendar-day-context.component.spec.ts
  src/app/components/calendar/calendar-day-context/calendar-day-context.component.ts
  src/app/components/calendar/calendar-day-details/calendar-day-details.component.spec.ts
  src/app/components/calendar/calendar-day-details/calendar-day-details.component.ts
  src/app/components/calendar/calendar-month-picker-bottom-sheet/calendar-month-picker-bottom-sheet.component.html
  src/app/components/calendar/calendar-month-picker-bottom-sheet/calendar-month-picker-bottom-sheet.component.ts
  src/app/components/calendar/calendar-page/calendar-page.component.html
  src/app/components/calendar/calendar-page/calendar-page.component.scss
  src/app/components/calendar/calendar-page/calendar-page.component.spec.ts
  src/app/components/calendar/calendar-page/calendar-page.component.ts
  src/app/components/summaries/dashboard-chart-library/dashboard-chart-preview.component.html
  src/app/components/summaries/summaries.component.html
  src/app/components/summaries/summaries.component.spec.ts
  src/app/components/summaries/summaries.component.ts
  src/app/components/tile/chart/tile.chart.component.html
  src/app/components/tile/chart/tile.chart.component.ts
  src/app/helpers/activity-calendar.helper.spec.ts
  src/app/helpers/activity-calendar.helper.ts
  src/app/helpers/calendar-timeline-notes.helper.spec.ts
  src/app/helpers/calendar-timeline-notes.helper.ts
  src/app/helpers/dashboard-chart-display-settings.helper.spec.ts
  src/app/helpers/dashboard-chart-display-settings.helper.ts
  src/app/helpers/dashboard-chart-thumbnail.helper.ts
  src/app/models/app-user.interface.ts
  src/app/services/calendar-day-details-navigation.service.spec.ts
  src/app/services/calendar-day-details-navigation.service.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: preserve calendar selections and return context
  docs/activity-calendar.md
  src/app/components/calendar/activity-calendar-tile/activity-calendar-tile.component.spec.ts
  src/app/components/calendar/activity-calendar-tile/activity-calendar-tile.component.ts
  src/app/components/calendar/calendar-day-details/calendar-day-details.component.spec.ts
  src/app/components/calendar/calendar-day-details/calendar-day-details.component.ts
  src/app/components/calendar/calendar-page/calendar-page.component.html
  src/app/components/calendar/calendar-page/calendar-page.component.spec.ts
  src/app/components/calendar/calendar-page/calendar-page.component.ts
  src/app/helpers/activity-calendar.helper.spec.ts
  src/app/helpers/activity-calendar.helper.ts
Due: lint-angular

feat: expand COROS running and cycling workout mappings
  docs/coros-integration.md
  docs/mcp-server.md
  docs/provider-integration-guide.md
  docs/training-workspace.md
  functions/src/mcp/training-plans.service.spec.ts
  functions/src/training-plans/delivery/coros/batch-worker.emulator.spec.ts
  functions/src/training-plans/delivery/coros/transport.spec.ts
  functions/src/training-plans/delivery/mapping.spec.ts
  functions/src/training-plans/providers/provider-mapping.spec.ts
  shared/planned-workout-providers.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

fix: restore calendar context after navigation completes
  docs/activity-calendar.md
  src/app/services/calendar-day-details-navigation.service.spec.ts
  src/app/services/calendar-day-details-navigation.service.ts
Due: lint-angular

fix: align Wahoo sport capabilities with verified playback
  docs/mcp-server.md
  docs/provider-integration-guide.md
  docs/training-workspace.md
  docs/wahoo-integration.md
  functions/src/mcp/training-plans.service.spec.ts
  functions/src/training-plans/delivery/test-support/wahoo-sport-fixtures.ts
  functions/src/training-plans/delivery/wahoo/mapping.spec.ts
  functions/src/training-plans/delivery/wahoo/worker.emulator.spec.ts
  functions/src/training-plans/providers/provider-mapping.spec.ts
  functions/src/training-plans/providers/wahoo-plan.serializer.ts
  functions/src/wahoo/training-completion.emulator.spec.ts
  shared/planned-workout-providers.ts
  shared/wahoo-workout-sports.ts
  src/app/components/home/home.component.spec.ts
  src/app/components/integrations/integration-pages.content.spec.ts
  src/app/components/integrations/integration-pages.content.ts
  src/app/components/plans/training-delivery-dialog.component.html
  src/app/components/plans/training-delivery-dialog.component.spec.ts
  src/app/components/public-seo/public-seo-pages.content.spec.ts
  src/app/components/public-seo/training-plans-home.content.ts
  src/app/components/public-seo/training-plans-page.content.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

fix: remove duplicate Today recovery divider
  src/app/components/summaries/summaries.component.css
Due: none

fix: integrate compact training impact with activity stats
  docs/training-workspace.md
  src/app/components/training-impact/training-impact.component.scss
  src/app/components/training-impact/training-impact.component.spec.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: size jump table columns to their content
  src/app/components/event/jumps/event.card.jumps.component.css
  src/app/components/event/jumps/event.card.jumps.component.html
  src/app/components/event/jumps/event.card.jumps.component.spec.ts
Due: lint-angular

docs: expand homepage workout prompt with notes and weekday habits
  src/app/components/home/home.component.spec.ts
  src/app/components/public-seo/training-plans-home.content.ts
Due: lint-angular

fix: simplify homepage workout sync copy
  docs/training-workspace.md
  src/app/components/home/home.component.spec.ts
  src/app/components/public-seo/public-seo-pages.content.spec.ts
  src/app/components/public-seo/training-plans-home.content.ts
Due: lint-angular

fix: add compact watch icon to activity device label
  src/app/components/event-summary/event-summary.component.html
  src/app/components/event-summary/event-summary.component.scss
Due: lint-angular

fix: trim homepage workout delivery copy
  docs/training-workspace.md
  src/app/components/home/home.component.spec.ts
  src/app/components/public-seo/public-seo-pages.content.spec.ts
  src/app/components/public-seo/training-plans-home.content.ts
Due: lint-angular

refactor: place compact training impact below activity summary
  docs/training-workspace.md
  src/app/components/event-summary/event-summary.component.html
  src/app/components/event-summary/event-summary.component.scss
  src/app/components/event-summary/event-summary.component.spec.ts
  src/app/components/event/event.card.component.html
  src/app/components/event/event.card.component.spec.ts
  src/app/components/training-impact/training-impact.component.html
  src/app/components/training-impact/training-impact.component.scss
  src/app/components/training-impact/training-impact.component.spec.ts
  src/app/components/training-impact/training-impact.component.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: integrate activity tags with device metadata
  src/app/components/event-summary/event-summary.component.html
  src/app/components/event-summary/event-summary.component.scss
  src/app/components/event-summary/event-summary.component.spec.ts
  src/app/components/event-summary/event-summary.component.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: stabilize Functions unit test runner in CI
  .github/workflows/_run-tests.yml
  docs/ci-testing.md
  functions/src/test-runner-config.spec.ts
  functions/vitest.config.ts
  tools/testing-workflow.test.mjs
Due: lint-functions

fix: compact activity tag button feedback
  src/app/components/event-summary/event-summary.component.scss
Due: none

fix: compact training impact with inline info
  docs/training-workspace.md
  src/app/components/event-summary/event-summary.component.scss
  src/app/components/training-impact/training-impact.component.html
  src/app/components/training-impact/training-impact.component.scss
  src/app/components/training-impact/training-impact.component.spec.ts
  src/app/components/training-impact/training-impact.component.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: tighten summary spacing above training impact
  docs/training-workspace.md
  src/app/components/event-summary/event-summary.component.scss
  src/app/components/shared/summary-primary-info/summary-primary-info.component.scss
Due: none

fix: adopt sports-lib Wahoo FIT completion references
  docs/mcp-server.md
  docs/provider-integration-guide.md
  docs/training-workspace.md
  docs/wahoo-integration.md
  functions/package-lock.json
  functions/package.json
  functions/src/mcp/training-plans.service.spec.ts
  functions/src/reparse/SPORTS_LIB_REPARSE_RUNBOOK.md
  functions/src/training-plans/delivery/test-support/wahoo-fit-fixture.ts
  functions/src/wahoo/fit-training-reference.spec.ts
  functions/src/wahoo/fit-training-reference.ts
  functions/src/wahoo/processor.spec.ts
  functions/src/wahoo/processor.ts
  functions/src/wahoo/training-completion.emulator.spec.ts
  functions/src/wahoo/training-completion.ts
  package-lock.json
  package.json
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

fix: keep intensity zone labels within full-width chart
  src/app/components/event/intensity-zones/event.intensity-zones.component.spec.ts
  src/app/components/event/intensity-zones/event.intensity-zones.component.ts
Due: lint-angular
