Repository jimmykane/quantified-self: changes, and which lefthook commands are due for each by the changed paths.
All: lint-functions, lint-angular

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint-functions:
      root: "functions"
      glob: "**/*.{ts,js}"
      run: npx eslint {staged_files} --fix && git add {staged_files}
    lint-angular:
      glob: "{src/*.{ts,html},src/**/*.{ts,html}}"
      run: ESLINT_USE_FLAT_CONFIG=false npx eslint {staged_files} --fix && git add {staged_files}

chore: honor the gate for appcheck
  functions/src/events/upload-activity.spec.ts
  functions/src/events/upload-activity.ts
Due: lint-functions

chore: improve flow
  src/app/components/upload/upload-activities/upload-activities.component.spec.ts
  src/app/components/upload/upload-activities/upload-activities.component.ts
  src/app/services/app.fit-upload.service.spec.ts
  src/app/services/app.fit-upload.service.ts
Due: lint-angular

chore: upgrade functions to node 22
  functions/package.json
Due: none

Revert "chore: upgrade functions to node 22"
  functions/package.json
Due: none

fix: for merge
  functions/src/events/merge-events.spec.ts
  functions/src/events/merge-events.ts
Due: lint-functions

fix: do not update activities
  src/app/utils/activity-edit.persistence.spec.ts
  src/app/utils/activity-edit.persistence.ts
Due: lint-angular

refactor: use utils to make sure streams are removed when writing
  functions/src/events/merge-events.spec.ts
  functions/src/events/merge-events.ts
  functions/src/shared/event-writer.spec.ts
  functions/src/shared/event-writer.ts
  functions/src/shared/firestore-write-sanitizer.spec.ts
  functions/src/shared/firestore-write-sanitizer.ts
  src/app/services/app.event.service.spec.ts
  src/app/services/app.event.service.ts
  src/app/utils/activity-edit.persistence.spec.ts
  src/app/utils/activity-edit.persistence.ts
Due: lint-functions, lint-angular

chore: improve docs
  .agent/rules/firestore-write-sanitization.md
  .agent/rules/rules.md
  AGENTS.md
  functions/AGENTS.md
  functions/src/events/merge-events.ts
  functions/src/shared/event-writer.ts
  functions/src/shared/firestore-write-sanitizer.ts
  src/AGENTS.md
  src/app/services/app.event.service.ts
  src/app/utils/activity-edit.persistence.ts
Due: lint-functions, lint-angular

chore: fix for zip and gz
  functions/src/events/upload-activity.spec.ts
  functions/src/events/upload-activity.ts
Due: lint-functions

chore: add more tests
  functions/src/events/merge-events.spec.ts
  functions/src/events/upload-activity.spec.ts
  src/app/components/activity-actions/activity.actions.component.spec.ts
  src/app/components/event-table/event.table.component.spec.ts
  src/app/components/upload/upload-activities/upload-activities.component.spec.ts
  src/app/services/app.event-merge.service.spec.ts
  src/app/services/app.event.service.spec.ts
  src/app/services/app.fit-upload.service.spec.ts
Due: lint-functions, lint-angular

chore: improve coverage
  src/app/services/app.event.service.spec.ts
Due: lint-angular

refactor: remove activity actions (that was hidden)
  src/app/components/activity-actions/activity.actions.component.css
  src/app/components/activity-actions/activity.actions.component.html
  src/app/components/activity-actions/activity.actions.component.spec.ts
  src/app/components/activity-actions/activity.actions.component.ts
  src/app/components/event/activity-toggle/activity-toggle.component.html
  src/app/components/event/activity-toggle/activity-toggle.component.ts
  src/app/components/event/map/event.card.map.component.html
  src/app/modules/event.module.ts
Due: lint-angular

chore: kinda lock the UI
  src/app/components/event-actions/event.actions.component.html
  src/app/components/event-actions/event.actions.component.spec.ts
  src/app/components/event-actions/event.actions.component.ts
Due: lint-angular

chore: type improvements
  functions/src/shared/event-writer.ts
  functions/src/shared/firestore-write-sanitizer.ts
  src/app/utils/activity-edit.persistence.ts
Due: lint-functions, lint-angular

chore: remove upload to storage
  src/app/components/services/suunto/services.suunto.component.html
  src/app/components/services/suunto/services.suunto.component.spec.ts
  src/app/components/services/suunto/services.suunto.component.ts
  src/app/services/app.event.service.spec.ts
  src/app/services/app.event.service.ts
Due: lint-angular

chore: update rules
  storage.quantified-self-io.rules
Due: none

chore: clone do not alter in place
  functions/src/shared/firestore-write-sanitizer.spec.ts
  functions/src/shared/firestore-write-sanitizer.ts
Due: lint-functions

chore: better cleanup
  functions/package.json
Due: none

chore: keep benchis
  functions/src/reparse/sports-lib-reparse.service.spec.ts
  functions/src/reparse/sports-lib-reparse.service.ts
Due: lint-functions

chore: fix for merge
  functions/src/events/merge-events.spec.ts
  functions/src/events/merge-events.ts
Due: lint-functions

chore: no ideas how to preserve merge
  functions/src/events/merge-events.spec.ts
  functions/src/events/merge-events.ts
  functions/src/reparse/sports-lib-reparse.service.spec.ts
  functions/src/reparse/sports-lib-reparse.service.ts
Due: lint-functions

chore: fix regeneration
  functions/src/events/reprocess-event.spec.ts
  functions/src/events/reprocess-event.ts
  functions/src/reparse/sports-lib-reparse.service.spec.ts
  functions/src/reparse/sports-lib-reparse.service.ts
Due: lint-functions

chore: improve reparse
  functions/src/scripts/reparse-sports-lib-events.spec.ts
  functions/src/scripts/reparse-sports-lib-events.ts
  functions/src/tasks/sports-lib-reparse-worker.spec.ts
  functions/src/tasks/sports-lib-reparse-worker.ts
Due: lint-functions

chore: limit to 50mb uncompressed
  functions/src/events/upload-activity.spec.ts
  functions/src/events/upload-activity.ts
Due: lint-functions

chore: bv
  package.json
Due: none

chore: remove st-download as fit
  functions/src/index.ts
  functions/src/suunto/st-workout-download-as-fit.spec.ts
  functions/src/suunto/st-workout-download-as-fit.ts
  src/app/components/header-stats/header-stats.component.scss
  src/app/components/services/suunto/services.suunto.component.html
  src/app/components/services/suunto/services.suunto.component.spec.ts
  src/app/components/services/suunto/services.suunto.component.ts
  src/shared/functions-manifest.ts
Due: lint-functions, lint-angular

chore: styles
  src/app/components/header-stats/header-stats.component.scss
Due: none

chore: remove brian devine
  src/app/components/summaries/summaries.component.ts
  src/app/components/tile/actions/chart/tile.chart.actions.component.html
  src/app/components/tile/actions/chart/tile.chart.actions.component.spec.ts
  src/app/components/tile/actions/chart/tile.chart.actions.component.ts
Due: lint-angular

chore: add animations states
  src/app/app.component.html
  src/app/app.component.spec.ts
  src/app/app.component.ts
  src/app/services/route-animation-state.service.spec.ts
  src/app/services/route-animation-state.service.ts
Due: lint-angular

chore: fist pass of simplification
  package-lock.json
  package.json
  src/app/components/tracks/tracks.component.spec.ts
  src/app/components/tracks/tracks.component.ts
  src/app/services/polyline-simplification.service.spec.ts
  src/app/services/polyline-simplification.service.ts
  src/tsconfig.app.json
  src/types/vis-why.d.ts
Due: lint-angular

chore: improve my tracks
  src/app/components/tracks/tracks.component.spec.ts
  src/app/components/tracks/tracks.component.ts
  src/app/services/app.event.service.spec.ts
  src/app/services/app.event.service.ts
Due: lint-angular

chore: improve performance
  src/app/components/event/map/event.card.map.component.spec.ts
  src/app/components/event/map/event.card.map.component.ts
  src/app/components/tracks/tracks-map.manager.ts
  src/app/components/tracks/tracks.component.spec.ts
  src/app/components/tracks/tracks.component.ts
  src/app/services/map/mapbox-style-synchronizer.spec.ts
  src/app/services/map/mapbox-style-synchronizer.ts
Due: lint-angular

chore: tracks
  src/app/components/tracks/tracks.component.ts
Due: lint-angular

chore: upload activity mem increase
  functions/src/events/upload-activity.spec.ts
  functions/src/events/upload-activity.ts
Due: lint-functions

chore: change instance for uploads
  functions/src/events/upload-activity.spec.ts
  functions/src/events/upload-activity.ts
Due: lint-functions

chore: fix loop possibility
  src/app/services/global-error-handler.service.spec.ts
  src/app/services/global-error-handler.service.ts
Due: lint-angular

chore: port intensity zones charts to echarts
  src/app/components/charts/intensity-zones/charts.intensity-zones.component.css
  src/app/components/charts/intensity-zones/charts.intensity-zones.component.html
  src/app/components/charts/intensity-zones/charts.intensity-zones.component.ts
  src/app/components/event/intensity-zones/event.intensity-zones.component.html
  src/app/components/event/intensity-zones/event.intensity-zones.component.spec.ts
  src/app/components/event/intensity-zones/event.intensity-zones.component.ts
  src/app/components/summaries/summaries.component.ts
  src/app/components/tile/chart/tile.chart.component.css
  src/app/components/tile/chart/tile.chart.component.html
  src/app/helpers/intensity-zones-chart-data-helper.spec.ts
  src/app/helpers/intensity-zones-chart-data-helper.ts
  src/app/modules/dashboard.module.ts
  src/app/modules/event.module.ts
  src/app/modules/shared.module.ts
Due: lint-angular

chore: add rules
  firestore.rules
  src/firestore.rules.spec.ts
Due: lint-angular

chore: fix rules for consistency
  firestore.rules
  src/firestore.rules.spec.ts
Due: lint-angular

chore: improve testing
  functions/src/schedule/sports-lib-reparse.spec.ts
  functions/src/tasks/sports-lib-reparse-worker.spec.ts
Due: lint-functions
