Repository jimmykane/quantified-self: changes, and which lefthook commands are due for each by the changed paths.
All: lint-functions, lint-angular

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint-functions:
      root: "functions"
      glob: "**/*.{ts,js}"
      run: npx eslint {staged_files} --fix && git add {staged_files}
    lint-angular:
      glob: "{src/*.{ts,html},src/**/*.{ts,html}}"
      run: ESLINT_USE_FLAT_CONFIG=false npx eslint {staged_files} --fix && git add {staged_files}

fix: map COROS snorkeling and sailing upload copies
  docs/activity-delivery-monitoring.md
  docs/coros-integration.md
  docs/provider-integration-guide.md
  functions/src/activity-sync/process-queue-item.spec.ts
  functions/src/activity-sync/process-queue-item.ts
  functions/src/coros/activities.spec.ts
  functions/src/coros/activities.ts
  functions/src/coros/activity-fit.spec.ts
  functions/src/coros/activity-fit.ts
  functions/test-utils/coros-activity-fit.ts
  src/app/components/integrations/integration-pages.content.spec.ts
  src/app/components/integrations/integration-pages.content.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

chore: bump app version to 10.18.5
  package-lock.json
  package.json
Due: none

docs: record connection-history alert activation
  docs/connection-history-import.md
  docs/provider-integration-guide.md
Due: none

fix: clarify free tools and paid membership benefits
  src/app/components/home/home.component.html
  src/app/components/home/home.component.scss
  src/app/components/home/home.component.ts
  src/app/components/pricing/pricing.component.html
  src/app/components/pricing/pricing.component.scss
  src/app/components/public-pricing/public-pricing.component.html
  src/app/components/public-pricing/public-pricing.component.ts
  src/app/components/public-seo/public-seo-page.component.html
  src/app/components/public-seo/public-seo-page.component.scss
  src/app/components/public-seo/public-seo-pages.content.ts
  src/app/components/public-seo/training-plans-access.content.ts
  src/app/components/public-seo/training-plans-home.content.ts
  src/app/components/public-seo/training-plans-page.content.ts
  src/app/shared/help.content.ts
  src/sitemap.xml
Due: lint-angular

chore: bump app version to 10.18.6
  package-lock.json
  package.json
Due: none

fix: align merged app tests and bump version to 10.18.7
  package-lock.json
  package.json
  src/AGENTS.md
  src/firebase-hosting.config.spec.ts
  tools/frontend-test-environment-reasons.json
Due: lint-angular

fix: classify frontend specs for the production test gate
  .agent/rules/frontend-test-environments.md
  tools/frontend-test-environment-reasons.json
Due: none

chore: bump app version to 10.18.8
  package-lock.json
  package.json
Due: none

fix: preserve history import busy responses
  docs/connection-history-import.md
  docs/provider-integration-guide.md
  functions/src/coros/history-to-queue.spec.ts
  functions/src/garmin/backfill.spec.ts
  functions/src/garmin/backfill.ts
  functions/src/suunto/history-to-queue.spec.ts
  functions/src/suunto/history-to-queue.ts
  functions/src/wahoo/history-to-queue.spec.ts
  src/app/components/history-import-form/history-import.form.component.spec.ts
  src/app/components/history-import-form/history-import.form.component.ts
  src/app/services/app.functions.service.spec.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/firebase-hosting.config.spec.ts
Due: lint-functions, lint-angular

test: strengthen history import contention coverage
  functions/src/suunto/history-to-queue.spec.ts
  src/app/components/history-import-form/history-import.form.component.spec.ts
Due: lint-functions, lint-angular

fix: keep recent Health highlights on the overview
  docs/unified-health-data.md
  src/app/components/health/health-category-overview.component.html
  src/app/components/health/health-category-overview.component.scss
  src/app/components/health/health-category-overview.component.spec.ts
  src/app/components/health/health-category-overview.component.ts
  src/app/components/health/health-workspace.component.html
  src/app/components/health/health-workspace.component.spec.ts
  src/app/components/health/health-workspace.component.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/firebase-hosting.config.spec.ts
Due: lint-angular

fix: report current activity sync retry reason
  functions/src/tasks/activity-sync-worker.spec.ts
  functions/src/tasks/activity-sync-worker.ts
Due: lint-functions

test: verify redaction of current activity sync retry errors
  functions/src/tasks/activity-sync-worker.spec.ts
Due: lint-functions

fix: correlate training delivery task attempts in logs
  functions/src/training-plans/delivery/tasks.spec.ts
  functions/src/training-plans/delivery/tasks.ts
Due: lint-functions

fix: strengthen MCP training prescription fidelity
  .agent/skills/mcp-metric-surface/SKILL.md
  docs/assistant.md
  docs/mcp-server.md
  docs/training-workspace.md
  functions/src/assistant/runtime.spec.ts
  functions/src/assistant/runtime.ts
  functions/src/mcp/contracts/pending-change.json
  functions/src/mcp/server.spec.ts
  functions/src/mcp/server.ts
  functions/src/mcp/training-plans-write.emulator.spec.ts
  functions/src/mcp/training-plans-write.service.ts
  functions/src/mcp/training-recipe-review.spec.ts
  functions/src/mcp/training-recipe-review.ts
  functions/src/shared/training-authoring-guidance.ts
  plugins/quantified-self/skills/analyze-quantified-self-activity/SKILL.md
  plugins/quantified-self/skills/analyze-quantified-self-training/SKILL.md
  plugins/quantified-self/skills/analyze-quantified-self/SKILL.md
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/firebase-hosting.config.spec.ts
  src/sitemap.xml
  tools/quantified-self-plugin/plugin-tool.test.mjs
Due: lint-functions, lint-angular

feat: guide plan activation and optional sync
  .agent/skills/mcp-metric-surface/SKILL.md
  docs/assistant.md
  docs/mcp-server.md
  docs/training-workspace.md
  functions/src/assistant/runtime.spec.ts
  functions/src/assistant/runtime.ts
  functions/src/mcp/contracts/pending-change.json
  functions/src/mcp/server.spec.ts
  functions/src/mcp/server.ts
  functions/src/shared/training-authoring-guidance.ts
  plugins/quantified-self/skills/analyze-quantified-self-training/SKILL.md
  src/app/components/plans/plans-workspace.component.html
  src/app/components/plans/plans-workspace.component.scss
  src/app/components/plans/plans-workspace.component.spec.ts
  src/app/components/plans/plans-workspace.component.ts
  src/app/components/plans/training-delivery-button.component.html
  src/app/components/plans/training-delivery-button.component.scss
  src/app/components/plans/training-delivery-button.component.spec.ts
  src/app/components/plans/training-delivery-button.component.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

fix: reset Health metric detail scroll and restore overview
  docs/frontend-ui.md
  src/app/components/health/health-workspace.component.spec.ts
  src/app/components/health/health-workspace.component.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/firebase-hosting.config.spec.ts
Due: lint-angular

fix: allow GPS-less COROS snorkeling uploads
  docs/activity-delivery-monitoring.md
  docs/coros-integration.md
  docs/provider-integration-guide.md
  functions/src/activity-sync/process-queue-item.spec.ts
  functions/src/coros/activities.spec.ts
  functions/src/coros/activity-fit.spec.ts
  functions/src/coros/activity-fit.ts
  src/app/components/integrations/integration-pages.content.spec.ts
  src/app/components/integrations/integration-pages.content.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/firebase-hosting.config.spec.ts
  src/sitemap.xml
Due: lint-functions, lint-angular

feat: include workout previews in Suunto Guide descriptions
  docs/mcp-server.md
  docs/provider-integration-guide.md
  docs/training-workspace.md
  functions/src/mcp/training-plans-write.emulator.spec.ts
  functions/src/mcp/training-plans-write.service.ts
  functions/src/mcp/training-plans.schemas.spec.ts
  functions/src/mcp/training-plans.service.spec.ts
  functions/src/training-plans/delivery/commands.ts
  functions/src/training-plans/delivery/contracts.ts
  functions/src/training-plans/delivery/diagnostics.spec.ts
  functions/src/training-plans/delivery/diagnostics.ts
  functions/src/training-plans/delivery/intent.spec.ts
  functions/src/training-plans/delivery/intent.ts
  functions/src/training-plans/delivery/runtime.spec.ts
  functions/src/training-plans/delivery/store.ts
  functions/src/training-plans/delivery/suunto/mapping.ts
  functions/src/training-plans/delivery/suunto/suunto.emulator.spec.ts
  functions/src/training-plans/delivery/suunto/transport.spec.ts
  functions/src/training-plans/delivery/suunto/transport.ts
  functions/src/training-plans/delivery/worker.ts
  functions/src/training-plans/providers/suunto-guide-description.spec.ts
  functions/src/training-plans/providers/suunto-guide-description.ts
  functions/src/training-plans/providers/suunto-guide.serializer.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

fix: normalize empty FIT definitions for COROS uploads
  docs/activity-delivery-monitoring.md
  docs/coros-integration.md
  docs/provider-integration-guide.md
  functions/src/activity-sync/process-queue-item.spec.ts
  functions/src/coros/activities.spec.ts
  functions/src/coros/activity-fit.spec.ts
  functions/src/coros/activity-fit.ts
  functions/test-utils/coros-activity-fit.ts
Due: lint-functions

fix: reject contradictory MCP workout prescriptions
  .agent/skills/mcp-metric-surface/SKILL.md
  docs/mcp-server.md
  docs/training-workspace.md
  functions/src/mcp/contracts/pending-change.json
  functions/src/mcp/training-plans-write.emulator.spec.ts
  functions/src/mcp/training-plans-write.service.ts
  functions/src/mcp/training-prescription-consistency.spec.ts
  functions/src/mcp/training-prescription-consistency.ts
  functions/src/mcp/training-recipe-review.spec.ts
  functions/src/mcp/training-recipe-review.ts
  functions/src/shared/training-authoring-guidance.ts
  plugins/quantified-self/skills/analyze-quantified-self-activity/SKILL.md
  plugins/quantified-self/skills/analyze-quantified-self-training/SKILL.md
  plugins/quantified-self/skills/analyze-quantified-self/SKILL.md
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

test: cover COROS empty-field repair boundary cases
  functions/src/coros/activity-fit.spec.ts
  functions/test-utils/coros-activity-fit.ts
Due: lint-functions

fix: preserve Suunto preview approval and bound unit snapshots
  docs/training-workspace.md
  functions/src/training-plans/delivery/intent.spec.ts
  functions/src/training-plans/delivery/intent.ts
  functions/src/training-plans/delivery/store.ts
  functions/src/training-plans/delivery/store.units.spec.ts
  functions/src/training-plans/delivery/suunto/suunto.emulator.spec.ts
Due: lint-functions

docs: record Training impact of new FIT activity mappings
  docs/training-workspace.md
Due: none

docs: record Training impact of specialty FIT mappings
  docs/training-workspace.md
Due: none

fix: keep Assistant Training permissions independent
  docs/mcp-server.md
  docs/training-workspace.md
  functions/src/assistant/callable.spec.ts
  functions/src/assistant/callable.ts
  functions/src/assistant/runtime.spec.ts
  functions/src/assistant/runtime.ts
Due: lint-functions

docs: record Training impact of broad and specialized FIT mappings
  docs/training-workspace.md
Due: none

fix: respect explicit no-sync Assistant requests
  docs/mcp-server.md
  docs/training-workspace.md
  functions/src/assistant/runtime.spec.ts
  functions/src/assistant/runtime.ts
Due: lint-functions

docs: clarify Training impact of TSS preservation flag
  docs/training-workspace.md
Due: none

fix: preserve Assistant Training recipe schema guidance
  docs/mcp-server.md
  docs/training-workspace.md
  functions/src/assistant/gemini-tool-schema.ts
  functions/src/assistant/mcp-session.spec.ts
  functions/src/assistant/runtime.spec.ts
  functions/src/assistant/runtime.ts
Due: lint-functions

docs: record racket para and workout mapping impact on Training
  docs/training-workspace.md
Due: none

fix: guard Assistant Training delivery corrections
  docs/mcp-server.md
  docs/training-workspace.md
  functions/src/assistant/runtime.spec.ts
  functions/src/assistant/runtime.ts
Due: lint-functions

docs: record Garmin sport alias impact and verification
  docs/training-workspace.md
Due: none

test: exclude emulator specs from Functions unit runs
  .agent/rules/functions-emulator-shards.md
  .github/workflows/_run-tests.yml
  README.md
  docs/ci-testing.md
  functions/tsconfig.eslint.json
  functions/vitest.config.ts
  functions/vitest.emulators.config.ts
  package.json
  tools/functions-emulator-spec-policy.mjs
  tools/functions-emulator-suites.test.mjs
  tools/test-functions-emulators.mjs
  tools/testing-workflow.test.mjs
Due: lint-functions

fix: enforce Assistant Training request boundaries
  docs/mcp-server.md
  docs/training-workspace.md
  functions/src/assistant/runtime.spec.ts
  functions/src/assistant/runtime.ts
Due: lint-functions

docs: record complete provider sport mapping verification
  docs/training-workspace.md
Due: none

docs: record provider mapping and JSON adoption checks
  docs/provider-integration-guide.md
  docs/training-workspace.md
  functions/src/reparse/SPORTS_LIB_REPARSE_RUNBOOK.md
Due: none

docs: record provider mapping review corrections
  docs/provider-integration-guide.md
  docs/training-workspace.md
  functions/src/reparse/SPORTS_LIB_REPARSE_RUNBOOK.md
Due: none

fix: preserve parsed training inputs during regeneration
  docs/training-workspace.md
  functions/src/reparse/SPORTS_LIB_REPARSE_RUNBOOK.md
  functions/src/reparse/sports-lib-reparse.service.spec.ts
  functions/src/reparse/sports-lib-reparse.service.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

fix: guard Training load policy UUID generation
  docs/training-workspace.md
  src/app/services/training-load.service.spec.ts
  src/app/services/training-load.service.ts
Due: lint-angular
