Repository jimmykane/quantified-self: changes, and which lefthook commands are due for each by the changed paths.
All: lint-functions, lint-angular

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint-functions:
      root: "functions"
      glob: "**/*.{ts,js}"
      run: npx eslint {staged_files} --fix && git add {staged_files}
    lint-angular:
      glob: "{src/*.{ts,html},src/**/*.{ts,html}}"
      run: ESLINT_USE_FLAT_CONFIG=false npx eslint {staged_files} --fix && git add {staged_files}

feat: show provider connectivity matrix on home
  src/app/components/home/home.component.html
  src/app/components/home/home.component.scss
  src/app/components/home/home.component.spec.ts
  src/app/components/home/home.component.ts
  src/app/components/services/services.component.html
  src/app/components/services/services.component.scss
  src/app/components/services/services.component.spec.ts
  src/app/components/services/services.component.ts
  src/app/components/shared/provider-data-flow-matrix/provider-data-flow-matrix.component.html
  src/app/components/shared/provider-data-flow-matrix/provider-data-flow-matrix.component.scss
  src/app/components/shared/provider-data-flow-matrix/provider-data-flow-matrix.component.spec.ts
  src/app/components/shared/provider-data-flow-matrix/provider-data-flow-matrix.component.ts
  src/app/components/shared/provider-data-flow-matrix/provider-data-flow-matrix.helper.ts
  src/app/modules/services.module.ts
Due: lint-angular

refactor: stop writing legacy health metric scalars
  docs/mcp-server.md
  docs/sleep-sync-operations.md
  docs/unified-health-data.md
  functions/src/health/sports-lib-data-migration.spec.ts
  functions/src/health/sports-lib-data-migration.ts
  functions/src/health/writer.spec.ts
  functions/src/health/writer.ts
  functions/src/scripts/migrate-coros-sleep-to-health.ts
  functions/src/sleep/writer.spec.ts
  functions/src/sleep/writer.ts
Due: lint-functions

fix: remove trailing homepage row divider
  src/app/components/home/home.component.html
  src/app/components/home/home.component.spec.ts
  src/app/components/shared/compact-feature-row/compact-feature-row.component.scss
  src/app/components/shared/compact-feature-row/compact-feature-row.component.spec.ts
  src/app/components/shared/compact-feature-row/compact-feature-row.component.ts
Due: lint-angular

fix: remove trailing AI tools divider
  src/app/components/home/home.component.html
  src/app/components/home/home.component.spec.ts
Due: lint-angular

test: stabilize MCP pre-push checks
  package.json
Due: none

fix: preserve sleep score metadata on partial writes
  functions/src/sleep/writer.spec.ts
  functions/src/sleep/writer.ts
Due: lint-functions

feat: reuse performance charts on home
  src/app/components/event/cadence-power/event.cadence-power.component.spec.ts
  src/app/components/event/cadence-power/event.cadence-power.component.ts
  src/app/components/event/durability-curve/event.durability-curve.component.html
  src/app/components/event/durability-curve/event.durability-curve.component.spec.ts
  src/app/components/event/durability-curve/event.durability-curve.component.ts
  src/app/components/event/intensity-zones/event.intensity-zones.component.spec.ts
  src/app/components/event/intensity-zones/event.intensity-zones.component.ts
  src/app/components/home/home-workout-performance-preview.data.spec.ts
  src/app/components/home/home-workout-performance-preview.data.ts
  src/app/components/home/home-workout-preview.component.html
  src/app/components/home/home-workout-preview.component.scss
  src/app/components/home/home-workout-preview.component.spec.ts
  src/app/components/home/home-workout-preview.component.ts
  src/app/components/home/home.component.html
  src/app/components/home/home.component.spec.ts
  src/app/modules/event.module.ts
  src/app/modules/shared.module.ts
Due: lint-angular

fix: label shared performance charts
  src/app/components/event/cadence-power/event.cadence-power.component.html
  src/app/components/event/cadence-power/event.cadence-power.component.spec.ts
  src/app/components/event/durability-curve/event.durability-curve.component.html
  src/app/components/event/durability-curve/event.durability-curve.component.spec.ts
  src/app/components/event/intensity-zones/event.intensity-zones.component.html
  src/app/components/event/intensity-zones/event.intensity-zones.component.spec.ts
Due: lint-angular

fix: clarify external AI training analysis
  src/app/components/home/home.component.html
  src/app/components/home/home.component.spec.ts
Due: lint-angular

fix: harden admin subscription gift retries
  functions/src/admin/handlers/subscription-gifts.handlers.ts
  functions/src/admin/shared/subscription-gift.logic.spec.ts
  functions/src/admin/shared/subscription-gift.logic.ts
  functions/src/admin/subscription-gifts.handlers.spec.ts
  functions/src/scripts/backfill-stripe-metadata.ts
  functions/src/stripe/DESIGN_NOTES.md
  functions/src/stripe/get-upcoming-renewal-amount.spec.ts
  functions/src/stripe/get-upcoming-renewal-amount.ts
  shared/admin-subscription-gifts.ts
  src/app/components/admin/admin-subscription-gift-dialog/admin-subscription-gift-dialog.component.html
  src/app/components/admin/admin-subscription-gift-dialog/admin-subscription-gift-dialog.component.spec.ts
  src/app/components/admin/admin-subscription-gift-dialog/admin-subscription-gift-dialog.component.ts
Due: lint-functions, lint-angular

fix: add subscription gift email signature
  functions/src/email/template-catalog.spec.ts
  functions/templates/subscription_time_gift.hbs
  functions/templates/subscription_time_gift.txt.hbs
Due: lint-functions

fix: recover subscription gift email retries
  docs/email-lifecycle.md
  functions/src/admin/handlers/subscription-gifts.handlers.ts
  functions/src/admin/subscription-gifts.handlers.spec.ts
  shared/admin-subscription-gifts.ts
  src/app/components/admin/admin-subscription-gift-dialog/admin-subscription-gift-dialog.component.html
  src/app/components/admin/admin-subscription-gift-dialog/admin-subscription-gift-dialog.component.spec.ts
  src/app/components/admin/admin-subscription-gift-dialog/admin-subscription-gift-dialog.component.ts
Due: lint-functions, lint-angular

fix: harden subscription gift state checks
  docs/provider-integration-guide.md
  functions/src/admin/handlers/subscription-gifts.handlers.ts
  functions/src/admin/shared/subscription-gift.logic.spec.ts
  functions/src/admin/shared/subscription-gift.logic.ts
  functions/src/admin/subscription-gifts.handlers.spec.ts
  src/app/components/admin/admin-user-table/admin-user-table.component.spec.ts
  src/app/components/admin/admin-user-table/admin-user-table.component.ts
Due: lint-functions, lint-angular

fix: add next-workout AI use case
  src/app/components/home/home.component.html
  src/app/components/home/home.component.spec.ts
Due: lint-angular

fix: repair legacy Suunto webhook bindings
  docs/provider-integration-guide.md
  docs/suunto-integration.md
  functions/package.json
  functions/src/history.spec.ts
  functions/src/history.ts
  functions/src/scripts/repair-suunto-webhook-bindings.spec.ts
  functions/src/scripts/repair-suunto-webhook-bindings.ts
  functions/src/suunto/health-webhook-binding-lifecycle.spec.ts
  functions/src/suunto/health-webhook-binding-lifecycle.ts
Due: lint-functions

refactor: name Suunto history result limit
  functions/src/history.ts
Due: lint-functions

chore: log disconnected Suunto usernames temporarily
  functions/src/sleep/webhooks.spec.ts
  functions/src/sleep/webhooks.ts
Due: lint-functions

fix: initialize Suunto repair audit cursor
  functions/src/scripts/repair-suunto-webhook-bindings.spec.ts
  functions/src/scripts/repair-suunto-webhook-bindings.ts
Due: lint-functions

feat: add Sports Lib legacy scalar cleanup migration
  docs/sleep-sync-operations.md
  docs/unified-health-data.md
  functions/src/health/sports-lib-data-global-migration.spec.ts
  functions/src/health/sports-lib-data-global-migration.ts
  functions/src/health/sports-lib-data-migration.spec.ts
  functions/src/health/sports-lib-data-migration.ts
Due: lint-functions

fix: align compact row headings
  src/app/components/shared/compact-feature-row/compact-feature-row.component.scss
Due: none

fix: preserve Sports Lib migration recovery cursors
  docs/sleep-sync-operations.md
  functions/src/health/sports-lib-data-migration.spec.ts
  functions/src/health/sports-lib-data-migration.ts
  functions/src/scripts/migrate-health-sleep-sports-lib-data.ts
Due: lint-functions

feat: add shared MyTracks homepage preview
  src/app/components/home/home-my-tracks-preview.component.html
  src/app/components/home/home-my-tracks-preview.component.scss
  src/app/components/home/home-my-tracks-preview.component.spec.ts
  src/app/components/home/home-my-tracks-preview.component.ts
  src/app/components/home/home-my-tracks-preview.data.ts
  src/app/components/home/home.component.html
  src/app/components/home/home.component.scss
  src/app/components/home/home.component.spec.ts
  src/app/components/home/home.component.ts
  src/app/components/shared/my-tracks-map-view/my-tracks-map-view.factory.spec.ts
  src/app/components/shared/my-tracks-map-view/my-tracks-map-view.factory.ts
  src/app/components/tracks/tracks-map.manager.spec.ts
  src/app/components/tracks/tracks-map.manager.ts
  src/app/components/tracks/tracks.component.ts
Due: lint-angular

fix: address subscription gift review findings
  functions/src/admin/handlers/subscription-gifts.handlers.ts
  functions/src/admin/shared/subscription-gift.logic.spec.ts
  functions/src/admin/shared/subscription-gift.logic.ts
  functions/src/admin/subscription-gifts.handlers.spec.ts
  functions/src/stripe/DESIGN_NOTES.md
Due: lint-functions

fix: harden shared MyTracks map lifecycle
  src/app/components/home/home-my-tracks-preview.component.spec.ts
  src/app/components/home/home-my-tracks-preview.component.ts
  src/app/components/shared/my-tracks-map-view/my-tracks-map-view.factory.spec.ts
  src/app/components/shared/my-tracks-map-view/my-tracks-map-view.factory.ts
  src/app/components/tracks/tracks-map.manager.ts
  src/app/components/tracks/tracks.component.spec.ts
  src/app/components/tracks/tracks.component.ts
Due: lint-angular

fix: correct Wahoo activity types after upload
  docs/provider-integration-guide.md
  docs/wahoo-integration.md
  functions/package.json
  functions/src/activity-sync/process-queue-item.spec.ts
  functions/src/activity-sync/process-queue-item.ts
  functions/src/queue/queue-item.interface.ts
  functions/src/scripts/correct-wahoo-workout-types.spec.ts
  functions/src/scripts/correct-wahoo-workout-types.ts
  functions/src/wahoo/activities.spec.ts
  functions/src/wahoo/activities.ts
  functions/src/wahoo/activity-types.spec.ts
  shared/wahoo-activity-types.ts
  src/app/components/upload/upload-activities-to-service/upload-activities-to-service.component.spec.ts
  src/app/components/upload/upload-activities-to-service/upload-activities-to-service.component.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

fix: keep subscription gift recovery accessible
  functions/src/admin/handlers/subscription-gifts.handlers.ts
  functions/src/admin/subscription-gifts.handlers.spec.ts
  src/app/components/admin/admin-user-table/admin-user-table.component.html
  src/app/components/admin/admin-user-table/admin-user-table.component.spec.ts
  src/app/helpers/admin-user-table.helper.spec.ts
  src/app/helpers/admin-user-table.helper.ts
Due: lint-functions, lint-angular

feat: use real activity traces in MyTracks preview
  src/app/components/home/home-my-tracks-preview.component.html
  src/app/components/home/home-my-tracks-preview.component.scss
  src/app/components/home/home-my-tracks-preview.component.spec.ts
  src/app/components/home/home-my-tracks-preview.component.ts
  src/app/components/home/home-my-tracks-preview.data.ts
  src/app/components/home/home.component.html
  src/app/components/home/home.component.spec.ts
Due: lint-angular

fix: complete Stripe billing migration
  functions/src/admin/financials.handlers.spec.ts
  functions/src/admin/handlers/financials.handlers.ts
  functions/src/admin/handlers/subscription-gifts.handlers.ts
  functions/src/admin/subscription-gifts.handlers.spec.ts
Due: lint-functions

fix: place MyTracks CTA below map
  src/app/components/home/home.component.html
  src/app/components/home/home.component.scss
  src/app/components/home/home.component.spec.ts
Due: lint-angular

fix: refine and reposition data ownership section
  src/app/components/home/home.component.html
  src/app/components/home/home.component.spec.ts
Due: lint-angular

fix: close subscription gift recovery gaps
  functions/src/admin/handlers/subscription-gifts.handlers.ts
  functions/src/admin/subscription-gifts.handlers.spec.ts
Due: lint-functions

fix: focus device comparison section on reviewers
  src/app/components/home/home.component.html
  src/app/components/home/home.component.scss
  src/app/components/home/home.component.spec.ts
Due: lint-angular

fix: keep failed subscription gifts terminal
  functions/src/admin/handlers/subscription-gifts.handlers.ts
  functions/src/admin/subscription-gifts.handlers.spec.ts
Due: lint-functions

fix: remove homepage chart selection animation
  src/app/components/home/home-workout-preview.component.html
  src/app/components/home/home-workout-preview.component.spec.ts
  src/app/components/home/home-workout-preview.component.ts
Due: lint-angular

fix: preserve gift notification recovery lock
  functions/src/admin/handlers/subscription-gifts.handlers.ts
  functions/src/admin/subscription-gifts.handlers.spec.ts
Due: lint-functions

fix: preserve terminal gift status in transactions
  functions/src/admin/handlers/subscription-gifts.handlers.ts
  functions/src/admin/subscription-gifts.handlers.spec.ts
Due: lint-functions

fix: remove homepage dashboard CTA
  src/app/components/home/home.component.html
  src/app/components/home/home.component.spec.ts
Due: lint-angular

fix: keep homepage CTAs on public routes
  src/app/components/home/home.component.html
  src/app/components/home/home.component.scss
  src/app/components/home/home.component.spec.ts
  src/app/components/home/home.component.ts
Due: lint-angular

fix: preserve terminal gift recovery status
  functions/src/admin/handlers/subscription-gifts.handlers.ts
  functions/src/admin/subscription-gifts.handlers.spec.ts
Due: lint-functions
