Repository jimmykane/quantified-self: changes, and which lefthook commands are due for each by the changed paths.
All: lint-functions, lint-angular

lint-functions:
  run: npx eslint {staged_files} --fix && git add {staged_files}

lint-angular:
  run: ESLINT_USE_FLAT_CONFIG=false npx eslint {staged_files} --fix && git add {staged_files}

chore: fix style
  src/app/components/benchmark/benchmark-report.component.ts
Due: lint-angular

chore: styles
  src/app/components/benchmark/benchmark-report.component.ts
  src/app/components/charts/columns/charts.columns.component.spec.ts
  src/app/components/charts/columns/charts.columns.component.ts
  src/app/components/charts/pie/charts.pie.component.spec.ts
  src/app/components/charts/pie/charts.pie.component.ts
  src/app/components/charts/xy/charts.xy.component.spec.ts
  src/app/components/charts/xy/charts.xy.component.ts
  src/app/components/event/intensity-zones/event.intensity-zones.component.spec.ts
  src/app/components/event/intensity-zones/event.intensity-zones.component.ts
  src/app/components/whats-new/whats-new-dialog.component.ts
  src/app/components/whats-new/whats-new-item.component.html
  src/app/components/whats-new/whats-new-item.component.scss
  src/app/helpers/echarts-tooltip-position.helper.spec.ts
  src/app/helpers/echarts-tooltip-position.helper.ts
  src/styles.scss
Due: lint-angular

chore: improvements
  src/app/components/charts/columns/charts.columns.component.spec.ts
  src/app/components/charts/columns/charts.columns.component.ts
  src/app/components/charts/pie/charts.pie.component.spec.ts
  src/app/components/charts/pie/charts.pie.component.ts
  src/app/components/charts/xy/charts.xy.component.spec.ts
  src/app/components/charts/xy/charts.xy.component.ts
  src/app/components/event/intensity-zones/event.intensity-zones.component.spec.ts
  src/app/components/event/intensity-zones/event.intensity-zones.component.ts
  src/app/helpers/echarts-tooltip-host.helper.spec.ts
  src/app/helpers/echarts-tooltip-host.helper.ts
Due: lint-angular

chore: fixes
  src/app/components/charts/columns/charts.columns.component.spec.ts
  src/app/components/charts/columns/charts.columns.component.ts
  src/styles.scss
Due: lint-angular

chore: chart tooltips
  src/app/components/charts/columns/charts.columns.component.spec.ts
  src/app/components/charts/columns/charts.columns.component.ts
  src/app/components/charts/xy/charts.xy.component.spec.ts
  src/app/components/charts/xy/charts.xy.component.ts
  src/app/components/event/cadence-power/event.cadence-power.component.spec.ts
  src/app/components/event/cadence-power/event.cadence-power.component.ts
  src/app/components/event/chart/panel/event.card.chart.panel.component.spec.ts
  src/app/components/event/chart/panel/event.card.chart.panel.component.ts
  src/app/components/event/durability-curve/event.durability-curve.component.spec.ts
  src/app/components/event/durability-curve/event.durability-curve.component.ts
  src/app/components/event/power-curve/event.power-curve.component.spec.ts
  src/app/components/event/power-curve/event.power-curve.component.ts
  src/app/helpers/dashboard-echarts-yaxis.helper.spec.ts
  src/app/helpers/dashboard-echarts-yaxis.helper.ts
  src/styles.scss
Due: lint-angular

chore: improvements
  src/app/app.component.scss
  src/app/app.component.spec.ts
  src/app/app.component.ts
  src/app/components/event/chart/actions/event.card.chart.actions.component.html
  src/app/components/event/chart/actions/event.card.chart.actions.component.spec.ts
  src/app/components/event/chart/actions/event.card.chart.actions.component.ts
  src/app/components/event/chart/event.card.chart.component.html
  src/app/components/event/chart/event.card.chart.component.spec.ts
  src/app/components/event/chart/event.card.chart.component.ts
  src/app/components/event/chart/panel/event.card.chart.panel.component.spec.ts
  src/app/components/event/chart/panel/event.card.chart.panel.component.ts
  src/app/models/app-user.interface.ts
  src/app/services/app.theme.service.spec.ts
  src/app/services/app.theme.service.ts
  src/app/services/app.user-settings-query.service.ts
  src/app/utils/app.user.utilities.spec.ts
  src/app/utils/app.user.utilities.ts
  src/styles.scss
  src/styles/_theme-colors-dark.scss
  src/styles/_theme-colors-light.scss
Due: lint-angular

chore: improvements
  src/app/app.component.spec.ts
  src/app/app.component.ts
  src/app/components/activity-type-icon/activity-type-icon.component.html
  src/app/components/activity-type-icon/activity-type-icon.component.spec.ts
  src/app/components/activity-type-icon/activity-type-icon.component.ts
  src/app/components/event-summary/event-summary.component.html
  src/app/components/event-table/event.table.component.html
  src/app/components/shared/map-activity-popup/map-activity-popup.component.html
  src/app/components/shared/summary-primary-info/summary-primary-info.component.html
  src/app/components/shared/summary-primary-info/summary-primary-info.component.ts
Due: lint-angular

chore: update emails for new limits
  docs/PRICING_AND_LIMITS.md
  functions/src/schedule/enforce-subscription-limits.spec.ts
  functions/src/schedule/notifications.ts
  functions/src/scripts/queue_development_update_emails.ts
  functions/src/scripts/test-all-emails.ts
  functions/src/shared/limits.spec.ts
  functions/src/shared/limits.ts
  functions/src/stripe/email-triggers.spec.ts
  functions/src/stripe/email-triggers.ts
  functions/src/utils.spec.ts
  functions/templates/development_update.hbs
  functions/templates/grace_period_ending.hbs
  functions/templates/subscription_expiring_soon.hbs
  src/app/components/upload/upload-activities/upload-activities.component.spec.ts
Due: lint-functions, lint-angular

chore: charts peformance
  src/app/components/event/chart/panel/event.card.chart.panel.component.spec.ts
  src/app/components/event/chart/panel/event.card.chart.panel.component.ts
  src/app/helpers/event-echarts-yaxis.helper.ts
Due: lint-angular

chore: selection performance pass 1
  src/app/components/event/chart/event.card.chart.component.html
  src/app/components/event/chart/event.card.chart.component.spec.ts
  src/app/components/event/chart/event.card.chart.component.ts
  src/app/components/event/chart/panel/event.card.chart.panel.component.spec.ts
  src/app/components/event/chart/panel/event.card.chart.panel.component.ts
  src/app/helpers/event-echarts-range-stats.helper.ts
Due: lint-angular

chore: remove toolbox
  src/app/components/event/chart/panel/event.card.chart.panel.component.ts
Due: lint-angular

chore: disable live selection
  src/app/components/event/chart/panel/event.card.chart.panel.component.html
  src/app/components/event/chart/panel/event.card.chart.panel.component.spec.ts
  src/app/components/event/chart/panel/event.card.chart.panel.component.ts
Due: lint-angular

chore: disable tooltip for selection
  src/app/components/event/chart/panel/event.card.chart.panel.component.spec.ts
  src/app/components/event/chart/panel/event.card.chart.panel.component.ts
Due: lint-angular

feature: help
  src/app/app.routing.module.spec.ts
  src/app/app.routing.module.ts
  src/app/components/help/help-page.component.html
  src/app/components/help/help-page.component.scss
  src/app/components/help/help-page.component.spec.ts
  src/app/components/help/help-page.component.ts
  src/app/components/sidenav/sidenav.component.html
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

chore: improve help
  src/app/components/help/help-page.component.html
  src/app/components/help/help-page.component.scss
  src/app/components/help/help-page.component.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

chore: improve theming and add auto
  src/app/app.component.spec.ts
  src/app/app.component.ts
  src/app/components/sidenav/sidenav.component.html
  src/app/components/sidenav/sidenav.component.scss
  src/app/components/sidenav/sidenav.component.spec.ts
  src/app/components/sidenav/sidenav.component.ts
  src/app/components/user-settings/user-settings.component.html
  src/app/components/user-settings/user-settings.component.ts
  src/app/models/app-theme-preference.type.ts
  src/app/models/app-user.interface.ts
  src/app/services/app.theme.service.spec.ts
  src/app/services/app.theme.service.ts
  src/main.ts
Due: lint-angular

chore: stles and help
  firepit-log.txt
  src/app/components/help/help-page.component.html
  src/app/components/help/help-page.component.scss
  src/app/components/help/help-page.component.spec.ts
  src/app/components/help/help-page.component.ts
  src/app/shared/help.content.ts
  src/styles/_panels.scss
Due: lint-angular

fix: tests
  functions/src/events/merge-events.spec.ts
  functions/src/events/upload-activity.spec.ts
  functions/src/utils-usage.spec.ts
Due: lint-functions

fix: recursive delete
  functions/src/schedule/enforce-subscription-limits.spec.ts
  functions/src/schedule/enforce-subscription-limits.ts
Due: lint-functions

chore: better rules
  .agent/rules/firestore-recursive-delete-cleanups.md
  functions/AGENTS.md
Due: none

fix: for connected users if deleted
  functions/src/schedule/enforce-subscription-limits.spec.ts
  functions/src/schedule/enforce-subscription-limits.ts
Due: lint-functions

chore: remove wrongly tracked file
  .gitignore
  firepit-log.txt
Due: none

chore: fix issues with enfornce
  functions/src/schedule/enforce-subscription-limits.spec.ts
  functions/src/schedule/enforce-subscription-limits.ts
Due: lint-functions

chore: improvements
  src/app/components/admin/admin-changelog/admin-changelog.component.scss
  src/app/components/admin/admin-financials/admin-financials.component.scss
  src/app/components/admin/admin-maintenance/admin-maintenance.component.scss
  src/app/components/admin/admin-queue-stats/admin-queue-stats.component.scss
  src/app/components/admin/admin-user-management/admin-user-management.component.scss
  src/app/components/sidenav/sidenav.component.html
  src/app/components/tile/actions/map/tile.map.actions.component.spec.ts
Due: lint-angular

chore: fix pace
  src/app/helpers/event-echarts-yaxis.helper.spec.ts
  src/app/helpers/event-echarts-yaxis.helper.ts
Due: lint-angular

chore: seo
  src/robots.txt
  src/sitemap.xml
Due: none

chore: drop extra max stuff
  src/app/components/event/chart/event.card.chart.component.html
  src/app/components/event/chart/event.card.chart.component.ts
  src/app/components/event/chart/panel/event.card.chart.panel.component.ts
  src/app/components/user-settings/user-settings.component.ts
  src/app/helpers/event-echarts-yaxis.helper.spec.ts
  src/app/helpers/event-echarts-yaxis.helper.ts
  src/app/models/app-user.interface.ts
  src/app/utils/app.user.utilities.ts
Due: lint-angular

chore: improve home
  src/app/components/home/home.component.scss
Due: none

chore: improve activity upload
  functions/src/events/upload-activity.spec.ts
  functions/src/events/upload-activity.ts
Due: lint-functions

chore: styles
  src/app/components/help/help-page.component.html
  src/app/components/help/help-page.component.scss
  src/app/components/login/login.component.scss
  src/app/components/onboarding/onboarding.component.scss
  src/app/components/sidenav/sidenav.component.html
  src/app/components/sidenav/sidenav.component.scss
Due: lint-angular

chore: move styles to correct place
  src/app/app.component.html
  src/app/components/admin/admin-changelog/admin-changelog.component.html
  src/app/components/admin/admin-financials/admin-financials.component.html
  src/app/components/admin/admin-financials/admin-financials.component.ts
  src/app/components/admin/admin-maintenance/admin-maintenance.component.html
  src/app/components/admin/admin-queue-stats/admin-queue-stats.component.html
  src/app/components/admin/admin-queue-stats/admin-queue-stats.component.ts
  src/app/components/admin/admin-user-management/admin-user-management.component.html
  src/app/components/admin/admin-user-management/admin-user-management.component.ts
  src/app/components/event-summary/event-summary.component.html
  src/app/components/event-table/event.table.component.html
  src/app/components/event-table/event.table.component.scss
  src/app/components/event-table/merge-options-dialog/merge-options-dialog.component.html
  src/app/components/event/map/popups/jump-marker-popup/jump-marker-popup.component.html
  src/app/components/pricing/pricing.component.html
  src/app/components/services/coros/services.coros.component.html
  src/app/components/services/garmin/services.garmin.component.html
  src/app/components/services/services.component.html
  src/app/components/services/suunto/services.suunto.component.html
  src/app/components/shared/map-activity-popup/map-activity-popup.component.html
  src/app/components/shared/material-pill-tabs/material-pill-tabs.component.scss
  src/app/components/shared/peek-panel/peek-panel.component.html
  src/app/components/shared/peek-panel/peek-panel.component.spec.ts
  src/app/components/summaries/summaries.component.css
  src/app/components/summaries/summaries.component.html
  src/app/components/user-settings/user-settings.component.html
  src/styles.scss
  src/styles/_panels.scss
Due: lint-angular

chore: add haptics 1st pass
  src/app/app.component.html
  src/app/app.component.spec.ts
  src/app/app.component.ts
  src/app/components/sidenav/sidenav.component.html
  src/app/components/sidenav/sidenav.component.spec.ts
  src/app/components/sidenav/sidenav.component.ts
  src/app/services/app.haptics.service.spec.ts
  src/app/services/app.haptics.service.ts
  src/app/services/browser.compatibility.service.spec.ts
  src/app/services/browser.compatibility.service.ts
Due: lint-angular

chore: fix charts tooltip
  src/app/components/event/cadence-power/event.cadence-power.component.spec.ts
  src/app/components/event/cadence-power/event.cadence-power.component.ts
  src/app/components/event/durability-curve/event.durability-curve.component.spec.ts
  src/app/components/event/durability-curve/event.durability-curve.component.ts
  src/app/components/event/intensity-zones/event.intensity-zones.component.spec.ts
  src/app/components/event/intensity-zones/event.intensity-zones.component.ts
  src/app/components/event/power-curve/event.power-curve.component.spec.ts
  src/app/components/event/power-curve/event.power-curve.component.ts
Due: lint-angular

feature: new loader
  src/app/app.component.html
  src/app/app.component.spec.ts
  src/app/app.component.ts
  src/index.html
  src/styles.scss
  src/styles/_app-loader.scss
Due: lint-angular

chore: improve loader
  src/styles/_app-loader.scss
Due: none

chore: add reset zoom button
  src/app/components/event/chart/actions/event.card.chart.actions.component.html
  src/app/components/event/chart/actions/event.card.chart.actions.component.spec.ts
  src/app/components/event/chart/actions/event.card.chart.actions.component.ts
  src/app/components/event/chart/event.card.chart.component.html
  src/app/components/event/chart/event.card.chart.component.spec.ts
  src/app/components/event/chart/event.card.chart.component.ts
Due: lint-angular

chore: chart zoom and selection improvement
  src/app/components/event/chart/event.card.chart.component.spec.ts
  src/app/components/event/chart/event.card.chart.component.ts
  src/app/components/event/chart/panel/event.card.chart.panel.component.spec.ts
  src/app/components/event/chart/panel/event.card.chart.panel.component.ts
Due: lint-angular

chore: fix for pace
  src/app/components/event/chart/panel/event.card.chart.panel.component.ts
Due: lint-angular

chore: styles and improvements
  src/app/components/event/chart/actions/event.card.chart.actions.component.scss
  src/app/components/user-settings/user-settings.component.html
  src/app/components/user-settings/user-settings.component.scss
  src/app/components/user-settings/user-settings.component.spec.ts
  src/app/components/user-settings/user-settings.component.ts
  src/app/utils/app.user.utilities.spec.ts
  src/app/utils/app.user.utilities.ts
  src/styles/_app-loader.scss
Due: lint-angular

chore: last bugfixes
  src/app/components/event/activities-toggles/activities-toggles.component.html
  src/app/components/event/activities-toggles/activities-toggles.component.spec.ts
  src/app/components/event/activities-toggles/activities-toggles.component.ts
  src/app/components/event/activity-toggle/activity-toggle.component.html
  src/app/components/event/activity-toggle/activity-toggle.component.spec.ts
  src/app/components/event/activity-toggle/activity-toggle.component.ts
  src/app/components/event/chart/event.card.chart.component.ts
  src/app/components/event/chart/panel/event.card.chart.panel.component.spec.ts
  src/app/components/event/chart/panel/event.card.chart.panel.component.ts
  src/app/components/event/map/event.card.map.component.css
  src/app/helpers/event-visibility.helper.spec.ts
  src/app/helpers/event-visibility.helper.ts
Due: lint-angular

Path conditions:
  lint-functions: any of: **/*.{ts,js} and ^functions/
  lint-angular: any of: {src/*.{ts,html},src/**/*.{ts,html}}
