Repository jimmykane/quantified-self: changes, and which lefthook commands are due for each by the changed paths.
All: lint-functions, lint-angular

lint-functions:
  run: npx eslint {staged_files} --fix && git add {staged_files}

lint-angular:
  run: ESLINT_USE_FLAT_CONFIG=false npx eslint {staged_files} --fix && git add {staged_files}

chore: fix login again
  src/app/authentication/app.auth.service.spec.ts
  src/app/authentication/app.auth.service.ts
  src/app/shared/adapters/firebase-auth-link.constants.spec.ts
  src/app/shared/adapters/firebase-auth-link.constants.ts
Due: lint-angular

fix: login with email
  src/app/authentication/app.auth.service.ts
  src/app/components/login/login.component.ts
  src/app/services/app.user.service.spec.ts
  src/app/services/app.user.service.ts
Due: lint-angular

chore: bump versio
  package.json
Due: none

chore: remove logging
  src/app/authentication/app.auth.service.ts
  src/app/components/login/login.component.ts
  src/app/services/app.user.service.ts
Due: lint-angular

fix: upload for some filenames
  functions/src/events/upload-activity.spec.ts
  functions/src/events/upload-activity.ts
  src/app/services/app.fit-upload.service.spec.ts
  src/app/services/app.fit-upload.service.ts
Due: lint-functions, lint-angular

refactor: extract aggregates etc
  shared/event-stat-aggregation.ts
  shared/event-stat-aggregation.types.ts
  src/app/components/summaries/summaries.component.spec.ts
  src/app/components/summaries/summaries.component.ts
  src/app/helpers/aggregated-chart-row.helper.ts
  src/app/helpers/dashboard-chart-data.helper.ts
  src/app/helpers/dashboard-tile-view-model.helper.spec.ts
  src/app/helpers/dashboard-tile-view-model.helper.ts
  src/app/helpers/event-stat-aggregation.helper.spec.ts
Due: lint-angular

chore: testing
  src/app/components/summaries/summaries.component.spec.ts
  src/app/helpers/aggregated-chart-row.helper.spec.ts
  src/app/helpers/dashboard-chart-data.helper.spec.ts
  src/app/helpers/dashboard-tile-view-model.helper.spec.ts
  src/app/helpers/event-stat-aggregation.helper.spec.ts
Due: lint-angular

feature: mvp for ai-insights
  docs/ai-insights-plan.md
  functions/package-lock.json
  functions/package.json
  functions/src/ai/insights/callable.spec.ts
  functions/src/ai/insights/callable.ts
  functions/src/ai/insights/canonical-activity-types.ts
  functions/src/ai/insights/execute-query.spec.ts
  functions/src/ai/insights/execute-query.ts
  functions/src/ai/insights/genkit.spec.ts
  functions/src/ai/insights/genkit.ts
  functions/src/ai/insights/metric-catalog.spec.ts
  functions/src/ai/insights/metric-catalog.ts
  functions/src/ai/insights/normalize-query.flow.spec.ts
  functions/src/ai/insights/normalize-query.flow.ts
  functions/src/ai/insights/schemas.ts
  functions/src/ai/insights/summarize-result.flow.ts
  functions/src/index.ts
  shared/ai-insights.types.ts
  shared/functions-manifest.ts
  src/app/app.routing.module.spec.ts
  src/app/app.routing.module.ts
  src/app/components/ai-insights/ai-insights-chart.component.html
  src/app/components/ai-insights/ai-insights-chart.component.scss
  src/app/components/ai-insights/ai-insights-chart.component.spec.ts
  src/app/components/ai-insights/ai-insights-chart.component.ts
  src/app/components/ai-insights/ai-insights-page.component.html
  src/app/components/ai-insights/ai-insights-page.component.scss
  src/app/components/ai-insights/ai-insights-page.component.spec.ts
  src/app/components/ai-insights/ai-insights-page.component.ts
  src/app/components/sidenav/sidenav.component.html
  src/app/components/sidenav/sidenav.component.scss
  src/app/components/sidenav/sidenav.component.spec.ts
  src/app/components/sidenav/sidenav.component.ts
  src/app/modules/app-charts.module.ts
  src/app/modules/dashboard.module.ts
  src/app/services/ai-insights.service.spec.ts
  src/app/services/ai-insights.service.ts
  src/app/services/app.functions.service.spec.ts
  src/app/services/app.functions.service.ts
Due: lint-functions, lint-angular

chore: make it work
  functions/src/ai/insights/callable.ts
  functions/src/ai/insights/execute-query.spec.ts
  functions/src/ai/insights/execute-query.ts
  functions/src/ai/insights/metric-catalog.spec.ts
  functions/src/ai/insights/metric-catalog.ts
  functions/src/ai/insights/normalize-query.flow.spec.ts
  functions/src/ai/insights/normalize-query.flow.ts
  functions/src/ai/insights/summarize-result.flow.spec.ts
  functions/src/ai/insights/summarize-result.flow.ts
Due: lint-functions

refactor: units conversions etc
  functions/src/ai/insights/callable.spec.ts
  functions/src/ai/insights/callable.ts
  functions/src/ai/insights/schemas.ts
  functions/src/ai/insights/summarize-result.flow.spec.ts
  functions/src/ai/insights/summarize-result.flow.ts
  functions/src/ai/insights/user-unit-settings.spec.ts
  functions/src/ai/insights/user-unit-settings.ts
  shared/ai-insights.types.ts
  shared/unit-aware-display.ts
  src/app/components/ai-insights/ai-insights-chart.component.html
  src/app/components/ai-insights/ai-insights-chart.component.spec.ts
  src/app/components/ai-insights/ai-insights-chart.component.ts
  src/app/components/ai-insights/ai-insights-page.component.html
  src/app/components/ai-insights/ai-insights-page.component.scss
  src/app/components/ai-insights/ai-insights-page.component.spec.ts
  src/app/components/ai-insights/ai-insights-page.component.ts
  src/app/components/charts/columns/charts.columns.component.spec.ts
  src/app/components/charts/columns/charts.columns.component.ts
  src/app/components/charts/pie/charts.pie.component.spec.ts
  src/app/components/charts/pie/charts.pie.component.ts
  src/app/components/charts/xy/charts.xy.component.spec.ts
  src/app/components/charts/xy/charts.xy.component.ts
  src/app/components/tile/chart/tile.chart.component.html
  src/app/helpers/dashboard-chart-data.helper.spec.ts
  src/app/helpers/dashboard-chart-data.helper.ts
  src/app/helpers/summary-display.helper.ts
  src/app/helpers/unit-aware-display.helper.spec.ts
  src/app/services/ai-insights.service.spec.ts
Due: lint-functions, lint-angular

chore: some more normalization
  functions/src/ai/insights/metric-catalog.spec.ts
  functions/src/ai/insights/metric-catalog.ts
  functions/src/ai/insights/normalize-query.flow.spec.ts
  functions/src/ai/insights/normalize-query.flow.ts
  src/app/components/ai-insights/ai-insights-page.component.html
  src/app/components/ai-insights/ai-insights-page.component.scss
  src/app/components/ai-insights/ai-insights-page.component.spec.ts
  src/app/components/ai-insights/ai-insights-page.component.ts
Due: lint-functions, lint-angular

chore: keep right click to save as image
  src/app/components/event/chart/panel/event.card.chart.panel.component.spec.ts
  src/app/components/event/chart/panel/event.card.chart.panel.component.ts
Due: lint-angular

chore: cross inverse metrics
  functions/src/ai/insights/callable.spec.ts
  functions/src/ai/insights/callable.ts
  functions/src/ai/insights/metric-catalog.spec.ts
  functions/src/ai/insights/metric-catalog.ts
  functions/src/ai/insights/normalize-query.flow.spec.ts
  functions/src/ai/insights/normalize-query.flow.ts
  functions/src/ai/insights/schemas.ts
  functions/src/ai/insights/summarize-result.flow.spec.ts
  functions/src/ai/insights/summarize-result.flow.ts
  shared/ai-insights.types.ts
  shared/metric-semantics.ts
  src/app/components/ai-insights/ai-insights-chart.component.spec.ts
  src/app/components/ai-insights/ai-insights-page.component.spec.ts
  src/app/components/ai-insights/ai-insights-page.component.ts
  src/app/helpers/event-echarts-style.helper.spec.ts
  src/app/helpers/event-echarts-style.helper.ts
  src/app/helpers/metric-semantics.helper.spec.ts
Due: lint-functions, lint-angular

chore: bump sl
  functions/package-lock.json
  functions/package.json
  package-lock.json
  package.json
Due: none

chore: change for new sl
  functions/src/ai/insights/callable.spec.ts
  functions/src/ai/insights/callable.ts
  functions/src/ai/insights/canonical-activity-type-groups.ts
  functions/src/ai/insights/execute-query.spec.ts
  functions/src/ai/insights/normalize-query.flow.spec.ts
  functions/src/ai/insights/normalize-query.flow.ts
  functions/src/ai/insights/schemas.ts
  functions/src/ai/insights/summarize-result.flow.spec.ts
  functions/src/ai/insights/summarize-result.flow.ts
  shared/activity-type-group.metadata.ts
  shared/ai-insights-activity-filter.ts
  shared/ai-insights.types.ts
  src/app/components/ai-insights/ai-insights-chart.component.spec.ts
  src/app/components/ai-insights/ai-insights-page.component.spec.ts
  src/app/components/ai-insights/ai-insights-page.component.ts
  src/app/helpers/activity-type-group.metadata.helper.spec.ts
  src/app/helpers/ai-insights-activity-filter.helper.spec.ts
  src/app/services/ai-insights.service.spec.ts
  src/app/services/color/app.activity-type-group.colors.ts
  src/app/services/color/app.activity-type-group.gradients.ts
  src/app/services/color/app.activity-type-group.icons.ts
  src/app/services/color/app.event.color.service.spec.ts
Due: lint-functions, lint-angular

chore: home styles
  src/app/components/home/home.component.scss
Due: none

chore: from analytics to better backend, more stats and ui
  functions/src/ai/insights/callable.spec.ts
  functions/src/ai/insights/callable.ts
  functions/src/ai/insights/execute-query.ts
  functions/src/ai/insights/metric-catalog.spec.ts
  functions/src/ai/insights/metric-catalog.ts
  functions/src/ai/insights/normalize-query.flow.spec.ts
  functions/src/ai/insights/schemas.ts
  functions/src/ai/insights/summarize-result.flow.spec.ts
  shared/ai-insights.types.ts
  src/app/components/ai-insights/ai-insights-chart.component.spec.ts
  src/app/components/ai-insights/ai-insights-page.component.html
  src/app/components/ai-insights/ai-insights-page.component.scss
  src/app/components/ai-insights/ai-insights-page.component.spec.ts
  src/app/components/ai-insights/ai-insights-page.component.ts
  src/app/components/ai-insights/ai-insights.prompts.ts
  src/app/services/ai-insights.service.spec.ts
Due: lint-functions, lint-angular

chore: enablers for all time
  functions/src/ai/insights/callable.spec.ts
  functions/src/ai/insights/callable.ts
  functions/src/ai/insights/execute-query.spec.ts
  functions/src/ai/insights/execute-query.ts
  functions/src/ai/insights/normalize-query.flow.spec.ts
  functions/src/ai/insights/normalize-query.flow.ts
  functions/src/ai/insights/schemas.ts
  functions/src/ai/insights/summarize-result.flow.spec.ts
  functions/src/ai/insights/summarize-result.flow.ts
  shared/ai-insights.types.ts
  src/app/components/ai-insights/ai-insights-page.component.html
  src/app/components/ai-insights/ai-insights-page.component.scss
  src/app/components/ai-insights/ai-insights-page.component.spec.ts
  src/app/components/ai-insights/ai-insights-page.component.ts
  src/app/components/ai-insights/ai-insights.prompts.ts
  src/app/services/ai-insights.service.spec.ts
Due: lint-functions, lint-angular

chore: more ui
  src/app/components/ai-insights/ai-insights-page.component.html
  src/app/components/ai-insights/ai-insights-page.component.scss
  src/app/components/ai-insights/ai-insights-page.component.spec.ts
  src/app/components/ai-insights/ai-insights-page.component.ts
  src/app/components/charts/columns/charts.columns.component.ts
  src/app/components/charts/pie/charts.pie.component.ts
  src/app/components/charts/xy/charts.xy.component.ts
Due: lint-angular

chore: ai improvemenmts
  firestore.rules
  shared/ai-insights.types.ts
  src/app/components/admin/admin-queue-stats/admin-queue-stats.component.ts
  src/app/components/admin/admin-user-management/admin-user-management.component.ts
  src/app/components/ai-insights/ai-insights-page.component.html
  src/app/components/ai-insights/ai-insights-page.component.scss
  src/app/components/ai-insights/ai-insights-page.component.spec.ts
  src/app/components/ai-insights/ai-insights-page.component.ts
  src/app/components/charts/columns/charts.columns.component.ts
  src/app/components/charts/xy/charts.xy.component.ts
  src/app/components/event/cadence-power/event.cadence-power.component.ts
  src/app/components/event/chart/panel/event.card.chart.panel.component.ts
  src/app/components/event/durability-curve/event.durability-curve.component.ts
  src/app/components/event/intensity-zones/event.intensity-zones.component.ts
  src/app/components/event/power-curve/event.power-curve.component.ts
  src/app/helpers/dashboard-chart-data.helper.spec.ts
  src/app/helpers/dashboard-chart-data.helper.ts
  src/app/services/ai-insights-latest-snapshot.service.spec.ts
  src/app/services/ai-insights-latest-snapshot.service.ts
  src/firestore.rules.spec.ts
Due: lint-angular

chore: ai improvements
  functions/src/ai/insights/normalize-query.flow.spec.ts
  functions/src/ai/insights/summarize-result.flow.spec.ts
  functions/src/ai/insights/summarize-result.flow.ts
  src/app/components/ai-insights/ai-insights-page.component.spec.ts
  src/app/components/ai-insights/ai-insights-page.component.ts
  src/app/helpers/dashboard-chart-data.helper.spec.ts
  src/app/helpers/dashboard-chart-data.helper.ts
Due: lint-functions, lint-angular

chore: ui improvements
  src/app/components/ai-insights/ai-insights-page.component.html
  src/app/components/ai-insights/ai-insights-page.component.scss
  src/app/components/ai-insights/ai-insights-page.component.spec.ts
  src/app/components/ai-insights/ai-insights-page.component.ts
Due: lint-angular

chore: fix for filename on mobile
  src/app/services/app.file.service.spec.ts
  src/app/services/app.file.service.ts
Due: lint-angular

chore: ai improvements and new font
  functions/src/ai/insights/callable.spec.ts
  functions/src/ai/insights/callable.ts
  functions/src/ai/insights/execute-query.spec.ts
  functions/src/ai/insights/normalize-query.flow.spec.ts
  functions/src/ai/insights/normalize-query.flow.ts
  functions/src/ai/insights/schemas.ts
  package-lock.json
  package.json
  shared/event-stat-aggregation.ts
  src/app/components/ai-insights/ai-insights-chart.component.html
  src/app/components/ai-insights/ai-insights-chart.component.spec.ts
  src/app/components/ai-insights/ai-insights-chart.component.ts
  src/app/components/ai-insights/ai-insights.prompts.ts
  src/app/components/charts/columns/charts.columns.component.spec.ts
  src/app/components/charts/columns/charts.columns.component.ts
  src/app/components/event/laps/event.card.laps.component.css
  src/app/components/event/map/popups/jump-marker-popup/jump-marker-popup.component.scss
  src/app/components/home/home.component.scss
  src/app/components/shared/hero-metrics/hero-metrics.component.scss
  src/app/components/shared/summary-primary-info/summary-primary-info.component.scss
  src/app/components/tracks/tracks.component.scss
  src/app/helpers/event-stat-aggregation.helper.spec.ts
  src/app/services/ai-insights-latest-snapshot.service.spec.ts
  src/app/services/ai-insights-latest-snapshot.service.ts
  src/styles.scss
Due: lint-functions, lint-angular

chore: enfornce ai limits
  firestore.rules
  functions/src/ai/insights/callable.spec.ts
  functions/src/ai/insights/callable.ts
  functions/src/ai/insights/normalize-query.flow.ts
  functions/src/ai/insights/quota.spec.ts
  functions/src/ai/insights/quota.ts
  functions/src/ai/insights/schemas.ts
  functions/src/ai/insights/summarize-result.flow.spec.ts
  functions/src/ai/insights/summarize-result.flow.ts
  functions/src/index.ts
  functions/src/shared/limits.spec.ts
  shared/ai-insights.types.ts
  shared/functions-manifest.ts
  shared/limits.ts
  src/app/app.routing.module.spec.ts
  src/app/app.routing.module.ts
  src/app/authentication/ai-insights.guard.spec.ts
  src/app/authentication/ai-insights.guard.ts
  src/app/components/ai-insights/ai-insights-page.component.html
  src/app/components/ai-insights/ai-insights-page.component.scss
  src/app/components/ai-insights/ai-insights-page.component.spec.ts
  src/app/components/ai-insights/ai-insights-page.component.ts
  src/app/components/sidenav/sidenav.component.spec.ts
  src/app/components/sidenav/sidenav.component.ts
  src/app/services/ai-insights-latest-snapshot.service.spec.ts
  src/app/services/ai-insights-latest-snapshot.service.ts
  src/app/services/ai-insights-quota.service.spec.ts
  src/app/services/ai-insights-quota.service.ts
  src/app/services/ai-insights.service.spec.ts
  src/app/services/ai-insights.service.ts
  src/app/services/app.functions.service.spec.ts
  src/app/services/app.functions.service.ts
  src/firestore.rules.spec.ts
Due: lint-functions, lint-angular

chore: PR feedback
  firestore.rules
  functions/src/ai/insights/callable.spec.ts
  functions/src/ai/insights/callable.ts
  functions/src/ai/insights/quota.spec.ts
  functions/src/ai/insights/quota.ts
  shared/event-stat-aggregation.ts
  src/app/components/ai-insights/ai-insights-page.component.html
  src/app/components/ai-insights/ai-insights-page.component.scss
  src/app/helpers/dashboard-chart-data.helper.spec.ts
  src/app/helpers/dashboard-chart-data.helper.ts
  src/app/helpers/dashboard-echarts-cartesian.helper.spec.ts
  src/app/helpers/dashboard-echarts-cartesian.helper.ts
  src/app/helpers/event-stat-aggregation.helper.spec.ts
  src/firestore.rules.spec.ts
Due: lint-functions, lint-angular

chore: change model and enable 50 requests for basic
  functions/src/ai/insights/callable.spec.ts
  functions/src/ai/insights/callable.ts
  functions/src/ai/insights/genkit.spec.ts
  functions/src/ai/insights/genkit.ts
  functions/src/ai/insights/quota.spec.ts
  functions/src/ai/insights/quota.ts
  functions/src/shared/limits.spec.ts
  shared/limits.ts
  src/app/authentication/ai-insights.guard.spec.ts
  src/app/authentication/ai-insights.guard.ts
  src/app/components/ai-insights/ai-insights-page.component.spec.ts
  src/app/components/ai-insights/ai-insights-page.component.ts
  src/app/components/sidenav/sidenav.component.html
  src/app/components/sidenav/sidenav.component.spec.ts
  src/app/components/sidenav/sidenav.component.ts
  src/app/services/ai-insights.service.spec.ts
  src/app/services/ai-insights.service.ts
Due: lint-functions, lint-angular

chore: default to this year for not time bound requests
  functions/src/ai/insights/normalize-query.flow.spec.ts
  functions/src/ai/insights/normalize-query.flow.ts
  src/app/components/ai-insights/ai-insights-page.component.html
  src/app/components/ai-insights/ai-insights-page.component.spec.ts
  src/app/components/ai-insights/ai-insights-page.component.ts
Due: lint-functions, lint-angular

chore: single event detection
  functions/src/ai/insights/callable.spec.ts
  functions/src/ai/insights/callable.ts
  functions/src/ai/insights/execute-query.spec.ts
  functions/src/ai/insights/execute-query.ts
  functions/src/ai/insights/normalize-query.flow.spec.ts
  functions/src/ai/insights/normalize-query.flow.ts
  functions/src/ai/insights/schemas.ts
  functions/src/ai/insights/summarize-result.flow.spec.ts
  functions/src/ai/insights/summarize-result.flow.ts
  shared/ai-insights.types.ts
  src/app/components/ai-insights/ai-insights-chart.component.spec.ts
  src/app/components/ai-insights/ai-insights-chart.component.ts
  src/app/components/ai-insights/ai-insights-page.component.html
  src/app/components/ai-insights/ai-insights-page.component.scss
  src/app/components/ai-insights/ai-insights-page.component.spec.ts
  src/app/components/ai-insights/ai-insights-page.component.ts
  src/app/services/ai-insights-latest-snapshot.service.spec.ts
  src/app/services/ai-insights-latest-snapshot.service.ts
  src/app/services/app.event.service.ts
Due: lint-functions, lint-angular

chore: improvements
  src/app/components/ai-insights/ai-insights-loading-state.component.html
  src/app/components/ai-insights/ai-insights-loading-state.component.scss
  src/app/components/ai-insights/ai-insights-loading-state.component.spec.ts
  src/app/components/ai-insights/ai-insights-loading-state.component.ts
  src/app/components/ai-insights/ai-insights-page.component.html
  src/app/components/ai-insights/ai-insights-page.component.spec.ts
  src/app/components/ai-insights/ai-insights-page.component.ts
Due: lint-angular

chore: PR feedback
  docs/ai-insights-plan.md
  functions/src/ai/insights/callable.spec.ts
  functions/src/ai/insights/callable.ts
  functions/src/ai/insights/error-logging.ts
  functions/src/ai/insights/insight-bucket-coverage.spec.ts
  functions/src/ai/insights/insight-bucket-coverage.ts
  functions/src/ai/insights/insight-presentation.spec.ts
  functions/src/ai/insights/insight-presentation.ts
  functions/src/ai/insights/insight-summary.spec.ts
  functions/src/ai/insights/insight-summary.ts
  functions/src/ai/insights/metric-catalog.spec.ts
  functions/src/ai/insights/metric-catalog.ts
  functions/src/ai/insights/normalize-query.flow.spec.ts
  functions/src/ai/insights/normalize-query.flow.ts
  functions/src/ai/insights/quota.spec.ts
  functions/src/ai/insights/quota.ts
  functions/src/ai/insights/summarize-result.flow.spec.ts
  functions/src/ai/insights/summarize-result.flow.ts
  src/app/app-shell.component.html
  src/app/app-shell.component.spec.ts
  src/app/app-shell.component.ts
  src/app/components/ai-insights/ai-insights-page.component.spec.ts
  src/app/components/ai-insights/ai-insights-page.component.ts
  src/app/components/charts/columns/charts.columns.component.spec.ts
  src/app/components/charts/columns/charts.columns.component.ts
Due: lint-functions, lint-angular

chore: remove redundacy
  functions/src/ai/insights/execute-query.spec.ts
  functions/src/ai/insights/execute-query.ts
Due: lint-functions

chore: improvements
  functions/src/ai/insights/normalize-query.flow.spec.ts
  functions/src/ai/insights/normalize-query.flow.ts
Due: lint-functions

chore: shell fixes
  src/app/app-shell.component.html
  src/app/app-shell.component.scss
  src/app/app-shell.component.spec.ts
  src/app/app-shell.component.ts
  src/app/components/app-shell-header/app-shell-header.component.scss
  src/app/components/impersonation-banner/impersonation-banner.component.scss
Due: lint-angular

chore: improve indoor detection
  functions/src/ai/insights/normalize-query.flow.spec.ts
  functions/src/ai/insights/normalize-query.flow.ts
  shared/activity-type-group.metadata.ts
  src/app/helpers/activity-type-group.metadata.helper.spec.ts
Due: lint-functions, lint-angular

chore: multistats
  functions/src/ai/insights/callable.spec.ts
  functions/src/ai/insights/callable.ts
  functions/src/ai/insights/execute-query.spec.ts
  functions/src/ai/insights/execute-query.ts
  functions/src/ai/insights/insight-bucket-coverage.ts
  functions/src/ai/insights/insight-presentation.ts
  functions/src/ai/insights/insight-summary.ts
  functions/src/ai/insights/metric-catalog.spec.ts
  functions/src/ai/insights/metric-catalog.ts
  functions/src/ai/insights/normalize-query.flow.spec.ts
  functions/src/ai/insights/normalize-query.flow.ts
  functions/src/ai/insights/schemas.ts
  functions/src/ai/insights/summarize-result.flow.spec.ts
  functions/src/ai/insights/summarize-result.flow.ts
  shared/ai-insights-prompts.ts
  shared/ai-insights.types.ts
  src/app/app-shell.component.html
  src/app/app-shell.component.scss
  src/app/app-shell.component.spec.ts
  src/app/app-shell.component.ts
  src/app/components/ai-insights/ai-insights-loading-state.component.html
  src/app/components/ai-insights/ai-insights-loading-state.component.scss
  src/app/components/ai-insights/ai-insights-loading-state.component.spec.ts
  src/app/components/ai-insights/ai-insights-loading-state.component.ts
  src/app/components/ai-insights/ai-insights-multi-metric-chart.component.html
  src/app/components/ai-insights/ai-insights-multi-metric-chart.component.scss
  src/app/components/ai-insights/ai-insights-multi-metric-chart.component.ts
  src/app/components/ai-insights/ai-insights-page.component.html
  src/app/components/ai-insights/ai-insights-page.component.scss
  src/app/components/ai-insights/ai-insights-page.component.spec.ts
  src/app/components/ai-insights/ai-insights-page.component.ts
  src/app/components/ai-insights/ai-insights-prompt-picker-dialog.component.html
  src/app/components/ai-insights/ai-insights-prompt-picker-dialog.component.scss
  src/app/components/ai-insights/ai-insights-prompt-picker-dialog.component.spec.ts
  src/app/components/ai-insights/ai-insights-prompt-picker-dialog.component.ts
  src/app/components/ai-insights/ai-insights.prompts.spec.ts
  src/app/components/ai-insights/ai-insights.prompts.ts
  src/app/components/impersonation-banner/impersonation-banner.component.scss
  src/app/services/ai-insights-latest-snapshot.service.spec.ts
  src/app/services/ai-insights-latest-snapshot.service.ts
Due: lint-functions, lint-angular

chore: colors
  src/app/components/ai-insights/ai-insights-multi-metric-chart.component.ts
  src/app/helpers/event-echarts-style.helper.spec.ts
  src/app/helpers/event-echarts-style.helper.ts
  src/app/services/color/app.data.colors.ts
Due: lint-angular

chore: fix lint
  shared/ai-insights.types.ts
Due: none

Path conditions:
  lint-functions: any of: **/*.{ts,js} and ^functions/
  lint-angular: any of: {src/*.{ts,html},src/**/*.{ts,html}}
