Repository jimmykane/quantified-self: changes, and which lefthook commands are due for each by the changed paths.
All: lint-functions, lint-angular

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint-functions:
      root: "functions"
      glob: "**/*.{ts,js}"
      run: npx eslint {staged_files} --fix && git add {staged_files}
    lint-angular:
      glob: "{src/*.{ts,html},src/**/*.{ts,html}}"
      run: ESLINT_USE_FLAT_CONFIG=false npx eslint {staged_files} --fix && git add {staged_files}

fix: align MCP OAuth request handling
  docs/mcp-server.md
  functions/src/mcp/oauth.service.spec.ts
  functions/src/mcp/oauth.service.ts
  functions/src/mcp/server.spec.ts
  functions/src/mcp/server.ts
Due: lint-functions

fix: align MCP with Sports Lib 17.8 contracts
  docs/training-workspace.md
  functions/src/mcp/data.service.spec.ts
Due: lint-functions

fix: limit power systems training visibility
  docs/training-workspace.md
  src/app/components/training/training-workspace.component.html
  src/app/components/training/training-workspace.component.spec.ts
  src/app/components/training/training-workspace.component.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

chore: enable event reparse scanning
  functions/src/admin/queues.handlers.spec.ts
  functions/src/reparse/sports-lib-reparse.config.ts
  functions/src/reparse/sports-lib-reparse.service.spec.ts
Due: lint-functions

fix: rate limit MCP authorization starts
  docs/mcp-server.md
  functions/src/mcp/oauth.firestore-store.spec.ts
  functions/src/mcp/oauth.service.spec.ts
  functions/src/mcp/oauth.service.ts
  functions/src/mcp/server.spec.ts
  functions/src/mcp/server.ts
Due: lint-functions

feat: add ChatGPT MCP setup
  src/app/components/mcp-connections/mcp-connections.component.html
  src/app/components/mcp-connections/mcp-connections.component.scss
  src/app/components/mcp-connections/mcp-connections.component.spec.ts
  src/app/components/mcp-connections/mcp-connections.component.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: exempt MCP TTL fields from indexing
  firestore.indexes.json
  functions/src/firestore-indexes.spec.ts
  scripts/test-setup-ttl.sh
Due: lint-functions

fix: exempt all TTL fields from indexing
  firestore.indexes.json
  functions/src/firestore-indexes.spec.ts
Due: lint-functions

feat: advertise MCP app icons
  docs/mcp-server.md
  functions/src/mcp/server.spec.ts
  functions/src/mcp/server.ts
  src/app/components/mcp-connections/mcp-connections.component.html
  src/app/components/mcp-connections/mcp-connections.component.scss
  src/app/components/mcp-connections/mcp-connections.component.spec.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

feat: advertise high resolution MCP icon
  docs/mcp-server.md
  functions/src/mcp/server.spec.ts
  functions/src/mcp/server.ts
Due: lint-functions

feat: expose activity details and routes through mcp
  .agent/skills/mcp-metric-surface/SKILL.md
  README.md
  docs/mcp-server.md
  functions/src/mcp/data.service.spec.ts
  functions/src/mcp/data.service.ts
  functions/src/mcp/oauth.service.spec.ts
  functions/src/mcp/oauth.service.ts
  functions/src/mcp/server.spec.ts
  functions/src/mcp/server.ts
  src/app/components/mcp-authorization/mcp-authorization.component.html
  src/app/components/mcp-authorization/mcp-authorization.component.spec.ts
  src/app/components/mcp-authorization/mcp-authorization.component.ts
  src/app/components/mcp-connections/mcp-connections.component.html
  src/app/components/mcp-connections/mcp-connections.component.spec.ts
  src/app/components/mcp-connections/mcp-connections.component.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/app/shared/policies.content.spec.ts
  src/app/shared/policies.content.ts
Due: lint-functions, lint-angular

fix: harden mcp detail pagination
  docs/mcp-server.md
  functions/src/mcp/data.service.spec.ts
  functions/src/mcp/data.service.ts
Due: lint-functions

feat: expose activity start and end positions through mcp
  .agent/skills/mcp-metric-surface/SKILL.md
  docs/mcp-server.md
  functions/src/mcp/data.service.spec.ts
  functions/src/mcp/data.service.ts
  functions/src/mcp/server.spec.ts
  functions/src/mcp/server.ts
  src/app/components/mcp-authorization/mcp-authorization.component.html
  src/app/components/mcp-authorization/mcp-authorization.component.spec.ts
  src/app/components/mcp-authorization/mcp-authorization.component.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/app/shared/policies.content.spec.ts
  src/app/shared/policies.content.ts
Due: lint-functions, lint-angular

fix: narrow mcp activity position projection
  docs/mcp-server.md
  functions/src/mcp/data.service.spec.ts
  functions/src/mcp/data.service.ts
  src/app/components/mcp-connections/mcp-connections.component.html
  src/app/components/mcp-connections/mcp-connections.component.spec.ts
Due: lint-functions, lint-angular

fix: increase heavy reparse cpu
  functions/src/shared/activity-processing-config.ts
  functions/src/tasks/sports-lib-reparse-worker.spec.ts
Due: lint-functions

fix: add heavy reparse timing logs
  functions/src/reparse/sports-lib-reparse.service.ts
  functions/src/tasks/sports-lib-reparse-worker.ts
Due: lint-functions

feat: add MCP nearby location searches
  docs/mcp-server.md
  functions/src/ai/insights/location-filter.ts
  functions/src/ai/insights/mapbox-config.ts
  functions/src/mcp/data.service.spec.ts
  functions/src/mcp/data.service.ts
  functions/src/mcp/geocoding-rate-limit.spec.ts
  functions/src/mcp/geocoding-rate-limit.ts
  functions/src/mcp/server.spec.ts
  functions/src/mcp/server.ts
  functions/src/mcp/spatial.spec.ts
  functions/src/mcp/spatial.ts
  functions/src/shared/mapbox-geocoder.spec.ts
  functions/src/shared/mapbox-geocoder.ts
  src/app/components/mcp-authorization/mcp-authorization.component.html
  src/app/components/mcp-authorization/mcp-authorization.component.spec.ts
  src/app/components/mcp-authorization/mcp-authorization.component.ts
  src/app/components/mcp-connections/mcp-connections.component.html
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/app/shared/policies.content.spec.ts
  src/app/shared/policies.content.ts
Due: lint-functions, lint-angular

fix: cap heavy sports-lib reparse costs
  functions/src/admin/handlers/queues.handlers.ts
  functions/src/admin/shared/types.ts
  functions/src/reparse/sports-lib-reparse.config.ts
  functions/src/reparse/sports-lib-reparse.service.spec.ts
  functions/src/reparse/sports-lib-reparse.service.ts
  functions/src/schedule/sports-lib-reparse.ts
  functions/src/scripts/reparse-sports-lib-events.ts
  functions/src/shared/activity-processing-config.ts
  functions/src/tasks/sports-lib-reparse-worker.spec.ts
  functions/src/tasks/sports-lib-reparse-worker.ts
  shared/admin-queue-stats.ts
  src/app/components/admin/admin-queue-stats/admin-queue-stats.component.ts
Due: lint-functions, lint-angular

fix: harden MCP nearby search boundaries
  docs/mcp-server.md
  functions/src/mcp/data.service.spec.ts
  functions/src/mcp/data.service.ts
  functions/src/mcp/geocoding-rate-limit.spec.ts
  functions/src/mcp/geocoding-rate-limit.ts
  functions/src/mcp/server.spec.ts
  functions/src/mcp/server.ts
  functions/src/mcp/spatial.spec.ts
  functions/src/mcp/spatial.ts
  functions/src/shared/mapbox-geocoder.spec.ts
  functions/src/shared/mapbox-geocoder.ts
Due: lint-functions

fix: bound MCP route preview decoding
  docs/mcp-server.md
  functions/src/mcp/data.service.spec.ts
  functions/src/mcp/data.service.ts
Due: lint-functions

feat: expose selected MCP activity metrics
  docs/mcp-server.md
  functions/src/mcp/data.service.spec.ts
  functions/src/mcp/data.service.ts
  functions/src/mcp/metric-catalog.spec.ts
  functions/src/mcp/metric-catalog.ts
  functions/src/mcp/server.spec.ts
  functions/src/mcp/server.ts
  src/app/components/mcp-authorization/mcp-authorization.component.html
  src/app/components/mcp-authorization/mcp-authorization.component.spec.ts
  src/app/components/mcp-authorization/mcp-authorization.component.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/app/shared/policies.content.spec.ts
  src/app/shared/policies.content.ts
Due: lint-functions, lint-angular

fix: tighten MCP activity metric contract
  docs/mcp-server.md
  functions/src/mcp/data.service.spec.ts
  functions/src/mcp/data.service.ts
  functions/src/mcp/server.ts
Due: lint-functions

feat: add Training body-weight trend
  docs/mcp-server.md
  docs/training-workspace.md
  functions/src/derived-metrics/derived-metrics.service.spec.ts
  functions/src/derived-metrics/derived-metrics.service.ts
  functions/src/mcp/data.service.spec.ts
  shared/derived-metrics.ts
  src/app/components/summaries/summaries.component.ts
  src/app/components/training/training-workspace.component.html
  src/app/components/training/training-workspace.component.scss
  src/app/components/training/training-workspace.component.spec.ts
  src/app/components/training/training-workspace.component.ts
  src/app/helpers/training-body-weight.helper.spec.ts
  src/app/helpers/training-body-weight.helper.ts
  src/app/services/dashboard-derived-metrics.service.spec.ts
  src/app/services/dashboard-derived-metrics.service.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

fix: align activity upload size limit
  functions/src/coros/activities.spec.ts
  functions/src/coros/activities.ts
  functions/src/events/create-tool-comparison-event.ts
  functions/src/events/upload-activity.spec.ts
  functions/src/events/upload-activity.ts
  functions/src/shared/activity-processing-config.ts
  functions/src/suunto/activities.spec.ts
  functions/src/suunto/activities.ts
  functions/src/wahoo/activities.ts
  functions/src/wahoo/file-download.spec.ts
  functions/src/wahoo/file-download.ts
  src/app/components/upload/upload-activities-to-service/upload-activities-to-service.component.spec.ts
  src/app/components/upload/upload-activities-to-service/upload-activities-to-service.component.ts
  src/app/services/app.tools-comparison.service.spec.ts
  src/app/services/app.tools-comparison.service.ts
Due: lint-functions, lint-angular

fix: keep callable activity uploads within request limits
  functions/src/coros/activities.spec.ts
  functions/src/coros/activities.ts
  functions/src/shared/activity-processing-config.ts
  functions/src/suunto/activities.spec.ts
  functions/src/suunto/activities.ts
  functions/src/wahoo/activities.spec.ts
  functions/src/wahoo/activities.ts
  src/app/components/upload/upload-activities-to-service/upload-activities-to-service.component.spec.ts
  src/app/components/upload/upload-activities-to-service/upload-activities-to-service.component.ts
Due: lint-functions, lint-angular

feat: explain unstable power capacity
  docs/training-workspace.md
  functions/src/derived-metrics/derived-metrics.service.spec.ts
  functions/src/derived-metrics/derived-metrics.service.ts
  functions/src/mcp/data.service.spec.ts
  shared/derived-metrics.ts
  src/app/components/training/training-workspace.component.html
  src/app/components/training/training-workspace.component.scss
  src/app/components/training/training-workspace.component.spec.ts
  src/app/helpers/training-power-systems.helper.spec.ts
  src/app/helpers/training-power-systems.helper.ts
  src/app/shared/derived-metrics.shared.spec.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

test: align reparse task contracts
  functions/src/scripts/reparse-sports-lib-events.spec.ts
  functions/src/shared/cloud-tasks-reparse.spec.ts
Due: lint-functions

fix: activate MCP connections after token exchange
  README.md
  docs/mcp-server.md
  firestore.indexes.json
  functions/src/firestore-indexes.spec.ts
  functions/src/mcp/oauth.firestore-store.spec.ts
  functions/src/mcp/oauth.service.spec.ts
  functions/src/mcp/oauth.service.ts
  scripts/test-setup-ttl.sh
  src/app/components/mcp-connections/mcp-connections.component.html
  src/app/components/mcp-connections/mcp-connections.component.spec.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/app/shared/policies.content.spec.ts
  src/app/shared/policies.content.ts
Due: lint-functions, lint-angular

refactor: render Training trends with ECharts
  docs/training-workspace.md
  src/app/components/training/training-body-weight-trend-chart.component.html
  src/app/components/training/training-body-weight-trend-chart.component.scss
  src/app/components/training/training-body-weight-trend-chart.component.spec.ts
  src/app/components/training/training-body-weight-trend-chart.component.ts
  src/app/components/training/training-readiness-trend-chart.component.html
  src/app/components/training/training-readiness-trend-chart.component.scss
  src/app/components/training/training-readiness-trend-chart.component.spec.ts
  src/app/components/training/training-readiness-trend-chart.component.ts
  src/app/components/training/training-workspace.component.html
  src/app/components/training/training-workspace.component.scss
  src/app/components/training/training-workspace.component.spec.ts
  src/app/helpers/training-body-weight.helper.spec.ts
  src/app/helpers/training-body-weight.helper.ts
  src/app/helpers/training-readiness.helper.spec.ts
  src/app/helpers/training-readiness.helper.ts
  src/app/modules/training.module.ts
Due: lint-angular

fix: harden MCP connection lifecycle rollout
  docs/mcp-server.md
  functions/src/mcp/oauth.firestore-store.spec.ts
  functions/src/mcp/oauth.service.spec.ts
  functions/src/mcp/oauth.service.ts
Due: lint-functions

feat: publish MCP and Wahoo SEO surfaces
  docs/mcp-server.md
  src/app/app.routes.server.spec.ts
  src/app/app.routes.server.ts
  src/app/app.routing.module.spec.ts
  src/app/app.routing.module.ts
  src/app/components/home/home.component.html
  src/app/components/home/home.component.spec.ts
  src/app/components/integrations/integration-pages.content.spec.ts
  src/app/components/integrations/integration-pages.content.ts
  src/app/components/public-footer/public-footer.component.html
  src/app/components/public-footer/public-footer.component.spec.ts
  src/app/components/public-seo/public-seo-page.component.spec.ts
  src/app/components/public-seo/public-seo-pages.content.spec.ts
  src/app/components/public-seo/public-seo-pages.content.ts
  src/app/services/seo.service.spec.ts
  src/app/services/seo.service.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/app/shared/public-startup-route.spec.ts
  src/app/shared/public-startup-route.ts
  src/firebase-hosting.config.spec.ts
  src/robots.txt
  src/sitemap.xml
Due: lint-angular

feat: move MCP access to connections
  docs/mcp-server.md
  src/app/app.routing.module.spec.ts
  src/app/app.routing.module.ts
  src/app/components/help/help-page.component.html
  src/app/components/mcp-authorization/mcp-authorization.component.html
  src/app/components/mcp-authorization/mcp-authorization.component.scss
  src/app/components/mcp-authorization/mcp-authorization.component.spec.ts
  src/app/components/mcp-authorization/mcp-authorization.component.ts
  src/app/components/mcp-connections/mcp-connections.component.html
  src/app/components/mcp-connections/mcp-connections.component.scss
  src/app/components/mcp-connections/mcp-connections.component.spec.ts
  src/app/components/public-seo/public-seo-pages.content.spec.ts
  src/app/components/public-seo/public-seo-pages.content.ts
  src/app/components/services/services.component.html
  src/app/components/services/services.component.scss
  src/app/components/services/services.component.spec.ts
  src/app/components/services/services.component.ts
  src/app/components/sidenav/sidenav.component.html
  src/app/components/sidenav/sidenav.component.spec.ts
  src/app/components/user-settings/user-settings.component.html
  src/app/components/user-settings/user-settings.component.spec.ts
  src/app/modules/services.module.ts
  src/app/modules/user.module.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/app/shared/policies.content.spec.ts
  src/app/shared/policies.content.ts
Due: lint-angular

fix: preserve MCP card glass shadow
  src/app/components/services/services.component.html
  src/app/components/services/services.component.scss
  src/app/components/services/services.component.spec.ts
Due: lint-angular

feat: add configurable sport-aware lap columns
  src/app/components/event/event.card.component.html
  src/app/components/event/laps/event.card.laps.component.css
  src/app/components/event/laps/event.card.laps.component.html
  src/app/components/event/laps/event.card.laps.component.spec.ts
  src/app/components/event/laps/event.card.laps.component.ts
  src/app/helpers/event-lap-table-columns.helper.spec.ts
  src/app/helpers/event-lap-table-columns.helper.ts
  src/app/models/app-user.interface.ts
  src/app/services/app.user-settings-query.service.spec.ts
  src/app/services/app.user-settings-query.service.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/app/utils/app.user.utilities.spec.ts
  src/app/utils/app.user.utilities.ts
Due: lint-angular

chore: disable event reparse scheduler
  functions/src/reparse/sports-lib-reparse.config.ts
  functions/src/reparse/sports-lib-reparse.service.spec.ts
  src/app/components/event/laps/event.card.laps.component.html
  src/app/components/event/laps/event.card.laps.component.ts
Due: lint-functions, lint-angular

feat: align MCP connection card layout
  src/app/components/mcp-connections/mcp-connections.component.html
  src/app/components/mcp-connections/mcp-connections.component.scss
  src/app/components/mcp-connections/mcp-connections.component.spec.ts
Due: lint-angular

fix: harden configurable lap columns
  src/app/components/event/laps/event.card.laps.component.html
  src/app/components/event/laps/event.card.laps.component.spec.ts
  src/app/components/event/laps/event.card.laps.component.ts
  src/app/helpers/event-lap-table-columns.helper.spec.ts
  src/app/helpers/event-lap-table-columns.helper.ts
  src/app/services/app.user-settings-query.service.spec.ts
  src/app/services/app.user-settings-query.service.ts
Due: lint-angular

feat: guide MCP plugin setup
  src/app/components/mcp-connections/mcp-connections.component.html
  src/app/components/mcp-connections/mcp-connections.component.scss
  src/app/components/mcp-connections/mcp-connections.component.spec.ts
  src/app/components/mcp-connections/mcp-connections.component.ts
Due: lint-angular

chore: bump sports-lib to 18
  docs/training-workspace.md
  functions/package-lock.json
  functions/package.json
  package-lock.json
  package.json
Due: none

fix: separate MCP authorization permissions
  src/app/components/mcp-connections/mcp-connections.component.scss
Due: none
