Repository jimmykane/quantified-self: changes, and which lefthook commands are due for each by the changed paths.
All: lint-functions, lint-angular

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint-functions:
      root: "functions"
      glob: "**/*.{ts,js}"
      run: npx eslint {staged_files} --fix && git add {staged_files}
    lint-angular:
      glob: "{src/*.{ts,html},src/**/*.{ts,html}}"
      run: ESLINT_USE_FLAT_CONFIG=false npx eslint {staged_files} --fix && git add {staged_files}

chore: avoid duplicate main workflow tests
  .github/workflows/testing.yaml
Due: none

feat: add admin connection statistics
  functions/src/admin/handlers/users.handlers.ts
  functions/src/admin/shared/types.ts
  functions/src/admin/user-count.handlers.spec.ts
  src/app/components/admin/admin-dashboard/admin-dashboard.component.spec.ts
  src/app/helpers/admin-dashboard-summary.helper.spec.ts
  src/app/helpers/admin-dashboard-summary.helper.ts
  src/app/services/admin.service.spec.ts
  src/app/services/admin.service.ts
Due: lint-functions, lint-angular

fix: recover service worker update checks
  src/app/services/app.update.service.spec.ts
  src/app/services/app.update.service.ts
Due: lint-angular

fix: harden admin connection statistics
  functions/src/admin/handlers/users.handlers.ts
  functions/src/admin/user-count.handlers.spec.ts
  functions/src/mcp/oauth.service.ts
  src/app/helpers/admin-dashboard-summary.helper.spec.ts
  src/app/helpers/admin-dashboard-summary.helper.ts
Due: lint-functions, lint-angular

chore: bump app version to 10.9.1
  package-lock.json
  package.json
Due: none

fix: retain assistant send control while waiting
  src/app/components/assistant/assistant-page.component.html
  src/app/components/assistant/assistant-page.component.scss
  src/app/components/assistant/assistant-page.component.spec.ts
Due: lint-angular

fix: cap clustered map bounds zoom
  src/app/components/events-map/events-map.component.spec.ts
  src/app/components/events-map/events-map.component.ts
Due: lint-angular

fix: ground assistant jump maps in jump records
  docs/mcp-server.md
  functions/src/assistant/mcp-session.spec.ts
  functions/src/assistant/runtime.spec.ts
  functions/src/assistant/runtime.ts
  functions/src/mcp/contracts/pending-change.json
  functions/src/mcp/server.spec.ts
  functions/src/mcp/server.ts
  plugins/quantified-self/skills/analyze-quantified-self-activity/SKILL.md
  shared/assistant.prompts.ts
Due: lint-functions

fix: stabilize mobile map markers
  src/app/components/event/map/event.card.map.component.spec.ts
  src/app/components/event/map/event.card.map.component.ts
  src/app/services/map/mapbox-auto-resize.service.spec.ts
  src/app/services/map/mapbox-auto-resize.service.ts
  src/app/services/map/track-map.manager.spec.ts
  src/app/services/map/track-map.manager.ts
Due: lint-angular

feat: tag main package version changes
  .github/workflows/tagPackageVersion.yml
Due: none

chore: bump app version to 10.10.0
  package-lock.json
  package.json
Due: none

fix: revert clustered map zoom cap
  src/app/components/events-map/events-map.component.spec.ts
  src/app/components/events-map/events-map.component.ts
Due: lint-angular

fix: ship Mapbox CSS as a static asset
  angular.json
  package.json
  src/app/services/mapbox-loader.service.spec.ts
  src/app/services/mapbox-loader.service.ts
  src/firebase-hosting.config.spec.ts
  src/types/mapbox-gl-esm.d.ts
  tools/check-service-worker-assets.mjs
Due: lint-angular

fix: avoid redundant update retries
  src/app/services/app.update.service.spec.ts
  src/app/services/app.update.service.ts
Due: lint-angular

chore: bump app version to 10.10.1
  package-lock.json
  package.json
Due: none

fix: loosen event map clustering
  src/app/components/events-map/events-map.component.spec.ts
  src/app/components/events-map/events-map.component.ts
Due: lint-angular

fix: correct update check invocation
  src/app/services/app.update.service.ts
Due: lint-angular

chore: bump app version to 10.10.2
  package-lock.json
  package.json
Due: none

fix: divide training mix subsports
  docs/training-workspace.md
  src/app/components/training/training-workspace.component.scss
  src/app/components/training/training-workspace.component.spec.ts
Due: lint-angular

feat: cue dashboard calendar action
  src/app/components/summaries/summaries.component.css
  src/app/components/summaries/summaries.component.html
  src/app/components/summaries/summaries.component.spec.ts
Due: lint-angular

feat: align workspace page headers
  docs/frontend-ui.md
  docs/training-workspace.md
  src/app/components/calendar/calendar-page/calendar-page.component.html
  src/app/components/calendar/calendar-page/calendar-page.component.scss
  src/app/components/calendar/calendar-page/calendar-page.component.spec.ts
  src/app/components/shared/page-header/page-header.component.html
  src/app/components/shared/page-header/page-header.component.scss
  src/app/components/shared/page-header/page-header.component.spec.ts
  src/app/components/shared/page-header/page-header.component.ts
  src/app/components/training/training-workspace.component.html
  src/app/components/training/training-workspace.component.spec.ts
Due: lint-angular

feat: align routes and compare headers
  docs/frontend-ui.md
  src/app/components/routes/routes-page.component.html
  src/app/components/routes/routes-page.component.spec.ts
  src/app/components/tools/tools-compare-page.component.html
  src/app/components/tools/tools-compare-page.component.spec.ts
Due: lint-angular

revert: stabilize mobile map markers
  src/app/components/event/map/event.card.map.component.spec.ts
  src/app/components/event/map/event.card.map.component.ts
  src/app/services/map/mapbox-auto-resize.service.spec.ts
  src/app/services/map/mapbox-auto-resize.service.ts
  src/app/services/map/track-map.manager.spec.ts
  src/app/services/map/track-map.manager.ts
Due: lint-angular

fix: tighten mobile training header spacing
  docs/training-workspace.md
  src/app/components/training/training-workspace.component.scss
  src/app/components/training/training-workspace.component.spec.ts
Due: lint-angular

feat: align assistant workspace header
  docs/frontend-ui.md
  src/app/components/assistant/assistant-page.component.html
  src/app/components/assistant/assistant-page.component.scss
  src/app/components/assistant/assistant-page.component.spec.ts
  src/app/components/assistant/assistant-page.component.ts
Due: lint-angular

Revert "feat: align assistant workspace header"
  docs/frontend-ui.md
  src/app/components/assistant/assistant-page.component.html
  src/app/components/assistant/assistant-page.component.scss
  src/app/components/assistant/assistant-page.component.spec.ts
  src/app/components/assistant/assistant-page.component.ts
Due: lint-angular

fix: cap MCP API concurrency
  functions/src/mcp/server.spec.ts
  functions/src/mcp/server.ts
Due: lint-functions

fix: increase MCP API memory
  functions/src/mcp/server.spec.ts
  functions/src/mcp/server.ts
Due: lint-functions

fix: show sleep days and prevent tooltip clipping
  src/app/components/charts/sleep-trend/charts.sleep-trend.component.spec.ts
  src/app/components/charts/sleep-trend/charts.sleep-trend.component.ts
Due: lint-angular

feat: enable calendar event actions
  src/app/components/event-table/activity-range-table-section.component.html
  src/app/components/event-table/activity-range-table-section.component.spec.ts
  src/app/components/event-table/event.table.component.html
  src/app/components/event-table/event.table.component.spec.ts
  src/app/components/event-table/event.table.component.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

feat: add training metric indicators
  docs/training-workspace.md
  src/app/components/shared/metric-indicator/metric-indicator.component.html
  src/app/components/shared/metric-indicator/metric-indicator.component.scss
  src/app/components/shared/metric-indicator/metric-indicator.component.spec.ts
  src/app/components/shared/metric-indicator/metric-indicator.component.ts
  src/app/components/summaries/summaries.component.css
  src/app/components/summaries/summaries.component.html
  src/app/components/summaries/summaries.component.ts
  src/app/components/training/training-workspace.component.html
  src/app/components/training/training-workspace.component.scss
  src/app/components/training/training-workspace.component.ts
  src/app/helpers/training-readiness.helper.ts
  src/app/modules/shared.module.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: keep calendar event actions in context
  src/app/components/event-actions/event.actions.component.spec.ts
  src/app/components/event-actions/event.actions.component.ts
  src/app/components/event-table/activity-range-table-section.component.html
  src/app/components/event-table/activity-range-table-section.component.spec.ts
  src/app/components/event-table/event.table.component.html
  src/app/shared/help.content.ts
Due: lint-angular

chore: merge develop into calendar event actions
  docs/training-workspace.md
  functions/src/mcp/server.spec.ts
  functions/src/mcp/server.ts
  src/app/components/charts/sleep-trend/charts.sleep-trend.component.spec.ts
  src/app/components/charts/sleep-trend/charts.sleep-trend.component.ts
  src/app/components/event-actions/event.actions.component.spec.ts
  src/app/components/event-actions/event.actions.component.ts
  src/app/components/event-table/activity-range-table-section.component.html
  src/app/components/event-table/activity-range-table-section.component.spec.ts
  src/app/components/event-table/event.table.component.html
  src/app/components/event-table/event.table.component.spec.ts
  src/app/components/event-table/event.table.component.ts
  src/app/components/shared/metric-indicator/metric-indicator.component.html
  src/app/components/shared/metric-indicator/metric-indicator.component.scss
  src/app/components/shared/metric-indicator/metric-indicator.component.spec.ts
  src/app/components/shared/metric-indicator/metric-indicator.component.ts
  src/app/components/summaries/summaries.component.css
  src/app/components/summaries/summaries.component.html
  src/app/components/summaries/summaries.component.ts
  src/app/components/training/training-workspace.component.html
  src/app/components/training/training-workspace.component.scss
  src/app/components/training/training-workspace.component.ts
  src/app/helpers/training-readiness.helper.ts
  src/app/modules/shared.module.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

fix: render metric indicators in training tests
  src/app/components/summaries/summaries.component.spec.ts
  src/app/components/training/training-workspace.component.spec.ts
Due: lint-angular

fix: recover Assistant query corrections
  functions/src/assistant/mcp-session.spec.ts
  functions/src/assistant/mcp-session.ts
  functions/src/assistant/runtime.spec.ts
  functions/src/assistant/runtime.ts
Due: lint-functions

fix: recognize snorkeling and mermaiding
  docs/training-workspace.md
  functions/package-lock.json
  functions/package.json
  functions/src/reparse/SPORTS_LIB_REPARSE_RUNBOOK.md
  package-lock.json
  package.json
  src/app/components/activity-type-icon/activity-type-icon.component.spec.ts
  src/app/components/activity-types-filter-menu/activity-types-filter-menu.component.spec.ts
Due: lint-angular

feat: add dive profiles to event details
  docs/mcp-server.md
  docs/training-workspace.md
  functions/package-lock.json
  functions/package.json
  functions/src/mcp/activity-chart.service.spec.ts
  functions/src/reparse/SPORTS_LIB_REPARSE_RUNBOOK.md
  package-lock.json
  package.json
  src/app/components/data-type-icon/data-type-icon.component.spec.ts
  src/app/components/data-type-icon/data-type-icon.component.ts
  src/app/components/event/dive-profile/event.dive-profile.component.css
  src/app/components/event/dive-profile/event.dive-profile.component.html
  src/app/components/event/dive-profile/event.dive-profile.component.ts
  src/app/components/event/event.card.component.html
  src/app/components/event/event.card.component.spec.ts
  src/app/components/event/event.card.component.ts
  src/app/components/event/performance-charts/event.performance-charts.component.html
  src/app/components/event/performance-charts/event.performance-charts.component.spec.ts
  src/app/components/event/performance-charts/event.performance-charts.component.ts
  src/app/components/event/stats-grid/event.card.stats-grid.component.spec.ts
  src/app/components/user-settings/user-settings.component.html
  src/app/components/user-settings/user-settings.component.spec.ts
  src/app/constants/event-summary-metric-groups.ts
  src/app/helpers/app-chart-data-types.helper.spec.ts
  src/app/helpers/event-chart-order.helper.ts
  src/app/helpers/event-dive-profile.helper.spec.ts
  src/app/helpers/event-dive-profile.helper.ts
  src/app/helpers/event-echarts-data.helper.ts
  src/app/helpers/event-echarts-style.helper.spec.ts
  src/app/helpers/event-echarts-style.helper.ts
  src/app/helpers/event-echarts-yaxis.helper.spec.ts
  src/app/helpers/event-echarts-yaxis.helper.ts
  src/app/modules/event.module.ts
  src/app/resolvers/event.resolver.spec.ts
  src/app/resolvers/event.resolver.ts
  src/app/services/color/app.data.colors.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

fix: remove best build comparison bars
  docs/training-workspace.md
  src/app/components/training/training-workspace.component.html
  src/app/components/training/training-workspace.component.scss
  src/app/components/training/training-workspace.component.spec.ts
Due: lint-angular

fix: reconcile dive profile maximum depth
  src/app/helpers/event-dive-profile.helper.spec.ts
  src/app/helpers/event-dive-profile.helper.ts
Due: lint-angular
