Repository jimmykane/quantified-self: changes, and which lefthook commands are due for each by the changed paths.
All: lint-functions, lint-angular

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint-functions:
      root: "functions"
      glob: "**/*.{ts,js}"
      run: npx eslint {staged_files} --fix && git add {staged_files}
    lint-angular:
      glob: "{src/*.{ts,html},src/**/*.{ts,html}}"
      run: ESLINT_USE_FLAT_CONFIG=false npx eslint {staged_files} --fix && git add {staged_files}

chore: align Training load integration with sports-lib 21.6.1
  docs/training-workspace.md
  functions/package-lock.json
  functions/package.json
  functions/src/reparse/SPORTS_LIB_REPARSE_RUNBOOK.md
  package-lock.json
  package.json
Due: none

fix: refresh Training load after statistics regeneration
  docs/queue-processing.md
  docs/training-workspace.md
  functions/src/reparse/SPORTS_LIB_REPARSE_RUNBOOK.md
  functions/src/reparse/sports-lib-reparse.service.spec.ts
  functions/src/reparse/sports-lib-reparse.service.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

test: avoid fixture setup for static grid checks
  .agent/rules/frontend-test-environments.md
  README.md
  docs/ci-testing.md
  src/app/components/shared/training-summary/training-metric-grid.component.spec.ts
Due: lint-angular

refactor: retire body context from Training
  docs/frontend-ui.md
  docs/training-workspace.md
  src/app/components/training/training-body-weight-trend-chart.component.html
  src/app/components/training/training-body-weight-trend-chart.component.scss
  src/app/components/training/training-body-weight-trend-chart.component.spec.ts
  src/app/components/training/training-body-weight-trend-chart.component.ts
  src/app/components/training/training-chart-rendering.spec.ts
  src/app/components/training/training-workspace.component.html
  src/app/components/training/training-workspace.component.scss
  src/app/components/training/training-workspace.component.spec.ts
  src/app/components/training/training-workspace.component.ts
  src/app/helpers/timeline-notes-adapters.spec.ts
  src/app/helpers/training-body-weight.helper.spec.ts
  src/app/helpers/training-body-weight.helper.ts
  src/app/modules/training.module.ts
  src/app/services/dashboard-derived-metrics.service.spec.ts
  src/app/services/dashboard-derived-metrics.service.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: preserve Training load integration after rebase
  docs/ci-testing.md
  docs/training-workspace.md
  functions/src/training-load/training-load-cache.spec.ts
  functions/src/training-load/training-load.persistence.emulator.spec.ts
  shared/training-load-source.ts
  src/app/components/training-load/training-load-settings.component.html
  src/app/components/training-load/training-load-settings.component.scss
  tools/frontend-test-environments.json
Due: lint-functions, lint-angular

test: scope training workspace setup to fixture tests
  src/app/components/training/training-workspace.component.spec.ts
Due: lint-angular

fix: complete Training header and Monotony history
  docs/training-workspace.md
  functions/src/derived-metrics/derived-metrics.service.spec.ts
  functions/src/derived-metrics/derived-metrics.service.ts
  shared/training-load.ts
  src/app/components/shared/training-summary/training-snapshot-preview.component.spec.ts
  src/app/components/shared/training-summary/training-snapshot-preview.component.ts
  src/app/components/training/training-workspace.component.html
  src/app/components/training/training-workspace.component.scss
  src/app/components/training/training-workspace.component.spec.ts
  src/app/components/training/training-workspace.component.ts
  src/app/helpers/dashboard-derived-metrics.helper.spec.ts
  src/app/helpers/dashboard-derived-metrics.helper.ts
  src/app/helpers/training-load.shared.spec.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

fix: match Training sport picker to shortcut actions
  docs/training-workspace.md
  src/app/components/training/training-workspace.component.html
  src/app/components/training/training-workspace.component.scss
  src/app/components/training/training-workspace.component.spec.ts
  src/app/components/training/training-workspace.component.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: retry confirmed COROS activity processing failures
  docs/activity-delivery-monitoring.md
  docs/coros-integration.md
  docs/provider-integration-guide.md
  functions/src/activity-sync/process-queue-item.spec.ts
  functions/src/activity-sync/process-queue-item.ts
  functions/src/coros/activities.spec.ts
  functions/src/coros/activities.ts
  functions/src/queue/queue-item.interface.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

fix: tighten Training header spacing
  docs/training-workspace.md
  src/app/components/training/training-workspace.component.scss
  src/app/components/training/training-workspace.component.spec.ts
Due: lint-angular

fix: reject malformed COROS activity upload statuses
  docs/coros-integration.md
  functions/src/coros/activities.spec.ts
  functions/src/coros/activities.ts
Due: lint-functions

test: render training previews only for view assertions
  src/app/components/shared/training-summary/training-snapshot-preview.component.spec.ts
Due: lint-angular

fix: preserve history import request state and feedback
  docs/coros-integration.md
  docs/provider-integration-guide.md
  docs/sleep-sync-operations.md
  src/app/components/history-import-form/history-import.form.component.html
  src/app/components/history-import-form/history-import.form.component.spec.ts
  src/app/components/history-import-form/history-import.form.component.ts
  src/app/services/app.user.service.spec.ts
  src/app/services/app.user.service.ts
  src/app/services/history-import-state.service.spec.ts
  src/app/services/history-import-state.service.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: harden history import wait and confirmation states
  docs/provider-integration-guide.md
  src/app/components/history-import-form/history-import.form.component.html
  src/app/components/history-import-form/history-import.form.component.spec.ts
  src/app/components/history-import-form/history-import.form.component.ts
  src/app/services/history-import-state.service.spec.ts
  src/app/services/history-import-state.service.ts
Due: lint-angular

feat: preserve Health metric browser history
  docs/unified-health-data.md
  src/app/components/health/health-workspace.component.spec.ts
  src/app/components/health/health-workspace.component.ts
  src/app/services/shell-navigation-effects.service.spec.ts
  src/app/services/shell-navigation-effects.service.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

feat: expand pricing details with current plan controls
  src/app/components/public-pricing/public-pricing.component.html
  src/app/components/public-pricing/public-pricing.component.scss
  src/app/components/public-pricing/public-pricing.component.spec.ts
  src/app/components/public-pricing/public-pricing.component.ts
  src/app/components/public-pricing/public-pricing.content.ts
Due: lint-angular

fix: resolve pricing review feedback and layout findings
  src/app/components/public-pricing/public-pricing.component.html
  src/app/components/public-pricing/public-pricing.component.scss
  src/app/components/public-pricing/public-pricing.component.spec.ts
  src/app/components/public-pricing/public-pricing.component.ts
Due: lint-angular

fix: require server-confirmed sleep import status
  docs/provider-integration-guide.md
  docs/sleep-sync-operations.md
  src/app/components/history-import-form/history-import.form.component.spec.ts
  src/app/components/history-import-form/history-import.form.component.ts
  src/app/services/app.sleep.service.spec.ts
  src/app/services/app.sleep.service.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: align Health overview charts and spacing
  src/app/components/charts/health/dashboard-health-chart.component.css
  src/app/components/charts/health/dashboard-health-chart.component.html
  src/app/components/charts/sleep-trend/charts.sleep-trend.component.css
  src/app/components/charts/sleep-trend/charts.sleep-trend.component.html
  src/app/components/charts/sleep-trend/charts.sleep-trend.component.spec.ts
  src/app/components/charts/sleep-trend/charts.sleep-trend.component.ts
  src/app/components/health/health-category-overview.component.scss
Due: lint-angular

fix: keep history import timers outside Angular
  docs/provider-integration-guide.md
  src/app/components/history-import-form/history-import.form.component.spec.ts
  src/app/components/history-import-form/history-import.form.component.ts
Due: lint-angular

test: run history import state tests in Node
  .agent/rules/frontend-test-environments.md
  docs/ci-testing.md
  src/app/services/history-import-state.service.spec.ts
  tools/frontend-test-environments.json
Due: lint-angular

test: add isolated COROS snorkeling FIT conversion proof
  docs/coros-integration.md
  docs/provider-integration-guide.md
  functions/src/coros/snorkeling-fit-proof.spec.ts
  functions/src/coros/snorkeling-fit-proof.ts
Due: lint-functions

fix: refresh history import calendar limits
  docs/provider-integration-guide.md
  src/app/components/history-import-form/history-import.form.component.spec.ts
  src/app/components/history-import-form/history-import.form.component.ts
Due: lint-angular

test: strengthen COROS FIT proof edge-case coverage
  functions/src/coros/snorkeling-fit-proof.spec.ts
  functions/src/coros/snorkeling-fit-proof.ts
Due: lint-functions

fix: keep history dates and cooldown feedback accurate
  docs/provider-integration-guide.md
  src/app/components/history-import-form/history-import.form.component.html
  src/app/components/history-import-form/history-import.form.component.spec.ts
  src/app/components/history-import-form/history-import.form.component.ts
  src/app/shared/help.content.ts
Due: lint-angular

test: add controlled COROS sailing FIT candidate
  docs/coros-integration.md
  docs/provider-integration-guide.md
  functions/src/coros/snorkeling-fit-proof.spec.ts
  functions/src/coros/snorkeling-fit-proof.ts
Due: lint-functions

fix: refresh history import eligibility on access changes
  src/app/components/history-import-form/history-import.form.component.spec.ts
  src/app/components/history-import-form/history-import.form.component.ts
Due: lint-angular

test: enforce frontend environment choices in CI
  .agent/rules/frontend-test-environments.md
  .github/workflows/_run-tests.yml
  docs/ci-testing.md
  package.json
  tools/frontend-test-config.test.mjs
  tools/frontend-test-environment-reasons.json
  tools/frontend-test-policy-cli.mjs
  tools/frontend-test-policy.mjs
  tools/frontend-test-policy.test.mjs
  tools/testing-workflow.test.mjs
Due: none

fix: expire history import access at grace deadlines
  docs/provider-integration-guide.md
  src/app/components/history-import-form/history-import.form.component.spec.ts
  src/app/components/history-import-form/history-import.form.component.ts
  src/app/shared/help.content.ts
  src/app/utils/app.user.utilities.spec.ts
  src/app/utils/app.user.utilities.ts
Due: lint-angular

fix: inspect nested frontend test setup imports
  docs/ci-testing.md
  tools/frontend-test-policy.mjs
  tools/frontend-test-policy.test.mjs
Due: none

fix: close account cleanup retry and ownership gaps
  docs/delete-user-data-migration.md
  docs/provider-integration-guide.md
  functions/src/mcp/oauth.firestore-store.spec.ts
  functions/src/mcp/oauth.service.ts
  functions/src/user/user.spec.ts
  functions/src/user/user.ts
  functions/src/users/cleanup.spec.ts
  functions/src/users/cleanup.ts
  functions/src/users/data-cleanup.emulator.spec.ts
  functions/src/users/data-cleanup.spec.ts
  functions/src/users/data-cleanup.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

test: initialize marketing emulator before timed cases
  functions/src/admin/marketing/marketing.emulator.spec.ts
Due: lint-functions

fix: make account data cleanup retryable and verifiable
  README.md
  docs/delete-user-data-migration.md
  docs/provider-integration-guide.md
  docs/user-deletion-workflow.html
  functions/src/user/user.spec.ts
  functions/src/user/user.ts
  functions/src/users/cleanup.spec.ts
  functions/src/users/cleanup.ts
  functions/src/users/data-cleanup.emulator.spec.ts
  functions/src/users/data-cleanup.spec.ts
  functions/src/users/data-cleanup.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  tools/functions-emulator-suites.mjs
Due: lint-functions, lint-angular

fix: retain email fallback and attribute future account mail
  docs/delete-user-data-migration.md
  docs/user-deletion-workflow.html
  functions/src/scripts/mail-script-ownership.spec.ts
  functions/src/scripts/queue_development_update_emails.ts
  functions/src/scripts/test-all-emails.ts
  functions/src/user/user.spec.ts
  functions/src/user/user.ts
  functions/src/users/cleanup.spec.ts
  functions/src/users/cleanup.ts
  functions/src/users/data-cleanup.emulator.spec.ts
Due: lint-functions

fix: fence account cleanup against ownership and writer races
  docs/delete-user-data-migration.md
  docs/provider-integration-guide.md
  docs/user-deletion-workflow.html
  firestore.rules
  functions/src/email/registration-welcome.spec.ts
  functions/src/email/registration-welcome.ts
  functions/src/queue/cleanup-tombstone.spec.ts
  functions/src/queue/cleanup-tombstone.ts
  functions/src/scripts/queue-mcp-connection-update.spec.ts
  functions/src/scripts/queue-mcp-connection-update.ts
  functions/src/stripe/email-triggers.spec.ts
  functions/src/stripe/email-triggers.ts
  functions/src/users/cleanup.spec.ts
  functions/src/users/cleanup.ts
  functions/src/users/data-cleanup.emulator.spec.ts
  functions/src/users/data-cleanup.ts
  src/firestore.rules.spec.ts
Due: lint-functions, lint-angular

fix: give Gen 2 account cleanup 1 GiB memory
  docs/delete-user-data-migration.md
  docs/functions-entrypoint-loading.md
  functions/src/scripts/check-entrypoint-loading.ts
  functions/src/users/cleanup.spec.ts
  functions/src/users/cleanup.ts
Due: lint-functions

fix: clean UID-owned campaign tracking on account deletion
  docs/delete-user-data-migration.md
  docs/user-deletion-workflow.html
  functions/AGENTS.md
  functions/src/scripts/mail-script-ownership.spec.ts
  functions/src/scripts/queue-mcp-connection-update.spec.ts
  functions/src/scripts/queue_development_update_emails.ts
  functions/src/users/cleanup.spec.ts
  functions/src/users/cleanup.ts
  functions/src/users/data-cleanup.emulator.spec.ts
Due: lint-functions

fix: scope account mail cleanup to UID ownership
  docs/delete-user-data-migration.md
  docs/user-deletion-workflow.html
  functions/AGENTS.md
  functions/src/users/cleanup.spec.ts
  functions/src/users/cleanup.ts
  functions/src/users/data-cleanup.emulator.spec.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

fix: harden cleanup overlap and document extension gaps
  docs/delete-user-data-migration.md
  docs/provider-integration-guide.md
  docs/user-deletion-workflow.html
  functions/src/user/user.spec.ts
  functions/src/user/user.ts
  functions/src/users/cleanup.spec.ts
  functions/src/users/cleanup.ts
  functions/src/users/data-cleanup.emulator.spec.ts
  functions/src/users/data-cleanup.spec.ts
Due: lint-functions

fix: prepare verified account cleanup on Gen 2
  docs/delete-user-data-migration.md
  docs/function-secret-management.md
  docs/functions-entrypoint-loading.md
  docs/provider-integration-guide.md
  docs/user-deletion-workflow.html
  functions/package-lock.json
  functions/package.json
  functions/src/admin/marketing/handlers.ts
  functions/src/full-entrypoint.ts
  functions/src/function-target-loader.spec.ts
  functions/src/function-target-loader.ts
  functions/src/garmin/webhook-auth.ts
  functions/src/scripts/check-entrypoint-loading.ts
  functions/src/secrets.spec.ts
  functions/src/secrets.ts
  functions/src/users/cleanup.spec.ts
  functions/src/users/cleanup.ts
  functions/src/users/data-cleanup.emulator.spec.ts
Due: lint-functions
