Repository jimmykane/quantified-self: changes, and which lefthook commands are due for each by the changed paths.
All: lint-functions, lint-angular

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint-functions:
      root: "functions"
      glob: "**/*.{ts,js}"
      run: npx eslint {staged_files} --fix && git add {staged_files}
    lint-angular:
      glob: "{src/*.{ts,html},src/**/*.{ts,html}}"
      run: ESLINT_USE_FLAT_CONFIG=false npx eslint {staged_files} --fix && git add {staged_files}

fix: align shell header mobile action icons
  src/app/components/app-shell-header/app-shell-header.component.html
  src/app/components/app-shell-header/app-shell-header.component.scss
  src/app/components/app-shell-header/app-shell-header.component.spec.ts
Due: lint-angular

chore: bump sl
  functions/package-lock.json
  functions/package.json
  package-lock.json
  package.json
Due: none

fix: gate Garmin bulk route sends by eligibility
  src/app/components/routes/routes-page.component.spec.ts
  src/app/components/routes/routes-page.component.ts
Due: lint-angular

chore: fix up for route sync
  functions/src/routes/process-route-sync-queue-item.spec.ts
  functions/src/routes/process-route-sync-queue-item.ts
Due: lint-functions

fix: harden pending disconnect retries
  functions/src/schedule/retry-pending-service-disconnects.spec.ts
  functions/src/schedule/retry-pending-service-disconnects.ts
  functions/src/service-auth-lifecycle.spec.ts
  functions/src/service-auth-lifecycle.ts
  functions/src/stripe/subscriptions.spec.ts
  functions/src/stripe/subscriptions.ts
Due: lint-functions

fix: guard pending disconnect clears
  functions/src/service-disconnect-pending.spec.ts
  functions/src/service-disconnect-pending.ts
Due: lint-functions

fix: guard pending disconnect writes
  functions/src/schedule/enforce-subscription-limits.ts
  functions/src/schedule/retry-pending-service-disconnects.ts
  functions/src/service-disconnect-pending.spec.ts
  functions/src/service-disconnect-pending.ts
Due: lint-functions

fix: prevent pending disconnect starvation
  firestore.indexes.json
  functions/src/activity-sync/disconnect-routes.spec.ts
  functions/src/activity-sync/route-cleanup.ts
  functions/src/schedule/retry-pending-service-disconnects.spec.ts
  functions/src/schedule/retry-pending-service-disconnects.ts
  functions/src/service-connection-meta.spec.ts
  functions/src/service-connection-meta.ts
  functions/src/service-disconnect-pending.spec.ts
  functions/src/service-disconnect-pending.ts
Due: lint-functions

fix: bound pending disconnect retries
  functions/src/activity-sync/disconnect-routes.spec.ts
  functions/src/activity-sync/route-cleanup.ts
  functions/src/schedule/retry-pending-service-disconnects.spec.ts
  functions/src/schedule/retry-pending-service-disconnects.ts
Due: lint-functions

fix: defer pending disconnect queue work
  functions/src/activity-sync/process-queue-item.spec.ts
  functions/src/activity-sync/process-queue-item.ts
  functions/src/garmin/queue.spec.ts
  functions/src/garmin/queue.ts
  functions/src/queue-processing.spec.ts
  functions/src/queue-utils.spec.ts
  functions/src/queue-utils.ts
  functions/src/queue.spec.ts
  functions/src/queue.ts
  functions/src/routes/process-route-sync-queue-item.spec.ts
  functions/src/sleep/queue.spec.ts
  functions/src/sleep/queue.ts
  functions/src/tasks/activity-sync-worker.spec.ts
  functions/src/tasks/activity-sync-worker.ts
  functions/src/tasks/route-sync-worker.ts
  functions/src/tasks/sleep-sync-worker.spec.ts
  functions/src/tasks/sleep-sync-worker.ts
  functions/src/tasks/workout-processor.spec.ts
  functions/src/tasks/workout-processor.ts
Due: lint-functions

fix: park pending disconnect queue work
  functions/src/queue-utils.spec.ts
  functions/src/queue-utils.ts
  functions/src/queue.spec.ts
  functions/src/queue/pending-disconnect-release.spec.ts
  functions/src/queue/pending-disconnect-release.ts
  functions/src/queue/queue-item.interface.ts
  functions/src/service-disconnect-pending.spec.ts
  functions/src/service-disconnect-pending.ts
  functions/src/shared/ttl-config.spec.ts
  functions/src/shared/ttl-config.ts
  functions/src/sleep/queue.spec.ts
Due: lint-functions

fix: recover pending disconnect edge cases
  functions/src/queue/pending-disconnect-release.spec.ts
  functions/src/queue/pending-disconnect-release.ts
  src/app/components/services/coros/services.coros.component.html
  src/app/components/services/coros/services.coros.component.spec.ts
  src/app/components/services/coros/services.coros.component.ts
  src/app/components/services/garmin/services.garmin.component.html
  src/app/components/services/garmin/services.garmin.component.spec.ts
  src/app/components/services/garmin/services.garmin.component.ts
  src/app/components/services/suunto/services.suunto.component.html
  src/app/components/services/suunto/services.suunto.component.spec.ts
  src/app/components/services/suunto/services.suunto.component.ts
  src/app/helpers/suunto-service-connection.helper.spec.ts
  src/app/helpers/suunto-service-connection.helper.ts
Due: lint-functions, lint-angular

fix: keep pending disconnect recovery retryable
  functions/src/coros/auth/wrapper.spec.ts
  functions/src/coros/auth/wrapper.ts
  functions/src/garmin/auth/wrapper.spec.ts
  functions/src/garmin/auth/wrapper.ts
  functions/src/queue/pending-disconnect-release.spec.ts
  functions/src/queue/pending-disconnect-release.ts
  functions/src/service-disconnect-pending.spec.ts
  functions/src/service-disconnect-pending.ts
  functions/src/service-oauth-access.spec.ts
  functions/src/service-oauth-access.ts
  functions/src/suunto/auth/wrapper.spec.ts
  functions/src/suunto/auth/wrapper.ts
  src/app/components/services/coros/services.coros.component.html
  src/app/components/services/coros/services.coros.component.spec.ts
  src/app/components/services/coros/services.coros.component.ts
  src/app/components/services/garmin/services.garmin.component.html
  src/app/components/services/garmin/services.garmin.component.spec.ts
  src/app/components/services/garmin/services.garmin.component.ts
  src/app/components/services/services-abstract-component.directive.ts
  src/app/components/services/suunto/services.suunto.component.html
  src/app/components/services/suunto/services.suunto.component.spec.ts
  src/app/components/services/suunto/services.suunto.component.ts
Due: lint-functions, lint-angular

fix: clear disconnect pending before queue release
  functions/src/service-disconnect-pending.spec.ts
  functions/src/service-disconnect-pending.ts
Due: lint-functions

fix: keep manual-review reconnect cleanup-only
  functions/src/OAuth2.spec.ts
  functions/src/OAuth2.ts
Due: lint-functions

fix: keep manual review retry visible
  functions/src/service-disconnect-pending.spec.ts
  functions/src/service-disconnect-pending.ts
Due: lint-functions

fix: honor mirrored manual review oauth access
  functions/src/service-oauth-access.spec.ts
  functions/src/service-oauth-access.ts
Due: lint-functions

refactor: extract pending disconnect state builders
  functions/src/service-disconnect-pending-state.spec.ts
  functions/src/service-disconnect-pending-state.ts
  functions/src/service-disconnect-pending.ts
Due: lint-functions

refactor: reuse pending disconnect meta projection
  functions/src/service-disconnect-pending.ts
Due: lint-functions

fix: delete tokens skipped by deletion guard
  functions/src/service-auth-lifecycle.spec.ts
  functions/src/service-auth-lifecycle.ts
Due: lint-functions

chore: improvements
  functions/src/OAuth2.spec.ts
  functions/src/OAuth2.ts
  functions/src/service-disconnect-pending-state.spec.ts
  functions/src/service-disconnect-pending-state.ts
  functions/src/service-disconnect-pending.spec.ts
  functions/src/service-disconnect-pending.ts
Due: lint-functions

fix: defer route sync during pending disconnect
  functions/src/queue/pending-disconnect-release.spec.ts
  functions/src/queue/pending-disconnect-release.ts
  functions/src/routes/process-route-sync-queue-item.spec.ts
  functions/src/routes/process-route-sync-queue-item.ts
Due: lint-functions

fix: keep deferred route sync queued
  functions/src/routes/route-sync-queue.spec.ts
  functions/src/routes/route-sync-queue.ts
Due: lint-functions

chore: fix indexes ?
  firestore.indexes.json
Due: none

chore: distance styff
  src/app/components/event-summary/event-summary.component.spec.ts
  src/app/components/event/swim-lengths/event.card.swim-lengths.component.spec.ts
  src/app/components/event/swim-lengths/event.card.swim-lengths.component.ts
  src/app/components/header-stats/header-stats.component.spec.ts
  src/app/helpers/event-echarts-data.helper.spec.ts
  src/app/helpers/event-echarts-data.helper.ts
  src/app/helpers/event-swim-length.helper.spec.ts
  src/app/helpers/event-swim-length.helper.ts
  src/app/services/map/map-event-popup-content.service.spec.ts
Due: lint-angular

chore: shitty ai
  firestore.indexes.json
Due: none

docs: default agent commits to unsigned
  AGENTS.md
Due: none

fix: harden route delivery sync retries
  firestore.rules
  functions/src/garmin/routes.spec.ts
  functions/src/garmin/routes.ts
  functions/src/route-delivery-sync/backfill.spec.ts
  functions/src/route-delivery-sync/backfill.ts
  functions/src/route-delivery-sync/process-queue-item.spec.ts
  functions/src/route-delivery-sync/process-queue-item.ts
  functions/src/route-delivery-sync/revision.spec.ts
  functions/src/route-delivery-sync/revision.ts
  functions/src/routes/process-route-sync-queue-item.spec.ts
  functions/src/routes/process-route-sync-queue-item.ts
  src/firestore.rules.spec.ts
Due: lint-functions, lint-angular

fix: align route delivery cleanup
  functions/src/activity-sync/disconnect-routes.spec.ts
  functions/src/activity-sync/route-cleanup.ts
  functions/src/route-delivery-sync/backfill.spec.ts
  functions/src/route-delivery-sync/backfill.ts
  functions/src/route-delivery-sync/delivery-metadata.ts
  functions/src/route-delivery-sync/enqueue-imported-route.spec.ts
  functions/src/route-delivery-sync/enqueue-imported-route.ts
Due: lint-functions

chore: fix tests
  functions/src/users/cleanup.spec.ts
Due: lint-functions

chore: improvements
  firebase.json
  ngsw-config.json
Due: none

fix: harden route delivery sync disconnect handling
  functions/src/queue/pending-disconnect-release.spec.ts
  functions/src/queue/pending-disconnect-release.ts
  functions/src/route-delivery-sync/process-queue-item.spec.ts
  functions/src/route-delivery-sync/process-queue-item.ts
  functions/src/routes/process-route-sync-queue-item.spec.ts
  functions/src/routes/process-route-sync-queue-item.ts
Due: lint-functions

fix: extend subscription enforcement timeout
  functions/src/schedule/enforce-subscription-limits.ts
Due: lint-functions

feat: add route delivery sync prompt
  functions/src/route-delivery-sync/allowlist.spec.ts
  shared/route-delivery-sync-rollout.ts
  src/app/components/dashboard/dashboard-action-prompts/dashboard-action-prompts.component.spec.ts
  src/app/components/dashboard/dashboard-action-prompts/dashboard-action-prompts.component.ts
  src/app/components/routes/routes-page.component.html
  src/app/components/routes/routes-page.component.spec.ts
  src/app/components/routes/routes-page.component.ts
  src/app/components/services/suunto/services.suunto.component.spec.ts
  src/app/helpers/dashboard-action-prompt.helper.ts
  src/app/helpers/route-delivery-auto-sync-prompt.helper.spec.ts
  src/app/helpers/route-delivery-auto-sync-prompt.helper.ts
  src/app/models/app-user.interface.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

chore: enable for all users
  src/app/components/routes/routes-page.component.spec.ts
  src/app/helpers/route-delivery-auto-sync-prompt.helper.spec.ts
  src/app/helpers/route-delivery-auto-sync-prompt.helper.ts
Due: lint-angular

feat: improve route waypoint markers
  src/app/components/routes/route-detail/route-detail.component.html
  src/app/components/routes/route-detail/route-detail.component.scss
  src/app/components/routes/route-map/route-map.component.spec.ts
  src/app/components/routes/route-map/route-map.component.ts
  src/app/helpers/route-detail.helper.spec.ts
  src/app/helpers/route-detail.helper.ts
  src/app/helpers/route-map.helper.spec.ts
  src/app/helpers/route-waypoint-presentation.helper.spec.ts
  src/app/helpers/route-waypoint-presentation.helper.ts
  src/app/services/map/marker-factory.service.spec.ts
  src/app/services/map/marker-factory.service.ts
Due: lint-angular

feat: improve route turn waypoint markers
  src/app/components/routes/route-detail/route-detail.component.html
  src/app/components/routes/route-detail/route-detail.component.scss
  src/app/components/routes/route-map/route-map.component.spec.ts
  src/app/components/routes/route-map/route-map.component.ts
  src/app/helpers/route-detail.helper.spec.ts
  src/app/helpers/route-detail.helper.ts
  src/app/helpers/route-map.helper.spec.ts
  src/app/helpers/route-waypoint-presentation.helper.spec.ts
  src/app/helpers/route-waypoint-presentation.helper.ts
  src/app/services/map/marker-factory.service.spec.ts
  src/app/services/map/marker-factory.service.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular
