Repository jimmykane/quantified-self: changes, and which lefthook commands are due for each by the changed paths.
All: lint-functions, lint-angular

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint-functions:
      root: "functions"
      glob: "**/*.{ts,js}"
      run: npx eslint {staged_files} --fix && git add {staged_files}
    lint-angular:
      glob: "{src/*.{ts,html},src/**/*.{ts,html}}"
      run: ESLINT_USE_FLAT_CONFIG=false npx eslint {staged_files} --fix && git add {staged_files}

feat: add AgentPond tracing for AI insights
  .agents/skills/agentpond-instrumentation/SKILL.md
  .agents/skills/agentpond-instrumentation/agents/openai.yaml
  .agents/skills/agentpond-instrumentation/references/firebase.md
  .agents/skills/agentpond-instrumentation/references/openinference.md
  .agents/skills/agentpond/SKILL.md
  .agents/skills/agentpond/references/cli.md
  .agents/skills/agentpond/references/duckdb-schema.md
  .agents/skills/agentpond/references/error-analysis.md
  functions/bootstrap.mjs
  functions/package-lock.json
  functions/package.json
  functions/src/ai/insights/ai-tracing.ts
  functions/src/ai/insights/location-filter.ts
  functions/src/ai/insights/normalize-query.repair.ts
  functions/src/ai/insights/prompt-language-sanitization.ts
  functions/src/ai/insights/summarize-result.flow.ts
  functions/src/firebase-bootstrap.ts
  functions/src/index.ts
  skills-lock.json
Due: lint-functions

fix: clean up Firebase bootstrap warnings
  functions/src/firebase-bootstrap.ts
Due: lint-functions

feat: derive dashboard power curves
  functions/src/derived-metrics/derived-metrics.service.spec.ts
  functions/src/derived-metrics/derived-metrics.service.ts
  functions/src/tasks/derived-metrics-worker.spec.ts
  functions/src/tasks/derived-metrics-worker.ts
  functions/src/test-setup.ts
  shared/derived-metrics.ts
  src/app/components/summaries/summaries.component.spec.ts
  src/app/components/summaries/summaries.component.ts
  src/app/components/tile/chart/tile.chart.component.html
  src/app/components/tile/chart/tile.chart.component.spec.ts
  src/app/components/tile/chart/tile.chart.component.ts
  src/app/components/training/training-workspace.component.html
  src/app/components/training/training-workspace.component.ts
  src/app/helpers/dashboard-chart-info.helper.ts
  src/app/helpers/dashboard-power-curve.helper.spec.ts
  src/app/helpers/dashboard-power-curve.helper.ts
  src/app/helpers/dashboard-special-chart-types.spec.ts
  src/app/helpers/dashboard-special-chart-types.ts
  src/app/helpers/dashboard-tile-view-model.helper.spec.ts
  src/app/helpers/dashboard-tile-view-model.helper.ts
  src/app/services/dashboard-derived-metrics.service.spec.ts
  src/app/services/dashboard-derived-metrics.service.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

chore: sync extension configurations
  extensions/delete-user-data.env
  extensions/firestore-send-email.env
Due: none

feat: add training build comparison insights
  firestore.rules
  functions/src/config.spec.ts
  functions/src/config.ts
  functions/src/derived-metrics/derived-metrics.service.spec.ts
  functions/src/derived-metrics/derived-metrics.service.ts
  functions/src/derived-metrics/ensure-derived-metrics.spec.ts
  functions/src/derived-metrics/ensure-derived-metrics.ts
  functions/src/derived-metrics/set-training-build-benchmark.spec.ts
  functions/src/derived-metrics/set-training-build-benchmark.ts
  functions/src/index.ts
  functions/src/shared/cloud-tasks-derived-metrics.spec.ts
  functions/src/shared/cloud-tasks-reparse.spec.ts
  functions/src/shared/cloud-tasks.spec.ts
  functions/src/shared/cloud-tasks.ts
  functions/src/tasks/derived-metrics-worker.spec.ts
  functions/src/tasks/derived-metrics-worker.ts
  functions/src/test-setup.ts
  shared/derived-metrics.ts
  shared/functions-manifest.ts
  src/app/components/summaries/summaries.component.ts
  src/app/components/training/training-build-benchmark-dialog.component.html
  src/app/components/training/training-build-benchmark-dialog.component.scss
  src/app/components/training/training-build-benchmark-dialog.component.spec.ts
  src/app/components/training/training-build-benchmark-dialog.component.ts
  src/app/components/training/training-workspace.component.html
  src/app/components/training/training-workspace.component.scss
  src/app/components/training/training-workspace.component.spec.ts
  src/app/components/training/training-workspace.component.ts
  src/app/helpers/dashboard-derived-metrics.helper.spec.ts
  src/app/helpers/dashboard-derived-metrics.helper.ts
  src/app/models/app-user.interface.ts
  src/app/modules/training.module.ts
  src/app/services/app.user.service.spec.ts
  src/app/services/app.user.service.ts
  src/app/services/dashboard-derived-metrics.service.spec.ts
  src/app/services/dashboard-derived-metrics.service.ts
  src/app/shared/derived-metrics.shared.spec.ts
  src/app/shared/help.content.ts
  src/firestore.rules.spec.ts
Due: lint-functions, lint-angular

feat: add training event benchmark picker
  functions/src/derived-metrics/derived-metrics.service.spec.ts
  functions/src/derived-metrics/derived-metrics.service.ts
  functions/src/derived-metrics/set-training-build-benchmark.spec.ts
  functions/src/derived-metrics/set-training-build-benchmark.ts
  shared/derived-metrics.ts
  src/app/components/training/training-build-benchmark-dialog.component.html
  src/app/components/training/training-build-benchmark-dialog.component.scss
  src/app/components/training/training-build-benchmark-dialog.component.spec.ts
  src/app/components/training/training-build-benchmark-dialog.component.ts
  src/app/components/training/training-workspace.component.html
  src/app/components/training/training-workspace.component.spec.ts
  src/app/components/training/training-workspace.component.ts
  src/app/helpers/dashboard-derived-metrics.helper.spec.ts
  src/app/helpers/dashboard-derived-metrics.helper.ts
  src/app/services/dashboard-derived-metrics.service.spec.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

feat: refine training benchmark picker
  functions/src/derived-metrics/derived-metrics.service.spec.ts
  functions/src/derived-metrics/derived-metrics.service.ts
  shared/derived-metrics.ts
  src/app/components/training/training-build-benchmark-dialog.component.html
  src/app/components/training/training-build-benchmark-dialog.component.scss
  src/app/components/training/training-build-benchmark-dialog.component.spec.ts
  src/app/components/training/training-build-benchmark-dialog.component.ts
  src/app/components/training/training-workspace.component.html
  src/app/components/training/training-workspace.component.spec.ts
  src/app/components/training/training-workspace.component.ts
  src/app/helpers/dashboard-derived-metrics.helper.spec.ts
  src/app/helpers/dashboard-derived-metrics.helper.ts
  src/app/services/dashboard-derived-metrics.service.spec.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

fix: improve training benchmark event picker
  src/app/components/training/training-build-benchmark-dialog.component.html
  src/app/components/training/training-build-benchmark-dialog.component.scss
  src/app/components/training/training-build-benchmark-dialog.component.spec.ts
  src/app/components/training/training-build-benchmark-dialog.component.ts
Due: lint-angular

feat: add trustworthy training capacity evidence
  functions/src/derived-metrics/derived-metrics.service.spec.ts
  functions/src/derived-metrics/derived-metrics.service.ts
  shared/derived-metrics.ts
  src/app/components/summaries/summaries.component.ts
  src/app/components/training/training-workspace.component.html
  src/app/components/training/training-workspace.component.scss
  src/app/components/training/training-workspace.component.spec.ts
  src/app/components/training/training-workspace.component.ts
  src/app/helpers/dashboard-derived-metrics.helper.spec.ts
  src/app/helpers/dashboard-derived-metrics.helper.ts
  src/app/helpers/training-analysis.helper.spec.ts
  src/app/helpers/training-analysis.helper.ts
  src/app/helpers/training-capacity.helper.spec.ts
  src/app/helpers/training-capacity.helper.ts
  src/app/services/dashboard-derived-metrics.service.spec.ts
  src/app/services/dashboard-derived-metrics.service.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

fix: restore heavy reparse exports
  functions/bootstrap.mjs
Due: none

fix: separate chart availability from visibility
  src/app/components/event/chart/actions/event.card.chart.actions.component.html
  src/app/components/event/chart/actions/event.card.chart.actions.component.scss
  src/app/components/event/chart/actions/event.card.chart.actions.component.spec.ts
  src/app/components/event/chart/actions/event.card.chart.actions.component.ts
  src/app/components/event/chart/event.card.chart.component.spec.ts
  src/app/components/event/chart/event.card.chart.component.ts
  src/app/components/user-settings/user-settings.component.html
  src/app/components/user-settings/user-settings.component.spec.ts
  src/app/components/user-settings/user-settings.component.ts
  src/app/helpers/event-echarts-data.helper.spec.ts
  src/app/helpers/event-echarts-data.helper.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: prevent provider import event collisions
  functions/src/garmin/queue.spec.ts
  functions/src/garmin/queue.ts
  functions/src/queue-integration.spec.ts
  functions/src/queue-processing.spec.ts
  functions/src/queue.spec.ts
  functions/src/queue.ts
  functions/src/queue/provider-event-id.spec.ts
  functions/src/queue/provider-event-id.ts
  functions/src/queue/user-not-found.spec.ts
Due: lint-functions

fix: polish training benchmark dialog
  src/app/components/training/training-build-benchmark-dialog.component.html
  src/app/components/training/training-build-benchmark-dialog.component.scss
  src/app/components/training/training-build-benchmark-dialog.component.spec.ts
  src/app/components/training/training-build-benchmark-dialog.component.ts
  src/app/components/training/training-workspace.component.spec.ts
  src/app/components/training/training-workspace.component.ts
Due: lint-angular

fix: decouple training benchmarks from race tags
  functions/src/derived-metrics/derived-metrics.service.spec.ts
  functions/src/derived-metrics/derived-metrics.service.ts
  functions/src/derived-metrics/set-training-build-benchmark.spec.ts
  functions/src/derived-metrics/set-training-build-benchmark.ts
  shared/derived-metrics.ts
  src/app/components/training/training-build-benchmark-dialog.component.html
  src/app/components/training/training-build-benchmark-dialog.component.scss
  src/app/components/training/training-build-benchmark-dialog.component.spec.ts
  src/app/components/training/training-build-benchmark-dialog.component.ts
  src/app/components/training/training-workspace.component.html
  src/app/components/training/training-workspace.component.ts
  src/app/helpers/dashboard-derived-metrics.helper.spec.ts
  src/app/helpers/dashboard-derived-metrics.helper.ts
  src/app/shared/derived-metrics.shared.spec.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

feat: add training recovery context
  functions/src/derived-metrics/derived-metrics.service.spec.ts
  functions/src/derived-metrics/derived-metrics.service.ts
  functions/src/derived-metrics/derived-metrics.trigger.spec.ts
  functions/src/derived-metrics/derived-metrics.trigger.ts
  functions/src/index.ts
  functions/src/shared/cloud-tasks-derived-metrics.spec.ts
  functions/src/shared/cloud-tasks.ts
  functions/src/tasks/derived-metrics-ingress-worker.spec.ts
  functions/src/tasks/derived-metrics-ingress-worker.ts
  functions/src/tasks/derived-metrics-worker.spec.ts
  functions/src/tasks/derived-metrics-worker.ts
  shared/derived-metrics.ts
  src/app/components/training/training-workspace.component.html
  src/app/components/training/training-workspace.component.scss
  src/app/components/training/training-workspace.component.spec.ts
  src/app/components/training/training-workspace.component.ts
  src/app/helpers/dashboard-derived-metrics.helper.spec.ts
  src/app/helpers/dashboard-derived-metrics.helper.ts
  src/app/shared/derived-metrics.shared.spec.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

fix: harden training recovery context
  functions/src/derived-metrics/derived-metrics.service.spec.ts
  functions/src/derived-metrics/derived-metrics.service.ts
  shared/derived-metrics.ts
  src/app/components/training/training-workspace.component.scss
  src/app/components/training/training-workspace.component.spec.ts
  src/app/components/training/training-workspace.component.ts
  src/app/helpers/dashboard-derived-metrics.helper.ts
  src/app/shared/derived-metrics.shared.spec.ts
Due: lint-functions, lint-angular

feat: color training comparison deltas
  src/app/components/training/training-workspace.component.html
  src/app/components/training/training-workspace.component.scss
  src/app/components/training/training-workspace.component.spec.ts
  src/app/components/training/training-workspace.component.ts
Due: lint-angular

docs: document Training workspace
  AGENTS.md
  README.md
  docs/training-workspace.md
Due: none

test: align dashboard derived chart expectations
  src/app/components/loading/shade.component.spec.ts
  src/app/components/summaries/dashboard-manager-dialog/dashboard-manager-dialog.component.spec.ts
Due: lint-angular

chore: bump sl
  functions/package-lock.json
  functions/package.json
  package-lock.json
  package.json
Due: none

docs: align Training sports-lib baseline
  docs/training-workspace.md
  functions/package.json
  package.json
Due: none

chore: hide training for now
  docs/training-workspace.md
  src/app/components/sidenav/sidenav.component.html
  src/app/components/sidenav/sidenav.component.spec.ts
  src/app/components/summaries/summaries.component.html
  src/app/components/summaries/summaries.component.spec.ts
Due: lint-angular

fix: improve training loading and derived queue monitoring
  docs/training-workspace.md
  functions/src/admin/handlers/queues.handlers.ts
  functions/src/admin/queues.handlers.spec.ts
  functions/src/admin/test-utils/admin-test-harness.ts
  functions/src/config.spec.ts
  functions/src/config.ts
  functions/src/shared/cloud-tasks-derived-metrics.spec.ts
  functions/src/shared/cloud-tasks.spec.ts
  functions/src/shared/cloud-tasks.ts
  shared/admin-queue-stats.ts
  src/app/components/admin/admin-dashboard/admin-dashboard.component.spec.ts
  src/app/components/admin/admin-queue-monitor/admin-queue-monitor.component.spec.ts
  src/app/components/admin/admin-queue-monitor/admin-queue-monitor.component.ts
  src/app/components/admin/admin-queue-stats/admin-queue-stats.component.html
  src/app/components/admin/admin-queue-stats/admin-queue-stats.component.spec.ts
  src/app/components/training/training-workspace.component.html
  src/app/components/training/training-workspace.component.scss
  src/app/components/training/training-workspace.component.spec.ts
  src/app/helpers/admin-dashboard-summary.helper.spec.ts
  src/app/helpers/admin-dashboard-summary.helper.ts
Due: lint-functions, lint-angular

fix: preserve event charts across fullscreen
  src/app/components/event/chart/panel/event.card.chart.panel.component.scss
  src/app/components/event/chart/panel/event.card.chart.panel.component.spec.ts
  src/app/components/event/chart/panel/event.card.chart.panel.component.ts
Due: lint-angular

fix: handle incomplete sleep recovery evidence
  docs/training-workspace.md
  functions/src/sleep/provider-mappers.spec.ts
  functions/src/sleep/provider-mappers.ts
  src/app/components/training/training-workspace.component.spec.ts
  src/app/components/training/training-workspace.component.ts
  src/app/helpers/dashboard-derived-metrics.helper.spec.ts
  src/app/helpers/dashboard-derived-metrics.helper.ts
Due: lint-functions, lint-angular

fix: polish training comparison presentation
  docs/training-workspace.md
  src/app/components/training/training-workspace.component.html
  src/app/components/training/training-workspace.component.scss
  src/app/components/training/training-workspace.component.spec.ts
  src/app/components/training/training-workspace.component.ts
  src/app/shared/help.content.ts
Due: lint-angular

chore: bump version
  package.json
Due: none

fix: refine registration welcome copy
  docs/email-lifecycle.md
  functions/src/email/template-catalog.spec.ts
  functions/templates/partials/email_founder_header.hbs
  functions/templates/partials/email_founder_header.txt.hbs
  functions/templates/registration_welcome.hbs
  functions/templates/registration_welcome.txt.hbs
Due: lint-functions

fix: use user-led founder welcome
  docs/email-lifecycle.md
  functions/src/email/template-catalog.spec.ts
  functions/templates/registration_welcome.hbs
  functions/templates/registration_welcome.txt.hbs
Due: lint-functions

feat: support unseeded email smoke tests
  docs/email-lifecycle.md
  functions/src/email/template-renderer.ts
  functions/src/scripts/render-email-previews.ts
  functions/src/scripts/test-all-emails.spec.ts
  functions/src/scripts/test-all-emails.ts
Due: lint-functions

feat: modernize dashboard route endpoints
  src/app/components/routes/dashboard-route-preview-map/dashboard-route-preview-map.component.spec.ts
  src/app/components/routes/dashboard-route-preview-map/dashboard-route-preview-map.component.ts
  src/app/services/map/marker-factory.service.spec.ts
  src/app/services/map/marker-factory.service.ts
  src/app/services/map/track-map.manager.spec.ts
  src/app/services/map/track-map.manager.ts
Due: lint-angular

fix: clean up mobile dashboard controls
  src/app/components/event-table/event.table.component.html
  src/app/components/event-table/event.table.component.scss
  src/app/components/event-table/event.table.component.spec.ts
  src/app/components/event-table/event.table.component.ts
  src/app/components/summaries/dashboard-manager-dialog/dashboard-manager-dialog.component.css
  src/app/components/summaries/dashboard-manager-dialog/dashboard-manager-dialog.component.html
  src/app/components/summaries/dashboard-manager-dialog/dashboard-manager-dialog.component.spec.ts
  src/app/components/summaries/dashboard-manager-dialog/dashboard-manager-dialog.component.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: increase derived metrics worker memory
  docs/training-workspace.md
  functions/src/tasks/derived-metrics-worker.spec.ts
  functions/src/tasks/derived-metrics-worker.ts
Due: lint-functions

fix: reduce training metric warning noise
  docs/training-workspace.md
  functions/src/derived-metrics/derived-metrics.service.spec.ts
  functions/src/derived-metrics/derived-metrics.service.ts
Due: lint-functions

fix: quiet founder welcome link
  functions/src/email/template-catalog.spec.ts
  functions/templates/registration_welcome.hbs
  functions/templates/registration_welcome.txt.hbs
Due: lint-functions
