Repository jimmykane/quantified-self: changes, and which lefthook commands are due for each by the changed paths.
All: lint-functions, lint-angular

lint-functions:
  run: npx eslint {staged_files} --fix && git add {staged_files}

lint-angular:
  run: ESLINT_USE_FLAT_CONFIG=false npx eslint {staged_files} --fix && git add {staged_files}

fix: close remaining Wahoo lifecycle races
  docs/provider-integration-guide.md
  docs/wahoo-integration.md
  firestore.rules
  functions/src/OAuth2.spec.ts
  functions/src/OAuth2.ts
  functions/src/activity-sync/process-queue-item.spec.ts
  functions/src/activity-sync/process-queue-item.ts
  functions/src/queue/sync-route-eligibility.spec.ts
  functions/src/queue/sync-route-eligibility.ts
  functions/src/route-delivery-sync/process-queue-item.spec.ts
  functions/src/route-delivery-sync/process-queue-item.ts
  functions/src/service-auth-lifecycle.spec.ts
  functions/src/service-auth-lifecycle.ts
  functions/src/wahoo/account.spec.ts
  functions/src/wahoo/account.ts
  functions/src/wahoo/activities.spec.ts
  functions/src/wahoo/activities.ts
  functions/src/wahoo/processor.spec.ts
  functions/src/wahoo/processor.ts
  functions/src/wahoo/routes.spec.ts
  functions/src/wahoo/routes.ts
  src/firestore.rules.spec.ts
Due: lint-functions, lint-angular

fix: checkpoint lifecycle repairs after processing
  functions/src/schedule/retry-pending-service-disconnects.spec.ts
  functions/src/schedule/retry-pending-service-disconnects.ts
Due: lint-functions

refactor: group Wahoo upload lifecycle hooks
  functions/src/wahoo/activities.ts
Due: lint-functions

fix: guard pending-disconnect sync metadata
  functions/src/activity-sync/process-queue-item.spec.ts
  functions/src/activity-sync/process-queue-item.ts
Due: lint-functions

fix: preserve pinned Wahoo terminal state
  functions/src/service-auth-lifecycle.spec.ts
  functions/src/service-auth-lifecycle.ts
  functions/src/service-connection-meta.spec.ts
  functions/src/service-connection-meta.ts
Due: lint-functions

fix: recheck Wahoo account before uploads
  functions/src/OAuth2.spec.ts
  functions/src/wahoo/activities.spec.ts
  functions/src/wahoo/activities.ts
Due: lint-functions

fix: roll back unused Wahoo upload fingerprints
  functions/src/activity-sync/outbound-fingerprint.spec.ts
  functions/src/activity-sync/outbound-fingerprint.ts
  functions/src/wahoo/activities.spec.ts
  functions/src/wahoo/activities.ts
Due: lint-functions

fix: preserve OAuth recovery after bounded queue release
  firestore.indexes.json
  functions/src/firestore-indexes.spec.ts
  functions/src/queue/pending-disconnect-release.spec.ts
  functions/src/queue/pending-disconnect-release.ts
  functions/src/schedule/retry-pending-service-disconnects.spec.ts
  functions/src/schedule/retry-pending-service-disconnects.ts
  functions/src/service-connection-meta.spec.ts
  functions/src/service-connection-meta.ts
  functions/src/service-disconnect-pending.spec.ts
  functions/src/service-disconnect-pending.ts
  shared/service-connection.ts
Due: lint-functions

fix: bound deferred route recovery
  firestore.indexes.json
  functions/src/firestore-indexes.spec.ts
  functions/src/queue/pending-disconnect-release.spec.ts
  functions/src/queue/pending-disconnect-release.ts
  functions/src/queue/sync-route-eligibility-release.spec.ts
  functions/src/queue/sync-route-eligibility.spec.ts
  functions/src/queue/sync-route-eligibility.ts
Due: lint-functions

fix: scope deferred queue release queries
  functions/src/queue/pending-disconnect-release.ts
Due: lint-functions

fix: recover expired explicit disconnect fences
  functions/src/OAuth2.spec.ts
  functions/src/OAuth2.ts
  functions/src/service-auth-lifecycle.spec.ts
  functions/src/service-auth-lifecycle.ts
  functions/src/service-connection-meta.spec.ts
  functions/src/service-connection-meta.ts
  functions/src/service-disconnect-pending-state.spec.ts
  functions/src/service-disconnect-pending-state.ts
  functions/src/service-token-store.ts
  functions/src/token-refresh-coordinator.spec.ts
  functions/src/token-refresh-coordinator.ts
  functions/src/tokens.spec.ts
  functions/src/tokens.ts
  functions/src/wahoo/account.ts
Due: lint-functions

fix: fence refresh claims during disconnect
  functions/src/token-refresh-coordinator.spec.ts
  functions/src/token-refresh-coordinator.ts
  functions/src/tokens.spec.ts
  functions/src/tokens.ts
Due: lint-functions

test: use persisted OAuth credential in cleanup
  functions/src/OAuth2.spec.ts
Due: lint-functions

fix: serialize explicit disconnects
  functions/src/OAuth2.spec.ts
  functions/src/OAuth2.ts
Due: lint-functions

fix: fence refresh persistence and bound queue release
  functions/src/queue/pending-disconnect-release.spec.ts
  functions/src/queue/pending-disconnect-release.ts
  functions/src/token-refresh-coordinator.spec.ts
  functions/src/token-refresh-coordinator.ts
  functions/src/tokens.ts
Due: lint-functions

fix: harden Wahoo reconnect recovery
  functions/src/queue/pending-disconnect-release.spec.ts
  functions/src/queue/pending-disconnect-release.ts
  functions/src/service-connection-meta.spec.ts
  functions/src/service-connection-meta.ts
  functions/src/wahoo/account.spec.ts
  functions/src/wahoo/account.ts
  functions/src/wahoo/activities.spec.ts
  functions/src/wahoo/activities.ts
  functions/src/wahoo/history-to-queue.spec.ts
  functions/src/wahoo/history-to-queue.ts
  functions/src/wahoo/refresh-recovery.ts
  functions/src/wahoo/routes.spec.ts
  functions/src/wahoo/routes.ts
Due: lint-functions

fix: fence pending queue repairs per row
  functions/src/queue/pending-disconnect-release.spec.ts
  functions/src/queue/pending-disconnect-release.ts
Due: lint-functions

fix: preserve work across peer route recovery
  functions/src/queue/sync-route-eligibility-release.spec.ts
  functions/src/queue/sync-route-eligibility.ts
Due: lint-functions

fix: align supported activity support cards
  src/app/components/features/supported-activities-page.component.html
  src/app/components/features/supported-activities-page.component.scss
  src/app/components/features/supported-activities-page.component.spec.ts
  src/app/components/features/supported-activities-page.component.ts
  src/app/components/features/supported-activities-page.content.ts
Due: lint-angular

fix: retry disconnects after token refresh
  functions/src/OAuth2.spec.ts
  functions/src/OAuth2.ts
  functions/src/coros/auth/wrapper.spec.ts
  functions/src/coros/auth/wrapper.ts
  functions/src/garmin/auth/wrapper.spec.ts
  functions/src/garmin/auth/wrapper.ts
  functions/src/suunto/auth/wrapper.spec.ts
  functions/src/suunto/auth/wrapper.ts
  functions/src/wahoo/auth/wrapper.spec.ts
  functions/src/wahoo/auth/wrapper.ts
  shared/service-connection.ts
  src/app/services/app.user.service.spec.ts
  src/app/services/app.user.service.ts
Due: lint-functions, lint-angular

fix: tighten supported activity layout
  src/app/components/features/supported-activities-page.component.html
  src/app/components/features/supported-activities-page.component.scss
  src/app/components/features/supported-activities-page.component.spec.ts
Due: lint-angular

feat: narrow tracks activity filters
  src/app/components/activity-types-filter-menu/activity-types-filter-menu.component.spec.ts
  src/app/components/activity-types-filter-menu/activity-types-filter-menu.component.ts
  src/app/components/event-search/event-search.component.html
  src/app/components/event-search/event-search.component.ts
  src/app/components/tracks/tracks.component.html
  src/app/components/tracks/tracks.component.spec.ts
  src/app/components/tracks/tracks.component.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: make activity type chips static
  src/app/components/features/supported-activities-page.component.html
  src/app/components/features/supported-activities-page.component.scss
  src/app/components/features/supported-activities-page.component.spec.ts
Due: lint-angular

fix: retain legacy activity filters
  src/app/components/activity-types-filter-menu/activity-types-filter-menu.component.spec.ts
  src/app/components/activity-types-filter-menu/activity-types-filter-menu.component.ts
Due: lint-angular

chore: bump app version to 10.13.0
  package-lock.json
  package.json
Due: none

fix: repair mobile sleep chart interactions
  src/app/components/charts/sleep-trend/charts.sleep-trend.component.spec.ts
  src/app/components/charts/sleep-trend/charts.sleep-trend.component.ts
Due: lint-angular

fix: harden mobile sleep chart layout
  src/app/components/charts/sleep-trend/charts.sleep-trend.component.spec.ts
  src/app/components/charts/sleep-trend/charts.sleep-trend.component.ts
  src/app/helpers/dashboard-echarts-style.helper.spec.ts
  src/app/helpers/dashboard-echarts-style.helper.ts
Due: lint-angular

feat: expand mobile haptic feedback
  docs/training-workspace.md
  src/app/components/assistant/assistant-page.component.spec.ts
  src/app/components/assistant/assistant-page.component.ts
  src/app/components/calendar/activity-calendar-grid/activity-calendar-grid.component.spec.ts
  src/app/components/calendar/activity-calendar-grid/activity-calendar-grid.component.ts
  src/app/components/confirmation-dialog/confirmation-dialog.component.spec.ts
  src/app/components/confirmation-dialog/confirmation-dialog.component.ts
  src/app/components/delete-account-dialog/delete-account-dialog.component.spec.ts
  src/app/components/delete-account-dialog/delete-account-dialog.component.ts
  src/app/components/event-actions/event.actions.component.spec.ts
  src/app/components/event-actions/event.actions.component.ts
  src/app/components/event-table/event.table.component.spec.ts
  src/app/components/event-table/event.table.component.ts
  src/app/components/event-tags/event-tags-bulk-dialog.component.spec.ts
  src/app/components/event-tags/event-tags-bulk-dialog.component.ts
  src/app/components/event-tags/event-tags-dialog.component.spec.ts
  src/app/components/event-tags/event-tags-dialog.component.ts
  src/app/components/map/shared/map-layers-menu-panel.component.spec.ts
  src/app/components/map/shared/map-layers-menu-panel.component.ts
  src/app/components/routes/routes-page.component.spec.ts
  src/app/components/routes/routes-page.component.ts
  src/app/components/services/activity-sync-route-control/activity-sync-route-control.component.spec.ts
  src/app/components/services/activity-sync-route-control/activity-sync-route-control.component.ts
  src/app/components/services/route-delivery-sync-route-control/route-delivery-sync-route-control.component.spec.ts
  src/app/components/services/route-delivery-sync-route-control/route-delivery-sync-route-control.component.ts
  src/app/components/services/services-abstract-component.directive.ts
  src/app/components/tracks/tracks.component.spec.ts
  src/app/components/tracks/tracks.component.ts
  src/app/components/training/training-workspace.component.spec.ts
  src/app/components/training/training-workspace.component.ts
  src/app/components/upload/upload-abstract.directive.ts
  src/app/components/upload/upload-activities/upload-activities.component.spec.ts
  src/app/components/upload/upload-routes/upload-routes.component.spec.ts
  src/app/components/user-settings/user-settings.component.spec.ts
  src/app/components/user-settings/user-settings.component.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: reduce whats new modal content inset
  src/app/components/whats-new/whats-new-dialog.component.scss
  src/app/components/whats-new/whats-new-item.component.scss
Due: none

test: mock haptics in route upload spec
  src/app/components/upload/upload-routes-to-service/upload-routes-to-service.component.spec.ts
Due: lint-angular

fix: schedule pending COROS activity polls
  docs/coros-integration.md
  docs/provider-integration-guide.md
  functions/src/activity-sync/process-queue-item.spec.ts
  functions/src/activity-sync/process-queue-item.ts
  functions/src/queue-utils.ts
  functions/src/tasks/activity-sync-worker.spec.ts
  functions/src/tasks/activity-sync-worker.ts
Due: lint-functions

fix: guard pending COROS task polls
  functions/src/queue/user-deletion-skip.ts
  functions/src/tasks/activity-sync-worker.spec.ts
  functions/src/tasks/activity-sync-worker.ts
Due: lint-functions

test: tighten activity sync mock types
  functions/src/activity-sync/process-queue-item.spec.ts
Due: lint-functions

fix: preserve COROS poll backoff
  docs/coros-integration.md
  docs/provider-integration-guide.md
  functions/src/activity-sync/dispatcher.spec.ts
  functions/src/activity-sync/dispatcher.ts
  functions/src/activity-sync/process-queue-item.spec.ts
  functions/src/activity-sync/process-queue-item.ts
  functions/src/queue-utils.ts
  functions/src/shared/queue-config.ts
  functions/src/tasks/activity-sync-worker.spec.ts
  functions/src/tasks/activity-sync-worker.ts
Due: lint-functions

fix: recover pending COROS poll schedules
  docs/coros-integration.md
  docs/provider-integration-guide.md
  functions/src/tasks/activity-sync-worker.spec.ts
  functions/src/tasks/activity-sync-worker.ts
Due: lint-functions

fix: preserve due COROS poll schedules
  functions/src/tasks/activity-sync-worker.spec.ts
  functions/src/tasks/activity-sync-worker.ts
Due: lint-functions

fix: clarify training week markers
  docs/training-workspace.md
  src/app/components/training/training-durability-trajectory-chart.component.html
  src/app/components/training/training-durability-trajectory-chart.component.scss
  src/app/components/training/training-durability-trajectory-chart.component.spec.ts
  src/app/components/training/training-durability-trajectory-chart.component.ts
  src/app/components/training/training-swim-performance-chart.component.html
  src/app/components/training/training-swim-performance-chart.component.scss
  src/app/components/training/training-swim-performance-chart.component.spec.ts
  src/app/components/training/training-swim-performance-chart.component.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: condense empty durability lead-in
  docs/training-workspace.md
  src/app/components/training/training-durability-trajectory-chart.component.html
  src/app/components/training/training-durability-trajectory-chart.component.scss
  src/app/components/training/training-durability-trajectory-chart.component.spec.ts
  src/app/components/training/training-durability-trajectory-chart.component.ts
  src/app/components/training/training-swim-performance-chart.component.scss
  src/app/components/training/training-swim-performance-chart.component.spec.ts
  src/app/components/training/training-swim-performance-chart.component.ts
  src/app/helpers/dashboard-chart-data.helper.spec.ts
  src/app/helpers/dashboard-chart-data.helper.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: format supporting workout times locally
  docs/mcp-server.md
  docs/training-workspace.md
  functions/src/derived-metrics/derived-metrics.service.spec.ts
  functions/src/derived-metrics/derived-metrics.service.ts
  functions/src/derived-metrics/ensure-derived-metrics.spec.ts
  functions/src/derived-metrics/ensure-derived-metrics.ts
  functions/src/mcp/data.service.spec.ts
  functions/src/mcp/data.service.ts
  shared/derived-metrics.ts
  src/app/helpers/training-derived-metrics.helper.spec.ts
  src/app/helpers/training-derived-metrics.helper.ts
  src/app/helpers/training-durability-view.helper.spec.ts
  src/app/helpers/training-durability-view.helper.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

feat: add unified health data foundation
  README.md
  docs/provider-integration-guide.md
  docs/sleep-sync-operations.md
  docs/unified-health-data.md
  docs/user-deletion-workflow.html
  firestore.indexes.json
  firestore.rules
  functions/src/firestore-indexes.spec.ts
  functions/src/health/callable.spec.ts
  functions/src/health/callable.ts
  functions/src/health/lifecycle.spec.ts
  functions/src/health/query.spec.ts
  functions/src/health/query.ts
  functions/src/health/validation.spec.ts
  functions/src/health/validation.ts
  functions/src/health/writer.spec.ts
  functions/src/health/writer.ts
  functions/src/index.ts
  shared/functions-manifest.ts
  shared/health-firestore-query.ts
  shared/health-query.ts
  shared/health.ts
  src/app/services/app.health.service.spec.ts
  src/app/services/app.health.service.ts
  src/app/shared/health.shared.spec.ts
  src/firestore.rules.spec.ts
Due: lint-functions, lint-angular

Path conditions:
  lint-functions: any of: **/*.{ts,js} and ^functions/
  lint-angular: any of: {src/*.{ts,html},src/**/*.{ts,html}}
