Repository jimmykane/quantified-self: changes, and which lefthook commands are due for each by the changed paths.
All: lint-functions, lint-angular

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint-functions:
      root: "functions"
      glob: "**/*.{ts,js}"
      run: npx eslint {staged_files} --fix && git add {staged_files}
    lint-angular:
      glob: "{src/*.{ts,html},src/**/*.{ts,html}}"
      run: ESLINT_USE_FLAT_CONFIG=false npx eslint {staged_files} --fix && git add {staged_files}

chore: better loading
  src/app/components/ai-insights/ai-insights-page.component.html
  src/app/components/ai-insights/ai-insights-page.component.spec.ts
Due: lint-angular

fix: speed stuff
  functions/src/ai/insights/normalize-query.flow.spec.ts
  functions/src/ai/insights/normalize-query.flow.ts
Due: lint-functions

chore: backend types
  functions/src/ai/insights/callable.ts
  functions/src/ai/insights/flow.contract.ts
  functions/src/ai/insights/normalize-query.flow.ts
  functions/src/ai/insights/schemas.spec.ts
  functions/src/ai/insights/schemas.ts
  shared/ai-insights-response.contract.ts
Due: lint-functions

chore: ui
  src/app/components/ai-insights/ai-insights-page.component.html
  src/app/components/ai-insights/ai-insights-page.component.scss
  src/app/components/ai-insights/ai-insights-page.component.spec.ts
  src/app/components/ai-insights/ai-insights-page.component.ts
Due: lint-angular

chore: support weight
  functions/src/ai/insights/metric-catalog.spec.ts
  functions/src/ai/insights/metric-catalog.ts
  functions/src/ai/insights/normalize-query.flow.spec.ts
  shared/ai-insights-prompts.ts
  src/app/components/ai-insights/ai-insights.prompts.spec.ts
Due: lint-functions, lint-angular

chore: ui
  src/app/components/ai-insights/ai-insights-page.component.ts
Due: lint-angular

chore: bump sl
  functions/package-lock.json
  functions/package.json
  package-lock.json
  package.json
Due: none

chore: UI mainly
  functions/src/ai/insights/insight-presentation.ts
  shared/ai-insights-prompts.ts
  src/app/components/ai-insights/ai-insights-page.component.html
  src/app/components/ai-insights/ai-insights-page.component.spec.ts
  src/app/components/ai-insights/ai-insights-page.component.ts
  src/app/components/ai-insights/ai-insights.prompts.spec.ts
Due: lint-functions, lint-angular

chore: UI
  Screen Recording 2026-03-22 at 18.26.53.gif
  Screen Recording 2026-03-22 at 18.26.53.mov
  shared/activity-type-group.metadata.ts
  shared/ai-insights-prompts.ts
  src/app/components/ai-insights/ai-insights-page.component.html
  src/app/components/ai-insights/ai-insights-page.component.scss
  src/app/components/ai-insights/ai-insights-page.component.spec.ts
  src/app/components/ai-insights/ai-insights-page.component.ts
  src/app/components/ai-insights/ai-insights.prompts.spec.ts
  src/app/components/sidenav/sidenav.component.html
  src/app/components/sidenav/sidenav.component.spec.ts
  src/app/components/sidenav/sidenav.component.ts
  src/app/helpers/activity-type-group.metadata.helper.spec.ts
Due: lint-angular

chore: ui
  src/app/components/ai-insights/ai-insights-page.component.html
  src/app/components/ai-insights/ai-insights-page.component.scss
  src/app/components/ai-insights/ai-insights-page.component.spec.ts
  src/app/components/ai-insights/ai-insights-page.component.ts
  src/app/components/ai-insights/ai-insights-prompt-picker-dialog.component.html
  src/app/components/ai-insights/ai-insights-prompt-picker-dialog.component.scss
  src/app/components/ai-insights/ai-insights-prompt-picker-dialog.component.spec.ts
  src/app/components/ai-insights/ai-insights-prompt-picker-dialog.component.ts
Due: lint-angular

chore: help
  src/app/app.routing.module.spec.ts
  src/app/app.routing.module.ts
  src/app/components/help/help-page.component.html
  src/app/components/help/help-page.component.spec.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

chore: remove assets
  Screen Recording 2026-03-22 at 18.26.53.gif
  Screen Recording 2026-03-22 at 18.26.53.mov
Due: none

chore: improve prompt
  functions/src/ai/insights/normalize-query.flow.spec.ts
  functions/src/ai/insights/normalize-query.flow.ts
Due: lint-functions

chore: show ai usage for admin
  functions/src/users/admin.spec.ts
  functions/src/users/admin.ts
  src/app/components/admin/admin-user-management/admin-user-management.component.html
  src/app/components/admin/admin-user-management/admin-user-management.component.spec.ts
  src/app/components/admin/admin-user-management/admin-user-management.component.ts
  src/app/services/admin.service.ts
Due: lint-functions, lint-angular

chore: improve home
  src/app/app.routing.module.spec.ts
  src/app/app.routing.module.ts
  src/app/components/home/home.component.html
  src/app/components/home/home.component.scss
  src/app/components/home/home.component.spec.ts
  src/app/components/home/home.component.ts
  src/app/components/shared/typed-prompt-rotator/typed-prompt-rotator.component.html
  src/app/components/shared/typed-prompt-rotator/typed-prompt-rotator.component.scss
  src/app/components/shared/typed-prompt-rotator/typed-prompt-rotator.component.spec.ts
  src/app/components/shared/typed-prompt-rotator/typed-prompt-rotator.component.ts
  src/app/modules/shared.module.ts
Due: lint-angular

chore: home
  src/app/components/home/home.component.html
  src/app/components/home/home.component.ts
Due: lint-angular

chore: imrpove ai top results
  functions/src/ai/insights/callable.result-kind-handlers.ts
  functions/src/ai/insights/execute-query.result-kind-handlers.ts
  functions/src/ai/insights/execute-query.spec.ts
  functions/src/ai/insights/execute-query.ts
  functions/src/ai/insights/normalize-query.flow.spec.ts
  functions/src/ai/insights/normalize-query.flow.ts
  functions/src/ai/insights/normalize-query.result-kind-query-builders.ts
  functions/src/ai/insights/summarize-result.flow.ts
  shared/ai-insights-ranking.constants.ts
  shared/ai-insights-response.contract.ts
  shared/ai-insights.types.ts
  src/app/components/ai-insights/ai-insights-page.component.spec.ts
  src/app/components/ai-insights/ai-insights-page.helpers.ts
  src/app/services/ai-insights-response.contract.shared.spec.ts
Due: lint-functions, lint-angular

fix: pr feedback
  functions/src/ai/insights/normalize-query.flow.spec.ts
  functions/src/ai/insights/normalize-query.flow.ts
  functions/src/users/admin.spec.ts
  functions/src/users/admin.ts
Due: lint-functions

fix: list activities when asked to
  functions/src/ai/insights/normalize-query.flow.spec.ts
  functions/src/ai/insights/normalize-query.flow.ts
Due: lint-functions

chore: update for ai
  functions/templates/development_update.hbs
Due: none

chore: improve ai pages
  functions/templates/development_update.hbs
  shared/ai-insights-prompts.ts
  src/app/components/ai-insights/ai-insights-page.component.html
  src/app/components/ai-insights/ai-insights-page.component.scss
  src/app/components/ai-insights/ai-insights-page.component.spec.ts
  src/app/components/ai-insights/ai-insights-page.component.ts
  src/app/components/ai-insights/ai-insights-prompt-picker-dialog.component.html
  src/app/components/ai-insights/ai-insights-prompt-picker-dialog.component.scss
  src/app/components/ai-insights/ai-insights.prompts.spec.ts
  src/app/components/home/home.component.html
  src/app/components/home/home.component.scss
  src/app/components/home/home.component.spec.ts
  src/app/components/home/home.component.ts
Due: lint-angular

chore: fixes
  functions/src/ai/insights/normalize-query.flow.spec.ts
  functions/src/ai/insights/normalize-query.flow.ts
  src/app/services/app.event.service.spec.ts
  src/app/services/app.event.service.ts
Due: lint-functions, lint-angular

chore: protect admin
  functions/src/users/admin.spec.ts
  functions/src/users/admin.ts
Due: lint-functions

chore: fix tests
  functions/src/ai/insights/insight-presentation.spec.ts
  functions/src/ai/insights/metric-catalog.spec.ts
Due: lint-functions

chore: improve contact us
  src/app/components/ai-insights/ai-insights-page.component.html
  src/app/components/ai-insights/ai-insights-page.component.scss
  src/app/components/ai-insights/ai-insights-page.component.spec.ts
  src/app/components/ai-insights/ai-insights-page.component.ts
Due: lint-angular

chore: input repair
  functions/src/ai/insights/metric-catalog.spec.ts
  functions/src/ai/insights/metric-catalog.ts
  functions/src/ai/insights/normalize-query.flow.spec.ts
Due: lint-functions

chore: improvements
  functions/src/ai/insights/normalize-query.flow.spec.ts
  functions/src/ai/insights/normalize-query.flow.ts
  src/app/components/ai-insights/ai-insights-page.component.html
Due: lint-functions, lint-angular

chore: email update
  functions/templates/development_update.hbs
Due: none

chore: remove excl
  functions/templates/development_update.hbs
Due: none

chore: scroll
  src/app/components/ai-insights/ai-insights-page.component.spec.ts
  src/app/components/ai-insights/ai-insights-page.component.ts
Due: lint-angular

chore: increase limit
  src/app/components/event-table/event.table.component.html
  src/app/components/event-table/event.table.component.spec.ts
  src/app/components/event-table/event.table.component.ts
Due: lint-angular

chore: use emus
  README.md
  angular.json
  package.json
  src/app/services/app.functions.service.spec.ts
  src/app/services/app.functions.service.ts
  src/app/shared/help.content.ts
  src/environments/environment.local.prod-functions.ts
  src/environments/environment.prod.ts
  src/environments/environment.ts
Due: lint-angular

chore: improve payment success
  src/app/components/payment-success/payment-success.component.html
  src/app/components/payment-success/payment-success.component.scss
  src/app/components/payment-success/payment-success.component.spec.ts
  src/app/components/payment-success/payment-success.component.ts
Due: lint-angular

chore: improve payment states
  src/app/components/pricing/pricing.component.html
  src/app/components/pricing/pricing.component.spec.ts
  src/app/components/pricing/pricing.component.ts
  src/app/services/app.payment.service.spec.ts
  src/app/services/app.payment.service.ts
Due: lint-angular

chore: improve pricing
  functions/src/index.ts
  functions/src/stripe/get-upcoming-renewal-amount.spec.ts
  functions/src/stripe/get-upcoming-renewal-amount.ts
  shared/functions-manifest.ts
  shared/stripe-renewal.ts
  src/app/components/pricing/pricing.component.html
  src/app/components/pricing/pricing.component.scss
  src/app/components/pricing/pricing.component.spec.ts
  src/app/components/pricing/pricing.component.ts
  src/app/services/app.payment.service.spec.ts
  src/app/services/app.payment.service.ts
Due: lint-functions, lint-angular

fix: for mapbox if missing layer
  src/app/services/map/mapbox-start-point-layer.service.spec.ts
  src/app/services/map/mapbox-start-point-layer.service.ts
Due: lint-angular

chore: bump version
  package.json
Due: none

chore: do not leak discount
  src/app/services/app.payment.service.spec.ts
  src/app/services/app.payment.service.ts
Due: lint-angular

chore: show no cc needed
  src/app/components/pricing/pricing.component.html
  src/app/components/pricing/pricing.component.scss
  src/app/components/pricing/pricing.component.spec.ts
Due: lint-angular
