Repository jimmykane/quantified-self: changes, and which lefthook commands are due for each by the changed paths.
All: lint-functions, lint-angular

lint-functions:
  run: npx eslint {staged_files} --fix && git add {staged_files}

lint-angular:
  run: ESLINT_USE_FLAT_CONFIG=false npx eslint {staged_files} --fix && git add {staged_files}

chore: fix xaxes to cannonical
  src/app/components/event/chart/panel/event.card.chart.panel.component.spec.ts
  src/app/components/event/chart/panel/event.card.chart.panel.component.ts
  src/app/helpers/event-echarts-xaxis.helper.spec.ts
  src/app/helpers/event-echarts-xaxis.helper.ts
Due: lint-angular

chore: more pace fixes
  src/app/helpers/event-chart-order.helper.ts
  src/app/helpers/event-echarts-style.helper.spec.ts
  src/app/helpers/event-echarts-style.helper.ts
  src/app/helpers/event-echarts-yaxis.helper.spec.ts
  src/app/helpers/event-echarts-yaxis.helper.ts
  src/app/helpers/pace-axis.helper.spec.ts
  src/app/helpers/pace-axis.helper.ts
Due: lint-angular

chore: improve pace charts
  src/app/helpers/pace-axis.helper.spec.ts
  src/app/helpers/pace-axis.helper.ts
Due: lint-angular

chore: remove all points
  src/app/components/user-settings/user-settings.component.html
  src/app/components/user-settings/user-settings.component.spec.ts
  src/app/components/user-settings/user-settings.component.ts
  src/app/utils/app.user.utilities.spec.ts
  src/app/utils/app.user.utilities.ts
Due: lint-angular

chore: maps styles
  src/app/components/events-map/events-map.component.spec.ts
  src/app/components/events-map/events-map.component.ts
Due: lint-angular

fix: tooltip for pyramids
  src/app/components/charts/columns/charts.columns.component.spec.ts
  src/app/components/charts/columns/charts.columns.component.ts
Due: lint-angular

chore: do not show device name on tooltip
  src/app/components/event/chart/event.card.chart.component.html
  src/app/components/event/chart/event.card.chart.component.spec.ts
  src/app/components/event/chart/event.card.chart.component.ts
  src/app/components/event/chart/panel/event.card.chart.panel.component.spec.ts
  src/app/components/event/chart/panel/event.card.chart.panel.component.ts
Due: lint-angular

chore: improve series selection for mobile
  src/app/components/event/chart/actions/event.card.chart.actions.component.html
  src/app/components/event/chart/actions/event.card.chart.actions.component.scss
  src/app/components/event/chart/actions/event.card.chart.actions.component.spec.ts
  src/app/components/event/chart/actions/event.card.chart.actions.component.ts
  src/app/components/event/chart/event.card.chart.component.html
  src/app/components/event/chart/event.card.chart.component.spec.ts
  src/app/components/event/chart/event.card.chart.component.ts
Due: lint-angular

chore: improve zoombar
  src/app/components/event/chart/event.card.chart.component.html
  src/app/components/event/chart/event.card.chart.component.scss
  src/app/components/event/chart/event.card.chart.component.ts
  src/app/components/event/chart/panel/event.card.chart.panel.component.scss
  src/app/components/event/chart/panel/event.card.chart.panel.component.spec.ts
  src/app/components/event/chart/panel/event.card.chart.panel.component.ts
  src/app/helpers/event-echarts-data.helper.spec.ts
  src/app/helpers/event-echarts-data.helper.ts
Due: lint-angular

chore: better scrollbar
  src/app/components/event/chart/event.card.chart.component.html
  src/app/components/event/chart/event.card.chart.component.scss
  src/app/components/event/chart/event.card.chart.component.ts
  src/app/components/event/chart/panel/event.card.chart.panel.component.scss
  src/app/components/event/chart/panel/event.card.chart.panel.component.spec.ts
  src/app/components/event/chart/panel/event.card.chart.panel.component.ts
  src/app/helpers/event-echarts-data.helper.spec.ts
  src/app/helpers/event-echarts-data.helper.ts
Due: lint-angular

chore: no cluie
  src/app/components/event/chart/event.card.chart.component.html
  src/app/components/event/chart/event.card.chart.component.scss
  src/app/components/event/chart/event.card.chart.component.ts
  src/app/components/event/chart/panel/event.card.chart.panel.component.scss
  src/app/components/event/chart/panel/event.card.chart.panel.component.spec.ts
  src/app/components/event/chart/panel/event.card.chart.panel.component.ts
  src/app/helpers/event-echarts-data.helper.spec.ts
  src/app/helpers/event-echarts-data.helper.ts
Due: lint-angular

chore: lap fixes
  src/app/components/event/laps/event.card.laps.component.spec.ts
  src/app/components/event/laps/event.card.laps.component.ts
Due: lint-angular

chore: fix test
  functions/src/events/upload-activity.spec.ts
Due: lint-functions

chore: fix tests and chart changes
  src/app/components/event/chart/event.card.chart.component.html
  src/app/components/event/chart/event.card.chart.component.scss
  src/app/components/event/chart/event.card.chart.component.spec.ts
  src/app/components/event/chart/event.card.chart.component.ts
  src/app/components/event/chart/panel/event.card.chart.panel.component.spec.ts
  src/app/components/event/chart/panel/event.card.chart.panel.component.ts
  src/app/components/event/event.card.component.html
  src/app/components/event/event.card.component.spec.ts
  src/app/components/event/event.card.component.ts
  src/app/components/event/map/event-card-map.manager.spec.ts
  src/app/components/event/map/event-card-map.manager.ts
  src/app/components/event/map/event.card.map.component.spec.ts
  src/app/components/event/map/event.card.map.component.ts
  src/app/helpers/event-echarts-data.helper.ts
  src/app/services/map/map-event-popup-content.service.spec.ts
Due: lint-angular

chore: ui refinements
  src/app/components/event/chart/actions/event.card.chart.actions.component.html
  src/app/components/event/chart/actions/event.card.chart.actions.component.scss
  src/app/components/event/chart/actions/event.card.chart.actions.component.ts
  src/app/components/event/chart/panel/event.card.chart.panel.component.scss
Due: lint-angular

chore: lap fixes
  src/app/components/event/chart/panel/event.card.chart.panel.component.spec.ts
  src/app/components/event/chart/panel/event.card.chart.panel.component.ts
Due: lint-angular

refactor: same filter
  src/app/components/event/chart/panel/event.card.chart.panel.component.ts
  src/app/components/event/laps/event.card.laps.component.spec.ts
  src/app/components/event/laps/event.card.laps.component.ts
  src/app/components/event/map/event.card.map.component.spec.ts
  src/app/components/event/map/event.card.map.component.ts
  src/app/helpers/event-echarts-data.helper.ts
  src/app/helpers/event-lap-type.helper.ts
Due: lint-angular

chore: bump sl
  functions/package-lock.json
  functions/package.json
  package-lock.json
  package.json
Due: none

chore: laps refactor
  src/app/components/event/chart/panel/event.card.chart.panel.component.spec.ts
  src/app/components/event/chart/panel/event.card.chart.panel.component.ts
  src/app/components/event/event.card.component.spec.ts
  src/app/components/event/event.card.component.ts
  src/app/components/event/laps/event.card.laps.component.html
  src/app/components/event/laps/event.card.laps.component.spec.ts
  src/app/components/event/laps/event.card.laps.component.ts
  src/app/components/event/map/event.card.map.component.spec.ts
  src/app/components/event/map/event.card.map.component.ts
  src/app/helpers/event-echarts-data.helper.spec.ts
  src/app/helpers/event-echarts-data.helper.ts
  src/app/helpers/event-lap-type.helper.ts
Due: lint-angular

chore: trying to fix charts
  src/app/components/event/chart/actions/event.card.chart.actions.component.html
  src/app/components/event/chart/actions/event.card.chart.actions.component.scss
  src/app/components/event/chart/actions/event.card.chart.actions.component.spec.ts
  src/app/components/event/chart/actions/event.card.chart.actions.component.ts
  src/app/components/event/chart/event.card.chart.component.html
  src/app/components/event/chart/event.card.chart.component.spec.ts
  src/app/components/event/chart/event.card.chart.component.ts
  src/app/components/event/chart/panel/event.card.chart.panel.component.html
  src/app/components/event/chart/panel/event.card.chart.panel.component.scss
  src/app/components/event/chart/panel/event.card.chart.panel.component.spec.ts
  src/app/components/event/chart/panel/event.card.chart.panel.component.ts
  src/app/components/map/map-layers-actions/map-layers-actions.component.css
  src/app/components/map/map-layers-actions/map-layers-actions.component.html
  src/app/components/map/map-layers-actions/map-layers-actions.component.spec.ts
  src/app/components/shared/menu-radio-list/menu-radio-list.component.html
  src/app/components/shared/menu-radio-list/menu-radio-list.component.scss
  src/app/components/shared/menu-radio-list/menu-radio-list.component.spec.ts
  src/app/components/shared/menu-radio-list/menu-radio-list.component.ts
  src/app/modules/shared.module.ts
  src/styles.scss
Due: lint-angular

chore: possibly fix the zoom for charts
  src/app/components/event/chart/event.card.chart.component.html
  src/app/components/event/chart/event.card.chart.component.spec.ts
  src/app/components/event/chart/event.card.chart.component.ts
  src/app/components/event/chart/panel/event.card.chart.panel.component.spec.ts
  src/app/components/event/chart/panel/event.card.chart.panel.component.ts
Due: lint-angular

chore: visual fixes
  src/app/components/event/chart/actions/event.card.chart.actions.component.html
  src/app/components/event/chart/actions/event.card.chart.actions.component.scss
  src/app/components/event/chart/event.card.chart.component.html
  src/app/components/event/chart/panel/event.card.chart.panel.component.html
  src/app/components/event/chart/panel/event.card.chart.panel.component.spec.ts
  src/app/components/event/chart/panel/event.card.chart.panel.component.ts
  src/app/components/event/section-header/event.section-header.component.scss
  src/app/helpers/event-echarts-range-stats.helper.spec.ts
  src/app/helpers/event-echarts-range-stats.helper.ts
Due: lint-angular

chore: improve buttons
  src/app/components/event/chart/actions/event.card.chart.actions.component.scss
  src/app/components/map/map-layers-actions/map-layers-actions.component.css
Due: none

chore: fix tests
  src/app/components/history-import-form/history-import.form.component.spec.ts
Due: lint-angular

chore: improve upload activity
  functions/src/events/upload-activity.spec.ts
  functions/src/events/upload-activity.ts
Due: lint-functions

chore: add tests
  functions/src/events/upload-activity.spec.ts
  functions/src/shared/event-writer.spec.ts
Due: lint-functions

chore: improve and check for expired tokens
  functions/src/events/upload-activity.spec.ts
  functions/src/events/upload-activity.ts
Due: lint-functions

chore: add watermark
  src/app/components/event/chart/event.card.chart.component.html
  src/app/components/event/chart/event.card.chart.component.spec.ts
  src/app/components/event/chart/event.card.chart.component.ts
  src/app/components/event/chart/panel/event.card.chart.panel.component.spec.ts
  src/app/components/event/chart/panel/event.card.chart.panel.component.ts
Due: lint-angular

chore: allow biggest branded text
  src/app/components/user-settings/user-settings.component.spec.ts
  src/app/components/user-settings/user-settings.component.ts
Due: lint-angular

chore: fix reparse
  functions/src/schedule/sports-lib-reparse.spec.ts
  functions/src/schedule/sports-lib-reparse.ts
Due: lint-functions

chore: improved handling of charts
  src/app/helpers/echarts-host-controller.spec.ts
  src/app/helpers/echarts-host-controller.ts
Due: lint-angular

chore: styles
  src/app/components/event/chart/actions/event.card.chart.actions.component.html
  src/app/components/event/chart/actions/event.card.chart.actions.component.scss
  src/app/components/event/chart/actions/event.card.chart.actions.component.spec.ts
  src/app/components/event/chart/actions/event.card.chart.actions.component.ts
  src/app/components/event/chart/panel/event.card.chart.panel.component.spec.ts
  src/app/components/event/chart/panel/event.card.chart.panel.component.ts
  src/app/components/map/map-layers-actions/map-layers-actions.component.css
  src/app/components/map/map-layers-actions/map-layers-actions.component.html
  src/app/helpers/event-echarts-yaxis.helper.spec.ts
  src/app/helpers/event-echarts-yaxis.helper.ts
  src/styles.scss
Due: lint-angular

fix: pace
  src/app/helpers/pace-axis.helper.spec.ts
  src/app/helpers/pace-axis.helper.ts
Due: lint-angular

chore: improve charts
  src/app/components/event/chart/panel/event.card.chart.panel.component.ts
  src/app/helpers/event-echarts-data.helper.spec.ts
  src/app/helpers/event-echarts-data.helper.ts
  src/app/helpers/event-echarts-yaxis.helper.spec.ts
  src/app/helpers/event-echarts-yaxis.helper.ts
Due: lint-angular

chore: performance improvements
  src/app/app.component.spec.ts
  src/app/app.component.ts
  src/app/components/dashboard/dashboard.component.ts
  src/app/components/event-summary/service-source-icon/service-source-icon.component.spec.ts
  src/app/components/event-summary/service-source-icon/service-source-icon.component.ts
  src/app/components/event-table/event.table.component.spec.ts
  src/app/components/event-table/event.table.component.ts
  src/app/components/event/chart/event.card.chart.component.ts
  src/app/components/onboarding/onboarding.component.ts
  src/app/components/shared/material-pill-tabs/material-pill-tabs.component.ts
  src/app/services/seo.service.spec.ts
  src/app/services/seo.service.ts
Due: lint-angular

refactor: use catch
  functions/src/schedule/sports-lib-reparse.ts
  src/app/components/dashboard/dashboard.component.ts
  src/app/components/event/chart/event.card.chart.component.ts
  src/app/components/event/stats-grid/event.card.stats-grid.component.ts
  src/app/components/events-export-form/events-export.form.component.spec.ts
  src/app/components/events-export-form/events-export.form.component.ts
  src/app/components/pricing/pricing.component.ts
  src/app/components/services/services.component.ts
  src/app/components/sidenav/sidenav.component.ts
  src/app/components/user-settings/user-settings.component.ts
  src/app/components/user/user.component.spec.ts
  src/app/components/user/user.component.ts
  src/app/services/app.benchmark-flow.service.ts
  src/app/services/app.update.service.ts
  src/app/services/app.user.service.ts
Due: lint-functions, lint-angular

chore: remove stupid null asserts
  src/app/components/benchmark/benchmark-bottom-sheet.component.ts
  src/app/components/benchmark/benchmark-report.component.ts
  src/app/components/charts/columns/charts.columns.component.ts
  src/app/components/event-summary/event-details-summary-bottom-sheet/event-details-summary-bottom-sheet.component.ts
  src/app/components/event-summary/event-summary.component.ts
  src/app/components/event-summary/service-source-icon/service-source-icon.component.ts
  src/app/components/event-table/event.table.component.ts
  src/app/components/event/event.card.component.html
  src/app/components/history-import-form/history-import.form.component.html
  src/app/components/user/user.component.ts
  src/app/resolvers/dashboard.resolver.ts
  src/app/services/app.benchmark-flow.service.ts
  src/app/services/app.user.service.ts
  src/app/services/color/app.event.color.service.ts
  src/app/services/my-tracks-trip-detection.service.ts
Due: lint-angular

chore: remove anys
  functions/src/events/upload-activity.spec.ts
  src/app/components/charts/pie/charts.pie.component.ts
  src/app/components/event/chart/panel/event.card.chart.panel.component.ts
  src/app/helpers/dashboard-date-activity-segmentation.helper.ts
  src/app/helpers/dashboard-echarts-cartesian.helper.ts
  src/app/helpers/dashboard-pie-chart-data.helper.ts
Due: lint-functions, lint-angular

chore: use user id
  functions/src/events/upload-activity.spec.ts
  functions/src/events/upload-activity.ts
Due: lint-functions

chore: improve reparsing
  functions/src/schedule/sports-lib-reparse.spec.ts
  functions/src/schedule/sports-lib-reparse.ts
Due: lint-functions

Path conditions:
  lint-functions: any of: **/*.{ts,js} and ^functions/
  lint-angular: any of: {src/*.{ts,html},src/**/*.{ts,html}}
