Repository jimmykane/quantified-self: changes, and which lefthook commands are due for each by the changed paths.
All: lint-functions, lint-angular

lint-functions:
  run: npx eslint {staged_files} --fix && git add {staged_files}

lint-angular:
  run: ESLINT_USE_FLAT_CONFIG=false npx eslint {staged_files} --fix && git add {staged_files}

fix: stabilize dashboard route maps
  src/app/components/routes/dashboard-route-preview-map/dashboard-route-preview-map.component.spec.ts
  src/app/components/routes/dashboard-route-preview-map/dashboard-route-preview-map.component.ts
  src/app/components/summaries/dashboard-manager-dialog/dashboard-manager-dialog.component.html
  src/app/components/summaries/dashboard-manager-dialog/dashboard-manager-dialog.component.spec.ts
  src/app/components/summaries/dashboard-manager-dialog/dashboard-manager-dialog.component.ts
  src/app/components/summaries/summaries.component.html
  src/app/components/summaries/summaries.component.ts
  src/app/components/tile/map/tile.map.component.html
  src/app/components/tile/map/tile.map.component.spec.ts
  src/app/components/tile/map/tile.map.component.ts
  src/app/helpers/dashboard-auto-tile.helper.ts
  src/app/helpers/dashboard-manager-presets.helper.spec.ts
  src/app/helpers/dashboard-manager-presets.helper.ts
  src/app/models/app-user.interface.ts
  src/app/services/app.route.service.spec.ts
  src/app/services/app.route.service.ts
  src/app/services/dashboard-auto-tile.service.spec.ts
  src/app/utils/app.user.utilities.spec.ts
  src/app/utils/app.user.utilities.ts
Due: lint-angular

fix: keep route previews fresh
  firestore.indexes.json
  firestore.rules
  functions/src/firestore-indexes.spec.ts
  functions/src/routes/route-persistence.spec.ts
  functions/src/routes/route-persistence.ts
  functions/src/shared/route-preview-ready.ts
  functions/src/shared/route-writer.spec.ts
  functions/src/shared/route-writer.ts
  shared/app-route.interface.ts
  src/app/services/app.route.service.spec.ts
  src/app/services/app.route.service.ts
  src/firestore.rules.spec.ts
Due: lint-functions, lint-angular

fix: stabilize dashboard route map
  src/app/components/routes/dashboard-route-preview-map/dashboard-route-preview-map.component.spec.ts
  src/app/components/routes/dashboard-route-preview-map/dashboard-route-preview-map.component.ts
  src/app/utils/app.user.utilities.spec.ts
  src/app/utils/app.user.utilities.ts
Due: lint-angular

fix: streamline workout queue idempotency
  functions/src/queue.spec.ts
  functions/src/queue.ts
Due: lint-functions

feat: add route table previews
  src/app/components/routes/route-preview-thumbnail/route-preview-thumbnail.component.html
  src/app/components/routes/route-preview-thumbnail/route-preview-thumbnail.component.scss
  src/app/components/routes/route-preview-thumbnail/route-preview-thumbnail.component.spec.ts
  src/app/components/routes/route-preview-thumbnail/route-preview-thumbnail.component.ts
  src/app/components/routes/routes-page.component.html
  src/app/components/routes/routes-page.component.scss
  src/app/components/routes/routes-page.component.spec.ts
  src/app/components/routes/routes-page.component.ts
  src/app/helpers/route-preview-map.helper.spec.ts
  src/app/helpers/route-preview-map.helper.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

feat: add dashboard route map popups
  src/app/components/routes/dashboard-route-preview-map/dashboard-route-preview-map.component.css
  src/app/components/routes/dashboard-route-preview-map/dashboard-route-preview-map.component.html
  src/app/components/routes/dashboard-route-preview-map/dashboard-route-preview-map.component.spec.ts
  src/app/components/routes/dashboard-route-preview-map/dashboard-route-preview-map.component.ts
  src/app/components/tile/map/tile.map.component.css
  src/app/components/tile/map/tile.map.component.html
  src/app/helpers/route-preview-map.helper.spec.ts
  src/app/helpers/route-preview-map.helper.ts
  src/app/services/app.analytics.service.ts
  src/app/services/map/track-map.manager.spec.ts
  src/app/services/map/track-map.manager.ts
Due: lint-angular

test: update dashboard map track keys
  src/app/components/summaries/summaries.component.spec.ts
Due: lint-angular

fix: compact dashboard intent sections
  src/app/components/summaries/summaries.component.html
  src/app/components/summaries/summaries.component.spec.ts
  src/app/components/summaries/summaries.component.ts
  src/app/helpers/dashboard-tile-section.helper.spec.ts
  src/app/helpers/dashboard-tile-section.helper.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

feat: tune dashboard tile defaults
  src/app/components/summaries/dashboard-manager-dialog/dashboard-manager-dialog.component.spec.ts
  src/app/components/summaries/dashboard-manager-dialog/dashboard-manager-dialog.component.ts
  src/app/components/summaries/summaries.component.css
  src/app/components/summaries/summaries.component.html
  src/app/components/summaries/summaries.component.spec.ts
  src/app/helpers/dashboard-auto-tile.helper.ts
  src/app/helpers/dashboard-power-curve-scope.helper.spec.ts
  src/app/helpers/dashboard-power-curve-scope.helper.ts
  src/app/helpers/dashboard-tile-default-size.helper.spec.ts
  src/app/helpers/dashboard-tile-default-size.helper.ts
  src/app/services/dashboard-auto-tile.service.spec.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/app/utils/app.user.utilities.spec.ts
  src/app/utils/app.user.utilities.ts
Due: lint-angular

chore: dashboard improvements
  src/app/components/summaries/dashboard-manager-dialog/dashboard-manager-dialog.component.spec.ts
  src/app/helpers/dashboard-special-chart-types.spec.ts
  src/app/helpers/dashboard-special-chart-types.ts
  src/app/services/dashboard-auto-tile.service.spec.ts
  src/app/services/dashboard-auto-tile.service.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/app/utils/app.user.utilities.spec.ts
  src/app/utils/app.user.utilities.ts
Due: lint-angular

fix: optimize garmin callback queueing
  functions/src/garmin/queue.spec.ts
  functions/src/garmin/queue.ts
  functions/src/queue.spec.ts
  functions/src/queue.ts
Due: lint-functions

fix: refresh route preview metadata
  src/app/components/routes/dashboard-route-preview-map/dashboard-route-preview-map.component.spec.ts
  src/app/services/app.route.service.spec.ts
  src/app/services/app.route.service.ts
Due: lint-angular

fix: preserve route map tile sizing
  src/app/utils/app.user.utilities.spec.ts
  src/app/utils/app.user.utilities.ts
Due: lint-angular

chore: improve dashboard
  src/app/components/summaries/dashboard-manager-dialog/dashboard-manager-dialog.component.spec.ts
  src/app/components/summaries/summaries.component.spec.ts
  src/app/components/summaries/summaries.component.ts
  src/app/helpers/dashboard-grid-layout.helper.spec.ts
  src/app/helpers/dashboard-grid-layout.helper.ts
  src/app/helpers/dashboard-manager-presets.helper.spec.ts
  src/app/utils/app.user.utilities.spec.ts
  src/app/utils/app.user.utilities.ts
Due: lint-angular

feat: add power curve comparison modes
  src/app/components/charts/power-curve/charts.power-curve.component.spec.ts
  src/app/components/charts/power-curve/charts.power-curve.component.ts
  src/app/components/summaries/dashboard-manager-dialog/dashboard-manager-dialog.component.ts
  src/app/components/summaries/summaries.component.html
  src/app/components/summaries/summaries.component.spec.ts
  src/app/components/summaries/summaries.component.ts
  src/app/components/tile/chart/tile.chart.component.html
  src/app/components/tile/chart/tile.chart.component.spec.ts
  src/app/components/tile/chart/tile.chart.component.ts
  src/app/helpers/dashboard-chart-display-settings.helper.spec.ts
  src/app/helpers/dashboard-chart-display-settings.helper.ts
  src/app/helpers/dashboard-chart-info.helper.spec.ts
  src/app/helpers/dashboard-chart-info.helper.ts
  src/app/helpers/dashboard-manager-presets.helper.ts
  src/app/helpers/dashboard-power-curve-scope.helper.spec.ts
  src/app/helpers/dashboard-power-curve-scope.helper.ts
  src/app/helpers/dashboard-power-curve.helper.spec.ts
  src/app/helpers/dashboard-power-curve.helper.ts
  src/app/helpers/dashboard-tile-view-model.helper.spec.ts
  src/app/helpers/dashboard-tile-view-model.helper.ts
  src/app/models/app-user.interface.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: prevent mobile power curve control overlap
  src/app/components/charts/power-curve/charts.power-curve.component.css
  src/app/components/tile/chart/tile.chart.component.html
  src/app/components/tile/chart/tile.chart.component.spec.ts
  src/app/components/tile/chart/tile.chart.component.ts
  src/app/components/tile/tile.abstract.css
Due: lint-angular

fix: improve mobile power curve tile header
  src/app/components/charts/power-curve/charts.power-curve.component.css
  src/app/components/charts/power-curve/charts.power-curve.component.html
  src/app/components/charts/power-curve/charts.power-curve.component.spec.ts
  src/app/components/charts/power-curve/charts.power-curve.component.ts
  src/app/components/tile/chart/tile.chart.component.spec.ts
  src/app/components/tile/tile.abstract.css
Due: lint-angular

feat: add mobile dashboard chart scrub handles
  src/app/components/charts/columns/charts.columns.component.spec.ts
  src/app/components/charts/columns/charts.columns.component.ts
  src/app/components/charts/intensity-distribution/charts.intensity-distribution.component.spec.ts
  src/app/components/charts/intensity-distribution/charts.intensity-distribution.component.ts
  src/app/components/charts/power-curve/charts.power-curve.component.spec.ts
  src/app/components/charts/power-curve/charts.power-curve.component.ts
  src/app/components/charts/xy/charts.xy.component.spec.ts
  src/app/components/charts/xy/charts.xy.component.ts
Due: lint-angular

fix: prevent mobile form chart cropping
  src/app/components/charts/form/charts.form.component.css
  src/app/components/charts/form/charts.form.component.spec.ts
  src/app/components/charts/form/charts.form.component.ts
Due: lint-angular

fix: align map popups and route selection
  src/app/components/events-map/events-map.component.css
  src/app/components/events-map/events-map.component.html
  src/app/components/routes/dashboard-route-preview-map/dashboard-route-preview-map.component.css
  src/app/components/shared/map-activity-popup/map-activity-popup.component.html
  src/app/components/shared/map-activity-popup/map-activity-popup.component.scss
  src/app/components/shared/map-activity-popup/map-activity-popup.component.spec.ts
  src/app/components/shared/map-activity-popup/map-activity-popup.component.ts
  src/app/components/tracks/tracks.component.html
  src/app/components/tracks/tracks.component.scss
  src/app/services/map/track-map.manager.spec.ts
  src/app/services/map/track-map.manager.ts
Due: lint-angular

fix: tighten map popup mobile layout
  src/app/components/shared/map-activity-popup/map-activity-popup.component.html
  src/app/components/shared/map-activity-popup/map-activity-popup.component.scss
  src/app/components/shared/map-activity-popup/map-activity-popup.component.spec.ts
Due: lint-angular

fix: reduce dashboard reorder work
  src/app/components/charts/columns/charts.columns.component.ts
  src/app/components/charts/pie/charts.pie.component.ts
  src/app/components/charts/xy/charts.xy.component.ts
  src/app/components/summaries/summaries.component.html
  src/app/components/summaries/summaries.component.spec.ts
  src/app/components/summaries/summaries.component.ts
  src/app/helpers/dashboard-tile-view-model.helper.spec.ts
  src/app/helpers/dashboard-tile-view-model.helper.ts
Due: lint-angular

feat: group dashboard KPI tiles
  src/app/components/summaries/dashboard-manager-dialog/dashboard-manager-dialog.component.spec.ts
  src/app/components/summaries/dashboard-manager-dialog/dashboard-manager-dialog.component.ts
  src/app/components/summaries/summaries.component.css
  src/app/components/summaries/summaries.component.html
  src/app/components/summaries/summaries.component.spec.ts
  src/app/components/summaries/summaries.component.ts
  src/app/components/tile/actions/chart/tile.chart.actions.component.html
  src/app/components/tile/actions/chart/tile.chart.actions.component.spec.ts
  src/app/components/tile/actions/tile-actions-abstract.directive.ts
  src/app/components/tile/actions/tile.actions.abstract.css
  src/app/helpers/dashboard-auto-tile.helper.ts
  src/app/helpers/dashboard-kpi-group.helper.spec.ts
  src/app/helpers/dashboard-kpi-group.helper.ts
  src/app/helpers/dashboard-manager-presets.helper.spec.ts
  src/app/helpers/dashboard-manager-presets.helper.ts
  src/app/helpers/dashboard-special-chart-types.ts
  src/app/helpers/dashboard-tile-section.helper.spec.ts
  src/app/helpers/dashboard-tile-section.helper.ts
  src/app/models/app-user.interface.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/app/utils/app.user.utilities.spec.ts
  src/app/utils/app.user.utilities.ts
Due: lint-angular

chore: fix
  src/app/components/routes/route-detail/route-detail.component.html
Due: lint-angular

Revert "feat: group dashboard KPI tiles"
  src/app/components/summaries/dashboard-manager-dialog/dashboard-manager-dialog.component.spec.ts
  src/app/components/summaries/dashboard-manager-dialog/dashboard-manager-dialog.component.ts
  src/app/components/summaries/summaries.component.css
  src/app/components/summaries/summaries.component.html
  src/app/components/summaries/summaries.component.spec.ts
  src/app/components/summaries/summaries.component.ts
  src/app/components/tile/actions/chart/tile.chart.actions.component.html
  src/app/components/tile/actions/chart/tile.chart.actions.component.spec.ts
  src/app/components/tile/actions/tile-actions-abstract.directive.ts
  src/app/components/tile/actions/tile.actions.abstract.css
  src/app/helpers/dashboard-auto-tile.helper.ts
  src/app/helpers/dashboard-kpi-group.helper.spec.ts
  src/app/helpers/dashboard-kpi-group.helper.ts
  src/app/helpers/dashboard-manager-presets.helper.spec.ts
  src/app/helpers/dashboard-manager-presets.helper.ts
  src/app/helpers/dashboard-special-chart-types.ts
  src/app/helpers/dashboard-tile-section.helper.spec.ts
  src/app/helpers/dashboard-tile-section.helper.ts
  src/app/models/app-user.interface.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/app/utils/app.user.utilities.spec.ts
  src/app/utils/app.user.utilities.ts
Due: lint-angular

feat: surface running dynamics balances
  functions/package-lock.json
  functions/package.json
  package-lock.json
  package.json
  src/app/components/data-type-icon/data-type-icon.component.spec.ts
  src/app/components/data-type-icon/data-type-icon.component.ts
  src/app/constants/event-summary-metric-groups.ts
  src/app/helpers/event-echarts-style.helper.spec.ts
  src/app/helpers/event-echarts-style.helper.ts
  src/app/helpers/summary-metric-tabs.helper.spec.ts
  src/app/utils/event-json-sanitizer.spec.ts
  src/app/utils/event-json-sanitizer.ts
Due: lint-angular

feat: enable sports-lib event reparse
  functions/src/reparse/sports-lib-reparse.config.ts
  functions/src/reparse/sports-lib-reparse.service.spec.ts
Due: lint-functions

fix: harden event stream alias sanitization
  src/app/utils/event-json-sanitizer.spec.ts
  src/app/utils/event-json-sanitizer.ts
Due: lint-angular

Revert "fix: harden event stream alias sanitization"
  src/app/utils/event-json-sanitizer.spec.ts
  src/app/utils/event-json-sanitizer.ts
Due: lint-angular

chore: bump sports-lib to 17.0.1
  functions/package-lock.json
  functions/package.json
  package-lock.json
  package.json
Due: none

fix: stop retrying route-only gpx reparse
  functions/src/reparse/sports-lib-reparse.service.spec.ts
  functions/src/reparse/sports-lib-reparse.service.ts
Due: lint-functions

fix: reject route files from activity upload
  functions/src/events/upload-activity.spec.ts
  functions/src/events/upload-activity.ts
Due: lint-functions

chore: clean upload route guard warning
  functions/src/events/upload-activity.ts
Due: lint-functions

fix: route 24h reparse jobs to heavy worker
  functions/src/reparse/sports-lib-reparse.config.ts
  functions/src/reparse/sports-lib-reparse.service.spec.ts
  functions/src/reparse/sports-lib-reparse.service.ts
  functions/src/schedule/sports-lib-reparse.spec.ts
  functions/src/tasks/sports-lib-reparse-worker.spec.ts
Due: lint-functions

fix: share activity file parsing for reparse
  functions/src/events/upload-activity.ts
  functions/src/reparse/sports-lib-reparse.service.spec.ts
  functions/src/reparse/sports-lib-reparse.service.ts
  functions/src/shared/activity-file-parser.spec.ts
  functions/src/shared/activity-file-parser.ts
Due: lint-functions

chore: clean parser fallback warning
  functions/src/shared/activity-file-parser.ts
Due: lint-functions

fix: increase derived metrics task memory
  functions/src/tasks/derived-metrics-worker.ts
Due: lint-functions

feat: add training workspace insights
  functions/src/derived-metrics/derived-metrics.service.spec.ts
  functions/src/derived-metrics/derived-metrics.service.ts
  functions/src/test-setup.ts
  shared/derived-metrics.ts
  src/app/app.routes.server.ts
  src/app/app.routing.module.ts
  src/app/components/charts/kpi/charts.kpi.component.ts
  src/app/components/charts/pie/charts.pie.component.ts
  src/app/components/loading/shade.component.css
  src/app/components/sidenav/sidenav.component.html
  src/app/components/summaries/dashboard-manager-dialog/dashboard-manager-dialog.component.css
  src/app/components/summaries/dashboard-manager-dialog/dashboard-manager-dialog.component.html
  src/app/components/summaries/dashboard-manager-dialog/dashboard-manager-dialog.component.spec.ts
  src/app/components/summaries/dashboard-manager-dialog/dashboard-manager-dialog.component.ts
  src/app/components/summaries/summaries.component.css
  src/app/components/summaries/summaries.component.html
  src/app/components/summaries/summaries.component.ts
  src/app/components/training/training-workspace.component.html
  src/app/components/training/training-workspace.component.scss
  src/app/components/training/training-workspace.component.spec.ts
  src/app/components/training/training-workspace.component.ts
  src/app/helpers/dashboard-derived-metrics.helper.spec.ts
  src/app/helpers/dashboard-derived-metrics.helper.ts
  src/app/helpers/dashboard-recovery-now.helper.spec.ts
  src/app/helpers/dashboard-recovery-now.helper.ts
  src/app/helpers/training-analysis.helper.spec.ts
  src/app/helpers/training-analysis.helper.ts
  src/app/helpers/training-state.helper.spec.ts
  src/app/helpers/training-state.helper.ts
  src/app/modules/training.module.ts
  src/app/services/dashboard-auto-tile.service.spec.ts
  src/app/services/dashboard-auto-tile.service.ts
  src/app/services/dashboard-derived-metrics.service.spec.ts
  src/app/services/dashboard-derived-metrics.service.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/app/training.routing.module.ts
  src/app/utils/app.user.utilities.spec.ts
  src/app/utils/app.user.utilities.ts
Due: lint-functions, lint-angular

fix: clarify training comparison states
  src/app/components/training/training-workspace.component.html
  src/app/components/training/training-workspace.component.scss
  src/app/components/training/training-workspace.component.spec.ts
  src/app/components/training/training-workspace.component.ts
  src/app/helpers/training-analysis.helper.spec.ts
  src/app/helpers/training-analysis.helper.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: streamline training loading state
  src/app/components/training/training-workspace.component.html
  src/app/components/training/training-workspace.component.scss
  src/app/components/training/training-workspace.component.spec.ts
Due: lint-angular

Path conditions:
  lint-functions: any of: **/*.{ts,js} and ^functions/
  lint-angular: any of: {src/*.{ts,html},src/**/*.{ts,html}}
