Repository jimmykane/quantified-self: changes, and which lefthook commands are due for each by the changed paths.
All: lint-functions, lint-angular

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint-functions:
      root: "functions"
      glob: "**/*.{ts,js}"
      run: npx eslint {staged_files} --fix && git add {staged_files}
    lint-angular:
      glob: "{src/*.{ts,html},src/**/*.{ts,html}}"
      run: ESLINT_USE_FLAT_CONFIG=false npx eslint {staged_files} --fix && git add {staged_files}

fix: bound gift notification failures
  functions/src/admin/handlers/subscription-gifts.handlers.ts
  functions/src/admin/subscription-gifts.handlers.spec.ts
Due: lint-functions

fix: harden billing recovery accuracy
  functions/src/admin/handlers/subscription-gifts.handlers.ts
  functions/src/admin/subscription-gifts.handlers.spec.ts
  functions/src/stripe/get-upcoming-renewal-amount.spec.ts
  functions/src/stripe/get-upcoming-renewal-amount.ts
Due: lint-functions

fix: release unapplied gift operations
  functions/src/admin/handlers/subscription-gifts.handlers.ts
  functions/src/admin/subscription-gifts.handlers.spec.ts
Due: lint-functions

fix: stabilize event chart mode toggle
  src/app/components/event/chart/event.card.chart.component.spec.ts
  src/app/components/event/chart/event.card.chart.component.ts
  src/app/services/app.user-settings-query.service.spec.ts
  src/app/services/app.user-settings-query.service.ts
Due: lint-angular

fix: tighten chart setting persistence
  src/app/components/event/chart/event.card.chart.component.spec.ts
  src/app/components/event/chart/event.card.chart.component.ts
  src/app/services/app.user-settings-query.service.spec.ts
  src/app/services/app.user-settings-query.service.ts
Due: lint-angular

fix: refine dashboard duration labels
  src/app/components/charts/columns/charts.columns.component.spec.ts
  src/app/components/charts/columns/charts.columns.component.ts
  src/app/helpers/dashboard-chart-data.helper.spec.ts
  src/app/helpers/dashboard-chart-data.helper.ts
Due: lint-angular

fix: default weekly training time to columns
  functions/package.json
  functions/src/scripts/migrate-weekly-training-time-columns.spec.ts
  functions/src/scripts/migrate-weekly-training-time-columns.ts
  src/app/helpers/dashboard-manager-presets.helper.spec.ts
  src/app/helpers/dashboard-manager-presets.helper.ts
Due: lint-functions, lint-angular

chore: upgrade sports-lib to 20.4.0
  docs/mcp-server.md
  functions/package-lock.json
  functions/package.json
  functions/src/mcp/data.service.spec.ts
  functions/src/mcp/metric-catalog.spec.ts
  functions/src/mcp/tool-output-schemas.spec.ts
  functions/src/reparse/SPORTS_LIB_REPARSE_RUNBOOK.md
  package-lock.json
  package.json
  src/app/utils/event-json-sanitizer.spec.ts
Due: lint-functions, lint-angular

chore: remove completed dashboard migration
  functions/package.json
  functions/src/scripts/migrate-weekly-training-time-columns.spec.ts
  functions/src/scripts/migrate-weekly-training-time-columns.ts
Due: lint-functions

fix: surface running dynamics summaries
  src/app/components/data-type-icon/data-type-icon.component.spec.ts
  src/app/components/data-type-icon/data-type-icon.component.ts
  src/app/components/event/stats-grid/event.card.stats-grid.component.spec.ts
  src/app/constants/event-summary-metric-groups.ts
  src/app/helpers/header-stats-composite.helper.spec.ts
  src/app/helpers/summary-metric-tabs.helper.spec.ts
  src/app/helpers/summary-stats.helper.spec.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: preserve mobile chart scrolling
  src/app/components/event/chart/panel/event.card.chart.panel.component.scss
  src/app/components/event/chart/panel/event.card.chart.panel.component.spec.ts
  src/app/components/event/chart/panel/event.card.chart.panel.component.ts
  src/app/helpers/echarts-horizontal-touch-gesture.controller.spec.ts
  src/app/helpers/echarts-horizontal-touch-gesture.controller.ts
Due: lint-angular

fix: increase Suunto webhook fan-out memory
  functions/src/suunto/health-webhook-ingress.spec.ts
  functions/src/suunto/health-webhook-ingress.ts
Due: lint-functions

fix: harden mobile chart gestures
  src/app/components/event/chart/panel/event.card.chart.panel.component.spec.ts
  src/app/components/event/chart/panel/event.card.chart.panel.component.ts
  src/app/helpers/echarts-horizontal-touch-gesture.controller.spec.ts
  src/app/helpers/echarts-horizontal-touch-gesture.controller.ts
Due: lint-angular

chore: retire completed provider compatibility paths
  docs/coros-integration.md
  docs/garmin-integration.md
  docs/sleep-sync-operations.md
  functions/package-lock.json
  functions/package.json
  functions/src/garmin/migrate-tokens.spec.ts
  functions/src/garmin/migrate-tokens.ts
  functions/src/garmin/run-migration-local.ts
  functions/src/index.ts
  functions/src/scripts/backfill-coros-daily-health.spec.ts
  functions/src/scripts/backfill-coros-daily-health.ts
  functions/src/scripts/migrate-coros-sleep-to-health.spec.ts
  functions/src/scripts/migrate-coros-sleep-to-health.ts
  functions/src/secrets.spec.ts
  functions/src/secrets.ts
  functions/src/sleep/backfill.spec.ts
  functions/src/sleep/backfill.ts
  functions/src/sleep/webhooks.spec.ts
  functions/src/sleep/webhooks.ts
  shared/functions-manifest.ts
Due: lint-functions

chore: retire Suunto repair tooling
  docs/suunto-integration.md
  functions/package.json
  functions/src/scripts/repair-suunto-webhook-bindings.spec.ts
  functions/src/scripts/repair-suunto-webhook-bindings.ts
  functions/src/suunto/health-webhook-binding-lifecycle.spec.ts
  functions/src/suunto/health-webhook-binding-lifecycle.ts
Due: lint-functions

fix: bound local test worker concurrency
  vitest.config.ts
Due: none

chore: retire Suunto binding verification scheduler
  docs/suunto-integration.md
  functions/src/index.ts
  functions/src/secrets.spec.ts
  functions/src/secrets.ts
  functions/src/sleep/polling.spec.ts
  functions/src/sleep/polling.ts
  src/firestore.rules.spec.ts
Due: lint-functions, lint-angular

refactor: keep provider credentials server-only
  docs/coros-integration.md
  docs/garmin-integration.md
  docs/provider-integration-guide.md
  docs/suunto-integration.md
  firestore.rules
  functions/package.json
  functions/src/index.ts
  functions/src/scripts/backfill-service-connection-account-projections.spec.ts
  functions/src/scripts/backfill-service-connection-account-projections.ts
  functions/src/service-connection-account-projection.spec.ts
  functions/src/service-connection-account-projection.ts
  shared/garmin-service-token.ts
  shared/service-connection.ts
  shared/suunto-route-import-state.ts
  src/app/components/services/coros/services.coros.component.html
  src/app/components/services/coros/services.coros.component.ts
  src/app/components/services/garmin/services.garmin.component.html
  src/app/components/services/garmin/services.garmin.component.spec.ts
  src/app/components/services/garmin/services.garmin.component.ts
  src/app/components/services/services-abstract-component.directive.ts
  src/app/components/services/suunto/services.suunto.component.html
  src/app/components/services/suunto/services.suunto.component.ts
  src/app/helpers/garmin-route-permission.helper.ts
  src/app/services/app.user.service.spec.ts
  src/app/services/app.user.service.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/firestore.rules.spec.ts
Due: lint-functions, lint-angular

feat: add workout health metric sources
  docs/unified-health-data.md
  firestore.indexes.json
  functions/src/firestore-indexes.spec.ts
  functions/src/health/activity-callable.spec.ts
  functions/src/health/activity-callable.ts
  functions/src/health/activity-query.spec.ts
  functions/src/health/activity-query.ts
  functions/src/index.ts
  shared/activity-health.ts
  shared/functions-manifest.ts
  src/app/components/health/health-activity-query.service.spec.ts
  src/app/components/health/health-activity-query.service.ts
  src/app/components/health/health-workspace.component.html
  src/app/components/health/health-workspace.component.spec.ts
  src/app/components/health/health-workspace.component.ts
  src/app/helpers/health-workspace.helper.spec.ts
  src/app/helpers/health-workspace.helper.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/app/shared/policies.content.spec.ts
  src/app/shared/policies.content.ts
Due: lint-functions, lint-angular

fix: tighten workout health source handling
  functions/src/health/activity-query.spec.ts
  functions/src/health/activity-query.ts
  src/app/components/health/health-workspace.component.spec.ts
  src/app/components/health/health-workspace.component.ts
Due: lint-functions, lint-angular

fix: stage provider credential read lockdown
  docs/coros-integration.md
  docs/garmin-integration.md
  docs/provider-integration-guide.md
  docs/suunto-integration.md
  firestore.rules
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/firestore.rules.spec.ts
Due: lint-angular

fix: refresh public SEO modification dates
  src/firebase-hosting.config.spec.ts
  src/sitemap.xml
Due: lint-angular

fix: preserve provider connections during projection rollout
  docs/coros-integration.md
  docs/garmin-integration.md
  docs/provider-integration-guide.md
  docs/suunto-integration.md
  firestore.rules
  src/app/services/app.user.service.spec.ts
  src/app/services/app.user.service.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

refactor: consolidate workout comparison pages
  firebase.json
  src/app/app.routes.server.spec.ts
  src/app/app.routes.server.ts
  src/app/app.routing.module.spec.ts
  src/app/app.routing.module.ts
  src/app/components/features/workout-data-comparison-page.component.html
  src/app/components/features/workout-data-comparison-page.component.spec.ts
  src/app/components/features/workout-data-comparison-page.component.ts
  src/app/components/features/workout-data-comparison-page.content.spec.ts
  src/app/components/features/workout-data-comparison-page.content.ts
  src/app/components/features/workout-data-comparison-page.paths.ts
  src/app/components/home/home.component.html
  src/app/components/home/home.component.spec.ts
  src/app/components/integrations/integrations-hub-page.component.html
  src/app/components/integrations/integrations-hub-page.component.spec.ts
  src/app/components/public-seo/public-seo-page.component.spec.ts
  src/app/components/public-seo/public-seo-pages.content.spec.ts
  src/app/components/public-seo/public-seo-pages.content.ts
  src/app/components/public-seo/public-seo-pages.paths.ts
  src/app/components/tools/tools-compare-page.component.html
  src/app/components/tools/tools-compare-page.component.spec.ts
  src/app/components/tools/tools-hub-page.component.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/app/shared/public-startup-route.ts
  src/firebase-hosting.config.spec.ts
  src/robots.txt
  src/sitemap.xml
Due: lint-angular

fix: query workout VO2 by activity time
  docs/unified-health-data.md
  firestore.indexes.json
  functions/src/firestore-indexes.spec.ts
  functions/src/health/activity-query.spec.ts
  functions/src/health/activity-query.ts
Due: lint-functions

fix: refine consolidated comparison page
  src/app/components/features/workout-data-comparison-page.component.html
  src/app/components/features/workout-data-comparison-page.component.scss
  src/app/components/features/workout-data-comparison-page.component.spec.ts
  src/app/components/features/workout-data-comparison-page.component.ts
  src/app/components/features/workout-data-comparison-page.content.spec.ts
  src/app/components/features/workout-data-comparison-page.content.ts
  src/app/shared/public-startup-route.spec.ts
  src/assets/logos/app/logo.svg
  src/assets/logos/coros.svg
  src/assets/logos/garmin.svg
Due: lint-angular

fix: lead comparison page with file uploads
  src/app/components/features/workout-data-comparison-page.component.html
  src/app/components/features/workout-data-comparison-page.component.spec.ts
Due: lint-angular

feat: add real benchmark comparison charts
  src/app/components/public-seo/public-feature-preview.component.scss
  src/app/components/shared/reviewer-benchmark-preview/reviewer-benchmark-chart-preview.data.ts
  src/app/components/shared/reviewer-benchmark-preview/reviewer-benchmark-preview.component.html
  src/app/components/shared/reviewer-benchmark-preview/reviewer-benchmark-preview.component.scss
  src/app/components/shared/reviewer-benchmark-preview/reviewer-benchmark-preview.component.spec.ts
  src/app/components/shared/reviewer-benchmark-preview/reviewer-benchmark-preview.component.ts
Due: lint-angular

fix: generalize benchmark comparison copy
  src/app/components/shared/reviewer-benchmark-preview/reviewer-benchmark-preview.component.html
  src/app/components/shared/reviewer-benchmark-preview/reviewer-benchmark-preview.component.spec.ts
Due: lint-angular

fix: lead homepage reviewer section with charts
  src/app/components/home/home.component.html
  src/app/components/home/home.component.spec.ts
  src/app/components/public-seo/public-feature-preview.component.html
  src/app/components/public-seo/public-feature-preview.component.ts
  src/app/components/shared/reviewer-benchmark-preview/reviewer-benchmark-preview.component.html
  src/app/components/shared/reviewer-benchmark-preview/reviewer-benchmark-preview.component.spec.ts
  src/app/components/shared/reviewer-benchmark-preview/reviewer-benchmark-preview.component.ts
Due: lint-angular

refactor: lead reviewer previews with comparison charts
  src/app/components/home/home.component.html
  src/app/components/home/home.component.spec.ts
  src/app/components/public-seo/public-feature-preview.component.html
  src/app/components/public-seo/public-feature-preview.component.ts
  src/app/components/shared/reviewer-benchmark-preview/reviewer-benchmark-preview.component.html
  src/app/components/shared/reviewer-benchmark-preview/reviewer-benchmark-preview.component.spec.ts
  src/app/components/shared/reviewer-benchmark-preview/reviewer-benchmark-preview.component.ts
Due: lint-angular

fix: present workout comparison as a file viewer
  src/app/components/features/workout-data-comparison-page.content.spec.ts
  src/app/components/features/workout-data-comparison-page.content.ts
Due: lint-angular

fix: show explicit Health window dates
  src/app/components/health/health-workspace.component.spec.ts
  src/app/helpers/health-workspace.helper.spec.ts
  src/app/helpers/health-workspace.helper.ts
Due: lint-angular

chore: update sports lib to 21.0.3
  docs/training-workspace.md
  docs/unified-health-data.md
  functions/package-lock.json
  functions/package.json
  package-lock.json
  package.json
Due: none

fix: remember selected Health metric
  docs/unified-health-data.md
  src/app/components/health/health-workspace.component.html
  src/app/components/health/health-workspace.component.spec.ts
  src/app/components/health/health-workspace.component.ts
  src/app/helpers/health-workspace.helper.spec.ts
  src/app/helpers/health-workspace.helper.ts
  src/app/models/app-user.interface.ts
  src/app/services/app.user-settings-query.service.spec.ts
  src/app/services/app.user-settings-query.service.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: refine public feature copy
  src/app/components/public-seo/public-seo-page.component.spec.ts
  src/app/components/public-seo/public-seo-pages.content.spec.ts
  src/app/components/public-seo/public-seo-pages.content.ts
Due: lint-angular

fix: tighten feature meta descriptions
  src/app/components/features/supported-activities-page.content.spec.ts
  src/app/components/features/supported-activities-page.content.ts
  src/app/components/public-seo/public-seo-pages.content.spec.ts
  src/app/components/public-seo/public-seo-pages.content.ts
Due: lint-angular

fix: improve Health provider filters
  src/app/components/health/health-workspace.component.html
  src/app/components/health/health-workspace.component.scss
  src/app/components/health/health-workspace.component.spec.ts
  src/app/components/health/health-workspace.component.ts
Due: lint-angular

fix: keep email links in current context
  src/app/components/help/help-page.component.html
  src/app/components/help/help-page.component.spec.ts
  src/app/components/public-footer/public-footer.component.spec.ts
  src/app/components/sidenav/sidenav.component.html
  src/app/components/sidenav/sidenav.component.spec.ts
  src/app/components/sidenav/sidenav.component.ts
  src/app/components/training/training-workspace.component.html
  src/app/components/training/training-workspace.component.spec.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular
