Repository jimmykane/quantified-self: changes, and which lefthook commands are due for each by the changed paths.
All: lint-functions, lint-angular

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint-functions:
      root: "functions"
      glob: "**/*.{ts,js}"
      run: npx eslint {staged_files} --fix && git add {staged_files}
    lint-angular:
      glob: "{src/*.{ts,html},src/**/*.{ts,html}}"
      run: ESLINT_USE_FLAT_CONFIG=false npx eslint {staged_files} --fix && git add {staged_files}

test: fence stale COROS first-send plan markers
  docs/provider-integration-guide.md
  functions/src/coros/training-completion.emulator.spec.ts
  functions/src/coros/training-completion.ts
Due: lint-functions

feat: pan event charts with touch in zoom mode
  src/app/components/event/chart/panel/event.card.chart.panel.component.spec.ts
  src/app/components/event/chart/panel/event.card.chart.panel.component.ts
  src/app/helpers/echarts-horizontal-touch-gesture.controller.ts
  src/app/helpers/event-chart-pan-range.helper.spec.ts
  src/app/helpers/event-chart-pan-range.helper.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: tighten event chart zoom bar spacing
  src/app/components/event/chart/event.card.chart.component.scss
  src/app/components/event/chart/panel/event.card.chart.panel.component.scss
  src/app/components/event/chart/panel/event.card.chart.panel.component.spec.ts
  src/app/components/event/chart/panel/event.card.chart.panel.component.ts
Due: lint-angular

test: reject retired Garmin workout completion markers
  functions/src/training-plans/completion/fit-workout-evidence.emulator.spec.ts
  functions/src/training-plans/delivery/test-support/suunto-fit-fixture.ts
Due: lint-functions

fix: harden exact training completion edge cases
  docs/mcp-server.md
  docs/provider-integration-guide.md
  docs/training-workspace.md
  functions/src/coros/training-completion.emulator.spec.ts
  functions/src/coros/training-completion.ts
  functions/src/mcp/training-plans.service.spec.ts
  functions/src/mcp/training-plans.service.ts
  functions/src/suunto/guide-completion.ts
  functions/src/training-plans/completion/fit-workout-evidence.emulator.spec.ts
  functions/src/training-plans/delivery/suunto/suunto.emulator.spec.ts
  functions/src/training-plans/delivery/test-support/suunto-fit-fixture.ts
  functions/src/wahoo/training-completion.emulator.spec.ts
  functions/src/wahoo/training-completion.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

fix: keep calendar day health current
  docs/activity-calendar.md
  src/app/components/calendar/activity-calendar-tile/activity-calendar-tile.component.spec.ts
  src/app/components/calendar/calendar-day-context/calendar-day-context.component.spec.ts
  src/app/components/calendar/calendar-day-context/calendar-day-context.component.ts
  src/app/components/calendar/calendar-day-details/calendar-day-details.component.spec.ts
  src/app/components/calendar/calendar-page/calendar-page.component.spec.ts
  src/app/services/calendar-day-health.service.spec.ts
  src/app/services/calendar-day-health.service.ts
Due: lint-angular

fix: align connection history verification
  functions/src/scripts/check-entrypoint-loading.ts
  src/app/components/services/connection-history/connection-history.component.spec.ts
  src/app/components/services/connection-history/connection-history.component.ts
Due: lint-functions, lint-angular

fix: harden connection history retries and reconnect recovery
  docs/connection-history-import.md
  functions/src/connection-history/adapters.spec.ts
  functions/src/connection-history/adapters.ts
  functions/src/connection-history/execution.ts
  functions/src/connection-history/model.ts
  functions/src/connection-history/queue-replacement.ts
  functions/src/connection-history/tasks.spec.ts
  functions/src/connection-history/tasks.ts
  functions/src/coros/history-to-queue.spec.ts
  functions/src/coros/history-to-queue.ts
  functions/src/garmin/backfill.spec.ts
  functions/src/garmin/backfill.ts
  functions/src/garmin/health-backfill.spec.ts
  functions/src/garmin/health-backfill.ts
  functions/src/history.spec.ts
  functions/src/history.ts
  functions/src/request-helper.spec.ts
  functions/src/request-helper.ts
  functions/src/sleep/backfill.spec.ts
  functions/src/sleep/backfill.ts
  functions/src/wahoo/queue-store.spec.ts
  functions/src/wahoo/queue-store.ts
  src/app/components/services/garmin/services.garmin.component.spec.ts
  src/app/components/services/services-abstract-component.directive.ts
  src/app/components/services/suunto/services.suunto.component.spec.ts
  src/app/components/services/wahoo/services.wahoo.component.spec.ts
Due: lint-functions, lint-angular

docs: clarify connection history run IDs
  docs/connection-history-import.md
Due: none

fix: isolate connection history function targets
  docs/functions-entrypoint-loading.md
  docs/provider-integration-guide.md
  functions/src/function-target-loader.spec.ts
  functions/src/function-target-loader.ts
  functions/src/scripts/check-entrypoint-loading.ts
Due: lint-functions

fix: harden connection history lifecycle review
  functions/src/OAuth2.spec.ts
  functions/src/OAuth2.ts
  functions/src/connection-history/adapters.spec.ts
  functions/src/connection-history/advance.spec.ts
  functions/src/connection-history/advance.ts
  functions/src/connection-history/execution.ts
  functions/src/connection-history/model.spec.ts
  functions/src/connection-history/model.ts
  functions/src/connection-history/tasks.spec.ts
  functions/src/connection-history/tasks.ts
  functions/src/history.spec.ts
  functions/src/history.ts
  functions/src/service-connection-meta.spec.ts
  functions/src/wahoo/queue-store.spec.ts
  functions/src/wahoo/queue-store.ts
  src/app/components/services/services-abstract-component.directive.ts
  src/app/components/services/suunto/services.suunto.component.spec.ts
Due: lint-functions, lint-angular

fix: polish calendar day layouts and month sheet
  src/app/components/calendar/activity-calendar-tile/activity-calendar-tile.component.scss
  src/app/components/calendar/calendar-day-context/calendar-day-context.component.html
  src/app/components/summaries/dashboard-tile-board/dashboard-tile-board.component.css
  src/app/components/summaries/dashboard-tile-board/dashboard-tile-board.component.spec.ts
  src/app/components/summaries/summaries.component.css
  src/app/helpers/calendar-day-health.helper.spec.ts
  src/app/helpers/calendar-day-health.helper.ts
  src/styles.scss
Due: lint-angular

fix: raise Garmin activity webhook memory to 512 MiB
  functions/src/garmin/queue.ts
Due: lint-functions

fix: allow account cleanup more time and memory
  functions/src/users/cleanup.spec.ts
  functions/src/users/cleanup.ts
Due: lint-functions

fix: keep calendar day details visible on mobile
  docs/activity-calendar.md
  src/app/components/calendar/activity-calendar-tile/activity-calendar-tile.component.ts
  src/app/components/calendar/calendar-page/calendar-page.component.spec.ts
  src/app/components/calendar/calendar-page/calendar-page.component.ts
  src/app/helpers/reveal-calendar-day-context.helper.spec.ts
  src/app/helpers/reveal-calendar-day-context.helper.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: enrich manual activity upload failure diagnostics
  docs/provider-integration-guide.md
  functions/src/events/upload-activity.spec.ts
  functions/src/events/upload-activity.ts
Due: lint-functions

feat: show sleep stages on calendar day page
  docs/activity-calendar.md
  src/app/components/calendar/activity-calendar-tile/activity-calendar-tile.component.spec.ts
  src/app/components/calendar/calendar-day-context/calendar-day-context.component.html
  src/app/components/calendar/calendar-day-context/calendar-day-context.component.scss
  src/app/components/calendar/calendar-day-context/calendar-day-context.component.spec.ts
  src/app/components/calendar/calendar-day-context/calendar-day-context.component.ts
  src/app/components/calendar/calendar-page/calendar-page.component.spec.ts
  src/app/helpers/calendar-day-health.helper.spec.ts
  src/app/helpers/calendar-day-health.helper.ts
  src/app/services/calendar-day-health.service.spec.ts
  src/app/services/calendar-day-health.service.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

feat: enrich calendar day context
  docs/activity-calendar.md
  src/app/components/calendar/calendar-day-context/calendar-day-context.component.html
  src/app/components/calendar/calendar-day-context/calendar-day-context.component.scss
  src/app/components/calendar/calendar-day-context/calendar-day-context.component.spec.ts
  src/app/components/calendar/calendar-day-context/calendar-day-context.component.ts
  src/app/components/calendar/calendar-page/calendar-page.component.html
  src/app/components/calendar/calendar-page/calendar-page.component.scss
  src/app/components/calendar/calendar-page/calendar-page.component.spec.ts
  src/app/components/calendar/calendar-page/calendar-page.component.ts
  src/app/helpers/activity-calendar.helper.ts
  src/app/helpers/calendar-day-health.helper.spec.ts
  src/app/helpers/calendar-day-health.helper.ts
  src/app/helpers/calendar-day-story.helper.spec.ts
  src/app/helpers/calendar-day-story.helper.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: clarify calendar day notes loading and timing
  src/app/components/calendar/calendar-day-context/calendar-day-context.component.html
  src/app/components/calendar/calendar-day-context/calendar-day-context.component.spec.ts
  src/app/components/calendar/calendar-day-context/calendar-day-context.component.ts
  src/app/components/calendar/calendar-day-details/calendar-day-details.component.ts
  src/app/components/calendar/calendar-page/calendar-page.component.spec.ts
  src/app/components/calendar/calendar-page/calendar-page.component.ts
  src/app/helpers/calendar-day-story.helper.spec.ts
  src/app/helpers/calendar-day-story.helper.ts
Due: lint-angular

perf: coalesce Suunto Health webhook refetches
  docs/provider-integration-guide.md
  docs/suunto-integration.md
  functions/src/queue/queue-item.interface.ts
  functions/src/sleep/dispatcher.spec.ts
  functions/src/sleep/dispatcher.ts
  functions/src/sleep/queue.spec.ts
  functions/src/sleep/queue.ts
  functions/src/suunto/health-webhook-ingress.spec.ts
  functions/src/suunto/health-webhook-ingress.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

fix: calculate Suunto webhook delay at dispatch time
  functions/src/sleep/dispatcher.spec.ts
  functions/src/sleep/dispatcher.ts
  functions/src/suunto/health-webhook-ingress.spec.ts
  functions/src/suunto/health-webhook-ingress.ts
Due: lint-functions

fix: preserve Suunto refetches across bucket deadlines
  functions/src/sleep/queue.spec.ts
  functions/src/sleep/queue.ts
Due: lint-functions

fix: distinguish late ingress retries in Suunto logs
  docs/provider-integration-guide.md
  functions/src/sleep/queue.spec.ts
  functions/src/sleep/queue.ts
Due: lint-functions

fix: polish dashboard calendar navigation and day sheets
  docs/activity-calendar.md
  src/app/components/calendar/activity-calendar-tile/activity-calendar-tile.component.html
  src/app/components/calendar/activity-calendar-tile/activity-calendar-tile.component.spec.ts
  src/app/components/calendar/activity-calendar-tile/activity-calendar-tile.component.ts
  src/app/components/calendar/calendar-day-context/calendar-day-context.component.html
  src/app/components/calendar/calendar-day-context/calendar-day-context.component.spec.ts
  src/app/components/calendar/calendar-day-details/calendar-day-details.component.html
  src/app/components/calendar/calendar-day-details/calendar-day-details.component.scss
  src/app/components/calendar/calendar-day-details/calendar-day-details.component.spec.ts
  src/app/components/calendar/calendar-day-details/calendar-day-details.component.ts
  src/app/components/calendar/calendar-month-picker-bottom-sheet/calendar-month-picker-bottom-sheet.component.html
  src/app/components/calendar/calendar-month-picker-bottom-sheet/calendar-month-picker-bottom-sheet.component.ts
  src/app/components/summaries/summaries.component.spec.ts
  src/app/components/summaries/summaries.component.ts
  src/app/services/calendar-day-details-navigation.service.spec.ts
  src/app/services/calendar-day-details-navigation.service.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: raise Wahoo disconnect memory to 512 MiB
  functions/src/wahoo/auth/wrapper.spec.ts
  functions/src/wahoo/auth/wrapper.ts
Due: lint-functions

fix: raise remaining provider disconnect memory to 512 MiB
  functions/src/coros/auth/wrapper.spec.ts
  functions/src/coros/auth/wrapper.ts
  functions/src/garmin/auth/wrapper.spec.ts
  functions/src/garmin/auth/wrapper.ts
Due: lint-functions

perf: instrument shared sleep health worker workload
  functions/src/tasks/sleep-sync-worker.spec.ts
  functions/src/tasks/sleep-sync-worker.ts
Due: lint-functions

fix: keep worker telemetry from affecting task retries
  functions/src/tasks/sleep-sync-worker.spec.ts
  functions/src/tasks/sleep-sync-worker.ts
Due: lint-functions

fix: disclose and approve MCP workout delivery mappings once
  docs/assistant.md
  docs/mcp-server.md
  docs/provider-integration-guide.md
  docs/training-workspace.md
  functions/src/assistant/runtime.ts
  functions/src/mcp/contracts/pending-change.json
  functions/src/mcp/server.spec.ts
  functions/src/mcp/server.ts
  functions/src/mcp/training-plans-write.emulator.spec.ts
  functions/src/mcp/training-plans-write.service.ts
  functions/src/training-plans/delivery/commands.ts
  functions/src/training-plans/delivery/contracts.spec.ts
  plugins/quantified-self/skills/analyze-quantified-self-training/SKILL.md
  shared/training-provider-delivery.ts
  src/app/components/assistant/assistant-page.component.spec.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

chore: retire unused Suunto FIT HTTP function
  docs/functions-entrypoint-loading.md
  functions/src/full-entrypoint.ts
  functions/src/scripts/check-entrypoint-loading.ts
  functions/src/secrets.spec.ts
  functions/src/secrets.ts
  functions/src/suunto/get-suunto-fit-file.spec.ts
  functions/src/suunto/get-suunto-fit-file.ts
  shared/functions-manifest.ts
Due: lint-functions

test: cover Wahoo MCP workout approval and delivery
  functions/src/mcp/training-plans-write.emulator.spec.ts
Due: lint-functions

fix: block unsupported workout delivery before consent
  docs/mcp-server.md
  docs/provider-integration-guide.md
  docs/training-workspace.md
  functions/src/mcp/training-plans-write.emulator.spec.ts
  functions/src/mcp/training-plans-write.service.ts
  functions/src/training-plans/delivery/commands.ts
  shared/training-provider-delivery.ts
  src/app/components/plans/training-delivery-dialog.component.html
  src/app/components/plans/training-delivery-dialog.component.spec.ts
  src/app/components/plans/training-delivery-dialog.component.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

fix: clarify unsupported training delivery previews
  docs/mcp-server.md
  docs/training-workspace.md
  functions/src/mcp/training-plans-write.emulator.spec.ts
  functions/src/mcp/training-plans-write.service.ts
  functions/src/training-plans/delivery/intent.spec.ts
  src/app/components/plans/training-delivery-dialog.component.html
  src/app/components/plans/training-delivery-dialog.component.spec.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

fix: simplify calendar day header
  docs/activity-calendar.md
  src/app/components/calendar/calendar-page/calendar-page.component.html
  src/app/components/calendar/calendar-page/calendar-page.component.scss
  src/app/components/calendar/calendar-page/calendar-page.component.spec.ts
Due: lint-angular

fix: clarify untimed calendar entries
  docs/activity-calendar.md
  src/app/helpers/calendar-day-story.helper.spec.ts
  src/app/helpers/calendar-day-story.helper.ts
Due: lint-angular

docs: clarify Suunto Guide visibility after stopping sync
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular
