Repository jimmykane/quantified-self: changes, and which lefthook commands are due for each by the changed paths.
All: lint-functions, lint-angular

lint-functions:
  run: npx eslint {staged_files} --fix && git add {staged_files}

lint-angular:
  run: ESLINT_USE_FLAT_CONFIG=false npx eslint {staged_files} --fix && git add {staged_files}

fix: align workspace header actions
  docs/training-workspace.md
  src/app/components/summaries/summaries.component.html
  src/app/components/summaries/summaries.component.spec.ts
  src/app/components/training/training-workspace.component.html
  src/app/components/training/training-workspace.component.spec.ts
Due: lint-angular

feat: show training data cutoff
  docs/training-workspace.md
  src/app/components/training/training-workspace.component.html
  src/app/components/training/training-workspace.component.scss
  src/app/components/training/training-workspace.component.spec.ts
  src/app/components/training/training-workspace.component.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: place training data cutoff below title
  docs/training-workspace.md
  src/app/components/training/training-workspace.component.html
  src/app/components/training/training-workspace.component.scss
  src/app/components/training/training-workspace.component.spec.ts
  src/app/components/training/training-workspace.component.ts
Due: lint-angular

fix: resume assistant questions after refresh
  docs/assistant.md
  src/app/components/assistant/assistant-page.component.spec.ts
  src/app/components/assistant/assistant-page.component.ts
  src/app/components/help/help-page.component.spec.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: harden assistant refresh recovery
  docs/assistant.md
  src/app/components/assistant/assistant-page.component.spec.ts
  src/app/components/assistant/assistant-page.component.ts
  src/app/components/help/help-page.component.spec.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: center assistant send icon
  src/app/components/assistant/assistant-page.component.scss
  src/app/components/assistant/assistant-page.component.spec.ts
Due: lint-angular

refactor: unify workspace headers
  README.md
  docs/frontend-ui.md
  docs/training-workspace.md
  src/app/components/calendar/calendar-page/calendar-page.component.html
  src/app/components/calendar/calendar-page/calendar-page.component.scss
  src/app/components/routes/routes-page.component.html
  src/app/components/routes/routes-page.component.scss
  src/app/components/shared/page-header/page-header.component.html
  src/app/components/shared/page-header/page-header.component.scss
  src/app/components/shared/page-header/page-header.component.spec.ts
  src/app/components/shared/page-header/page-header.component.ts
  src/app/components/summaries/summaries.component.css
  src/app/components/summaries/summaries.component.html
  src/app/components/summaries/summaries.component.spec.ts
  src/app/components/tools/tools-compare-page.component.html
  src/app/components/tools/tools-compare-page.component.scss
  src/app/components/tools/tools-compare-page.component.ts
  src/app/components/training/training-workspace.component.html
  src/app/components/training/training-workspace.component.scss
  src/app/components/training/training-workspace.component.spec.ts
  src/app/components/user-settings/user-settings.component.html
  src/app/components/user-settings/user-settings.component.scss
  src/app/modules/shared.module.ts
Due: lint-angular

fix: tighten dashboard header spacing
  docs/frontend-ui.md
  src/app/components/shared/page-header/page-header.component.html
  src/app/components/shared/page-header/page-header.component.scss
  src/app/components/shared/page-header/page-header.component.spec.ts
  src/app/components/shared/page-header/page-header.component.ts
  src/app/components/summaries/summaries.component.html
Due: lint-angular

fix: align calendar header icon
  src/app/components/calendar/calendar-page/calendar-page.component.scss
Due: none

fix: make assistant retries idempotent
  functions/src/assistant/callable.spec.ts
  functions/src/assistant/callable.ts
  functions/src/assistant/conversation-store.spec.ts
  functions/src/assistant/conversation-store.ts
  shared/assistant-response.contract.ts
  shared/assistant.types.ts
  src/app/components/assistant/assistant-page.component.spec.ts
  src/app/components/assistant/assistant-page.component.ts
  src/app/services/assistant.service.spec.ts
  src/app/services/assistant.service.ts
  src/app/shared/assistant-response.contract.spec.ts
Due: lint-functions, lint-angular

fix: compact dashboard calendar sheet
  src/app/components/calendar/calendar-month-picker-bottom-sheet/calendar-month-picker-bottom-sheet.component.scss
  src/app/components/calendar/calendar-month-picker-bottom-sheet/calendar-month-picker-bottom-sheet.component.spec.ts
  src/app/components/summaries/summaries.component.spec.ts
  src/app/components/summaries/summaries.component.ts
  src/styles.scss
Due: lint-angular

fix: preserve assistant retries at quota limits
  functions/src/assistant/callable.spec.ts
  functions/src/assistant/callable.ts
  functions/src/assistant/conversation-store.spec.ts
  functions/src/assistant/conversation-store.ts
Due: lint-functions

refactor: align workspace content widths
  docs/frontend-ui.md
  docs/training-workspace.md
  src/app/components/calendar/calendar-page/calendar-page.component.html
  src/app/components/calendar/calendar-page/calendar-page.component.scss
  src/app/components/dashboard/dashboard.component.html
  src/app/components/dashboard/dashboard.component.scss
  src/app/components/routes/route-detail/route-detail.component.html
  src/app/components/routes/route-detail/route-detail.component.scss
  src/app/components/routes/route-detail/route-detail.component.spec.ts
  src/app/components/routes/routes-page.component.html
  src/app/components/routes/routes-page.component.scss
  src/app/components/tools/tools-compare-page.component.html
  src/app/components/tools/tools-compare-page.component.scss
  src/app/components/training/training-workspace.component.html
  src/app/components/training/training-workspace.component.scss
  src/app/components/user-settings/user-settings.component.html
  src/app/components/user-settings/user-settings.component.scss
  src/app/components/user-settings/user-settings.component.spec.ts
  src/app/workspace-layout.spec.ts
  src/styles.scss
Due: lint-angular

docs: require shared workspace shells
  src/AGENTS.md
Due: none

refactor: flatten event details surface
  src/app/components/event-summary/event-summary.component.html
  src/app/components/event-summary/event-summary.component.scss
  src/app/components/event-summary/event-summary.component.spec.ts
  src/app/components/event/event.card.component.html
  src/app/components/event/event.card.component.scss
  src/app/workspace-layout.spec.ts
Due: lint-angular

fix: restore settings form width
  docs/frontend-ui.md
  docs/training-workspace.md
  src/AGENTS.md
  src/app/components/user-settings/user-settings.component.html
  src/app/components/user-settings/user-settings.component.scss
  src/app/components/user-settings/user-settings.component.spec.ts
  src/app/workspace-layout.spec.ts
Due: lint-angular

fix: tighten event summary top spacing
  src/app/components/event-summary/event-summary.component.scss
  src/app/components/event-summary/event-summary.component.spec.ts
  src/app/components/shared/summary-primary-info/summary-primary-info.component.scss
  src/app/components/shared/summary-primary-info/summary-primary-info.component.spec.ts
Due: lint-angular

fix: recover interrupted assistant answers
  docs/assistant.md
  functions/src/assistant/callable.spec.ts
  functions/src/assistant/callable.ts
  src/app/components/assistant/assistant-page.component.spec.ts
  src/app/components/assistant/assistant-page.component.ts
Due: lint-functions, lint-angular

fix: explain missing durability output
  docs/training-workspace.md
  src/app/components/event/event.card.component.html
  src/app/components/event/event.card.component.spec.ts
  src/app/components/event/event.card.component.ts
  src/app/components/event/performance-charts/event.performance-charts.component.css
  src/app/components/event/performance-charts/event.performance-charts.component.html
  src/app/components/event/performance-charts/event.performance-charts.component.spec.ts
  src/app/components/event/performance-charts/event.performance-charts.component.ts
  src/app/services/performance-curve-data.service.spec.ts
  src/app/services/performance-curve-data.service.ts
Due: lint-angular

fix: format assistant evidence timestamps
  shared/assistant-evidence-display.ts
  src/app/services/assistant.service.spec.ts
Due: lint-angular

fix: block assistant input until conversation loads
  src/app/components/assistant/assistant-page.component.html
  src/app/components/assistant/assistant-page.component.scss
  src/app/components/assistant/assistant-page.component.spec.ts
  src/app/components/assistant/assistant-page.component.ts
Due: lint-angular

feat: sort jump tables locally
  src/app/components/event/jumps/event.card.jumps.component.html
  src/app/components/event/jumps/event.card.jumps.component.spec.ts
  src/app/components/event/jumps/event.card.jumps.component.ts
Due: lint-angular

chore: update font sources
  package-lock.json
  package.json
Due: none

fix: rank MTB jumps through shared MCP workflow
  docs/assistant.md
  docs/mcp-server.md
  functions/src/assistant/mcp-session.spec.ts
  functions/src/mcp/contracts/pending-change.json
  functions/src/mcp/data.service.spec.ts
  functions/src/mcp/data.service.ts
  functions/src/mcp/server.spec.ts
  functions/src/mcp/server.ts
  functions/src/mcp/tool-output-schemas.spec.ts
  plugins/quantified-self/skills/analyze-quantified-self-activity/SKILL.md
  shared/assistant.prompts.ts
  src/app/components/public-seo/public-seo-pages.content.spec.ts
  src/app/components/public-seo/public-seo-pages.content.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/app/shared/policies.content.spec.ts
  src/app/shared/policies.content.ts
  src/firebase-hosting.config.spec.ts
  src/sitemap.xml
  tools/quantified-self-plugin/plugin-tool.test.mjs
Due: lint-functions, lint-angular

fix: keep compact calendar today marker round
  src/app/components/calendar/activity-calendar-grid/activity-calendar-grid.component.scss
  src/app/components/calendar/activity-calendar-grid/activity-calendar-grid.component.spec.ts
Due: lint-angular

fix: optically center calendar today number
  src/app/components/calendar/activity-calendar-grid/activity-calendar-grid.component.html
  src/app/components/calendar/activity-calendar-grid/activity-calendar-grid.component.scss
  src/app/components/calendar/activity-calendar-grid/activity-calendar-grid.component.spec.ts
Due: lint-angular

fix: centralize activity group ranking
  docs/assistant.md
  docs/mcp-server.md
  functions/src/assistant/mcp-session.spec.ts
  functions/src/assistant/runtime.spec.ts
  functions/src/mcp/contracts/pending-change.json
  functions/src/mcp/data.service.spec.ts
  functions/src/mcp/data.service.ts
  functions/src/mcp/server.spec.ts
  functions/src/mcp/server.ts
  functions/src/mcp/tool-output-schemas.spec.ts
  functions/src/test-setup.ts
  plugins/quantified-self/skills/analyze-quantified-self-activity/SKILL.md
  shared/assistant.prompts.ts
  src/app/components/public-seo/public-seo-pages.content.ts
  src/app/shared/help.content.ts
  src/app/shared/policies.content.ts
  tools/quantified-self-plugin/plugin-tool.test.mjs
Due: lint-functions, lint-angular

fix: harden function credential ignores
  functions/.gitignore
  functions/src/deployment-secret-safety.spec.ts
Due: lint-functions

chore: add credential leak guards
  .github/workflows/_run-tests.yml
  README.md
  docs/function-secret-management.md
  lefthook.yml
  package.json
  tools/check-staged-credential-files.mjs
  tools/check-staged-credential-files.test.mjs
Due: none

fix: remove tracked localhost certificate key
  .gitignore
  README.md
  certs/localhost.crt
  certs/localhost.key
Due: none

fix: ground ranked activity dates
  docs/assistant.md
  docs/mcp-server.md
  functions/src/assistant/evidence.spec.ts
  functions/src/assistant/evidence.ts
  functions/src/assistant/runtime.spec.ts
  functions/src/assistant/runtime.ts
  functions/src/mcp/contracts/pending-change.json
  functions/src/mcp/data.service.spec.ts
  functions/src/mcp/data.service.ts
  functions/src/mcp/server.spec.ts
  functions/src/mcp/server.ts
  functions/src/mcp/tool-output-schemas.spec.ts
  functions/src/mcp/tool-output-schemas.ts
  plugins/quantified-self/skills/analyze-quantified-self-activity/SKILL.md
  shared/assistant.prompts.ts
Due: lint-functions

fix: replace assistant send spinner
  src/app/components/assistant/assistant-page.component.html
  src/app/components/assistant/assistant-page.component.spec.ts
Due: lint-angular

fix: refine assistant evidence cards
  src/app/components/assistant/assistant-page.component.html
  src/app/components/assistant/assistant-page.component.scss
  src/app/components/assistant/assistant-page.component.spec.ts
Due: lint-angular

fix: center assistant progress spinner
  src/app/components/assistant/assistant-page.component.html
  src/app/components/assistant/assistant-page.component.scss
  src/app/components/assistant/assistant-page.component.spec.ts
Due: lint-angular

feat: add opt-in Assistant activity locations
  docs/assistant.md
  docs/mcp-server.md
  firestore.indexes.json
  functions/src/assistant/callable.spec.ts
  functions/src/assistant/callable.ts
  functions/src/assistant/conversation-store.spec.ts
  functions/src/assistant/conversation-store.ts
  functions/src/assistant/evidence.spec.ts
  functions/src/assistant/mcp-session.spec.ts
  functions/src/assistant/mcp-session.ts
  functions/src/assistant/runtime.spec.ts
  functions/src/assistant/runtime.ts
  functions/src/firestore-indexes.spec.ts
  shared/assistant.types.ts
  src/app/components/assistant/assistant-explore-bottom-sheet.component.html
  src/app/components/assistant/assistant-explore-bottom-sheet.component.scss
  src/app/components/assistant/assistant-explore-bottom-sheet.component.spec.ts
  src/app/components/assistant/assistant-explore-bottom-sheet.component.ts
  src/app/components/assistant/assistant-page.component.html
  src/app/components/assistant/assistant-page.component.scss
  src/app/components/assistant/assistant-page.component.spec.ts
  src/app/components/assistant/assistant-page.component.ts
  src/app/components/help/help-page.component.spec.ts
  src/app/components/public-seo/public-seo-pages.content.spec.ts
  src/app/components/public-seo/public-seo-pages.content.ts
  src/app/services/assistant.service.spec.ts
  src/app/services/assistant.service.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/app/shared/policies.content.spec.ts
  src/app/shared/policies.content.ts
Due: lint-functions, lint-angular

fix: harden Assistant location review findings
  functions/src/assistant/callable.spec.ts
  src/app/components/assistant/assistant-page.component.scss
  src/app/components/assistant/assistant-page.component.spec.ts
Due: lint-functions, lint-angular

fix: refine Assistant evidence relevance
  functions/src/assistant/evidence.spec.ts
  functions/src/assistant/evidence.ts
  functions/src/assistant/runtime.spec.ts
  shared/assistant-evidence-display.ts
  src/app/services/assistant.service.spec.ts
Due: lint-functions, lint-angular

feat: add deterministic assistant charts and maps
  docs/assistant.md
  docs/mcp-server.md
  docs/training-workspace.md
  functions/src/assistant/callable.spec.ts
  functions/src/assistant/callable.ts
  functions/src/assistant/mcp-session.spec.ts
  functions/src/assistant/mcp-session.ts
  functions/src/assistant/runtime.spec.ts
  functions/src/assistant/runtime.ts
  functions/src/assistant/visuals.spec.ts
  functions/src/assistant/visuals.ts
  shared/assistant-response.contract.ts
  shared/assistant.types.ts
  src/app/components/assistant/assistant-page.component.html
  src/app/components/assistant/assistant-page.component.scss
  src/app/components/assistant/assistant-page.component.spec.ts
  src/app/components/assistant/assistant-page.component.ts
  src/app/components/assistant/assistant-visual-chart.component.spec.ts
  src/app/components/assistant/assistant-visual-chart.component.ts
  src/app/components/assistant/assistant-visual-detail.component.ts
  src/app/components/assistant/assistant-visual-map.component.spec.ts
  src/app/components/assistant/assistant-visual-map.component.ts
  src/app/components/help/help-page.component.spec.ts
  src/app/components/policies/policies.component.spec.ts
  src/app/components/public-seo/public-seo-pages.content.spec.ts
  src/app/components/public-seo/public-seo-pages.content.ts
  src/app/services/map/track-map.manager.spec.ts
  src/app/services/map/track-map.manager.ts
  src/app/shared/assistant-response.contract.spec.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/app/shared/policies.content.spec.ts
  src/app/shared/policies.content.ts
Due: lint-functions, lint-angular

fix: harden assistant visual answers
  docs/assistant.md
  functions/src/assistant/conversation-store.spec.ts
  functions/src/assistant/conversation-store.ts
  functions/src/assistant/mcp-session.spec.ts
  functions/src/assistant/mcp-session.ts
  functions/src/assistant/runtime.spec.ts
  functions/src/assistant/runtime.ts
  functions/src/assistant/visuals.spec.ts
  functions/src/assistant/visuals.ts
  src/app/components/assistant/assistant-explore-bottom-sheet.component.html
  src/app/components/assistant/assistant-page.component.html
  src/app/components/assistant/assistant-page.component.spec.ts
  src/app/components/assistant/assistant-page.component.ts
  src/app/components/assistant/assistant-visual-chart.component.html
  src/app/components/assistant/assistant-visual-chart.component.scss
  src/app/components/assistant/assistant-visual-chart.component.ts
  src/app/components/assistant/assistant-visual-detail.component.html
  src/app/components/assistant/assistant-visual-detail.component.scss
  src/app/components/assistant/assistant-visual-detail.component.ts
  src/app/components/assistant/assistant-visual-map.component.html
  src/app/components/assistant/assistant-visual-map.component.scss
  src/app/components/assistant/assistant-visual-map.component.spec.ts
  src/app/components/assistant/assistant-visual-map.component.ts
  src/app/services/map/track-map.manager.spec.ts
  src/app/services/map/track-map.manager.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

Path conditions:
  lint-functions: any of: **/*.{ts,js} and ^functions/
  lint-angular: any of: {src/*.{ts,html},src/**/*.{ts,html}}
