Repository jimmykane/quantified-self: changes, and which lefthook commands are due for each by the changed paths.
All: lint-functions, lint-angular

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint-functions:
      root: "functions"
      glob: "**/*.{ts,js}"
      run: npx eslint {staged_files} --fix && git add {staged_files}
    lint-angular:
      glob: "{src/*.{ts,html},src/**/*.{ts,html}}"
      run: ESLINT_USE_FLAT_CONFIG=false npx eslint {staged_files} --fix && git add {staged_files}

fix: restore source privacy on share retry failure
  functions/src/events/set-event-sharing.spec.ts
  functions/src/events/set-event-sharing.ts
Due: lint-functions

fix: harden shared reports and stale cleanup
  functions/src/events/cleanup.spec.ts
  functions/src/events/cleanup.ts
  src/app/components/event/event.card.component.spec.ts
  src/app/components/event/event.card.component.ts
Due: lint-functions, lint-angular

fix: guard stale event cleanup artifacts
  functions/src/events/cleanup.spec.ts
  functions/src/events/cleanup.ts
  functions/src/events/create-tool-comparison-event.spec.ts
  functions/src/events/create-tool-comparison-event.ts
  functions/src/events/merge-events.spec.ts
  functions/src/events/merge-events.ts
  functions/src/events/upload-activity.spec.ts
  functions/src/events/upload-activity.ts
  functions/src/shared/event-writer.spec.ts
  functions/src/shared/event-writer.ts
  functions/src/utils.ts
  shared/app-event.interface.ts
Due: lint-functions

fix: clean legacy event source files safely
  functions/src/events/cleanup.spec.ts
  functions/src/events/cleanup.ts
Due: lint-functions

fix: avoid private metadata reads on shared summaries
  src/app/components/event-summary/event-summary.component.html
  src/app/components/event-summary/event-summary.component.spec.ts
  src/app/components/event-summary/event-summary.component.ts
  src/app/components/event-summary/service-source-icon/service-source-icon.component.spec.ts
  src/app/components/event-summary/service-source-icon/service-source-icon.component.ts
Due: lint-angular

fix: fail partial event cleanup invocations
  functions/src/events/cleanup.spec.ts
  functions/src/events/cleanup.ts
Due: lint-functions

fix: simplify event sharing storage access
  functions/src/events/cleanup.spec.ts
  functions/src/events/cleanup.ts
  functions/src/events/set-event-sharing.spec.ts
  functions/src/events/set-event-sharing.ts
  src/storage.rules.spec.ts
  storage.quantified-self-io.rules
Due: lint-functions, lint-angular

test(events): Add comprehensive tests for public event sharing validation
  functions/src/events/set-event-sharing.spec.ts
Due: lint-functions

feat(events): Implement server-side source file validation for public sharing
  functions/src/events/set-event-sharing.ts
Due: lint-functions

chore(storage): Update rules for public event sharing to include all folder contents
  storage.quantified-self-io.rules
Due: none

chore(release): Bump application version to 10.2.0
  package.json
Due: none

feat(ui): Clarify public sharing messaging to include all event folder files
  src/app/components/event-actions/event.actions.component.spec.ts
  src/app/components/event-actions/event.actions.component.ts
  src/app/components/tools/tools-compare-page.component.spec.ts
  src/app/components/tools/tools-compare-page.component.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

chore: emu fix
  functions/src/admin/handlers/users.handlers.ts
  functions/src/admin/test-utils/admin-test-harness.ts
  functions/src/admin/user-count.handlers.spec.ts
Due: lint-functions

feat: improve admin dashboard overview
  functions/src/admin/handlers/users.handlers.ts
  functions/src/admin/shared/types.ts
  functions/src/admin/user-count.handlers.spec.ts
  functions/src/admin/users.handlers.spec.ts
  src/app/components/admin/admin-dashboard/admin-dashboard.component.html
  src/app/components/admin/admin-dashboard/admin-dashboard.component.scss
  src/app/components/admin/admin-dashboard/admin-dashboard.component.spec.ts
  src/app/components/admin/admin-dashboard/admin-dashboard.component.ts
  src/app/helpers/admin-dashboard-summary.helper.spec.ts
  src/app/helpers/admin-dashboard-summary.helper.ts
  src/app/services/admin.service.ts
Due: lint-functions, lint-angular

fix: tolerate post-enqueue dispatch marker contention
  functions/src/queue.spec.ts
  functions/src/queue.ts
Due: lint-functions

fix: use reparse job backlog in admin dashboard
  src/app/helpers/admin-dashboard-summary.helper.spec.ts
  src/app/helpers/admin-dashboard-summary.helper.ts
Due: lint-angular

fix: avoid flagging active queues as issues
  src/app/helpers/admin-dashboard-summary.helper.spec.ts
  src/app/helpers/admin-dashboard-summary.helper.ts
Due: lint-angular

fix: preserve changelog admin mode from dashboard
  src/app/components/admin/admin-dashboard/admin-dashboard.component.spec.ts
  src/app/components/admin/admin-dashboard/admin-dashboard.component.ts
Due: lint-angular

fix: scope changelog admin mode requests
  src/app/app.server.providers.ts
  src/app/components/admin/admin-changelog/admin-changelog.component.spec.ts
  src/app/components/admin/admin-changelog/admin-changelog.component.ts
  src/app/components/admin/admin-dashboard/admin-dashboard.component.spec.ts
  src/app/components/admin/admin-dashboard/admin-dashboard.component.ts
  src/app/services/app.whats-new.service.spec.ts
  src/app/services/app.whats-new.service.ts
Due: lint-angular

fix: derive paid lifecycle counts from subscriptions
  functions/src/admin/handlers/users.handlers.ts
  functions/src/admin/users.handlers.spec.ts
Due: lint-functions

fix: reuse post-enqueue marker retry in scheduler
  functions/src/queue.spec.ts
  functions/src/queue.ts
Due: lint-functions

fix: filter paid history subscription statuses
  functions/src/admin/handlers/users.handlers.ts
  functions/src/admin/users.handlers.spec.ts
Due: lint-functions

feat: show reparse queue enabled state
  functions/src/admin/handlers/queues.handlers.ts
  functions/src/admin/queues.handlers.spec.ts
  functions/src/admin/test-utils/admin-test-harness.ts
  functions/src/shared/cloud-tasks.spec.ts
  functions/src/shared/cloud-tasks.ts
  functions/src/utils.ts
  shared/admin-queue-stats.ts
  src/app/helpers/admin-dashboard-summary.helper.spec.ts
  src/app/helpers/admin-dashboard-summary.helper.ts
Due: lint-functions, lint-angular

feat: add KPI detail explanations
  src/app/components/charts/kpi/charts.kpi.component.css
  src/app/components/charts/kpi/charts.kpi.component.html
  src/app/components/charts/kpi/charts.kpi.component.spec.ts
  src/app/components/charts/kpi/charts.kpi.component.ts
  src/app/helpers/dashboard-kpi-explanation.helper.spec.ts
  src/app/helpers/dashboard-kpi-explanation.helper.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

feat: add dashboard power curve tile
  functions/src/ai/insights/execute-query.ts
  shared/power-curve.ts
  src/app/components/charts/kpi/charts.kpi.component.css
  src/app/components/charts/kpi/charts.kpi.component.html
  src/app/components/charts/kpi/charts.kpi.component.spec.ts
  src/app/components/charts/kpi/charts.kpi.component.ts
  src/app/components/charts/power-curve/charts.power-curve.component.css
  src/app/components/charts/power-curve/charts.power-curve.component.html
  src/app/components/charts/power-curve/charts.power-curve.component.spec.ts
  src/app/components/charts/power-curve/charts.power-curve.component.ts
  src/app/components/summaries/dashboard-manager-dialog/dashboard-manager-dialog.component.spec.ts
  src/app/components/summaries/dashboard-manager-dialog/dashboard-manager-dialog.component.ts
  src/app/components/summaries/summaries.component.html
  src/app/components/summaries/summaries.component.spec.ts
  src/app/components/summaries/summaries.component.ts
  src/app/components/tile/chart/tile.chart.component.html
  src/app/components/tile/chart/tile.chart.component.spec.ts
  src/app/components/tile/chart/tile.chart.component.ts
  src/app/helpers/dashboard-auto-tile.helper.ts
  src/app/helpers/dashboard-chart-info.helper.ts
  src/app/helpers/dashboard-manager-presets.helper.ts
  src/app/helpers/dashboard-power-curve.helper.spec.ts
  src/app/helpers/dashboard-power-curve.helper.ts
  src/app/helpers/dashboard-special-chart-types.spec.ts
  src/app/helpers/dashboard-special-chart-types.ts
  src/app/helpers/dashboard-tile-view-model.helper.spec.ts
  src/app/helpers/dashboard-tile-view-model.helper.ts
  src/app/helpers/power-curve.shared.spec.ts
  src/app/models/app-user.interface.ts
  src/app/modules/app-charts.module.ts
  src/app/services/app.event.service.spec.ts
  src/app/services/app.event.service.ts
  src/app/services/dashboard-auto-tile.service.spec.ts
  src/app/services/dashboard-auto-tile.service.ts
  src/app/services/performance-curve-data.service.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/app/utils/app.user.utilities.spec.ts
  src/app/utils/app.user.utilities.ts
Due: lint-functions, lint-angular

chore: clean up dashboard lint warnings
  src/app/components/summaries/dashboard-manager-dialog/dashboard-manager-dialog.component.ts
  src/app/components/summaries/summaries.component.ts
  src/app/services/app.event.service.ts
Due: lint-angular

feat: support GPX tracks as saved routes
  functions/src/routes/reprocess-route.spec.ts
  functions/src/routes/route-processing.ts
  functions/src/routes/upload-route.spec.ts
  functions/src/shared/parsing-options.spec.ts
  shared/parsing-options.ts
  src/app/components/public-seo/public-seo-pages.content.spec.ts
  src/app/components/public-seo/public-seo-pages.content.ts
  src/app/components/upload/upload-routes/upload-routes.component.ts
  src/app/services/app.route-hydration.service.spec.ts
  src/app/services/app.route-upload.service.spec.ts
  src/app/services/app.route-upload.service.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

chore: bump sports-lib to 16.2.1
  functions/package-lock.json
  functions/package.json
  package-lock.json
  package.json
Due: none

fix: clamp power curve durations to activity length
  functions/src/ai/insights/execute-query.spec.ts
  functions/src/ai/insights/execute-query.ts
  shared/power-curve.ts
  src/app/app.routing.module.spec.ts
  src/app/helpers/dashboard-manager-presets.helper.spec.ts
  src/app/helpers/dashboard-power-curve.helper.spec.ts
  src/app/helpers/dashboard-power-curve.helper.ts
  src/app/helpers/power-curve.shared.spec.ts
  src/app/services/performance-curve-data.service.spec.ts
  src/app/services/performance-curve-data.service.ts
Due: lint-functions, lint-angular

feat: add scoped dashboard power curve tiles
  firestore.indexes.json
  functions/src/firestore-indexes.spec.ts
  src/app/components/charts/power-curve/charts.power-curve.component.html
  src/app/components/charts/power-curve/charts.power-curve.component.spec.ts
  src/app/components/charts/power-curve/charts.power-curve.component.ts
  src/app/components/summaries/dashboard-manager-dialog/dashboard-manager-dialog.component.spec.ts
  src/app/components/summaries/dashboard-manager-dialog/dashboard-manager-dialog.component.ts
  src/app/components/summaries/summaries.component.html
  src/app/components/summaries/summaries.component.spec.ts
  src/app/components/tile/chart/tile.chart.component.html
  src/app/components/tile/chart/tile.chart.component.spec.ts
  src/app/components/tile/chart/tile.chart.component.ts
  src/app/helpers/dashboard-auto-tile.helper.spec.ts
  src/app/helpers/dashboard-auto-tile.helper.ts
  src/app/helpers/dashboard-chart-info.helper.ts
  src/app/helpers/dashboard-manager-presets.helper.spec.ts
  src/app/helpers/dashboard-manager-presets.helper.ts
  src/app/helpers/dashboard-power-curve-scope.helper.spec.ts
  src/app/helpers/dashboard-power-curve-scope.helper.ts
  src/app/helpers/dashboard-power-curve.helper.spec.ts
  src/app/helpers/dashboard-power-curve.helper.ts
  src/app/helpers/dashboard-tile-view-model.helper.spec.ts
  src/app/helpers/dashboard-tile-view-model.helper.ts
  src/app/models/app-user.interface.ts
  src/app/services/app.event.service.spec.ts
  src/app/services/app.event.service.ts
  src/app/services/dashboard-auto-tile.service.spec.ts
  src/app/services/dashboard-auto-tile.service.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/app/utils/app.user.utilities.spec.ts
  src/app/utils/app.user.utilities.ts
Due: lint-functions, lint-angular

chore: fixes
  firestore.indexes.json
  src/app/firebase/firestore.ts
  src/app/services/app.event.service.spec.ts
  src/app/services/app.event.service.ts
Due: lint-angular

fix: polish dashboard chart rendering
  src/app/components/charts/kpi/charts.kpi.component.css
  src/app/components/charts/kpi/charts.kpi.component.spec.ts
  src/app/components/charts/kpi/charts.kpi.component.ts
  src/app/components/charts/power-curve/charts.power-curve.component.css
  src/app/components/charts/power-curve/charts.power-curve.component.html
  src/app/components/charts/power-curve/charts.power-curve.component.spec.ts
  src/app/components/charts/power-curve/charts.power-curve.component.ts
  src/app/components/summaries/dashboard-manager-dialog/dashboard-manager-dialog.component.spec.ts
  src/app/components/summaries/dashboard-manager-dialog/dashboard-manager-dialog.component.ts
Due: lint-angular

fix: align power curve chip typography
  src/app/components/charts/power-curve/charts.power-curve.component.css
Due: none

fix: simplify power curve tile controls
  src/app/components/charts/power-curve/charts.power-curve.component.css
  src/app/components/charts/power-curve/charts.power-curve.component.html
  src/app/components/charts/power-curve/charts.power-curve.component.spec.ts
  src/app/components/charts/power-curve/charts.power-curve.component.ts
  src/app/components/tile/chart/tile.chart.component.html
  src/app/components/tile/chart/tile.chart.component.spec.ts
  src/app/components/tile/chart/tile.chart.component.ts
  src/app/components/tile/event-filters/dashboard-tile-event-filters.component.html
  src/app/components/tile/event-filters/dashboard-tile-event-filters.component.ts
Due: lint-angular

fix: clarify Suunto route resend copies
  src/app/components/routes/route-detail/route-detail.component.html
  src/app/components/routes/route-detail/route-detail.component.spec.ts
  src/app/components/routes/route-detail/route-detail.component.ts
  src/app/components/routes/routes-page.component.html
  src/app/components/routes/routes-page.component.spec.ts
  src/app/components/routes/routes-page.component.ts
  src/app/helpers/route-provenance.helper.spec.ts
  src/app/helpers/route-provenance.helper.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: preserve ai insights activity aliases
  functions/src/ai/insights/execute-query.spec.ts
  functions/src/ai/insights/execute-query.ts
Due: lint-functions

feat: group dashboard tiles by intent sections
  src/app/components/summaries/summaries.component.css
  src/app/components/summaries/summaries.component.html
  src/app/components/summaries/summaries.component.spec.ts
  src/app/components/summaries/summaries.component.ts
  src/app/components/tile/actions/chart/tile.chart.actions.component.spec.ts
  src/app/components/tile/actions/map/tile.map.actions.component.spec.ts
  src/app/components/tile/actions/tile-actions-abstract.directive.ts
  src/app/helpers/dashboard-tile-section.helper.spec.ts
  src/app/helpers/dashboard-tile-section.helper.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: compact sparse dashboard sections
  src/app/components/summaries/summaries.component.html
  src/app/components/summaries/summaries.component.spec.ts
  src/app/components/summaries/summaries.component.ts
Due: lint-angular

test: update route preview route mocks
  functions/src/routes/reprocess-route.spec.ts
  functions/src/routes/upload-route.spec.ts
Due: lint-functions
