Repository jimmykane/quantified-self: changes, and which lefthook commands are due for each by the changed paths.
All: lint-functions, lint-angular

lint-functions:
  run: npx eslint {staged_files} --fix && git add {staged_files}

lint-angular:
  run: ESLINT_USE_FLAT_CONFIG=false npx eslint {staged_files} --fix && git add {staged_files}

fix: remove license details from UI
  src/app/components/public-footer/public-footer.component.html
  src/app/components/public-footer/public-footer.component.spec.ts
  src/app/components/public-footer/public-footer.component.ts
  src/app/components/sidenav/sidenav.component.html
  src/app/components/sidenav/sidenav.component.spec.ts
  src/app/components/sidenav/sidenav.component.ts
Due: lint-angular

fix: retain license details in footer
  src/app/components/public-footer/public-footer.component.html
  src/app/components/public-footer/public-footer.component.spec.ts
  src/app/components/public-footer/public-footer.component.ts
Due: lint-angular

feat: showcase trip detection on activity map
  src/app/components/home/home-my-tracks-preview.component.html
  src/app/components/home/home-my-tracks-preview.component.scss
  src/app/components/home/home-my-tracks-preview.component.spec.ts
  src/app/components/home/home-my-tracks-preview.component.ts
  src/app/components/home/home-my-tracks-preview.data.ts
  src/app/components/public-seo/public-seo-pages.content.spec.ts
  src/app/components/public-seo/public-seo-pages.content.ts
  src/app/components/shared/my-tracks-trips-panel/my-tracks-trips-panel.component.html
  src/app/components/shared/my-tracks-trips-panel/my-tracks-trips-panel.component.scss
  src/app/components/shared/my-tracks-trips-panel/my-tracks-trips-panel.component.spec.ts
  src/app/components/shared/my-tracks-trips-panel/my-tracks-trips-panel.component.ts
  src/app/components/tracks/tracks.component.html
  src/app/components/tracks/tracks.component.scss
  src/app/components/tracks/tracks.component.spec.ts
  src/app/components/tracks/tracks.component.ts
  src/app/modules/shared.module.ts
Due: lint-angular

test: align route metadata expectations
  src/app/app.routing.module.spec.ts
Due: lint-angular

fix: harden activity map preview interactions
  src/app/components/home/home-my-tracks-preview.component.html
  src/app/components/home/home-my-tracks-preview.component.spec.ts
  src/app/components/home/home-my-tracks-preview.component.ts
  src/app/components/shared/my-tracks-trips-panel/my-tracks-trips-panel.component.html
  src/app/components/shared/my-tracks-trips-panel/my-tracks-trips-panel.component.spec.ts
Due: lint-angular

test: align activity map route metadata
  src/app/app.routing.module.spec.ts
Due: lint-angular

fix: remove footer warranty disclaimer
  src/app/components/public-footer/public-footer.component.html
  src/app/components/public-footer/public-footer.component.spec.ts
Due: lint-angular

refactor: use compact rows on public feature pages
  src/app/components/public-seo/public-seo-page.component.html
  src/app/components/public-seo/public-seo-page.component.scss
  src/app/components/public-seo/public-seo-page.component.spec.ts
  src/app/components/public-seo/public-seo-page.component.ts
Due: lint-angular

test: cover compact rows across public features
  src/app/components/public-seo/public-seo-page.component.spec.ts
Due: lint-angular

test: align public route metadata expectations
  src/app/app.routing.module.spec.ts
Due: lint-angular

fix: tighten mobile MCP flow preview
  src/app/components/shared/mcp-read-only-flow-preview/mcp-read-only-flow-preview.component.html
  src/app/components/shared/mcp-read-only-flow-preview/mcp-read-only-flow-preview.component.scss
Due: lint-angular

fix: close training planning review findings
  shared/planned-workout.ts
  src/app/components/calendar/activity-calendar-tile/activity-calendar-tile.component.ts
  src/app/components/calendar/calendar-page/calendar-page.component.ts
  src/app/components/plans/plans-workspace.component.html
  src/app/components/plans/plans-workspace.component.spec.ts
  src/app/components/plans/plans-workspace.component.ts
  src/app/helpers/planned-workout-calendar.helper.spec.ts
  src/app/helpers/planned-workout-calendar.helper.ts
  src/app/helpers/planned-workout.shared.spec.ts
Due: lint-angular

fix: collapse trips panel on mobile
  src/app/components/home/home-my-tracks-preview.component.ts
  src/app/components/tracks/tracks.component.spec.ts
  src/app/components/tracks/tracks.component.ts
Due: lint-angular

feat: color Health metric charts
  src/app/components/health/health-metric-chart.component.spec.ts
  src/app/components/health/health-metric-series-chart.component.spec.ts
  src/app/helpers/health-metric-chart.helper.spec.ts
  src/app/helpers/health-metric-chart.helper.ts
  src/app/helpers/health-workspace.helper.ts
  src/app/services/color/app.data.colors.ts
Due: lint-angular

refactor: align homepage training cta
  src/app/components/home/home.component.html
  src/app/components/home/home.component.scss
  src/app/components/home/home.component.spec.ts
Due: lint-angular

fix: remove duplicate training divider
  src/app/components/home/home.component.html
  src/app/components/home/home.component.spec.ts
Due: lint-angular

refactor: flatten public chart previews
  src/app/components/home/home-signal-charts-preview.component.scss
  src/app/components/home/home-workout-preview.component.scss
  src/app/components/shared/reviewer-benchmark-preview/reviewer-benchmark-preview.component.scss
Due: none

feat: grade Suunto recovery balance
  src/app/helpers/health-metric-chart.helper.spec.ts
  src/app/helpers/health-metric-chart.helper.ts
  src/app/helpers/health-workspace.helper.spec.ts
  src/app/helpers/health-workspace.helper.ts
  src/app/services/color/app.data.colors.ts
Due: lint-angular

feat: grade Garmin body battery
  src/app/helpers/health-metric-chart.helper.spec.ts
  src/app/helpers/health-metric-chart.helper.ts
  src/app/helpers/health-workspace.helper.spec.ts
  src/app/helpers/health-workspace.helper.ts
  src/app/services/color/app.data.colors.ts
Due: lint-angular

feat: gate plans navigation by uid
  shared/training-planning-rollout.ts
  src/app/components/sidenav/sidenav.component.html
  src/app/components/sidenav/sidenav.component.spec.ts
  src/app/components/sidenav/sidenav.component.ts
Due: lint-angular

fix: remove event activity types shortcut
  src/app/components/event-summary/event-summary.component.html
  src/app/components/event-summary/event-summary.component.spec.ts
Due: lint-angular

fix: remove remote config startup logo
  src/app/app-shell.component.html
  src/app/app-shell.component.scss
  src/app/app-shell.component.spec.ts
  src/app/app-shell.component.ts
Due: lint-angular

fix: stabilize lap column selection
  src/app/components/event/laps/event.card.laps.component.spec.ts
  src/app/components/event/laps/event.card.laps.component.ts
Due: lint-angular

fix: schedule Wahoo activity status polls
  docs/provider-integration-guide.md
  docs/wahoo-integration.md
  functions/src/activity-sync/dispatcher.spec.ts
  functions/src/activity-sync/dispatcher.ts
  functions/src/activity-sync/process-queue-item.spec.ts
  functions/src/activity-sync/process-queue-item.ts
  functions/src/tasks/activity-sync-worker.spec.ts
  functions/src/tasks/activity-sync-worker.ts
Due: lint-functions

fix: preserve activity sync scan page size
  functions/src/activity-sync/dispatcher.spec.ts
  functions/src/activity-sync/dispatcher.ts
Due: lint-functions

fix: exclude deleted users from projection dry run
  functions/src/scripts/backfill-service-connection-account-projections.spec.ts
  functions/src/scripts/backfill-service-connection-account-projections.ts
Due: lint-functions

fix: bound oversized connection projections
  functions/src/service-connection-account-projection.spec.ts
  functions/src/service-connection-account-projection.ts
Due: lint-functions

feat: add selected laps summaries
  src/app/components/event/laps/event.card.laps.component.css
  src/app/components/event/laps/event.card.laps.component.html
  src/app/components/event/laps/event.card.laps.component.spec.ts
  src/app/components/event/laps/event.card.laps.component.ts
  src/app/helpers/event-lap-table-columns.helper.spec.ts
  src/app/helpers/event-lap-table-columns.helper.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: align selected lap footer metrics
  src/app/components/event/laps/event.card.laps.component.css
  src/app/components/event/laps/event.card.laps.component.spec.ts
Due: lint-angular

refactor: remove provider credential read fallback
  docs/coros-integration.md
  docs/garmin-integration.md
  docs/provider-integration-guide.md
  docs/suunto-integration.md
  firestore.rules
  src/app/services/app.user.service.spec.ts
  src/app/services/app.user.service.ts
  src/firestore.rules.spec.ts
Due: lint-angular

fix: compact Health history actions
  src/app/components/health/health-workspace.component.html
  src/app/components/health/health-workspace.component.scss
  src/app/components/health/health-workspace.component.spec.ts
  src/app/components/health/health-workspace.component.ts
Due: lint-angular

fix: use Firestore field path for VO2 max
  functions/src/health/activity-query.spec.ts
  functions/src/health/activity-query.ts
Due: lint-functions

feat: add Health metric icons
  src/app/components/health/health-workspace.component.html
  src/app/components/health/health-workspace.component.scss
  src/app/components/health/health-workspace.component.spec.ts
  src/app/components/health/health-workspace.component.ts
  src/app/helpers/health-metric-icon.helper.spec.ts
  src/app/helpers/health-metric-icon.helper.ts
Due: lint-angular

fix: recover Suunto OAuth from empty disconnect leases
  docs/provider-integration-guide.md
  functions/src/OAuth2.spec.ts
  functions/src/OAuth2.ts
  functions/src/suunto/auth/wrapper.spec.ts
  functions/src/suunto/auth/wrapper.ts
  src/app/components/services/services-abstract-component.directive.ts
  src/app/components/services/suunto/services.suunto.component.spec.ts
Due: lint-functions, lint-angular

fix: expose provider OAuth lifecycle conflicts
  functions/src/coros/auth/wrapper.spec.ts
  functions/src/coros/auth/wrapper.ts
  functions/src/garmin/auth/wrapper.spec.ts
  functions/src/garmin/auth/wrapper.ts
  functions/src/wahoo/auth/wrapper.spec.ts
  functions/src/wahoo/auth/wrapper.ts
Due: lint-functions

chore: trace OAuth disconnect lifecycle
  docs/provider-integration-guide.md
  functions/src/OAuth2.spec.ts
  functions/src/OAuth2.ts
Due: lint-functions

fix: add safe MCP rejection diagnostics
  functions/src/mcp/oauth.service.ts
  functions/src/mcp/server.spec.ts
  functions/src/mcp/server.ts
Due: lint-functions

fix: handle OAuth callbacks without connect flag
  src/app/components/services/garmin/services.garmin.component.spec.ts
  src/app/components/services/services-abstract-component.directive.ts
  src/app/components/services/suunto/services.suunto.component.spec.ts
  src/app/components/services/suunto/services.suunto.component.ts
Due: lint-angular

Path conditions:
  lint-functions: any of: **/*.{ts,js} and ^functions/
  lint-angular: any of: {src/*.{ts,html},src/**/*.{ts,html}}
