Repository jimmykane/quantified-self: changes, and which lefthook commands are due for each by the changed paths.
All: lint-functions, lint-angular

lint-functions:
  run: npx eslint {staged_files} --fix && git add {staged_files}

lint-angular:
  run: ESLINT_USE_FLAT_CONFIG=false npx eslint {staged_files} --fix && git add {staged_files}

chore: improve clusters
  src/app/services/map/marker-factory.service.ts
Due: lint-angular

chore: improve devices
  src/app/components/event/devices/event.card.devices.component.css
  src/app/components/event/devices/event.card.devices.component.html
  src/app/components/event/devices/event.card.devices.component.ts
Due: lint-angular

chore: analytics for pricing component
  src/app/components/pricing/pricing.component.spec.ts
  src/app/components/pricing/pricing.component.ts
Due: lint-angular

chore: analytics
  src/app/components/pricing/pricing.component.spec.ts
  src/app/components/pricing/pricing.component.ts
  src/app/services/app.analytics.service.ts
Due: lint-angular

fix: run in injection context
  src/app/services/app.event.service.ts
Due: lint-angular

chore: again history import compoent fixes
  src/app/components/history-import-form/history-import.form.component.html
  src/app/components/history-import-form/history-import.form.component.spec.ts
  src/app/components/history-import-form/history-import.form.component.ts
Due: lint-angular

fix: injection context
  src/app/services/app.event.service.ts
Due: lint-angular

chore: history import improvements
  src/app/components/history-import-form/history-import.form.component.html
  src/app/components/history-import-form/history-import.form.component.spec.ts
  src/app/components/history-import-form/history-import.form.component.ts
Due: lint-angular

fix: ui garmin
  src/app/components/history-import-form/history-import.form.component.css
Due: none

chore: better initialization of functions
  src/app/services/app.event.service.ts
  src/app/services/app.functions.service.spec.ts
  src/app/services/app.functions.service.ts
Due: lint-angular

fix: test
  src/app/services/map/marker-factory.service.spec.ts
Due: lint-angular

chore: history import validation
  src/app/components/history-import-form/history-import.form.component.spec.ts
  src/app/components/history-import-form/history-import.form.component.ts
Due: lint-angular

fix: analytics
  src/app/app.module.ts
Due: lint-angular

fix: enfornce start to end date
  functions/src/coros/history-to-queue.ts
  functions/src/suunto/history-to-queue.ts
Due: lint-functions

chore: restrict ui dates
  src/app/components/history-import-form/history-import.form.component.html
  src/app/components/history-import-form/history-import.form.component.ts
Due: lint-angular

chore: tests
  src/app/components/history-import-form/history-import.form.component.spec.ts
Due: lint-angular

refactor: better devices ui
  src/app/components/event/devices/event.card.devices.component.css
  src/app/components/event/devices/event.card.devices.component.html
  src/app/components/event/devices/event.card.devices.component.ts
Due: lint-angular

chore: more limits for garmin
  functions/src/garmin/backfill.ts
  src/app/components/history-import-form/history-import.form.component.html
  src/app/components/history-import-form/history-import.form.component.spec.ts
  src/app/components/history-import-form/history-import.form.component.ts
Due: lint-functions, lint-angular

chore: better history import ui
  functions/src/coros/history-to-queue.spec.ts
  functions/src/coros/history-to-queue.ts
  functions/src/garmin/backfill.spec.ts
  functions/src/garmin/backfill.ts
  functions/src/history.spec.ts
  functions/src/history.ts
  functions/src/suunto/history-to-queue.spec.ts
  functions/src/suunto/history-to-queue.ts
  src/app/components/history-import-form/history-import.form.component.css
  src/app/components/history-import-form/history-import.form.component.html
  src/app/components/history-import-form/history-import.form.component.spec.ts
  src/app/components/shared/status-info/status-info.component.css
  src/app/components/shared/status-info/status-info.component.html
  src/app/components/shared/status-info/status-info.component.ts
  src/app/modules/shared.module.ts
Due: lint-functions, lint-angular

chore: maybe better colors
  src/app/services/map/marker-factory.service.spec.ts
  src/app/services/map/marker-factory.service.ts
Due: lint-angular

chore: enable automatic tax
  src/app/services/app.payment.service.spec.ts
  src/app/services/app.payment.service.ts
Due: lint-angular

fix: sometimes this fails
  src/app/components/history-import-form/history-import.form.component.ts
Due: lint-angular

chore: bump sl
  functions/package-lock.json
  functions/package.json
  package-lock.json
  package.json
Due: none

chore: fix injection context
  src/app/authentication/app.auth.service.ts
  src/app/components/login/login.component.ts
Due: lint-angular

chore: app component fixes
  src/app/app.component.html
Due: lint-angular

chore: auth service fixes
  src/app/authentication/app.auth.service.spec.ts
  src/app/authentication/app.auth.service.ts
Due: lint-angular

chore: analytics settings
  src/app/app.module.ts
Due: lint-angular

fix: race condition
  src/app/components/login/login.component.spec.ts
  src/app/components/login/login.component.ts
Due: lint-angular

chore: lower firebase
  package-lock.json
  package.json
Due: none

chore: add last import ranges for history imports
  functions/src/garmin/backfill.spec.ts
  functions/src/garmin/backfill.ts
  functions/src/history.spec.ts
  functions/src/history.ts
  src/app/components/history-import-form/history-import.form.component.html
  src/app/components/history-import-form/history-import.form.component.ts
Due: lint-functions, lint-angular

feature: clusters based on prevailing activity colors
  src/app/components/events-map/events-map.component.ts
  src/app/services/map/marker-factory.service.ts
Due: lint-angular

chore: fix logo
  src/assets/logos/coros.svg
Due: none

fix: issue with xAxis
  src/app/components/event/chart/event.card.chart.component.ts
Due: lint-angular

chore: improve home
  src/app/components/home/home.component.html
  src/app/components/home/home.component.scss
  src/app/components/home/home.component.spec.ts
  src/app/components/home/home.component.ts
Due: lint-angular

feature: jumps
  src/app/components/event/map/event.card.map.component.css
  src/app/components/event/map/event.card.map.component.html
  src/app/components/event/map/event.card.map.component.ts
  src/app/components/event/map/popups/jump-marker-popup/jump-marker-popup.component.css
  src/app/components/event/map/popups/jump-marker-popup/jump-marker-popup.component.html
  src/app/components/event/map/popups/jump-marker-popup/jump-marker-popup.component.ts
  src/app/modules/event.module.ts
  src/app/services/map/marker-factory.service.ts
Due: lint-angular

chore: improve home
  src/app/app.routing.module.ts
  src/app/components/home/home.component.html
  src/app/components/home/home.component.scss
  src/index.html
  src/styles.scss
Due: lint-angular

chore: more home page info
  src/app/components/home/home.component.html
  src/app/components/home/home.component.scss
Due: lint-angular

chore: disable services if not logged in
  src/app/components/sidenav/sidenav.component.html
Due: lint-angular

Path conditions:
  lint-functions: any of: **/*.{ts,js} and ^functions/
  lint-angular: any of: {src/*.{ts,html},src/**/*.{ts,html}}
