Repository jimmykane/quantified-self: changes, and which lefthook commands are due for each by the changed paths.
All: lint-functions, lint-angular

lint-functions:
  run: npx eslint {staged_files} --fix && git add {staged_files}

lint-angular:
  run: ESLINT_USE_FLAT_CONFIG=false npx eslint {staged_files} --fix && git add {staged_files}

chore: bump sl
  functions/package-lock.json
  functions/package.json
  package-lock.json
  package.json
Due: none

chore: write out wrong undefined paths
  functions/src/shared/event-writer.spec.ts
  functions/src/shared/event-writer.ts
Due: lint-functions

chore: bump sl
  functions/package-lock.json
  functions/package.json
Due: none

chore: change target
  functions/src/reparse/sports-lib-reparse.config.ts
Due: lint-functions

Revert "chore: write out wrong undefined paths"
  functions/src/shared/event-writer.spec.ts
  functions/src/shared/event-writer.ts
Due: lint-functions

Reapply "chore: write out wrong undefined paths"
  functions/src/shared/event-writer.spec.ts
  functions/src/shared/event-writer.ts
Due: lint-functions

fix: for mix of libs
  src/app/utils/event-live-reconcile.ts
Due: lint-angular

fix: cluster color
  src/app/components/events-map/events-map.component.spec.ts
  src/app/components/events-map/events-map.component.ts
Due: lint-angular

fix: tests for allowing sl version to be variable
  functions/src/reparse/sports-lib-reparse.service.spec.ts
  functions/src/schedule/sports-lib-reparse.spec.ts
  functions/src/scripts/reparse-sports-lib-events.spec.ts
Due: lint-functions

chore: bump sl
  functions/src/reparse/sports-lib-reparse.config.ts
Due: lint-functions

chore: enable task
  functions/src/reparse/sports-lib-reparse.config.ts
Due: lint-functions

chore: fix for start dates
  functions/src/reparse/sports-lib-reparse.service.spec.ts
  functions/src/reparse/sports-lib-reparse.service.ts
Due: lint-functions

chore: every 10 mins
  functions/src/schedule/sports-lib-reparse.ts
Due: lint-functions

chore: improve admi n
  functions/src/users/admin.spec.ts
  functions/src/users/admin.ts
  src/app/components/admin/admin-queue-stats/admin-queue-stats.component.html
  src/app/components/admin/admin-queue-stats/admin-queue-stats.component.scss
  src/app/components/admin/admin-queue-stats/admin-queue-stats.component.spec.ts
  src/app/components/admin/admin-queue-stats/admin-queue-stats.component.ts
  src/app/services/admin.service.ts
Due: lint-functions, lint-angular

fix: admin types
  functions/src/users/admin.ts
Due: lint-functions

chore: fix bucket name
  src/app/services/app.event.service.spec.ts
  src/app/services/app.event.service.ts
Due: lint-angular

chore: feature autoheal and better coverage
  functions/src/reparse/SPORTS_LIB_REPARSE_RUNBOOK.md
  functions/src/reparse/sports-lib-reparse.service.spec.ts
  functions/src/reparse/sports-lib-reparse.service.ts
Due: lint-functions

chore: do not reparse rpe and feeling
  functions/src/reparse/SPORTS_LIB_REPARSE_RUNBOOK.md
  functions/src/reparse/sports-lib-reparse.service.ts
Due: lint-functions

chore: scripts for fixing the original bucket
  functions/src/scripts/fix-original-file-bucket.spec.ts
  functions/src/scripts/fix-original-file-bucket.ts
Due: lint-functions

chore: implemente better reparsing
  firestore.rules
  functions/package.json
  functions/src/reparse/SPORTS_LIB_REPARSE_RUNBOOK.md
  functions/src/reparse/sports-lib-reparse.service.spec.ts
  functions/src/reparse/sports-lib-reparse.service.ts
  functions/src/schedule/sports-lib-reparse.spec.ts
  functions/src/schedule/sports-lib-reparse.ts
  functions/src/scripts/reparse-sports-lib-events.spec.ts
  functions/src/scripts/reparse-sports-lib-events.ts
  functions/src/shared/processing-metadata.interface.ts
  functions/src/utils-usage.spec.ts
  functions/src/utils.ts
  src/app/services/app.event.service.spec.ts
  src/app/services/app.event.service.ts
  src/firestore.rules.spec.ts
Due: lint-functions, lint-angular

chore: improve test coverage
  functions/src/scripts/reparse-sports-lib-events.spec.ts
Due: lint-functions

chore: add missing scripts
  functions/src/scripts/backfill-sports-lib-processing-code.spec.ts
  functions/src/scripts/backfill-sports-lib-processing-code.ts
Due: lint-functions

fix: rules remove silly allowlist
  firestore.rules
  src/firestore.rules.spec.ts
Due: lint-angular

fix: issues reported by review
  functions/src/schedule/sports-lib-reparse.spec.ts
  functions/src/schedule/sports-lib-reparse.ts
Due: lint-functions

chore: bump version
  package-lock.json
  package.json
Due: none

chore: do not enable the reparse for now
  functions/src/reparse/sports-lib-reparse.config.ts
Due: lint-functions

chore: run it every hour
  functions/src/schedule/sports-lib-reparse.ts
Due: lint-functions

fix: issues with reparsing
  functions/src/schedule/sports-lib-reparse.spec.ts
  functions/src/schedule/sports-lib-reparse.ts
  functions/src/scripts/reparse-sports-lib-events.spec.ts
  functions/src/shared/cloud-tasks-reparse.spec.ts
  functions/src/shared/cloud-tasks.ts
Due: lint-functions

chore: fix rules and disallow user to edit activity
  firestore.rules
  src/firestore.rules.spec.ts
Due: lint-angular

chore: add testcase for already exists
  functions/src/queue.spec.ts
Due: lint-functions

chore: add docs
  functions/src/reparse/SPORTS_LIB_REPARSE_RUNBOOK.md
  functions/src/shared/CLOUD_TASKS_DISPATCH_NOTES.md
Due: none

fix: bug with mapbox layer and style
  src/app/services/map/mapbox-layer.utils.spec.ts
  src/app/services/map/mapbox-layer.utils.ts
Due: lint-angular

chore: move upload to the backend
  functions/src/events/reprocess-event.spec.ts
  functions/src/events/reprocess-event.ts
  functions/src/events/upload-activity-from-fit.spec.ts
  functions/src/events/upload-activity-from-fit.ts
  functions/src/index.ts
  functions/src/utils-usage.spec.ts
  functions/src/utils.spec.ts
  functions/src/utils.ts
  src/app/components/upload/upload-activities/upload-activities.component.html
  src/app/components/upload/upload-activities/upload-activities.component.spec.ts
  src/app/components/upload/upload-activities/upload-activities.component.ts
  src/app/services/app.event-reprocess.service.spec.ts
  src/app/services/app.event-reprocess.service.ts
  src/app/services/app.fit-upload.service.spec.ts
  src/app/services/app.fit-upload.service.ts
  src/shared/functions-manifest.ts
Due: lint-functions, lint-angular

chore: improve uploads
  firestore.rules
  functions/src/events/upload-activity-from-fit.spec.ts
  functions/src/events/upload-activity-from-fit.ts
  src/app/components/upload/upload-activities/upload-activities.component.html
  src/app/components/upload/upload-activities/upload-activities.component.spec.ts
  src/app/components/upload/upload-activities/upload-activities.component.ts
  src/app/services/app.fit-upload.service.spec.ts
  src/app/services/app.fit-upload.service.ts
  src/firestore.rules.spec.ts
Due: lint-functions, lint-angular

chore: cleanup
  src/app/components/upload/upload-activities/upload-activities.component.spec.ts
  src/app/components/upload/upload-activities/upload-activities.component.ts
Due: lint-angular

chore: cleanup deleting activities
  firestore.rules
  src/app/components/activity-actions/activity.actions.component.html
  src/app/components/activity-actions/activity.actions.component.spec.ts
  src/app/components/activity-actions/activity.actions.component.ts
  src/app/services/app.event.service.ts
  src/firestore.rules.spec.ts
Due: lint-angular

refactor: move merge into backend
  functions/src/events/merge-event.spec.ts
  functions/src/events/merge-event.ts
  functions/src/index.ts
  src/app/components/event-table/event.table.component.spec.ts
  src/app/components/event-table/event.table.component.ts
  src/app/services/app.event-merge.service.spec.ts
  src/app/services/app.event-merge.service.ts
  src/app/utils/app.event.utilities.spec.ts
  src/app/utils/app.event.utilities.ts
  src/shared/functions-manifest.ts
Due: lint-functions, lint-angular

refactor: rename
  functions/src/events/merge-events.spec.ts
  functions/src/events/merge-events.ts
  functions/src/index.ts
  src/app/services/app.event-merge.service.spec.ts
  src/app/services/app.event-merge.service.ts
  src/shared/functions-manifest.ts
Due: lint-functions, lint-angular

refactor: renames
  functions/src/events/upload-activity.spec.ts
  functions/src/events/upload-activity.ts
  functions/src/index.ts
  src/app/services/app.fit-upload.service.spec.ts
  src/app/services/app.fit-upload.service.ts
  src/shared/functions-manifest.ts
Due: lint-functions, lint-angular

Path conditions:
  lint-functions: any of: **/*.{ts,js} and ^functions/
  lint-angular: any of: {src/*.{ts,html},src/**/*.{ts,html}}
