Repository jimmykane/quantified-self: changes, and which lefthook commands are due for each by the changed paths.
All: lint-functions, lint-angular

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint-functions:
      root: "functions"
      glob: "**/*.{ts,js}"
      run: npx eslint {staged_files} --fix && git add {staged_files}
    lint-angular:
      glob: "{src/*.{ts,html},src/**/*.{ts,html}}"
      run: ESLINT_USE_FLAT_CONFIG=false npx eslint {staged_files} --fix && git add {staged_files}

fix: improve training state details
  docs/training-workspace.md
  src/app/components/training/training-workspace.component.html
  src/app/components/training/training-workspace.component.scss
  src/app/components/training/training-workspace.component.spec.ts
  src/app/components/training/training-workspace.component.ts
  src/app/helpers/training-state.helper.spec.ts
  src/app/helpers/training-state.helper.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: recover historical Suunto bedtime variation
  docs/training-workspace.md
  functions/src/derived-metrics/derived-metrics.service.spec.ts
  functions/src/derived-metrics/derived-metrics.service.ts
  functions/src/derived-metrics/ensure-derived-metrics.spec.ts
  functions/src/derived-metrics/ensure-derived-metrics.ts
  shared/derived-metrics.ts
  src/app/helpers/dashboard-derived-metrics.helper.spec.ts
  src/app/helpers/dashboard-derived-metrics.helper.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

chore: mark invalid grants for suunto non terminal
  functions/src/tokens.spec.ts
  functions/src/tokens.ts
Due: lint-functions

fix: correct route summary chip projection
  src/app/components/routes/route-detail/route-detail.component.html
Due: lint-angular

fix: harden Suunto outage recovery script
  functions/package.json
  functions/src/scripts/recover-suunto-outage.spec.ts
  functions/src/scripts/recover-suunto-outage.ts
Due: lint-functions

fix: support targeted Suunto recovery dry runs
  functions/src/scripts/recover-suunto-outage.spec.ts
  functions/src/scripts/recover-suunto-outage.ts
Due: lint-functions

fix: read Suunto recovery tokens from PITR
  functions/package-lock.json
  functions/package.json
  functions/src/scripts/recover-suunto-outage.spec.ts
  functions/src/scripts/recover-suunto-outage.ts
Due: lint-functions

fix: sanitize activity sync original file metadata
  functions/src/activity-sync/enqueue-imported-event.spec.ts
  functions/src/activity-sync/enqueue-imported-event.ts
Due: lint-functions

test: accept fixed-color Wahoo icon
  src/app/services/app.icon.service.spec.ts
Due: lint-angular

chore: replace logo
  src/assets/logos/wahoo.svg
Due: none

fix: configure Wahoo credentials in tests and deploys
  .github/workflows/buildAndDeployBeta.yml
  .github/workflows/buildAndDeployMain.yml
  .github/workflows/buildAndDeployProduction.yml
  functions/src/test-setup.ts
Due: lint-functions

fix: configure Wahoo file host allowlist
  .github/workflows/buildAndDeployBeta.yml
  .github/workflows/buildAndDeployMain.yml
  .github/workflows/buildAndDeployProduction.yml
Due: none

fix: harden Wahoo OAuth cleanup
  functions/src/OAuth2.spec.ts
  functions/src/OAuth2.ts
  functions/src/firestore-indexes.spec.ts
  functions/src/service-connection-meta.spec.ts
  functions/src/service-connection-meta.ts
  functions/src/service-disconnect-pending.spec.ts
  functions/src/service-disconnect-pending.ts
  functions/src/service-operational-cleanup.spec.ts
  functions/src/service-operational-cleanup.ts
  functions/src/wahoo/auth/adapter.spec.ts
  functions/src/wahoo/auth/adapter.ts
Due: lint-functions

chore: sync firestore index export
  firestore.indexes.json
Due: none

feat: clarify freshness and readiness
  docs/training-workspace.md
  src/app/components/summaries/summaries.component.html
  src/app/components/summaries/summaries.component.spec.ts
  src/app/components/training/training-workspace.component.html
  src/app/components/training/training-workspace.component.scss
  src/app/components/training/training-workspace.component.spec.ts
  src/app/components/training/training-workspace.component.ts
  src/app/helpers/dashboard-chart-info.helper.spec.ts
  src/app/helpers/dashboard-chart-info.helper.ts
  src/app/helpers/dashboard-kpi-explanation.helper.spec.ts
  src/app/helpers/dashboard-kpi-explanation.helper.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: hand off newer Wahoo workout revisions
  functions/src/wahoo/processor.spec.ts
  functions/src/wahoo/processor.ts
  functions/src/wahoo/queue-store.spec.ts
  functions/src/wahoo/queue-store.ts
Due: lint-functions

feat: surface imported recovery in readiness
  docs/training-workspace.md
  src/app/components/summaries/summaries.component.css
  src/app/components/summaries/summaries.component.html
  src/app/components/summaries/summaries.component.spec.ts
  src/app/components/training/training-workspace.component.html
  src/app/components/training/training-workspace.component.scss
  src/app/components/training/training-workspace.component.spec.ts
  src/app/helpers/training-recovery-estimate.helper.spec.ts
  src/app/helpers/training-recovery-estimate.helper.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: harden Wahoo workout dispatch
  docs/provider-integration-guide.md
  docs/wahoo-integration.md
  functions/src/queue.ts
  functions/src/queue/dispatch-marker.spec.ts
  functions/src/queue/dispatch-marker.ts
  functions/src/shared/cloud-tasks.spec.ts
  functions/src/shared/cloud-tasks.ts
  functions/src/wahoo/processor.spec.ts
  functions/src/wahoo/processor.ts
  functions/src/wahoo/queue-store.spec.ts
  functions/src/wahoo/queue-store.ts
Due: lint-functions

fix: close Wahoo dispatch races
  functions/src/queue.spec.ts
  functions/src/queue.ts
  functions/src/queue/dispatch-marker.ts
  functions/src/wahoo/queue-store.spec.ts
  functions/src/wahoo/queue-store.ts
Due: lint-functions

fix: poll pending Wahoo FIT uploads
  src/app/components/upload/upload-activities-to-service/upload-activities-to-service.component.css
  src/app/components/upload/upload-activities-to-service/upload-activities-to-service.component.html
  src/app/components/upload/upload-activities-to-service/upload-activities-to-service.component.spec.ts
  src/app/components/upload/upload-activities-to-service/upload-activities-to-service.component.ts
Due: lint-angular

fix: show Wahoo account id
  docs/provider-integration-guide.md
  docs/wahoo-integration.md
  functions/src/OAuth2.spec.ts
  functions/src/OAuth2.ts
  functions/src/index.ts
  functions/src/service-connection-meta.spec.ts
  functions/src/service-connection-meta.ts
  functions/src/wahoo/auth/wrapper.spec.ts
  functions/src/wahoo/auth/wrapper.ts
  shared/functions-manifest.ts
  shared/service-connection.ts
  src/app/components/services/wahoo/services.wahoo.component.html
  src/app/components/services/wahoo/services.wahoo.component.spec.ts
  src/app/components/services/wahoo/services.wahoo.component.ts
  src/firestore.rules.spec.ts
Due: lint-functions, lint-angular

fix: improve activity sync route layout
  src/app/components/services/activity-sync-route-control/activity-sync-route-control.component.css
  src/app/components/services/activity-sync-route-control/activity-sync-route-control.component.html
  src/app/components/services/activity-sync-route-control/activity-sync-route-control.component.spec.ts
  src/app/components/services/activity-sync-route-control/activity-sync-route-control.component.ts
  src/app/components/services/coros/services.coros.component.html
  src/app/components/services/coros/services.coros.component.spec.ts
  src/app/components/services/garmin/services.garmin.component.html
  src/app/components/services/garmin/services.garmin.component.spec.ts
Due: lint-angular

feat: sync Wahoo activities to Suunto
  docs/provider-integration-guide.md
  docs/wahoo-integration.md
  functions/src/activity-sync/allowlist.spec.ts
  functions/src/activity-sync/backfill.spec.ts
  functions/src/activity-sync/disconnect-routes.spec.ts
  functions/src/activity-sync/disconnect-routes.ts
  functions/src/activity-sync/enqueue-after-event-persistence.spec.ts
  functions/src/activity-sync/enqueue-after-event-persistence.ts
  functions/src/activity-sync/enqueue-imported-event.spec.ts
  functions/src/activity-sync/routes.spec.ts
  functions/src/index.ts
  functions/src/queue.ts
  functions/src/wahoo/processor.spec.ts
  functions/src/wahoo/processor.ts
  shared/activity-sync-rollout.ts
  shared/activity-sync-routes.ts
  src/app/components/home/home.component.html
  src/app/components/home/home.component.spec.ts
  src/app/components/integrations/integration-pages.content.spec.ts
  src/app/components/integrations/integration-pages.content.ts
  src/app/components/services/activity-sync-route-control/activity-sync-route-control.component.spec.ts
  src/app/components/services/services.component.spec.ts
  src/app/components/services/services.component.ts
  src/app/components/services/wahoo/services.wahoo.component.html
  src/app/components/services/wahoo/services.wahoo.component.spec.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/app/shared/policies.content.spec.ts
  src/app/shared/policies.content.ts
Due: lint-functions, lint-angular

feat: add Wahoo to Suunto public guide
  src/app/app.routes.server.spec.ts
  src/app/app.routes.server.ts
  src/app/app.routing.module.spec.ts
  src/app/app.routing.module.ts
  src/app/components/features/workout-data-comparison-page.content.spec.ts
  src/app/components/features/workout-data-comparison-page.content.ts
  src/app/components/integrations/integration-pages.content.spec.ts
  src/app/components/integrations/integration-pages.content.ts
  src/app/components/integrations/integrations-hub-page.component.html
  src/app/components/integrations/integrations-hub-page.component.spec.ts
  src/app/components/integrations/provider-integration-page.component.spec.ts
  src/app/components/public-seo/public-seo-pages.content.spec.ts
  src/app/components/public-seo/public-seo-pages.content.ts
  src/app/services/seo.service.spec.ts
  src/app/services/seo.service.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/app/shared/public-startup-route.ts
  src/firebase-hosting.config.spec.ts
  src/sitemap.xml
Due: lint-angular

fix: align Wahoo integration test copy
  src/app/components/integrations/provider-integration-page.component.spec.ts
Due: lint-angular

fix: surface Wahoo upload duplicates
  docs/provider-integration-guide.md
  functions/src/wahoo/activities.spec.ts
  functions/src/wahoo/activities.ts
  functions/src/wahoo/auth/api.spec.ts
  functions/src/wahoo/auth/api.ts
  functions/src/wahoo/error-details.ts
Due: lint-functions

fix: align activity sync loading state
  src/app/components/services/activity-sync-route-control/activity-sync-route-control.component.css
  src/app/components/services/activity-sync-route-control/activity-sync-route-control.component.html
  src/app/components/services/activity-sync-route-control/activity-sync-route-control.component.spec.ts
Due: lint-angular

fix: expose activity sync retry reasons
  functions/src/tasks/activity-sync-worker.spec.ts
  functions/src/tasks/activity-sync-worker.ts
Due: lint-functions

fix: clarify activity sync backfills
  functions/src/activity-sync/backfill.spec.ts
  functions/src/activity-sync/backfill.ts
  src/app/components/services/activity-sync-route-control/activity-sync-route-control.component.css
  src/app/components/services/activity-sync-route-control/activity-sync-route-control.component.html
  src/app/components/services/activity-sync-route-control/activity-sync-route-control.component.spec.ts
  src/app/components/services/activity-sync-route-control/activity-sync-route-control.component.ts
  src/app/services/app.user.service.ts
Due: lint-functions, lint-angular

feat: surface connection backfills
  src/app/components/services/services.component.spec.ts
  src/app/components/services/services.component.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: synchronize event chart selections while brushing
  src/app/components/event/chart/panel/event.card.chart.panel.component.spec.ts
  src/app/components/event/chart/panel/event.card.chart.panel.component.ts
Due: lint-angular

feat: add Wahoo FIT route uploads
  docs/provider-integration-guide.md
  docs/wahoo-integration.md
  functions/src/index.ts
  functions/src/test-setup.ts
  functions/src/wahoo/auth/adapter.spec.ts
  functions/src/wahoo/auth/api.spec.ts
  functions/src/wahoo/auth/api.ts
  functions/src/wahoo/constants.ts
  functions/src/wahoo/routes.spec.ts
  functions/src/wahoo/routes.ts
  shared/functions-manifest.ts
  src/app/app.routing.module.spec.ts
  src/app/app.routing.module.ts
  src/app/components/integrations/integration-pages.content.spec.ts
  src/app/components/integrations/integration-pages.content.ts
  src/app/components/services/services.component.ts
  src/app/components/services/wahoo/services.wahoo.component.html
  src/app/components/services/wahoo/services.wahoo.component.spec.ts
  src/app/components/services/wahoo/services.wahoo.component.ts
  src/app/components/upload/upload-routes-to-service/upload-routes-to-service.component.html
  src/app/components/upload/upload-routes-to-service/upload-routes-to-service.component.spec.ts
  src/app/components/upload/upload-routes-to-service/upload-routes-to-service.component.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/app/shared/policies.content.spec.ts
  src/app/shared/policies.content.ts
Due: lint-functions, lint-angular

fix: harden Wahoo route uploads
  functions/src/wahoo/routes.spec.ts
  functions/src/wahoo/routes.ts
Due: lint-functions

fix: keep detailed statistics sheet height
  src/app/components/event/stats-table/event-stats-bottom-sheet/event-stats-bottom-sheet.component.spec.ts
  src/app/components/event/stats-table/event-stats-bottom-sheet/event-stats-bottom-sheet.component.ts
Due: lint-angular

fix: preserve detailed statistics sheet width
  src/app/components/event/stats-table/event-stats-bottom-sheet/event-stats-bottom-sheet.component.spec.ts
  src/app/components/event/stats-table/event-stats-bottom-sheet/event-stats-bottom-sheet.component.ts
Due: lint-angular

fix: refine Wahoo route conflict handling
  functions/src/wahoo/routes.spec.ts
  functions/src/wahoo/routes.ts
Due: lint-functions

fix: clarify event durability evidence
  docs/training-workspace.md
  src/app/components/event/durability-curve/event.durability-curve.component.spec.ts
  src/app/components/event/durability-curve/event.durability-curve.component.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: align Wahoo route upload runtime
  functions/src/wahoo/routes.spec.ts
  functions/src/wahoo/routes.ts
Due: lint-functions

feat: explain durability evidence
  docs/training-workspace.md
  src/app/components/event/durability-curve/event.durability-curve.component.css
  src/app/components/event/durability-curve/event.durability-curve.component.html
  src/app/components/event/durability-curve/event.durability-curve.component.spec.ts
  src/app/components/shared/durability-reading-guide/durability-reading-guide.component.html
  src/app/components/shared/durability-reading-guide/durability-reading-guide.component.scss
  src/app/components/shared/durability-reading-guide/durability-reading-guide.component.spec.ts
  src/app/components/shared/durability-reading-guide/durability-reading-guide.component.ts
  src/app/components/training/training-workspace.component.html
  src/app/components/training/training-workspace.component.scss
  src/app/components/training/training-workspace.component.spec.ts
  src/app/modules/shared.module.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

feat: add GPX route delivery to Wahoo
  docs/provider-integration-guide.md
  docs/wahoo-integration.md
  functions/package-lock.json
  functions/package.json
  functions/src/wahoo/routes.spec.ts
  functions/src/wahoo/routes.ts
  package-lock.json
  package.json
  src/app/app.routing.module.spec.ts
  src/app/app.routing.module.ts
  src/app/components/integrations/integration-pages.content.spec.ts
  src/app/components/integrations/integration-pages.content.ts
  src/app/components/integrations/provider-integration-page.component.spec.ts
  src/app/components/services/services.component.ts
  src/app/components/services/wahoo/services.wahoo.component.html
  src/app/components/services/wahoo/services.wahoo.component.spec.ts
  src/app/components/services/wahoo/services.wahoo.component.ts
  src/app/components/upload/upload-routes-to-service/upload-routes-to-service.component.spec.ts
  src/app/components/upload/upload-routes-to-service/upload-routes-to-service.component.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/app/shared/policies.content.spec.ts
  src/app/shared/policies.content.ts
Due: lint-functions, lint-angular
