Repository jimmykane/quantified-self: changes, and which lefthook commands are due for each by the changed paths.
All: lint-functions, lint-angular

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint-functions:
      root: "functions"
      glob: "**/*.{ts,js}"
      run: npx eslint {staged_files} --fix && git add {staged_files}
    lint-angular:
      glob: "{src/*.{ts,html},src/**/*.{ts,html}}"
      run: ESLINT_USE_FLAT_CONFIG=false npx eslint {staged_files} --fix && git add {staged_files}

fix: preserve lap column choices during concurrent saves
  docs/frontend-ui.md
  src/app/components/event/laps/event.card.laps.component.spec.ts
  src/app/components/event/laps/event.card.laps.component.ts
Due: lint-angular

fix: correct swim lap labels and pinned table cells
  docs/frontend-ui.md
  src/app/components/event/laps/event.card.laps.component.css
  src/app/components/event/swim-lengths/event.card.swim-lengths.component.css
  src/app/helpers/event-swim-length.helper.spec.ts
  src/app/helpers/event-swim-length.helper.ts
Due: lint-angular

fix: move Privacy before Account in settings
  src/app/components/user-settings/user-settings.component.spec.ts
  src/app/components/user-settings/user-settings.component.ts
Due: lint-angular

fix: distinguish workout RPE from private reflection effort
  src/app/components/workout-reflection/workout-reflection-dialog.component.html
  src/app/components/workout-reflection/workout-reflection-dialog.component.scss
  src/app/components/workout-reflection/workout-reflection-dialog.component.spec.ts
  src/app/components/workout-reflection/workout-reflection-dialog.component.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

test: cover recovery cleanup and facade compatibility
  functions/src/service-connection-meta.spec.ts
  functions/src/service-connection-module-boundary.spec.ts
Due: lint-functions

docs: confirm scheduled Garmin measurement rollout
  docs/garmin-dispatch-cost-measurements.md
Due: none

feat: redesign settings as an expandable overview
  docs/frontend-ui.md
  src/AGENTS.md
  src/app/components/user-settings/user-settings.component.html
  src/app/components/user-settings/user-settings.component.scss
  src/app/components/user-settings/user-settings.component.spec.ts
  src/app/components/user-settings/user-settings.component.ts
  src/app/shared/help.content.ts
Due: lint-angular

feat: integrate workout feedback into event details
  docs/training-workspace.md
  src/app/components/event-summary/event-details-summary-bottom-sheet/event-details-summary-bottom-sheet.component.css
  src/app/components/event-summary/event-details-summary-bottom-sheet/event-details-summary-bottom-sheet.component.html
  src/app/components/event-summary/event-details-summary-bottom-sheet/event-details-summary-bottom-sheet.component.spec.ts
  src/app/components/event-summary/event-details-summary-bottom-sheet/event-details-summary-bottom-sheet.component.ts
  src/app/components/event-summary/event-summary.component.html
  src/app/components/event-summary/event-summary.component.spec.ts
  src/app/components/event-summary/event-summary.component.ts
  src/app/components/workout-reflection/workout-reflection-dialog.component.html
  src/app/components/workout-reflection/workout-reflection-dialog.component.scss
  src/app/components/workout-reflection/workout-reflection-dialog.component.spec.ts
  src/app/components/workout-reflection/workout-reflection-dialog.component.ts
  src/app/helpers/event-details-form.helper.spec.ts
  src/app/helpers/event-details-form.helper.ts
  src/app/services/workout-reflection.service.spec.ts
  src/app/services/workout-reflection.service.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/firestore.rules.spec.ts
Due: lint-angular

fix: guard settings save interactions and heading hierarchy
  docs/frontend-ui.md
  src/app/components/user-settings/user-settings.component.html
  src/app/components/user-settings/user-settings.component.scss
  src/app/components/user-settings/user-settings.component.spec.ts
  src/app/components/user-settings/user-settings.component.ts
Due: lint-angular

fix: preserve feedback drafts during conflict recovery
  docs/training-workspace.md
  src/app/components/event-summary/event-details-summary-bottom-sheet/event-details-summary-bottom-sheet.component.css
  src/app/components/event-summary/event-details-summary-bottom-sheet/event-details-summary-bottom-sheet.component.html
  src/app/components/event-summary/event-details-summary-bottom-sheet/event-details-summary-bottom-sheet.component.spec.ts
  src/app/components/event-summary/event-details-summary-bottom-sheet/event-details-summary-bottom-sheet.component.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: use one column for settings on desktop
  docs/frontend-ui.md
  src/AGENTS.md
  src/app/components/user-settings/user-settings.component.scss
  src/app/components/user-settings/user-settings.component.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: remove workout reflection conflict review
  docs/training-workspace.md
  src/app/components/event-summary/event-details-summary-bottom-sheet/event-details-summary-bottom-sheet.component.css
  src/app/components/event-summary/event-details-summary-bottom-sheet/event-details-summary-bottom-sheet.component.html
  src/app/components/event-summary/event-details-summary-bottom-sheet/event-details-summary-bottom-sheet.component.spec.ts
  src/app/components/event-summary/event-details-summary-bottom-sheet/event-details-summary-bottom-sheet.component.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: hide redundant single-activity feedback target
  docs/training-workspace.md
  src/app/components/event-summary/event-details-summary-bottom-sheet/event-details-summary-bottom-sheet.component.html
  src/app/components/event-summary/event-details-summary-bottom-sheet/event-details-summary-bottom-sheet.component.spec.ts
  src/app/components/event-summary/event-details-summary-bottom-sheet/event-details-summary-bottom-sheet.component.ts
  src/app/shared/help.content.ts
Due: lint-angular

feat: add monthly planned and recorded Calendar summaries
  docs/activity-calendar.md
  docs/training-workspace.md
  functions/src/mcp/training-plans.service.spec.ts
  src/app/components/calendar/calendar-page/calendar-page.component.html
  src/app/components/calendar/calendar-page/calendar-page.component.spec.ts
  src/app/components/calendar/calendar-page/calendar-page.component.ts
  src/app/components/calendar/calendar-period-summary/calendar-period-summary.component.html
  src/app/components/calendar/calendar-period-summary/calendar-period-summary.component.scss
  src/app/components/calendar/calendar-period-summary/calendar-period-summary.component.spec.ts
  src/app/components/calendar/calendar-period-summary/calendar-period-summary.component.ts
  src/app/helpers/calendar-period-summary.helper.spec.ts
  src/app/helpers/calendar-period-summary.helper.ts
  src/app/services/activity-calendar.service.spec.ts
  src/app/services/activity-calendar.service.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

feat: simplify settings groups and editing flow
  docs/frontend-ui.md
  src/AGENTS.md
  src/app/components/user-settings/user-settings.component.html
  src/app/components/user-settings/user-settings.component.scss
  src/app/components/user-settings/user-settings.component.spec.ts
  src/app/components/user-settings/user-settings.component.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: recognize custom unit choices in settings
  docs/frontend-ui.md
  src/app/components/user-settings/user-settings.component.html
  src/app/components/user-settings/user-settings.component.spec.ts
  src/app/components/user-settings/user-settings.component.ts
  src/app/helpers/unit-setup-preset.helper.spec.ts
  src/app/helpers/unit-setup-preset.helper.ts
  src/app/shared/help.content.ts
Due: lint-angular

test: allow reflection privacy explanations in public SEO checks
  src/app/components/public-seo/public-seo-pages.content.spec.ts
Due: lint-angular

feat: add complete Assistant workout proposal review
  docs/assistant.md
  docs/mcp-server.md
  docs/training-workspace.md
  functions/src/assistant/conversation-store.spec.ts
  functions/src/assistant/conversation-store.ts
  functions/src/assistant/mcp-session.ts
  functions/src/assistant/runtime.spec.ts
  functions/src/assistant/runtime.ts
  functions/src/assistant/workout-review.spec.ts
  functions/src/mcp/training-plans-write.emulator.spec.ts
  functions/src/mcp/training-plans-write.service.ts
  functions/src/mcp/training-plans.service.spec.ts
  functions/src/mcp/training-plans.service.ts
  shared/assistant-response.contract.ts
  shared/assistant-workout-review.ts
  shared/assistant.types.ts
  src/app/components/assistant/assistant-page.component.html
  src/app/components/assistant/assistant-page.component.ts
  src/app/components/assistant/assistant-workout-review.component.html
  src/app/components/assistant/assistant-workout-review.component.scss
  src/app/components/assistant/assistant-workout-review.component.spec.ts
  src/app/components/assistant/assistant-workout-review.component.ts
  src/app/helpers/assistant-workout-review.helper.spec.ts
  src/app/helpers/assistant-workout-review.helper.ts
  src/app/helpers/assistant-workout-review.test-support.ts
  src/app/shared/assistant-response.contract.spec.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

fix: harden Assistant workout proposal review
  docs/training-workspace.md
  functions/src/assistant/runtime.spec.ts
  functions/src/assistant/runtime.ts
  functions/src/assistant/workout-review.spec.ts
  shared/assistant-workout-review.ts
  src/app/components/assistant/assistant-workout-review.component.html
  src/app/components/assistant/assistant-workout-review.component.spec.ts
  src/app/components/assistant/assistant-workout-review.component.ts
  src/app/helpers/assistant-workout-review.helper.spec.ts
  src/app/helpers/assistant-workout-review.helper.ts
Due: lint-functions, lint-angular

feat: monitor recorded activity import queues (#829)
  .github/workflows/_run-tests.yml
  README.md
  docs/activity-import-monitoring.md
  docs/provider-integration-guide.md
  functions/src/coros/queue-processing.spec.ts
  functions/src/coros/queue-processing.ts
  functions/src/queue-utils.spec.ts
  functions/src/queue-utils.ts
  functions/src/queue.ts
  functions/src/queue/import-monitoring.emulator.spec.ts
  functions/src/queue/import-monitoring.spec.ts
  functions/src/queue/import-monitoring.ts
  functions/src/tasks/workout-processor.spec.ts
  functions/src/tasks/workout-processor.ts
  functions/src/wahoo/processor.spec.ts
  functions/src/wahoo/processor.ts
  functions/src/wahoo/queue-store.spec.ts
  functions/src/wahoo/queue-store.ts
  package.json
  tools/functions-emulator-suites.mjs
  tools/import-monitoring/cli.mjs
  tools/import-monitoring/definitions.mjs
  tools/import-monitoring/monitoring.test.mjs
  tools/monitoring/apply.mjs
  tools/monitoring/cli.mjs
  tools/monitoring/target.mjs
  tools/training-monitoring/apply.mjs
  tools/training-monitoring/cli.mjs
  tools/training-monitoring/definitions.mjs
Due: lint-functions

fix: isolate import monitoring from dispatcher outcomes (#829)
  docs/activity-import-monitoring.md
  docs/provider-integration-guide.md
  functions/src/queue.spec.ts
  functions/src/queue.ts
  functions/src/queue/import-monitoring.emulator.spec.ts
  functions/src/queue/import-monitoring.spec.ts
  functions/src/queue/import-monitoring.ts
Due: lint-functions

fix: validate monitoring inventory and policy identities (#829)
  docs/activity-import-monitoring.md
  docs/provider-integration-guide.md
  tools/import-monitoring/monitoring.test.mjs
  tools/monitoring/apply.mjs
Due: none

fix: harden Training phase routing and editor lifecycle
  docs/training-workspace.md
  functions/src/assistant/runtime.spec.ts
  functions/src/assistant/runtime.ts
  src/app/components/plans/plans-workspace.component.spec.ts
  src/app/components/plans/plans-workspace.component.ts
  src/app/helpers/training-plan-phases.helper.spec.ts
  src/app/helpers/training-plan-phases.helper.ts
Due: lint-functions, lint-angular

fix: show event sharing progress and preserve map data
  src/app/components/event-actions/event.actions.component.html
  src/app/components/event-actions/event.actions.component.spec.ts
  src/app/components/event-actions/event.actions.component.ts
  src/app/components/event/event.card.component.spec.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/app/utils/event-live-reconcile.spec.ts
  src/app/utils/event-live-reconcile.ts
Due: lint-angular

fix: validate phase text without control-character regexes
  shared/training-plans.ts
  src/app/helpers/training-plans.shared.spec.ts
Due: lint-angular

feat: explain Training plan phases on public pages
  docs/training-workspace.md
  src/app/components/public-seo/public-seo-page.component.spec.ts
  src/app/components/public-seo/public-seo-pages.content.spec.ts
  src/app/components/public-seo/public-seo-pages.content.ts
  src/app/components/public-seo/training-plans-home.content.ts
  src/app/components/public-seo/training-plans-page.content.ts
  src/app/components/public-seo/training-plans-preview.component.spec.ts
  src/app/components/public-seo/training-plans-preview.data.ts
  src/app/services/seo.service.spec.ts
  src/app/shared/home-seo.ts
  src/sitemap.xml
Due: lint-angular

docs: require monitoring coverage for provider and queue changes
  .agent/rules/queue-monitoring-coverage.md
  AGENTS.md
Due: none

refactor: isolate activity import dispatcher entrypoints (#829)
  docs/activity-import-monitoring.md
  docs/functions-entrypoint-loading.md
  docs/provider-integration-guide.md
  functions/src/function-target-loader.spec.ts
  functions/src/function-target-loader.ts
  functions/src/scripts/check-entrypoint-loading.ts
Due: lint-functions

fix: stabilize CI reporting and align sitemap tests
  .github/workflows/_run-tests.yml
  src/firebase-hosting.config.spec.ts
  tools/testing-workflow.test.mjs
Due: lint-angular

test: compare isolated dispatcher contracts across fresh processes
  docs/functions-entrypoint-loading.md
  functions/src/scripts/check-entrypoint-loading.ts
Due: lint-functions

docs: record activity import monitoring activation (#829)
  docs/activity-import-monitoring.md
  docs/provider-integration-guide.md
Due: none

fix: make dashboard unit setup saves reliable
  docs/frontend-ui.md
  src/app/components/dashboard/dashboard-action-prompt/dashboard-action-prompt.component.scss
  src/app/components/dashboard/dashboard-action-prompt/dashboard-action-prompt.component.spec.ts
  src/app/components/dashboard/dashboard.component.spec.ts
  src/app/components/dashboard/dashboard.component.ts
  src/app/helpers/dashboard-action-prompt.helper.spec.ts
  src/app/helpers/dashboard-action-prompt.helper.ts
  src/app/services/app.user.service.spec.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: simplify dashboard unit setup actions
  docs/frontend-ui.md
  src/app/components/dashboard/dashboard-action-prompt/dashboard-action-prompt.component.spec.ts
  src/app/components/dashboard/dashboard-action-prompts/dashboard-action-prompts.component.spec.ts
  src/app/components/dashboard/dashboard.component.spec.ts
  src/app/components/dashboard/dashboard.component.ts
  src/app/helpers/dashboard-action-prompt.helper.spec.ts
  src/app/helpers/dashboard-action-prompt.helper.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

feat: add Health and Sleep queue monitoring (#830)
  .github/workflows/_run-tests.yml
  README.md
  docs/health-backfill-operations.md
  docs/provider-integration-guide.md
  docs/sleep-sync-operations.md
  functions/src/garmin/health-backfill.spec.ts
  functions/src/garmin/health-backfill.ts
  functions/src/queue-utils.spec.ts
  functions/src/queue-utils.ts
  functions/src/sleep/dispatcher.spec.ts
  functions/src/sleep/dispatcher.ts
  functions/src/sleep/monitoring.emulator.spec.ts
  functions/src/sleep/monitoring.spec.ts
  functions/src/sleep/monitoring.ts
  functions/src/tasks/garmin-health-backfill-worker.spec.ts
  functions/src/tasks/garmin-health-backfill-worker.ts
  functions/src/tasks/sleep-sync-worker.spec.ts
  functions/src/tasks/sleep-sync-worker.ts
  package.json
  tools/functions-emulator-suites.mjs
  tools/health-sleep-monitoring/cli.mjs
  tools/health-sleep-monitoring/definitions.mjs
  tools/health-sleep-monitoring/monitoring.test.mjs
Due: lint-functions

fix: prevent Health and Sleep monitoring false alerts (#830)
  docs/provider-integration-guide.md
  docs/sleep-sync-operations.md
  functions/src/sleep/monitoring.emulator.spec.ts
  functions/src/sleep/monitoring.ts
  tools/health-sleep-monitoring/definitions.mjs
  tools/health-sleep-monitoring/monitoring.test.mjs
Due: lint-functions

test: compare exact Health and Sleep monitoring metric types
  tools/health-sleep-monitoring/monitoring.test.mjs
Due: none

chore: bump app version to 10.18.1
  package-lock.json
  package.json
Due: none

test: validate exact Health and Sleep alert metric types
  tools/health-sleep-monitoring/monitoring.test.mjs
Due: none
