Repository jimmykane/quantified-self: changes, and which lefthook commands are due for each by the changed paths.
All: lint-functions, lint-angular

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint-functions:
      root: "functions"
      glob: "**/*.{ts,js}"
      run: npx eslint {staged_files} --fix && git add {staged_files}
    lint-angular:
      glob: "{src/*.{ts,html},src/**/*.{ts,html}}"
      run: ESLINT_USE_FLAT_CONFIG=false npx eslint {staged_files} --fix && git add {staged_files}

chore: labels
  src/app/components/charts/chart-abstract.directive.ts
  src/app/components/charts/intensity-zones/charts.intensity-zones.component.ts
  src/app/components/event/devices/event.card.devices.component.ts
  src/app/components/event/intensity-zones/event.intensity-zones.component.ts
Due: lint-angular

chore: history
  src/app/components/history-import-form/history-import.form.component.css
  src/app/components/history-import-form/history-import.form.component.html
Due: lint-angular

chore: app check
  functions/src/shared/auth.ts
  functions/src/user/user.ts
  src/app/app.module.ts
  src/environments/environment.beta.ts
  src/environments/environment.prod.ts
  src/environments/environment.ts
Due: lint-functions, lint-angular

chore: version and sl
  functions/package-lock.json
  functions/package.json
  package-lock.json
  package.json
Due: none

chore: fix test
  src/app/components/services/garmin/services.garmin.component.spec.ts
Due: lint-angular

chore: admin and users functions for appcheck
  functions/src/user/user.spec.ts
  functions/src/users/admin.spec.ts
Due: lint-functions

chore: styles
  src/app/components/data-type-icon/data-type-icon.component.ts
  src/app/components/event/devices/event.card.devices.component.css
  src/app/components/event/devices/event.card.devices.component.html
  src/app/components/event/devices/event.card.devices.component.ts
Due: lint-angular

chore: fix for backfill
  src/app/services/app.user.service.ts
  src/environments/environment.beta.ts
  src/environments/environment.prod.ts
  src/environments/environment.ts
Due: lint-angular

fix: test
  functions/src/shared/auth.spec.ts
  functions/src/users/admin-filtering.spec.ts
Due: lint-functions

chore: bump sl
  functions/package-lock.json
  functions/package.json
  package-lock.json
  package.json
Due: none

chore: test fix
  src/app/components/services/garmin/services.garmin.component.spec.ts
Due: lint-angular

chore: fixed app
  functions/package-lock.json
  functions/package.json
  functions/vitest.config.ts
  package-lock.json
  package.json
  vitest.config.ts
Due: lint-functions

fix: issue with packange
  package-lock.json
  package.json
Due: none

chore: qslib
  functions/package-lock.json
  functions/package.json
  package-lock.json
  package.json
Due: none

chore: bump version
  package-lock.json
  package.json
Due: none

chore: sl
  functions/package-lock.json
  functions/package.json
  package-lock.json
  package.json
Due: none

chore: fix as no count
  src/app/components/history-import-form/history-import.form.component.html
Due: lint-angular

chore: full reload
  src/app/components/admin/admin-dashboard/admin-dashboard.component.ts
Due: lint-angular

chore: check dql if not found
  functions/src/tasks/workout-processor.spec.ts
  functions/src/tasks/workout-processor.ts
Due: lint-functions

chore: deprecations
  src/app/app.module.ts
Due: lint-angular

chore: intialize
  src/app/app.module.ts
Due: lint-angular

chore: improve app checks
  src/app/app.module.ts
Due: lint-angular

fix: init
  src/app/app.module.ts
Due: lint-angular

chore: deps
  package-lock.json
  package.json
Due: none

chore: app check fixes
  src/app/app.module.ts
Due: lint-angular

fix: use getapp
  src/app/app.module.ts
Due: lint-angular

chore: token to false
  src/app/app.module.ts
Due: lint-angular

chore: sort by created date
  functions/src/users/admin.ts
Due: lint-functions

chore: improve deeplink service
  src/app/components/history-import-form/history-import.form.component.css
  src/app/components/services/garmin/services.garmin.component.html
  src/app/services/app.deeplink.service.spec.ts
  src/app/services/app.deeplink.service.ts
Due: lint-angular

chore: settings fix
  src/app/components/user-settings/user-settings.component.spec.ts
  src/app/components/user-settings/user-settings.component.ts
Due: lint-angular

chore: no more git rules
  .agent/rules/git-expert.md
Due: none

chore: fix settings
  src/app/components/user-settings/user-settings.component.html
  src/app/components/user-settings/user-settings.component.spec.ts
  src/app/components/user-settings/user-settings.component.ts
Due: lint-angular

chore: home improvements
  src/app/components/home/home.component.html
  src/app/components/home/home.component.scss
Due: lint-angular

chore: more home stuff
  src/app/components/home/home.component.html
  src/app/components/home/home.component.scss
Due: lint-angular

chore: fix test
  functions/src/users/admin.spec.ts
Due: lint-functions

chore: indexes
  firestore.indexes.json
Due: none

refactor: test coverage and minor fixes
  README.md
  functions/src/shared/pricing.ts
  functions/src/stripe/claims.spec.ts
  functions/src/stripe/cleanup.spec.ts
  functions/src/stripe/client.spec.ts
  functions/src/stripe/email-triggers.spec.ts
  functions/src/stripe/email-triggers.ts
  functions/src/stripe/subscriptions.spec.ts
  functions/src/users/admin.spec.ts
  functions/src/users/cleanup.spec.ts
  functions/src/users/cleanup.ts
Due: lint-functions
