Repository jimmykane/quantified-self: changes, and which lefthook commands are due for each by the changed paths.
All: lint-functions, lint-angular

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint-functions:
      root: "functions"
      glob: "**/*.{ts,js}"
      run: npx eslint {staged_files} --fix && git add {staged_files}
    lint-angular:
      glob: "{src/*.{ts,html},src/**/*.{ts,html}}"
      run: ESLINT_USE_FLAT_CONFIG=false npx eslint {staged_files} --fix && git add {staged_files}

chore: increase coverage
  functions/src/schedule/sports-lib-reparse.spec.ts
Due: lint-functions

chore: add progress
  functions/src/scripts/backfill-sports-lib-processing-code.spec.ts
  functions/src/scripts/backfill-sports-lib-processing-code.ts
Due: lint-functions

chore: improve code
  functions/src/scripts/backfill-sports-lib-processing-code.ts
Due: lint-functions

chore: update rules for original files
  firestore.rules
  src/firestore.rules.spec.ts
Due: lint-angular

chore: fix for updating activity
  src/app/services/app.event.service.spec.ts
  src/app/services/app.event.service.ts
Due: lint-angular

chore: remove form
  src/app/components/event-actions/event.actions.component.html
  src/app/components/event-actions/event.actions.component.ts
  src/app/modules/shared.module.ts
  src/app/services/app.event.service.ts
Due: lint-angular

refactor: allow only update specific event and activity fields
  firestore.rules
  src/app/components/event-summary/event-details-summary-bottom-sheet/event-details-summary-bottom-sheet.component.spec.ts
  src/app/components/event-summary/event-details-summary-bottom-sheet/event-details-summary-bottom-sheet.component.ts
  src/app/components/event-table/event.table.component.spec.ts
  src/app/components/event-table/event.table.component.ts
  src/app/components/event/activities-toggles/activities-toggles.component.spec.ts
  src/app/components/event/activities-toggles/activities-toggles.component.ts
  src/app/services/app.event.service.spec.ts
  src/app/services/app.event.service.ts
  src/firestore.rules.spec.ts
Due: lint-angular

chore: cleanups
  src/app/components/activity-form/activity.form.component.css
  src/app/components/activity-form/activity.form.component.html
  src/app/components/activity-form/activity.form.component.ts
  src/app/components/event-summary/event-details-summary-bottom-sheet/event-details-summary-bottom-sheet.component.ts
  src/app/components/event/activities-toggles/activities-toggles.component.ts
  src/app/services/app.event.service.spec.ts
  src/app/services/app.event.service.ts
Due: lint-angular

chore: fixes for writing part 1
  src/app/components/event/activities-toggles/activities-toggles.component.spec.ts
  src/app/components/event/activities-toggles/activities-toggles.component.ts
Due: lint-angular

chore: cleanup
  src/app/components/event-actions/event.actions.component.spec.ts
  src/app/components/services/suunto/services.suunto.component.spec.ts
  src/app/services/app.event.service.spec.ts
  src/app/services/app.event.service.ts
  src/app/utils/activity-edit.persistence.spec.ts
  src/app/utils/activity-edit.persistence.ts
Due: lint-angular

chore: bv
  package.json
Due: none

chore: enable reparse for all
  functions/src/reparse/sports-lib-reparse.config.ts
Due: lint-functions

chore: add concurency
  functions/src/scripts/backfill-sports-lib-processing-code.spec.ts
  functions/src/scripts/backfill-sports-lib-processing-code.ts
Due: lint-functions

chore: add resume points
  functions/src/scripts/backfill-sports-lib-processing-code.spec.ts
  functions/src/scripts/backfill-sports-lib-processing-code.ts
Due: lint-functions

chore: fix icon parsing and add tests
  src/app/components/activity-type-icon/activity-type-icon.component.spec.ts
  src/app/components/activity-type-icon/activity-type-icon.component.ts
Due: lint-angular

chore: fix icon parsing
  src/app/components/activity-type-icon/activity-type-icon.component.html
  src/app/components/activity-type-icon/activity-type-icon.component.ts
Due: lint-angular

chore: improve onboarding
  src/app/app.component.spec.ts
  src/app/app.component.ts
Due: lint-angular

chore: bump sportslib
  functions/package-lock.json
  functions/package.json
  functions/src/reparse/sports-lib-reparse.config.ts
  package-lock.json
  package.json
Due: lint-functions

chore: change defaults
  functions/src/reparse/sports-lib-reparse.config.ts
  functions/src/schedule/sports-lib-reparse.ts
Due: lint-functions

chore: fixes for admin
  src/app/components/admin/admin-queue-stats/admin-queue-stats.component.scss
  src/app/components/admin/admin-queue-stats/admin-queue-stats.component.spec.ts
  src/app/components/admin/admin-queue-stats/admin-queue-stats.component.ts
Due: lint-angular

chore: improve admin
  src/app/components/admin/admin-dashboard/admin-dashboard.component.html
  src/app/components/admin/admin-dashboard/admin-dashboard.component.spec.ts
  src/app/components/admin/admin-user-management/admin-user-management.component.html
  src/app/components/admin/admin-user-management/admin-user-management.component.scss
  src/app/components/admin/admin-user-management/admin-user-management.component.spec.ts
  src/app/components/admin/admin-user-management/admin-user-management.component.ts
Due: lint-angular

chore: remove logic that does reparse based on free or pro tier for now
  functions/src/reparse/SPORTS_LIB_REPARSE_RUNBOOK.md
  functions/src/reparse/sports-lib-reparse.config.ts
  functions/src/schedule/sports-lib-reparse.spec.ts
  functions/src/schedule/sports-lib-reparse.ts
  functions/src/scripts/backfill-sports-lib-processing-code.spec.ts
  functions/src/scripts/reparse-sports-lib-events.spec.ts
  functions/src/scripts/reparse-sports-lib-events.ts
  functions/src/tasks/sports-lib-reparse-worker.spec.ts
  functions/src/tasks/sports-lib-reparse-worker.ts
Due: lint-functions

chore: enable for all
  functions/src/reparse/sports-lib-reparse.config.ts
Due: lint-functions

chore: better logging
  functions/src/suunto/activities.ts
Due: lint-functions

refactor: new routes for admin
  src/app/components/admin/admin-dashboard/admin-dashboard.component.html
  src/app/components/admin/admin-dashboard/admin-dashboard.component.scss
  src/app/components/admin/admin-dashboard/admin-dashboard.component.spec.ts
  src/app/components/admin/admin-dashboard/admin-dashboard.component.ts
  src/app/components/admin/admin-queue-monitor/admin-queue-monitor.component.html
  src/app/components/admin/admin-queue-monitor/admin-queue-monitor.component.scss
  src/app/components/admin/admin-queue-monitor/admin-queue-monitor.component.spec.ts
  src/app/components/admin/admin-queue-monitor/admin-queue-monitor.component.ts
  src/app/components/admin/admin-queue-stats/admin-queue-stats.component.html
  src/app/components/admin/admin-queue-stats/admin-queue-stats.component.spec.ts
  src/app/components/admin/admin-queue-stats/admin-queue-stats.component.ts
  src/app/modules/admin.module.ts
Due: lint-angular

chore: bump versions
  functions/package-lock.json
  functions/package.json
Due: none

chore: update indexes
  firestore.indexes.json
Due: none

fix: correct collection query
  functions/src/reparse/SPORTS_LIB_REPARSE_RUNBOOK.md
  functions/src/schedule/sports-lib-reparse.spec.ts
  functions/src/schedule/sports-lib-reparse.ts
  functions/src/scripts/reparse-sports-lib-events.spec.ts
  functions/src/scripts/reparse-sports-lib-events.ts
Due: lint-functions

chore: use concurency
  functions/src/schedule/sports-lib-reparse.ts
Due: lint-functions

chore: increase the limits release ze krakenista
  functions/src/reparse/sports-lib-reparse.config.ts
Due: lint-functions

chore: decrease limits
  functions/src/reparse/sports-lib-reparse.config.ts
Due: lint-functions

chore: decrease more the limits
  functions/src/reparse/sports-lib-reparse.config.ts
Due: lint-functions

chore: admin
  src/app/components/admin/admin-queue-stats/admin-queue-stats.component.html
  src/app/components/admin/admin-queue-stats/admin-queue-stats.component.spec.ts
Due: lint-angular

chore: better logging
  functions/src/shared/event-writer.spec.ts
  functions/src/shared/event-writer.ts
Due: lint-functions

chore: dispatch 1 per second
  functions/src/schedule/sports-lib-reparse.spec.ts
  functions/src/schedule/sports-lib-reparse.ts
Due: lint-functions

refactor: change pie chart to echarts
  src/app/components/admin/admin-queue-stats/admin-queue-stats.component.ts
  src/app/components/admin/admin-user-management/admin-user-management.component.ts
  src/app/components/charts/dashboard-chart-abstract-component.directive.ts
  src/app/components/charts/pie/charts.pie.component.spec.ts
  src/app/components/charts/pie/charts.pie.component.ts
  src/app/components/event/cadence-power/event.cadence-power.component.spec.ts
  src/app/components/event/cadence-power/event.cadence-power.component.ts
  src/app/components/event/durability-curve/event.durability-curve.component.spec.ts
  src/app/components/event/durability-curve/event.durability-curve.component.ts
  src/app/components/event/intensity-zones/event.intensity-zones.component.spec.ts
  src/app/components/event/intensity-zones/event.intensity-zones.component.ts
  src/app/components/event/power-curve/event.power-curve.component.spec.ts
  src/app/components/event/power-curve/event.power-curve.component.ts
  src/app/helpers/dashboard-chart-data.helper.ts
  src/app/helpers/dashboard-pie-chart-data.helper.spec.ts
  src/app/helpers/dashboard-pie-chart-data.helper.ts
  src/app/helpers/echarts-host-controller.spec.ts
  src/app/helpers/echarts-host-controller.ts
  src/app/helpers/echarts-theme.helper.spec.ts
  src/app/helpers/echarts-theme.helper.ts
Due: lint-angular

chore: center chart
  src/app/components/charts/pie/charts.pie.component.ts
Due: lint-angular

chore: reparse
  functions/src/schedule/sports-lib-reparse.ts
Due: lint-functions

chore: charts refactor for dates
  src/app/components/charts/columns/charts.columns.component.spec.ts
  src/app/components/charts/columns/charts.columns.component.ts
  src/app/components/tile/chart/tile.chart.component.html
  src/app/components/tile/chart/tile.chart.component.spec.ts
  src/app/helpers/dashboard-echarts-cartesian.helper.spec.ts
  src/app/helpers/dashboard-echarts-cartesian.helper.ts
  src/app/services/echarts-loader.service.ts
Due: lint-angular

chore: improve dashboard charts
  src/app/components/charts/xy/charts.xy.component.spec.ts
  src/app/components/charts/xy/charts.xy.component.ts
  src/app/components/tile/chart/tile.chart.component.html
  src/app/components/tile/chart/tile.chart.component.spec.ts
  src/app/helpers/dashboard-echarts-cartesian.helper.spec.ts
  src/app/helpers/dashboard-echarts-cartesian.helper.ts
Due: lint-angular
