Repository jimmykane/quantified-self: changes, and which lefthook commands are due for each by the changed paths.
All: lint-functions, lint-angular

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint-functions:
      root: "functions"
      glob: "**/*.{ts,js}"
      run: npx eslint {staged_files} --fix && git add {staged_files}
    lint-angular:
      glob: "{src/*.{ts,html},src/**/*.{ts,html}}"
      run: ESLINT_USE_FLAT_CONFIG=false npx eslint {staged_files} --fix && git add {staged_files}

fix: compact durability info icon
  docs/training-workspace.md
  src/app/components/shared/durability-reading-guide/durability-reading-guide.component.scss
  src/app/components/shared/durability-reading-guide/durability-reading-guide.component.spec.ts
Due: lint-angular

refactor: share MCP daily training summary internals
  functions/src/mcp/data.service.ts
  functions/src/mcp/tool-output-schemas.ts
Due: lint-functions

feat: group Training recovery context
  docs/training-workspace.md
  src/app/components/training/training-workspace.component.html
  src/app/components/training/training-workspace.component.scss
  src/app/components/training/training-workspace.component.spec.ts
  src/app/helpers/training-recovery-estimate.helper.spec.ts
  src/app/helpers/training-recovery-estimate.helper.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

feat: align recovery countdown details
  docs/training-workspace.md
  src/app/components/summaries/summaries.component.html
  src/app/components/summaries/summaries.component.spec.ts
  src/app/components/summaries/summaries.component.ts
  src/app/components/training/training-workspace.component.html
  src/app/components/training/training-workspace.component.scss
  src/app/components/training/training-workspace.component.spec.ts
  src/app/helpers/dashboard-recovery-now.helper.spec.ts
  src/app/helpers/dashboard-recovery-now.helper.ts
  src/app/helpers/training-recovery-estimate.helper.spec.ts
  src/app/helpers/training-recovery-estimate.helper.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: increase memory for count and sleep schedulers
  functions/src/admin/handlers/users.handlers.ts
  functions/src/sleep/polling.ts
Due: lint-functions

fix: align MCP metadata and public policy pages
  docs/mcp-server.md
  firebase.json
  functions/src/mcp/contracts/pending-change.json
  functions/src/mcp/server.spec.ts
  functions/src/mcp/server.ts
  functions/src/mcp/tool-output-schemas.spec.ts
  functions/src/mcp/tool-output-schemas.ts
  ngsw-config.json
  plugins/quantified-self/plugin.template.json
  src/app/app.routes.server.spec.ts
  src/app/app.routes.server.ts
  src/app/app.routing.module.spec.ts
  src/app/app.routing.module.ts
  src/app/components/policies/policies.component.html
  src/app/components/policies/policies.component.spec.ts
  src/app/components/policies/policies.component.ts
  src/app/components/public-footer/public-footer.component.html
  src/app/components/public-footer/public-footer.component.spec.ts
  src/app/components/public-seo/public-seo-page.component.spec.ts
  src/app/policies.routing.module.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/app/shared/public-startup-route.spec.ts
  src/app/shared/public-startup-route.ts
  src/firebase-hosting.config.spec.ts
  src/robots.txt
  src/sitemap.xml
Due: lint-functions, lint-angular

feat: align MCP metric discovery and sleep routing
  docs/mcp-server.md
  docs/training-workspace.md
  functions/src/mcp/contracts/pending-change.json
  functions/src/mcp/data.service.spec.ts
  functions/src/mcp/data.service.ts
  functions/src/mcp/server.spec.ts
  functions/src/mcp/server.ts
  functions/src/mcp/tool-output-schemas.spec.ts
  functions/src/mcp/tool-output-schemas.ts
  functions/src/mcp/training-metric-catalog.spec.ts
  functions/src/mcp/training-metric-catalog.ts
  plugins/quantified-self/skills/analyze-quantified-self-activity/SKILL.md
  plugins/quantified-self/skills/analyze-quantified-self-sleep/SKILL.md
  plugins/quantified-self/skills/analyze-quantified-self-training/SKILL.md
  plugins/quantified-self/skills/analyze-quantified-self/SKILL.md
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

fix: harden MCP discovery and ranking bounds
  docs/mcp-server.md
  docs/training-workspace.md
  functions/src/mcp/contracts/pending-change.json
  functions/src/mcp/data.service.spec.ts
  functions/src/mcp/data.service.ts
  functions/src/mcp/tool-output-schemas.spec.ts
  functions/src/mcp/tool-output-schemas.ts
Due: lint-functions

test: stabilize MCP contract capture in CI
  functions/src/mcp/contract-compatibility.spec.ts
Due: lint-functions

fix: keep durability charts mounted
  docs/training-workspace.md
  src/app/components/training/training-durability-trajectory-chart.component.spec.ts
  src/app/helpers/echarts-host-controller.spec.ts
  src/app/helpers/echarts-host-controller.ts
Due: lint-angular

fix: align MCP readiness freshness
  functions/src/mcp/data.service.spec.ts
  functions/src/mcp/data.service.ts
  functions/src/mcp/server.spec.ts
  functions/src/mcp/server.ts
Due: lint-functions

fix: align changelog notification content
  src/app/components/whats-new/whats-new-dialog.component.spec.ts
  src/app/components/whats-new/whats-new-dialog.component.ts
  src/app/components/whats-new/whats-new-feed.component.html
  src/app/components/whats-new/whats-new-feed.component.ts
  src/app/components/whats-new/whats-new-item.component.html
  src/app/components/whats-new/whats-new-item.component.scss
  src/app/components/whats-new/whats-new-item.component.spec.ts
  src/app/components/whats-new/whats-new-item.component.ts
Due: lint-angular

fix: preserve release metadata for wrapped titles
  src/app/components/whats-new/whats-new-item.component.html
  src/app/components/whats-new/whats-new-item.component.spec.ts
Due: lint-angular

fix: increase list users memory
  functions/src/admin/handlers/users.handlers.ts
Due: lint-functions

fix: clarify MCP connection permissions
  src/app/components/mcp-connections/mcp-connections.component.html
  src/app/components/mcp-connections/mcp-connections.component.scss
  src/app/components/mcp-connections/mcp-connections.component.spec.ts
  src/app/components/mcp-connections/mcp-connections.component.ts
Due: lint-angular

fix: debounce admin user search
  src/app/components/admin/admin-user-management/admin-user-management.component.html
  src/app/components/admin/admin-user-management/admin-user-management.component.spec.ts
  src/app/components/admin/admin-user-management/admin-user-management.component.ts
Due: lint-angular

fix: ignore stale admin user fetches
  src/app/components/admin/admin-user-management/admin-user-management.component.spec.ts
  src/app/components/admin/admin-user-management/admin-user-management.component.ts
Due: lint-angular

fix: increase derived metrics trigger memory
  functions/src/derived-metrics/derived-metrics.trigger.spec.ts
  functions/src/derived-metrics/derived-metrics.trigger.ts
Due: lint-functions

fix: stabilize derived metrics status headers
  docs/training-workspace.md
  src/app/components/summaries/summaries.component.css
  src/app/components/summaries/summaries.component.html
  src/app/components/summaries/summaries.component.spec.ts
  src/app/components/summaries/summaries.component.ts
  src/app/components/training/training-workspace.component.html
  src/app/components/training/training-workspace.component.scss
  src/app/components/training/training-workspace.component.spec.ts
  src/app/components/training/training-workspace.component.ts
  src/app/helpers/derived-metric-status.helper.spec.ts
  src/app/helpers/derived-metric-status.helper.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: scope derived status to visible recovery
  docs/training-workspace.md
  src/app/components/summaries/summaries.component.spec.ts
  src/app/components/summaries/summaries.component.ts
  src/app/components/training/training-workspace.component.spec.ts
  src/app/components/training/training-workspace.component.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: align derived status with rendered metrics
  docs/training-workspace.md
  src/app/components/summaries/summaries.component.css
  src/app/components/summaries/summaries.component.html
  src/app/components/summaries/summaries.component.spec.ts
  src/app/components/training/training-workspace.component.html
  src/app/components/training/training-workspace.component.scss
  src/app/components/training/training-workspace.component.spec.ts
  src/app/components/training/training-workspace.component.ts
Due: lint-angular

fix: stabilize narrow training header actions
  docs/training-workspace.md
  src/app/components/training/training-workspace.component.html
  src/app/components/training/training-workspace.component.scss
  src/app/components/training/training-workspace.component.spec.ts
Due: lint-angular

fix: query calendar events by stored timestamps
  src/app/services/activity-calendar.service.spec.ts
  src/app/services/activity-calendar.service.ts
Due: lint-angular

fix: harden activity calendar behavior
  src/app/components/calendar/activity-calendar-grid/activity-calendar-grid.component.html
  src/app/components/calendar/activity-calendar-grid/activity-calendar-grid.component.scss
  src/app/components/calendar/activity-calendar-grid/activity-calendar-grid.component.spec.ts
  src/app/components/calendar/activity-calendar-tile/activity-calendar-tile.component.spec.ts
  src/app/components/calendar/activity-calendar-tile/activity-calendar-tile.component.ts
  src/app/components/calendar/calendar-day-details/calendar-day-details.component.html
  src/app/components/calendar/calendar-day-details/calendar-day-details.component.spec.ts
  src/app/components/calendar/calendar-day-details/calendar-day-details.component.ts
  src/app/components/calendar/calendar-page/calendar-page.component.spec.ts
  src/app/components/calendar/calendar-page/calendar-page.component.ts
  src/app/helpers/activity-calendar.helper.spec.ts
  src/app/helpers/activity-calendar.helper.ts
Due: lint-angular

fix: register calendar hosting routes
  firebase.json
  ngsw-config.json
  src/firebase-hosting.config.spec.ts
Due: lint-angular

fix: prevent training header action overflow
  docs/training-workspace.md
  src/app/components/training/training-workspace.component.scss
  src/app/components/training/training-workspace.component.spec.ts
Due: lint-angular

fix: flatten calendar day sheet surface
  src/app/components/calendar/calendar-day-details/calendar-day-details.component.scss
  src/app/components/calendar/calendar-day-details/calendar-day-details.component.spec.ts
Due: lint-angular

fix: restore eager analytics startup
  src/app/services/app.analytics.service.spec.ts
  src/app/services/app.analytics.service.ts
  src/app/services/deferred-firebase-analytics.service.spec.ts
  src/app/services/deferred-firebase-analytics.service.ts
  src/app/services/firebase-analytics-tracking.service.spec.ts
  src/app/services/firebase-analytics-tracking.service.ts
Due: lint-angular

fix: wait for release notes to load
  src/app/app.server.providers.ts
  src/app/resolvers/releases.resolver.spec.ts
  src/app/resolvers/releases.resolver.ts
  src/app/services/app.whats-new.service.spec.ts
  src/app/services/app.whats-new.service.ts
Due: lint-angular

fix: defer analytics startup work
  src/app/services/app.analytics.service.spec.ts
  src/app/services/app.analytics.service.ts
  src/app/services/deferred-firebase-analytics.service.spec.ts
  src/app/services/deferred-firebase-analytics.service.ts
  src/app/services/firebase-analytics-tracking.service.spec.ts
  src/app/services/firebase-analytics-tracking.service.ts
Due: lint-angular

fix: cover legal pages in public startup checks
  src/app/app.routing.module.spec.ts
  src/app/app.routing.module.ts
  src/app/components/policies/policies.component.spec.ts
  src/app/modules/policies.module.ts
  tools/verify-public-initial-output.mjs
Due: lint-angular

fix: align calendar material surfaces
  src/app/components/calendar/activity-calendar-grid/activity-calendar-grid.component.html
  src/app/components/calendar/activity-calendar-grid/activity-calendar-grid.component.scss
  src/app/components/calendar/activity-calendar-grid/activity-calendar-grid.component.spec.ts
  src/app/components/calendar/calendar-day-details/calendar-day-details.component.html
  src/app/components/calendar/calendar-day-details/calendar-day-details.component.scss
  src/app/components/calendar/calendar-day-details/calendar-day-details.component.spec.ts
Due: lint-angular

fix: remove calendar day tooltips
  src/app/components/calendar/activity-calendar-grid/activity-calendar-grid.component.html
  src/app/components/calendar/activity-calendar-grid/activity-calendar-grid.component.spec.ts
  src/app/helpers/activity-calendar.helper.spec.ts
  src/app/helpers/activity-calendar.helper.ts
Due: lint-angular

fix: stabilize calendar loading and paging
  src/app/app-shell.component.spec.ts
  src/app/app-shell.component.ts
  src/app/components/calendar/activity-calendar-tile/activity-calendar-tile.component.html
  src/app/components/calendar/activity-calendar-tile/activity-calendar-tile.component.scss
  src/app/components/calendar/activity-calendar-tile/activity-calendar-tile.component.spec.ts
  src/app/components/calendar/calendar-page/calendar-page.component.html
  src/app/components/calendar/calendar-page/calendar-page.component.scss
  src/app/components/calendar/calendar-page/calendar-page.component.spec.ts
  src/app/services/activity-calendar.service.spec.ts
  src/app/services/activity-calendar.service.ts
  src/app/services/app.event.service.spec.ts
  src/app/services/app.event.service.ts
  src/app/services/shell-navigation-effects.service.spec.ts
  src/app/services/shell-navigation-effects.service.ts
Due: lint-angular

fix: compact calendar today action on mobile
  src/app/components/calendar/calendar-page/calendar-page.component.html
  src/app/components/calendar/calendar-page/calendar-page.component.scss
  src/app/components/calendar/calendar-page/calendar-page.component.spec.ts
Due: lint-angular

feat: add calendar period summaries
  src/app/components/calendar/calendar-page/calendar-page.component.html
  src/app/components/calendar/calendar-page/calendar-page.component.scss
  src/app/components/calendar/calendar-page/calendar-page.component.spec.ts
  src/app/components/calendar/calendar-page/calendar-page.component.ts
  src/app/helpers/activity-calendar.helper.spec.ts
  src/app/helpers/activity-calendar.helper.ts
  src/app/services/activity-calendar.service.spec.ts
  src/app/services/activity-calendar.service.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: center calendar today number
  src/app/components/calendar/activity-calendar-grid/activity-calendar-grid.component.scss
Due: none

feat: add calendar family volume bars
  src/app/components/calendar/calendar-page/calendar-page.component.html
  src/app/components/calendar/calendar-page/calendar-page.component.scss
  src/app/components/calendar/calendar-page/calendar-page.component.spec.ts
  src/app/components/calendar/calendar-page/calendar-page.component.ts
  src/app/helpers/activity-calendar.helper.spec.ts
  src/app/helpers/activity-calendar.helper.ts
  src/app/services/activity-calendar.service.spec.ts
  src/app/services/activity-calendar.service.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular
