Repository jimmykane/quantified-self: changes, and which lefthook commands are due for each by the changed paths.
All: lint-functions, lint-angular

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint-functions:
      root: "functions"
      glob: "**/*.{ts,js}"
      run: npx eslint {staged_files} --fix && git add {staged_files}
    lint-angular:
      glob: "{src/*.{ts,html},src/**/*.{ts,html}}"
      run: ESLINT_USE_FLAT_CONFIG=false npx eslint {staged_files} --fix && git add {staged_files}

fix: pack mixed-width dashboard charts
  src/app/components/summaries/summaries.component.spec.ts
  src/app/components/summaries/summaries.component.ts
Due: lint-angular

docs: document local Sentry access
  AGENTS.md
Due: none

fix: center dashboard manager button content
  src/app/components/summaries/dashboard-manager-dialog/dashboard-manager-dialog.component.css
  src/app/components/summaries/dashboard-manager-dialog/dashboard-manager-dialog.component.spec.ts
Due: lint-angular

fix: reduce derived training worker memory
  docs/training-workspace.md
  functions/src/derived-metrics/derived-metrics.service.spec.ts
  functions/src/derived-metrics/derived-metrics.service.ts
  functions/src/tasks/derived-metrics-worker.spec.ts
  functions/src/tasks/derived-metrics-worker.ts
Due: lint-functions

test: guard durability evidence sanitization
  docs/training-workspace.md
  src/app/utils/event-json-sanitizer.spec.ts
Due: lint-angular

fix: avoid reporting expected upload failures
  src/app/components/upload/upload-abstract.directive.ts
  src/app/components/upload/upload-activities/upload-activities.component.spec.ts
  src/app/components/upload/upload-activities/upload-activities.component.ts
  src/app/components/upload/upload-routes/upload-routes.component.ts
  src/app/services/app.fit-upload.service.spec.ts
  src/app/services/app.fit-upload.service.ts
  src/app/services/app.route-upload.service.spec.ts
  src/app/services/app.route-upload.service.ts
  src/app/services/upload-error.ts
Due: lint-angular

feat: add data-aware dashboard insights
  docs/training-workspace.md
  src/app/components/charts/kpi/charts.kpi.component.css
  src/app/components/charts/kpi/charts.kpi.component.html
  src/app/components/charts/kpi/charts.kpi.component.spec.ts
  src/app/components/charts/kpi/charts.kpi.component.ts
  src/app/components/summaries/dashboard-manager-dialog/dashboard-manager-dialog.component.css
  src/app/components/summaries/dashboard-manager-dialog/dashboard-manager-dialog.component.html
  src/app/components/summaries/dashboard-manager-dialog/dashboard-manager-dialog.component.spec.ts
  src/app/components/summaries/dashboard-manager-dialog/dashboard-manager-dialog.component.ts
  src/app/components/summaries/summaries.component.html
  src/app/components/summaries/summaries.component.spec.ts
  src/app/components/summaries/summaries.component.ts
  src/app/components/tile/chart/tile.chart.component.html
  src/app/components/tile/chart/tile.chart.component.ts
  src/app/helpers/dashboard-auto-tile.helper.ts
  src/app/helpers/dashboard-chart-info.helper.ts
  src/app/helpers/dashboard-kpi-explanation.helper.spec.ts
  src/app/helpers/dashboard-kpi-explanation.helper.ts
  src/app/helpers/dashboard-manager-presets.helper.spec.ts
  src/app/helpers/dashboard-manager-presets.helper.ts
  src/app/helpers/dashboard-special-chart-types.ts
  src/app/helpers/dashboard-tile-view-model.helper.spec.ts
  src/app/helpers/dashboard-tile-view-model.helper.ts
  src/app/helpers/dashboard-training-insights.helper.spec.ts
  src/app/helpers/dashboard-training-insights.helper.ts
  src/app/services/dashboard-derived-metrics.service.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: retry sports-lib reparse persistence transactions
  docs/training-workspace.md
  functions/src/reparse/sports-lib-reparse.service.spec.ts
  functions/src/reparse/sports-lib-reparse.service.ts
Due: lint-functions

chore: update agents
  AGENTS.md
Due: none

chore: fixes
  src/app/components/charts/sleep-trend/charts.sleep-trend.component.spec.ts
  src/app/components/charts/sleep-trend/charts.sleep-trend.component.ts
  src/app/helpers/dashboard-chart-info.helper.spec.ts
  src/app/helpers/dashboard-chart-info.helper.ts
  src/app/helpers/dashboard-special-chart-types.spec.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: avg stats
  src/app/components/charts/sleep-trend/charts.sleep-trend.component.spec.ts
  src/app/components/charts/sleep-trend/charts.sleep-trend.component.ts
Due: lint-angular

fix: handle stale sports-lib reparse jobs
  functions/src/admin/handlers/queues.handlers.ts
  functions/src/admin/queues.handlers.spec.ts
  functions/src/admin/shared/types.ts
  functions/src/reparse/SPORTS_LIB_REPARSE_RUNBOOK.md
  functions/src/reparse/sports-lib-reparse.service.spec.ts
  functions/src/reparse/sports-lib-reparse.service.ts
  functions/src/schedule/sports-lib-reparse.spec.ts
  functions/src/schedule/sports-lib-reparse.ts
  functions/src/tasks/sports-lib-reparse-worker.spec.ts
  functions/src/tasks/sports-lib-reparse-worker.ts
  shared/admin-queue-stats.ts
  src/app/components/admin/admin-queue-stats/admin-queue-stats.component.html
  src/app/components/admin/admin-queue-stats/admin-queue-stats.component.spec.ts
  src/app/components/admin/admin-queue-stats/admin-queue-stats.component.ts
Due: lint-functions, lint-angular

fix: restore dashboard KPIs and mobile durability
  docs/training-workspace.md
  src/app/components/event/durability-curve/event.durability-curve.component.css
  src/app/components/event/durability-curve/event.durability-curve.component.html
  src/app/components/event/durability-curve/event.durability-curve.component.spec.ts
  src/app/components/event/durability-curve/event.durability-curve.component.ts
  src/app/components/event/performance-charts/event.performance-charts.component.css
  src/app/components/event/performance-charts/event.performance-charts.component.spec.ts
  src/app/components/summaries/summaries.component.html
  src/app/components/summaries/summaries.component.spec.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

feat: add training readiness history
  docs/training-workspace.md
  functions/src/derived-metrics/derived-metrics.service.spec.ts
  functions/src/derived-metrics/derived-metrics.service.ts
  functions/src/derived-metrics/derived-metrics.trigger.spec.ts
  functions/src/derived-metrics/derived-metrics.trigger.ts
  functions/src/tasks/derived-metrics-worker.spec.ts
  functions/src/tasks/derived-metrics-worker.ts
  shared/derived-metrics.ts
  shared/readiness.ts
  src/app/components/summaries/summaries.component.spec.ts
  src/app/components/summaries/summaries.component.ts
  src/app/components/training/training-workspace.component.html
  src/app/components/training/training-workspace.component.scss
  src/app/components/training/training-workspace.component.spec.ts
  src/app/components/training/training-workspace.component.ts
  src/app/helpers/dashboard-sleep-chart.helper.spec.ts
  src/app/helpers/dashboard-sleep-chart.helper.ts
  src/app/helpers/dashboard-training-insights.helper.spec.ts
  src/app/helpers/dashboard-training-insights.helper.ts
  src/app/helpers/training-derived-metrics.helper.spec.ts
  src/app/helpers/training-derived-metrics.helper.ts
  src/app/helpers/training-readiness.helper.spec.ts
  src/app/helpers/training-readiness.helper.ts
  src/app/services/dashboard-derived-metrics.service.spec.ts
  src/app/services/dashboard-derived-metrics.service.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

fix: repair training readiness and trajectory charts
  docs/training-workspace.md
  functions/src/derived-metrics/ensure-derived-metrics.spec.ts
  functions/src/derived-metrics/ensure-derived-metrics.ts
  shared/training-readiness-metric.ts
  src/app/components/training/training-durability-trajectory-chart.component.spec.ts
  src/app/components/training/training-durability-trajectory-chart.component.ts
  src/app/helpers/training-derived-metrics.helper.spec.ts
  src/app/helpers/training-derived-metrics.helper.ts
Due: lint-functions, lint-angular

fix: explain cycling durability eligibility
  docs/training-workspace.md
  src/app/components/training/training-durability-trajectory-chart.component.html
  src/app/components/training/training-durability-trajectory-chart.component.scss
  src/app/components/training/training-durability-trajectory-chart.component.spec.ts
  src/app/components/training/training-durability-trajectory-chart.component.ts
  src/app/components/training/training-workspace.component.html
  src/app/helpers/training-durability-view.helper.spec.ts
  src/app/helpers/training-durability-view.helper.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: align training numeric typography
  docs/training-workspace.md
  src/app/components/training/training-durability-trajectory-chart.component.scss
  src/app/components/training/training-swim-performance-chart.component.html
  src/app/components/training/training-swim-performance-chart.component.scss
  src/app/components/training/training-workspace.component.html
  src/app/components/training/training-workspace.component.scss
  src/app/helpers/training-explanation-view.helper.spec.ts
  src/app/helpers/training-explanation-view.helper.ts
Due: lint-angular

fix: surface training benchmark save errors
  docs/training-workspace.md
  src/app/components/training/training-build-benchmark-dialog.component.spec.ts
  src/app/components/training/training-build-benchmark-dialog.component.ts
Due: lint-angular

fix: harden heavy sports-lib reparse recovery
  functions/src/admin/handlers/queues.handlers.ts
  functions/src/admin/queues.handlers.spec.ts
  functions/src/admin/shared/types.ts
  functions/src/reparse/sports-lib-reparse.service.spec.ts
  functions/src/reparse/sports-lib-reparse.service.ts
  functions/src/shared/activity-processing-config.ts
  functions/src/shared/queue-config.ts
  functions/src/tasks/sports-lib-reparse-worker.spec.ts
  functions/src/tasks/sports-lib-reparse-worker.ts
Due: lint-functions

fix: align training card typography
  docs/training-workspace.md
  src/app/components/charts/form/charts.form.component.css
  src/app/components/charts/freshness-forecast/charts.freshness-forecast.component.css
  src/app/components/charts/intensity-distribution/charts.intensity-distribution.component.css
  src/app/components/charts/power-curve/charts.power-curve.component.css
  src/app/components/training/training-workspace.component.scss
Due: none

chore: disable sports-lib reparse scanners
  functions/src/reparse/sports-lib-reparse.config.ts
  functions/src/reparse/sports-lib-reparse.service.spec.ts
  functions/src/reparse/sports-lib-route-reparse.service.spec.ts
  functions/src/reparse/sports-lib-route-reparse.service.ts
Due: lint-functions

docs: improve contributor onboarding
  README.md
Due: none

fix: refine Training typography
  docs/training-workspace.md
  src/app/components/training/training-durability-trajectory-chart.component.html
  src/app/components/training/training-durability-trajectory-chart.component.scss
  src/app/components/training/training-metric-text.component.html
  src/app/components/training/training-metric-text.component.scss
  src/app/components/training/training-metric-text.component.spec.ts
  src/app/components/training/training-metric-text.component.ts
  src/app/components/training/training-swim-performance-chart.component.html
  src/app/components/training/training-swim-performance-chart.component.scss
  src/app/components/training/training-workspace.component.html
  src/app/components/training/training-workspace.component.scss
  src/app/components/training/training-workspace.component.spec.ts
  src/app/helpers/training-explanation-view.helper.spec.ts
  src/app/helpers/training-explanation-view.helper.ts
  src/app/helpers/training-metric-text.helper.spec.ts
  src/app/helpers/training-metric-text.helper.ts
  src/app/modules/training.module.ts
Due: lint-angular

fix: render subscription dialog markup
  src/app/components/pricing/pricing.component.spec.ts
  src/app/components/pricing/pricing.component.ts
Due: lint-angular

fix: polish training insights presentation
  docs/training-workspace.md
  src/app/components/training/training-durability-trajectory-chart.component.spec.ts
  src/app/components/training/training-durability-trajectory-chart.component.ts
  src/app/components/training/training-swim-performance-chart.component.spec.ts
  src/app/components/training/training-swim-performance-chart.component.ts
  src/app/components/training/training-workspace.component.html
  src/app/components/training/training-workspace.component.scss
  src/app/helpers/training-explanation-view.helper.spec.ts
  src/app/helpers/training-explanation-view.helper.ts
Due: lint-angular

feat: add full saved-routes map
  src/app/components/routes/route-preview-map/route-preview-map.component.css
  src/app/components/routes/route-preview-map/route-preview-map.component.html
  src/app/components/routes/route-preview-map/route-preview-map.component.spec.ts
  src/app/components/routes/route-preview-map/route-preview-map.component.ts
  src/app/components/routes/routes-page.component.html
  src/app/components/routes/routes-page.component.scss
  src/app/components/routes/routes-page.component.spec.ts
  src/app/components/routes/routes-page.component.ts
  src/app/components/shared/map-activity-popup/map-activity-popup.component.spec.ts
  src/app/components/tile/map/tile.map.component.css
  src/app/components/tile/map/tile.map.component.html
  src/app/components/tile/map/tile.map.component.spec.ts
  src/app/helpers/route-preview-map.helper.spec.ts
  src/app/helpers/route-preview-map.helper.ts
  src/app/modules/dashboard.module.ts
  src/app/services/app.analytics.service.ts
  src/app/services/app.route.service.spec.ts
  src/app/services/app.route.service.ts
  src/app/services/map/track-map.manager.spec.ts
  src/app/services/map/track-map.manager.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

feat: move readiness into dashboard today
  docs/training-workspace.md
  functions/src/derived-metrics/derived-metrics.service.spec.ts
  functions/src/derived-metrics/derived-metrics.service.ts
  functions/src/derived-metrics/ensure-derived-metrics.spec.ts
  functions/src/sleep/provider-mappers.spec.ts
  shared/derived-metrics.ts
  shared/readiness.ts
  shared/training-readiness-metric.ts
  src/app/components/charts/kpi/charts.kpi.component.spec.ts
  src/app/components/charts/kpi/charts.kpi.component.ts
  src/app/components/summaries/dashboard-manager-dialog/dashboard-manager-dialog.component.spec.ts
  src/app/components/summaries/dashboard-manager-dialog/dashboard-manager-dialog.component.ts
  src/app/components/summaries/summaries.component.css
  src/app/components/summaries/summaries.component.html
  src/app/components/summaries/summaries.component.spec.ts
  src/app/components/summaries/summaries.component.ts
  src/app/components/tile/chart/tile.chart.component.html
  src/app/components/tile/chart/tile.chart.component.ts
  src/app/components/training/training-workspace.component.spec.ts
  src/app/helpers/dashboard-chart-info.helper.spec.ts
  src/app/helpers/dashboard-chart-info.helper.ts
  src/app/helpers/dashboard-kpi-explanation.helper.spec.ts
  src/app/helpers/dashboard-kpi-explanation.helper.ts
  src/app/helpers/dashboard-manager-presets.helper.spec.ts
  src/app/helpers/dashboard-manager-presets.helper.ts
  src/app/helpers/dashboard-special-chart-types.spec.ts
  src/app/helpers/dashboard-special-chart-types.ts
  src/app/helpers/dashboard-tile-view-model.helper.spec.ts
  src/app/helpers/dashboard-tile-view-model.helper.ts
  src/app/helpers/dashboard-training-insights.helper.spec.ts
  src/app/helpers/dashboard-training-insights.helper.ts
  src/app/helpers/training-derived-metrics.helper.spec.ts
  src/app/helpers/training-readiness.helper.spec.ts
  src/app/helpers/training-readiness.helper.ts
  src/app/services/dashboard-derived-metrics.service.spec.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/app/shared/readiness.shared.spec.ts
Due: lint-functions, lint-angular

fix: make dashboard Today summary configurable
  src/app/components/summaries/dashboard-manager-dialog/dashboard-manager-dialog.component.css
  src/app/components/summaries/dashboard-manager-dialog/dashboard-manager-dialog.component.html
  src/app/components/summaries/dashboard-manager-dialog/dashboard-manager-dialog.component.spec.ts
  src/app/components/summaries/dashboard-manager-dialog/dashboard-manager-dialog.component.ts
  src/app/components/summaries/summaries.component.css
  src/app/components/summaries/summaries.component.html
  src/app/components/summaries/summaries.component.spec.ts
  src/app/components/summaries/summaries.component.ts
  src/app/models/app-user.interface.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/app/utils/app.user.utilities.spec.ts
  src/app/utils/app.user.utilities.ts
Due: lint-angular

fix: recover safely from incomplete profile reads
  src/app/app.server.providers.spec.ts
  src/app/app.server.providers.ts
  src/app/authentication/ai-insights.guard.spec.ts
  src/app/authentication/ai-insights.guard.ts
  src/app/authentication/app.auth.guard.spec.ts
  src/app/authentication/app.auth.guard.ts
  src/app/authentication/app.auth.service.spec.ts
  src/app/authentication/app.auth.service.ts
  src/app/authentication/logged-in.guard.spec.ts
  src/app/authentication/logged-in.guard.ts
  src/app/authentication/onboarding.guard.spec.ts
  src/app/authentication/onboarding.guard.ts
  src/app/authentication/pro.guard.spec.ts
  src/app/authentication/pro.guard.ts
  src/app/components/login/login.component.html
  src/app/components/login/login.component.scss
  src/app/components/login/login.component.spec.ts
  src/app/components/login/login.component.ts
  src/app/components/pricing/pricing.component.spec.ts
  src/app/components/pricing/pricing.component.ts
  src/app/firebase/firestore.spec.ts
  src/app/firebase/firestore.ts
  src/app/services/app.payment.service.spec.ts
  src/app/services/app.payment.service.ts
  src/app/services/app.user.service.spec.ts
  src/app/services/app.user.service.ts
Due: lint-angular

docs: commit completed agent changes by default
  AGENTS.md
Due: none

fix: center training mobile action icons
  docs/training-workspace.md
  src/app/components/training/training-workspace.component.html
  src/app/components/training/training-workspace.component.scss
  src/app/components/training/training-workspace.component.spec.ts
Due: lint-angular

feat: redesign services and settings workspace
  docs/mockups/services-settings-mobile-redesign-mockup.png
  docs/mockups/services-settings-redesign-mockup.png
  src/app/components/services/service-connection-status/service-connection-status.component.scss
  src/app/components/services/services.component.html
  src/app/components/services/services.component.scss
  src/app/components/services/services.component.spec.ts
  src/app/components/shared/workspace-section-navigation/workspace-section-navigation.component.html
  src/app/components/shared/workspace-section-navigation/workspace-section-navigation.component.scss
  src/app/components/shared/workspace-section-navigation/workspace-section-navigation.component.spec.ts
  src/app/components/shared/workspace-section-navigation/workspace-section-navigation.component.ts
  src/app/components/user-settings/user-settings.component.html
  src/app/components/user-settings/user-settings.component.scss
  src/app/components/user-settings/user-settings.component.spec.ts
  src/app/components/user-settings/user-settings.component.ts
  src/app/modules/shared.module.ts
Due: lint-angular

fix: align services and settings with mockups
  src/app/components/services/coros/services.coros.component.html
  src/app/components/services/coros/services.coros.component.spec.ts
  src/app/components/services/garmin/services.garmin.component.html
  src/app/components/services/garmin/services.garmin.component.spec.ts
  src/app/components/services/service-connection-status/service-connection-status.component.html
  src/app/components/services/service-connection-status/service-connection-status.component.scss
  src/app/components/services/service-connection-status/service-connection-status.component.spec.ts
  src/app/components/services/services-abstract-component.directive.scss
  src/app/components/services/services.component.html
  src/app/components/services/services.component.scss
  src/app/components/services/services.component.spec.ts
  src/app/components/services/services.component.ts
  src/app/components/services/suunto/services.suunto.component.html
  src/app/components/services/suunto/services.suunto.component.spec.ts
  src/app/components/shared/workspace-section-navigation/workspace-section-navigation.component.html
  src/app/components/shared/workspace-section-navigation/workspace-section-navigation.component.scss
  src/app/components/shared/workspace-section-navigation/workspace-section-navigation.component.spec.ts
  src/app/components/shared/workspace-section-navigation/workspace-section-navigation.component.ts
  src/app/components/user-settings/user-settings.component.html
  src/app/components/user-settings/user-settings.component.scss
  src/app/components/user-settings/user-settings.component.spec.ts
  src/app/components/user-settings/user-settings.component.ts
Due: lint-angular

fix: align services and settings interactions
  src/app/components/services/coros/services.coros.component.html
  src/app/components/services/garmin/services.garmin.component.html
  src/app/components/services/service-connection-status/service-connection-status.component.html
  src/app/components/services/service-connection-status/service-connection-status.component.scss
  src/app/components/services/service-connection-status/service-connection-status.component.ts
  src/app/components/services/services-abstract-component.directive.scss
  src/app/components/services/services-abstract-component.directive.ts
  src/app/components/services/services.component.html
  src/app/components/services/services.component.scss
  src/app/components/services/services.component.spec.ts
  src/app/components/services/services.component.ts
  src/app/components/services/suunto/services.suunto.component.html
  src/app/components/shared/workspace-section-navigation/workspace-section-navigation.component.html
  src/app/components/shared/workspace-section-navigation/workspace-section-navigation.component.scss
  src/app/components/shared/workspace-section-navigation/workspace-section-navigation.component.spec.ts
  src/app/components/shared/workspace-section-navigation/workspace-section-navigation.component.ts
  src/app/services/shell-navigation-effects.service.spec.ts
  src/app/services/shell-navigation-effects.service.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: refine desktop readiness trend
  docs/training-workspace.md
  src/app/components/training/training-workspace.component.html
  src/app/components/training/training-workspace.component.scss
  src/app/helpers/training-readiness.helper.spec.ts
  src/app/helpers/training-readiness.helper.ts
Due: lint-angular

fix: remove workspace navigation rails
  src/app/components/services/services.component.html
  src/app/components/services/services.component.spec.ts
  src/app/components/services/services.component.ts
  src/app/components/shared/workspace-section-navigation/workspace-section-navigation.component.html
  src/app/components/shared/workspace-section-navigation/workspace-section-navigation.component.scss
  src/app/components/shared/workspace-section-navigation/workspace-section-navigation.component.spec.ts
  src/app/components/shared/workspace-section-navigation/workspace-section-navigation.component.ts
  src/app/components/user-settings/user-settings.component.html
  src/app/components/user-settings/user-settings.component.spec.ts
Due: lint-angular

fix: use success green for connections
  src/app/components/services/service-connection-status/service-connection-status.component.scss
  src/app/components/services/service-connection-status/service-connection-status.component.spec.ts
  src/app/components/services/services.component.scss
  src/app/components/services/services.component.spec.ts
  src/styles.scss
Due: lint-angular

fix: open service tools in a dialog
  src/app/components/services/services.component.html
  src/app/components/services/services.component.scss
  src/app/components/services/services.component.spec.ts
  src/app/components/services/services.component.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: streamline service tools dialog
  src/app/components/history-import-form/history-import.form.component.css
  src/app/components/services/coros/services.coros.component.html
  src/app/components/services/coros/services.coros.component.spec.ts
  src/app/components/services/garmin/services.garmin.component.html
  src/app/components/services/garmin/services.garmin.component.spec.ts
  src/app/components/services/services-abstract-component.directive.scss
  src/app/components/services/services-abstract-component.directive.ts
  src/app/components/services/services.component.html
  src/app/components/services/services.component.scss
  src/app/components/services/services.component.spec.ts
  src/app/components/services/suunto/services.suunto.component.html
  src/app/components/services/suunto/services.suunto.component.spec.ts
Due: lint-angular

fix: route service cards to matching tools
  src/app/components/services/services-abstract-component.directive.ts
  src/app/components/services/services.component.html
  src/app/components/services/services.component.spec.ts
  src/app/components/services/services.component.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular
