Repository jimmykane/quantified-self: changes, and which lefthook commands are due for each by the changed paths.
All: lint-functions, lint-angular

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint-functions:
      root: "functions"
      glob: "**/*.{ts,js}"
      run: npx eslint {staged_files} --fix && git add {staged_files}
    lint-angular:
      glob: "{src/*.{ts,html},src/**/*.{ts,html}}"
      run: ESLINT_USE_FLAT_CONFIG=false npx eslint {staged_files} --fix && git add {staged_files}

fix: preserve sport refinements across Training and history
  docs/mcp-server.md
  docs/training-workspace.md
  functions/src/assistant/runtime.spec.ts
  functions/src/assistant/runtime.ts
  functions/src/derived-metrics/derived-metrics.service.spec.ts
  functions/src/mcp/activity-chart.service.spec.ts
  functions/src/shared/activity-identity-matcher.spec.ts
  functions/src/shared/activity-identity-matcher.ts
  shared/activity-type-compatibility.ts
  shared/activity-type-group.metadata.ts
  shared/derived-metrics.ts
  shared/training-disciplines.ts
  src/app/components/features/supported-activities-page.content.spec.ts
  src/app/helpers/activity-type-group.metadata.helper.spec.ts
  src/app/helpers/dashboard-power-curve-scope.helper.spec.ts
  src/app/helpers/dashboard-power-curve-scope.helper.ts
  src/app/helpers/event-chart-sport-profile.helper.spec.ts
  src/app/helpers/event-chart-sport-profile.helper.ts
  src/app/services/color/app.activity-type-group.colors.ts
  src/app/services/color/app.activity-type-group.gradients.ts
  src/app/services/color/app.activity-type-group.icons.ts
  src/app/shared/help.content.ts
  src/app/shared/training-disciplines.shared.spec.ts
  src/app/utils/app.user.utilities.spec.ts
  src/app/utils/app.user.utilities.ts
  src/app/utils/event-json-sanitizer.spec.ts
  tools/frontend-test-environments.json
Due: lint-functions, lint-angular

fix: keep mixed walking charts in their sport profile
  functions/src/shared/activity-identity-matcher.ts
  src/app/helpers/event-chart-sport-profile.helper.spec.ts
  src/app/helpers/event-chart-sport-profile.helper.ts
Due: lint-functions, lint-angular

test: align derived metric schema expectation
  src/app/shared/derived-metrics.shared.spec.ts
Due: lint-angular

fix: repair missing FIT activity sessions for COROS
  docs/activity-delivery-monitoring.md
  docs/coros-integration.md
  docs/provider-integration-guide.md
  functions/src/activity-sync/process-queue-item.spec.ts
  functions/src/coros/activities.spec.ts
  functions/src/coros/activity-fit.spec.ts
  functions/src/coros/activity-fit.ts
  functions/src/shared/fit-activity-session-repair.spec.ts
  functions/src/shared/fit-activity-session-repair.ts
  functions/test-utils/fit-activity-session.ts
Due: lint-functions

fix: reject malformed FIT fields before session repair
  functions/src/shared/fit-activity-session-repair.spec.ts
  functions/src/shared/fit-activity-session-repair.ts
  functions/test-utils/fit-activity-session.ts
Due: lint-functions

chore: upgrade fit parser to 6.2.1
  docs/training-workspace.md
  functions/package-lock.json
  functions/package.json
  functions/src/reparse/SPORTS_LIB_REPARSE_RUNBOOK.md
  package-lock.json
Due: none

chore: update fit-file-parser to 6.2.1
  functions/package-lock.json
  functions/package.json
  package-lock.json
Due: none
