Repository jimmykane/quantified-self: changes, and which lefthook commands are due for each by the changed paths.
All: lint-functions, lint-angular

lint-functions:
  run: npx eslint {staged_files} --fix && git add {staged_files}

lint-angular:
  run: ESLINT_USE_FLAT_CONFIG=false npx eslint {staged_files} --fix && git add {staged_files}

fix: compact help search results
  src/app/components/help/help-page.component.html
  src/app/components/help/help-page.component.scss
Due: lint-angular

feat: track training configuration
  docs/training-workspace.md
  src/app/components/training/training-workspace.component.spec.ts
  src/app/components/training/training-workspace.component.ts
Due: lint-angular

feat: track subscription completion
  src/app/components/payment-success/payment-success.component.spec.ts
  src/app/components/payment-success/payment-success.component.ts
  src/app/services/app.analytics.service.spec.ts
  src/app/services/app.analytics.service.ts
Due: lint-angular

feat: track routes page views
  src/app/components/routes/routes-page.component.spec.ts
  src/app/components/routes/routes-page.component.ts
  src/app/services/app.analytics.service.spec.ts
  src/app/services/app.analytics.service.ts
Due: lint-angular

chore: refresh training sitemap metadata
  src/firebase-hosting.config.spec.ts
  src/sitemap.xml
Due: lint-angular

fix: rebuild readiness with average sleep HR
  docs/training-workspace.md
  functions/src/derived-metrics/derived-metrics.service.spec.ts
  functions/src/derived-metrics/derived-metrics.service.ts
  functions/src/derived-metrics/ensure-derived-metrics.spec.ts
  shared/readiness.ts
  src/app/components/training/training-workspace.component.spec.ts
  src/app/helpers/training-derived-metrics.helper.spec.ts
  src/app/helpers/training-readiness.helper.spec.ts
  src/app/services/dashboard-derived-metrics.service.spec.ts
Due: lint-functions, lint-angular

fix: provide analytics storage in component tests
  src/app/components/dashboard/dashboard.component.spec.ts
  src/app/components/login/login.component.spec.ts
Due: lint-angular

fix: emit null after profile read failures
  src/app/services/app.user.service.spec.ts
  src/app/services/app.user.service.ts
Due: lint-angular

fix: queue mixed stale derived metrics
  docs/training-workspace.md
  functions/src/derived-metrics/ensure-derived-metrics.spec.ts
  functions/src/derived-metrics/ensure-derived-metrics.ts
Due: lint-functions

fix: restore Suunto upload access
  src/app/components/services/services.component.spec.ts
  src/app/components/services/services.component.ts
Due: lint-angular

fix: clarify Suunto upload destination
  src/app/components/services/services.component.spec.ts
  src/app/components/services/services.component.ts
Due: lint-angular

fix: reflect selected training sports in header
  docs/training-workspace.md
  src/app/components/training/training-workspace.component.html
  src/app/components/training/training-workspace.component.spec.ts
  src/app/components/training/training-workspace.component.ts
  src/app/helpers/training-sport-visibility.helper.spec.ts
  src/app/helpers/training-sport-visibility.helper.ts
Due: lint-angular

feat: improve training readiness trend
  docs/training-workspace.md
  src/app/components/training/training-workspace.component.html
  src/app/components/training/training-workspace.component.scss
  src/app/components/training/training-workspace.component.spec.ts
  src/app/helpers/training-readiness.helper.spec.ts
  src/app/helpers/training-readiness.helper.ts
Due: lint-angular

fix: improve generic benchmark labels
  docs/training-workspace.md
  src/app/components/training/training-build-benchmark-dialog.component.ts
  src/app/components/training/training-workspace.component.spec.ts
  src/app/components/training/training-workspace.component.ts
  src/app/helpers/training-event-label.helper.spec.ts
  src/app/helpers/training-event-label.helper.ts
  src/app/helpers/training-explanation-view.helper.ts
Due: lint-angular

fix: remove dashboard content gap
  src/app/components/dashboard/dashboard.component.scss
Due: none

fix: render footer in public route layout
  src/app/app-shell.component.html
  src/app/app-shell.component.spec.ts
  src/app/app-shell.component.ts
  src/app/app.module.ts
  src/app/app.routes.server.spec.ts
  src/app/app.routing.module.ts
  src/app/components/public-layout/public-layout.component.html
  src/app/components/public-layout/public-layout.component.spec.ts
  src/app/components/public-layout/public-layout.component.ts
  src/app/shared/public-startup-route.spec.ts
  src/app/shared/public-startup-route.ts
Due: lint-angular

fix: clarify training state refresh
  docs/training-workspace.md
  src/app/components/training/training-workspace.component.html
  src/app/components/training/training-workspace.component.scss
  src/app/components/training/training-workspace.component.spec.ts
  src/app/components/training/training-workspace.component.ts
  src/app/helpers/training-state.helper.spec.ts
  src/app/helpers/training-state.helper.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: explain training state inputs
  docs/training-workspace.md
  src/app/components/training/training-workspace.component.html
  src/app/components/training/training-workspace.component.scss
  src/app/components/training/training-workspace.component.spec.ts
  src/app/components/training/training-workspace.component.ts
  src/app/helpers/training-state.helper.spec.ts
  src/app/helpers/training-state.helper.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: keep compare upload actions visible on mobile
  src/app/components/tools/tools-compare-page.component.scss
Due: none

test: align public route and training state assertions
  src/app/app.routing.module.spec.ts
  src/app/components/training/training-workspace.component.spec.ts
Due: lint-angular

fix: retry stalled image renders
  src/app/components/benchmark/benchmark-bottom-sheet.component.ts
  src/app/components/event/chart/panel/event.card.chart.panel.component.ts
  src/app/services/app.share.service.spec.ts
  src/app/services/app.share.service.ts
Due: lint-angular

chore: bump slib
  functions/package-lock.json
  functions/package.json
Due: none

feat: format lap durations as stopwatches
  package-lock.json
  package.json
  src/app/components/event/laps/event.card.laps.component.spec.ts
  src/app/components/event/laps/event.card.laps.component.ts
Due: lint-angular

feat: add chart panel reset controls
  src/app/components/event/chart/event.card.chart.component.html
  src/app/components/event/chart/event.card.chart.component.spec.ts
  src/app/components/event/chart/panel/event.card.chart.panel.component.html
  src/app/components/event/chart/panel/event.card.chart.panel.component.scss
  src/app/components/event/chart/panel/event.card.chart.panel.component.spec.ts
  src/app/components/event/chart/panel/event.card.chart.panel.component.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: hide laps for unselected activities
  src/app/components/event/event.card.component.spec.ts
  src/app/components/event/event.card.component.ts
Due: lint-angular

fix: render event laps only when available
  src/app/components/event/event.card.component.html
  src/app/components/event/laps/event.card.laps.component.html
  src/app/components/event/laps/event.card.laps.component.spec.ts
  src/app/components/event/laps/event.card.laps.component.ts
Due: lint-angular

test: stabilize reparse queue stats version assertions
  functions/src/admin/queues.handlers.spec.ts
Due: lint-functions

fix: harden Wahoo import lifecycle
  docs/wahoo-integration.md
  functions/src/OAuth2.ts
  functions/src/auth/ServiceAuthAdapter.ts
  functions/src/queue/queue-item.interface.ts
  functions/src/wahoo/auth/adapter.spec.ts
  functions/src/wahoo/auth/adapter.ts
  functions/src/wahoo/auth/api.spec.ts
  functions/src/wahoo/auth/api.ts
  functions/src/wahoo/constants.ts
  functions/src/wahoo/file-download.spec.ts
  functions/src/wahoo/file-download.ts
  functions/src/wahoo/processor.spec.ts
  functions/src/wahoo/processor.ts
  functions/src/wahoo/queue-store.spec.ts
  functions/src/wahoo/queue-store.ts
  functions/src/wahoo/request-timeout.ts
  src/app/components/services/wahoo/services.wahoo.component.spec.ts
  src/app/components/services/wahoo/services.wahoo.component.ts
Due: lint-functions, lint-angular

fix: close Wahoo integration review findings
  functions/src/OAuth2.spec.ts
  functions/src/queue/provider-event-id.spec.ts
  functions/src/queue/provider-event-id.ts
  functions/src/wahoo/auth/adapter.spec.ts
  functions/src/wahoo/auth/adapter.ts
  functions/src/wahoo/history-to-queue.spec.ts
  functions/src/wahoo/history-to-queue.ts
  functions/src/wahoo/processor.spec.ts
  functions/src/wahoo/processor.ts
  functions/src/wahoo/workout-payload.spec.ts
  functions/src/wahoo/workout-payload.ts
  src/app/components/event-summary/service-source-icon/service-source-icon.component.spec.ts
  src/app/components/services/wahoo/services.wahoo.component.html
  src/app/components/services/wahoo/services.wahoo.component.spec.ts
Due: lint-functions, lint-angular

fix: complete Wahoo lifecycle coverage
  firestore.indexes.json
  functions/src/firestore-indexes.spec.ts
  functions/src/scripts/cleanup-firestore.spec.ts
  functions/src/scripts/cleanup-firestore.ts
  functions/src/scripts/cleanup-orphaned-users.spec.ts
  functions/src/scripts/cleanup-orphaned-users.ts
  functions/src/service-auth-lifecycle.spec.ts
  functions/src/service-auth-lifecycle.ts
  functions/src/service-operational-cleanup.spec.ts
  functions/src/service-operational-cleanup.ts
  functions/src/stripe/subscriptions.spec.ts
  functions/src/stripe/subscriptions.ts
  functions/src/users/cleanup.spec.ts
  functions/src/users/cleanup.ts
  src/app/components/event/stats-table/event.card.stats-table.component.spec.ts
  src/app/components/event/stats-table/event.card.stats-table.component.ts
  src/app/components/history-import-form/history-import.form.component.html
  src/app/components/history-import-form/history-import.form.component.spec.ts
  src/app/components/history-import-form/history-import.form.component.ts
Due: lint-functions, lint-angular

docs: add provider integration guide
  AGENTS.md
  README.md
  docs/provider-integration-guide.md
  docs/wahoo-integration.md
Due: none

fix: guard Wahoo pending upload state
  functions/src/activity-sync/process-queue-item.spec.ts
  functions/src/activity-sync/process-queue-item.ts
Due: lint-functions

fix: harden Wahoo activity delivery
  docs/wahoo-integration.md
  functions/src/activity-sync/process-queue-item.spec.ts
  functions/src/activity-sync/process-queue-item.ts
  functions/src/wahoo/activities.spec.ts
  functions/src/wahoo/activities.ts
  functions/src/wahoo/auth/api.spec.ts
  functions/src/wahoo/queue-store.spec.ts
  functions/src/wahoo/queue-store.ts
  src/app/app.routing.module.spec.ts
  src/app/app.routing.module.ts
  src/app/components/services/services.component.spec.ts
  src/app/components/services/services.component.ts
  src/app/components/services/suunto/services.suunto.component.spec.ts
  src/app/components/services/wahoo/services.wahoo.component.spec.ts
Due: lint-functions, lint-angular

chore: bump sl
  functions/package-lock.json
  functions/package.json
  package-lock.json
  package.json
Due: none

feat: brand connectivity providers
  src/app/components/event-summary/service-source-icon/service-source-icon.component.html
  src/app/components/event-summary/service-source-icon/service-source-icon.component.ts
  src/app/components/services/activity-sync-route-control/activity-sync-route-control.component.html
  src/app/components/services/activity-sync-route-control/activity-sync-route-control.component.spec.ts
  src/app/components/services/coros/services.coros.component.html
  src/app/components/services/garmin/services.garmin.component.html
  src/app/components/services/service-connection-status/service-connection-status.component.html
  src/app/components/services/service-connection-status/service-connection-status.component.scss
  src/app/components/services/service-connection-status/service-connection-status.component.spec.ts
  src/app/components/services/service-connection-status/service-connection-status.component.ts
  src/app/components/services/services-abstract-component.directive.scss
  src/app/components/services/services.component.html
  src/app/components/services/services.component.scss
  src/app/components/services/services.component.spec.ts
  src/app/components/services/suunto/services.suunto.component.html
  src/app/components/services/wahoo/services.wahoo.component.html
Due: lint-angular

refactor: remove Wahoo feature gate
  README.md
  docs/provider-integration-guide.md
  docs/wahoo-integration.md
  functions/src/activity-sync/process-queue-item.spec.ts
  functions/src/activity-sync/process-queue-item.ts
  functions/src/config.spec.ts
  functions/src/config.ts
  functions/src/wahoo/activities.ts
  functions/src/wahoo/auth/wrapper.ts
  functions/src/wahoo/history-to-queue.ts
  functions/src/wahoo/webhook.ts
Due: lint-functions

feat: limit Wahoo connection rollout
  src/app/components/services/services.component.html
  src/app/components/services/services.component.spec.ts
  src/app/components/services/services.component.ts
Due: lint-angular

fix: render Wahoo icon through registry
  src/app/components/event-summary/service-source-icon/service-source-icon.component.spec.ts
  src/app/services/app.icon.service.spec.ts
  src/assets/logos/wahoo.svg
Due: lint-angular

Path conditions:
  lint-functions: any of: **/*.{ts,js} and ^functions/
  lint-angular: any of: {src/*.{ts,html},src/**/*.{ts,html}}
