Repository jimmykane/quantified-self: changes, and which lefthook commands are due for each by the changed paths.
All: lint-functions, lint-angular

lint-functions:
  run: npx eslint {staged_files} --fix && git add {staged_files}

lint-angular:
  run: ESLINT_USE_FLAT_CONFIG=false npx eslint {staged_files} --fix && git add {staged_files}

feat: add focused Quantified Self plugin skills
  .agent/skills/mcp-metric-surface/SKILL.md
  AGENTS.md
  README.md
  docs/mcp-server.md
  package.json
  plugins/quantified-self/plugin.template.json
  plugins/quantified-self/skills/analyze-quantified-self-activity/SKILL.md
  plugins/quantified-self/skills/analyze-quantified-self-activity/agents/openai.yaml
  plugins/quantified-self/skills/analyze-quantified-self-measurements/SKILL.md
  plugins/quantified-self/skills/analyze-quantified-self-measurements/agents/openai.yaml
  plugins/quantified-self/skills/analyze-quantified-self-sleep/SKILL.md
  plugins/quantified-self/skills/analyze-quantified-self-sleep/agents/openai.yaml
  plugins/quantified-self/skills/analyze-quantified-self-training/SKILL.md
  plugins/quantified-self/skills/analyze-quantified-self-training/agents/openai.yaml
  plugins/quantified-self/skills/analyze-quantified-self/SKILL.md
  plugins/quantified-self/skills/analyze-quantified-self/agents/openai.yaml
  plugins/quantified-self/skills/explore-quantified-self-routes/SKILL.md
  plugins/quantified-self/skills/explore-quantified-self-routes/agents/openai.yaml
  tools/quantified-self-plugin/plugin-tool.mjs
  tools/quantified-self-plugin/plugin-tool.test.mjs
Due: none

fix: improve latest workout MCP discovery
  docs/mcp-server.md
  functions/src/mcp/data.service.spec.ts
  functions/src/mcp/data.service.ts
  functions/src/mcp/server.spec.ts
  functions/src/mcp/server.ts
  functions/src/mcp/tool-output-schemas.spec.ts
  plugins/quantified-self/skills/analyze-quantified-self-activity/SKILL.md
Due: lint-functions

fix: clarify typed latest activity discovery
  docs/mcp-server.md
  functions/src/mcp/server.spec.ts
  functions/src/mcp/server.ts
  plugins/quantified-self/skills/analyze-quantified-self-activity/SKILL.md
Due: lint-functions

fix: deduplicate MCP client grants
  docs/mcp-server.md
  firestore.indexes.json
  functions/src/firestore-indexes.spec.ts
  functions/src/mcp/oauth.firestore-store.spec.ts
  functions/src/mcp/oauth.service.spec.ts
  functions/src/mcp/oauth.service.ts
  src/app/components/mcp-connections/mcp-connections.component.html
  src/app/components/mcp-connections/mcp-connections.component.spec.ts
  src/app/components/mcp-connections/mcp-connections.component.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/app/shared/policies.content.spec.ts
  src/app/shared/policies.content.ts
Due: lint-functions, lint-angular

fix: clarify dashboard sleep dates
  src/app/components/charts/sleep-trend/charts.sleep-trend.component.spec.ts
  src/app/components/charts/sleep-trend/charts.sleep-trend.component.ts
  src/app/components/summaries/summaries.component.html
  src/app/components/summaries/summaries.component.spec.ts
  src/app/components/summaries/summaries.component.ts
  src/app/helpers/dashboard-relative-date.helper.spec.ts
  src/app/helpers/dashboard-relative-date.helper.ts
Due: lint-angular

feat: filter MCP activities and routes
  docs/mcp-server.md
  functions/src/mcp/data.service.spec.ts
  functions/src/mcp/data.service.ts
  functions/src/mcp/server.spec.ts
  functions/src/mcp/server.ts
  functions/src/mcp/tool-output-schemas.spec.ts
  functions/src/mcp/tool-output-schemas.ts
  functions/src/test-setup.ts
  plugins/quantified-self/skills/analyze-quantified-self-activity/SKILL.md
  plugins/quantified-self/skills/analyze-quantified-self/SKILL.md
  plugins/quantified-self/skills/explore-quantified-self-routes/SKILL.md
  src/app/components/public-seo/public-seo-page.component.spec.ts
  src/app/components/public-seo/public-seo-pages.content.spec.ts
  src/app/components/public-seo/public-seo-pages.content.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/app/shared/policies.content.spec.ts
  src/app/shared/policies.content.ts
  src/firebase-hosting.config.spec.ts
  src/sitemap.xml
Due: lint-functions, lint-angular

fix: increase queue stats memory
  functions/src/admin/handlers/queues.handlers.ts
Due: lint-functions

feat: add MCP daily briefing
  docs/mcp-server.md
  functions/src/mcp/data.service.spec.ts
  functions/src/mcp/data.service.ts
  functions/src/mcp/server.spec.ts
  functions/src/mcp/server.ts
  functions/src/mcp/tool-output-schemas.spec.ts
  functions/src/mcp/tool-output-schemas.ts
  plugins/quantified-self/plugin.template.json
  plugins/quantified-self/skills/analyze-quantified-self-sleep/SKILL.md
  plugins/quantified-self/skills/analyze-quantified-self-training/SKILL.md
  plugins/quantified-self/skills/analyze-quantified-self/SKILL.md
  plugins/quantified-self/skills/analyze-quantified-self/agents/openai.yaml
  src/app/components/public-seo/public-seo-pages.content.spec.ts
  src/app/components/public-seo/public-seo-pages.content.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/app/shared/policies.content.spec.ts
  src/app/shared/policies.content.ts
Due: lint-functions, lint-angular

fix: make event merges idempotent
  firestore.rules
  functions/src/events/merge-events.spec.ts
  functions/src/events/merge-events.ts
  functions/src/events/merge-operation.ts
  src/app/components/event-table/event.table.component.spec.ts
  src/app/components/event-table/event.table.component.ts
  src/app/services/app.event-merge.service.spec.ts
  src/app/services/app.event-merge.service.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/firestore.rules.spec.ts
Due: lint-functions, lint-angular

feat: add Training Summary to MCP daily briefing
  docs/mcp-server.md
  docs/training-workspace.md
  functions/src/mcp/data.service.spec.ts
  functions/src/mcp/data.service.ts
  functions/src/mcp/derived-output-schemas.ts
  functions/src/mcp/server.spec.ts
  functions/src/mcp/server.ts
  functions/src/mcp/tool-output-schemas.spec.ts
  functions/src/mcp/tool-output-schemas.ts
  plugins/quantified-self/skills/analyze-quantified-self-training/SKILL.md
  plugins/quantified-self/skills/analyze-quantified-self/SKILL.md
  src/app/components/public-seo/public-seo-pages.content.spec.ts
  src/app/components/public-seo/public-seo-pages.content.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/policies.content.spec.ts
  src/app/shared/policies.content.ts
Due: lint-functions, lint-angular

fix: harden MCP daily training summary
  functions/src/mcp/data.service.spec.ts
  functions/src/mcp/data.service.ts
  functions/src/mcp/tool-output-schemas.spec.ts
  functions/src/mcp/tool-output-schemas.ts
Due: lint-functions

fix: harden event merge reconciliation
  README.md
  docs/event-merge-idempotency.md
  functions/src/events/merge-events.spec.ts
  functions/src/events/merge-events.ts
  functions/src/events/merge-operation.ts
  shared/functions-manifest.ts
  src/app/components/event-table/event.table.component.spec.ts
  src/app/components/event-table/event.table.component.ts
  src/app/services/app.event-merge.service.spec.ts
  src/app/services/app.event-merge.service.ts
  src/app/services/app.functions.service.spec.ts
  src/app/services/app.functions.service.ts
Due: lint-functions, lint-angular

fix: expire event merge operation state
  README.md
  docs/event-merge-idempotency.md
  firestore.indexes.json
  functions/src/events/merge-events.spec.ts
  functions/src/events/merge-operation.ts
  functions/src/firestore-indexes.spec.ts
  functions/src/shared/ttl-config.spec.ts
  functions/src/shared/ttl-config.ts
Due: lint-functions

test: add MCP contract compatibility gate
  .agent/skills/mcp-metric-surface/SKILL.md
  .github/workflows/_run-tests.yml
  AGENTS.md
  docs/mcp-server.md
  functions/AGENTS.md
  functions/package.json
  functions/src/mcp/contract-compatibility.spec.ts
  functions/src/mcp/contract-compatibility.ts
  functions/src/mcp/contracts/registered-contract.json
  functions/src/mcp/server.spec.ts
  functions/src/mcp/server.ts
  functions/src/scripts/mcp-contract.ts
Due: lint-functions

fix: harden MCP contract compatibility gate
  .agent/skills/mcp-metric-surface/SKILL.md
  .github/workflows/_run-tests.yml
  AGENTS.md
  docs/mcp-server.md
  functions/AGENTS.md
  functions/src/mcp/contract-compatibility.spec.ts
  functions/src/mcp/contract-compatibility.ts
  functions/src/mcp/contracts/contract-history.json
  functions/src/scripts/mcp-contract.ts
Due: lint-functions

test: strengthen Firestore static migration guard
  functions/src/firestore-modular-statics.spec.ts
Due: lint-functions

fix: migrate merge operation Firestore statics
  functions/src/events/merge-events.spec.ts
  functions/src/events/merge-operation.ts
Due: lint-functions

fix: use modular merge operation timestamp type
  functions/src/events/merge-operation.ts
Due: lint-functions

chore: add lightweight MCP pre-push checks
  README.md
  docs/mcp-server.md
  lefthook.yml
  package.json
Due: none

test: update MCP SEO expectation
  src/app/components/public-seo/public-seo-page.component.spec.ts
Due: lint-angular

feat: add activity import SEO guides
  src/app/app.routes.server.spec.ts
  src/app/app.routes.server.ts
  src/app/app.routing.module.spec.ts
  src/app/app.routing.module.ts
  src/app/components/integrations/integration-pages.content.spec.ts
  src/app/components/integrations/integration-pages.content.ts
  src/app/components/integrations/integrations-hub-page.component.html
  src/app/components/integrations/integrations-hub-page.component.spec.ts
  src/app/components/integrations/provider-integration-page.component.html
  src/app/components/integrations/provider-integration-page.component.spec.ts
  src/app/components/public-seo/public-seo-pages.content.spec.ts
  src/app/components/public-seo/public-seo-pages.content.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/app/shared/public-startup-route.spec.ts
  src/app/shared/public-startup-route.ts
  src/firebase-hosting.config.spec.ts
  src/robots.txt
  src/sitemap.xml
Due: lint-angular

feat: discover available sleep vitals in MCP
  docs/mcp-server.md
  functions/src/mcp/contracts/contract-history.json
  functions/src/mcp/contracts/registered-contract.json
  functions/src/mcp/data.service.spec.ts
  functions/src/mcp/data.service.ts
  functions/src/mcp/server.spec.ts
  functions/src/mcp/server.ts
  functions/src/mcp/sleep-vitals.ts
  functions/src/mcp/tool-output-schemas.spec.ts
  functions/src/mcp/tool-output-schemas.ts
  plugins/quantified-self/skills/analyze-quantified-self-sleep/SKILL.md
  plugins/quantified-self/skills/analyze-quantified-self-sleep/agents/openai.yaml
  plugins/quantified-self/skills/analyze-quantified-self/SKILL.md
  src/app/components/mcp-authorization/mcp-authorization.component.spec.ts
  src/app/components/mcp-authorization/mcp-authorization.component.ts
  src/app/components/public-seo/public-seo-page.component.spec.ts
  src/app/components/public-seo/public-seo-pages.content.ts
  src/app/shared/help.content.ts
  src/app/shared/policies.content.spec.ts
  src/app/shared/policies.content.ts
Due: lint-functions, lint-angular

feat: add one-call MCP sleep trends
  docs/mcp-server.md
  functions/src/mcp/contracts/contract-history.json
  functions/src/mcp/contracts/registered-contract.json
  functions/src/mcp/data.service.spec.ts
  functions/src/mcp/data.service.ts
  functions/src/mcp/server.spec.ts
  functions/src/mcp/server.ts
  functions/src/mcp/tool-output-schemas.spec.ts
  functions/src/mcp/tool-output-schemas.ts
  plugins/quantified-self/skills/analyze-quantified-self-sleep/SKILL.md
  plugins/quantified-self/skills/analyze-quantified-self/SKILL.md
  src/app/components/public-seo/public-seo-page.component.spec.ts
  src/app/components/public-seo/public-seo-pages.content.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/app/shared/policies.content.spec.ts
  src/app/shared/policies.content.ts
Due: lint-functions, lint-angular

fix: enforce MCP sleep vital allowlist
  functions/src/mcp/data.service.spec.ts
  functions/src/mcp/data.service.ts
  functions/src/mcp/tool-output-schemas.spec.ts
Due: lint-functions

feat: expose live readiness drivers through MCP
  docs/mcp-server.md
  docs/training-workspace.md
  functions/src/mcp/contracts/contract-history.json
  functions/src/mcp/contracts/registered-contract.json
  functions/src/mcp/data.service.spec.ts
  functions/src/mcp/data.service.ts
  functions/src/mcp/server.spec.ts
  functions/src/mcp/server.ts
  functions/src/mcp/tool-output-schemas.spec.ts
  functions/src/mcp/tool-output-schemas.ts
  plugins/quantified-self/skills/analyze-quantified-self-sleep/SKILL.md
  plugins/quantified-self/skills/analyze-quantified-self-training/SKILL.md
  plugins/quantified-self/skills/analyze-quantified-self/SKILL.md
  shared/readiness.ts
  shared/training-load.ts
  src/app/components/public-seo/public-seo-pages.content.spec.ts
  src/app/components/public-seo/public-seo-pages.content.ts
  src/app/helpers/dashboard-form.helper.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/app/shared/policies.content.spec.ts
  src/app/shared/policies.content.ts
  src/app/shared/readiness.shared.spec.ts
Due: lint-functions, lint-angular

fix: harden live MCP readiness projection
  docs/mcp-server.md
  docs/training-workspace.md
  functions/src/derived-metrics/derived-metrics.service.ts
  functions/src/mcp/data.service.spec.ts
  functions/src/mcp/data.service.ts
  functions/src/mcp/tool-output-schemas.spec.ts
  functions/src/mcp/tool-output-schemas.ts
Due: lint-functions

fix: expose Garmin sleep SpO2 aggregate
  docs/mcp-server.md
  docs/sleep-sync-operations.md
  functions/src/sleep/provider-mappers.spec.ts
  functions/src/sleep/provider-mappers.ts
  plugins/quantified-self/skills/analyze-quantified-self-sleep/SKILL.md
  plugins/quantified-self/skills/analyze-quantified-self-sleep/agents/openai.yaml
  plugins/quantified-self/skills/analyze-quantified-self/SKILL.md
Due: lint-functions

fix: harden sleep vital aggregation semantics
  docs/mcp-server.md
  docs/sleep-sync-operations.md
  functions/src/mcp/data.service.spec.ts
  functions/src/sleep/provider-mappers.spec.ts
  functions/src/sleep/provider-mappers.ts
  plugins/quantified-self/skills/analyze-quantified-self-sleep/SKILL.md
  plugins/quantified-self/skills/analyze-quantified-self/SKILL.md
Due: lint-functions

fix: keep comparison prerender analytics safe
  src/app/app.server.providers.spec.ts
  src/app/app.server.providers.ts
Due: lint-angular

test: align MCP SEO sleep expectation
  src/app/components/public-seo/public-seo-page.component.spec.ts
Due: lint-angular

feat: reset dashboard to recommended defaults
  src/app/components/summaries/dashboard-manager-dialog/dashboard-manager-dialog.component.css
  src/app/components/summaries/dashboard-manager-dialog/dashboard-manager-dialog.component.html
  src/app/components/summaries/dashboard-manager-dialog/dashboard-manager-dialog.component.spec.ts
  src/app/components/summaries/dashboard-manager-dialog/dashboard-manager-dialog.component.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: harden dashboard default reset
  src/app/components/summaries/dashboard-manager-dialog/dashboard-manager-dialog.component.html
  src/app/components/summaries/dashboard-manager-dialog/dashboard-manager-dialog.component.spec.ts
  src/app/components/summaries/dashboard-manager-dialog/dashboard-manager-dialog.component.ts
Due: lint-angular

feat: reorder sidenav destinations
  src/app/components/sidenav/sidenav.component.html
  src/app/components/sidenav/sidenav.component.spec.ts
Due: lint-angular

feat: add MCP daily health report
  docs/mcp-server.md
  docs/training-workspace.md
  functions/src/mcp/contract-compatibility.spec.ts
  functions/src/mcp/contracts/pending-change.json
  functions/src/mcp/data.service.spec.ts
  functions/src/mcp/data.service.ts
  functions/src/mcp/server.spec.ts
  functions/src/mcp/server.ts
  functions/src/mcp/tool-output-schemas.spec.ts
  functions/src/mcp/tool-output-schemas.ts
  plugins/quantified-self/plugin.template.json
  plugins/quantified-self/skills/analyze-quantified-self-sleep/SKILL.md
  plugins/quantified-self/skills/analyze-quantified-self-training/SKILL.md
  plugins/quantified-self/skills/analyze-quantified-self/SKILL.md
  plugins/quantified-self/skills/analyze-quantified-self/agents/openai.yaml
  src/app/components/public-seo/public-seo-pages.content.spec.ts
  src/app/components/public-seo/public-seo-pages.content.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/app/shared/policies.content.spec.ts
  src/app/shared/policies.content.ts
Due: lint-functions, lint-angular

fix: remove sidenav beta labels
  src/app/components/sidenav/sidenav.component.html
  src/app/components/sidenav/sidenav.component.spec.ts
Due: lint-angular

fix: remove Training new badge
  src/app/components/sidenav/sidenav.component.html
  src/app/components/sidenav/sidenav.component.scss
  src/app/components/sidenav/sidenav.component.spec.ts
Due: lint-angular

fix: tighten MCP daily report projection
  docs/mcp-server.md
  functions/src/mcp/data.service.spec.ts
  functions/src/mcp/data.service.ts
Due: lint-functions

feat: add activity icons to Training driver cards
  docs/training-workspace.md
  src/app/components/activity-type-icon/activity-type-icon.component.spec.ts
  src/app/components/training/training-workspace.component.html
  src/app/components/training/training-workspace.component.scss
  src/app/components/training/training-workspace.component.spec.ts
  src/app/helpers/training-explanation-view.helper.spec.ts
  src/app/helpers/training-explanation-view.helper.ts
Due: lint-angular

feat: move body weight context to end of Training
  docs/training-workspace.md
  src/app/components/training/training-workspace.component.html
  src/app/components/training/training-workspace.component.spec.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

Path conditions:
  lint-functions: any of: **/*.{ts,js} and ^functions/
  lint-angular: any of: {src/*.{ts,html},src/**/*.{ts,html}}
