Repository jimmykane/quantified-self: changes, and which lefthook commands are due for each by the changed paths.
All: lint-functions, lint-angular

lint-functions:
  run: npx eslint {staged_files} --fix && git add {staged_files}

lint-angular:
  run: ESLINT_USE_FLAT_CONFIG=false npx eslint {staged_files} --fix && git add {staged_files}

chore: ai improvements
  functions/src/ai/insights/callable.spec.ts
  functions/src/ai/insights/quota.spec.ts
  functions/src/shared/limits.spec.ts
  shared/limits.ts
  src/app/components/ai-insights/ai-insights-multi-metric-chart.component.spec.ts
  src/app/components/ai-insights/ai-insights-multi-metric-chart.component.ts
  src/app/components/ai-insights/ai-insights-page.component.html
  src/app/components/ai-insights/ai-insights-page.component.spec.ts
  src/app/components/ai-insights/ai-insights-page.component.ts
  src/app/components/pricing/pricing.component.html
  src/app/components/pricing/pricing.component.spec.ts
  src/app/components/pricing/pricing.component.ts
  src/app/helpers/ai-insights-title.helper.spec.ts
  src/app/helpers/ai-insights-title.helper.ts
Due: lint-functions, lint-angular

chore: better handling
  functions/src/ai/insights/insight-summary.spec.ts
  functions/src/ai/insights/insight-summary.ts
  src/app/components/ai-insights/ai-insights-page.component.html
  src/app/components/ai-insights/ai-insights-page.component.scss
  src/app/components/ai-insights/ai-insights-page.component.spec.ts
  src/app/components/ai-insights/ai-insights-page.component.ts
Due: lint-functions, lint-angular

chore: loader improvements
  src/app/components/ai-insights/ai-insights-loading-state.component.spec.ts
  src/app/components/ai-insights/ai-insights-loading-state.component.ts
  src/app/components/ai-insights/ai-insights-page.component.html
  src/app/components/ai-insights/ai-insights-page.component.scss
  src/app/components/ai-insights/ai-insights-page.component.spec.ts
  src/app/components/ai-insights/ai-insights-page.component.ts
Due: lint-angular

chore: ai improvements
  functions/src/ai/insights/normalize-query.flow.spec.ts
  functions/src/ai/insights/normalize-query.flow.ts
  functions/src/ai/insights/summarize-result.flow.spec.ts
  functions/src/ai/insights/summarize-result.flow.ts
  src/app/components/ai-insights/ai-insights-loading-state.component.scss
  src/app/components/ai-insights/ai-insights-multi-metric-chart.component.spec.ts
  src/app/components/ai-insights/ai-insights-multi-metric-chart.component.ts
  src/app/components/ai-insights/ai-insights-page.component.html
  src/app/components/ai-insights/ai-insights-page.component.scss
  src/app/components/ai-insights/ai-insights-page.component.spec.ts
  src/app/components/ai-insights/ai-insights-page.component.ts
Due: lint-functions, lint-angular

chore: fallback to ai
  functions/src/ai/insights/callable.spec.ts
  functions/src/ai/insights/callable.ts
  functions/src/ai/insights/execute-query.spec.ts
  functions/src/ai/insights/execute-query.ts
  functions/src/ai/insights/normalize-query.flow.spec.ts
  functions/src/ai/insights/normalize-query.flow.ts
  functions/src/ai/insights/normalize-query.repair.spec.ts
  functions/src/ai/insights/normalize-query.repair.ts
  functions/src/ai/insights/prompt-normalization.ts
  functions/src/ai/insights/quota.spec.ts
  functions/src/ai/insights/quota.ts
  functions/src/ai/insights/schemas.ts
  functions/src/ai/insights/summarize-result.flow.ts
  shared/ai-insights-date-selection.ts
  shared/ai-insights.types.ts
  src/app/components/ai-insights/ai-insights-page.component.html
  src/app/components/ai-insights/ai-insights-page.component.scss
  src/app/components/ai-insights/ai-insights-page.component.spec.ts
  src/app/components/ai-insights/ai-insights-page.component.ts
  src/app/services/ai-insights-latest-snapshot.service.spec.ts
  src/app/services/ai-insights-latest-snapshot.service.ts
  src/app/services/ai-insights-quota.service.spec.ts
  src/firestore.rules.spec.ts
Due: lint-functions, lint-angular

chore: improvements for responses
  functions/src/ai/insights/callable.spec.ts
  functions/src/ai/insights/callable.ts
  functions/src/ai/insights/execute-query.spec.ts
  functions/src/ai/insights/execute-query.ts
  functions/src/ai/insights/normalize-query.flow.spec.ts
  functions/src/ai/insights/normalize-query.flow.ts
  functions/src/ai/insights/normalize-query.repair.spec.ts
  functions/src/ai/insights/quota.ts
  functions/src/ai/insights/schemas.ts
  functions/src/firebase-admin-config.spec.ts
  functions/src/firebase-admin-config.ts
  functions/src/index.ts
  shared/ai-insights.types.ts
  src/app/components/ai-insights/ai-insights-page.component.html
  src/app/components/ai-insights/ai-insights-page.component.spec.ts
  src/app/components/ai-insights/ai-insights-page.component.ts
  src/app/components/charts/columns/charts.columns.component.spec.ts
  src/app/components/charts/columns/charts.columns.component.ts
  src/app/components/charts/xy/charts.xy.component.spec.ts
  src/app/components/charts/xy/charts.xy.component.ts
  src/app/services/ai-insights-latest-snapshot.service.spec.ts
  src/app/services/ai-insights-latest-snapshot.service.ts
Due: lint-functions, lint-angular

chore: delete
  docs/ai-insights-plan.md
Due: none

chore: language supports and better charging
  functions/src/ai/insights/callable.spec.ts
  functions/src/ai/insights/callable.ts
  functions/src/ai/insights/prompt-language-sanitization.spec.ts
  functions/src/ai/insights/prompt-language-sanitization.ts
  src/app/components/ai-insights/ai-insights-page.component.spec.ts
  src/app/components/ai-insights/ai-insights-page.component.ts
Due: lint-functions, lint-angular

chore: keep repaired prompts
  README.md
  firestore.indexes.json
  firestore.rules
  functions/src/ai/insights/callable.spec.ts
  functions/src/ai/insights/callable.ts
  functions/src/ai/insights/repaired-prompt-backlog.spec.ts
  functions/src/ai/insights/repaired-prompt-backlog.ts
  functions/src/shared/ttl-config.spec.ts
  functions/src/shared/ttl-config.ts
  scripts/setup-ttl.sh
  src/app/components/ai-insights/ai-insights-prompt-picker-dialog.component.html
  src/app/components/ai-insights/ai-insights-prompt-picker-dialog.component.scss
  src/app/components/ai-insights/ai-insights-prompt-picker-dialog.component.spec.ts
  src/app/components/ai-insights/ai-insights-prompt-picker-dialog.component.ts
  src/firestore.rules.spec.ts
Due: lint-functions, lint-angular

chore: correct copy
  src/app/components/ai-insights/ai-insights-prompt-picker-dialog.component.ts
Due: lint-angular

chore: pr feedback
  functions/src/ai/insights/callable.spec.ts
  functions/src/ai/insights/callable.ts
  functions/src/ai/insights/execute-query.spec.ts
  functions/src/ai/insights/execute-query.ts
  functions/src/ai/insights/normalize-query.flow.spec.ts
  functions/src/ai/insights/normalize-query.flow.ts
  functions/src/ai/insights/quota.spec.ts
  functions/src/ai/insights/quota.ts
  functions/src/ai/insights/repaired-prompt-backlog.spec.ts
  functions/src/ai/insights/repaired-prompt-backlog.ts
  functions/src/ai/insights/schemas.spec.ts
  functions/src/ai/insights/schemas.ts
  shared/ai-insights-latest-snapshot.validation.ts
  src/app/services/ai-insights-latest-snapshot.service.spec.ts
  src/app/services/ai-insights-latest-snapshot.service.ts
  src/app/services/ai-insights-latest-snapshot.validation.shared.spec.ts
Due: lint-functions, lint-angular

chore: support mtb jumps
  functions/src/ai/insights/callable.spec.ts
  functions/src/ai/insights/metric-catalog.spec.ts
  functions/src/ai/insights/metric-catalog.ts
  functions/src/ai/insights/normalize-query.flow.spec.ts
  functions/src/ai/insights/normalize-query.flow.ts
  shared/ai-insights-prompts.ts
  src/app/components/ai-insights/ai-insights.prompts.spec.ts
Due: lint-functions, lint-angular

fix: mapbox
  src/app/components/tracks/tracks.component.spec.ts
  src/app/components/tracks/tracks.component.ts
Due: lint-angular

chore: compile fixes
  functions/src/ai/insights/callable.ts
  functions/src/ai/insights/normalize-query.flow.ts
  functions/src/ai/insights/quota.spec.ts
  functions/src/ai/insights/quota.ts
  functions/src/ai/insights/summarize-result.flow.ts
  shared/ai-insights-latest-snapshot.validation.ts
  src/app/components/ai-insights/ai-insights-prompt-picker-dialog.component.html
  src/app/components/ai-insights/ai-insights-prompt-picker-dialog.component.scss
  src/app/components/ai-insights/ai-insights-prompt-picker-dialog.component.spec.ts
  src/app/components/ai-insights/ai-insights-prompt-picker-dialog.component.ts
Due: lint-functions, lint-angular

fix: build
  src/app/services/ai-insights-latest-snapshot.service.ts
Due: lint-angular

chore: improvements
  firestore.indexes.json
  functions/src/ai/insights/execute-query.spec.ts
  functions/src/ai/insights/execute-query.ts
Due: lint-functions

chore: ui
  src/app/components/ai-insights/ai-insights-page.component.html
  src/app/components/ai-insights/ai-insights-page.component.ts
Due: lint-angular

refactor: better archi
  functions/src/ai/insights/callable.spec.ts
  functions/src/ai/insights/callable.ts
  functions/src/ai/insights/execute-query.spec.ts
  functions/src/ai/insights/execute-query.ts
  functions/src/ai/insights/normalize-query.flow.spec.ts
  functions/src/ai/insights/normalize-query.flow.ts
  functions/src/ai/insights/normalize-query.repair.spec.ts
  functions/src/ai/insights/normalize-query.repair.ts
  functions/src/ai/insights/prompt-language-sanitization.spec.ts
  functions/src/ai/insights/prompt-language-sanitization.ts
  functions/src/ai/insights/quota.spec.ts
  functions/src/ai/insights/quota.ts
  functions/src/ai/insights/repaired-prompt-backlog.spec.ts
  functions/src/ai/insights/repaired-prompt-backlog.ts
  functions/src/ai/insights/runtime.ts
  functions/src/ai/insights/summarize-result.flow.spec.ts
  functions/src/ai/insights/summarize-result.flow.ts
  functions/src/ai/insights/user-unit-settings.spec.ts
  functions/src/ai/insights/user-unit-settings.ts
  src/app/components/ai-insights/ai-insights-page.component.spec.ts
  src/app/components/ai-insights/ai-insights-page.component.ts
  src/app/components/ai-insights/ai-insights-page.helpers.ts
  src/app/services/ai-insights-latest-snapshot.service.ts
Due: lint-functions, lint-angular

chore: PR feedback
  functions/src/ai/insights/callable.spec.ts
  functions/src/ai/insights/callable.ts
  shared/ai-insights-date-selection.ts
  shared/ai-insights-latest-snapshot.validation.ts
  src/app/authentication/ai-insights.guard.spec.ts
  src/app/authentication/ai-insights.guard.ts
  src/app/helpers/ai-insights-date-selection.helper.spec.ts
  src/app/services/ai-insights-latest-snapshot.validation.shared.spec.ts
Due: lint-functions, lint-angular

chore: add latest
  functions/src/ai/insights/callable.spec.ts
  functions/src/ai/insights/callable.ts
  functions/src/ai/insights/execute-query.spec.ts
  functions/src/ai/insights/execute-query.ts
  functions/src/ai/insights/insight-presentation.ts
  functions/src/ai/insights/insight-summary.ts
  functions/src/ai/insights/normalize-query.flow.spec.ts
  functions/src/ai/insights/normalize-query.flow.ts
  functions/src/ai/insights/schemas.spec.ts
  functions/src/ai/insights/schemas.ts
  shared/ai-insights-latest-snapshot.validation.ts
  shared/ai-insights.types.ts
  src/app/components/ai-insights/ai-insights-page.component.html
  src/app/components/ai-insights/ai-insights-page.component.spec.ts
  src/app/components/ai-insights/ai-insights-page.component.ts
  src/app/components/ai-insights/ai-insights-page.helpers.ts
  src/app/helpers/ai-insights-title.helper.spec.ts
  src/app/helpers/ai-insights-title.helper.ts
  src/app/services/ai-insights-latest-snapshot.service.spec.ts
  src/app/services/ai-insights-latest-snapshot.service.ts
  src/app/services/ai-insights-latest-snapshot.validation.shared.spec.ts
Due: lint-functions, lint-angular

chore: fix run
  functions/src/ai/insights/normalize-query.flow.spec.ts
  functions/src/ai/insights/normalize-query.flow.ts
Due: lint-functions

refactor: improve structure
  functions/src/ai/insights/callable.result-kind-handlers.ts
  functions/src/ai/insights/callable.ts
  functions/src/ai/insights/execute-query.result-kind-handlers.ts
  functions/src/ai/insights/execute-query.ts
  functions/src/ai/insights/normalize-query.flow.ts
  functions/src/ai/insights/normalize-query.result-kind-query-builders.ts
  functions/src/ai/insights/result-kind-registry.spec.ts
  shared/ai-insights-latest-snapshot.validation.ts
  src/app/components/ai-insights/ai-insights-page.component.ts
  src/app/components/ai-insights/ai-insights-page.helpers.ts
  src/app/services/ai-insights-latest-snapshot.normalizer-registry.spec.ts
  src/app/services/ai-insights-latest-snapshot.service.ts
Due: lint-functions, lint-angular

chore: fix training
  functions/src/ai/insights/normalize-query.flow.spec.ts
  functions/src/ai/insights/normalize-query.flow.ts
Due: lint-functions

fix: ? indexes ?
  firestore.indexes.json
Due: none

chore: fixes
  functions/src/ai/insights/normalize-query.flow.spec.ts
  functions/src/ai/insights/normalize-query.flow.ts
  src/app/components/pricing/pricing.component.ts
Due: lint-functions, lint-angular

fix: build
  src/app/components/pricing/pricing.component.ts
Due: lint-angular

fix: sidenav
  src/app/components/sidenav/sidenav.component.html
Due: lint-angular

chore: improve prompts
  shared/ai-insights-prompts.ts
  src/app/components/ai-insights/ai-insights-page.component.html
  src/app/components/ai-insights/ai-insights-page.component.scss
  src/app/components/ai-insights/ai-insights.prompts.spec.ts
Due: lint-angular

chore: improve prompts
  functions/src/ai/insights/normalize-query.flow.spec.ts
  functions/src/ai/insights/normalize-query.flow.ts
  shared/ai-insights-prompts.ts
  src/app/components/ai-insights/ai-insights-page.component.spec.ts
  src/app/components/ai-insights/ai-insights-page.component.ts
  src/app/components/ai-insights/ai-insights-prompt-picker-dialog.component.html
  src/app/components/ai-insights/ai-insights-prompt-picker-dialog.component.scss
  src/app/components/ai-insights/ai-insights-prompt-picker-dialog.component.spec.ts
  src/app/components/ai-insights/ai-insights-prompt-picker-dialog.component.ts
  src/app/components/ai-insights/ai-insights.prompts.spec.ts
  src/app/components/ai-insights/ai-insights.prompts.ts
Due: lint-functions, lint-angular

chore: improve prompts
  shared/ai-insights-prompts.ts
  src/app/components/ai-insights/ai-insights.prompts.spec.ts
Due: lint-angular

chore: move contract to shared
  functions/src/ai/insights/callable.ts
  functions/src/ai/insights/normalize-query.flow.ts
  functions/src/ai/insights/schemas.spec.ts
  functions/src/ai/insights/schemas.ts
  shared/ai-insights-latest-snapshot.validation.ts
  shared/ai-insights-response.contract.ts
  src/app/services/ai-insights-latest-snapshot.normalizer-registry.spec.ts
  src/app/services/ai-insights-latest-snapshot.service.spec.ts
  src/app/services/ai-insights-latest-snapshot.service.ts
  src/app/services/ai-insights-latest-snapshot.validation.shared.spec.ts
  src/app/services/ai-insights-response.contract.shared.spec.ts
  src/app/services/ai-insights.service.spec.ts
  src/app/services/ai-insights.service.ts
Due: lint-functions, lint-angular

chore: PR feedback
  functions/src/ai/insights/normalize-query.flow.ts
  functions/src/ai/insights/schemas.spec.ts
  shared/ai-insights-latest-snapshot.validation.ts
  shared/ai-insights-response.contract.ts
  src/app/services/ai-insights-latest-snapshot.service.spec.ts
Due: lint-functions, lint-angular

chore: bump version
  package.json
Due: none

chore: move save to backend
  firestore.rules
  functions/src/ai/insights/callable.spec.ts
  functions/src/ai/insights/callable.ts
  functions/src/ai/insights/execute-query.logging.ts
  functions/src/ai/insights/execute-query.result-kind-handlers.ts
  functions/src/ai/insights/execute-query.spec.ts
  functions/src/ai/insights/execute-query.ts
  functions/src/ai/insights/latest-snapshot-store.ts
  functions/src/ai/insights/runtime.ts
  src/app/components/ai-insights/ai-insights-page.component.spec.ts
  src/app/components/ai-insights/ai-insights-page.component.ts
  src/app/services/ai-insights-latest-snapshot.service.spec.ts
  src/app/services/ai-insights-latest-snapshot.service.ts
  src/app/services/ai-insights-latest-snapshot.validation.shared.spec.ts
  src/firestore.rules.spec.ts
Due: lint-functions, lint-angular

chore: fixes
  functions/src/ai/insights/latest-snapshot-store.spec.ts
  functions/src/ai/insights/latest-snapshot-store.ts
  src/app/components/ai-insights/ai-insights-page.component.spec.ts
  src/app/components/ai-insights/ai-insights-page.component.ts
Due: lint-functions, lint-angular

chore: remove some metrcis
  functions/src/ai/insights/metric-catalog.spec.ts
  functions/src/ai/insights/metric-catalog.ts
  functions/src/ai/insights/normalize-query.flow.spec.ts
  shared/ai-insights-prompts.ts
  src/app/components/ai-insights/ai-insights.prompts.spec.ts
Due: lint-functions, lint-angular

chore: fixes for metrics not working
  functions/src/ai/insights/metric-catalog.spec.ts
  functions/src/ai/insights/metric-catalog.ts
  functions/src/ai/insights/normalize-query.flow.spec.ts
  shared/ai-insights-prompts.ts
  src/app/components/ai-insights/ai-insights.prompts.spec.ts
Due: lint-functions, lint-angular

chore: protect
  src/app/helpers/event-echarts-data.helper.spec.ts
  src/app/helpers/event-echarts-data.helper.ts
Due: lint-angular

chore: add cache
  src/app/helpers/event-echarts-data.helper.spec.ts
  src/app/helpers/event-echarts-data.helper.ts
Due: lint-angular

chore: better handling
  functions/src/ai/insights/callable.spec.ts
  functions/src/ai/insights/callable.ts
  functions/src/ai/insights/latest-snapshot-store.ts
  functions/src/ai/insights/strip-undefined-deep.ts
Due: lint-functions

Path conditions:
  lint-functions: any of: **/*.{ts,js} and ^functions/
  lint-angular: any of: {src/*.{ts,html},src/**/*.{ts,html}}
