Repository jimmykane/quantified-self: changes, and which lefthook commands are due for each by the changed paths.
All: lint-functions, lint-angular

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint-functions:
      root: "functions"
      glob: "**/*.{ts,js}"
      run: npx eslint {staged_files} --fix && git add {staged_files}
    lint-angular:
      glob: "{src/*.{ts,html},src/**/*.{ts,html}}"
      run: ESLINT_USE_FLAT_CONFIG=false npx eslint {staged_files} --fix && git add {staged_files}

fix: remove training power systems user gate
  docs/training-workspace.md
  src/app/components/training/training-workspace.component.html
  src/app/components/training/training-workspace.component.spec.ts
  src/app/components/training/training-workspace.component.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: scope update prompts to each tab
  src/app/services/app.update.service.spec.ts
  src/app/services/app.update.service.ts
Due: lint-angular

fix: stabilize Assistant grounded workflows
  docs/assistant.md
  functions/src/assistant/callable.spec.ts
  functions/src/assistant/callable.ts
  functions/src/assistant/mcp-session.spec.ts
  functions/src/assistant/mcp-session.ts
  functions/src/assistant/runtime.spec.ts
  functions/src/assistant/runtime.ts
  functions/src/assistant/tool-input.spec.ts
  functions/src/assistant/tool-input.ts
  shared/assistant.prompts.ts
Due: lint-functions

fix: harden Assistant input normalization
  docs/assistant.md
  functions/src/assistant/callable.spec.ts
  functions/src/assistant/runtime.ts
  functions/src/assistant/tool-input.spec.ts
  functions/src/assistant/tool-input.ts
Due: lint-functions

fix: handle remote config fetch failures
  src/app/services/app.remote-config.service.spec.ts
  src/app/services/app.remote-config.service.ts
Due: lint-angular

fix: correct Assistant jump maps and timing
  docs/assistant.md
  docs/mcp-server.md
  functions/src/assistant/evidence.spec.ts
  functions/src/assistant/evidence.ts
  functions/src/assistant/runtime.spec.ts
  functions/src/assistant/runtime.ts
  functions/src/assistant/visuals.spec.ts
  functions/src/assistant/visuals.ts
  functions/src/mcp/data.service.spec.ts
  functions/src/mcp/data.service.ts
Due: lint-functions

fix: honor Assistant map preferences
  docs/assistant.md
  functions/src/assistant/runtime.ts
  functions/src/assistant/visuals.spec.ts
  functions/src/assistant/visuals.ts
  shared/assistant-response.contract.ts
  shared/assistant.types.ts
  src/app/components/assistant/assistant-page.component.html
  src/app/components/assistant/assistant-page.component.spec.ts
  src/app/components/assistant/assistant-visual-detail.component.html
  src/app/components/assistant/assistant-visual-map.component.html
  src/app/components/assistant/assistant-visual-map.component.spec.ts
  src/app/components/assistant/assistant-visual-map.component.ts
  src/app/components/help/help-page.component.spec.ts
  src/app/components/public-seo/public-seo-pages.content.ts
  src/app/shared/assistant-response.contract.spec.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/app/shared/policies.content.ts
Due: lint-functions, lint-angular

chore: bump sports lib to 18.1.1
  docs/training-workspace.md
  functions/package-lock.json
  functions/package.json
  package-lock.json
  package.json
Due: none

feat: expand Training sport groups
  docs/mcp-server.md
  docs/training-workspace.md
  functions/src/derived-metrics/derived-metrics.service.spec.ts
  functions/src/derived-metrics/derived-metrics.service.ts
  functions/src/derived-metrics/set-training-build-benchmark.spec.ts
  functions/src/derived-metrics/set-training-build-benchmark.ts
  functions/src/derived-metrics/set-training-visible-disciplines.spec.ts
  functions/src/mcp/data.service.spec.ts
  functions/src/mcp/data.service.ts
  functions/src/mcp/derived-output-schemas.ts
  functions/src/mcp/tool-output-schemas.spec.ts
  functions/src/mcp/tool-output-schemas.ts
  functions/src/test-setup.ts
  shared/derived-metrics.ts
  shared/training-disciplines.ts
  src/app/components/public-seo/public-seo-pages.content.ts
  src/app/components/training/training-build-benchmark-dialog.component.spec.ts
  src/app/components/training/training-build-benchmark-dialog.component.ts
  src/app/components/training/training-sport-visibility-dialog.component.html
  src/app/components/training/training-sport-visibility-dialog.component.spec.ts
  src/app/components/training/training-workspace.component.html
  src/app/components/training/training-workspace.component.scss
  src/app/components/training/training-workspace.component.spec.ts
  src/app/components/training/training-workspace.component.ts
  src/app/helpers/dashboard-derived-metrics.helper.spec.ts
  src/app/helpers/dashboard-derived-metrics.helper.ts
  src/app/helpers/training-card-guidance.helper.spec.ts
  src/app/helpers/training-card-guidance.helper.ts
  src/app/helpers/training-derived-metrics.helper.spec.ts
  src/app/helpers/training-derived-metrics.helper.ts
  src/app/helpers/training-explanation-view.helper.spec.ts
  src/app/helpers/training-explanation-view.helper.ts
  src/app/helpers/training-sport-visibility.helper.spec.ts
  src/app/helpers/training-sport-visibility.helper.ts
  src/app/shared/derived-metrics.shared.spec.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/app/shared/training-disciplines.shared.spec.ts
Due: lint-functions, lint-angular

fix: prepare safe function secret cutover
  docs/function-secret-management.md
  functions/package.json
  functions/src/deployed-secret-env-migration.spec.ts
  functions/src/deployed-secret-env-migration.ts
  functions/src/scripts/migrate-deployed-secret-env.ts
  functions/src/secret-bindings-check.ts
  functions/src/secrets.spec.ts
Due: lint-functions

fix: pin secret migration source archives
  functions/src/deployed-secret-env-migration.spec.ts
  functions/src/deployed-secret-env-migration.ts
  functions/src/scripts/migrate-deployed-secret-env.ts
Due: lint-functions

fix: bound secret migration concurrency
  functions/src/scripts/migrate-deployed-secret-env.ts
Due: lint-functions

fix: silence intentional storage bucket mismatch
  functions/src/firebase-admin-config.spec.ts
  functions/src/index.ts
Due: lint-functions

feat: add Assistant map style preference
  docs/assistant.md
  src/app/components/assistant/assistant-page.component.html
  src/app/components/assistant/assistant-page.component.spec.ts
  src/app/components/assistant/assistant-visual-detail.component.html
  src/app/components/assistant/assistant-visual-map.component.spec.ts
  src/app/components/assistant/assistant-visual-map.component.ts
  src/app/components/help/help-page.component.spec.ts
  src/app/components/public-seo/public-seo-pages.content.ts
  src/app/models/app-user.interface.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/app/shared/policies.content.ts
  src/app/utils/app.user.utilities.spec.ts
  src/app/utils/app.user.utilities.ts
Due: lint-angular

fix: clean inherited function credentials
  docs/function-secret-management.md
  functions/src/deployed-secret-env-migration.spec.ts
  functions/src/deployed-secret-env-migration.ts
  functions/src/scripts/migrate-deployed-secret-env.ts
Due: lint-functions

chore: bv
  package.json
Due: none

chore: bv
  package-lock.json
Due: none

fix: hydrate persisted lap pace data
  docs/training-workspace.md
  functions/package-lock.json
  functions/package.json
  functions/src/reparse/SPORTS_LIB_REPARSE_RUNBOOK.md
  package-lock.json
  package.json
  src/app/components/event/laps/event.card.laps.component.spec.ts
Due: lint-angular

chore: retire secret migration tooling
  docs/function-secret-management.md
  functions/package.json
  functions/src/deployed-secret-env-audit.spec.ts
  functions/src/deployed-secret-env-audit.ts
  functions/src/deployed-secret-env-migration.spec.ts
  functions/src/deployed-secret-env-migration.ts
  functions/src/scripts/audit-deployed-secret-env.ts
  functions/src/scripts/migrate-deployed-secret-env.ts
Due: lint-functions

feat: add longest jump to training reports
  docs/mcp-server.md
  docs/training-workspace.md
  functions/src/derived-metrics/derived-metrics.service.spec.ts
  functions/src/derived-metrics/derived-metrics.service.ts
  functions/src/mcp/data.service.spec.ts
  shared/derived-metrics.ts
  shared/training-disciplines.ts
  src/app/components/public-seo/public-seo-pages.content.spec.ts
  src/app/components/public-seo/public-seo-pages.content.ts
  src/app/components/training/training-workspace.component.spec.ts
  src/app/components/training/training-workspace.component.ts
  src/app/helpers/dashboard-derived-metrics.helper.spec.ts
  src/app/shared/derived-metrics.shared.spec.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/app/shared/training-disciplines.shared.spec.ts
  src/firebase-hosting.config.spec.ts
  src/sitemap.xml
Due: lint-functions, lint-angular

feat: add shared activity range table
  src/app/components/calendar/calendar-page/calendar-page.component.html
  src/app/components/calendar/calendar-page/calendar-page.component.spec.ts
  src/app/components/calendar/calendar-page/calendar-page.component.ts
  src/app/components/event-table/activity-range-table-section.component.html
  src/app/components/event-table/activity-range-table-section.component.scss
  src/app/components/event-table/activity-range-table-section.component.spec.ts
  src/app/components/event-table/activity-range-table-section.component.ts
  src/app/components/event-table/event.table.component.html
  src/app/components/event-table/event.table.component.spec.ts
  src/app/components/event-table/event.table.component.ts
  src/app/helpers/activity-calendar.helper.spec.ts
  src/app/helpers/activity-calendar.helper.ts
  src/app/helpers/normal-activity-event.helper.ts
  src/app/models/activity-range.interface.ts
  src/app/modules/dashboard.module.ts
  src/app/modules/event-table.module.ts
  src/app/services/activity-calendar.service.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: stabilize activity range table loading
  src/app/components/event-table/activity-range-table-section.component.html
  src/app/components/event-table/activity-range-table-section.component.spec.ts
  src/app/components/event-table/activity-range-table-section.component.ts
Due: lint-angular

chore: use workload identity for beta hosting
  .github/workflows/buildAndDeployBeta.yml
Due: none

fix: document calendar visible-period query
  src/app/shared/help.content.ts
Due: lint-angular

fix: keep assistant send icon stable
  src/app/components/assistant/assistant-page.component.html
  src/app/components/assistant/assistant-page.component.scss
  src/app/components/assistant/assistant-page.component.spec.ts
Due: lint-angular

fix: hide assistant send action while waiting
  src/app/components/assistant/assistant-page.component.html
  src/app/components/assistant/assistant-page.component.scss
  src/app/components/assistant/assistant-page.component.spec.ts
Due: lint-angular

chore: use workload identity for production deploys
  .github/workflows/buildAndDeployMain.yml
  .github/workflows/buildAndDeployProduction.yml
  .github/workflows/deployFunctionsManual.yml
Due: none

chore: align deployment environment names
  .github/workflows/buildAndDeployBeta.yml
Due: none

fix: repair assistant weekly metric charts
  docs/mcp-server.md
  functions/src/assistant/tool-input.spec.ts
  functions/src/assistant/tool-input.ts
  functions/src/mcp/data.service.spec.ts
  functions/src/mcp/data.service.ts
  src/app/components/assistant/assistant-page.component.scss
  src/app/components/assistant/assistant-page.component.spec.ts
Due: lint-functions, lint-angular

fix: format assistant charts with user units
  docs/assistant.md
  docs/mcp-server.md
  functions/src/assistant/visuals.spec.ts
  functions/src/assistant/visuals.ts
  shared/assistant-response.contract.ts
  shared/assistant.types.ts
  src/app/components/assistant/assistant-page.component.spec.ts
  src/app/components/assistant/assistant-visual-chart.component.spec.ts
  src/app/components/assistant/assistant-visual-chart.component.ts
  src/app/shared/assistant-response.contract.spec.ts
Due: lint-functions, lint-angular

refactor: reuse dashboard chart unit formatting
  src/app/components/assistant/assistant-visual-chart.component.ts
  src/app/helpers/dashboard-chart-data.helper.spec.ts
  src/app/helpers/dashboard-chart-data.helper.ts
Due: lint-angular

fix: stabilize assistant chart unit display
  src/app/components/assistant/assistant-visual-chart.component.spec.ts
  src/app/components/assistant/assistant-visual-chart.component.ts
  src/app/helpers/dashboard-chart-data.helper.spec.ts
  src/app/helpers/dashboard-chart-data.helper.ts
Due: lint-angular

chore: sync Firebase extension configuration
  .firebaserc
  extensions/delete-user-data.env
  extensions/firestore-send-email.env
  firebase.json
Due: none

fix: restore email extension region
  extensions/firestore-send-email.env
Due: none

chore: update checksum
  .firebaserc
Due: none

fix: align service connection spinner
  src/app/components/services/coros/services.coros.component.html
  src/app/components/services/garmin/services.garmin.component.html
  src/app/components/services/services-abstract-component.directive.scss
  src/app/components/services/suunto/services.suunto.component.html
  src/app/components/services/wahoo/services.wahoo.component.html
Due: lint-angular

fix: align service action loading states
  src/app/components/history-import-form/history-import.form.component.css
  src/app/components/history-import-form/history-import.form.component.html
  src/app/components/services/coros/services.coros.component.html
  src/app/components/services/garmin/services.garmin.component.html
  src/app/components/services/services-abstract-component.directive.scss
  src/app/components/services/suunto/services.suunto.component.html
Due: lint-angular
