Repository jimmykane/quantified-self: changes, and which lefthook commands are due for each by the changed paths.
All: lint-functions, lint-angular

lint-functions:
  run: npx eslint {staged_files} --fix && git add {staged_files}

lint-angular:
  run: ESLINT_USE_FLAT_CONFIG=false npx eslint {staged_files} --fix && git add {staged_files}

feat: show lap metric averages in headers
  src/app/components/event/laps/event.card.laps.component.css
  src/app/components/event/laps/event.card.laps.component.html
  src/app/components/event/laps/event.card.laps.component.spec.ts
  src/app/components/event/laps/event.card.laps.component.ts
  src/app/components/event/section-header/event.section-header.component.html
  src/app/components/event/section-header/event.section-header.component.scss
  src/app/components/event/section-header/event.section-header.component.spec.ts
  src/app/helpers/event-lap-table-columns.helper.spec.ts
  src/app/helpers/event-lap-table-columns.helper.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

feat: organize lap metric options
  src/app/helpers/event-lap-table-columns.helper.spec.ts
  src/app/helpers/event-lap-table-columns.helper.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

chore: bump version
  package.json
Due: none

fix: place lap averages in table rows
  src/app/components/event/laps/event.card.laps.component.css
  src/app/components/event/laps/event.card.laps.component.html
  src/app/components/event/laps/event.card.laps.component.spec.ts
  src/app/components/event/laps/event.card.laps.component.ts
  src/app/components/event/section-header/event.section-header.component.html
  src/app/components/event/section-header/event.section-header.component.scss
  src/app/components/event/section-header/event.section-header.component.spec.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: omit lap totals from averages
  src/app/components/event/laps/event.card.laps.component.spec.ts
  src/app/helpers/event-lap-table-columns.helper.spec.ts
  src/app/helpers/event-lap-table-columns.helper.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: pass MCP public base URL to data tools
  functions/src/mcp/server.ts
Due: lint-functions

fix: streamline lap type tabs
  src/app/components/event/laps/event.card.laps.component.css
  src/app/components/event/laps/event.card.laps.component.html
  src/app/components/event/laps/event.card.laps.component.spec.ts
Due: lint-angular

test: align queue stats with disabled event reparse
  functions/src/admin/queues.handlers.spec.ts
Due: lint-functions

chore: bv
  package-lock.json
Due: none

chore: fix groups
  src/app/components/event/laps/event.card.laps.component.spec.ts
  src/app/helpers/event-lap-table-columns.helper.spec.ts
  src/app/helpers/event-lap-table-columns.helper.ts
Due: lint-angular

feat: search lap metric columns
  src/app/components/event/laps/event.card.laps.component.css
  src/app/components/event/laps/event.card.laps.component.html
  src/app/components/event/laps/event.card.laps.component.spec.ts
  src/app/components/event/laps/event.card.laps.component.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

test: align power systems fixture contract
  src/app/services/dashboard-derived-metrics.service.spec.ts
Due: lint-angular

fix: stack MCP authorization actions
  src/app/components/mcp-authorization/mcp-authorization.component.html
  src/app/components/mcp-authorization/mcp-authorization.component.scss
  src/app/components/mcp-authorization/mcp-authorization.component.spec.ts
Due: lint-angular

feat: add first-class MCP measurements
  .agent/skills/mcp-metric-surface/SKILL.md
  docs/mcp-server.md
  functions/src/mcp/data.service.spec.ts
  functions/src/mcp/data.service.ts
  functions/src/mcp/measurement-catalog.spec.ts
  functions/src/mcp/measurement-catalog.ts
  functions/src/mcp/server.spec.ts
  functions/src/mcp/server.ts
  src/app/components/mcp-authorization/mcp-authorization.component.spec.ts
  src/app/components/mcp-authorization/mcp-authorization.component.ts
  src/app/components/mcp-connections/mcp-connections.component.html
  src/app/components/mcp-connections/mcp-connections.component.spec.ts
  src/app/components/mcp-connections/mcp-connections.component.ts
  src/app/components/public-seo/public-seo-page.component.spec.ts
  src/app/components/public-seo/public-seo-pages.content.spec.ts
  src/app/components/public-seo/public-seo-pages.content.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/app/shared/policies.content.spec.ts
  src/app/shared/policies.content.ts
  src/firebase-hosting.config.spec.ts
  src/sitemap.xml
Due: lint-functions, lint-angular

fix: stabilize lap columns menu
  src/app/components/event/laps/event.card.laps.component.css
  src/app/components/event/laps/event.card.laps.component.html
  src/app/components/event/laps/event.card.laps.component.spec.ts
  src/app/components/event/laps/event.card.laps.component.ts
  src/styles.scss
Due: lint-angular

fix: remove heavy reparse duration cap
  functions/src/reparse/sports-lib-reparse.config.ts
  functions/src/reparse/sports-lib-reparse.service.spec.ts
  functions/src/reparse/sports-lib-reparse.service.ts
  functions/src/tasks/sports-lib-reparse-worker.spec.ts
  functions/src/tasks/sports-lib-reparse-worker.ts
Due: lint-functions

fix: prevent lap metric search clipping
  src/app/components/event/laps/event.card.laps.component.css
  src/app/components/event/laps/event.card.laps.component.spec.ts
Due: lint-angular

fix: isolate MCP measurement access
  .agent/skills/mcp-metric-surface/SKILL.md
  docs/mcp-server.md
  functions/src/mcp/data.service.spec.ts
  functions/src/mcp/data.service.ts
  functions/src/mcp/measurement-catalog.spec.ts
  functions/src/mcp/measurement-catalog.ts
  functions/src/mcp/oauth.service.spec.ts
  functions/src/mcp/oauth.service.ts
  functions/src/mcp/server.spec.ts
  functions/src/mcp/server.ts
  src/app/components/mcp-authorization/mcp-authorization.component.spec.ts
  src/app/components/mcp-authorization/mcp-authorization.component.ts
  src/app/components/mcp-connections/mcp-connections.component.html
  src/app/components/mcp-connections/mcp-connections.component.spec.ts
  src/app/components/mcp-connections/mcp-connections.component.ts
  src/app/components/public-seo/public-seo-page.component.spec.ts
  src/app/components/public-seo/public-seo-pages.content.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/app/shared/policies.content.spec.ts
  src/app/shared/policies.content.ts
Due: lint-functions, lint-angular

chore: ignore functions temp files
  functions/.gitignore
Due: none

fix: separate public pricing from membership checks
  src/app/app.routing.module.spec.ts
  src/app/app.routing.module.ts
  src/app/components/public-pricing/public-pricing.component.html
  src/app/components/public-pricing/public-pricing.component.scss
  src/app/components/public-pricing/public-pricing.component.spec.ts
  src/app/components/public-pricing/public-pricing.component.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: harden public pricing catalog display
  src/app/components/public-pricing/public-pricing.component.spec.ts
  src/app/components/public-pricing/public-pricing.component.ts
Due: lint-angular

fix: harden public pricing presentation
  src/app/components/public-pricing/public-pricing.component.html
  src/app/components/public-pricing/public-pricing.component.scss
  src/app/components/public-pricing/public-pricing.component.spec.ts
  src/app/components/public-pricing/public-pricing.component.ts
  src/firebase-hosting.config.spec.ts
  src/sitemap.xml
Due: lint-angular

feat: open connections with pro provider previews
  src/app/components/services/coros/services.coros.component.html
  src/app/components/services/coros/services.coros.component.spec.ts
  src/app/components/services/garmin/services.garmin.component.html
  src/app/components/services/garmin/services.garmin.component.spec.ts
  src/app/components/services/service-connection-status/service-connection-status.component.scss
  src/app/components/services/services-abstract-component.directive.ts
  src/app/components/services/services.component.html
  src/app/components/services/services.component.scss
  src/app/components/services/services.component.spec.ts
  src/app/components/services/services.component.ts
  src/app/components/services/suunto/services.suunto.component.html
  src/app/components/services/suunto/services.suunto.component.spec.ts
  src/app/components/services/wahoo/services.wahoo.component.ts
  src/app/components/sidenav/sidenav.component.html
  src/app/components/sidenav/sidenav.component.spec.ts
  src/app/services/app.user.service.spec.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: make Wahoo logo theme aware
  src/app/services/app.icon.service.spec.ts
  src/assets/logos/wahoo.svg
Due: lint-angular

fix: harden connection entitlement previews
  src/app/components/services/services.component.html
  src/app/components/services/services.component.scss
  src/app/components/services/services.component.spec.ts
  src/app/components/services/services.component.ts
  src/app/services/app.user.service.spec.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

feat: refine public pricing presentation
  src/app/components/public-pricing/public-pricing.component.html
  src/app/components/public-pricing/public-pricing.component.scss
  src/app/components/public-pricing/public-pricing.component.spec.ts
  src/app/components/public-pricing/public-pricing.component.ts
Due: lint-angular

fix: restore filled pricing actions
  src/app/components/public-pricing/public-pricing.component.html
  src/app/components/public-pricing/public-pricing.component.scss
Due: lint-angular

feat: show MCP access in pricing plans
  src/app/components/public-pricing/public-pricing.component.spec.ts
  src/app/components/public-pricing/public-pricing.component.ts
Due: lint-angular

refactor: unify pricing plan presentation
  src/app/components/pricing/pricing.component.html
  src/app/components/pricing/pricing.component.scss
  src/app/components/pricing/pricing.component.spec.ts
  src/app/components/public-pricing/public-pricing.component.html
  src/app/components/public-pricing/public-pricing.component.scss
  src/app/components/public-pricing/public-pricing.component.spec.ts
  src/app/components/public-pricing/public-pricing.component.ts
Due: lint-angular

fix: preserve onboarding from public pricing
  src/app/components/public-pricing/public-pricing.component.spec.ts
  src/app/components/public-pricing/public-pricing.component.ts
Due: lint-angular

fix: preserve pricing card borders on hover
  src/app/components/pricing/pricing.component.scss
Due: none

feat: add on-demand MCP activity charts
  .agent/skills/mcp-metric-surface/SKILL.md
  docs/mcp-server.md
  functions/src/mcp/activity-chart-rate-limit.spec.ts
  functions/src/mcp/activity-chart-rate-limit.ts
  functions/src/mcp/activity-chart.service.spec.ts
  functions/src/mcp/activity-chart.service.ts
  functions/src/mcp/data.service.spec.ts
  functions/src/mcp/data.service.ts
  functions/src/mcp/oauth.service.spec.ts
  functions/src/mcp/oauth.service.ts
  functions/src/mcp/server.spec.ts
  functions/src/mcp/server.ts
  functions/src/reparse/sports-lib-reparse.service.ts
  functions/src/shared/activity-identity-matcher.spec.ts
  functions/src/shared/activity-identity-matcher.ts
  src/app/components/home/home.component.html
  src/app/components/home/home.component.spec.ts
  src/app/components/mcp-authorization/mcp-authorization.component.html
  src/app/components/mcp-authorization/mcp-authorization.component.spec.ts
  src/app/components/mcp-authorization/mcp-authorization.component.ts
  src/app/components/mcp-connections/mcp-connections.component.html
  src/app/components/mcp-connections/mcp-connections.component.spec.ts
  src/app/components/mcp-connections/mcp-connections.component.ts
  src/app/components/public-seo/public-seo-page.component.spec.ts
  src/app/components/public-seo/public-seo-pages.content.spec.ts
  src/app/components/public-seo/public-seo-pages.content.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/app/shared/policies.content.spec.ts
  src/app/shared/policies.content.ts
Due: lint-functions, lint-angular

fix: close MCP projection and chart gaps
  functions/src/mcp/activity-chart.service.spec.ts
  functions/src/mcp/activity-chart.service.ts
  functions/src/mcp/data.service.spec.ts
  functions/src/mcp/data.service.ts
  functions/src/reparse/sports-lib-reparse.service.ts
  functions/src/shared/activity-identity-matcher.spec.ts
  functions/src/shared/activity-identity-matcher.ts
  functions/src/test-setup.ts
Due: lint-functions

feat: enforce strict MCP output schemas
  .agent/skills/mcp-metric-surface/SKILL.md
  AGENTS.md
  docs/mcp-server.md
  docs/training-workspace.md
  functions/AGENTS.md
  functions/package-lock.json
  functions/package.json
  functions/src/mcp/derived-output-schemas.ts
  functions/src/mcp/server.ts
  functions/src/mcp/tool-output-schemas.spec.ts
  functions/src/mcp/tool-output-schemas.ts
Due: lint-functions

fix: provide ChatGPT-ready MCP icon
  docs/mcp-server.md
  src/app/components/mcp-connections/mcp-connections.component.html
  src/app/components/mcp-connections/mcp-connections.component.spec.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/assets/favicons/quantified-self-chatgpt-icon-256x256.png
Due: lint-angular

feat: add MCP OAuth token revocation
  docs/mcp-server.md
  firebase.json
  functions/src/mcp/oauth.firestore-store.spec.ts
  functions/src/mcp/oauth.service.spec.ts
  functions/src/mcp/oauth.service.ts
  functions/src/mcp/server.spec.ts
  functions/src/mcp/server.ts
  src/app/components/mcp-connections/mcp-connections.component.html
  src/app/components/mcp-connections/mcp-connections.component.spec.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/app/shared/policies.content.spec.ts
  src/app/shared/policies.content.ts
  src/firebase-hosting.config.spec.ts
  src/sitemap.xml
Due: lint-functions, lint-angular

test: harden MCP revocation ownership guards
  functions/src/mcp/oauth.firestore-store.spec.ts
Due: lint-functions

feat: add repository-local Quantified Self plugin
  .agent/skills/mcp-metric-surface/SKILL.md
  .agents/plugins/marketplace.json
  .github/dependabot.yml
  .github/workflows/_run-tests.yml
  .gitignore
  AGENTS.md
  README.md
  docs/mcp-server.md
  package.json
  plugins/quantified-self/plugin.template.json
  plugins/quantified-self/skills/analyze-quantified-self/SKILL.md
  plugins/quantified-self/skills/analyze-quantified-self/agents/openai.yaml
  tools/quantified-self-plugin/package-lock.json
  tools/quantified-self-plugin/package.json
  tools/quantified-self-plugin/plugin-tool.mjs
  tools/quantified-self-plugin/plugin-tool.test.mjs
Due: none

fix: harden local plugin lifecycle
  .agent/skills/mcp-metric-surface/SKILL.md
  .github/dependabot.yml
  AGENTS.md
  README.md
  docs/mcp-server.md
  package.json
  tools/quantified-self-plugin/package-lock.json
  tools/quantified-self-plugin/package.json
  tools/quantified-self-plugin/plugin-tool.mjs
  tools/quantified-self-plugin/plugin-tool.test.mjs
Due: none

fix: make MCP revocation emulator-safe
  functions/src/mcp/oauth.firestore-store.spec.ts
  functions/src/mcp/oauth.service.ts
Due: lint-functions

Path conditions:
  lint-functions: any of: **/*.{ts,js} and ^functions/
  lint-angular: any of: {src/*.{ts,html},src/**/*.{ts,html}}
