Repository jimmykane/quantified-self: changes, and which lefthook commands are due for each by the changed paths.
All: lint-functions, lint-angular

lint-functions:
  run: npx eslint {staged_files} --fix && git add {staged_files}

lint-angular:
  run: ESLINT_USE_FLAT_CONFIG=false npx eslint {staged_files} --fix && git add {staged_files}

fix: align calendar volume summaries
  src/app/components/calendar/calendar-page/calendar-page.component.scss
  src/app/components/calendar/calendar-page/calendar-page.component.spec.ts
  src/app/components/calendar/calendar-page/calendar-page.component.ts
  src/app/helpers/activity-calendar.helper.spec.ts
  src/app/helpers/activity-calendar.helper.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

refactor: remove Wahoo identity mappings
  docs/provider-integration-guide.md
  docs/user-deletion-workflow.html
  docs/wahoo-integration.md
  firestore.rules
  functions/src/OAuth2.spec.ts
  functions/src/OAuth2.ts
  functions/src/auth/ServiceAuthAdapter.ts
  functions/src/scripts/cleanup-firestore.spec.ts
  functions/src/scripts/cleanup-firestore.ts
  functions/src/scripts/cleanup-orphaned-users.ts
  functions/src/service-operational-cleanup.spec.ts
  functions/src/service-operational-cleanup.ts
  functions/src/users/cleanup.spec.ts
  functions/src/users/cleanup.ts
  functions/src/wahoo/auth/adapter.spec.ts
  functions/src/wahoo/auth/adapter.ts
  functions/src/wahoo/auth/wrapper.spec.ts
  functions/src/wahoo/auth/wrapper.ts
  functions/src/wahoo/constants.ts
  functions/src/wahoo/processor.spec.ts
  functions/src/wahoo/processor.ts
  functions/src/wahoo/queue-store.spec.ts
  functions/src/wahoo/queue-store.ts
  functions/src/wahoo/webhook.spec.ts
  functions/src/wahoo/webhook.ts
  src/app/shared/policies.content.ts
  src/firestore.rules.spec.ts
Due: lint-functions, lint-angular

fix: harden Wahoo connection and index guards
  docs/provider-integration-guide.md
  docs/wahoo-integration.md
  functions/src/firestore-indexes.spec.ts
  functions/src/users/cleanup.spec.ts
  functions/src/users/cleanup.ts
  functions/src/wahoo/queue-store.spec.ts
  functions/src/wahoo/queue-store.ts
Due: lint-functions

feat: show calendar family metric details
  src/app/components/calendar/calendar-page/calendar-page.component.html
  src/app/components/calendar/calendar-page/calendar-page.component.scss
  src/app/components/calendar/calendar-page/calendar-page.component.spec.ts
  src/app/components/calendar/calendar-page/calendar-page.component.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

refactor: simplify calendar family volume
  src/app/components/calendar/calendar-page/calendar-page.component.html
  src/app/components/calendar/calendar-page/calendar-page.component.scss
  src/app/components/calendar/calendar-page/calendar-page.component.spec.ts
  src/app/components/calendar/calendar-page/calendar-page.component.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: serialize Wahoo revision persistence
  docs/provider-integration-guide.md
  docs/wahoo-integration.md
  functions/src/shared/event-writer.spec.ts
  functions/src/shared/event-writer.ts
  functions/src/utils-usage.spec.ts
  functions/src/utils.ts
  functions/src/wahoo/processor.spec.ts
  functions/src/wahoo/processor.ts
  functions/src/wahoo/queue-store.spec.ts
  functions/src/wahoo/queue-store.ts
Due: lint-functions

feat: distinguish calendar weekends
  src/app/components/calendar/activity-calendar-grid/activity-calendar-grid.component.html
  src/app/components/calendar/activity-calendar-grid/activity-calendar-grid.component.scss
  src/app/components/calendar/activity-calendar-grid/activity-calendar-grid.component.spec.ts
  src/app/helpers/activity-calendar.helper.spec.ts
  src/app/helpers/activity-calendar.helper.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: align calendar weekend tint
  src/app/components/calendar/activity-calendar-grid/activity-calendar-grid.component.scss
  src/app/components/calendar/activity-calendar-grid/activity-calendar-grid.component.spec.ts
Due: lint-angular

fix: align calendar weekend header tint
  src/app/components/calendar/activity-calendar-grid/activity-calendar-grid.component.scss
  src/app/components/calendar/activity-calendar-grid/activity-calendar-grid.component.spec.ts
Due: lint-angular

fix: remove calendar header tint
  src/app/components/calendar/activity-calendar-grid/activity-calendar-grid.component.scss
  src/app/components/calendar/activity-calendar-grid/activity-calendar-grid.component.spec.ts
Due: lint-angular

fix: rename calendar activity section
  src/app/components/calendar/calendar-page/calendar-page.component.html
  src/app/components/calendar/calendar-page/calendar-page.component.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

feat: explain calendar activity bars
  src/app/components/calendar/calendar-page/calendar-page.component.html
  src/app/components/calendar/calendar-page/calendar-page.component.scss
  src/app/components/calendar/calendar-page/calendar-page.component.spec.ts
  src/app/components/calendar/calendar-page/calendar-page.component.ts
Due: lint-angular

fix: reduce calendar info icon size
  src/app/components/calendar/calendar-page/calendar-page.component.scss
Due: none

chore: bump version
  package.json
Due: none

chore: retry suunto
  functions/src/activity-sync/process-queue-item.spec.ts
  functions/src/activity-sync/process-queue-item.ts
Due: lint-functions

feat: add calendar SEO and documentation
  README.md
  docs/activity-calendar.md
  src/app/app.routes.server.spec.ts
  src/app/app.routes.server.ts
  src/app/app.routing.module.spec.ts
  src/app/app.routing.module.ts
  src/app/components/help/help-page.component.spec.ts
  src/app/components/help/help-page.component.ts
  src/app/components/home/home.component.html
  src/app/components/home/home.component.scss
  src/app/components/home/home.component.spec.ts
  src/app/components/public-footer/public-footer.component.html
  src/app/components/public-footer/public-footer.component.spec.ts
  src/app/components/public-seo/public-seo-page.component.spec.ts
  src/app/components/public-seo/public-seo-pages.content.spec.ts
  src/app/components/public-seo/public-seo-pages.content.ts
  src/app/components/public-seo/public-seo-pages.paths.ts
  src/app/helpers/help-search.helper.spec.ts
  src/app/services/seo.service.spec.ts
  src/app/services/seo.service.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/app/shared/public-startup-route.spec.ts
  src/app/shared/public-startup-route.ts
  src/firebase-hosting.config.spec.ts
  src/robots.txt
  src/sitemap.xml
Due: lint-angular

fix: normalize provider delivery failures
  docs/provider-integration-guide.md
  functions/src/shared/provider-operation-error.spec.ts
  functions/src/shared/provider-operation-error.ts
  src/activity-sync/process-queue-item.spec.ts
  src/activity-sync/process-queue-item.ts
  src/garmin/routes.spec.ts
  src/garmin/routes.ts
  src/queue-utils.ts
  src/queue.spec.ts
  src/queue/queue-item.interface.ts
  src/route-delivery-sync/process-queue-item.spec.ts
  src/route-delivery-sync/process-queue-item.ts
  src/routes/route-send-core.ts
  src/routes/send-routes-to-service.spec.ts
  src/shared/provider-operation-error.spec.ts
  src/shared/provider-operation-error.ts
  src/suunto/activities.spec.ts
  src/suunto/activities.ts
  src/wahoo/routes.spec.ts
  src/wahoo/routes.ts
Due: lint-functions, lint-angular

fix: remove accidental function source copies
  src/activity-sync/process-queue-item.spec.ts
  src/activity-sync/process-queue-item.ts
  src/garmin/routes.spec.ts
  src/garmin/routes.ts
  src/queue-utils.ts
  src/queue.spec.ts
  src/queue/queue-item.interface.ts
  src/route-delivery-sync/process-queue-item.spec.ts
  src/route-delivery-sync/process-queue-item.ts
  src/routes/route-send-core.ts
  src/routes/send-routes-to-service.spec.ts
  src/shared/provider-operation-error.spec.ts
  src/shared/provider-operation-error.ts
  src/suunto/activities.spec.ts
  src/suunto/activities.ts
  src/wahoo/routes.spec.ts
  src/wahoo/routes.ts
Due: lint-angular

fix: harden provider retry lifecycle
  docs/provider-integration-guide.md
  functions/src/activity-sync/process-queue-item.spec.ts
  functions/src/activity-sync/process-queue-item.ts
  functions/src/garmin/routes.spec.ts
  functions/src/garmin/routes.ts
  functions/src/queue/queue-item.interface.ts
  functions/src/route-delivery-sync/process-queue-item.ts
  functions/src/service-auth-lifecycle.spec.ts
  functions/src/service-auth-lifecycle.ts
  functions/src/shared/provider-operation-error.spec.ts
  functions/src/shared/provider-operation-error.ts
  functions/src/suunto/activities.spec.ts
  functions/src/suunto/activities.ts
  functions/src/tokens.spec.ts
  functions/src/tokens.ts
  functions/src/wahoo/activities.spec.ts
  functions/src/wahoo/activities.ts
  functions/src/wahoo/routes.spec.ts
  functions/src/wahoo/routes.ts
Due: lint-functions

fix: make provider upload completion idempotent
  docs/provider-integration-guide.md
  src/activity-sync/process-queue-item.spec.ts
  src/activity-sync/process-queue-item.ts
  src/queue/queue-item.interface.ts
  src/suunto/activities.spec.ts
  src/suunto/activities.ts
Due: lint-angular

fix: remove accidental function source copies
  src/activity-sync/process-queue-item.spec.ts
  src/activity-sync/process-queue-item.ts
  src/queue/queue-item.interface.ts
  src/suunto/activities.spec.ts
  src/suunto/activities.ts
Due: lint-angular

fix: make provider upload retries resumable
  docs/provider-integration-guide.md
  functions/src/activity-sync/process-queue-item.spec.ts
  functions/src/activity-sync/process-queue-item.ts
  functions/src/garmin/manual-route-upload.spec.ts
  functions/src/garmin/manual-route-upload.ts
  functions/src/suunto/activities.spec.ts
  functions/src/suunto/activities.ts
  src/app/components/upload/upload-activities-to-service/upload-activities-to-service.component.spec.ts
  src/app/components/upload/upload-activities-to-service/upload-activities-to-service.component.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

feat: auto-add calendar dashboard tile
  docs/activity-calendar.md
  src/app/components/summaries/dashboard-manager-dialog/dashboard-manager-dialog.component.spec.ts
  src/app/components/summaries/dashboard-manager-dialog/dashboard-manager-dialog.component.ts
  src/app/components/tile/actions/chart/tile.chart.actions.component.spec.ts
  src/app/helpers/dashboard-auto-tile.helper.spec.ts
  src/app/helpers/dashboard-auto-tile.helper.ts
  src/app/models/app-user.interface.ts
  src/app/services/dashboard-auto-tile.service.spec.ts
  src/app/services/dashboard-auto-tile.service.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: harden provider delivery continuation
  docs/provider-integration-guide.md
  functions/src/activity-sync/process-queue-item.spec.ts
  functions/src/activity-sync/process-queue-item.ts
  functions/src/garmin/manual-route-upload.spec.ts
  functions/src/garmin/manual-route-upload.ts
  functions/src/garmin/routes.spec.ts
  functions/src/garmin/routes.ts
  functions/src/queue-utils.ts
  functions/src/queue.spec.ts
  functions/src/queue/queue-item.interface.ts
  functions/src/suunto/activities.spec.ts
  functions/src/suunto/activities.ts
  functions/src/tasks/activity-sync-worker.spec.ts
  functions/src/tasks/activity-sync-worker.ts
Due: lint-functions

chore: bump
  package-lock.json
Due: none

fix: preserve partial Suunto route delivery
  functions/src/suunto/routes.spec.ts
  functions/src/suunto/routes.ts
Due: lint-functions

fix: compact calendar dashboard tile
  docs/activity-calendar.md
  src/app/components/summaries/dashboard-manager-dialog/dashboard-manager-dialog.component.spec.ts
  src/app/components/tile/chart/tile.chart.component.spec.ts
  src/app/components/tile/tile.abstract.css
  src/app/helpers/dashboard-activity-calendar.helper.spec.ts
  src/app/helpers/dashboard-tile-default-size.helper.spec.ts
  src/app/helpers/dashboard-tile-default-size.helper.ts
  src/app/services/dashboard-auto-tile.service.spec.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/app/utils/app.user.utilities.spec.ts
Due: lint-angular

fix: resolve calendar activity icons
  src/app/components/calendar/calendar-day-details/calendar-day-details.component.html
  src/app/components/calendar/calendar-day-details/calendar-day-details.component.spec.ts
  src/app/components/calendar/calendar-day-details/calendar-day-details.component.ts
Due: lint-angular

fix: center calendar today marker
  src/app/components/calendar/activity-calendar-grid/activity-calendar-grid.component.scss
  src/app/components/calendar/activity-calendar-grid/activity-calendar-grid.component.spec.ts
Due: lint-angular

feat: add daily calendar volume details
  docs/activity-calendar.md
  src/app/components/calendar/activity-calendar-volume-list/activity-calendar-volume-list.component.html
  src/app/components/calendar/activity-calendar-volume-list/activity-calendar-volume-list.component.scss
  src/app/components/calendar/activity-calendar-volume-list/activity-calendar-volume-list.component.spec.ts
  src/app/components/calendar/activity-calendar-volume-list/activity-calendar-volume-list.component.ts
  src/app/components/calendar/calendar-day-details/calendar-day-details.component.html
  src/app/components/calendar/calendar-day-details/calendar-day-details.component.scss
  src/app/components/calendar/calendar-day-details/calendar-day-details.component.spec.ts
  src/app/components/calendar/calendar-day-details/calendar-day-details.component.ts
  src/app/components/calendar/calendar-page/calendar-page.component.html
  src/app/components/calendar/calendar-page/calendar-page.component.scss
  src/app/components/calendar/calendar-page/calendar-page.component.spec.ts
  src/app/components/calendar/calendar-page/calendar-page.component.ts
  src/app/helpers/activity-calendar-volume.helper.spec.ts
  src/app/helpers/activity-calendar-volume.helper.ts
  src/app/helpers/activity-calendar.helper.spec.ts
  src/app/helpers/activity-calendar.helper.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

feat: show calendar activity metrics
  docs/activity-calendar.md
  src/app/components/calendar/activity-calendar-volume-list/activity-calendar-volume-list.component.html
  src/app/components/calendar/activity-calendar-volume-list/activity-calendar-volume-list.component.scss
  src/app/components/calendar/activity-calendar-volume-list/activity-calendar-volume-list.component.ts
  src/app/components/calendar/activity-calendar-volume-list/activity-calendar-volume-stats.component.html
  src/app/components/calendar/activity-calendar-volume-list/activity-calendar-volume-stats.component.scss
  src/app/components/calendar/activity-calendar-volume-list/activity-calendar-volume-stats.component.ts
  src/app/components/calendar/calendar-day-details/calendar-day-details.component.html
  src/app/components/calendar/calendar-day-details/calendar-day-details.component.scss
  src/app/components/calendar/calendar-day-details/calendar-day-details.component.spec.ts
  src/app/components/calendar/calendar-day-details/calendar-day-details.component.ts
  src/app/helpers/activity-calendar-volume.helper.spec.ts
  src/app/helpers/activity-calendar-volume.helper.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: keep calendar sheet header fixed
  src/app/components/calendar/calendar-day-details/calendar-day-details.component.html
  src/app/components/calendar/calendar-day-details/calendar-day-details.component.scss
  src/app/components/calendar/calendar-day-details/calendar-day-details.component.spec.ts
  src/styles.scss
Due: lint-angular

fix: retain accepted activity uploads for reconciliation
  functions/src/activity-sync/process-queue-item.spec.ts
  functions/src/activity-sync/process-queue-item.ts
Due: lint-functions

fix: preserve accepted provider delivery state
  functions/src/activity-sync/process-queue-item.spec.ts
  functions/src/activity-sync/process-queue-item.ts
  functions/src/queue/queue-item.interface.ts
  functions/src/route-delivery-sync/process-queue-item.spec.ts
  functions/src/route-delivery-sync/process-queue-item.ts
Due: lint-functions

fix: retry confirmed Wahoo upload failures
  functions/src/activity-sync/process-queue-item.spec.ts
  functions/src/activity-sync/process-queue-item.ts
Due: lint-functions

fix: prevent calendar activity stats clipping
  src/app/components/calendar/calendar-day-details/calendar-day-details.component.html
  src/app/components/calendar/calendar-day-details/calendar-day-details.component.scss
  src/app/components/calendar/calendar-day-details/calendar-day-details.component.spec.ts
Due: lint-angular

fix: center calendar activity icons
  src/app/components/calendar/calendar-day-details/calendar-day-details.component.scss
  src/app/components/calendar/calendar-day-details/calendar-day-details.component.spec.ts
Due: lint-angular

fix: prevent duplicate Suunto route retries
  functions/src/routes/provider-acceptance.ts
  functions/src/routes/route-send-core.ts
  functions/src/routes/send-routes-to-service.spec.ts
  functions/src/routes/send-routes-to-service.ts
  functions/src/suunto/routes.spec.ts
  functions/src/suunto/routes.ts
Due: lint-functions

Path conditions:
  lint-functions: any of: **/*.{ts,js} and ^functions/
  lint-angular: any of: {src/*.{ts,html},src/**/*.{ts,html}}
