Repository jimmykane/quantified-self: changes, and which lefthook commands are due for each by the changed paths.
All: lint-functions, lint-angular

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint-functions:
      root: "functions"
      glob: "**/*.{ts,js}"
      run: npx eslint {staged_files} --fix && git add {staged_files}
    lint-angular:
      glob: "{src/*.{ts,html},src/**/*.{ts,html}}"
      run: ESLINT_USE_FLAT_CONFIG=false npx eslint {staged_files} --fix && git add {staged_files}

fix: sanitize non-terminal Suunto auth failures
  functions/src/suunto/auth/wrapper.spec.ts
  functions/src/suunto/auth/wrapper.ts
  functions/src/tokens.spec.ts
  functions/src/tokens.ts
Due: lint-functions

fix: ground Assistant analytical comparisons
  docs/assistant.md
  docs/mcp-server.md
  functions/src/assistant/mcp-session.spec.ts
  functions/src/assistant/runtime.spec.ts
  functions/src/assistant/runtime.ts
  functions/src/mcp/data.service.spec.ts
  functions/src/mcp/data.service.ts
  shared/assistant.prompts.ts
Due: lint-functions

fix: remove redundant Assistant discovery calls
  docs/assistant.md
  shared/assistant.prompts.ts
Due: none

fix: use keyless Firebase Admin credentials
  .agent/workflows/start-emulators.md
  README.md
  docs/email-lifecycle.md
  docs/function-secret-management.md
  functions/.secret.local.example
  functions/src/firebase-admin-config.spec.ts
  functions/src/firebase-admin-config.ts
  functions/src/firebase-admin-initialization.spec.ts
  functions/src/index.ts
  functions/src/scripts/test-all-emails.spec.ts
  functions/src/scripts/test-all-emails.ts
Due: lint-functions

fix: guard COROS queue revisions and API checks
  docs/coros-integration.md
  docs/provider-integration-guide.md
  functions/src/coros/binding-state.spec.ts
  functions/src/coros/binding-state.ts
  functions/src/coros/queue.spec.ts
  functions/src/coros/queue.ts
  functions/src/garmin/queue.ts
  functions/src/history.spec.ts
  functions/src/history.ts
  functions/src/queue-utils.spec.ts
  functions/src/queue-utils.ts
  functions/src/queue.spec.ts
  functions/src/queue.ts
  functions/src/queue/queue-item.interface.ts
  functions/src/service-connection-meta.spec.ts
  functions/src/service-connection-meta.ts
  functions/src/shared/cloud-tasks.spec.ts
  functions/src/shared/cloud-tasks.ts
  functions/src/tasks/workout-processor.spec.ts
  functions/src/tasks/workout-processor.ts
  shared/service-connection.ts
Due: lint-functions

fix: isolate route cleanup transaction state
  functions/src/activity-sync/disconnect-routes.spec.ts
  functions/src/activity-sync/route-cleanup.ts
Due: lint-functions

fix: address COROS reliability review findings
  docs/coros-integration.md
  functions/src/coros/binding-state.spec.ts
  functions/src/coros/binding-state.ts
  functions/src/coros/history-to-queue.spec.ts
  functions/src/coros/history-to-queue.ts
  functions/src/coros/queue.spec.ts
  functions/src/coros/queue.ts
  functions/src/coros/workout-detail.spec.ts
  functions/src/coros/workout-detail.ts
  functions/src/history.spec.ts
  functions/src/history.ts
  functions/src/queue.spec.ts
  functions/src/queue.ts
  functions/src/queue/provider-event-id.spec.ts
  functions/src/queue/provider-event-id.ts
  functions/src/tokens.spec.ts
  functions/src/tokens.ts
  shared/functions-manifest.ts
  src/app/components/services/coros/services.coros.component.html
  src/app/components/services/coros/services.coros.component.spec.ts
  src/app/components/services/coros/services.coros.component.ts
  src/app/services/app.functions.service.spec.ts
Due: lint-functions, lint-angular

fix: serialize COROS event revisions
  docs/coros-integration.md
  docs/provider-integration-guide.md
  functions/src/coros/queue-processing.spec.ts
  functions/src/coros/queue-processing.ts
  functions/src/coros/queue-revision.ts
  functions/src/history.spec.ts
  functions/src/history.ts
  functions/src/queue-utils.ts
  functions/src/queue.spec.ts
  functions/src/queue.ts
  functions/src/queue/queue-item.interface.ts
  functions/src/queue/revision-processing-lease.ts
  functions/src/wahoo/queue-store.ts
Due: lint-functions

refactor: centralize queue revision matching
  functions/src/coros/queue-revision.spec.ts
  functions/src/coros/queue-revision.ts
  functions/src/queue-utils.ts
  functions/src/queue.ts
  functions/src/queue/revision-identity.spec.ts
  functions/src/queue/revision-identity.ts
  functions/src/shared/cloud-tasks.ts
  functions/src/tasks/workout-processor.spec.ts
  functions/src/tasks/workout-processor.ts
Due: lint-functions

fix: harden COROS queue processing
  functions/src/coros/queue-processing.spec.ts
  functions/src/coros/queue-processing.ts
  functions/src/coros/workout-detail.spec.ts
  functions/src/coros/workout-detail.ts
  functions/src/queue.spec.ts
  functions/src/queue.ts
  functions/src/queue/queue-item.interface.ts
  functions/src/request-helper.spec.ts
  functions/src/request-helper.ts
Due: lint-functions

fix: address COROS review findings
  docs/coros-integration.md
  functions/src/coros/binding-state.spec.ts
  functions/src/coros/binding-state.ts
  functions/src/queue/provider-event-id.spec.ts
  functions/src/queue/provider-event-id.ts
Due: lint-functions

fix: stabilize training sport shortcuts during refresh
  docs/training-workspace.md
  src/app/components/training/training-workspace.component.spec.ts
  src/app/components/training/training-workspace.component.ts
  src/app/helpers/training-sport-visibility.helper.spec.ts
  src/app/helpers/training-sport-visibility.helper.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: harden COROS binding checks and event migration
  docs/coros-integration.md
  functions/src/coros/binding-state.spec.ts
  functions/src/coros/binding-state.ts
  functions/src/queue/provider-event-id.spec.ts
  functions/src/queue/provider-event-id.ts
  functions/src/service-connection-meta.spec.ts
  functions/src/service-connection-meta.ts
  shared/service-connection.ts
  src/app/components/services/coros/services.coros.component.html
  src/app/components/services/coros/services.coros.component.spec.ts
  src/app/components/services/coros/services.coros.component.ts
Due: lint-functions, lint-angular

fix: release stale COROS binding leases
  docs/coros-integration.md
  functions/src/coros/binding-state.spec.ts
  functions/src/coros/binding-state.ts
Due: lint-functions

fix: scope COROS Retry cooldown by account
  src/app/components/services/coros/services.coros.component.spec.ts
  src/app/components/services/coros/services.coros.component.ts
Due: lint-angular

fix: preserve COROS pending-disconnect deferral
  functions/src/coros/queue-processing.spec.ts
  functions/src/queue-utils.ts
Due: lint-functions

fix: harden COROS binding-state retries
  docs/coros-integration.md
  firestore.rules
  functions/src/coros/binding-state.spec.ts
  functions/src/coros/binding-state.ts
  src/app/components/services/coros/services.coros.component.spec.ts
  src/app/components/services/coros/services.coros.component.ts
  src/app/services/app.user.service.ts
  src/firestore.rules.spec.ts
Due: lint-functions, lint-angular

fix: count distinct admin connections
  src/app/components/admin/admin-dashboard/admin-dashboard.component.spec.ts
  src/app/helpers/admin-dashboard-summary.helper.spec.ts
  src/app/helpers/admin-dashboard-summary.helper.ts
Due: lint-angular

fix: harden isolated local development
  README.md
  docs/function-secret-management.md
  docs/local-development.md
  functions/src/stripe/client.spec.ts
  functions/src/stripe/client.ts
  functions/src/utils.spec.ts
  functions/src/utils.ts
  package.json
  src/app/services/app.route-upload.service.spec.ts
  src/app/services/app.tools-comparison.service.spec.ts
  src/environments/environment-safety.spec.ts
  src/environments/environment-safety.ts
  src/main.ts
  tools/local-role.mjs
  tools/local-runtime.mjs
  tools/local-runtime.test.mjs
  tools/local-smoke-check.mjs
  tools/reset-local.mjs
  tools/run-local-smoke.mjs
  tools/start-local.mjs
Due: lint-functions, lint-angular

docs: clarify local runtime modes
  README.md
Due: none

fix: satisfy functions build lint
  functions/scripts/build.mjs
Due: none

fix: address local runtime review findings
  README.md
  docs/local-development.md
  functions/package.json
  functions/scripts/build.mjs
  src/app/services/app.user.service.spec.ts
  src/app/services/app.user.service.ts
  src/environments/environment-safety.spec.ts
  src/environments/environment-safety.ts
  src/environments/environment.local.prod-functions.ts
  tools/local-role.mjs
  tools/local-role.test.mjs
  tools/local-runtime.mjs
  tools/local-runtime.test.mjs
  tools/run-local-smoke.mjs
  tools/start-hosted-functions.mjs
  tools/start-local.mjs
Due: lint-angular

feat: add COROS delivery update email
  docs/email-lifecycle.md
  functions/src/email/template-catalog.spec.ts
  functions/src/email/template-catalog.ts
  functions/src/email/template-loader.ts
  functions/src/scripts/render-email-previews.ts
  functions/templates/coros_delivery_update.hbs
  functions/templates/coros_delivery_update.txt.hbs
Due: lint-functions

fix: simplify COROS route email copy
  functions/templates/coros_delivery_update.hbs
  functions/templates/coros_delivery_update.txt.hbs
Due: none

fix: mention app version in COROS email
  functions/templates/coros_delivery_update.hbs
  functions/templates/coros_delivery_update.txt.hbs
Due: none

feat: enable COROS route delivery for all users
  docs/coros-integration.md
  docs/email-lifecycle.md
  docs/provider-integration-guide.md
  functions/src/coros/routes.spec.ts
  functions/src/coros/routes.ts
  functions/src/derived-metrics/derived-metrics-uid-gate.spec.ts
  functions/src/derived-metrics/derived-metrics.service.spec.ts
  functions/src/email/template-catalog.spec.ts
  functions/src/email/template-catalog.ts
  functions/src/route-delivery-sync/allowlist.spec.ts
  functions/src/sleep/provider-flags.spec.ts
  functions/src/sleep/queue.spec.ts
  functions/src/sleep/webhooks.spec.ts
  functions/templates/coros_delivery_update.hbs
  functions/templates/coros_delivery_update.txt.hbs
  shared/coros-rollout.ts
  src/app/components/integrations/integration-pages.content.spec.ts
  src/app/components/integrations/integration-pages.content.ts
  src/app/components/public-seo/public-seo-pages.content.spec.ts
  src/app/components/public-seo/public-seo-pages.content.ts
  src/app/components/routes/route-detail/route-detail.component.spec.ts
  src/app/components/routes/routes-page.component.spec.ts
  src/app/components/services/coros/services.coros.component.spec.ts
  src/app/components/services/garmin/services.garmin.component.spec.ts
  src/app/components/services/route-delivery-sync-route-control/route-delivery-sync-route-control.component.spec.ts
  src/app/components/services/services.component.spec.ts
  src/app/components/services/services.component.ts
  src/app/components/upload/upload-routes-to-service/upload-routes-to-service.component.spec.ts
  src/app/components/upload/upload-routes-to-service/upload-routes-to-service.component.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/app/shared/policies.content.spec.ts
  src/app/shared/policies.content.ts
Due: lint-functions, lint-angular

fix: clarify COROS Sync Grid email copy
  functions/templates/coros_delivery_update.hbs
  functions/templates/coros_delivery_update.txt.hbs
Due: none

fix: correct COROS campaign footer
  docs/email-lifecycle.md
  functions/src/email/template-catalog.spec.ts
  functions/templates/coros_delivery_update.hbs
  functions/templates/coros_delivery_update.txt.hbs
Due: lint-functions

fix: accept rotating COROS CloudFront downloads
  docs/coros-integration.md
  docs/provider-integration-guide.md
  functions/src/coros/constants.ts
  functions/src/coros/file-download.spec.ts
  functions/src/coros/file-download.ts
Due: lint-functions

fix: retry incomplete Suunto FIT responses
  docs/provider-integration-guide.md
  functions/src/history.spec.ts
  functions/src/history.ts
  functions/src/queue-integration.spec.ts
  functions/src/queue-processing.spec.ts
  functions/src/queue.spec.ts
  functions/src/queue.ts
  functions/src/queue/user-not-found.spec.ts
  functions/src/request-helper.spec.ts
  functions/src/request-helper.ts
  functions/src/shared/fit-payload.spec.ts
  functions/src/shared/fit-payload.ts
  functions/src/suunto/constants.ts
  functions/src/suunto/fit-download.spec.ts
  functions/src/suunto/fit-download.ts
  functions/src/suunto/get-suunto-fit-file.spec.ts
  functions/src/suunto/get-suunto-fit-file.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

fix: remove Suunto FIT download bounds
  docs/provider-integration-guide.md
  functions/src/queue-integration.spec.ts
  functions/src/queue-processing.spec.ts
  functions/src/queue.spec.ts
  functions/src/queue.ts
  functions/src/queue/user-not-found.spec.ts
  functions/src/request-helper.spec.ts
  functions/src/request-helper.ts
  functions/src/shared/fit-payload.spec.ts
  functions/src/shared/fit-payload.ts
  functions/src/suunto/constants.ts
  functions/src/suunto/fit-download.spec.ts
  functions/src/suunto/fit-download.ts
  functions/src/suunto/get-suunto-fit-file.spec.ts
  functions/src/suunto/get-suunto-fit-file.ts
Due: lint-functions

fix: harden Suunto FIT completeness checks
  functions/src/shared/fit-payload.spec.ts
  functions/src/shared/fit-payload.ts
  functions/src/suunto/fit-download.spec.ts
  functions/src/suunto/fit-download.ts
Due: lint-functions

fix: support confidential MCP clients
  docs/mcp-server.md
  firestore.indexes.json
  functions/src/mcp/contract-compatibility.spec.ts
  functions/src/mcp/contract-compatibility.ts
  functions/src/mcp/contracts/pending-change.json
  functions/src/mcp/oauth.firestore-store.spec.ts
  functions/src/mcp/oauth.service.spec.ts
  functions/src/mcp/oauth.service.ts
  functions/src/mcp/server.spec.ts
  functions/src/mcp/server.ts
Due: lint-functions

fix: add Suunto FIT download deadline
  docs/provider-integration-guide.md
  functions/src/suunto/constants.ts
  functions/src/suunto/fit-download.spec.ts
  functions/src/suunto/fit-download.ts
Due: lint-functions

fix: harden MCP confidential client authentication
  docs/mcp-server.md
  functions/src/mcp/oauth.service.spec.ts
  functions/src/mcp/oauth.service.ts
Due: lint-functions

fix: add safe MCP OAuth client auth diagnostics
  docs/mcp-server.md
  functions/src/mcp/oauth.service.spec.ts
  functions/src/mcp/oauth.service.ts
  functions/src/mcp/server.ts
Due: lint-functions

feat: add MCP connection recovery email
  docs/email-lifecycle.md
  functions/src/email/template-catalog.spec.ts
  functions/src/email/template-catalog.ts
  functions/src/scripts/test-all-emails.spec.ts
  functions/src/scripts/test-all-emails.ts
  functions/templates/mcp_connection_update.hbs
  functions/templates/mcp_connection_update.txt.hbs
Due: lint-functions

docs: refine MCP connection recovery email
  docs/email-lifecycle.md
  functions/src/email/template-catalog.spec.ts
  functions/src/email/template-catalog.ts
  functions/templates/mcp_connection_update.hbs
  functions/templates/mcp_connection_update.txt.hbs
Due: lint-functions
