Repository jimmykane/quantified-self: changes, and which lefthook commands are due for each by the changed paths.
All: lint-functions, lint-angular

lint-functions:
  run: npx eslint {staged_files} --fix && git add {staged_files}

lint-angular:
  run: ESLINT_USE_FLAT_CONFIG=false npx eslint {staged_files} --fix && git add {staged_files}

fix: remove empty day training impact divider
  src/app/components/calendar/calendar-day-details/calendar-day-details.component.scss
  src/app/components/training-impact/training-impact.component.scss
  src/app/components/training-impact/training-impact.component.spec.ts
Due: lint-angular

fix: align day timeline icons with titles
  src/app/components/calendar/calendar-day-context/calendar-day-context.component.scss
  src/app/components/calendar/calendar-day-context/calendar-day-context.component.spec.ts
Due: lint-angular

fix: avoid duplicate duration in single-activity sport rows
  src/app/components/calendar/activity-calendar-volume-list/activity-calendar-volume-list.component.spec.ts
  src/app/helpers/activity-calendar-volume.helper.spec.ts
  src/app/helpers/activity-calendar-volume.helper.ts
Due: lint-angular

fix: align day sheet with compact calendar styles
  docs/frontend-ui.md
  src/app/components/calendar/AGENTS.md
  src/app/components/calendar/_calendar-day-presentation.scss
  src/app/components/calendar/calendar-day-context/calendar-day-context.component.scss
  src/app/components/calendar/calendar-day-details/calendar-day-details.component.html
  src/app/components/calendar/calendar-day-details/calendar-day-details.component.scss
  src/app/components/calendar/calendar-day-details/calendar-day-details.component.spec.ts
  src/app/components/calendar/calendar-page/calendar-page.component.spec.ts
Due: lint-angular

fix: address compact day sheet review findings
  docs/frontend-ui.md
  src/app/components/calendar/_calendar-day-presentation.scss
  src/app/components/calendar/calendar-day-details/calendar-day-details.component.html
  src/app/components/calendar/calendar-day-details/calendar-day-details.component.scss
  src/app/components/calendar/calendar-day-details/calendar-day-details.component.spec.ts
  src/app/components/calendar/calendar-day-details/calendar-day-details.styles.spec.ts
Due: lint-angular

fix: persist training workout expiry sweep progress
  docs/training-workspace.md
  functions/src/training-plans/cleanup-worker.emulator.spec.ts
  functions/src/training-plans/cleanup-worker.spec.ts
  functions/src/training-plans/cleanup-worker.ts
  functions/src/training-plans/workout-expiry-checkpoint.ts
Due: lint-functions

test: cover training expiry checkpoint failure paths
  functions/src/training-plans/cleanup-worker.spec.ts
Due: lint-functions

fix: unify selected-day rows and hide empty activity sections
  docs/frontend-ui.md
  src/app/components/calendar/AGENTS.md
  src/app/components/calendar/_calendar-day-presentation.scss
  src/app/components/calendar/activity-calendar-tile/activity-calendar-tile.component.spec.ts
  src/app/components/calendar/calendar-day-context/calendar-day-context.component.html
  src/app/components/calendar/calendar-day-context/calendar-day-context.component.scss
  src/app/components/calendar/calendar-day-context/calendar-day-context.component.spec.ts
  src/app/components/calendar/calendar-day-context/calendar-day-context.component.ts
  src/app/components/calendar/calendar-day-details/calendar-day-details.component.html
  src/app/components/calendar/calendar-day-details/calendar-day-details.component.scss
  src/app/components/calendar/calendar-day-details/calendar-day-details.component.spec.ts
  src/app/components/calendar/calendar-day-details/calendar-day-details.styles.spec.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: remove day sheet workout accent rails
  docs/frontend-ui.md
  src/app/components/calendar/AGENTS.md
  src/app/components/calendar/calendar-day-details/calendar-day-details.component.html
  src/app/components/calendar/calendar-day-details/calendar-day-details.component.scss
  src/app/components/calendar/calendar-day-details/calendar-day-details.component.spec.ts
  src/app/components/calendar/calendar-day-details/calendar-day-details.component.ts
  src/app/components/calendar/calendar-day-details/calendar-day-details.styles.spec.ts
Due: lint-angular

test: stabilize training expiry emulator teardown
  functions/src/training-plans/cleanup-worker.emulator.spec.ts
Due: lint-functions

fix: align day sheet typography with selected-day previews
  docs/frontend-ui.md
  src/app/components/calendar/AGENTS.md
  src/app/components/calendar/_calendar-day-presentation.scss
  src/app/components/calendar/calendar-day-context/calendar-day-context.component.scss
  src/app/components/calendar/calendar-day-context/calendar-day-context.component.spec.ts
  src/app/components/calendar/calendar-day-context/calendar-day-context.component.ts
  src/app/components/calendar/calendar-day-details/calendar-day-details.component.scss
  src/app/components/calendar/calendar-day-details/calendar-day-details.styles.spec.ts
Due: lint-angular

test: require complete Functions emulator coverage in CI
  .github/workflows/_run-tests.yml
  README.md
  docs/ci-testing.md
  firebase.functions-test.json
  package.json
  tools/functions-emulator-suites.mjs
  tools/functions-emulator-suites.test.mjs
  tools/test-functions-emulators.mjs
Due: none

fix: simplify day sheet workout actions
  docs/frontend-ui.md
  docs/training-workspace.md
  src/app/components/calendar/AGENTS.md
  src/app/components/calendar/activity-calendar-tile/activity-calendar-tile.component.spec.ts
  src/app/components/calendar/activity-calendar-tile/activity-calendar-tile.component.ts
  src/app/components/calendar/calendar-day-details/calendar-day-details.component.html
  src/app/components/calendar/calendar-day-details/calendar-day-details.component.scss
  src/app/components/calendar/calendar-day-details/calendar-day-details.component.spec.ts
  src/app/components/calendar/calendar-day-details/calendar-day-details.component.ts
  src/app/components/calendar/calendar-day-details/calendar-day-details.styles.spec.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: ignore Suunto route revision timestamps when deduplicating
  docs/provider-integration-guide.md
  docs/suunto-integration.md
  functions/src/routes/process-route-sync-queue-item.spec.ts
  functions/src/routes/process-route-sync-queue-item.ts
  functions/src/suunto/route-content.spec.ts
  functions/src/suunto/route-content.ts
Due: lint-functions

fix: close emulator CI coverage validation gaps
  docs/ci-testing.md
  tools/functions-emulator-suites.mjs
  tools/functions-emulator-suites.test.mjs
Due: none

fix: compact day sheet training and workout summaries
  docs/frontend-ui.md
  docs/training-workspace.md
  src/app/components/calendar/AGENTS.md
  src/app/components/calendar/calendar-day-details/calendar-day-details.component.html
  src/app/components/calendar/calendar-day-details/calendar-day-details.component.scss
  src/app/components/calendar/calendar-day-details/calendar-day-details.component.spec.ts
  src/app/components/calendar/calendar-day-details/calendar-day-details.component.ts
  src/app/components/calendar/calendar-day-details/calendar-day-details.styles.spec.ts
  src/app/components/training-impact/training-impact.component.scss
  src/app/components/training-impact/training-impact.component.spec.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: restore fork PR tests without duplicate internal runs
  .github/workflows/_run-tests.yml
  .github/workflows/testing.yaml
  README.md
  docs/ci-testing.md
  package-lock.json
  package.json
  tools/testing-workflow.test.mjs
Due: none

fix: preserve compact day sheet impact text
  docs/frontend-ui.md
  docs/training-workspace.md
  src/app/components/calendar/AGENTS.md
  src/app/components/calendar/calendar-day-details/calendar-day-details.component.scss
  src/app/components/calendar/calendar-day-details/calendar-day-details.styles.spec.ts
  src/app/components/training-impact/training-impact.component.scss
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: avoid duplicate CodeQL scans for covered internal PRs
  .github/workflows/codeql-analysis.yml
  docs/ci-testing.md
  tools/testing-workflow.test.mjs
Due: none

feat: add dashboard Calendar visibility control
  docs/activity-calendar.md
  src/app/components/summaries/dashboard-chart-library/dashboard-chart-library-state.service.spec.ts
  src/app/components/summaries/dashboard-chart-library/dashboard-chart-library-state.service.ts
  src/app/components/summaries/dashboard-chart-library/dashboard-tile-configuration.spec.ts
  src/app/components/summaries/dashboard-chart-library/dashboard-tile-configuration.ts
  src/app/components/summaries/summaries.component.html
  src/app/components/summaries/summaries.component.spec.ts
  src/app/components/summaries/summaries.component.ts
  src/app/components/tile/actions/chart/tile.chart.actions.component.spec.ts
  src/app/components/tile/actions/tile-actions-abstract.directive.ts
  src/app/components/tile/actions/tile-actions-menu.html
  src/app/shared/help.content.ts
Due: lint-angular

fix: preserve strength details in training delivery runtime
  docs/provider-integration-guide.md
  docs/training-workspace.md
  functions/src/mcp/training-plans-write.emulator.spec.ts
  functions/src/training-plans/delivery/runtime.spec.ts
  functions/src/training-plans/delivery/runtime.ts
  functions/src/training-plans/delivery/suunto/suunto.emulator.spec.ts
Due: lint-functions

fix: refresh stale Calendar day readiness
  docs/activity-calendar.md
  src/app/helpers/calendar-day-health.helper.spec.ts
  src/app/helpers/calendar-day-health.helper.ts
  src/app/services/calendar-day-health.service.spec.ts
  src/app/services/calendar-day-health.service.ts
  src/app/shared/help.content.ts
Due: lint-angular

feat: add reusable training workout library
  docs/mcp-server.md
  docs/training-workspace.md
  firestore.rules
  functions/src/assistant/runtime.ts
  functions/src/full-entrypoint.ts
  functions/src/function-target-loader.spec.ts
  functions/src/function-target-loader.ts
  functions/src/mcp/server.spec.ts
  functions/src/mcp/server.ts
  functions/src/mcp/tool-output-schemas.spec.ts
  functions/src/mcp/training-plans-write.service.ts
  functions/src/mcp/training-plans.emulator.spec.ts
  functions/src/mcp/training-plans.schemas.ts
  functions/src/mcp/training-plans.service.ts
  functions/src/scripts/check-entrypoint-loading.ts
  functions/src/training-plans/mutate-training-schedule.ts
  functions/src/training-plans/mutation.spec.ts
  functions/src/training-plans/mutation.ts
  functions/src/training-plans/persistence.ts
  functions/src/training-plans/workout-library-callables.spec.ts
  functions/src/training-plans/workout-library-callables.ts
  functions/src/training-plans/workout-library.emulator.spec.ts
  functions/src/training-plans/workout-library.ts
  functions/src/users/cleanup.ts
  shared/functions-manifest.ts
  shared/training-plans.ts
  shared/workout-library.ts
  src/app/app.routes.server.ts
  src/app/app.routing.module.ts
  src/app/components/plans/plans-workspace.component.html
  src/app/components/plans/plans-workspace.component.scss
  src/app/components/plans/plans-workspace.component.spec.ts
  src/app/components/plans/plans-workspace.component.ts
  src/app/helpers/training-plans-navigation.helper.ts
  src/app/helpers/workout-library.shared.spec.ts
  src/app/services/workout-library.service.ts
  src/app/shared/help.content.ts
  src/firestore.rules.spec.ts
Due: lint-functions, lint-angular

chore: record pending workout library MCP metadata
  functions/src/mcp/contracts/pending-change.json
Due: none

fix: avoid repeated duration in Calendar sport totals
  docs/activity-calendar.md
  src/app/components/calendar/activity-calendar-volume-list/activity-calendar-volume-list.component.spec.ts
  src/app/components/calendar/calendar-day-details/calendar-day-details.component.spec.ts
  src/app/components/calendar/calendar-page/calendar-page.component.spec.ts
  src/app/helpers/activity-calendar-volume.helper.spec.ts
  src/app/helpers/activity-calendar-volume.helper.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: remove extra approval for standard Suunto strength Guides
  docs/mcp-server.md
  docs/provider-integration-guide.md
  docs/training-workspace.md
  functions/src/mcp/training-plans-write.emulator.spec.ts
  functions/src/mcp/training-plans-write.service.ts
  functions/src/mcp/training-plans.service.spec.ts
  functions/src/mcp/training-plans.service.ts
  functions/src/training-plans/delivery/commands.ts
  functions/src/training-plans/delivery/contracts.ts
  functions/src/training-plans/delivery/intent.spec.ts
  functions/src/training-plans/delivery/intent.ts
  functions/src/training-plans/delivery/runtime.spec.ts
  functions/src/training-plans/delivery/suunto/mapping.ts
  functions/src/training-plans/delivery/suunto/suunto.emulator.spec.ts
  functions/src/training-plans/providers/provider-mapping.ts
  functions/src/training-plans/providers/suunto-guide.serializer.ts
  functions/src/training-plans/providers/suunto-strength.serializer.spec.ts
  shared/training-provider-delivery.ts
  src/app/components/plans/training-delivery-dialog.component.html
  src/app/components/plans/training-delivery-dialog.component.spec.ts
  src/app/components/plans/training-delivery-dialog.component.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

test: register workout library emulator suite
  tools/functions-emulator-suites.mjs
Due: none

test: fix workflow assertions and Linux output handling
  docs/ci-testing.md
  src/github-actions.config.spec.ts
  tools/testing-workflow.test.mjs
Due: lint-angular

fix: harden workout library lifecycle and deep links
  docs/training-workspace.md
  firebase.json
  firestore.indexes.json
  functions/src/training-plans/workout-library.emulator.spec.ts
  functions/src/training-plans/workout-library.ts
  ngsw-config.json
  plugins/quantified-self/skills/analyze-quantified-self-training/SKILL.md
  src/app/app.routing.module.spec.ts
  src/app/components/plans/plans-workspace.component.html
  src/app/components/plans/plans-workspace.component.spec.ts
  src/app/components/plans/plans-workspace.component.ts
  src/firebase-hosting.config.spec.ts
  src/firestore-indexes.config.spec.ts
Due: lint-functions, lint-angular

fix: use a readable static CodeQL job title
  .github/workflows/codeql-analysis.yml
  docs/ci-testing.md
  tools/testing-workflow.test.mjs
Due: none

feat: add companion-aware Garmin strength delivery
  docs/mcp-server.md
  docs/provider-integration-guide.md
  docs/training-workspace.md
  functions/src/mcp/training-plans-write.emulator.spec.ts
  functions/src/mcp/training-plans.service.spec.ts
  functions/src/mcp/training-plans.service.ts
  functions/src/training-plans/delivery/garmin/transport.spec.ts
  functions/src/training-plans/delivery/garmin/transport.ts
  functions/src/training-plans/delivery/garmin/worker.emulator.spec.ts
  functions/src/training-plans/delivery/mapping.spec.ts
  functions/src/training-plans/delivery/mapping.ts
  functions/src/training-plans/delivery/runtime.spec.ts
  functions/src/training-plans/providers/fixtures/garmin-strength-v1.json
  functions/src/training-plans/providers/garmin-strength.serializer.spec.ts
  functions/src/training-plans/providers/garmin-workout.serializer.ts
  functions/src/training-plans/providers/provider-mapping.spec.ts
  functions/src/training-plans/providers/provider-mapping.ts
  shared/garmin-strength-workout.ts
  shared/planned-workout-providers.ts
  src/app/components/public-seo/training-plans-home.content.ts
  src/app/components/public-seo/training-plans-page.content.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

fix: polish workout library placement on mobile
  docs/training-workspace.md
  src/app/components/plans/plans-workspace.component.html
  src/app/components/plans/plans-workspace.component.scss
  src/app/components/plans/plans-workspace.component.spec.ts
  src/app/components/plans/plans-workspace.component.ts
  src/app/components/shared/compact-row/compact-row.component.scss
Due: lint-angular

feat: add Suunto Guide live metrics and interval alerts
  docs/provider-integration-guide.md
  docs/training-workspace.md
  functions/src/mcp/training-plans.service.spec.ts
  functions/src/training-plans/delivery/contracts.ts
  functions/src/training-plans/delivery/intent.spec.ts
  functions/src/training-plans/delivery/intent.ts
  functions/src/training-plans/delivery/suunto/mapping.ts
  functions/src/training-plans/delivery/suunto/suunto.emulator.spec.ts
  functions/src/training-plans/delivery/suunto/transport.ts
  functions/src/training-plans/providers/fixtures/suunto-running-v1.json
  functions/src/training-plans/providers/fixtures/suunto-running-v2-recovery.json
  functions/src/training-plans/providers/fixtures/suunto-strength-v2-recovery.json
  functions/src/training-plans/providers/provider-mapping.spec.ts
  functions/src/training-plans/providers/suunto-guide.serializer.spec.ts
  functions/src/training-plans/providers/suunto-guide.serializer.ts
  functions/src/training-plans/providers/suunto-strength.serializer.spec.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

fix: validate Garmin strength digests before recovery
  docs/training-workspace.md
  functions/src/training-plans/delivery/garmin/transport.spec.ts
  functions/src/training-plans/delivery/garmin/transport.ts
  functions/src/training-plans/providers/garmin-strength.serializer.spec.ts
Due: lint-functions

fix: retain Suunto upgrade approval across retired attempts
  docs/provider-integration-guide.md
  docs/training-workspace.md
  functions/src/mcp/training-plans.service.spec.ts
  functions/src/training-plans/delivery/contracts.ts
  functions/src/training-plans/delivery/intent.spec.ts
  functions/src/training-plans/delivery/intent.ts
  functions/src/training-plans/delivery/store.ts
  functions/src/training-plans/delivery/suunto/suunto.emulator.spec.ts
  functions/src/training-plans/delivery/worker.ts
Due: lint-functions

feat: deliver full COROS strength prescriptions
  docs/mcp-server.md
  docs/provider-integration-guide.md
  docs/training-workspace.md
  functions/src/mcp/training-plans-write.emulator.spec.ts
  functions/src/mcp/training-plans.service.spec.ts
  functions/src/mcp/training-plans.service.ts
  functions/src/training-plans/delivery/coros/strength.emulator.spec.ts
  functions/src/training-plans/delivery/coros/transport.spec.ts
  functions/src/training-plans/delivery/coros/transport.ts
  functions/src/training-plans/delivery/mapping.spec.ts
  functions/src/training-plans/delivery/mapping.ts
  functions/src/training-plans/delivery/runtime.spec.ts
  functions/src/training-plans/providers/coros-strength.serializer.spec.ts
  functions/src/training-plans/providers/coros-training-plan.serializer.ts
  functions/src/training-plans/providers/provider-mapping.ts
  shared/coros-strength-workout.ts
  shared/planned-workout-providers.ts
  src/app/helpers/strength-workout.shared.spec.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  tools/functions-emulator-suites.mjs
Due: lint-functions, lint-angular

fix: preserve COROS strength in unavailable previews
  docs/mcp-server.md
  docs/training-workspace.md
  functions/src/mcp/training-plans.service.spec.ts
  functions/src/training-plans/delivery/commands.ts
  functions/src/training-plans/delivery/coros/strength.emulator.spec.ts
Due: lint-functions

fix: preserve workout library placement intent
  docs/training-workspace.md
  src/app/components/plans/plans-workspace.component.html
  src/app/components/plans/plans-workspace.component.spec.ts
  src/app/components/plans/plans-workspace.component.ts
Due: lint-angular

fix: retry unavailable subscription role lookups
  functions/src/garmin/queue.spec.ts
  functions/src/queue/user-not-found.spec.ts
  functions/src/utils-usage.spec.ts
  functions/src/utils.ts
Due: lint-functions

chore: label Suunto mapping and recovery diagnostics
  docs/provider-integration-guide.md
  docs/training-workspace.md
  functions/src/mcp/training-plans.service.spec.ts
  functions/src/training-plans/delivery/contracts.ts
  functions/src/training-plans/delivery/diagnostics.spec.ts
  functions/src/training-plans/delivery/diagnostics.ts
  functions/src/training-plans/delivery/runtime.spec.ts
  functions/src/training-plans/delivery/runtime.ts
  functions/src/training-plans/delivery/suunto/mapping.ts
  functions/src/training-plans/delivery/suunto/suunto.emulator.spec.ts
  functions/src/training-plans/delivery/suunto/transport.spec.ts
  functions/src/training-plans/delivery/suunto/transport.ts
  functions/src/training-plans/delivery/worker.ts
Due: lint-functions

Path conditions:
  lint-functions: any of: **/*.{ts,js} and ^functions/
  lint-angular: any of: {src/*.{ts,html},src/**/*.{ts,html}}
