Repository jimmykane/quantified-self: changes, and which lefthook commands are due for each by the changed paths.
All: lint-functions, lint-angular

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint-functions:
      root: "functions"
      glob: "**/*.{ts,js}"
      run: npx eslint {staged_files} --fix && git add {staged_files}
    lint-angular:
      glob: "{src/*.{ts,html},src/**/*.{ts,html}}"
      run: ESLINT_USE_FLAT_CONFIG=false npx eslint {staged_files} --fix && git add {staged_files}

fix: single files should not create a zip archive
  src/app/components/event-actions/event.actions.component.spec.ts
  src/app/components/event-actions/event.actions.component.ts
  src/app/components/event-table/event.table.component.spec.ts
  src/app/components/event-table/event.table.component.ts
Due: lint-angular

chore: convert some rules to skills and fix testing specs
  .agent/rules/test-automation-engineer.md
  .agent/rules/testing-expert.md
  .agent/skills/code-quality/SKILL.md
  .agent/skills/security-review/SKILL.md
  .agent/skills/test-automation/SKILL.md
Due: none

fix: show correct error message
  src/app/components/upload/upload-activities-to-service/upload-activities-to-service.component.spec.ts
  src/app/components/upload/upload-activities-to-service/upload-activities-to-service.component.ts
Due: lint-angular

chore: add docs
  functions/src/shared/app-event.interface.ts
  functions/src/shared/event-writer.ts
  src/app/services/app.event.service.ts
Due: lint-functions, lint-angular

chore: eventwritter improvements for types
  functions/src/shared/app-event.interface.ts
  functions/src/shared/event-writer.spec.ts
  functions/src/shared/event-writer.ts
Due: lint-functions

fix: activity upload issues
  functions/src/suunto/activities.ts
  src/app/components/upload/upload-abstract.directive.ts
  src/app/components/upload/upload-activities-to-service/upload-activities-to-service.component.spec.ts
  src/app/components/upload/upload-activities-to-service/upload-activities-to-service.component.ts
Due: lint-functions, lint-angular

chore: style
  src/app/components/services/services-abstract-component.directive.scss
Due: none

chore: maintenance async
  .agent/rules/rules.md
  src/app/app.component.html
  src/app/app.component.spec.ts
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/components/maintenance/maintenance.component.html
  src/app/components/maintenance/maintenance.component.scss
  src/app/services/app.remote-config.service.spec.ts
  src/app/services/app.remote-config.service.ts
Due: lint-angular

chore: improve event loading performance
  src/app/resolvers/event.resolver.ts
  src/app/services/app.event.service.ts
Due: lint-angular

chore: styles for maintenance
  src/app/components/maintenance/maintenance.component.scss
Due: none

chore: try to imidiatelly change the loading state
  src/app/components/history-import-form/history-import.form.component.ts
Due: lint-angular

refactor: remove service to use official apis
  src/app/services/app.remote-config.service.spec.ts
  src/app/services/app.remote-config.service.ts
Due: lint-angular

fix: history import button states
  src/app/components/history-import-form/history-import.form.component.html
  src/app/components/history-import-form/history-import.form.component.ts
Due: lint-angular

fix: favico
  src/favicon.ico
  src/index.html
Due: lint-angular

chore: rules
  .agent/rules/rules.md
Due: none

chore: maintenance should not be used from firestore
  functions/src/users/admin.spec.ts
  functions/src/users/admin.ts
  src/app/app.component.html
  src/app/app.component.ts
  src/app/components/admin/admin-maintenance/admin-maintenance.component.ts
  src/app/services/app.remote-config.service.spec.ts
  src/app/services/app.remote-config.service.ts
Due: lint-functions, lint-angular

chore: maintenance group
  functions/src/users/admin.spec.ts
  functions/src/users/admin.ts
  src/app/services/app.remote-config.service.spec.ts
  src/app/services/app.remote-config.service.ts
Due: lint-functions, lint-angular

refactor: use users route
  src/app/components/admin/admin-dashboard/admin-dashboard.component.html
  src/app/components/admin/admin-dashboard/admin-dashboard.component.ts
  src/app/components/admin/admin-user-management/admin-user-management.component.html
  src/app/components/admin/admin-user-management/admin-user-management.component.scss
  src/app/components/admin/admin-user-management/admin-user-management.component.ts
  src/app/modules/admin.module.ts
Due: lint-angular

chore: maitenance
  functions/src/users/admin.spec.ts
  functions/src/users/admin.ts
  src/app/app.component.html
  src/app/components/maintenance/maintenance.component.ts
  src/app/services/app.remote-config.service.ts
Due: lint-functions, lint-angular

chore: improve maintenance overlay
  src/app/app.component.html
  src/app/components/maintenance/maintenance.component.ts
Due: lint-angular

chore: improve home
  src/app/components/home/home.component.scss
Due: none

refactor: google maps to new apis
  src/app/app.module.ts
  src/app/components/event/event.card.component.html
  src/app/components/event/event.card.component.spec.ts
  src/app/components/event/event.card.component.ts
  src/app/components/event/map/event.card.map.component.html
  src/app/components/event/map/event.card.map.component.spec.ts
  src/app/components/event/map/event.card.map.component.ts
  src/app/components/event/map/map-actions/map.actions.component.html
  src/app/components/event/map/map-actions/map.actions.component.ts
  src/app/components/events-map/events-map.component.html
  src/app/components/events-map/events-map.component.spec.ts
  src/app/components/events-map/events-map.component.ts
  src/app/components/map/dark-theme-export.json
  src/app/components/map/map-abstract.directive.ts
  src/app/components/summaries/summaries.component.html
  src/app/components/tile/actions/map/tile.map.actions.component.html
  src/app/components/tile/actions/map/tile.map.actions.component.ts
  src/app/components/tile/map/tile.map.component.html
  src/app/components/tile/map/tile.map.component.ts
  src/app/components/upload/upload-activities/upload-activities.component.spec.ts
  src/app/components/user-settings/user-settings.component.html
  src/app/components/user-settings/user-settings.component.ts
  src/app/services/app.theme.service.ts
  src/app/services/app.user.service.ts
  src/app/services/google-maps-loader.service.spec.ts
  src/app/services/google-maps-loader.service.ts
  src/environments/environment.beta.ts
  src/environments/environment.prod.ts
  src/environments/environment.ts
Due: lint-angular

chore: fixes and improvements
  src/app/components/event/map/event.card.map.component.ts
  src/app/components/events-map/events-map.component.ts
  src/app/components/tile/actions/map/tile.map.actions.component.ts
  src/app/services/map/marker-factory.service.spec.ts
  src/app/services/map/marker-factory.service.ts
Due: lint-angular

fix: user settings sync
  src/app/authentication/app.auth.service.ts
  src/app/components/event/event.card.component.html
  src/app/components/event/event.card.component.ts
  src/app/components/event/map/event.card.map.component.html
  src/app/components/event/map/event.card.map.component.ts
Due: lint-angular

fix: more fixes
  src/app/components/event/event.card.component.spec.ts
  src/app/components/event/map/event.card.map.component.html
  src/app/components/event/map/event.card.map.component.ts
  src/app/components/events-map/events-map.component.html
  src/app/components/events-map/events-map.component.spec.ts
  src/app/components/events-map/events-map.component.ts
  src/app/components/tile/actions/map/tile.map.actions.component.ts
  src/app/components/tile/map/tile.map.component.ts
  src/app/components/user-settings/user-settings.component.ts
  src/app/services/app.theme.service.spec.ts
  src/app/services/map/marker-factory.service.spec.ts
Due: lint-angular

chore: disable labels
  src/app/components/event/map/event.card.map.component.ts
  src/app/components/events-map/events-map.component.ts
Due: lint-angular

fix: buttons
  src/app/components/event/map/event.card.map.component.html
  src/app/components/event/map/event.card.map.component.ts
  src/app/components/events-map/events-map.component.html
  src/app/components/events-map/events-map.component.ts
Due: lint-angular

chore: map fixes
  src/app/components/events-map/events-map.component.ts
Due: lint-angular

chore: navbar fixes
  src/app/app.component.html
  src/app/app.component.scss
  src/app/app.component.ts
Due: lint-angular

chore: gestures
  src/app/components/event/map/event.card.map.component.ts
Due: lint-angular

fix: tests
  src/app/app.component.spec.ts
Due: lint-angular

chore: fix svg
  src/app/components/event/map/event.card.map.component.spec.ts
  src/app/services/map/marker-factory.service.ts
Due: lint-angular

chore: improve injection for appcheck
  src/app/app.module.ts
  src/app/services/google-maps-loader.service.ts
Due: lint-angular

chore: fix for remote config
  src/app/services/app.remote-config.service.ts
Due: lint-angular

chore: fix for injection
  src/app/services/app.analytics.service.ts
Due: lint-angular

chore: test fixes
  src/app/components/admin/admin-dashboard/admin-dashboard.component.spec.ts
  src/app/components/admin/admin-user-management/admin-user-management.component.spec.ts
  src/app/components/event/map/event.card.map.component.spec.ts
  src/app/components/event/map/event.card.map.component.ts
Due: lint-angular

chore: add workflows
  .agent/workflows/functions-logs.md
  .agent/workflows/lint-fix.md
  .agent/workflows/run-tests.md
  .agent/workflows/serve-local.md
  .agent/workflows/start-emulators.md
Due: none

fix: tests
  src/app/services/app.remote-config.service.spec.ts
Due: lint-angular

fix: tests
  src/app/services/app.analytics.service.spec.ts
  src/app/services/google-maps-loader.service.spec.ts
Due: lint-angular

chore: bump sl
  functions/package-lock.json
  functions/package.json
  package-lock.json
  package.json
Due: none
