Repository jimmykane/quantified-self: changes, and which lefthook commands are due for each by the changed paths.
All: lint-functions, lint-angular

lint-functions:
  run: npx eslint {staged_files} --fix && git add {staged_files}

lint-angular:
  run: ESLINT_USE_FLAT_CONFIG=false npx eslint {staged_files} --fix && git add {staged_files}

fix: default provider history to 30 days
  docs/coros-integration.md
  docs/garmin-integration.md
  docs/provider-integration-guide.md
  docs/suunto-integration.md
  docs/wahoo-integration.md
  shared/history-import.constants.ts
  src/app/components/history-import-form/history-import.form.component.html
  src/app/components/history-import-form/history-import.form.component.spec.ts
  src/app/components/history-import-form/history-import.form.component.ts
  src/app/components/integrations/integration-pages.content.spec.ts
  src/app/components/integrations/integration-pages.content.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: bound App Check readiness requests
  src/app/components/mcp-authorization/mcp-authorization.component.spec.ts
  src/app/components/mcp-connections/mcp-connections.component.spec.ts
  src/app/services/app-check-readiness.service.spec.ts
  src/app/services/app-check-readiness.service.ts
Due: lint-angular

chore: add temporary MCP training diagnostics
  functions/src/mcp/server.ts
  functions/src/mcp/temporary-training-diagnostics.spec.ts
  functions/src/mcp/temporary-training-diagnostics.ts
Due: lint-functions

chore: remove temporary MCP training diagnostics
  functions/src/mcp/server.ts
  functions/src/mcp/temporary-training-diagnostics.spec.ts
  functions/src/mcp/temporary-training-diagnostics.ts
Due: lint-functions

fix: use provider-aware history defaults
  docs/coros-integration.md
  docs/garmin-integration.md
  docs/provider-integration-guide.md
  docs/suunto-integration.md
  docs/wahoo-integration.md
  shared/history-import.constants.ts
  src/app/components/history-import-form/history-import.form.component.html
  src/app/components/history-import-form/history-import.form.component.spec.ts
  src/app/components/history-import-form/history-import.form.component.ts
  src/app/components/integrations/integration-pages.content.spec.ts
  src/app/components/integrations/integration-pages.content.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: prevent MCP workout preview retry loops
  docs/mcp-server.md
  docs/training-workspace.md
  functions/src/assistant/mcp-session.spec.ts
  functions/src/assistant/mcp-session.ts
  functions/src/assistant/runtime.ts
  functions/src/mcp/contracts/pending-change.json
  functions/src/mcp/data.service.ts
  functions/src/mcp/register-tool.ts
  functions/src/mcp/server.spec.ts
  functions/src/mcp/server.ts
  functions/src/mcp/tool-output-schemas.spec.ts
  functions/src/mcp/training-plans-write.emulator.spec.ts
  functions/src/mcp/training-plans-write.service.ts
  functions/src/mcp/training-plans.schemas.spec.ts
  functions/src/mcp/training-plans.schemas.ts
  plugins/quantified-self/skills/analyze-quantified-self-training/SKILL.md
Due: lint-functions

fix: clarify readiness HRV freshness
  docs/training-workspace.md
  src/app/components/summaries/summaries.component.spec.ts
  src/app/components/summaries/summaries.component.ts
  src/app/helpers/readiness-hrv-display.helper.ts
  src/app/helpers/training-readiness.helper.spec.ts
  src/app/helpers/training-readiness.helper.ts
  src/app/shared/help.content.ts
  src/app/shared/readiness-personal-range.shared.spec.ts
Due: lint-angular

chore: restore temporary MCP training diagnostics
  functions/src/mcp/server.ts
  functions/src/mcp/temporary-training-diagnostics.spec.ts
  functions/src/mcp/temporary-training-diagnostics.ts
Due: lint-functions

fix: stop MCP training preview loops
  docs/assistant.md
  docs/mcp-server.md
  docs/training-workspace.md
  functions/src/assistant/runtime.ts
  functions/src/mcp/contracts/pending-change.json
  functions/src/mcp/http-protocol.spec.ts
  functions/src/mcp/server.spec.ts
  functions/src/mcp/server.ts
  functions/src/mcp/temporary-training-diagnostics.spec.ts
  functions/src/mcp/temporary-training-diagnostics.ts
  functions/src/mcp/tool-output-schemas.spec.ts
  functions/src/mcp/training-plans-write.emulator.spec.ts
  functions/src/mcp/training-plans-write.service.ts
  functions/src/mcp/training-plans.schemas.spec.ts
  functions/src/mcp/training-plans.schemas.ts
  functions/src/mcp/training-preview-loop-guard.spec.ts
  functions/src/mcp/training-preview-loop-guard.ts
  plugins/quantified-self/skills/analyze-quantified-self-training/SKILL.md
Due: lint-functions

fix: add MCP training confirmation fallback
  .agent/skills/mcp-metric-surface/SKILL.md
  docs/mcp-server.md
  docs/provider-integration-guide.md
  docs/training-workspace.md
  firebase.json
  functions/src/assistant/callable.spec.ts
  functions/src/assistant/conversation-store.spec.ts
  functions/src/full-entrypoint.ts
  functions/src/mcp/callables.ts
  functions/src/mcp/contracts/pending-change.json
  functions/src/mcp/data.service.ts
  functions/src/mcp/server.spec.ts
  functions/src/mcp/server.ts
  functions/src/mcp/tool-output-schemas.spec.ts
  functions/src/mcp/training-plans-write.emulator.spec.ts
  functions/src/mcp/training-plans-write.service.ts
  functions/src/mcp/training-plans.schemas.spec.ts
  functions/src/mcp/training-plans.schemas.ts
  plugins/quantified-self/skills/analyze-quantified-self-training/SKILL.md
  shared/functions-manifest.ts
  src/app/app.routes.server.spec.ts
  src/app/app.routes.server.ts
  src/app/app.routing.module.spec.ts
  src/app/app.routing.module.ts
  src/app/components/assistant/assistant-page.component.spec.ts
  src/app/components/mcp-authorization/mcp-authorization.component.html
  src/app/components/mcp-training-confirmation/mcp-training-confirmation.component.html
  src/app/components/mcp-training-confirmation/mcp-training-confirmation.component.scss
  src/app/components/mcp-training-confirmation/mcp-training-confirmation.component.spec.ts
  src/app/components/mcp-training-confirmation/mcp-training-confirmation.component.ts
  src/app/services/firebase-analytics-tracking.service.spec.ts
  src/app/services/firebase-analytics-tracking.service.ts
  src/app/shared/help.content.ts
  src/firebase-hosting.config.spec.ts
Due: lint-functions, lint-angular

revert: remove MCP training confirmation fallback
  .agent/skills/mcp-metric-surface/SKILL.md
  docs/mcp-server.md
  docs/provider-integration-guide.md
  docs/training-workspace.md
  firebase.json
  functions/src/assistant/callable.spec.ts
  functions/src/assistant/conversation-store.spec.ts
  functions/src/full-entrypoint.ts
  functions/src/mcp/callables.ts
  functions/src/mcp/contracts/pending-change.json
  functions/src/mcp/data.service.ts
  functions/src/mcp/server.spec.ts
  functions/src/mcp/server.ts
  functions/src/mcp/tool-output-schemas.spec.ts
  functions/src/mcp/training-plans-write.emulator.spec.ts
  functions/src/mcp/training-plans-write.service.ts
  functions/src/mcp/training-plans.schemas.spec.ts
  functions/src/mcp/training-plans.schemas.ts
  plugins/quantified-self/skills/analyze-quantified-self-training/SKILL.md
  shared/functions-manifest.ts
  src/app/app.routes.server.spec.ts
  src/app/app.routes.server.ts
  src/app/app.routing.module.spec.ts
  src/app/app.routing.module.ts
  src/app/components/assistant/assistant-page.component.spec.ts
  src/app/components/mcp-authorization/mcp-authorization.component.html
  src/app/components/mcp-training-confirmation/mcp-training-confirmation.component.html
  src/app/components/mcp-training-confirmation/mcp-training-confirmation.component.scss
  src/app/components/mcp-training-confirmation/mcp-training-confirmation.component.spec.ts
  src/app/components/mcp-training-confirmation/mcp-training-confirmation.component.ts
  src/app/services/firebase-analytics-tracking.service.spec.ts
  src/app/services/firebase-analytics-tracking.service.ts
  src/app/shared/help.content.ts
  src/firebase-hosting.config.spec.ts
Due: lint-functions, lint-angular

chore: add temporary MCP confirmation diagnostics
  functions/src/mcp/http-protocol.spec.ts
  functions/src/mcp/server.spec.ts
  functions/src/mcp/server.ts
Due: lint-functions

fix: use native MCP approval for Training changes
  .agent/skills/mcp-metric-surface/SKILL.md
  docs/mcp-server.md
  docs/provider-integration-guide.md
  docs/training-workspace.md
  functions/src/mcp/contracts/pending-change.json
  functions/src/mcp/data.service.ts
  functions/src/mcp/http-protocol.spec.ts
  functions/src/mcp/server.spec.ts
  functions/src/mcp/server.ts
  functions/src/mcp/tool-output-schemas.spec.ts
  functions/src/mcp/training-plans-write.service.ts
  functions/src/mcp/transport.ts
  plugins/quantified-self/plugin.template.json
  plugins/quantified-self/skills/analyze-quantified-self-training/SKILL.md
  plugins/quantified-self/skills/analyze-quantified-self-training/agents/openai.yaml
  src/app/components/mcp-authorization/mcp-authorization.component.html
  src/app/components/mcp-connections/mcp-connections.component.html
  src/app/components/mcp-connections/mcp-connections.component.ts
  src/app/components/public-seo/public-seo-page.component.spec.ts
  src/app/components/public-seo/public-seo-pages.content.ts
  src/app/helpers/mcp-permissions.helper.ts
  src/app/shared/help.content.ts
  src/app/shared/policies.content.ts
Due: lint-functions, lint-angular

fix: harden MCP approval metadata
  .agent/skills/mcp-metric-surface/SKILL.md
  docs/mcp-server.md
  docs/training-workspace.md
  functions/src/mcp/contracts/pending-change.json
  functions/src/mcp/server.spec.ts
  functions/src/mcp/server.ts
  functions/src/mcp/tool-output-schemas.spec.ts
  plugins/quantified-self/skills/analyze-quantified-self-activity/SKILL.md
  plugins/quantified-self/skills/analyze-quantified-self/SKILL.md
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

fix: stop MCP workout creation retry loops
  docs/garmin-integration.md
  docs/mcp-server.md
  docs/provider-integration-guide.md
  docs/training-workspace.md
  functions/src/mcp/http-protocol.spec.ts
  functions/src/mcp/server.ts
  functions/src/mcp/training-preview-loop-guard.spec.ts
  functions/src/mcp/training-preview-loop-guard.ts
  functions/src/test-setup.ts
  functions/src/training-plans/delivery/mapping.spec.ts
  functions/src/training-plans/providers/provider-mapping.spec.ts
  plugins/quantified-self/skills/analyze-quantified-self-training/SKILL.md
  shared/planned-workout-providers.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

fix: complete invalid MCP previews without retries
  docs/mcp-server.md
  docs/training-workspace.md
  functions/src/mcp/http-protocol.spec.ts
  functions/src/mcp/server.ts
  functions/src/mcp/training-preview-loop-guard.spec.ts
  functions/src/mcp/training-preview-loop-guard.ts
  functions/src/mcp/validation-issues.ts
Due: lint-functions

fix: align recovery summaries
  docs/training-workspace.md
  src/app/components/charts/pie/charts.pie.component.spec.ts
  src/app/components/charts/pie/charts.pie.component.ts
  src/app/components/summaries/summaries.component.html
  src/app/components/summaries/summaries.component.spec.ts
  src/app/components/summaries/summaries.component.ts
  src/app/components/training/training-workspace.component.html
  src/app/components/training/training-workspace.component.spec.ts
  src/app/components/training/training-workspace.component.ts
  src/app/helpers/dashboard-echarts-style.helper.spec.ts
  src/app/helpers/dashboard-echarts-style.helper.ts
  src/app/helpers/dashboard-recovery-now.helper.spec.ts
  src/app/helpers/dashboard-recovery-now.helper.ts
  src/app/helpers/training-recovery-estimate.helper.spec.ts
  src/app/helpers/training-recovery-estimate.helper.ts
  src/app/shared/help.content.ts
Due: lint-angular

test: align recovery help expectations
  src/app/shared/help.content.spec.ts
Due: lint-angular

feat: harden MCP training change application
  docs/mcp-server.md
  docs/training-workspace.md
  functions/src/mcp/contracts/pending-change.json
  functions/src/mcp/server.spec.ts
  functions/src/mcp/server.ts
  functions/src/mcp/training-plans-write.diagnostics.spec.ts
  functions/src/mcp/training-plans-write.emulator.spec.ts
  functions/src/mcp/training-plans-write.service.ts
  functions/src/mcp/training-plans.schemas.spec.ts
  functions/src/mcp/training-plans.schemas.ts
  functions/src/training-plans/delete-training-plan.persistence.spec.ts
  functions/src/training-plans/delete-training-plan.ts
  functions/src/training-plans/persistence.spec.ts
  functions/src/training-plans/persistence.ts
  plugins/quantified-self/skills/analyze-quantified-self-training/SKILL.md
  src/app/components/assistant/assistant-explore-bottom-sheet.component.html
  src/app/components/assistant/assistant-explore-bottom-sheet.component.spec.ts
  src/app/helpers/mcp-permissions.helper.ts
  src/app/shared/help.content.ts
  src/app/shared/policies.content.ts
Due: lint-functions, lint-angular

fix: keep interrupted MCP plan deletion resumable
  docs/mcp-server.md
  docs/training-workspace.md
  functions/src/mcp/training-plans-write.diagnostics.spec.ts
  functions/src/mcp/training-plans-write.emulator.spec.ts
  functions/src/mcp/training-plans-write.service.ts
  functions/src/training-plans/delete-training-plan.persistence.spec.ts
  functions/src/training-plans/delete-training-plan.ts
  src/app/components/public-seo/public-seo-pages.content.spec.ts
  src/app/components/public-seo/public-seo-pages.content.ts
  src/sitemap.xml
Due: lint-functions, lint-angular

fix: remove training planning UID rollout gates
  docs/assistant.md
  docs/mcp-server.md
  docs/provider-integration-guide.md
  docs/training-workspace.md
  functions/src/mcp/training-plans.service.spec.ts
  shared/training-planning-rollout.ts
  src/app/app.routing.module.spec.ts
  src/app/app.routing.module.ts
  src/app/authentication/training-planning.guard.spec.ts
  src/app/authentication/training-planning.guard.ts
  src/app/components/calendar/activity-calendar-tile/activity-calendar-tile.component.spec.ts
  src/app/components/calendar/activity-calendar-tile/activity-calendar-tile.component.ts
  src/app/components/calendar/calendar-day-details/calendar-day-details.component.spec.ts
  src/app/components/calendar/calendar-day-details/calendar-day-details.component.ts
  src/app/components/calendar/calendar-page/calendar-page.component.spec.ts
  src/app/components/calendar/calendar-page/calendar-page.component.ts
  src/app/components/delete-account-dialog/delete-account-dialog.component.spec.ts
  src/app/components/delete-account-dialog/delete-account-dialog.component.ts
  src/app/components/help/help-page.component.spec.ts
  src/app/components/plans/plans-workspace.component.spec.ts
  src/app/components/plans/plans-workspace.component.ts
  src/app/components/services/service-connection-status/service-connection-status.component.spec.ts
  src/app/components/services/service-connection-status/service-connection-status.component.ts
  src/app/components/sidenav/sidenav.component.spec.ts
  src/app/components/sidenav/sidenav.component.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

refactor: remove obsolete planning rollout help gate
  docs/frontend-ui.md
  docs/provider-integration-guide.md
  docs/training-workspace.md
  src/app/components/help/help-page.component.spec.ts
  src/app/components/help/help-page.component.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

test: align sitemap modification dates
  src/firebase-hosting.config.spec.ts
Due: lint-angular

fix: isolate public training plans preview
  src/app/components/plans/plan-schedule-calendar.component.html
  src/app/components/plans/plan-schedule-calendar.component.spec.ts
  src/app/components/plans/plan-schedule-calendar.component.ts
  tools/verify-public-initial-output.mjs
Due: lint-angular

refactor: centralize training plans public content
  docs/training-workspace.md
  src/app/components/home/home.component.html
  src/app/components/home/home.component.spec.ts
  src/app/components/home/home.component.ts
  src/app/components/public-seo/public-seo-pages.content.spec.ts
  src/app/components/public-seo/public-seo-pages.content.ts
  src/app/components/public-seo/training-plans-feature.content.ts
  src/app/components/public-seo/training-plans-page.content.ts
  tools/verify-public-initial-output.mjs
Due: lint-angular

fix: keep training plans SEO copy route-only
  docs/training-workspace.md
  src/app/components/home/home.component.spec.ts
  src/app/components/home/home.component.ts
  src/app/components/public-seo/public-seo-pages.content.spec.ts
  src/app/components/public-seo/public-seo-pages.content.ts
  src/app/components/public-seo/training-plans-home.content.ts
  src/app/components/public-seo/training-plans-page.content.ts
Due: lint-angular

fix: gate new COROS workout setup in app
  docs/coros-integration.md
  docs/mcp-server.md
  docs/provider-integration-guide.md
  docs/training-workspace.md
  src/app/components/plans/plans-workspace.component.spec.ts
  src/app/components/plans/training-delivery-button.component.spec.ts
  src/app/components/plans/training-delivery-button.component.ts
  src/app/components/plans/training-delivery-dialog.component.html
  src/app/components/plans/training-delivery-dialog.component.spec.ts
  src/app/components/plans/training-delivery-dialog.component.ts
  src/app/services/training-delivery.service.spec.ts
  src/app/services/training-delivery.service.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/app/shared/policies.content.spec.ts
  src/app/shared/policies.content.ts
Due: lint-angular

fix: limit COROS gate to plan sync
  docs/coros-integration.md
  docs/mcp-server.md
  docs/provider-integration-guide.md
  docs/training-workspace.md
  src/app/components/plans/training-delivery-button.component.ts
  src/app/components/plans/training-delivery-dialog.component.html
  src/app/components/plans/training-delivery-dialog.component.spec.ts
  src/app/components/plans/training-delivery-dialog.component.ts
  src/app/services/training-delivery.service.spec.ts
  src/app/services/training-delivery.service.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/app/shared/policies.content.spec.ts
  src/app/shared/policies.content.ts
Due: lint-angular

feat: extend MCP training read tools
  .agent/skills/mcp-metric-surface/SKILL.md
  docs/mcp-server.md
  docs/training-workspace.md
  functions/src/assistant/evidence.spec.ts
  functions/src/assistant/evidence.ts
  functions/src/assistant/runtime.ts
  functions/src/mcp/contracts/pending-change.json
  functions/src/mcp/server.spec.ts
  functions/src/mcp/server.ts
  functions/src/mcp/tool-output-schemas.spec.ts
  functions/src/mcp/training-plans.emulator.spec.ts
  functions/src/mcp/training-plans.schemas.ts
  functions/src/mcp/training-plans.service.spec.ts
  functions/src/mcp/training-plans.service.ts
  plugins/quantified-self/skills/analyze-quantified-self-activity/SKILL.md
  plugins/quantified-self/skills/analyze-quantified-self-training/SKILL.md
  plugins/quantified-self/skills/analyze-quantified-self/SKILL.md
Due: lint-functions

fix: harden automatic locale formatting
  src/app/components/admin/admin-dashboard/admin-user-history.component.ts
  src/app/components/admin/admin-queue-stats/admin-queue-stats.component.spec.ts
  src/app/components/admin/admin-queue-stats/admin-queue-stats.component.ts
  src/app/components/event/jumps/event.card.jumps.component.spec.ts
  src/app/components/event/jumps/event.card.jumps.component.ts
  src/app/components/events-export-form/events-export.form.component.spec.ts
  src/app/components/events-export-form/events-export.form.component.ts
  src/app/helpers/admin-history-percentage.helper.ts
  src/app/helpers/admin-user-kpis.helper.spec.ts
  src/app/helpers/admin-user-kpis.helper.ts
  src/app/helpers/dashboard-chart-data.helper.ts
  src/app/helpers/dashboard-kpi-explanation.helper.ts
  src/app/helpers/date-time-format.helper.spec.ts
  src/app/helpers/date-time-format.helper.ts
  src/app/helpers/event-echarts-xaxis.helper.ts
  src/app/helpers/number-format.helper.ts
  src/app/shared/adapters/app-locale.ts
  src/app/shared/adapters/date-locale.config.spec.ts
  src/app/shared/adapters/date-locale.config.ts
  src/app/shared/adapters/dayjs-date-adapter.spec.ts
  src/app/shared/adapters/dayjs-date-adapter.ts
  src/app/shared/help.content.ts
Due: lint-angular

feat: mark training plans as beta
  docs/training-workspace.md
  src/app/components/sidenav/sidenav.component.html
  src/app/components/sidenav/sidenav.component.scss
  src/app/components/sidenav/sidenav.component.spec.ts
Due: lint-angular

feat: add regional formatting preference
  .agent/rules/date-formatting.md
  docs/training-workspace.md
  src/app/app-shell.component.spec.ts
  src/app/app-shell.component.ts
  src/app/app.module.ts
  src/app/components/user-settings/user-settings.component.html
  src/app/components/user-settings/user-settings.component.scss
  src/app/components/user-settings/user-settings.component.spec.ts
  src/app/components/user-settings/user-settings.component.ts
  src/app/helpers/dashboard-chart-data.helper.ts
  src/app/helpers/dashboard-kpi-explanation.helper.ts
  src/app/helpers/date-time-format.helper.ts
  src/app/helpers/event-echarts-xaxis.helper.ts
  src/app/helpers/number-format.helper.ts
  src/app/models/app-user.interface.ts
  src/app/services/app.locale.service.spec.ts
  src/app/services/app.locale.service.ts
  src/app/shared/adapters/app-locale.spec.ts
  src/app/shared/adapters/app-locale.ts
  src/app/shared/adapters/date-locale.config.spec.ts
  src/app/shared/adapters/date-locale.config.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: harden regional formatting boundaries
  src/app/services/app.locale.service.spec.ts
  src/app/services/app.locale.service.ts
  src/app/shared/adapters/app-locale.spec.ts
  src/app/shared/adapters/app-locale.ts
  src/app/shared/adapters/dayjs-date-adapter.spec.ts
  src/app/shared/adapters/dayjs-date-adapter.ts
Due: lint-angular

refactor: consolidate Suunto health validation
  docs/suunto-integration.md
  functions/src/suunto/health-sync.spec.ts
  functions/src/suunto/health-sync.ts
  functions/src/suunto/health-webhook-binding-lifecycle.spec.ts
  functions/src/suunto/health-webhook-binding-lifecycle.ts
Due: lint-functions

fix: clarify training plans discovery
  docs/training-workspace.md
  src/app/components/home/home.component.spec.ts
  src/app/components/public-seo/public-seo-page.component.spec.ts
  src/app/components/public-seo/public-seo-pages.content.spec.ts
  src/app/components/public-seo/public-seo-pages.content.ts
  src/app/components/public-seo/training-plans-home.content.ts
  src/app/components/public-seo/training-plans-page.content.ts
  src/app/components/public-seo/training-plans-preview.component.html
  src/app/components/public-seo/training-plans-preview.component.scss
  src/app/components/public-seo/training-plans-preview.component.spec.ts
  src/app/services/seo.service.spec.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/app/shared/home-seo.ts
  tools/verify-public-initial-output.mjs
Due: lint-angular

fix: remove redundant Suunto lifecycle read
  functions/src/suunto/health-sync.spec.ts
  functions/src/suunto/health-sync.ts
Due: lint-functions

Path conditions:
  lint-functions: any of: **/*.{ts,js} and ^functions/
  lint-angular: any of: {src/*.{ts,html},src/**/*.{ts,html}}
