Repository jimmykane/quantified-self: changes, and which lefthook commands are due for each by the changed paths.
All: lint-functions, lint-angular

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint-functions:
      root: "functions"
      glob: "**/*.{ts,js}"
      run: npx eslint {staged_files} --fix && git add {staged_files}
    lint-angular:
      glob: "{src/*.{ts,html},src/**/*.{ts,html}}"
      run: ESLINT_USE_FLAT_CONFIG=false npx eslint {staged_files} --fix && git add {staged_files}

fix: prevent COROS poll scan starvation
  docs/coros-integration.md
  docs/provider-integration-guide.md
  functions/src/activity-sync/dispatcher.spec.ts
  functions/src/activity-sync/dispatcher.ts
Due: lint-functions

fix: harden unified health foundation
  docs/unified-health-data.md
  firestore.indexes.json
  firestore.rules
  functions/src/firestore-indexes.spec.ts
  functions/src/health/query.spec.ts
  functions/src/health/query.ts
  functions/src/health/validation.spec.ts
  functions/src/health/validation.ts
  functions/src/health/writer.spec.ts
  functions/src/health/writer.ts
  shared/health-query.ts
  shared/health.ts
  src/app/services/app.health.service.spec.ts
  src/app/shared/health.shared.spec.ts
  src/firestore.rules.spec.ts
Due: lint-functions, lint-angular

refactor: clarify health source record naming
  README.md
  docs/provider-integration-guide.md
  docs/sleep-sync-operations.md
  docs/unified-health-data.md
  docs/user-deletion-workflow.html
  firestore.indexes.json
  firestore.rules
  functions/src/firestore-indexes.spec.ts
  functions/src/health/lifecycle.spec.ts
  functions/src/health/query.spec.ts
  functions/src/health/query.ts
  functions/src/health/validation.spec.ts
  functions/src/health/validation.ts
  functions/src/health/writer.spec.ts
  functions/src/health/writer.ts
  shared/health-firestore-query.ts
  shared/health-query.ts
  shared/health.ts
  src/app/services/app.health.service.spec.ts
  src/app/services/app.health.service.ts
  src/app/shared/health.shared.spec.ts
  src/firestore.rules.spec.ts
Due: lint-functions, lint-angular

fix: harden health lifecycle and discovery
  docs/unified-health-data.md
  docs/user-deletion-workflow.html
  functions/src/user/user.spec.ts
  functions/src/user/user.ts
  shared/health-query.ts
  src/app/shared/health.shared.spec.ts
Due: lint-functions, lint-angular

fix: harden health write boundaries
  docs/provider-integration-guide.md
  docs/unified-health-data.md
  functions/src/health/validation.spec.ts
  functions/src/health/validation.ts
  functions/src/health/writer.spec.ts
  functions/src/health/writer.ts
  shared/health.ts
Due: lint-functions

fix: lock calendar day sheet mobile layout
  src/app/components/calendar/calendar-day-details/calendar-day-details.component.html
  src/app/components/calendar/calendar-day-details/calendar-day-details.component.scss
  src/app/components/calendar/calendar-day-details/calendar-day-details.component.spec.ts
  src/app/components/calendar/calendar-day-details/calendar-day-details.component.ts
Due: lint-angular

feat: add admin authentication activity metrics
  functions/src/admin/auth-activity.handlers.spec.ts
  functions/src/admin/handlers/users.handlers.ts
  functions/src/admin/shared/types.ts
  src/app/components/admin/admin-dashboard/admin-dashboard.component.html
  src/app/components/admin/admin-dashboard/admin-dashboard.component.spec.ts
  src/app/helpers/admin-dashboard-summary.helper.spec.ts
  src/app/helpers/admin-dashboard-summary.helper.ts
  src/app/services/admin.service.spec.ts
  src/app/services/admin.service.ts
Due: lint-functions, lint-angular

fix: reject malformed admin activity metrics
  functions/src/admin/auth-activity.handlers.spec.ts
  src/app/components/admin/admin-dashboard/admin-dashboard.component.html
  src/app/components/admin/admin-dashboard/admin-dashboard.component.spec.ts
  src/app/helpers/admin-dashboard-summary.helper.spec.ts
  src/app/helpers/admin-dashboard-summary.helper.ts
  src/app/services/admin.service.spec.ts
  src/app/services/admin.service.ts
Due: lint-functions, lint-angular

fix: handle deleted account upload conflicts
  functions/src/events/upload-activity.spec.ts
  functions/src/events/upload-activity.ts
  src/app/components/upload/upload-activities/upload-activities.component.spec.ts
  src/app/components/upload/upload-activities/upload-activities.component.ts
  src/app/services/app.fit-upload.service.spec.ts
Due: lint-functions, lint-angular

fix: harden health sync lifecycle guards
  functions/src/sleep/queue.spec.ts
  functions/src/sleep/queue.ts
  functions/src/suunto/health-sync.spec.ts
  functions/src/suunto/health-sync.ts
  functions/src/tokens.spec.ts
  functions/src/tokens.ts
Due: lint-functions

fix: address Suunto health review findings
  docs/suunto-integration.md
  functions/src/index.ts
  functions/src/suunto/health-availability.spec.ts
  functions/src/suunto/health-availability.ts
  functions/src/suunto/health-sync.spec.ts
  functions/src/suunto/health-sync.ts
  functions/src/token-refresh-coordinator.spec.ts
  functions/src/token-refresh-coordinator.ts
  functions/src/tokens.spec.ts
  functions/src/tokens.ts
  shared/functions-manifest.ts
  shared/sleep-backfill.ts
  src/app/components/history-import-form/history-import.form.component.spec.ts
  src/app/components/history-import-form/history-import.form.component.ts
  src/app/services/app.user.service.spec.ts
  src/app/services/app.user.service.ts
Due: lint-functions, lint-angular

fix: use solid dive profile fill
  src/app/components/event/dive-profile/event.dive-profile.component.html
  src/app/components/event/dive-profile/event.dive-profile.component.spec.ts
  src/app/components/event/dive-profile/event.dive-profile.component.ts
Due: lint-angular

fix: restore dive profile fill opacity
  src/app/components/event/dive-profile/event.dive-profile.component.html
  src/app/components/event/dive-profile/event.dive-profile.component.spec.ts
  src/app/components/event/dive-profile/event.dive-profile.component.ts
Due: lint-angular

fix: orient dive profile fill toward surface
  src/app/components/event/chart/panel/event.card.chart.panel.component.spec.ts
  src/app/components/event/chart/panel/event.card.chart.panel.component.ts
  src/app/components/event/dive-profile/event.dive-profile.component.html
  src/app/components/event/dive-profile/event.dive-profile.component.spec.ts
  src/app/components/event/dive-profile/event.dive-profile.component.ts
Due: lint-angular

feat: add subscription cadence by tier
  functions/src/admin/handlers/users.handlers.ts
  functions/src/admin/shared/types.ts
  functions/src/admin/subscription-cadence.handlers.spec.ts
  src/app/components/admin/admin-dashboard/admin-dashboard.component.html
  src/app/components/admin/admin-dashboard/admin-dashboard.component.spec.ts
  src/app/helpers/admin-dashboard-summary.helper.spec.ts
  src/app/helpers/admin-dashboard-summary.helper.ts
  src/app/services/admin.service.spec.ts
  src/app/services/admin.service.ts
Due: lint-functions, lint-angular

fix: use sea colors for dive profile fill
  src/app/components/event/chart/panel/event.card.chart.panel.component.spec.ts
  src/app/components/event/chart/panel/event.card.chart.panel.component.ts
  src/app/components/event/dive-profile/event.dive-profile.component.html
  src/app/components/event/dive-profile/event.dive-profile.component.spec.ts
  src/app/components/event/dive-profile/event.dive-profile.component.ts
Due: lint-angular

fix: acknowledge Suunto health webhooks promptly
  docs/provider-integration-guide.md
  docs/suunto-integration.md
  docs/unified-health-data.md
  firestore.indexes.json
  firestore.rules
  functions/src/firestore-indexes.spec.ts
  functions/src/index.ts
  functions/src/service-operational-cleanup.spec.ts
  functions/src/service-operational-cleanup.ts
  functions/src/sleep/constants.ts
  functions/src/sleep/webhooks.spec.ts
  functions/src/sleep/webhooks.ts
  functions/src/suunto/health-webhook-ingress.spec.ts
  functions/src/suunto/health-webhook-ingress.ts
  functions/src/users/cleanup.spec.ts
  functions/src/users/cleanup.ts
  src/firestore.rules.spec.ts
Due: lint-functions, lint-angular

fix: accept empty COROS daily responses
  docs/coros-integration.md
  docs/provider-integration-guide.md
  docs/sleep-sync-operations.md
  functions/src/coros/account.spec.ts
  functions/src/sleep/queue.spec.ts
  functions/src/sleep/queue.ts
Due: lint-functions

fix: finalize backfilled COROS health migration
  docs/sleep-sync-operations.md
  functions/src/scripts/migrate-coros-sleep-to-health.spec.ts
  functions/src/scripts/migrate-coros-sleep-to-health.ts
Due: lint-functions

fix: harden Suunto health webhook ingress
  docs/provider-integration-guide.md
  docs/sleep-sync-operations.md
  docs/suunto-integration.md
  docs/unified-health-data.md
  firestore.rules
  functions/src/OAuth2.spec.ts
  functions/src/OAuth2.ts
  functions/src/queue/queue-item.interface.ts
  functions/src/service-auth-lifecycle.spec.ts
  functions/src/service-auth-lifecycle.ts
  functions/src/service-token-store.ts
  functions/src/sleep/polling.spec.ts
  functions/src/sleep/polling.ts
  functions/src/sleep/queue.spec.ts
  functions/src/sleep/queue.ts
  functions/src/sleep/webhooks.spec.ts
  functions/src/sleep/webhooks.ts
  functions/src/suunto/health-webhook-binding-lifecycle.spec.ts
  functions/src/suunto/health-webhook-binding-lifecycle.ts
  functions/src/suunto/health-webhook-binding.ts
  functions/src/suunto/health-webhook-ingress.spec.ts
  functions/src/suunto/health-webhook-ingress.ts
  functions/src/users/cleanup.spec.ts
  functions/src/users/cleanup.ts
  src/firestore.rules.spec.ts
Due: lint-functions, lint-angular

fix: fan out Suunto health webhooks per user
  docs/provider-integration-guide.md
  docs/suunto-integration.md
  docs/unified-health-data.md
  functions/src/OAuth2.spec.ts
  functions/src/OAuth2.ts
  functions/src/service-auth-lifecycle.ts
  functions/src/service-token-store.ts
  functions/src/suunto/health-webhook-binding-lifecycle.spec.ts
  functions/src/suunto/health-webhook-binding-lifecycle.ts
  functions/src/suunto/health-webhook-binding.ts
  functions/src/suunto/health-webhook-ingress.spec.ts
  functions/src/suunto/health-webhook-ingress.ts
Due: lint-functions

fix: preserve retained Suunto health accounts
  docs/provider-integration-guide.md
  docs/suunto-integration.md
  docs/unified-health-data.md
  functions/src/OAuth2.spec.ts
  functions/src/OAuth2.ts
  functions/src/queue/queue-item.interface.ts
  functions/src/sleep/queue.spec.ts
  functions/src/sleep/queue.ts
  functions/src/suunto/health-webhook-binding-lifecycle.spec.ts
  functions/src/suunto/health-webhook-binding-lifecycle.ts
  functions/src/suunto/health-webhook-ingress.spec.ts
  functions/src/suunto/health-webhook-ingress.ts
Due: lint-functions

feat: add admin user history snapshots
  README.md
  docs/admin-dashboard-history.md
  firestore.indexes.json
  firestore.rules
  functions/src/admin/dashboard-history.handlers.spec.ts
  functions/src/admin/handlers/dashboard-history.handlers.ts
  functions/src/admin/handlers/users.handlers.ts
  functions/src/admin/index.ts
  functions/src/admin/shared/types.ts
  functions/src/admin/shared/user-metrics.ts
  functions/src/admin/subscription-cadence.handlers.spec.ts
  functions/src/admin/test-utils/admin-test-harness.ts
  functions/src/admin/user-count.handlers.spec.ts
  functions/src/admin/user-metrics.spec.ts
  functions/src/admin/users.handlers.spec.ts
  functions/src/firestore-indexes.spec.ts
  functions/src/index.ts
  shared/functions-manifest.ts
  src/app/components/admin/admin-dashboard/admin-dashboard.component.html
  src/app/components/admin/admin-dashboard/admin-dashboard.component.spec.ts
  src/app/components/admin/admin-dashboard/admin-dashboard.component.ts
  src/app/components/admin/admin-dashboard/admin-user-history.component.html
  src/app/components/admin/admin-dashboard/admin-user-history.component.scss
  src/app/components/admin/admin-dashboard/admin-user-history.component.spec.ts
  src/app/components/admin/admin-dashboard/admin-user-history.component.ts
  src/app/helpers/admin-dashboard-history.helper.spec.ts
  src/app/helpers/admin-dashboard-history.helper.ts
  src/app/services/admin.service.spec.ts
  src/app/services/admin.service.ts
  src/firestore.rules.spec.ts
Due: lint-functions, lint-angular

fix: harden admin history contracts
  docs/admin-dashboard-history.md
  functions/src/admin/dashboard-history.handlers.spec.ts
  functions/src/admin/handlers/dashboard-history.handlers.ts
  functions/src/admin/shared/user-metrics.ts
  functions/src/admin/user-metrics.spec.ts
  src/app/components/admin/admin-dashboard/admin-user-history.component.spec.ts
  src/app/components/admin/admin-dashboard/admin-user-history.component.ts
  src/app/services/admin.service.spec.ts
  src/app/services/admin.service.ts
Due: lint-functions, lint-angular

fix: fan out Suunto sleep webhooks
  docs/provider-integration-guide.md
  docs/suunto-integration.md
  functions/src/OAuth2.spec.ts
  functions/src/OAuth2.ts
  functions/src/service-auth-lifecycle.ts
  functions/src/sleep/polling.spec.ts
  functions/src/sleep/polling.ts
  functions/src/sleep/webhooks.spec.ts
  functions/src/sleep/webhooks.ts
  functions/src/suunto/health-webhook-binding-lifecycle.spec.ts
  functions/src/suunto/health-webhook-binding-lifecycle.ts
  functions/src/suunto/health-webhook-binding.spec.ts
  functions/src/suunto/health-webhook-binding.ts
  functions/src/suunto/health-webhook-ingress.spec.ts
  functions/src/suunto/health-webhook-ingress.ts
Due: lint-functions

refactor: remove undeployed Suunto binding schema
  functions/src/suunto/health-webhook-binding-lifecycle.spec.ts
  functions/src/suunto/health-webhook-binding.spec.ts
  functions/src/suunto/health-webhook-binding.ts
  functions/src/suunto/health-webhook-ingress.ts
Due: lint-functions

fix: fan out all Suunto webhooks
  docs/provider-integration-guide.md
  docs/suunto-integration.md
  functions/src/queue.spec.ts
  functions/src/queue.ts
  functions/src/routes/route-sync-queue.spec.ts
  functions/src/routes/route-sync-queue.ts
  functions/src/scripts/recover-suunto-outage.spec.ts
  functions/src/scripts/recover-suunto-outage.ts
  functions/src/suunto/queue.spec.ts
  functions/src/suunto/queue.ts
  functions/src/suunto/route-sync.spec.ts
  functions/src/suunto/route-sync.ts
Due: lint-functions

fix: secure Suunto webhook authority
  docs/provider-integration-guide.md
  docs/suunto-integration.md
  firestore.rules
  functions/src/OAuth2.spec.ts
  functions/src/OAuth2.ts
  functions/src/index.ts
  functions/src/queue/queue-item.interface.ts
  functions/src/secrets.spec.ts
  functions/src/secrets.ts
  functions/src/sleep/polling.spec.ts
  functions/src/sleep/polling.ts
  functions/src/sleep/queue.spec.ts
  functions/src/sleep/queue.ts
  functions/src/suunto/health-sync.spec.ts
  functions/src/suunto/health-sync.ts
  functions/src/suunto/health-webhook-binding-lifecycle.spec.ts
  functions/src/suunto/health-webhook-binding-lifecycle.ts
  functions/src/suunto/health-webhook-binding.spec.ts
  functions/src/suunto/health-webhook-binding.ts
  functions/src/suunto/health-webhook-ingress.spec.ts
  functions/src/suunto/health-webhook-ingress.ts
  src/firestore.rules.spec.ts
Due: lint-functions, lint-angular

fix: guard Suunto verification and import scope
  docs/provider-integration-guide.md
  docs/suunto-integration.md
  functions/src/sleep/polling.spec.ts
  functions/src/sleep/polling.ts
  src/app/components/history-import-form/history-import.form.component.html
  src/app/components/history-import-form/history-import.form.component.spec.ts
  src/app/components/history-import-form/history-import.form.component.ts
Due: lint-functions, lint-angular

fix: close remaining Suunto lifecycle races
  docs/provider-integration-guide.md
  docs/suunto-integration.md
  functions/src/queue/dispatch-marker.spec.ts
  functions/src/queue/dispatch-marker.ts
  functions/src/queue/queue-item.interface.ts
  functions/src/route-delivery-sync/enqueue-imported-route.ts
  functions/src/route-delivery-sync/process-queue-item.spec.ts
  functions/src/route-delivery-sync/process-queue-item.ts
  functions/src/route-delivery-sync/queue.spec.ts
  functions/src/route-delivery-sync/queue.ts
  functions/src/route-delivery-sync/source-lifecycle.spec.ts
  functions/src/route-delivery-sync/source-lifecycle.ts
  functions/src/routes/process-route-sync-queue-item.spec.ts
  functions/src/routes/process-route-sync-queue-item.ts
  functions/src/service-operational-cleanup.spec.ts
  functions/src/service-operational-cleanup.ts
  functions/src/suunto/auth/adapter.spec.ts
  functions/src/suunto/auth/adapter.ts
  functions/src/suunto/auth/token-identity.spec.ts
  functions/src/suunto/auth/token-identity.ts
  functions/src/suunto/health-webhook-ingress.spec.ts
  functions/src/suunto/health-webhook-ingress.ts
  functions/src/tokens.spec.ts
  functions/src/tokens.ts
Due: lint-functions

fix: preserve Suunto route lifecycle
  docs/provider-integration-guide.md
  docs/suunto-integration.md
  firestore.rules
  functions/src/index.ts
  functions/src/routes/process-route-sync-queue-item.spec.ts
  functions/src/routes/process-route-sync-queue-item.ts
  functions/src/routes/rejected-original-cleanup.spec.ts
  functions/src/routes/rejected-original-cleanup.ts
  functions/src/routes/upsert-synced-route.spec.ts
  functions/src/routes/upsert-synced-route.ts
  functions/src/suunto/health-webhook-binding-lifecycle.spec.ts
  functions/src/suunto/health-webhook-binding-lifecycle.ts
  src/firestore.rules.spec.ts
Due: lint-functions, lint-angular

fix: increase financial stats function memory
  functions/src/admin/handlers/financials.handlers.ts
Due: lint-functions

fix: make rejected route cleanup durable
  docs/provider-integration-guide.md
  docs/suunto-integration.md
  firestore.rules
  functions/src/firestore-indexes.spec.ts
  functions/src/index.ts
  functions/src/routes/rejected-original-cleanup.spec.ts
  functions/src/routes/rejected-original-cleanup.ts
  functions/src/routes/upsert-synced-route.spec.ts
  functions/src/routes/upsert-synced-route.ts
  functions/src/users/cleanup.spec.ts
  functions/src/users/cleanup.ts
  src/firestore.rules.spec.ts
Due: lint-functions, lint-angular

fix: retain ambiguous upload reservations
  docs/provider-integration-guide.md
  docs/suunto-integration.md
  functions/src/routes/upsert-synced-route.spec.ts
  functions/src/routes/upsert-synced-route.ts
Due: lint-functions

fix: deduplicate repeated health revisions
  docs/unified-health-data.md
  functions/src/health/writer.spec.ts
  functions/src/health/writer.ts
Due: lint-functions

fix: preserve health revision watermark
  docs/provider-integration-guide.md
  docs/suunto-integration.md
  docs/unified-health-data.md
  functions/src/health/writer.spec.ts
  functions/src/health/writer.ts
  shared/health.ts
Due: lint-functions

fix: preserve Suunto health failure recovery
  functions/src/OAuth2.ts
  functions/src/service-auth-lifecycle.ts
  functions/src/service-token-store.ts
  functions/src/sleep/queue.spec.ts
  functions/src/sleep/queue.ts
  functions/src/suunto/health-webhook-binding.ts
  src/firestore.rules.spec.ts
Due: lint-functions, lint-angular
