Repository jimmykane/quantified-self: changes, and which lefthook commands are due for each by the changed paths.
All: lint-functions, lint-angular

lint-functions:
  run: npx eslint {staged_files} --fix && git add {staged_files}

lint-angular:
  run: ESLINT_USE_FLAT_CONFIG=false npx eslint {staged_files} --fix && git add {staged_files}

chore: improve charts
  src/app/components/event/chart/panel/event.card.chart.panel.component.spec.ts
  src/app/components/event/chart/panel/event.card.chart.panel.component.ts
  src/app/services/echarts-loader.service.spec.ts
  src/app/services/echarts-loader.service.ts
Due: lint-angular

fix: tests
  src/app/components/event/chart/panel/event.card.chart.panel.component.spec.ts
  src/app/components/event/chart/panel/event.card.chart.panel.component.ts
  src/app/helpers/dashboard-echarts-cartesian.helper.spec.ts
Due: lint-angular

chore: lockdown
  src/app/components/services/suunto/services.suunto.component.html
  src/app/components/services/suunto/services.suunto.component.spec.ts
Due: lint-angular

chore: chart improvements
  src/app/components/charts/columns/charts.columns.component.spec.ts
  src/app/components/charts/columns/charts.columns.component.ts
  src/app/components/charts/xy/charts.xy.component.spec.ts
  src/app/components/charts/xy/charts.xy.component.ts
  src/app/helpers/dashboard-date-activity-segmentation.helper.spec.ts
  src/app/helpers/dashboard-date-activity-segmentation.helper.ts
  src/app/helpers/dashboard-echarts-cartesian.helper.spec.ts
  src/app/helpers/dashboard-echarts-cartesian.helper.ts
Due: lint-angular

chore: remove non data dates
  src/app/components/charts/xy/charts.xy.component.spec.ts
  src/app/components/charts/xy/charts.xy.component.ts
Due: lint-angular

chore: chart height
  src/app/components/event/chart/event.card.chart.component.scss
  src/app/components/event/chart/panel/event.card.chart.panel.component.scss
Due: none

chore: add fullscreen
  src/app/components/event/chart/panel/event.card.chart.panel.component.html
  src/app/components/event/chart/panel/event.card.chart.panel.component.scss
  src/app/components/event/chart/panel/event.card.chart.panel.component.spec.ts
  src/app/components/event/chart/panel/event.card.chart.panel.component.ts
Due: lint-angular

chore: improve the distance axis tooltips
  src/app/components/event/chart/panel/event.card.chart.panel.component.spec.ts
  src/app/components/event/chart/panel/event.card.chart.panel.component.ts
Due: lint-angular

chore: add haptics
  src/app/components/event-search/event-search.component.spec.ts
  src/app/components/event-search/event-search.component.ts
Due: lint-angular

fix: map styles for toggles
  src/app/components/event/activity-toggle/activity-toggle.component.css
Due: none

chore: charts how device names
  src/app/components/event/chart/event.card.chart.component.html
  src/app/components/event/chart/event.card.chart.component.spec.ts
  src/app/components/event/chart/event.card.chart.component.ts
  src/app/components/event/chart/panel/event.card.chart.panel.component.html
  src/app/components/event/chart/panel/event.card.chart.panel.component.scss
  src/app/components/event/chart/panel/event.card.chart.panel.component.spec.ts
  src/app/components/event/chart/panel/event.card.chart.panel.component.ts
Due: lint-angular

chore: get back from impersonation
  functions/src/index.ts
  functions/src/users/admin.spec.ts
  functions/src/users/admin.ts
  src/app/app.component.html
  src/app/app.component.scss
  src/app/app.component.spec.ts
  src/app/app.component.ts
  src/app/authentication/app.auth.service.spec.ts
  src/app/authentication/app.auth.service.ts
  src/app/components/admin/admin-user-management/admin-user-management.component.ts
  src/app/models/app-user.interface.ts
  src/app/services/app.user.service.spec.ts
  src/app/services/app.user.service.ts
  src/shared/functions-manifest.ts
Due: lint-functions, lint-angular

chore: more chart fixes
  src/app/components/event/chart/event.card.chart.component.html
  src/app/components/event/chart/event.card.chart.component.spec.ts
  src/app/components/event/chart/event.card.chart.component.ts
  src/app/components/event/chart/panel/event.card.chart.panel.component.spec.ts
  src/app/components/event/chart/panel/event.card.chart.panel.component.ts
Due: lint-angular

chore: improve impersonation
  src/app/app.component.html
  src/app/app.component.scss
  src/app/app.component.spec.ts
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/authentication/app.auth.service.spec.ts
  src/app/authentication/app.auth.service.ts
  src/app/components/admin/admin-user-management/admin-user-management.component.spec.ts
  src/app/components/admin/admin-user-management/admin-user-management.component.ts
  src/app/components/impersonation-banner/impersonation-banner.component.html
  src/app/components/impersonation-banner/impersonation-banner.component.scss
  src/app/components/impersonation-banner/impersonation-banner.component.spec.ts
  src/app/components/impersonation-banner/impersonation-banner.component.ts
  src/app/services/app.impersonation.service.spec.ts
  src/app/services/app.impersonation.service.ts
  src/app/services/app.user.service.ts
Due: lint-angular

chore: bv
  package.json
Due: none

fix: animation
  src/styles/_app-loader.scss
Due: none

chore: chart improvements
  src/app/components/event/chart/event.card.chart.component.html
  src/app/components/event/chart/event.card.chart.component.ts
  src/app/components/event/chart/panel/event.card.chart.panel.component.spec.ts
  src/app/components/event/chart/panel/event.card.chart.panel.component.ts
  src/app/services/echarts-loader.service.spec.ts
  src/app/services/echarts-loader.service.ts
Due: lint-angular

fix: for upading impersonate fields
  src/app/services/app.user.service.spec.ts
  src/app/services/app.user.service.ts
Due: lint-angular

chore: chart fixes
  src/app/components/event/chart/panel/event.card.chart.panel.component.spec.ts
  src/app/components/event/chart/panel/event.card.chart.panel.component.ts
Due: lint-angular

chore: chart fixes
  src/app/components/event/chart/panel/event.card.chart.panel.component.ts
  src/app/helpers/event-echarts-style.helper.spec.ts
  src/app/helpers/event-echarts-style.helper.ts
Due: lint-angular

chore: bump sl
  functions/package-lock.json
  functions/package.json
  package-lock.json
  package.json
Due: none

chore: fix admin data
  functions/src/users/admin.spec.ts
  functions/src/users/admin.ts
Due: lint-functions

chore: fix merge dialog options
  src/app/components/event-table/merge-options-dialog/merge-options-dialog.component.html
  src/app/components/event-table/merge-options-dialog/merge-options-dialog.component.scss
  src/app/components/event-table/merge-options-dialog/merge-options-dialog.component.spec.ts
Due: lint-angular

Revert "chore: bump sl"
  functions/package-lock.json
  functions/package.json
  package-lock.json
  package.json
Due: none

chore: bump qs
  package-lock.json
Due: none

chore: better tolerance
  src/app/components/charts/pie/charts.pie.component.spec.ts
  src/app/components/charts/pie/charts.pie.component.ts
  src/app/components/charts/xy/charts.xy.component.spec.ts
  src/app/components/charts/xy/charts.xy.component.ts
Due: lint-angular

Reapply "chore: bump sl"
  functions/package-lock.json
  functions/package.json
  package-lock.json
  package.json
Due: none

chore: styles improvement for fullscreen button
  src/app/components/event/chart/panel/event.card.chart.panel.component.html
  src/app/components/event/chart/panel/event.card.chart.panel.component.scss
Due: lint-angular

chore: fix admin stats
  functions/src/users/admin.spec.ts
  functions/src/users/admin.ts
Due: lint-functions

chore: improve charts on mobile
  src/app/components/charts/columns/charts.columns.component.ts
  src/app/components/charts/pie/charts.pie.component.ts
  src/app/components/charts/xy/charts.xy.component.ts
  src/app/components/event/cadence-power/event.cadence-power.component.ts
  src/app/components/event/chart/panel/event.card.chart.panel.component.ts
  src/app/components/event/durability-curve/event.durability-curve.component.ts
  src/app/components/event/intensity-zones/event.intensity-zones.component.ts
  src/app/components/event/power-curve/event.power-curve.component.ts
  src/app/helpers/echarts-tooltip-interaction.helper.spec.ts
  src/app/helpers/echarts-tooltip-interaction.helper.ts
Due: lint-angular

chore: admin user management improvements
  functions/src/users/admin.spec.ts
  functions/src/users/admin.ts
  src/app/components/admin/admin-user-management/admin-user-management.component.html
  src/app/components/admin/admin-user-management/admin-user-management.component.scss
  src/app/components/admin/admin-user-management/admin-user-management.component.spec.ts
  src/app/components/admin/admin-user-management/admin-user-management.component.ts
  src/app/resolvers/admin.resolver.spec.ts
  src/app/resolvers/admin.resolver.ts
  src/app/services/admin.service.spec.ts
  src/app/services/admin.service.ts
Due: lint-functions, lint-angular

chore: charts tooltip
  src/app/components/charts/columns/charts.columns.component.ts
  src/app/components/charts/pie/charts.pie.component.ts
  src/app/components/charts/xy/charts.xy.component.ts
  src/app/components/event/cadence-power/event.cadence-power.component.spec.ts
  src/app/components/event/cadence-power/event.cadence-power.component.ts
  src/app/components/event/chart/panel/event.card.chart.panel.component.ts
  src/app/components/event/durability-curve/event.durability-curve.component.spec.ts
  src/app/components/event/durability-curve/event.durability-curve.component.ts
  src/app/components/event/intensity-zones/event.intensity-zones.component.spec.ts
  src/app/components/event/intensity-zones/event.intensity-zones.component.ts
  src/app/components/event/power-curve/event.power-curve.component.spec.ts
  src/app/components/event/power-curve/event.power-curve.component.ts
  src/app/helpers/echarts-tooltip-interaction.helper.spec.ts
  src/app/helpers/echarts-tooltip-interaction.helper.ts
Due: lint-angular

chore: improve svg
  src/app/app.component.html
  src/styles/_app-loader.scss
Due: lint-angular

chore: admin improvements
  src/app/components/admin/admin-user-management/admin-user-management.component.html
  src/app/components/admin/admin-user-management/admin-user-management.component.scss
  src/app/components/admin/admin-user-management/admin-user-management.component.spec.ts
  src/app/components/admin/admin-user-management/admin-user-management.component.ts
Due: lint-angular

chore: disable chart controlls till click
  src/app/components/event/chart/panel/event.card.chart.panel.component.spec.ts
  src/app/components/event/chart/panel/event.card.chart.panel.component.ts
Due: lint-angular

chore: improve charts for battery stats
  src/app/components/event/chart/event.card.chart.component.spec.ts
  src/app/components/event/chart/event.card.chart.component.ts
  src/app/components/event/chart/panel/event.card.chart.panel.component.spec.ts
  src/app/components/event/chart/panel/event.card.chart.panel.component.ts
  src/app/helpers/event-echarts-data.helper.spec.ts
  src/app/helpers/event-echarts-data.helper.ts
Due: lint-angular

feature: admin sub stats
  functions/src/index.ts
  functions/src/users/admin.spec.ts
  functions/src/users/admin.ts
  src/app/components/admin/admin-user-management/admin-user-management.component.html
  src/app/components/admin/admin-user-management/admin-user-management.component.spec.ts
  src/app/components/admin/admin-user-management/admin-user-management.component.ts
  src/app/resolvers/admin.resolver.spec.ts
  src/app/resolvers/admin.resolver.ts
  src/app/services/admin.service.spec.ts
  src/app/services/admin.service.ts
  src/shared/functions-manifest.ts
Due: lint-functions, lint-angular

chore: improve loader
  src/styles/_app-loader.scss
Due: none

Path conditions:
  lint-functions: any of: **/*.{ts,js} and ^functions/
  lint-angular: any of: {src/*.{ts,html},src/**/*.{ts,html}}
