Repository jimmykane/quantified-self: changes, and which lefthook commands are due for each by the changed paths.
All: lint-functions, lint-angular

lint-functions:
  run: npx eslint {staged_files} --fix && git add {staged_files}

lint-angular:
  run: ESLINT_USE_FLAT_CONFIG=false npx eslint {staged_files} --fix && git add {staged_files}

fix: admin impersonation
  src/app/services/app.impersonation.service.spec.ts
  src/app/services/app.impersonation.service.ts
Due: lint-angular

refactor: route animations etc
  src/app/app-shell.component.spec.ts
  src/app/app-shell.component.ts
  src/app/services/route-animation-state.service.spec.ts
  src/app/services/route-animation-state.service.ts
  src/app/services/shell-navigation-effects.service.spec.ts
  src/app/services/shell-navigation-effects.service.ts
Due: lint-angular

fix: retry impersonation return
  src/app/services/app.impersonation.service.spec.ts
  src/app/services/app.impersonation.service.ts
Due: lint-angular

fix: PR feedback
  src/app/app-shell.component.html
  src/app/app-shell.component.spec.ts
  src/app/app-shell.component.ts
  src/app/components/app-shell-header/app-shell-header.component.html
  src/app/components/app-shell-header/app-shell-header.component.scss
  src/app/components/app-shell-header/app-shell-header.component.spec.ts
  src/app/components/app-shell-header/app-shell-header.component.ts
  src/app/services/shell-navigation-effects.service.spec.ts
  src/app/services/shell-navigation-effects.service.ts
Due: lint-angular

chore: remove legacy
  src/styles.scss
Due: none

fix: impersonation
  src/app/services/app.impersonation.service.spec.ts
  src/app/services/app.impersonation.service.ts
Due: lint-angular

chore: add stripe script for migrating prices and changing prices on the fly
  functions/package.json
  functions/src/scripts/replace-stripe-price.spec.ts
  functions/src/scripts/replace-stripe-price.ts
Due: lint-functions

chore: use angular
  src/app/app-shell.component.ts
Due: lint-angular

chore: show home even if not trips
  src/app/components/tracks/tracks.component.html
  src/app/components/tracks/tracks.component.spec.ts
Due: lint-angular

chore: fix stripe
  functions/src/scripts/replace-stripe-price.spec.ts
  functions/src/scripts/replace-stripe-price.ts
Due: lint-functions

fix: pricing current plan button
  src/app/components/pricing/pricing.component.html
  src/app/components/pricing/pricing.component.scss
  src/app/components/pricing/pricing.component.spec.ts
Due: lint-angular

chore: trip detection improvements
  src/app/components/tracks/tracks.component.spec.ts
  src/app/components/tracks/tracks.component.ts
Due: lint-angular

chore: improve mytracks performance
  src/app/components/tracks/tracks.component.spec.ts
  src/app/components/tracks/tracks.component.ts
  src/app/services/my-tracks-polyline-cache.service.spec.ts
  src/app/services/my-tracks-polyline-cache.service.ts
Due: lint-angular

fix: wrong flicket
  src/app/services/map/mapbox-start-point-layer.service.spec.ts
  src/app/services/map/mapbox-start-point-layer.service.ts
Due: lint-angular

chore: improvements for buttons
  src/app/components/map/my-tracks-map-layers-control/my-tracks-map-layers-control.component.css
  src/app/components/map/my-tracks-map-layers-control/my-tracks-map-layers-control.component.html
  src/app/components/map/my-tracks-map-layers-control/my-tracks-map-layers-control.component.ts
  src/app/components/tracks/tracks.component.html
  src/app/components/tracks/tracks.component.scss
  src/app/components/tracks/tracks.component.spec.ts
  src/app/components/tracks/tracks.component.ts
  src/app/modules/shared.module.ts
  src/app/services/map/mapbox-layers-control.service.spec.ts
  src/app/services/map/mapbox-layers-control.service.ts
Due: lint-angular

chore: fix for stripe price
  functions/src/scripts/replace-stripe-price.spec.ts
  functions/src/scripts/replace-stripe-price.ts
Due: lint-functions

chore: maps refactoring
  src/app/components/map/map-layers-actions/map-layers-actions.component.html
  src/app/components/map/map-layers-actions/map-layers-actions.component.spec.ts
  src/app/components/map/map-layers-actions/map-layers-actions.component.ts
  src/app/components/map/my-tracks-map-layers-control/my-tracks-map-layers-control.component.html
  src/app/components/map/my-tracks-map-layers-control/my-tracks-map-layers-control.component.ts
  src/app/components/map/shared/map-layers-actions-base.directive.ts
  src/app/components/map/shared/map-layers-menu-panel.component.css
  src/app/components/map/shared/map-layers-menu-panel.component.html
  src/app/components/map/shared/map-layers-menu-panel.component.spec.ts
  src/app/components/map/shared/map-layers-menu-panel.component.ts
  src/app/modules/shared.module.ts
  src/app/services/map/mapbox-layers-control.service.spec.ts
Due: lint-angular

fix: pr feedback
  src/app/app-shell.component.scss
  src/app/app-shell.component.spec.ts
  src/app/app-shell.component.ts
  src/app/components/app-shell-header/app-shell-header.component.scss
  src/app/components/whats-new/whats-new-dialog.component.scss
  src/app/components/whats-new/whats-new-dialog.component.ts
  src/app/models/app-user.interface.ts
  src/app/services/shell-navigation-effects.service.spec.ts
  src/app/services/shell-navigation-effects.service.ts
  src/styles.scss
Due: lint-angular

chore: stripe fallback
  functions/src/scripts/replace-stripe-price.spec.ts
  functions/src/scripts/replace-stripe-price.ts
Due: lint-functions

fix: shell fixes
  src/app/app-shell.component.html
  src/app/app-shell.component.spec.ts
  src/app/app-shell.component.ts
Due: lint-angular

chore: bump version
  package.json
Due: none

fix: limit
  functions/templates/subscription_cancellation.hbs
Due: none

fix: pricing and impersonation
  src/app/components/onboarding/onboarding.component.html
  src/app/components/onboarding/onboarding.component.scss
  src/app/components/onboarding/onboarding.component.spec.ts
  src/app/components/pricing/pricing.component.html
  src/app/components/pricing/pricing.component.spec.ts
  src/app/components/pricing/pricing.component.ts
Due: lint-angular

fix: PR feedback
  src/app/components/onboarding/onboarding.component.html
  src/app/components/onboarding/onboarding.component.spec.ts
  src/app/components/onboarding/onboarding.component.ts
  src/app/components/pricing/pricing.component.html
  src/app/components/pricing/pricing.component.spec.ts
  src/app/components/pricing/pricing.component.ts
Due: lint-angular

style: transparent background for performance charts
  src/app/components/event/cadence-power/event.cadence-power.component.spec.ts
  src/app/components/event/cadence-power/event.cadence-power.component.ts
  src/app/components/event/durability-curve/event.durability-curve.component.spec.ts
  src/app/components/event/durability-curve/event.durability-curve.component.ts
  src/app/components/event/intensity-zones/event.intensity-zones.component.spec.ts
  src/app/components/event/intensity-zones/event.intensity-zones.component.ts
  src/app/components/event/power-curve/event.power-curve.component.spec.ts
  src/app/components/event/power-curve/event.power-curve.component.ts
Due: lint-angular

chore: bv
  package.json
Due: none

chore: do not show for new users the whats new notif
  src/app/services/app.whats-new.service.spec.ts
  src/app/services/app.whats-new.service.ts
Due: lint-angular

fix: PR feedback
  src/app/services/app.user.service.spec.ts
  src/app/services/app.user.service.ts
  src/app/services/app.whats-new.service.spec.ts
  src/app/services/app.whats-new.service.ts
Due: lint-angular

fix: template issues
  src/app/components/whats-new/whats-new-item.component.html
  src/app/components/whats-new/whats-new-item.component.spec.ts
  src/app/components/whats-new/whats-new-item.component.ts
  src/app/services/app.whats-new.service.spec.ts
  src/app/services/app.whats-new.service.ts
Due: lint-angular

chore: rules
  .agent/rules/rules.md
Due: none

fix: some minor issues
  src/app/components/whats-new/whats-new-item.component.spec.ts
  src/app/components/whats-new/whats-new-item.component.ts
  src/app/services/app.whats-new.service.spec.ts
Due: lint-angular

chore: improvements
  src/app/models/app-date-value.type.ts
  src/app/models/app-user.interface.ts
  src/app/services/app.whats-new.service.ts
Due: lint-angular

refactor: move to shared
  functions/src/shared/app-event.interface.ts
  functions/src/shared/firestore-write-sanitizer.ts
  functions/src/shared/get-sports-lib-version.ts
  functions/src/shared/history-import.constants.ts
  functions/src/shared/limits.ts
  functions/src/shared/parsing-options.ts
  src/app/components/benchmark/benchmark-bottom-sheet.component.spec.ts
  src/app/components/benchmark/benchmark-bottom-sheet.component.ts
  src/app/components/benchmark/benchmark-report.component.spec.ts
  src/app/components/benchmark/benchmark-report.component.ts
  src/app/components/event-summary/event-summary.component.ts
  src/app/components/event-table/event.table.component.ts
  src/app/components/event/event.card.component.ts
  src/app/components/history-import-form/history-import.form.component.ts
  src/app/components/pricing/pricing.component.spec.ts
  src/app/components/pricing/pricing.component.ts
  src/app/components/upload/upload-activities/upload-activities.component.spec.ts
  src/app/components/upload/upload-activities/upload-activities.component.ts
  src/app/constants/sports-lib-version.browser.ts
  src/app/services/app.benchmark-flow.service.spec.ts
  src/app/services/app.benchmark-flow.service.ts
  src/app/services/app.benchmark.service.ts
  src/app/services/app.event-reprocess.service.ts
  src/app/services/app.event.service.ts
  src/app/services/app.original-file-hydration.service.ts
  src/app/services/benchmark-event.adapter.spec.ts
  src/app/services/benchmark-event.adapter.ts
  src/app/services/my-tracks-polyline-cache.service.ts
  src/app/utils/event-live-reconcile.ts
  src/shared/app-event.interface.ts
  src/shared/firestore-write-sanitizer.ts
  src/shared/get-sports-lib-version.ts
  src/shared/history-import.constants.ts
  src/shared/limits.ts
  src/shared/parsing-options.ts
  src/styles.scss
  src/styles/_panels.scss
  tsconfig.base.json
  vitest.config.ts
Due: lint-functions, lint-angular

chore: admin charts
  src/app/components/admin/admin-queue-stats/admin-queue-stats.component.spec.ts
  src/app/components/admin/admin-queue-stats/admin-queue-stats.component.ts
  src/app/components/admin/admin-user-management/admin-user-management.component.spec.ts
  src/app/components/admin/admin-user-management/admin-user-management.component.ts
Due: lint-angular

chore: remove jsdom
  angular.json
  src/index.html
Due: lint-angular

chore: fix payment canceled
  src/app/components/payment-cancel/payment-cancel.component.html
  src/app/components/payment-cancel/payment-cancel.component.scss
  src/app/components/payment-cancel/payment-cancel.component.spec.ts
  src/app/components/payment-cancel/payment-cancel.component.ts
Due: lint-angular

chore: inverse surface for dark theme
  src/styles.scss
  src/styles/_panels.scss
Due: none

Revert "chore: inverse surface for dark theme"
  src/styles.scss
  src/styles/_panels.scss
Due: none

Path conditions:
  lint-functions: any of: **/*.{ts,js} and ^functions/
  lint-angular: any of: {src/*.{ts,html},src/**/*.{ts,html}}
