Repository jimmykane/quantified-self: changes, and which lefthook commands are due for each by the changed paths.
All: lint-functions, lint-angular

lint-functions:
  run: npx eslint {staged_files} --fix && git add {staged_files}

lint-angular:
  run: ESLINT_USE_FLAT_CONFIG=false npx eslint {staged_files} --fix && git add {staged_files}

fix: improve homepage copy and search snippets
  src/app/app.routing.module.spec.ts
  src/app/app.routing.module.ts
  src/app/components/home/home.component.html
  src/app/components/home/home.component.scss
  src/app/components/home/home.component.spec.ts
  src/app/components/home/home.component.ts
  src/index.html
Due: lint-angular

fix: refine homepage assistant copy
  src/app/components/home/home.component.html
  src/app/components/home/home.component.spec.ts
Due: lint-angular

fix: sharpen homepage hero message
  src/app/components/home/home.component.html
  src/app/components/home/home.component.spec.ts
Due: lint-angular

refactor: rename Suunto 24/7 webhook endpoint
  docs/suunto-integration.md
  functions/src/index.ts
  functions/src/secrets.spec.ts
  functions/src/secrets.ts
  functions/src/sleep/webhooks.spec.ts
  functions/src/sleep/webhooks.ts
Due: lint-functions

refactor: retire legacy Suunto sleep webhook
  docs/suunto-integration.md
  functions/src/index.ts
  functions/src/secrets.spec.ts
  functions/src/secrets.ts
  functions/src/sleep/webhooks.spec.ts
  functions/src/sleep/webhooks.ts
Due: lint-functions

feat: enable Suunto Health for all connected users
  docs/provider-integration-guide.md
  docs/sleep-sync-operations.md
  docs/suunto-integration.md
  docs/unified-health-data.md
  functions/src/activity-sync/disconnect-routes.spec.ts
  functions/src/activity-sync/disconnect-routes.ts
  functions/src/service-connection-meta.spec.ts
  functions/src/service-connection-meta.ts
  functions/src/sleep/backfill.spec.ts
  functions/src/sleep/backfill.ts
  functions/src/sleep/polling.spec.ts
  functions/src/sleep/polling.ts
  functions/src/sleep/queue.spec.ts
  functions/src/sleep/queue.ts
  functions/src/sleep/webhooks.ts
  functions/src/suunto/health-availability.spec.ts
  functions/src/suunto/health-availability.ts
  functions/src/suunto/health-rollout.ts
  functions/src/suunto/health-webhook-binding.spec.ts
  functions/src/suunto/health-webhook-binding.ts
  functions/src/suunto/health-webhook-ingress.spec.ts
  functions/src/suunto/health-webhook-ingress.ts
  functions/src/suunto/health.spec.ts
  functions/src/suunto/health.ts
  src/app/components/history-import-form/history-import.form.component.spec.ts
  src/app/components/integrations/integration-pages.content.ts
  src/app/components/integrations/provider-integration-page.component.spec.ts
  src/app/services/app.user.service.spec.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/app/shared/policies.content.spec.ts
  src/app/shared/policies.content.ts
Due: lint-functions, lint-angular

test: cover Suunto Health rollback behavior
  docs/unified-health-data.md
  functions/src/sleep/backfill.spec.ts
Due: lint-functions

docs: require explicit Firebase mutation approval
  AGENTS.md
Due: none

fix: throttle activity sync task dispatches
  functions/src/shared/queue-config.ts
  functions/src/tasks/activity-sync-worker.spec.ts
  functions/src/tasks/activity-sync-worker.ts
Due: lint-functions

feat: show marketing consent user count
  functions/src/admin/handlers/users.handlers.ts
  functions/src/admin/marketing-consent-count.handlers.spec.ts
  functions/src/admin/shared/types.ts
  src/app/components/admin/admin-dashboard/admin-dashboard.component.spec.ts
  src/app/helpers/admin-dashboard-summary.helper.spec.ts
  src/app/helpers/admin-dashboard-summary.helper.ts
  src/app/services/admin.service.spec.ts
  src/app/services/admin.service.ts
Due: lint-functions, lint-angular

fix: harden marketing consent stats
  src/app/helpers/admin-dashboard-summary.helper.spec.ts
  src/app/helpers/admin-dashboard-summary.helper.ts
  src/app/services/admin.service.spec.ts
  src/app/services/admin.service.ts
Due: lint-angular

test: stabilize admin history freshness
  src/app/components/admin/admin-dashboard/admin-user-history.component.spec.ts
Due: lint-angular

fix: align AGPL license metadata
  README.md
  functions/package-lock.json
  functions/package.json
  package-lock.json
  package.json
  plugins/quantified-self/plugin.template.json
  src/app/components/public-footer/public-footer.component.html
  src/app/components/public-footer/public-footer.component.spec.ts
  src/app/components/public-footer/public-footer.component.ts
  src/app/components/sidenav/sidenav.component.html
  src/app/components/sidenav/sidenav.component.scss
  src/app/components/sidenav/sidenav.component.spec.ts
  src/app/components/sidenav/sidenav.component.ts
  src/app/shared/open-source-license.ts
  tools/quantified-self-plugin/plugin-tool.mjs
  tools/quantified-self-plugin/plugin-tool.test.mjs
Due: lint-angular

fix: retain Mapbox license notice
  README.md
  angular.json
  tools/check-service-worker-assets.mjs
Due: none

chore: remove Mapbox license notice packaging
  README.md
  angular.json
  tools/check-service-worker-assets.mjs
Due: none

docs: add Mapbox AGPL linking exception
  LICENSE
  LICENSE-MAPBOX-EXCEPTION
  README.md
Due: none

fix: normalize duplicate Suunto health samples
  docs/provider-integration-guide.md
  docs/suunto-integration.md
  docs/unified-health-data.md
  functions/src/suunto/health-sync.spec.ts
  functions/src/suunto/health-sync.ts
  functions/src/suunto/health.spec.ts
  functions/src/suunto/health.ts
Due: lint-functions

fix: increase user growth trend memory
  functions/src/admin/handlers/trends.handlers.ts
Due: lint-functions

fix: ignore extra Suunto daily statistics
  docs/provider-integration-guide.md
  docs/suunto-integration.md
  docs/unified-health-data.md
  functions/src/suunto/health-sync.spec.ts
  functions/src/suunto/health-sync.ts
Due: lint-functions

feat: add staged Garmin Health ingestion
  README.md
  docs/garmin-integration.md
  docs/provider-integration-guide.md
  docs/sleep-sync-operations.md
  docs/unified-health-data.md
  firestore.rules
  functions/src/OAuth2.spec.ts
  functions/src/OAuth2.ts
  functions/src/garmin/health-lifecycle.spec.ts
  functions/src/garmin/health-lifecycle.ts
  functions/src/garmin/health-rollout.ts
  functions/src/garmin/health-summary-types.ts
  functions/src/garmin/health-sync.spec.ts
  functions/src/garmin/health-sync.ts
  functions/src/garmin/health.spec.ts
  functions/src/garmin/health.ts
  functions/src/health/validation.spec.ts
  functions/src/health/validation.ts
  functions/src/index.ts
  functions/src/queue-utils.spec.ts
  functions/src/queue-utils.ts
  functions/src/queue/queue-item.interface.ts
  functions/src/service-connection-meta.spec.ts
  functions/src/service-connection-meta.ts
  functions/src/sleep/garmin-callback-url.spec.ts
  functions/src/sleep/garmin-callback-url.ts
  functions/src/sleep/queue.spec.ts
  functions/src/sleep/queue.ts
  functions/src/sleep/webhooks.spec.ts
  functions/src/sleep/webhooks.ts
  shared/service-connection.ts
  src/app/components/integrations/integration-pages.content.ts
  src/app/components/services/garmin/services.garmin.component.ts
  src/app/shared/help.content.ts
  src/app/shared/policies.content.ts
  src/firestore.rules.spec.ts
Due: lint-functions, lint-angular

fix: harden Garmin Health ingestion
  docs/garmin-integration.md
  docs/provider-integration-guide.md
  docs/sleep-sync-operations.md
  docs/unified-health-data.md
  functions/src/garmin/health-sync.spec.ts
  functions/src/garmin/health-sync.ts
  functions/src/garmin/health.spec.ts
  functions/src/garmin/health.ts
  functions/src/queue-utils.spec.ts
  functions/src/queue-utils.ts
  functions/src/queue/queue-item.interface.ts
  functions/src/sleep/queue.spec.ts
  functions/src/sleep/queue.ts
  functions/src/sleep/webhooks.spec.ts
  functions/src/sleep/webhooks.ts
Due: lint-functions

fix: extend Garmin health task deadline
  docs/garmin-integration.md
  functions/src/shared/cloud-tasks.spec.ts
  functions/src/shared/cloud-tasks.ts
  functions/src/shared/queue-config.ts
  functions/src/tasks/garmin-health-backfill-worker.spec.ts
  functions/src/tasks/garmin-health-backfill-worker.ts
Due: lint-functions

fix: address Garmin health review findings
  docs/garmin-integration.md
  docs/sleep-sync-operations.md
  functions/src/garmin/health-backfill.spec.ts
  functions/src/garmin/health-backfill.ts
  functions/src/garmin/health.spec.ts
  functions/src/garmin/health.ts
  functions/src/index.ts
  functions/src/secrets.spec.ts
  functions/src/secrets.ts
  functions/src/sleep/backfill.spec.ts
  functions/src/sleep/backfill.ts
  shared/functions-manifest.ts
Due: lint-functions

fix: accept documented Garmin Health payloads
  docs/garmin-integration.md
  docs/provider-integration-guide.md
  functions/src/garmin/health.spec.ts
  functions/src/garmin/health.ts
Due: lint-functions

fix: finalize Garmin health terminal states
  docs/garmin-integration.md
  docs/provider-integration-guide.md
  docs/sleep-sync-operations.md
  functions/src/garmin/health-backfill.spec.ts
  functions/src/garmin/health-backfill.ts
  functions/src/queue-utils.retry-exhaustion.spec.ts
  functions/src/queue-utils.ts
  functions/src/sleep/queue.spec.ts
  functions/src/sleep/queue.ts
Due: lint-functions

fix: harden Garmin health backfill recovery
  docs/garmin-integration.md
  docs/provider-integration-guide.md
  docs/sleep-sync-operations.md
  functions/src/garmin/health-backfill.spec.ts
  functions/src/garmin/health-backfill.ts
  functions/src/queue-utils.retry-exhaustion.spec.ts
  functions/src/queue-utils.ts
Due: lint-functions

fix: resume large Garmin health callbacks
  docs/garmin-integration.md
  docs/provider-integration-guide.md
  docs/sleep-sync-operations.md
  docs/unified-health-data.md
  functions/src/garmin/health-sync.spec.ts
  functions/src/garmin/health-sync.ts
  functions/src/garmin/health.spec.ts
  functions/src/garmin/health.ts
  functions/src/queue/queue-item.interface.ts
  functions/src/sleep/queue.spec.ts
  functions/src/sleep/queue.ts
Due: lint-functions

fix: correct Garmin ping delivery
  docs/garmin-integration.md
  docs/provider-integration-guide.md
  docs/sleep-sync-operations.md
  functions/src/garmin/health-backfill-range.ts
  functions/src/garmin/health-summary-types.ts
  functions/src/sleep/garmin-callback-url.spec.ts
  functions/src/sleep/garmin-callback-url.ts
  functions/src/sleep/queue.spec.ts
  functions/src/sleep/queue.ts
  functions/src/sleep/webhooks.spec.ts
  functions/src/sleep/webhooks.ts
Due: lint-functions

fix: move Garmin batch dispatch off ingress
  docs/garmin-integration.md
  docs/provider-integration-guide.md
  docs/sleep-sync-operations.md
  functions/src/index.ts
  functions/src/queue/dispatch-marker.spec.ts
  functions/src/queue/dispatch-marker.ts
  functions/src/sleep/garmin-ping-batch-dispatcher.spec.ts
  functions/src/sleep/garmin-ping-batch-dispatcher.ts
  functions/src/sleep/webhooks.spec.ts
  functions/src/sleep/webhooks.ts
Due: lint-functions

fix: isolate Garmin backfill recovery scans
  docs/garmin-integration.md
  docs/sleep-sync-operations.md
  firestore.indexes.json
  functions/src/firestore-indexes.spec.ts
  functions/src/sleep/dispatcher.spec.ts
  functions/src/sleep/dispatcher.ts
Due: lint-functions

fix: preserve Garmin batch retry backoff
  docs/garmin-integration.md
  docs/provider-integration-guide.md
  docs/sleep-sync-operations.md
  functions/src/sleep/garmin-ping-batch-dispatcher.spec.ts
  functions/src/sleep/garmin-ping-batch-dispatcher.ts
Due: lint-functions

chore: expand Garmin Health pilot
  functions/src/garmin/health-rollout.spec.ts
  functions/src/garmin/health-rollout.ts
Due: lint-functions

fix: show renewal price loading progress
  src/app/components/pricing/pricing.component.html
  src/app/components/pricing/pricing.component.scss
  src/app/components/pricing/pricing.component.spec.ts
  src/app/components/pricing/pricing.component.ts
Due: lint-angular

fix: enforce Garmin Health lifecycle consent
  functions/src/garmin/health-sync.spec.ts
  functions/src/garmin/health-sync.ts
  functions/src/sleep/backfill.spec.ts
  functions/src/sleep/backfill.ts
Due: lint-functions

fix: harden admin user analytics refactor
  src/app/components/admin/admin-dashboard/admin-dashboard.component.html
  src/app/components/admin/admin-dashboard/admin-dashboard.component.spec.ts
  src/app/components/admin/admin-dashboard/admin-dashboard.component.ts
  src/app/components/admin/admin-user-overview/admin-auth-provider-chart.component.ts
  src/app/components/admin/admin-user-table/admin-user-table.component.html
  src/app/components/admin/admin-user-table/admin-user-table.component.spec.ts
  src/app/components/admin/admin-user-table/admin-user-table.component.ts
  src/app/components/admin/admin-user-workspace/admin-user-workspace.component.spec.ts
  src/app/components/admin/admin-user-workspace/admin-user-workspace.component.ts
  src/app/helpers/admin-dashboard-summary.helper.spec.ts
  src/app/helpers/admin-user-charts.helper.spec.ts
  src/app/helpers/admin-user-charts.helper.ts
  src/app/helpers/admin-user-kpis.helper.spec.ts
  src/app/helpers/admin-user-kpis.helper.ts
Due: lint-angular

Path conditions:
  lint-functions: any of: **/*.{ts,js} and ^functions/
  lint-angular: any of: {src/*.{ts,html},src/**/*.{ts,html}}
