Repository jimmykane/quantified-self: changes, and which lefthook commands are due for each by the changed paths.
All: lint-functions, lint-angular

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint-functions:
      root: "functions"
      glob: "**/*.{ts,js}"
      run: npx eslint {staged_files} --fix && git add {staged_files}
    lint-angular:
      glob: "{src/*.{ts,html},src/**/*.{ts,html}}"
      run: ESLINT_USE_FLAT_CONFIG=false npx eslint {staged_files} --fix && git add {staged_files}

chore: fixes
  src/app/app.routes.server.spec.ts
  src/app/dashboard.routing.module.ts
  src/app/event.routing.module.ts
  src/app/home.routing.module.ts
  src/app/login.routing.module.ts
  src/app/my-tracks.routing.module.ts
  src/app/policies.routing.module.ts
  src/app/services.routing.module.ts
  src/app/user.routing.module.ts
Due: lint-angular

Add workout file analyzer SEO page
  src/app/app.routes.server.spec.ts
  src/app/app.routes.server.ts
  src/app/app.routing.module.spec.ts
  src/app/app.routing.module.ts
  src/app/components/features/workout-data-comparison-page.component.html
  src/app/components/features/workout-data-comparison-page.component.spec.ts
  src/app/components/home/home.component.html
  src/app/components/home/home.component.spec.ts
  src/app/components/integrations/integrations-hub-page.component.html
  src/app/components/integrations/integrations-hub-page.component.spec.ts
  src/app/components/integrations/provider-integration-page.component.html
  src/app/components/integrations/provider-integration-page.component.spec.ts
  src/app/components/public-seo/public-seo-pages.content.spec.ts
  src/app/components/public-seo/public-seo-pages.content.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/firebase-hosting.config.spec.ts
  src/robots.txt
  src/sitemap.xml
Due: lint-angular

Improve provider activity upload queue
  src/app/components/upload/upload-activities-to-service/upload-activities-to-service.component.css
  src/app/components/upload/upload-activities-to-service/upload-activities-to-service.component.html
  src/app/components/upload/upload-activities-to-service/upload-activities-to-service.component.spec.ts
  src/app/components/upload/upload-activities-to-service/upload-activities-to-service.component.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

feature: tools
  firebase.json
  firestore.indexes.json
  functions/src/events/create-tool-comparison-event.spec.ts
  functions/src/events/create-tool-comparison-event.ts
  functions/src/index.ts
  ngsw-config.json
  shared/functions-manifest.ts
  src/app/app-shell.component.spec.ts
  src/app/app.routes.server.spec.ts
  src/app/app.routes.server.ts
  src/app/app.routing.module.spec.ts
  src/app/app.routing.module.ts
  src/app/components/event-summary/event-summary.component.spec.ts
  src/app/components/event-summary/event-summary.component.ts
  src/app/components/event/event.card.component.spec.ts
  src/app/components/event/event.card.component.ts
  src/app/components/sidenav/sidenav.component.html
  src/app/components/sidenav/sidenav.component.spec.ts
  src/app/components/tools/tools-compare-page.component.html
  src/app/components/tools/tools-compare-page.component.scss
  src/app/components/tools/tools-compare-page.component.spec.ts
  src/app/components/tools/tools-compare-page.component.ts
  src/app/components/tools/tools-hub-page.component.html
  src/app/components/tools/tools-hub-page.component.scss
  src/app/components/tools/tools-hub-page.component.spec.ts
  src/app/components/tools/tools-hub-page.component.ts
  src/app/services/app.benchmark-flow.service.spec.ts
  src/app/services/app.benchmark-flow.service.ts
  src/app/services/app.tools-comparison.service.spec.ts
  src/app/services/app.tools-comparison.service.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/app/shared/public-startup-route.spec.ts
  src/app/shared/public-startup-route.ts
  src/firebase-hosting.config.spec.ts
  src/robots.txt
  src/sitemap.xml
Due: lint-functions, lint-angular

chore: increase queue memory limit
  functions/src/queue.ts
Due: lint-functions

chore: PR fixes
  functions/src/events/create-tool-comparison-event.spec.ts
  functions/src/events/create-tool-comparison-event.ts
  functions/src/utils-usage.spec.ts
  functions/src/utils.ts
  src/app/components/sidenav/sidenav.component.html
  src/app/components/sidenav/sidenav.component.scss
  src/app/components/sidenav/sidenav.component.spec.ts
Due: lint-functions, lint-angular

chore: PR fixes
  firestore.indexes.json
  shared/app-event.interface.ts
  src/app/app.server.providers.ts
  src/app/authentication/app.auth.service.ts
  src/app/components/event/event.card.component.spec.ts
  src/app/components/event/event.card.component.ts
  src/app/components/login/login.component.spec.ts
  src/app/components/login/login.component.ts
  src/app/components/tools/tools-compare-page.component.html
  src/app/components/tools/tools-compare-page.component.scss
  src/app/components/tools/tools-compare-page.component.spec.ts
  src/app/components/tools/tools-compare-page.component.ts
  src/app/services/app.benchmark-flow.service.spec.ts
  src/app/services/app.benchmark-flow.service.ts
  src/app/services/app.event.service.spec.ts
  src/app/services/app.event.service.ts
  src/app/services/app.tools-comparison.service.spec.ts
  src/app/services/app.tools-comparison.service.ts
  src/app/services/benchmark-event.adapter.spec.ts
  src/app/services/benchmark-event.adapter.ts
  src/app/shared/help.content.ts
Due: lint-angular

chore: PR fixes
  firestore.rules
  src/app/authentication/app.auth.service.spec.ts
  src/app/authentication/app.auth.service.ts
  src/app/authentication/auth-redirect-url.ts
  src/app/components/login/login.component.spec.ts
  src/app/components/login/login.component.ts
  src/app/components/tools/tools-compare-page.component.html
  src/app/components/tools/tools-compare-page.component.scss
  src/app/components/tools/tools-compare-page.component.spec.ts
  src/app/components/tools/tools-compare-page.component.ts
  src/app/services/app.event.service.spec.ts
  src/app/services/app.event.service.ts
  src/app/shared/public-startup-route.ts
  src/firestore.rules.spec.ts
Due: lint-angular

chore: SSR fixes
  src/app/app.module.ts
  src/app/shared/public-startup-route.spec.ts
Due: lint-angular

chore: PR fixes
  src/app/authentication/app.auth.service.ts
  src/app/components/login/login.component.ts
Due: lint-angular

chore: fixes
  src/app/authentication/app.auth.service.spec.ts
  src/app/components/login/login.component.spec.ts
  src/app/components/login/login.component.ts
Due: lint-angular

chore: quote fixes
  functions/src/events/create-tool-comparison-event.spec.ts
  functions/src/events/create-tool-comparison-event.ts
Due: lint-functions

chore: PR fixes
  firestore.indexes.json
  functions/src/events/create-tool-comparison-event.spec.ts
  functions/src/events/create-tool-comparison-event.ts
  shared/tool-comparison-id.ts
  src/app/components/tools/tools-compare-page.component.html
  src/app/components/tools/tools-compare-page.component.scss
  src/app/components/tools/tools-compare-page.component.spec.ts
  src/app/components/tools/tools-compare-page.component.ts
  src/app/services/app.benchmark-flow.service.spec.ts
  src/app/services/app.benchmark-flow.service.ts
  src/app/services/app.benchmark.service.spec.ts
  src/app/services/app.benchmark.service.ts
  src/app/services/app.tools-comparison.service.spec.ts
  src/app/services/app.tools-comparison.service.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/app/shared/tool-comparison-id.shared.spec.ts
Due: lint-functions, lint-angular

chore: other minor fixes
  src/app/components/tools/tools-compare-page.component.html
  src/app/components/tools/tools-compare-page.component.scss
  src/app/components/tools/tools-compare-page.component.spec.ts
  src/app/components/tools/tools-compare-page.component.ts
Due: lint-angular

chore: fixes
  src/app/components/tools/tools-compare-page.component.spec.ts
  src/app/components/tools/tools-compare-page.component.ts
Due: lint-angular

chore: bulk export for gpx
  src/app/components/event-table/event.table.component.html
  src/app/components/event-table/event.table.component.scss
  src/app/components/event-table/event.table.component.spec.ts
  src/app/components/event-table/event.table.component.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: only positional data
  src/app/services/app.event.service.spec.ts
  src/app/services/app.event.service.ts
Due: lint-angular

chore: bv
  package.json
Due: none

fix: PR feedback
  src/app/services/app.tools-comparison.service.spec.ts
  src/app/services/app.tools-comparison.service.ts
Due: lint-angular

chore: table improvements
  src/app/components/tools/tools-compare-page.component.html
  src/app/components/tools/tools-compare-page.component.scss
  src/app/components/tools/tools-compare-page.component.spec.ts
  src/app/components/tools/tools-compare-page.component.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

chore: analytics and fixes
  src/app/components/sidenav/sidenav.component.html
  src/app/components/sidenav/sidenav.component.spec.ts
  src/app/components/sidenav/sidenav.component.ts
  src/app/components/tools/tools-compare-page.component.html
  src/app/components/tools/tools-compare-page.component.spec.ts
  src/app/components/tools/tools-compare-page.component.ts
  src/app/components/tools/tools-hub-page.component.html
  src/app/components/tools/tools-hub-page.component.spec.ts
  src/app/components/tools/tools-hub-page.component.ts
  src/app/services/app.analytics.service.spec.ts
  src/app/services/app.analytics.service.ts
Due: lint-angular

chore: improvements
  src/app/app-shell.component.html
  src/app/app-shell.component.spec.ts
  src/app/app-shell.component.ts
  src/app/app.routing.module.spec.ts
  src/app/app.routing.module.ts
  src/app/authentication/app.auth.service.ts
  src/app/components/data-table/data-table-abstract.directive.ts
  src/app/components/event-table/event.table.component.html
  src/app/components/event-table/event.table.component.scss
  src/app/components/event-table/event.table.component.spec.ts
  src/app/components/event-table/event.table.component.ts
  src/app/components/tools/tools-compare-page.component.html
  src/app/components/tools/tools-compare-page.component.scss
  src/app/components/tools/tools-compare-page.component.spec.ts
  src/app/components/tools/tools-compare-page.component.ts
  src/app/resolvers/tools-compare-auth.resolver.spec.ts
  src/app/resolvers/tools-compare-auth.resolver.ts
  src/app/services/app.event.service.spec.ts
  src/app/services/app.event.service.ts
  src/app/services/app.tools-comparison.service.spec.ts
  src/app/services/app.tools-comparison.service.ts
  src/app/shared/public-startup-route.spec.ts
  src/app/shared/public-startup-route.ts
Due: lint-angular

chore: better hydration
  src/app/components/tools/tools-compare-page.component.spec.ts
  src/app/components/tools/tools-compare-page.component.ts
  src/app/services/app.event.service.spec.ts
  src/app/services/app.event.service.ts
Due: lint-angular

chore: pr fixes
  src/app/components/tools/tools-compare-page.component.html
  src/app/components/tools/tools-compare-page.component.spec.ts
  src/app/components/tools/tools-compare-page.component.ts
  src/app/components/tools/tools-hub-page.component.spec.ts
  src/app/services/app.tools-comparison.service.spec.ts
  src/app/services/app.tools-comparison.service.ts
Due: lint-angular

chore: device colors
  src/app/components/benchmark/benchmark-report.component.spec.ts
  src/app/components/benchmark/benchmark-selection-dialog.component.spec.ts
  src/app/components/tools/device-color-preferences-dialog.component.html
  src/app/components/tools/device-color-preferences-dialog.component.scss
  src/app/components/tools/device-color-preferences-dialog.component.spec.ts
  src/app/components/tools/device-color-preferences-dialog.component.ts
  src/app/components/tools/tools-compare-page.component.html
  src/app/components/tools/tools-compare-page.component.scss
  src/app/components/tools/tools-compare-page.component.spec.ts
  src/app/components/tools/tools-compare-page.component.ts
  src/app/firebase/firestore.ts
  src/app/helpers/device-color-preferences.helper.ts
  src/app/models/app-user.interface.ts
  src/app/services/color/app-device-color-preference.service.spec.ts
  src/app/services/color/app-device-color-preference.service.ts
  src/app/services/color/app.event.color.service.spec.ts
  src/app/services/color/app.event.color.service.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/app/utils/app.user.utilities.spec.ts
  src/app/utils/app.user.utilities.ts
Due: lint-angular

chore: add more stats for the table and the benchmarks
  shared/app-event.interface.ts
  src/app/components/tools/tools-compare-page.component.html
  src/app/components/tools/tools-compare-page.component.scss
  src/app/components/tools/tools-compare-page.component.spec.ts
  src/app/components/tools/tools-compare-page.component.ts
  src/app/services/app.analytics.service.ts
  src/app/services/app.benchmark.service.spec.ts
  src/app/services/app.benchmark.service.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

Improve tools compare reviewer workflow
  src/app/app.routing.module.spec.ts
  src/app/app.routing.module.ts
  src/app/components/tools/device-color-preferences-dialog.component.spec.ts
  src/app/components/tools/device-color-preferences-dialog.component.ts
  src/app/components/tools/tools-compare-page.component.html
  src/app/components/tools/tools-compare-page.component.scss
  src/app/components/tools/tools-compare-page.component.spec.ts
  src/app/components/tools/tools-compare-page.component.ts
  src/app/services/app.benchmark-flow.service.spec.ts
  src/app/services/app.benchmark-flow.service.ts
  src/app/services/color/app.event.color.service.spec.ts
  src/app/services/color/app.event.color.service.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/sitemap.xml
Due: lint-angular

Improve compare benchmark review workflow
  shared/app-event.interface.ts
  src/app/components/benchmark/benchmark-bottom-sheet.component.spec.ts
  src/app/components/benchmark/benchmark-bottom-sheet.component.ts
  src/app/components/benchmark/benchmark-report.component.scss
  src/app/components/benchmark/benchmark-report.component.spec.ts
  src/app/components/benchmark/benchmark-report.component.ts
  src/app/components/benchmark/benchmark-review-tags-dialog.component.html
  src/app/components/benchmark/benchmark-review-tags-dialog.component.scss
  src/app/components/benchmark/benchmark-review-tags-dialog.component.spec.ts
  src/app/components/benchmark/benchmark-review-tags-dialog.component.ts
  src/app/components/tools/tools-compare-page.component.html
  src/app/components/tools/tools-compare-page.component.scss
  src/app/components/tools/tools-compare-page.component.spec.ts
  src/app/components/tools/tools-compare-page.component.ts
  src/app/helpers/benchmark-review.helper.ts
  src/app/services/app.analytics.service.ts
  src/app/services/app.benchmark-flow.service.ts
  src/app/services/app.event.service.spec.ts
  src/app/services/app.event.service.ts
  src/app/services/benchmark-event.adapter.spec.ts
  src/app/services/benchmark-event.adapter.ts
  src/app/services/benchmark-review.service.spec.ts
  src/app/services/benchmark-review.service.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

chore: update sentry dependencies
  package-lock.json
  package.json
Due: none

chore: improvements
  src/app/components/tools/tools-compare-page.component.html
  src/app/components/tools/tools-compare-page.component.scss
  src/app/components/tools/tools-compare-page.component.spec.ts
  src/app/components/tools/tools-compare-page.component.ts
  src/app/services/app.analytics.service.ts
Due: lint-angular

fix: polish compare tags UI
  src/app/app.module.menu-default-options.spec.ts
  src/app/components/benchmark/benchmark-review-tags-dialog.component.scss
  src/app/components/tools/tools-compare-page.component.html
  src/app/components/tools/tools-compare-page.component.scss
  src/app/components/tools/tools-compare-page.component.spec.ts
  src/styles.scss
Due: lint-angular

Fix sleep sync backfill and queue idempotency
  functions/src/sleep/backfill.spec.ts
  functions/src/sleep/backfill.ts
  functions/src/sleep/queue.spec.ts
  functions/src/sleep/queue.ts
  functions/src/sleep/writer.spec.ts
  functions/src/sleep/writer.ts
  shared/sleep.ts
Due: lint-functions

fix: stabilize compare benchmark metrics
  src/app/components/tools/tools-compare-page.component.spec.ts
  src/app/components/tools/tools-compare-page.component.ts
  src/app/helpers/benchmark-review.helper.ts
  src/app/services/app.benchmark-flow.service.spec.ts
  src/app/services/app.benchmark-flow.service.ts
Due: lint-angular

test: preserve material table module mock
  src/app/components/event-table/event.table.component.spec.ts
Due: lint-angular

fix: align benchmark tag dialog chips
  src/app/components/benchmark/benchmark-review-tags-dialog.component.html
  src/app/components/benchmark/benchmark-review-tags-dialog.component.scss
  src/app/components/benchmark/benchmark-review-tags-dialog.component.spec.ts
Due: lint-angular

fix: refine benchmark tag chip remove action
  src/app/components/benchmark/benchmark-review-tags-dialog.component.html
  src/app/components/benchmark/benchmark-review-tags-dialog.component.scss
  src/app/components/benchmark/benchmark-review-tags-dialog.component.spec.ts
Due: lint-angular

Polish compare review table interactions
  src/app/components/tools/device-color-preferences-dialog.component.html
  src/app/components/tools/device-color-preferences-dialog.component.scss
  src/app/components/tools/device-color-preferences-dialog.component.spec.ts
  src/app/components/tools/tools-compare-page.component.html
  src/app/components/tools/tools-compare-page.component.scss
  src/app/components/tools/tools-compare-page.component.spec.ts
  src/app/components/tools/tools-compare-page.component.ts
Due: lint-angular

Use outdoor colors for trekking activities
  src/app/services/color/app.event.color.service.spec.ts
  src/app/services/color/app.event.color.service.ts
Due: lint-angular

chore: ui
  src/app/components/tools/tools-compare-page.component.scss
Due: none
