Repository jimmykane/quantified-self: changes, and which lefthook commands are due for each by the changed paths.
All: lint-functions, lint-angular

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint-functions:
      root: "functions"
      glob: "**/*.{ts,js}"
      run: npx eslint {staged_files} --fix && git add {staged_files}
    lint-angular:
      glob: "{src/*.{ts,html},src/**/*.{ts,html}}"
      run: ESLINT_USE_FLAT_CONFIG=false npx eslint {staged_files} --fix && git add {staged_files}

chore: scope to my user id
  functions/src/sleep/polling.spec.ts
  functions/src/sleep/polling.ts
  functions/src/sleep/provider-flags.spec.ts
  functions/src/sleep/provider-flags.ts
  functions/src/sleep/queue.spec.ts
  functions/src/sleep/queue.ts
  functions/src/sleep/webhooks.spec.ts
  functions/src/sleep/webhooks.ts
Due: lint-functions

chore: fix tests
  src/app/components/summaries/dashboard-manager-dialog/dashboard-manager-dialog.component.spec.ts
Due: lint-angular

chore: update indexes
  firestore.indexes.json
Due: none

chore: improve the tss stuff
  functions/src/derived-metrics/derived-metrics.service.spec.ts
  functions/src/derived-metrics/derived-metrics.service.ts
  src/app/components/charts/freshness-forecast/charts.freshness-forecast.component.spec.ts
  src/app/components/charts/freshness-forecast/charts.freshness-forecast.component.ts
  src/app/components/charts/kpi/charts.kpi.component.ts
Due: lint-functions, lint-angular

fix: order
  src/app/services/app.sleep.service.spec.ts
  src/app/services/app.sleep.service.ts
Due: lint-angular

chore: derived fixes
  src/app/services/dashboard-derived-metrics.service.spec.ts
  src/app/services/dashboard-derived-metrics.service.ts
Due: lint-angular

chore: improve sleep
  src/app/components/summaries/summaries.component.spec.ts
  src/app/components/summaries/summaries.component.ts
Due: lint-angular

chore: fixes
  src/app/components/charts/sleep-trend/charts.sleep-trend.component.spec.ts
  src/app/components/charts/sleep-trend/charts.sleep-trend.component.ts
Due: lint-angular

chore: hide sleep chart for now
  src/app/components/summaries/dashboard-manager-dialog/dashboard-manager-dialog.component.spec.ts
  src/app/helpers/dashboard-manager-presets.helper.spec.ts
  src/app/helpers/dashboard-manager-presets.helper.ts
  src/app/helpers/dashboard-special-chart-types.spec.ts
  src/app/helpers/dashboard-special-chart-types.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/app/utils/app.user.utilities.spec.ts
Due: lint-angular

chore: improve functions
  AGENTS.md
  functions/src/derived-metrics/derived-metrics.trigger.ts
  functions/src/events/cleanup.ts
Due: lint-functions

chore: improve sleep stuff
  docs/sleep-sync-operations.md
  functions/src/sleep/queue.spec.ts
  functions/src/sleep/queue.ts
  functions/src/sleep/webhooks.spec.ts
  functions/src/sleep/webhooks.ts
  src/app/helpers/dashboard-sleep-chart.helper.spec.ts
  src/app/helpers/dashboard-sleep-chart.helper.ts
Due: lint-functions, lint-angular

chore: improve sleep stuff
  functions/src/sleep/queue.spec.ts
  functions/src/sleep/queue.ts
Due: lint-functions

chore: improvements via PR feedback
  functions/src/sleep/provider-mappers.spec.ts
  functions/src/sleep/provider-mappers.ts
  functions/src/sleep/queue.spec.ts
  functions/src/sleep/queue.ts
  functions/src/suunto/activities.ts
  functions/src/suunto/authorization-header.ts
Due: lint-functions

chore: 50
  functions/src/derived-metrics/derived-metrics.trigger.ts
Due: lint-functions

chore: improve tss stuff
  functions/src/config.spec.ts
  functions/src/config.ts
  functions/src/derived-metrics/derived-metrics.service.spec.ts
  functions/src/derived-metrics/derived-metrics.service.ts
  functions/src/derived-metrics/derived-metrics.trigger.spec.ts
  functions/src/derived-metrics/derived-metrics.trigger.ts
  functions/src/derived-metrics/ensure-derived-metrics.spec.ts
  functions/src/derived-metrics/ensure-derived-metrics.ts
  functions/src/index.ts
  functions/src/shared/cloud-tasks-derived-metrics.spec.ts
  functions/src/shared/cloud-tasks.ts
  functions/src/tasks/derived-metrics-ingress-worker.spec.ts
  functions/src/tasks/derived-metrics-ingress-worker.ts
  functions/src/tasks/derived-metrics-worker.spec.ts
  functions/src/tasks/derived-metrics-worker.ts
  shared/derived-metrics.ts
  shared/functions-manifest.ts
  src/app/services/dashboard-derived-metrics.service.spec.ts
  src/app/services/dashboard-derived-metrics.service.ts
  src/app/shared/derived-metrics.shared.spec.ts
Due: lint-functions, lint-angular

chore: fixups
  functions/src/derived-metrics/derived-metrics.trigger.spec.ts
  functions/src/derived-metrics/derived-metrics.trigger.ts
  functions/src/shared/cloud-tasks-derived-metrics.spec.ts
  functions/src/shared/cloud-tasks.ts
Due: lint-functions

chore: fix for uid allow
  functions/src/derived-metrics/derived-metrics.trigger.spec.ts
  functions/src/derived-metrics/derived-metrics.trigger.ts
Due: lint-functions

chore: improvements
  functions/src/derived-metrics/derived-metrics.trigger.spec.ts
  functions/src/derived-metrics/derived-metrics.trigger.ts
Due: lint-functions

chore: sleep improvements
  functions/src/sleep/provider-mappers.spec.ts
  functions/src/sleep/provider-mappers.ts
  functions/src/sleep/queue.spec.ts
  functions/src/sleep/queue.ts
  functions/src/sleep/writer.spec.ts
  functions/src/sleep/writer.ts
Due: lint-functions

chore: new workout endpoint for suunto
  functions/src/queue.spec.ts
  functions/src/queue.ts
  functions/src/sleep/webhooks.ts
  functions/src/suunto/queue.spec.ts
  functions/src/suunto/queue.ts
  functions/src/suunto/webhook-signature.ts
  functions/src/test-setup.ts
Due: lint-functions

chore: fixes for PR feedback
  functions/src/queue.spec.ts
  functions/src/queue.ts
Due: lint-functions

chore: ui improvements
  .agent/rules/material-design-strict.md
  src/app/components/charts/efficiency-trend/charts.efficiency-trend.component.css
  src/app/components/charts/form/charts.form.component.css
  src/app/components/charts/form/charts.form.component.html
  src/app/components/charts/form/charts.form.component.spec.ts
  src/app/components/charts/form/charts.form.component.ts
  src/app/components/charts/freshness-forecast/charts.freshness-forecast.component.css
  src/app/components/charts/intensity-distribution/charts.intensity-distribution.component.css
  src/app/components/charts/kpi/charts.kpi.component.css
  src/app/components/charts/shared/chart-range-selector/chart-range-selector.component.css
  src/app/components/charts/shared/chart-range-selector/chart-range-selector.component.html
  src/app/components/charts/shared/chart-range-selector/chart-range-selector.component.spec.ts
  src/app/components/charts/shared/chart-range-selector/chart-range-selector.component.ts
  src/app/components/charts/sleep-trend/charts.sleep-trend.component.css
  src/app/components/charts/sleep-trend/charts.sleep-trend.component.html
  src/app/components/charts/sleep-trend/charts.sleep-trend.component.spec.ts
  src/app/components/charts/sleep-trend/charts.sleep-trend.component.ts
  src/app/components/summaries/summaries.component.html
  src/app/components/summaries/summaries.component.spec.ts
  src/app/components/summaries/summaries.component.ts
  src/app/components/tile/chart/tile.chart.component.css
  src/app/components/tile/chart/tile.chart.component.html
  src/app/components/tile/chart/tile.chart.component.spec.ts
  src/app/components/tile/chart/tile.chart.component.ts
  src/app/helpers/dashboard-sleep-chart.helper.spec.ts
  src/app/helpers/dashboard-sleep-chart.helper.ts
  src/app/helpers/dashboard-sleep-range.helper.ts
  src/app/models/app-user.interface.ts
  src/app/modules/app-charts.module.ts
  src/app/services/app.sleep.service.spec.ts
  src/app/services/app.sleep.service.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/app/utils/app.user.utilities.spec.ts
  src/app/utils/app.user.utilities.ts
Due: lint-angular

feature: backfill Suunto sleep
  functions/src/index.ts
  functions/src/sleep/backfill.spec.ts
  functions/src/sleep/backfill.ts
  functions/src/sleep/constants.ts
  functions/src/sleep/writer.ts
  shared/functions-manifest.ts
  shared/sleep-backfill.ts
  shared/sleep.ts
  src/app/components/history-import-form/history-import.form.component.css
  src/app/components/history-import-form/history-import.form.component.html
  src/app/components/history-import-form/history-import.form.component.spec.ts
  src/app/components/history-import-form/history-import.form.component.ts
  src/app/services/app.sleep.service.spec.ts
  src/app/services/app.sleep.service.ts
  src/app/services/app.user.service.spec.ts
  src/app/services/app.user.service.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

chore: ui fix
  src/app/components/history-import-form/history-import.form.component.css
  src/app/components/history-import-form/history-import.form.component.html
Due: lint-angular

chore: PR fixes
  functions/src/sleep/backfill.spec.ts
  functions/src/sleep/backfill.ts
  src/app/components/charts/shared/chart-range-selector/chart-range-selector.component.html
  src/app/components/charts/shared/chart-range-selector/chart-range-selector.component.spec.ts
  src/app/components/charts/sleep-trend/charts.sleep-trend.component.html
  src/app/components/charts/sleep-trend/charts.sleep-trend.component.spec.ts
  src/app/components/charts/sleep-trend/charts.sleep-trend.component.ts
  src/app/components/summaries/summaries.component.spec.ts
  src/app/components/summaries/summaries.component.ts
  src/app/helpers/dashboard-sleep-range.helper.ts
  src/app/models/app-user.interface.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

chore: improve haptic
  src/app/services/echarts-loader.service.spec.ts
  src/app/services/echarts-loader.service.ts
Due: lint-angular

chore: add analytics
  src/app/components/history-import-form/history-import.form.component.spec.ts
  src/app/components/history-import-form/history-import.form.component.ts
Due: lint-angular

chore: dates fix
  src/app/components/charts/sleep-trend/charts.sleep-trend.component.ts
  src/app/helpers/dashboard-sleep-chart.helper.spec.ts
  src/app/helpers/dashboard-sleep-chart.helper.ts
Due: lint-angular

feature: new dashboard mvp
  src/app/components/dashboard/dashboard.component.html
  src/app/components/dashboard/dashboard.component.spec.ts
  src/app/components/dashboard/dashboard.component.ts
  src/app/components/summaries/dashboard-manager-dialog/dashboard-manager-dialog.component.css
  src/app/components/summaries/dashboard-manager-dialog/dashboard-manager-dialog.component.html
  src/app/components/summaries/dashboard-manager-dialog/dashboard-manager-dialog.component.spec.ts
  src/app/components/summaries/dashboard-manager-dialog/dashboard-manager-dialog.component.ts
  src/app/components/summaries/summaries.component.html
  src/app/components/summaries/summaries.component.spec.ts
  src/app/components/summaries/summaries.component.ts
  src/app/components/tile/chart/tile.chart.component.css
  src/app/components/tile/chart/tile.chart.component.html
  src/app/components/tile/chart/tile.chart.component.spec.ts
  src/app/components/tile/chart/tile.chart.component.ts
  src/app/components/tile/event-filters/dashboard-tile-event-filters.component.css
  src/app/components/tile/event-filters/dashboard-tile-event-filters.component.html
  src/app/components/tile/event-filters/dashboard-tile-event-filters.component.ts
  src/app/components/tile/map/tile.map.component.css
  src/app/components/tile/map/tile.map.component.html
  src/app/components/tile/map/tile.map.component.spec.ts
  src/app/components/tile/map/tile.map.component.ts
  src/app/helpers/dashboard-manager-presets.helper.spec.ts
  src/app/helpers/dashboard-manager-presets.helper.ts
  src/app/helpers/dashboard-tile-event-filters.helper.spec.ts
  src/app/helpers/dashboard-tile-event-filters.helper.ts
  src/app/helpers/dashboard-tile-view-model.helper.spec.ts
  src/app/helpers/dashboard-tile-view-model.helper.ts
  src/app/models/app-user.interface.ts
  src/app/modules/dashboard.module.ts
  src/app/resolvers/dashboard.resolver.spec.ts
  src/app/resolvers/dashboard.resolver.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/app/utils/app.user.utilities.spec.ts
  src/app/utils/app.user.utilities.ts
Due: lint-angular

chore: policies improvements
  src/app/components/policies/policies.component.html
  src/app/components/policies/policies.component.scss
Due: lint-angular

fix: NOT_FOUND tread as fine
  functions/src/queue.spec.ts
  functions/src/queue.ts
Due: lint-functions

fix: queue issues
  functions/src/suunto/queue.spec.ts
  functions/src/suunto/queue.ts
Due: lint-functions

fix: dashboard charts not working well and hanging
  src/app/components/activity-types-multi-select/activity-types-multi-select.component.spec.ts
  src/app/components/activity-types-multi-select/activity-types-multi-select.component.ts
  src/app/components/dashboard/dashboard.component.spec.ts
  src/app/components/dashboard/dashboard.component.ts
Due: lint-angular

fix: tests
  functions/src/coros/history-to-queue.spec.ts
Due: lint-functions

chore: ui improvements
  src/app/components/summaries/dashboard-tile-board/dashboard-tile-board.component.css
  src/app/components/summaries/dashboard-tile-board/dashboard-tile-board.component.html
  src/app/components/summaries/dashboard-tile-board/dashboard-tile-board.component.spec.ts
  src/app/components/summaries/dashboard-tile-board/dashboard-tile-board.component.ts
  src/app/components/summaries/dashboard-tile-cell/dashboard-tile-cell.component.css
  src/app/components/summaries/dashboard-tile-cell/dashboard-tile-cell.component.html
  src/app/components/summaries/dashboard-tile-cell/dashboard-tile-cell.component.spec.ts
  src/app/components/summaries/dashboard-tile-cell/dashboard-tile-cell.component.ts
  src/app/components/summaries/summaries.component.css
  src/app/components/summaries/summaries.component.html
  src/app/components/summaries/summaries.component.spec.ts
  src/app/modules/dashboard.module.ts
Due: lint-angular

chore: ui
  src/app/components/dashboard/dashboard.component.html
  src/app/components/event-search/event-search.component.html
  src/app/components/event-search/event-search.component.scss
  src/app/components/event-search/event-search.component.spec.ts
  src/app/components/event-search/event-search.component.ts
  src/app/components/event-table/event.table.component.html
  src/app/components/event-table/event.table.component.scss
  src/app/components/event-table/event.table.component.spec.ts
  src/app/components/services/services.component.html
  src/app/components/services/services.component.scss
  src/app/components/services/services.component.spec.ts
  src/app/components/services/services.component.ts
  src/app/components/user-settings/user-settings.component.html
  src/app/components/user-settings/user-settings.component.scss
  src/app/components/user-settings/user-settings.component.spec.ts
  src/app/components/user-settings/user-settings.component.ts
  src/app/services/app.user.service.spec.ts
  src/app/services/app.user.service.ts
Due: lint-angular

chore: bump sl
  functions/package.json
  package.json
Due: none
