Repository jimmykane/quantified-self: changes, and which lefthook commands are due for each by the changed paths.
All: lint-functions, lint-angular

lint-functions:
  run: npx eslint {staged_files} --fix && git add {staged_files}

lint-angular:
  run: ESLINT_USE_FLAT_CONFIG=false npx eslint {staged_files} --fix && git add {staged_files}

fix: harden global migration checkpoints
  docs/sleep-sync-operations.md
  functions/src/health/sports-lib-data-global-migration.spec.ts
  functions/src/health/sports-lib-data-global-migration.ts
Due: lint-functions

feat: add copy action for settings user ID
  src/app/components/user-settings/user-settings.component.html
  src/app/components/user-settings/user-settings.component.scss
  src/app/components/user-settings/user-settings.component.spec.ts
  src/app/components/user-settings/user-settings.component.ts
Due: lint-angular

fix: replace unknown devices during reparse
  functions/src/reparse/SPORTS_LIB_REPARSE_RUNBOOK.md
  functions/src/reparse/sports-lib-reparse.service.spec.ts
  functions/src/reparse/sports-lib-reparse.service.ts
  shared/activity-creator-name.ts
  src/app/services/app.event.service.spec.ts
  src/app/services/app.event.service.ts
  src/app/services/app.original-file-hydration.service.spec.ts
  src/app/services/app.original-file-hydration.service.ts
Due: lint-functions, lint-angular

fix: simplify homepage history copy
  src/app/components/home/home.component.html
  src/app/components/home/home.component.spec.ts
Due: lint-angular

fix: clarify homepage data connections
  src/app/components/home/home.component.html
  src/app/components/home/home.component.scss
  src/app/components/home/home.component.spec.ts
Due: lint-angular

fix: preserve unresolved device placeholders
  docs/training-workspace.md
  functions/src/reparse/SPORTS_LIB_REPARSE_RUNBOOK.md
  functions/src/reparse/sports-lib-reparse.service.spec.ts
  functions/src/reparse/sports-lib-reparse.service.ts
  shared/activity-creator-name.ts
  src/app/services/app.event.service.ts
  src/app/services/app.original-file-hydration.service.ts
Due: lint-functions, lint-angular

fix: streamline homepage integration rows
  src/app/components/home/home.component.html
  src/app/components/home/home.component.scss
  src/app/components/home/home.component.spec.ts
Due: lint-angular

fix: improve homepage workout preview data
  src/app/components/event/chart/panel/event.card.chart.panel.component.spec.ts
  src/app/components/event/chart/panel/event.card.chart.panel.component.ts
  src/app/components/home/home-workout-preview.component.html
  src/app/components/home/home-workout-preview.component.spec.ts
  src/app/components/home/home-workout-preview.component.ts
Due: lint-angular

fix: use real heart rate preview data
  src/app/components/home/home-workout-preview.component.spec.ts
  src/app/components/home/home-workout-preview.component.ts
Due: lint-angular

fix: remove homepage export claim
  src/app/components/home/home.component.html
  src/app/components/home/home.component.spec.ts
Due: lint-angular

fix: preserve event edits during reparse
  functions/eslint.config.js
  functions/src/reparse/SPORTS_LIB_REPARSE_RUNBOOK.md
  functions/src/reparse/sports-lib-reparse.service.spec.ts
  functions/src/reparse/sports-lib-reparse.service.ts
Due: lint-functions

refactor: separate homepage MCP access
  src/app/components/home/home.component.html
  src/app/components/home/home.component.scss
  src/app/components/home/home.component.spec.ts
Due: lint-angular

fix: remove illustrative homepage labels
  src/app/components/home/home-dashboard-preview.component.html
  src/app/components/home/home-dashboard-preview.component.scss
  src/app/components/home/home-dashboard-preview.component.spec.ts
  src/app/components/home/home-signal-charts-preview.component.html
  src/app/components/home/home-signal-charts-preview.component.spec.ts
  src/app/components/home/home-signal-charts-preview.helper.ts
  src/app/components/home/home-workout-preview.component.ts
  src/app/components/home/home.component.html
  src/app/components/home/home.component.scss
  src/app/components/home/home.component.spec.ts
Due: lint-angular

chore: bump sports-lib to 20.3.1
  functions/package-lock.json
  functions/package.json
  package-lock.json
  package.json
Due: none

feat: expand homepage dashboard preview
  src/app/components/events-map/events-map.component.ts
  src/app/components/home/home-dashboard-preview.component.html
  src/app/components/home/home-dashboard-preview.component.scss
  src/app/components/home/home-dashboard-preview.component.spec.ts
  src/app/components/home/home-dashboard-preview.component.ts
  src/app/components/home/home.component.html
  src/app/components/home/home.component.scss
  src/app/components/home/home.component.spec.ts
  src/app/services/map/map-cluster-style.helper.ts
Due: lint-angular

fix: gate Health workspace entry points
  docs/unified-health-data.md
  src/app/components/sidenav/sidenav.component.html
  src/app/components/sidenav/sidenav.component.spec.ts
  src/app/components/summaries/summaries.component.html
  src/app/components/summaries/summaries.component.spec.ts
  src/app/components/summaries/summaries.component.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

refactor: move homepage TSS chart
  src/app/components/home/home-dashboard-preview.component.html
  src/app/components/home/home-dashboard-preview.component.scss
  src/app/components/home/home-dashboard-preview.component.spec.ts
  src/app/components/home/home-dashboard-preview.component.ts
  src/app/components/home/home-signal-charts-preview.component.html
  src/app/components/home/home-signal-charts-preview.component.scss
  src/app/components/home/home-signal-charts-preview.component.spec.ts
  src/app/components/home/home-signal-charts-preview.component.ts
  src/app/components/home/home.component.scss
Due: lint-angular

feat: animate homepage workout zoom
  src/app/components/home/home-workout-preview.component.html
  src/app/components/home/home-workout-preview.component.scss
  src/app/components/home/home-workout-preview.component.spec.ts
  src/app/components/home/home-workout-preview.component.ts
  src/app/components/home/home.component.html
  src/app/components/home/home.component.scss
  src/app/components/home/home.component.spec.ts
Due: lint-angular

fix: prevent homepage TSS label clipping
  src/app/components/home/home-signal-charts-preview.component.scss
Due: none

fix: align homepage dashboard CTA
  src/app/components/home/home.component.html
  src/app/components/home/home.component.spec.ts
Due: lint-angular

feat: add admin controls for event reparse
  functions/src/admin/handlers/queues.handlers.ts
  functions/src/admin/handlers/reparse-settings.handlers.ts
  functions/src/admin/index.ts
  functions/src/admin/queues.handlers.spec.ts
  functions/src/admin/reparse-settings.handlers.spec.ts
  functions/src/admin/shared/types.ts
  functions/src/admin/test-utils/admin-test-harness.ts
  functions/src/index.ts
  functions/src/reparse/SPORTS_LIB_REPARSE_RUNBOOK.md
  functions/src/reparse/sports-lib-reparse.config.spec.ts
  functions/src/reparse/sports-lib-reparse.config.ts
  functions/src/reparse/sports-lib-reparse.service.ts
  functions/src/schedule/sports-lib-reparse.spec.ts
  functions/src/schedule/sports-lib-reparse.ts
  shared/admin-queue-stats.ts
  shared/functions-manifest.ts
  src/app/components/admin/admin-queue-monitor/admin-queue-monitor.component.html
  src/app/components/admin/admin-queue-stats/admin-queue-stats.component.html
  src/app/components/admin/admin-queue-stats/admin-queue-stats.component.scss
  src/app/components/admin/admin-queue-stats/admin-queue-stats.component.spec.ts
  src/app/components/admin/admin-queue-stats/admin-queue-stats.component.ts
  src/app/services/admin.service.spec.ts
  src/app/services/admin.service.ts
Due: lint-functions, lint-angular

feat: animate homepage chart previews
  src/app/components/charts/form/charts.form.component.spec.ts
  src/app/components/charts/form/charts.form.component.ts
  src/app/components/home/home-signal-charts-preview.component.html
  src/app/components/home/home-signal-charts-preview.component.scss
  src/app/components/home/home-signal-charts-preview.component.spec.ts
  src/app/components/home/home-signal-charts-preview.component.ts
  src/app/components/home/home-workout-preview.component.spec.ts
  src/app/components/home/home-workout-preview.component.ts
Due: lint-angular

fix: harden event reparse admin controls
  functions/src/admin/handlers/queues.handlers.ts
  functions/src/admin/queues.handlers.spec.ts
  functions/src/reparse/SPORTS_LIB_REPARSE_RUNBOOK.md
  functions/src/reparse/sports-lib-reparse.config.ts
  functions/src/schedule/sports-lib-reparse.spec.ts
  functions/src/schedule/sports-lib-reparse.ts
  shared/admin-queue-stats.ts
  src/app/components/admin/admin-queue-monitor/admin-queue-monitor.component.html
  src/app/components/admin/admin-queue-monitor/admin-queue-monitor.component.spec.ts
  src/app/components/admin/admin-queue-monitor/admin-queue-monitor.component.ts
  src/app/components/admin/admin-queue-stats/admin-queue-stats.component.html
  src/app/components/admin/admin-queue-stats/admin-queue-stats.component.scss
  src/app/components/admin/admin-queue-stats/admin-queue-stats.component.spec.ts
  src/app/components/admin/admin-queue-stats/admin-queue-stats.component.ts
Due: lint-functions, lint-angular

refactor: reuse shared homepage charts
  src/app/components/home/home-signal-charts-preview.component.html
  src/app/components/home/home-signal-charts-preview.component.scss
  src/app/components/home/home-signal-charts-preview.component.spec.ts
  src/app/components/home/home-signal-charts-preview.component.ts
  src/app/components/home/home-signal-charts-preview.helper.ts
  src/app/components/home/home.component.html
  src/app/components/home/home.component.spec.ts
Due: lint-angular

fix: confirm event reparse setting changes
  src/app/components/admin/admin-queue-stats/admin-queue-stats.component.html
  src/app/components/admin/admin-queue-stats/admin-queue-stats.component.spec.ts
  src/app/components/admin/admin-queue-stats/admin-queue-stats.component.ts
Due: lint-angular

fix: harden shared homepage chart previews
  src/app/components/charts/efficiency-trend/charts.efficiency-trend.component.ts
  src/app/components/charts/form/charts.form.component.ts
  src/app/components/charts/freshness-forecast/charts.freshness-forecast.component.ts
  src/app/components/charts/intensity-distribution/charts.intensity-distribution.component.ts
  src/app/components/charts/power-curve/charts.power-curve.component.spec.ts
  src/app/components/charts/power-curve/charts.power-curve.component.ts
  src/app/components/home/home-signal-charts-preview-data.helper.spec.ts
  src/app/components/home/home-signal-charts-preview-data.helper.ts
  src/app/components/home/home-signal-charts-preview.component.html
  src/app/components/home/home-signal-charts-preview.component.scss
  src/app/components/home/home-signal-charts-preview.component.spec.ts
  src/app/components/home/home-signal-charts-preview.component.ts
Due: lint-angular

fix: harden homepage charts for prerendering
  src/app/components/charts/intensity-distribution/charts.intensity-distribution.component.spec.ts
  src/app/components/charts/intensity-distribution/charts.intensity-distribution.component.ts
  src/app/components/home/home-signal-charts-preview-data.helper.spec.ts
  src/app/components/home/home-signal-charts-preview-data.helper.ts
  src/app/components/home/home-signal-charts-preview.component.html
  src/app/components/home/home-signal-charts-preview.component.spec.ts
  src/app/components/home/home-signal-charts-preview.component.ts
  src/app/components/home/home.component.html
  src/app/components/home/home.component.scss
  src/app/components/home/home.component.spec.ts
  src/app/helpers/echarts-host-controller.spec.ts
  src/app/helpers/echarts-host-controller.ts
  src/app/services/echarts-loader.service.spec.ts
  src/app/services/echarts-loader.service.ts
Due: lint-angular

feat: show available Health metrics
  docs/unified-health-data.md
  src/app/components/health/health-priority-summary.component.html
  src/app/components/health/health-priority-summary.component.ts
  src/app/components/health/health-workspace.component.html
  src/app/components/health/health-workspace.component.scss
  src/app/components/health/health-workspace.component.spec.ts
  src/app/components/health/health-workspace.component.ts
  src/app/helpers/health-workspace.helper.spec.ts
  src/app/helpers/health-workspace.helper.ts
  src/app/services/app.health.service.spec.ts
  src/app/services/app.health.service.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

refactor: slim deferred homepage charts
  src/app/components/home/home-signal-charts-preview.component.ts
  src/app/components/home/home.component.html
  src/app/components/home/home.component.spec.ts
  src/app/modules/app-chart-shared.module.ts
  src/app/modules/app-charts.module.ts
  src/app/modules/app-signal-charts.module.ts
  src/app/modules/shared.module.ts
  tools/verify-public-initial-output.mjs
Due: lint-angular

fix: keep Health availability domains independent
  docs/unified-health-data.md
  src/app/components/health/health-workspace.component.html
  src/app/components/health/health-workspace.component.spec.ts
  src/app/components/health/health-workspace.component.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

refactor: share training summary presentation
  docs/training-workspace.md
  src/app/components/home/home.component.html
  src/app/components/home/home.component.scss
  src/app/components/home/home.component.spec.ts
  src/app/components/home/home.component.ts
  src/app/components/shared/training-summary/training-metric-grid.component.html
  src/app/components/shared/training-summary/training-metric-grid.component.scss
  src/app/components/shared/training-summary/training-metric-grid.component.spec.ts
  src/app/components/shared/training-summary/training-metric-grid.component.ts
  src/app/components/shared/training-summary/training-summary-cards.component.html
  src/app/components/shared/training-summary/training-summary-cards.component.scss
  src/app/components/shared/training-summary/training-summary-cards.component.spec.ts
  src/app/components/shared/training-summary/training-summary-cards.component.ts
  src/app/components/shared/training-summary/training-summary.models.ts
  src/app/components/training/training-workspace.component.html
  src/app/components/training/training-workspace.component.scss
  src/app/components/training/training-workspace.component.spec.ts
  src/app/components/training/training-workspace.component.ts
  src/app/modules/training.module.ts
Due: lint-angular

feat: offer Health history imports
  docs/unified-health-data.md
  src/app/components/health/health-workspace.component.html
  src/app/components/health/health-workspace.component.scss
  src/app/components/health/health-workspace.component.spec.ts
  src/app/components/health/health-workspace.component.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: harden shared training summary
  src/app/components/shared/training-summary/training-summary-cards.component.html
  src/app/components/shared/training-summary/training-summary-cards.component.scss
  src/app/components/shared/training-summary/training-summary-cards.component.spec.ts
Due: lint-angular

fix: harden Health history actions
  docs/unified-health-data.md
  src/app/components/health/health-workspace.component.spec.ts
  src/app/components/health/health-workspace.component.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: stabilize homepage animations
  src/app/components/home/home-workout-preview.component.spec.ts
  src/app/components/home/home-workout-preview.component.ts
  src/app/components/home/home.component.scss
  src/app/components/home/home.component.spec.ts
  src/app/components/home/home.component.ts
Due: lint-angular

feat: add Today Health range
  docs/unified-health-data.md
  src/app/components/health/health-workspace.component.html
  src/app/components/health/health-workspace.component.scss
  src/app/components/health/health-workspace.component.spec.ts
  src/app/components/health/health-workspace.component.ts
  src/app/helpers/health-workspace.helper.spec.ts
  src/app/helpers/health-workspace.helper.ts
  src/app/models/app-user.interface.ts
  src/app/services/app.user-settings-query.service.spec.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: align Health windows to local days
  src/app/helpers/health-workspace.helper.spec.ts
  src/app/helpers/health-workspace.helper.ts
Due: lint-angular

refactor: unify homepage compact rows
  src/app/components/home/home.component.html
  src/app/components/home/home.component.scss
  src/app/components/home/home.component.spec.ts
  src/app/components/home/home.component.ts
  src/app/components/shared/compact-feature-row/compact-feature-row.component.html
  src/app/components/shared/compact-feature-row/compact-feature-row.component.scss
  src/app/components/shared/compact-feature-row/compact-feature-row.component.spec.ts
  src/app/components/shared/compact-feature-row/compact-feature-row.component.ts
Due: lint-angular

fix: scale intensity distribution by zone time
  docs/training-workspace.md
  src/app/components/charts/intensity-distribution/charts.intensity-distribution.component.html
  src/app/components/charts/intensity-distribution/charts.intensity-distribution.component.spec.ts
  src/app/components/charts/intensity-distribution/charts.intensity-distribution.component.ts
  src/app/components/summaries/dashboard-manager-dialog/dashboard-manager-dialog.component.ts
  src/app/helpers/dashboard-chart-info.helper.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: enable homepage chart interactions
  src/app/components/charts/kpi/charts.kpi.component.spec.ts
  src/app/components/charts/kpi/charts.kpi.component.ts
  src/app/components/event/chart/panel/event.card.chart.panel.component.spec.ts
  src/app/components/event/chart/panel/event.card.chart.panel.component.ts
  src/app/components/home/home-dashboard-preview.component.html
  src/app/components/home/home-dashboard-preview.component.scss
  src/app/components/home/home-dashboard-preview.component.spec.ts
  src/app/components/home/home-dashboard-preview.component.ts
  src/app/components/home/home-signal-charts-preview.component.html
  src/app/components/home/home-signal-charts-preview.component.scss
  src/app/components/home/home-signal-charts-preview.component.spec.ts
  src/app/components/home/home-signal-charts-preview.component.ts
  src/app/components/home/home-workout-preview.component.html
  src/app/components/home/home-workout-preview.component.scss
  src/app/components/home/home-workout-preview.component.spec.ts
  src/app/components/home/home-workout-preview.component.ts
Due: lint-angular

Path conditions:
  lint-functions: any of: **/*.{ts,js} and ^functions/
  lint-angular: any of: {src/*.{ts,html},src/**/*.{ts,html}}
