Repository jimmykane/quantified-self: changes, and which lefthook commands are due for each by the changed paths.
All: lint-functions, lint-angular

lint-functions:
  run: npx eslint {staged_files} --fix && git add {staged_files}

lint-angular:
  run: ESLINT_USE_FLAT_CONFIG=false npx eslint {staged_files} --fix && git add {staged_files}

chore: update sports-lib to 21.2.4
  docs/training-workspace.md
  functions/package-lock.json
  functions/package.json
  package-lock.json
  package.json
Due: none

feat: surface completed planned workouts
  docs/training-workspace.md
  src/app/components/calendar/activity-calendar-grid/activity-calendar-grid.component.html
  src/app/components/calendar/activity-calendar-tile/activity-calendar-tile.component.spec.ts
  src/app/components/calendar/activity-calendar-tile/activity-calendar-tile.component.ts
  src/app/components/calendar/calendar-day-details/calendar-day-details.component.spec.ts
  src/app/components/calendar/calendar-day-details/calendar-day-details.component.ts
  src/app/components/calendar/calendar-page/calendar-page.component.spec.ts
  src/app/components/calendar/calendar-page/calendar-page.component.ts
  src/app/components/plans/plan-schedule-calendar.component.html
  src/app/components/plans/plan-schedule-calendar.component.scss
  src/app/components/plans/plan-schedule-calendar.component.spec.ts
  src/app/components/plans/plans-workspace.component.html
  src/app/components/plans/plans-workspace.component.spec.ts
  src/app/components/plans/plans-workspace.component.ts
  src/app/components/public-seo/training-plans-preview.component.html
  src/app/components/public-seo/training-plans-preview.component.spec.ts
  src/app/components/public-seo/training-plans-preview.component.ts
  src/app/components/public-seo/training-plans-preview.data.spec.ts
  src/app/components/public-seo/training-plans-preview.data.ts
  src/app/helpers/planned-workout-calendar.helper.spec.ts
  src/app/helpers/planned-workout-calendar.helper.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: contain homepage provider matrix
  src/app/components/home/home.component.scss
  src/app/components/home/home.component.spec.ts
  src/app/components/shared/provider-data-flow-matrix/provider-data-flow-matrix.component.html
  src/app/components/shared/provider-data-flow-matrix/provider-data-flow-matrix.component.scss
  src/app/components/shared/provider-data-flow-matrix/provider-data-flow-matrix.component.spec.ts
Due: lint-angular

chore: align functions fit parser
  functions/package-lock.json
  functions/package.json
Due: none

fix: fence Suunto refresh lifecycle
  docs/suunto-integration.md
  functions/src/suunto/health-sync.spec.ts
  functions/src/suunto/health-sync.ts
  functions/src/suunto/health-webhook-binding-lifecycle.spec.ts
  functions/src/suunto/health-webhook-binding-lifecycle.ts
Due: lint-functions

fix: restore assistant training access
  docs/assistant.md
  docs/mcp-server.md
  docs/training-workspace.md
  functions/src/assistant/callable.spec.ts
  functions/src/assistant/callable.ts
  functions/src/mcp/training-plans.emulator.spec.ts
  functions/src/mcp/training-plans.service.ts
  src/app/components/assistant/assistant-page.component.spec.ts
  src/app/components/assistant/assistant-page.component.ts
  src/app/services/assistant.service.spec.ts
  src/app/services/assistant.service.ts
Due: lint-functions, lint-angular

fix: clarify assistant training access
  docs/assistant.md
  docs/training-workspace.md
  src/app/components/assistant/assistant-explore-bottom-sheet.component.html
  src/app/components/assistant/assistant-explore-bottom-sheet.component.scss
  src/app/components/assistant/assistant-explore-bottom-sheet.component.spec.ts
  src/app/components/assistant/assistant-explore-bottom-sheet.component.ts
  src/app/components/assistant/assistant-page.component.html
  src/app/components/assistant/assistant-page.component.scss
  src/app/components/assistant/assistant-page.component.spec.ts
  src/app/components/assistant/assistant-page.component.ts
  src/app/services/assistant.service.spec.ts
  src/app/services/assistant.service.ts
Due: lint-angular

fix: improve activity table empty state
  src/app/components/event-actions/event.actions.component.html
  src/app/components/event-actions/event.actions.component.spec.ts
  src/app/components/event-actions/event.actions.component.ts
  src/app/components/event-search/event-search.component.html
  src/app/components/event-search/event-search.component.spec.ts
  src/app/components/event-search/event-search.component.ts
  src/app/components/event-table/event.table.component.html
  src/app/components/event-table/event.table.component.scss
  src/app/components/event-table/event.table.component.spec.ts
  src/app/components/event-table/event.table.component.ts
  src/app/components/event-table/merge-options-dialog/merge-options-dialog.component.html
  src/app/components/event-table/merge-options-dialog/merge-options-dialog.component.spec.ts
  src/app/components/event-tags/event-tags-bulk-dialog.component.html
  src/app/components/event-tags/event-tags-bulk-dialog.component.spec.ts
  src/app/components/event-tags/event-tags-bulk-dialog.component.ts
  src/app/components/event-tags/event-tags-dialog.component.spec.ts
  src/app/components/event-tags/event-tags-dialog.component.ts
  src/app/components/loading/shade.component.css
  src/app/components/loading/shade.component.spec.ts
  src/app/services/app.event-merge.service.spec.ts
  src/app/services/app.event-merge.service.ts
Due: lint-angular

fix: clarify Suunto Guide delivery visibility
  docs/provider-integration-guide.md
  docs/suunto-integration.md
  docs/training-workspace.md
  functions/src/assistant/evidence.spec.ts
  functions/src/assistant/evidence.ts
  functions/src/training-plans/delivery/runtime.spec.ts
  functions/src/training-plans/delivery/suunto/transport.spec.ts
  functions/src/training-plans/delivery/suunto/transport.ts
  shared/training-delivery-summary.ts
  src/app/components/plans/training-delivery-button.component.spec.ts
  src/app/components/plans/training-delivery-dialog.component.html
  src/app/components/plans/training-delivery-dialog.component.spec.ts
  src/app/components/plans/training-delivery-dialog.component.ts
  src/app/helpers/training-delivery-display.helper.spec.ts
  src/app/helpers/training-delivery-display.helper.ts
  src/app/helpers/training-delivery-summary.helper.spec.ts
  src/app/helpers/training-verification-display.helper.spec.ts
  src/app/helpers/training-verification-display.helper.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

fix: harden Suunto delivery status semantics
  docs/suunto-integration.md
  docs/training-workspace.md
  functions/src/training-plans/delivery/suunto/suunto.emulator.spec.ts
  functions/src/training-plans/delivery/suunto/transport.spec.ts
  functions/src/training-plans/delivery/suunto/transport.ts
  shared/training-delivery-summary.ts
  src/app/helpers/training-delivery-summary.helper.spec.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

feat: enable Wahoo planned workout delivery
  docs/mcp-server.md
  docs/provider-integration-guide.md
  docs/training-workspace.md
  docs/wahoo-integration.md
  functions/src/mcp/training-plans.schemas.spec.ts
  functions/src/training-plans/delivery/mapping.spec.ts
  functions/src/training-plans/delivery/runtime.spec.ts
  functions/src/training-plans/providers/provider-mapping.spec.ts
  shared/planned-workout-providers.ts
  shared/training-delivery-rollout.ts
  src/app/components/home/home.component.spec.ts
  src/app/components/integrations/integration-pages.content.spec.ts
  src/app/components/integrations/integration-pages.content.ts
  src/app/components/pricing/pricing.component.html
  src/app/components/pricing/pricing.component.spec.ts
  src/app/components/public-pricing/public-pricing.component.spec.ts
  src/app/components/public-pricing/public-pricing.component.ts
  src/app/components/public-seo/public-seo-page.component.spec.ts
  src/app/components/public-seo/public-seo-pages.content.ts
  src/app/components/public-seo/training-plans-home.content.ts
  src/app/components/services/wahoo/services.wahoo.component.html
  src/app/components/services/wahoo/services.wahoo.component.spec.ts
  src/app/components/services/wahoo/services.wahoo.component.ts
  src/app/helpers/training-delivery-rollout.spec.ts
  src/app/services/training-delivery.service.spec.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/app/shared/policies.content.spec.ts
  src/app/shared/policies.content.ts
Due: lint-functions, lint-angular

docs: align Wahoo rollout guidance
  docs/provider-integration-guide.md
  functions/src/training-plans/delivery/runtime.ts
  functions/src/training-plans/delivery/wahoo/mapping.ts
  shared/planned-workout-providers.ts
Due: lint-functions

refactor: batch Suunto health record writes
  docs/provider-integration-guide.md
  docs/suunto-integration.md
  functions/src/health/writer.spec.ts
  functions/src/health/writer.ts
  functions/src/sleep/queue.spec.ts
  functions/src/sleep/queue.ts
Due: lint-functions

fix: keep Suunto health retries transaction-scoped
  docs/provider-integration-guide.md
  docs/suunto-integration.md
  functions/src/health/writer.spec.ts
  functions/src/health/writer.ts
  functions/src/sleep/queue.spec.ts
  functions/src/sleep/queue.ts
Due: lint-functions

feat: enable planned workout delivery for all providers
  docs/coros-integration.md
  docs/garmin-integration.md
  docs/mcp-server.md
  docs/provider-integration-guide.md
  docs/suunto-integration.md
  docs/training-workspace.md
  functions/src/training-plans/delivery/delivery.emulator.spec.ts
  functions/src/training-plans/delivery/garmin/transport.ts
  functions/src/training-plans/delivery/mapping.spec.ts
  functions/src/training-plans/delivery/runtime.spec.ts
  functions/src/training-plans/providers/provider-mapping.spec.ts
  shared/planned-workout-providers.ts
  shared/training-delivery-rollout.ts
  src/app/components/home/home.component.spec.ts
  src/app/components/integrations/integration-pages.content.spec.ts
  src/app/components/integrations/integration-pages.content.ts
  src/app/components/plans/training-delivery-button.component.ts
  src/app/components/plans/training-delivery-dialog.component.html
  src/app/components/plans/training-delivery-dialog.component.spec.ts
  src/app/components/plans/training-delivery-dialog.component.ts
  src/app/components/pricing/pricing.component.html
  src/app/components/pricing/pricing.component.spec.ts
  src/app/components/public-pricing/public-pricing.component.spec.ts
  src/app/components/public-pricing/public-pricing.component.ts
  src/app/components/public-seo/public-seo-page.component.spec.ts
  src/app/components/public-seo/public-seo-pages.content.ts
  src/app/components/public-seo/training-plans-home.content.ts
  src/app/helpers/training-delivery-rollout.spec.ts
  src/app/services/training-delivery.service.spec.ts
  src/app/services/training-delivery.service.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/app/shared/policies.content.spec.ts
  src/app/shared/policies.content.ts
Due: lint-functions, lint-angular

fix: align provider rollout claims and SEO metadata
  docs/mcp-server.md
  docs/provider-integration-guide.md
  docs/training-workspace.md
  functions/src/training-plans/delivery/runtime.ts
  shared/planned-workout-providers.ts
  src/app/components/integrations/integration-pages.content.spec.ts
  src/app/components/integrations/integration-pages.content.ts
Due: lint-functions, lint-angular

docs: remove stale provider rollout wording
  docs/provider-integration-guide.md
  docs/training-workspace.md
Due: none

fix: restore production bundle budget
  docs/training-workspace.md
  functions/package-lock.json
  functions/package.json
  package-lock.json
  package.json
  src/app/shared/adapters/date-locale.config.spec.ts
  src/app/shared/adapters/date-locale.config.ts
  src/main.server.ts
  src/main.ts
  tools/verify-public-initial-output.mjs
Due: lint-angular

test: align training plans launch expectations
  src/app/app.routing.module.spec.ts
  src/app/components/calendar/calendar-month-picker-bottom-sheet/calendar-month-picker-bottom-sheet.component.spec.ts
  src/app/components/integrations/provider-integration-page.component.spec.ts
  src/app/components/public-seo/public-feature-preview.component.spec.ts
Due: lint-angular

feat: add MCP tag and Timeline note writes
  .agent/skills/mcp-metric-surface/SKILL.md
  docs/assistant.md
  docs/mcp-server.md
  docs/timeline-notes.md
  functions/src/mcp/content-write.emulator.spec.ts
  functions/src/mcp/content-write.schemas.spec.ts
  functions/src/mcp/content-write.schemas.ts
  functions/src/mcp/content-write.service.ts
  functions/src/mcp/contract-compatibility.ts
  functions/src/mcp/contracts/pending-change.json
  functions/src/mcp/data.service.ts
  functions/src/mcp/oauth.service.spec.ts
  functions/src/mcp/oauth.service.ts
  functions/src/mcp/server.spec.ts
  functions/src/mcp/server.ts
  functions/src/mcp/tool-output-schemas.spec.ts
  functions/src/mcp/tool-output-schemas.ts
  functions/src/timeline-notes/mutations.ts
  plugins/quantified-self/skills/analyze-quantified-self-activity/SKILL.md
  plugins/quantified-self/skills/analyze-quantified-self-activity/agents/openai.yaml
  plugins/quantified-self/skills/analyze-quantified-self/SKILL.md
  plugins/quantified-self/skills/analyze-quantified-self/agents/openai.yaml
  src/app/components/home/home.component.html
  src/app/components/home/home.component.spec.ts
  src/app/components/mcp-authorization/mcp-authorization.component.spec.ts
  src/app/components/mcp-connections/mcp-connections.component.html
  src/app/components/mcp-connections/mcp-connections.component.spec.ts
  src/app/components/mcp-connections/mcp-connections.component.ts
  src/app/components/public-seo/public-seo-page.component.spec.ts
  src/app/components/public-seo/public-seo-pages.content.spec.ts
  src/app/components/public-seo/public-seo-pages.content.ts
  src/app/components/shared/mcp-read-only-flow-preview/mcp-read-only-flow-preview.component.html
  src/app/components/shared/mcp-read-only-flow-preview/mcp-read-only-flow-preview.component.spec.ts
  src/app/helpers/mcp-permissions.helper.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/app/shared/policies.content.spec.ts
  src/app/shared/policies.content.ts
  src/sitemap.xml
Due: lint-functions, lint-angular

fix: harden MCP content write contracts
  functions/src/assistant/mcp-session.spec.ts
  functions/src/mcp/content-write.emulator.spec.ts
  functions/src/mcp/content-write.schemas.spec.ts
  functions/src/mcp/content-write.schemas.ts
  functions/src/mcp/content-write.service.ts
  functions/src/mcp/contracts/pending-change.json
  functions/src/mcp/oauth.service.spec.ts
  functions/src/mcp/oauth.service.ts
  functions/src/mcp/server.ts
  functions/src/mcp/tool-output-schemas.spec.ts
  plugins/quantified-self/plugin.template.json
  src/app/app.routing.module.spec.ts
  src/app/app.routing.module.ts
  src/app/components/public-pricing/public-pricing.component.spec.ts
Due: lint-functions, lint-angular

fix: request Suunto FIT downloads with wildcard accept
  docs/provider-integration-guide.md
  functions/src/suunto/fit-download.spec.ts
  functions/src/suunto/fit-download.ts
Due: lint-functions

fix: gate COROS plan sync in the UI
  docs/coros-integration.md
  docs/provider-integration-guide.md
  docs/training-workspace.md
  src/app/app.routing.module.spec.ts
  src/app/components/home/home.component.spec.ts
  src/app/components/integrations/integration-pages.content.spec.ts
  src/app/components/integrations/integration-pages.content.ts
  src/app/components/plans/training-delivery-button.component.spec.ts
  src/app/components/plans/training-delivery-button.component.ts
  src/app/components/plans/training-delivery-dialog.component.html
  src/app/components/plans/training-delivery-dialog.component.spec.ts
  src/app/components/plans/training-delivery-dialog.component.ts
  src/app/components/public-seo/public-seo-page.component.spec.ts
  src/app/components/public-seo/public-seo-pages.content.ts
  src/app/components/public-seo/training-plans-home.content.ts
  src/app/services/training-delivery.service.spec.ts
  src/app/services/training-delivery.service.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/app/shared/policies.content.spec.ts
  src/app/shared/policies.content.ts
  tools/verify-public-initial-output.mjs
Due: lint-angular

feat: add Assistant tag and note changes
  .agent/skills/mcp-metric-surface/SKILL.md
  docs/assistant.md
  docs/mcp-server.md
  docs/timeline-notes.md
  functions/src/assistant/callable.spec.ts
  functions/src/assistant/callable.ts
  functions/src/assistant/content-proposal.spec.ts
  functions/src/assistant/content-proposal.ts
  functions/src/assistant/conversation-store.spec.ts
  functions/src/assistant/conversation-store.ts
  functions/src/assistant/mcp-session.spec.ts
  functions/src/assistant/mcp-session.ts
  functions/src/assistant/runtime.spec.ts
  functions/src/assistant/runtime.ts
  functions/src/mcp/content-write.emulator.spec.ts
  functions/src/mcp/content-write.service.ts
  functions/src/mcp/server.ts
  shared/assistant-response.contract.ts
  shared/assistant.types.ts
  src/app/components/assistant/assistant-explore-bottom-sheet.component.html
  src/app/components/assistant/assistant-explore-bottom-sheet.component.spec.ts
  src/app/components/assistant/assistant-explore-bottom-sheet.component.ts
  src/app/components/assistant/assistant-page.component.html
  src/app/components/assistant/assistant-page.component.scss
  src/app/components/assistant/assistant-page.component.spec.ts
  src/app/components/assistant/assistant-page.component.ts
  src/app/services/assistant.service.ts
  src/app/shared/assistant-response.contract.spec.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/app/shared/policies.content.spec.ts
  src/app/shared/policies.content.ts
Due: lint-functions, lint-angular

fix: harden Assistant content change reviews
  docs/assistant.md
  functions/src/assistant/callable.spec.ts
  functions/src/assistant/callable.ts
  functions/src/assistant/content-proposal.spec.ts
  functions/src/assistant/content-proposal.ts
  functions/src/assistant/conversation-store.spec.ts
  functions/src/assistant/conversation-store.ts
  functions/src/mcp/content-write.emulator.spec.ts
  functions/src/mcp/content-write.service.ts
  src/app/components/assistant/assistant-page.component.html
  src/app/components/assistant/assistant-page.component.spec.ts
  src/app/components/assistant/assistant-page.component.ts
Due: lint-functions, lint-angular

fix: mark COROS workout delivery coming soon
  docs/coros-integration.md
  docs/mcp-server.md
  docs/provider-integration-guide.md
  docs/training-workspace.md
  src/app/app.routing.module.spec.ts
  src/app/components/home/home.component.spec.ts
  src/app/components/integrations/integration-pages.content.spec.ts
  src/app/components/integrations/integration-pages.content.ts
  src/app/components/plans/training-delivery-dialog.component.html
  src/app/components/plans/training-delivery-dialog.component.spec.ts
  src/app/components/plans/training-delivery-dialog.component.ts
  src/app/components/public-seo/public-seo-page.component.spec.ts
  src/app/components/public-seo/public-seo-pages.content.ts
  src/app/components/public-seo/training-plans-home.content.ts
  src/app/services/training-delivery.service.spec.ts
  src/app/services/training-delivery.service.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/app/shared/policies.content.spec.ts
  src/app/shared/policies.content.ts
  tools/verify-public-initial-output.mjs
Due: lint-angular

fix: align COROS integration delivery summary
  src/app/components/integrations/integration-pages.content.spec.ts
  src/app/components/integrations/integration-pages.content.ts
Due: lint-angular

test: align sitemap modification dates
  src/firebase-hosting.config.spec.ts
Due: lint-angular

fix: report idempotent event tag writes accurately
  functions/src/assistant/callable.spec.ts
  functions/src/assistant/callable.ts
  functions/src/mcp/content-write.emulator.spec.ts
  functions/src/mcp/content-write.service.ts
  functions/src/mcp/data.service.ts
Due: lint-functions

fix: compact plan sync summary on mobile
  docs/training-workspace.md
  src/app/components/plans/training-delivery-button.component.html
  src/app/components/plans/training-delivery-button.component.scss
Due: lint-angular

chore: remove unused Firestore rules helper
  firestore.rules
Due: none

chore: bump app version to 10.14.2
  package-lock.json
  package.json
Due: none

chore: bump app version to 10.15.0
  package-lock.json
  package.json
Due: none

fix: explain empty plan sync summary
  docs/training-workspace.md
  src/app/components/plans/training-delivery-button.component.html
  src/app/components/plans/training-delivery-button.component.scss
  src/app/components/plans/training-delivery-button.component.spec.ts
  src/app/components/plans/training-delivery-button.component.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

feat: guide MCP permission recovery
  docs/mcp-server.md
  functions/src/mcp/contracts/pending-change.json
  functions/src/mcp/http-protocol.spec.ts
  functions/src/mcp/server.spec.ts
  functions/src/mcp/server.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/firebase-hosting.config.spec.ts
  src/sitemap.xml
Due: lint-functions, lint-angular

fix: harden marketing campaign cleanup and CI coverage
  functions/src/admin/marketing/marketing.emulator.spec.ts
  functions/src/admin/marketing/service.ts
  functions/src/admin/test-utils/admin-test-harness.ts
  functions/src/deployment-secret-safety.spec.ts
  functions/src/email/marketing-content.spec.ts
  functions/src/email/marketing-content.ts
  functions/src/secrets.spec.ts
  functions/src/users/admin-filtering.spec.ts
  functions/src/users/cleanup.spec.ts
  functions/src/users/cleanup.ts
Due: lint-functions

fix: register marketing admin route across render surfaces
  ngsw-config.json
  src/app/app.routes.server.ts
  src/firebase-hosting.config.spec.ts
Due: lint-angular

fix: harden marketing campaign recovery and dispatch
  docs/email-lifecycle.md
  functions/src/admin/marketing/marketing.emulator.spec.ts
  functions/src/admin/marketing/service.ts
  src/app/components/admin/admin-marketing/admin-marketing.component.html
  src/app/components/admin/admin-marketing/admin-marketing.component.spec.ts
  src/app/components/admin/admin-marketing/admin-marketing.component.ts
Due: lint-functions, lint-angular

Path conditions:
  lint-functions: any of: **/*.{ts,js} and ^functions/
  lint-angular: any of: {src/*.{ts,html},src/**/*.{ts,html}}
