Repository jimmykane/quantified-self: changes, and which lefthook commands are due for each by the changed paths.
All: lint-functions, lint-angular

lint-functions:
  run: npx eslint {staged_files} --fix && git add {staged_files}

lint-angular:
  run: ESLINT_USE_FLAT_CONFIG=false npx eslint {staged_files} --fix && git add {staged_files}

fix: review Garmin missing-workout replacement safely
  docs/mcp-server.md
  docs/provider-integration-guide.md
  docs/training-workspace.md
  functions/src/mcp/training-plans.schemas.spec.ts
  functions/src/mcp/training-plans.service.spec.ts
  functions/src/training-plans/delivery/commands.ts
  functions/src/training-plans/delivery/contracts.spec.ts
  functions/src/training-plans/delivery/garmin/transport.ts
  functions/src/training-plans/delivery/garmin/worker.emulator.spec.ts
  functions/src/training-plans/delivery/store.ts
  functions/src/training-plans/delivery/verification-contracts.spec.ts
  functions/src/training-plans/delivery/verification-contracts.ts
  functions/src/training-plans/delivery/verification-evidence.spec.ts
  functions/src/training-plans/delivery/verification-evidence.ts
  functions/src/training-plans/delivery/verification-worker.ts
  functions/src/training-plans/delivery/worker.ts
  shared/training-provider-delivery.ts
  src/app/components/plans/training-delivery-button.component.spec.ts
  src/app/components/plans/training-delivery-dialog.component.html
  src/app/components/plans/training-delivery-dialog.component.spec.ts
  src/app/components/plans/training-delivery-dialog.component.ts
  src/app/helpers/training-delivery-display.helper.spec.ts
  src/app/helpers/training-delivery-display.helper.ts
  src/app/helpers/training-delivery-summary.helper.ts
  src/app/helpers/training-verification-display.helper.spec.ts
  src/app/helpers/training-verification-display.helper.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

fix: preserve safe Garmin replacement recovery after edits
  docs/provider-integration-guide.md
  docs/training-workspace.md
  functions/src/training-plans/delivery/commands.ts
  functions/src/training-plans/delivery/garmin/transport.spec.ts
  functions/src/training-plans/delivery/garmin/transport.ts
  functions/src/training-plans/delivery/garmin/worker.emulator.spec.ts
  functions/src/training-plans/delivery/worker.ts
  src/app/components/plans/training-delivery-dialog.component.html
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

test: align Calendar wrapping assertions with preview styles
  src/app/components/calendar/calendar-day-details/calendar-day-details.styles.spec.ts
Due: lint-angular

feat: add explicit workout duration and pace inputs
  docs/training-workspace.md
  src/app/components/plans/plans-workspace.component.html
  src/app/components/plans/plans-workspace.component.scss
  src/app/components/plans/plans-workspace.component.spec.ts
  src/app/components/plans/plans-workspace.component.ts
  src/app/components/plans/workout-time-input.component.html
  src/app/components/plans/workout-time-input.component.scss
  src/app/components/plans/workout-time-input.component.spec.ts
  src/app/components/plans/workout-time-input.component.ts
  src/app/helpers/planned-workout-editor.helper.spec.ts
  src/app/helpers/planned-workout-editor.helper.ts
  src/app/helpers/workout-time-input.helper.spec.ts
  src/app/helpers/workout-time-input.helper.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: preserve exact workout time input values
  docs/training-workspace.md
  src/app/components/plans/plans-workspace.component.html
  src/app/components/plans/plans-workspace.component.spec.ts
  src/app/components/plans/plans-workspace.component.ts
  src/app/components/plans/workout-time-input.component.spec.ts
  src/app/components/plans/workout-time-input.component.ts
  src/app/helpers/planned-workout-editor.helper.ts
  src/app/helpers/workout-time-input.helper.spec.ts
  src/app/helpers/workout-time-input.helper.ts
Due: lint-angular

refactor: keep distinct line patterns in chart settings
  docs/frontend-ui.md
  src/app/components/tools/device-color-preferences-dialog.component.html
  src/app/components/tools/tools-compare-page.component.html
  src/app/components/tools/tools-compare-page.component.spec.ts
  src/app/components/tools/tools-compare-page.component.ts
  src/app/components/user-settings/user-settings.component.html
  src/app/components/user-settings/user-settings.component.spec.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

feat: show block-average pace in Suunto Guides
  docs/provider-integration-guide.md
  docs/training-workspace.md
  functions/src/mcp/training-plans.service.spec.ts
  functions/src/training-plans/delivery/contracts.ts
  functions/src/training-plans/delivery/diagnostics.spec.ts
  functions/src/training-plans/delivery/diagnostics.ts
  functions/src/training-plans/delivery/intent.spec.ts
  functions/src/training-plans/delivery/intent.ts
  functions/src/training-plans/delivery/runtime.spec.ts
  functions/src/training-plans/delivery/suunto/mapping.ts
  functions/src/training-plans/delivery/suunto/suunto.emulator.spec.ts
  functions/src/training-plans/delivery/suunto/transport.spec.ts
  functions/src/training-plans/providers/fixtures/suunto-running-v3-recovery.json
  functions/src/training-plans/providers/fixtures/suunto-strength-v3-recovery.json
  functions/src/training-plans/providers/provider-mapping.spec.ts
  functions/src/training-plans/providers/suunto-guide.serializer.spec.ts
  functions/src/training-plans/providers/suunto-guide.serializer.ts
  functions/src/training-plans/providers/suunto-strength.serializer.spec.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

test: remove obsolete Suunto recovery helper
  functions/src/training-plans/delivery/suunto/suunto.emulator.spec.ts
Due: lint-functions

feat: add line pattern preference to event chart options
  docs/frontend-ui.md
  src/app/components/event/chart/actions/event.card.chart.actions.component.html
  src/app/components/event/chart/actions/event.card.chart.actions.component.scss
  src/app/components/event/chart/actions/event.card.chart.actions.component.spec.ts
  src/app/components/event/chart/actions/event.card.chart.actions.component.ts
  src/app/components/event/chart/event.card.chart.component.html
  src/app/components/event/chart/event.card.chart.component.spec.ts
  src/app/components/event/chart/event.card.chart.component.ts
  src/app/components/tools/device-color-preferences-dialog.component.html
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

feat: tailor Suunto Guide screens to sport and targets
  docs/mcp-server.md
  docs/provider-integration-guide.md
  docs/training-workspace.md
  functions/src/mcp/training-plans.schemas.spec.ts
  functions/src/mcp/training-plans.service.spec.ts
  functions/src/training-plans/delivery/diagnostics.spec.ts
  functions/src/training-plans/delivery/diagnostics.ts
  functions/src/training-plans/delivery/intent.spec.ts
  functions/src/training-plans/delivery/runtime.spec.ts
  functions/src/training-plans/delivery/suunto/mapping.ts
  functions/src/training-plans/delivery/suunto/suunto.emulator.spec.ts
  functions/src/training-plans/delivery/suunto/transport.spec.ts
  functions/src/training-plans/providers/fixtures/suunto-cycling-v4-recovery.json
  functions/src/training-plans/providers/fixtures/suunto-running-v4-recovery.json
  functions/src/training-plans/providers/fixtures/suunto-swimming-v4-recovery.json
  functions/src/training-plans/providers/provider-mapping.spec.ts
  functions/src/training-plans/providers/suunto-guide.serializer.spec.ts
  functions/src/training-plans/providers/suunto-guide.serializer.ts
  functions/src/training-plans/providers/suunto-strength.serializer.spec.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

chore: upgrade sports-lib to 21.4.1
  functions/package-lock.json
  functions/package.json
  package-lock.json
  package.json
Due: none

feat: reorder and duplicate workout steps
  docs/mcp-server.md
  docs/training-workspace.md
  functions/src/mcp/training-plans.schemas.spec.ts
  functions/src/mcp/training-plans.service.spec.ts
  src/app/components/plans/plans-workspace.component.html
  src/app/components/plans/plans-workspace.component.scss
  src/app/components/plans/plans-workspace.component.spec.ts
  src/app/components/plans/plans-workspace.component.ts
  src/app/helpers/planned-workout-editor-actions.helper.spec.ts
  src/app/helpers/planned-workout-editor-actions.helper.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

fix: preserve workout step action announcements
  docs/training-workspace.md
  src/app/components/plans/plans-workspace.component.html
  src/app/components/plans/plans-workspace.component.spec.ts
  src/app/components/plans/plans-workspace.component.ts
Due: lint-angular

fix: bound Suunto FIT downloads and retain oversized failures
  docs/provider-integration-guide.md
  docs/suunto-integration.md
  functions/src/queue.spec.ts
  functions/src/queue.ts
  functions/src/suunto/constants.ts
  functions/src/suunto/fit-download.spec.ts
  functions/src/suunto/fit-download.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

feat: add faithful step-based workout profiles
  docs/training-workspace.md
  functions/src/mcp/training-plans.service.spec.ts
  src/app/components/plans/plans-workspace.component.html
  src/app/components/plans/plans-workspace.component.scss
  src/app/components/plans/plans-workspace.component.spec.ts
  src/app/components/plans/plans-workspace.component.ts
  src/app/components/plans/workout-profile.component.html
  src/app/components/plans/workout-profile.component.scss
  src/app/components/plans/workout-profile.component.spec.ts
  src/app/components/plans/workout-profile.component.ts
  src/app/helpers/workout-profile-chart.helper.ts
  src/app/helpers/workout-profile.helper.spec.ts
  src/app/helpers/workout-profile.helper.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

fix: preserve dated Assistant workout context
  docs/assistant.md
  docs/mcp-server.md
  docs/training-workspace.md
  functions/src/assistant/callable.spec.ts
  functions/src/assistant/callable.ts
  functions/src/assistant/conversation-store.spec.ts
  functions/src/assistant/conversation-store.ts
  functions/src/assistant/daily-workout-context.spec.ts
  functions/src/assistant/daily-workout-context.ts
  functions/src/assistant/runtime.spec.ts
  functions/src/assistant/runtime.ts
  functions/src/mcp/training-plans-write.emulator.spec.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

fix: correct early Lap routing and Suunto screen limits
  docs/provider-integration-guide.md
  docs/training-workspace.md
  functions/src/assistant/runtime.spec.ts
  functions/src/assistant/runtime.ts
  functions/src/training-plans/delivery/intent.spec.ts
  functions/src/training-plans/delivery/runtime.spec.ts
  functions/src/training-plans/providers/suunto-guide.serializer.spec.ts
  functions/src/training-plans/providers/suunto-guide.serializer.ts
  shared/planned-workout-providers.ts
  shared/suunto-guide-presentation.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

fix: preserve workout profile ranges and repeat selection
  docs/training-workspace.md
  functions/src/mcp/training-plans.service.spec.ts
  src/app/components/plans/workout-profile.component.html
  src/app/components/plans/workout-profile.component.spec.ts
  src/app/components/plans/workout-profile.component.ts
  src/app/helpers/workout-profile-chart.helper.ts
  src/app/helpers/workout-profile.helper.spec.ts
  src/app/helpers/workout-profile.helper.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

refactor: simplify Training route header
  docs/timeline-notes.md
  docs/training-workspace.md
  src/app/components/training/training-workspace.component.html
  src/app/components/training/training-workspace.component.scss
  src/app/components/training/training-workspace.component.spec.ts
  src/app/components/training/training-workspace.component.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

feat: compact Training update status into sync disclosure
  docs/training-workspace.md
  src/app/components/training/training-workspace.component.html
  src/app/components/training/training-workspace.component.scss
  src/app/components/training/training-workspace.component.spec.ts
  src/app/components/training/training-workspace.component.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

feat: expand Assistant daily workout example
  docs/assistant.md
  functions/src/assistant/daily-workout-context.spec.ts
  shared/assistant.prompts.ts
  src/app/components/assistant/assistant-explore-bottom-sheet.component.spec.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

fix: preserve ECharts axis pointer defaults
  src/app/components/charts/columns/charts.columns.component.spec.ts
  src/app/components/charts/columns/charts.columns.component.ts
  src/app/components/charts/xy/charts.xy.component.spec.ts
  src/app/components/charts/xy/charts.xy.component.ts
Due: lint-angular

test: isolate ECharts rendering regression checks
  src/app/components/charts/columns/charts.columns.component.spec.ts
Due: lint-angular

fix: keep daily workout example on focused preview
  docs/assistant.md
  shared/assistant.prompts.ts
Due: none

feat: ask for personal workout duration and load baseline
  docs/assistant.md
  shared/assistant.prompts.ts
  src/app/components/assistant/assistant-explore-bottom-sheet.component.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

test: preserve request-helper exports in queue mock
  functions/src/queue/user-not-found.spec.ts
Due: lint-functions

chore: bump app version to 10.17.1
  package-lock.json
  package.json
Due: none

feat: edit paused marketing campaign content
  docs/email-lifecycle.md
  functions/src/admin/marketing/marketing.emulator.spec.ts
  functions/src/admin/marketing/service.ts
  src/app/components/admin/admin-marketing/admin-marketing.component.html
  src/app/components/admin/admin-marketing/admin-marketing.component.spec.ts
  src/app/components/admin/admin-marketing/admin-marketing.component.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

fix: stabilize health charts during source loading and view saves
  docs/unified-health-data.md
  src/app/components/health/health-workspace.component.html
  src/app/components/health/health-workspace.component.scss
  src/app/components/health/health-workspace.component.spec.ts
  src/app/components/health/health-workspace.component.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: guard marketing campaign edits and stale requests
  docs/email-lifecycle.md
  functions/src/admin/marketing/handlers.ts
  functions/src/admin/marketing/marketing.emulator.spec.ts
  functions/src/admin/marketing/service.ts
  src/app/components/admin/admin-marketing/admin-marketing.component.html
  src/app/components/admin/admin-marketing/admin-marketing.component.spec.ts
  src/app/components/admin/admin-marketing/admin-marketing.component.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

fix: recover Suunto Guides with default notification metadata
  docs/provider-integration-guide.md
  docs/training-workspace.md
  functions/src/mcp/training-plans.service.spec.ts
  functions/src/training-plans/delivery/suunto/suunto.emulator.spec.ts
  functions/src/training-plans/delivery/suunto/transport.spec.ts
  functions/src/training-plans/delivery/suunto/transport.ts
  functions/src/training-plans/delivery/test-support/suunto-http-fixture.ts
Due: lint-functions

fix: discard stale COROS connection checks
  docs/coros-integration.md
  docs/provider-integration-guide.md
  src/app/components/services/coros/services.coros.component.spec.ts
  src/app/components/services/coros/services.coros.component.ts
  src/app/components/services/services-abstract-component.directive.ts
  src/app/services/app.user.service.spec.ts
  src/app/services/app.user.service.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: resume COROS checks after connection actions
  docs/coros-integration.md
  docs/provider-integration-guide.md
  src/app/components/services/coros/services.coros.component.spec.ts
  src/app/components/services/coros/services.coros.component.ts
  src/app/components/services/services-abstract-component.directive.ts
Due: lint-angular

fix: show running Wahoo history imports
  docs/provider-integration-guide.md
  docs/wahoo-integration.md
  src/app/components/history-import-form/history-import.form.component.html
  src/app/components/history-import-form/history-import.form.component.spec.ts
  src/app/components/history-import-form/history-import.form.component.ts
  src/app/models/app-user.interface.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: balance workout editor spacing and responsive density
  docs/training-workspace.md
  src/app/components/plans/plans-workspace.component.html
  src/app/components/plans/plans-workspace.component.scss
  src/app/components/plans/plans-workspace.component.spec.ts
Due: lint-angular

chore: bump app version to 10.17.2
  package-lock.json
  package.json
Due: none

fix: recover Suunto read authorization once for the same account
  docs/provider-integration-guide.md
  docs/suunto-integration.md
  functions/src/history.spec.ts
  functions/src/history.ts
  functions/src/queue.spec.ts
  functions/src/queue.ts
  functions/src/suunto/health-sync.spec.ts
  functions/src/suunto/health-sync.ts
  functions/src/tokens.spec.ts
  functions/src/tokens.ts
Due: lint-functions

feat: expand manual workout target editing
  docs/training-workspace.md
  functions/src/mcp/training-plans-write.emulator.spec.ts
  functions/src/mcp/training-plans.schemas.spec.ts
  src/app/components/plans/plans-workspace.component.html
  src/app/components/plans/plans-workspace.component.spec.ts
  src/app/components/plans/plans-workspace.component.ts
  src/app/components/plans/workout-targets-editor.component.html
  src/app/components/plans/workout-targets-editor.component.scss
  src/app/components/plans/workout-targets-editor.component.spec.ts
  src/app/components/plans/workout-targets-editor.component.ts
  src/app/helpers/planned-workout-editor-actions.helper.spec.ts
  src/app/helpers/planned-workout-editor-actions.helper.ts
  src/app/helpers/planned-workout-editor.helper.spec.ts
  src/app/helpers/planned-workout-editor.helper.ts
  src/app/helpers/planned-workout-target-editor.helper.spec.ts
  src/app/helpers/planned-workout-target-editor.helper.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

docs: align public workout target guidance with editor
  src/app/components/public-seo/training-plans-page.content.ts
  src/app/helpers/planned-workout-target-editor.helper.spec.ts
Due: lint-angular

Path conditions:
  lint-functions: any of: **/*.{ts,js} and ^functions/
  lint-angular: any of: {src/*.{ts,html},src/**/*.{ts,html}}
