Repository jimmykane/quantified-self: changes, and which lefthook commands are due for each by the changed paths.
All: lint-functions, lint-angular

lint-functions:
  run: npx eslint {staged_files} --fix && git add {staged_files}

lint-angular:
  run: ESLINT_USE_FLAT_CONFIG=false npx eslint {staged_files} --fix && git add {staged_files}

refactor: mapbox stuff and my tracks stuff
  src/app/components/tracks/tracks.component.spec.ts
  src/app/components/tracks/tracks.component.ts
  src/app/services/map-style.service.spec.ts
  src/app/services/map-style.service.ts
  src/app/services/map/map-style.types.ts
  src/app/services/map/mapbox-style-synchronizer.spec.ts
  src/app/services/map/mapbox-style-synchronizer.ts
Due: lint-angular

chore: do no force night on sat
  src/app/services/map-style.service.spec.ts
  src/app/services/map-style.service.ts
Due: lint-angular

chore: bump sl
  functions/package-lock.json
  functions/package.json
  package-lock.json
  package.json
Due: none

fix: seo
  src/app/services/seo.service.spec.ts
  src/app/services/seo.service.ts
Due: lint-angular

fix: polylines
  src/app/components/tracks/tracks.component.ts
Due: lint-angular

chore: use the new icons
  angular.json
  package-lock.json
  package.json
  src/app/app.module.ts
  src/app/components/tracks/tracks.component.ts
  src/styles.scss
Due: lint-angular

fix: syles for dark
  src/app/components/tracks/tracks-map.manager.ts
  src/app/services/map-style.service.ts
Due: lint-angular

chore: mapbox and tracks
  src/app/components/tracks/tracks-map.manager.ts
  src/app/components/tracks/tracks.component.ts
  src/app/services/map/mapbox-style-synchronizer.ts
Due: lint-angular

chore: icon improvements
  src/app/components/data-type-icon/data-type-icon.component.html
  src/app/components/data-type-icon/data-type-icon.component.ts
  src/app/components/home/home.component.html
  src/app/components/lap-type-icon/lap-type-icon.component.html
  src/app/components/lap-type-icon/lap-type-icon.component.ts
  src/app/components/sidenav/sidenav.component.html
  src/app/services/app.icon.service.ts
Due: lint-angular

chore: fix tests and use signals for tracks
  src/app/components/tracks/tracks.component.spec.ts
  src/app/components/tracks/tracks.component.ts
  src/app/services/color/app.event.color.service.spec.ts
  src/app/services/map-style.service.spec.ts
Due: lint-angular

chore: change icon
  src/app/components/data-type-icon/data-type-icon.component.ts
Due: lint-angular

chore: logs
  src/app/services/app.event.service.ts
Due: lint-angular

chore: email templts
  functions/src/scripts/seed-email-templates.ts
  functions/templates/development_update.hbs
Due: lint-functions

chore: update update
  functions/templates/development_update.hbs
Due: none

feature: add whats new
  firestore.indexes.json
  firestore.rules
  package-lock.json
  package.json
  src/app/app.component.html
  src/app/app.component.spec.ts
  src/app/app.component.ts
  src/app/app.routing.module.ts
  src/app/components/admin/admin-changelog/admin-changelog.component.html
  src/app/components/admin/admin-changelog/admin-changelog.component.scss
  src/app/components/admin/admin-changelog/admin-changelog.component.spec.ts
  src/app/components/admin/admin-changelog/admin-changelog.component.ts
  src/app/components/admin/admin-dashboard/admin-dashboard.component.html
  src/app/components/event-table/event.table.component.html
  src/app/components/home/home.component.html
  src/app/components/services/suunto/services.suunto.component.html
  src/app/components/whats-new/whats-new-dialog.component.spec.ts
  src/app/components/whats-new/whats-new-dialog.component.ts
  src/app/components/whats-new/whats-new-feed.component.html
  src/app/components/whats-new/whats-new-feed.component.scss
  src/app/components/whats-new/whats-new-feed.component.ts
  src/app/components/whats-new/whats-new-page.component.ts
  src/app/helpers/markdown.pipe.ts
  src/app/modules/admin.module.ts
  src/app/services/app.analytics.service.ts
  src/app/services/app.icon.service.ts
  src/app/services/app.update.service.ts
  src/app/services/app.whats-new.service.spec.ts
  src/app/services/app.whats-new.service.ts
  src/app/services/seo.service.spec.ts
  src/app/services/seo.service.ts
  src/app/services/storage/app.whats-new.local.storage.service.ts
Due: lint-angular

chore: updates
  src/robots.txt
Due: none

chore: improvements on UI and services
  src/app/authentication/app.auth.service.ts
  src/app/components/sidenav/sidenav.component.html
  src/app/components/sidenav/sidenav.component.ts
  src/app/models/app-user.interface.ts
  src/app/services/app.user-settings-query.service.ts
  src/app/services/app.whats-new.service.ts
Due: lint-angular

fix: tests
  src/app/app.component.spec.ts
  src/app/components/sidenav/sidenav.component.spec.ts
Due: lint-angular

chore: rules test
  src/firestore.rules.spec.ts
Due: lint-angular

refactor: whats new
  src/app/app.component.scss
  src/app/components/admin/admin-changelog/admin-changelog.component.html
  src/app/components/admin/admin-changelog/admin-changelog.component.scss
  src/app/components/admin/admin-changelog/admin-changelog.component.spec.ts
  src/app/components/admin/admin-changelog/admin-changelog.component.ts
  src/app/components/whats-new/whats-new-dialog.component.ts
  src/app/components/whats-new/whats-new-feed.component.html
  src/app/components/whats-new/whats-new-feed.component.scss
  src/app/components/whats-new/whats-new-feed.component.ts
  src/app/components/whats-new/whats-new-item.component.html
  src/app/components/whats-new/whats-new-item.component.scss
  src/app/components/whats-new/whats-new-item.component.spec.ts
  src/app/components/whats-new/whats-new-item.component.ts
Due: lint-angular

chore: improve intesity zones and hide z6 z7 if no data etc
  src/app/helpers/intensity-zones-chart-data-helper.spec.ts
  src/app/helpers/intensity-zones-chart-data-helper.ts
Due: lint-angular

chore: reattach ids
  src/app/services/app.event.service.spec.ts
  src/app/services/app.event.service.ts
Due: lint-angular

chore: disable clicks for google maps
  src/app/components/event/map/event.card.map.component.ts
  src/app/components/events-map/events-map.component.ts
Due: lint-angular

style: admin changelog ui
  src/app/components/admin/admin-changelog/admin-changelog.component.html
  src/app/components/admin/admin-changelog/admin-changelog.component.scss
  src/app/components/admin/admin-changelog/admin-changelog.component.ts
Due: lint-angular

fix: label
  src/app/components/admin/admin-changelog/admin-changelog.component.scss
Due: none

chore: improve history form estimates
  functions/src/shared/history-import.constants.ts
  src/app/components/history-import-form/history-import.form.component.html
  src/app/components/history-import-form/history-import.form.component.spec.ts
  src/app/components/history-import-form/history-import.form.component.ts
Due: lint-functions, lint-angular

chore: exclude ascent
  src/app/components/event/chart/event.card.chart.component.spec.ts
  src/app/components/summaries/summaries.component.spec.ts
  src/app/components/summaries/summaries.component.ts
  src/app/components/user-settings/user-settings.component.html
  src/app/components/user-settings/user-settings.component.spec.ts
  src/app/components/user-settings/user-settings.component.ts
  src/app/components/whats-new/whats-new-feed.component.ts
  src/app/utils/app.event.utilities.spec.ts
  src/app/utils/app.event.utilities.ts
Due: lint-angular

chore: exclude descent
  src/app/components/data-table/data-table-abstract.directive.ts
  src/app/components/event-table/event.table.component.css
  src/app/components/event-table/event.table.component.html
  src/app/components/event-table/event.table.component.ts
  src/app/components/summaries/summaries.component.spec.ts
  src/app/components/summaries/summaries.component.ts
  src/app/components/user-settings/user-settings.component.html
  src/app/components/user-settings/user-settings.component.spec.ts
  src/app/components/user-settings/user-settings.component.ts
Due: lint-angular

fix: area hidden
  src/app/components/sidenav/sidenav.component.html
Due: lint-angular

fix: test
  src/app/components/event/chart/event.card.chart.component.spec.ts
Due: lint-angular

chore: decrease
  functions/src/shared/history-import.constants.ts
Due: lint-functions

chore: devices bottom sheet
  src/app/components/event/devices/event-devices-bottom-sheet/event-devices-bottom-sheet.component.css
  src/app/components/event/devices/event-devices-bottom-sheet/event-devices-bottom-sheet.component.spec.ts
Due: lint-angular

chore: history estimates
  functions/src/shared/history-import.constants.ts
  src/app/components/event/devices/event-devices-bottom-sheet/event-devices-bottom-sheet.component.html
  src/app/components/history-import-form/history-import.form.component.spec.ts
  src/app/components/history-import-form/history-import.form.component.ts
Due: lint-functions, lint-angular

chore: grid now shows ascent and descent conditionally
  src/app/components/event-summary/event-summary.component.html
  src/app/components/event/stats-grid/event.card.stats-grid.component.spec.ts
  src/app/components/event/stats-grid/event.card.stats-grid.component.ts
  src/app/services/app.user-settings-query.service.ts
Due: lint-angular

chore: remove time bucketing for frontend
  functions/src/shared/id-generator.spec.ts
  functions/src/shared/id-generator.ts
  src/app/services/app.event.service.ts
Due: lint-functions, lint-angular

chore: add tests
  src/app/services/app.event.service.spec.ts
Due: lint-angular

fix: exclude ascent and descent from grid
  src/app/components/event/stats-grid/event.card.stats-grid.component.spec.ts
  src/app/components/event/stats-grid/event.card.stats-grid.component.ts
Due: lint-angular

Path conditions:
  lint-functions: any of: **/*.{ts,js} and ^functions/
  lint-angular: any of: {src/*.{ts,html},src/**/*.{ts,html}}
