Repository jimmykane/quantified-self: changes, and which lefthook commands are due for each by the changed paths.
All: lint-functions, lint-angular

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint-functions:
      root: "functions"
      glob: "**/*.{ts,js}"
      run: npx eslint {staged_files} --fix && git add {staged_files}
    lint-angular:
      glob: "{src/*.{ts,html},src/**/*.{ts,html}}"
      run: ESLINT_USE_FLAT_CONFIG=false npx eslint {staged_files} --fix && git add {staged_files}

feat: show Timeline notes in Calendar
  docs/activity-calendar.md
  docs/timeline-notes.md
  src/app/components/calendar/activity-calendar-grid/activity-calendar-grid.component.html
  src/app/components/calendar/activity-calendar-grid/activity-calendar-grid.component.scss
  src/app/components/calendar/activity-calendar-grid/activity-calendar-grid.component.spec.ts
  src/app/components/calendar/activity-calendar-grid/activity-calendar-grid.component.ts
  src/app/components/calendar/calendar-day-details/calendar-day-details.component.html
  src/app/components/calendar/calendar-day-details/calendar-day-details.component.scss
  src/app/components/calendar/calendar-day-details/calendar-day-details.component.spec.ts
  src/app/components/calendar/calendar-day-details/calendar-day-details.component.ts
  src/app/components/calendar/calendar-page/calendar-page.component.html
  src/app/components/calendar/calendar-page/calendar-page.component.spec.ts
  src/app/components/calendar/calendar-page/calendar-page.component.ts
  src/app/components/timeline-notes/timeline-notes-dialog.component.html
  src/app/components/timeline-notes/timeline-notes-workspace.component.spec.ts
  src/app/components/timeline-notes/timeline-notes-workspace.component.ts
  src/app/helpers/calendar-timeline-notes.helper.spec.ts
  src/app/helpers/calendar-timeline-notes.helper.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: refresh ongoing Calendar notes on tab resume
  docs/activity-calendar.md
  docs/timeline-notes.md
  src/app/components/calendar/calendar-page/calendar-page.component.spec.ts
  src/app/components/calendar/calendar-page/calendar-page.component.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: order main navigation by workspace flow
  docs/unified-health-data.md
  src/app/components/sidenav/sidenav.component.html
  src/app/components/sidenav/sidenav.component.spec.ts
Due: lint-angular

feat: showcase timeline notes in shared health preview
  src/app/components/public-seo/health-feature.content.ts
  src/app/components/public-seo/health-preview.component.html
  src/app/components/public-seo/health-preview.component.spec.ts
  src/app/components/public-seo/health-preview.component.ts
  src/app/components/public-seo/health-preview.data.spec.ts
  src/app/components/public-seo/health-preview.data.ts
  src/app/shared/help.content.ts
Due: lint-angular

docs: clarify manual health measurement logging
  src/app/components/public-seo/health-feature.content.ts
  src/app/components/public-seo/public-seo-pages.content.spec.ts
Due: lint-angular

fix: resume bounded Suunto health windows and merge duplicate samples
  docs/provider-integration-guide.md
  docs/suunto-integration.md
  functions/src/queue/queue-item.interface.ts
  functions/src/sleep/queue.spec.ts
  functions/src/sleep/queue.ts
  functions/src/suunto/health-progress.spec.ts
  functions/src/suunto/health-progress.ts
  functions/src/suunto/health-sync.spec.ts
  functions/src/suunto/health-sync.ts
  functions/src/suunto/health.spec.ts
  functions/src/suunto/health.ts
Due: lint-functions

fix: improve admin history chart scales and selections
  src/app/components/admin/admin-dashboard/admin-user-history.component.html
  src/app/components/admin/admin-dashboard/admin-user-history.component.scss
  src/app/components/admin/admin-dashboard/admin-user-history.component.spec.ts
  src/app/components/admin/admin-dashboard/admin-user-history.component.ts
  src/app/helpers/admin-history-axis.helper.spec.ts
  src/app/helpers/admin-history-axis.helper.ts
Due: lint-angular

fix: align health SEO and public preview snippets
  src/app/app.routing.module.spec.ts
  src/app/app.routing.module.ts
  src/app/components/home/home.component.html
  src/app/components/home/home.component.spec.ts
  src/app/components/public-footer/public-footer.component.html
  src/app/components/public-footer/public-footer.component.spec.ts
  src/app/components/public-seo/health-feature.content.ts
  src/app/components/public-seo/health-preview.component.html
  src/app/components/public-seo/public-feature-preview.component.html
  src/app/components/public-seo/public-feature-preview.component.scss
  src/app/components/public-seo/public-feature-preview.component.spec.ts
  src/app/components/public-seo/public-seo-page.component.html
  src/app/components/public-seo/public-seo-pages.content.spec.ts
  src/app/components/public-seo/public-seo-pages.content.ts
  src/app/services/seo.service.spec.ts
  src/app/services/seo.service.ts
  src/app/shared/home-seo.ts
  src/sitemap.xml
  tools/verify-public-initial-output.mjs
Due: lint-angular

fix: compact Health header actions and stabilize notes loading
  src/app/components/health/health-workspace.component.html
  src/app/components/health/health-workspace.component.scss
  src/app/components/health/health-workspace.component.spec.ts
  src/app/components/timeline-notes/timeline-notes-workspace.component.scss
  src/app/components/timeline-notes/timeline-notes-workspace.component.spec.ts
  src/app/components/timeline-notes/timeline-notes-workspace.component.ts
Due: lint-angular

feat: move Health sources into the workspace header
  docs/frontend-ui.md
  docs/unified-health-data.md
  src/app/components/health/health-sources-bottom-sheet.component.html
  src/app/components/health/health-sources-bottom-sheet.component.scss
  src/app/components/health/health-sources-bottom-sheet.component.spec.ts
  src/app/components/health/health-sources-bottom-sheet.component.ts
  src/app/components/health/health-view-options-bottom-sheet.component.html
  src/app/components/health/health-view-options-bottom-sheet.component.scss
  src/app/components/health/health-view-options-bottom-sheet.component.spec.ts
  src/app/components/health/health-view-options-bottom-sheet.component.ts
  src/app/components/health/health-workspace.component.html
  src/app/components/health/health-workspace.component.scss
  src/app/components/health/health-workspace.component.spec.ts
  src/app/components/health/health-workspace.component.ts
  src/app/components/shared/page-header/page-header.component.html
  src/app/components/shared/page-header/page-header.component.scss
  src/app/components/shared/page-header/page-header.component.spec.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: make provider disconnect cleanup interruption-safe
  .github/workflows/_run-tests.yml
  docs/provider-integration-guide.md
  firestore.indexes.json
  functions/src/OAuth2.spec.ts
  functions/src/OAuth2.ts
  functions/src/activity-sync/route-cleanup.ts
  functions/src/firestore-indexes.spec.ts
  functions/src/schedule/retry-pending-service-disconnects.spec.ts
  functions/src/schedule/retry-pending-service-disconnects.ts
  functions/src/service-auth-lifecycle.ts
  functions/src/service-disconnect-cleanup.integration.spec.ts
  functions/src/service-disconnect-cleanup.ts
  functions/src/service-disconnect-pending.ts
  functions/src/service-operational-cleanup.ts
  functions/src/service-token-store.ts
  package.json
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/firestore.rules.spec.ts
Due: lint-functions, lint-angular

refactor: share compact content rows across Home and Health
  docs/frontend-ui.md
  docs/unified-health-data.md
  src/app/components/features/workout-data-comparison-page.component.html
  src/app/components/features/workout-data-comparison-page.component.spec.ts
  src/app/components/features/workout-data-comparison-page.component.ts
  src/app/components/health/health-metric-chart.component.html
  src/app/components/health/health-metric-chart.component.scss
  src/app/components/health/health-metric-chart.component.spec.ts
  src/app/components/health/health-metric-chart.component.ts
  src/app/components/health/health-priority-summary.component.html
  src/app/components/health/health-priority-summary.component.scss
  src/app/components/health/health-priority-summary.component.ts
  src/app/components/health/health-workspace.component.html
  src/app/components/health/health-workspace.component.scss
  src/app/components/health/health-workspace.component.spec.ts
  src/app/components/home/home.component.html
  src/app/components/home/home.component.spec.ts
  src/app/components/home/home.component.ts
  src/app/components/public-seo/public-seo-page.component.html
  src/app/components/public-seo/public-seo-page.component.scss
  src/app/components/public-seo/public-seo-page.component.spec.ts
  src/app/components/public-seo/public-seo-page.component.ts
  src/app/components/shared/compact-feature-row/compact-feature-row.component.html
  src/app/components/shared/compact-feature-row/compact-feature-row.component.scss
  src/app/components/shared/compact-feature-row/compact-feature-row.component.spec.ts
  src/app/components/shared/compact-feature-row/compact-feature-row.component.ts
  src/app/components/shared/compact-row/compact-row.component.html
  src/app/components/shared/compact-row/compact-row.component.scss
  src/app/components/shared/compact-row/compact-row.component.spec.ts
  src/app/components/shared/compact-row/compact-row.component.ts
  src/app/components/shared/reviewer-benchmark-preview/reviewer-benchmark-preview.component.html
  src/app/components/shared/reviewer-benchmark-preview/reviewer-benchmark-preview.component.spec.ts
  src/app/components/shared/reviewer-benchmark-preview/reviewer-benchmark-preview.component.ts
Due: lint-angular

fix: recover account profiles without signing out or repeating onboarding
  docs/frontend-ui.md
  src/app/components/login/login.component.html
  src/app/components/login/login.component.spec.ts
  src/app/components/login/login.component.ts
  src/app/components/onboarding/onboarding.component.spec.ts
  src/app/components/onboarding/onboarding.component.ts
  src/app/services/app.user.service.spec.ts
  src/app/services/app.user.service.ts
  src/app/services/user-profile-verification.service.spec.ts
  src/app/services/user-profile-verification.service.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: discard stale account profile verification and token retries
  docs/frontend-ui.md
  src/app/services/app.user.service.spec.ts
  src/app/services/app.user.service.ts
  src/app/services/user-profile-verification.service.spec.ts
  src/app/services/user-profile-verification.service.ts
Due: lint-angular

fix: verify missing onboarding history before publishing profiles
  docs/frontend-ui.md
  src/app/services/app.user.service.spec.ts
  src/app/services/user-profile-verification.service.spec.ts
  src/app/services/user-profile-verification.service.ts
Due: lint-angular

feat: remember compact Health highlight source selections
  docs/unified-health-data.md
  src/app/components/health/health-priority-summary.component.html
  src/app/components/health/health-priority-summary.component.scss
  src/app/components/health/health-priority-summary.component.ts
  src/app/components/health/health-workspace.component.html
  src/app/components/health/health-workspace.component.spec.ts
  src/app/components/health/health-workspace.component.ts
  src/app/helpers/health-highlight-preferences.helper.spec.ts
  src/app/helpers/health-highlight-preferences.helper.ts
  src/app/helpers/health-workspace.helper.spec.ts
  src/app/helpers/health-workspace.helper.ts
  src/app/models/app-user.interface.ts
  src/app/services/app.user-settings-query.service.spec.ts
  src/app/services/app.user-settings-query.service.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: give Health highlight charts more vertical room
  src/app/components/health/health-metric-series-chart.component.scss
  src/app/components/health/health-metric-series-chart.component.spec.ts
Due: lint-angular

test: align sitemap dates with health SEO update
  src/firebase-hosting.config.spec.ts
Due: lint-angular

fix: align timeline note tooltips with chart styling
  docs/timeline-notes.md
  src/app/components/health/health-metric-series-chart.component.spec.ts
  src/app/helpers/echarts-host-controller.spec.ts
  src/app/helpers/echarts-host-controller.ts
  src/app/helpers/timeline-notes-adapters.spec.ts
  src/app/helpers/timeline-notes-chart.helper.spec.ts
  src/app/helpers/timeline-notes-chart.helper.ts
Due: lint-angular

fix: preserve disconnect recovery across pending and deleted accounts
  docs/provider-integration-guide.md
  firestore.indexes.json
  functions/src/OAuth2.ts
  functions/src/firestore-indexes.spec.ts
  functions/src/service-disconnect-cleanup.integration.spec.ts
  functions/src/service-disconnect-cleanup.ts
  functions/src/users/cleanup.spec.ts
  functions/src/users/cleanup.ts
  src/firestore.rules.spec.ts
Due: lint-functions, lint-angular

fix: harden OAuth completion and cleanup
  docs/provider-integration-guide.md
  functions/package.json
  functions/src/OAuth2.spec.ts
  functions/src/OAuth2.ts
  functions/src/coros/auth/wrapper.spec.ts
  functions/src/coros/auth/wrapper.ts
  functions/src/garmin/auth/wrapper.spec.ts
  functions/src/garmin/auth/wrapper.ts
  functions/src/schedule/retry-pending-service-disconnects.ts
  functions/src/scripts/audit-service-oauth-roots.spec.ts
  functions/src/scripts/audit-service-oauth-roots.ts
  functions/src/service-connection-meta.spec.ts
  functions/src/service-connection-meta.ts
  functions/src/service-oauth-root-reconciliation.spec.ts
  functions/src/service-oauth-root-reconciliation.ts
  functions/src/service-token-store.ts
  functions/src/suunto/auth/wrapper.spec.ts
  functions/src/suunto/auth/wrapper.ts
  functions/src/wahoo/auth/wrapper.spec.ts
  functions/src/wahoo/auth/wrapper.ts
  shared/service-connection.ts
  src/app/components/services/coros/services.coros.component.ts
  src/app/components/services/garmin/services.garmin.component.spec.ts
  src/app/components/services/garmin/services.garmin.component.ts
  src/app/components/services/services-abstract-component.directive.ts
  src/app/components/services/suunto/services.suunto.component.ts
  src/app/components/services/wahoo/services.wahoo.component.ts
  src/app/services/app.user.service.spec.ts
  src/app/services/app.user.service.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

fix: close OAuth rollout and retention gaps
  docs/provider-integration-guide.md
  functions/src/OAuth2.spec.ts
  functions/src/OAuth2.ts
  functions/src/service-oauth-root-reconciliation.spec.ts
  functions/src/service-oauth-root-reconciliation.ts
Due: lint-functions

fix: close OAuth review findings
  docs/provider-integration-guide.md
  functions/src/OAuth2.spec.ts
  functions/src/OAuth2.ts
  functions/src/schedule/retry-pending-service-disconnects.spec.ts
  functions/src/schedule/retry-pending-service-disconnects.ts
  functions/src/scripts/audit-service-oauth-roots.spec.ts
  functions/src/scripts/audit-service-oauth-roots.ts
  functions/src/service-connection-meta.spec.ts
  functions/src/service-connection-meta.ts
  functions/src/service-disconnect-pending.spec.ts
  functions/src/service-disconnect-pending.ts
  functions/src/service-oauth-root-reconciliation.spec.ts
  functions/src/service-oauth-root-reconciliation.ts
  functions/src/stripe/subscriptions.spec.ts
  functions/src/stripe/subscriptions.ts
  functions/src/wahoo/auth/wrapper.spec.ts
  functions/src/wahoo/auth/wrapper.ts
  src/app/components/services/garmin/services.garmin.component.spec.ts
  src/app/components/services/services-abstract-component.directive.ts
  src/app/components/services/suunto/services.suunto.component.spec.ts
Due: lint-functions, lint-angular

fix: prevent crowded dates on Health chart axes
  src/app/helpers/health-metric-chart.helper.spec.ts
  src/app/helpers/health-metric-chart.helper.ts
Due: lint-angular

fix: retain safe Suunto Health failure diagnostics
  docs/health-backfill-operations.md
  docs/provider-integration-guide.md
  functions/src/sleep/queue.spec.ts
  functions/src/sleep/queue.ts
  functions/src/suunto/health-sync.spec.ts
  functions/src/suunto/health-sync.ts
Due: lint-functions

test: fix Health preview chart initialization mock
  src/app/components/public-seo/health-preview.component.spec.ts
Due: lint-angular

feat: add Timeline note colors and Material date pickers
  docs/timeline-notes.md
  functions/src/timeline-notes/mutations.spec.ts
  functions/src/timeline-notes/mutations.ts
  shared/timeline-notes.ts
  src/app/components/calendar/activity-calendar-grid/activity-calendar-grid.component.html
  src/app/components/calendar/activity-calendar-grid/activity-calendar-grid.component.spec.ts
  src/app/components/calendar/calendar-day-details/calendar-day-details.component.html
  src/app/components/calendar/calendar-day-details/calendar-day-details.component.spec.ts
  src/app/components/calendar/calendar-day-details/calendar-day-details.component.ts
  src/app/components/timeline-notes/timeline-note-date-adapter.spec.ts
  src/app/components/timeline-notes/timeline-note-date-adapter.ts
  src/app/components/timeline-notes/timeline-notes-dialog.component.html
  src/app/components/timeline-notes/timeline-notes-dialog.component.scss
  src/app/components/timeline-notes/timeline-notes-dialog.component.spec.ts
  src/app/components/timeline-notes/timeline-notes-dialog.component.ts
  src/app/helpers/calendar-timeline-notes.helper.ts
  src/app/helpers/timeline-note-appearance.helper.spec.ts
  src/app/helpers/timeline-note-appearance.helper.ts
  src/app/helpers/timeline-notes-chart.helper.spec.ts
  src/app/helpers/timeline-notes-chart.helper.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

feat: add per-note Timeline visibility
  docs/timeline-notes.md
  functions/src/timeline-notes/mutations.spec.ts
  functions/src/timeline-notes/mutations.ts
  shared/timeline-notes.ts
  src/app/components/timeline-notes/timeline-notes-dialog.component.html
  src/app/components/timeline-notes/timeline-notes-dialog.component.scss
  src/app/components/timeline-notes/timeline-notes-dialog.component.spec.ts
  src/app/components/timeline-notes/timeline-notes-dialog.component.ts
  src/app/components/timeline-notes/timeline-notes-workspace.component.spec.ts
  src/app/components/timeline-notes/timeline-notes-workspace.component.ts
  src/app/helpers/calendar-timeline-notes.helper.spec.ts
  src/app/helpers/calendar-timeline-notes.helper.ts
  src/app/helpers/timeline-notes-chart.helper.spec.ts
  src/app/helpers/timeline-notes-chart.helper.ts
  src/app/services/app.timeline-notes.service.spec.ts
  src/app/shared/help.content.ts
  src/firestore.rules.spec.ts
Due: lint-functions, lint-angular

fix: preserve Timeline note dates and mode validation
  docs/timeline-notes.md
  src/app/components/timeline-notes/timeline-note-date-adapter.spec.ts
  src/app/components/timeline-notes/timeline-note-date-adapter.ts
  src/app/components/timeline-notes/timeline-notes-dialog.component.spec.ts
  src/app/components/timeline-notes/timeline-notes-dialog.component.ts
Due: lint-angular

fix: show timeline note titles on chart markers
  docs/timeline-notes.md
  src/app/helpers/timeline-notes-chart.helper.spec.ts
  src/app/helpers/timeline-notes-chart.helper.ts
  src/app/shared/help.content.ts
Due: lint-angular

feat: show timeline note period boundaries on charts
  docs/timeline-notes.md
  src/app/helpers/timeline-notes-chart.helper.spec.ts
  src/app/helpers/timeline-notes-chart.helper.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: preserve metric tooltips inside timeline note periods
  docs/timeline-notes.md
  src/app/helpers/timeline-notes-chart.helper.spec.ts
  src/app/helpers/timeline-notes-chart.helper.ts
  src/app/helpers/timeline-notes-chart.interaction.spec.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: restore Health highlight chart value axes
  docs/unified-health-data.md
  src/app/helpers/health-metric-chart.helper.spec.ts
  src/app/helpers/health-metric-chart.helper.ts
Due: lint-angular

chore: bump app version to 10.13.3
  package-lock.json
  package.json
Due: none

test: align Highlight axis assertions with visible scales
  src/app/components/health/health-metric-series-chart.component.spec.ts
Due: lint-angular

fix: increase derived metrics ingress memory to 512 MiB
  docs/training-workspace.md
  functions/src/tasks/derived-metrics-ingress-worker.spec.ts
  functions/src/tasks/derived-metrics-ingress-worker.ts
Due: lint-functions

fix: improve mobile confirmation dialog buttons
  src/app/components/confirmation-dialog/confirmation-dialog.component.html
  src/app/components/confirmation-dialog/confirmation-dialog.component.scss
  src/app/components/confirmation-dialog/confirmation-dialog.component.spec.ts
  src/app/components/confirmation-dialog/confirmation-dialog.component.ts
Due: lint-angular

fix: use warning color for destructive confirmations
  src/app/components/confirmation-dialog/confirmation-dialog.component.html
Due: lint-angular

fix: handle pending Suunto uploads and improve parser diagnostics
  docs/provider-integration-guide.md
  functions/src/activity-sync/outbound-fingerprint.spec.ts
  functions/src/activity-sync/outbound-fingerprint.ts
  functions/src/events/upload-activity.spec.ts
  functions/src/events/upload-activity.ts
  functions/src/shared/activity-parser-diagnostics.spec.ts
  functions/src/shared/activity-parser-diagnostics.ts
  functions/src/suunto/activities.spec.ts
  functions/src/suunto/activities.ts
  src/app/components/upload/upload-activities-to-service/upload-activities-to-service.component.html
  src/app/components/upload/upload-activities-to-service/upload-activities-to-service.component.spec.ts
  src/app/components/upload/upload-activities-to-service/upload-activities-to-service.component.ts
  src/app/components/upload/upload-activities/upload-activities.component.spec.ts
  src/app/components/upload/upload-activities/upload-activities.component.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

fix: clean up upload monitoring and preserve route guidance
  docs/provider-integration-guide.md
  src/app/components/upload/upload-activities-to-service/upload-activities-to-service.component.spec.ts
  src/app/components/upload/upload-activities-to-service/upload-activities-to-service.component.ts
  src/app/components/upload/upload-activities/upload-activities.component.spec.ts
  src/app/components/upload/upload-activities/upload-activities.component.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular
