Repository jimmykane/quantified-self: changes, and which lefthook commands are due for each by the changed paths.
All: lint-functions, lint-angular

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint-functions:
      root: "functions"
      glob: "**/*.{ts,js}"
      run: npx eslint {staged_files} --fix && git add {staged_files}
    lint-angular:
      glob: "{src/*.{ts,html},src/**/*.{ts,html}}"
      run: ESLINT_USE_FLAT_CONFIG=false npx eslint {staged_files} --fix && git add {staged_files}

chore: PR fixes
  functions/src/routes/send-routes-to-service.spec.ts
  functions/src/routes/send-routes-to-service.ts
  functions/src/suunto/retry-helper.ts
  functions/src/suunto/routes.spec.ts
  functions/src/suunto/routes.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

chore: do not source controll docs
  .gitignore
Due: none

chore: pr fixes
  functions/src/routes/send-routes-to-service.spec.ts
  functions/src/routes/send-routes-to-service.ts
  functions/src/suunto/routes.spec.ts
  functions/src/suunto/routes.ts
  shared/saved-route-send.ts
  src/app/components/routes/routes-page.component.spec.ts
  src/app/components/routes/routes-page.component.ts
  src/app/services/app.route-send.service.spec.ts
  src/app/services/app.route-send.service.ts
Due: lint-functions, lint-angular

chore: fix
  functions/src/routes/send-routes-to-service.spec.ts
  functions/src/routes/send-routes-to-service.ts
Due: lint-functions

chore: PR fixes
  src/app/components/routes/routes-page.component.spec.ts
  src/app/components/routes/routes-page.component.ts
  src/app/services/app.route-send.service.spec.ts
  src/app/services/app.route-send.service.ts
Due: lint-angular

fix: route name
  functions/src/routes/send-routes-to-service.spec.ts
  functions/src/routes/send-routes-to-service.ts
Due: lint-functions

chore: bv
  package.json
Due: none

chore: add button
  src/app/components/routes/route-detail/route-detail.component.html
  src/app/components/routes/route-detail/route-detail.component.spec.ts
  src/app/components/routes/route-detail/route-detail.component.ts
Due: lint-angular

chore: preserve original route file downloads
  src/app/components/routes/route-detail/route-detail.component.spec.ts
  src/app/components/routes/route-detail/route-detail.component.ts
  src/app/components/routes/routes-page.component.spec.ts
  src/app/components/routes/routes-page.component.ts
  src/app/services/app.file.service.spec.ts
  src/app/services/app.file.service.ts
  src/app/services/app.original-file-hydration.service.spec.ts
  src/app/services/app.original-file-hydration.service.ts
  src/app/services/app.route.service.spec.ts
  src/app/services/app.route.service.ts
Due: lint-angular

refactor: share original file download helpers
  src/app/services/app.event.service.spec.ts
  src/app/services/app.event.service.ts
  src/app/services/app.original-file-download.service.spec.ts
  src/app/services/app.original-file-download.service.ts
  src/app/services/app.route.service.spec.ts
  src/app/services/app.route.service.ts
Due: lint-angular

fix: preserve original event file downloads
  src/app/components/event-actions/event.actions.component.spec.ts
  src/app/components/event-actions/event.actions.component.ts
  src/app/components/event-table/event.table.component.spec.ts
  src/app/components/event-table/event.table.component.ts
Due: lint-angular

fix: preserve original route file downloads
  src/app/components/routes/route-detail/route-detail.component.ts
  src/app/components/routes/routes-page.component.spec.ts
  src/app/components/routes/routes-page.component.ts
Due: lint-angular

chore: improve agents
  AGENTS.md
Due: none

fix: preserve event original download names
  src/app/components/event-actions/event.actions.component.spec.ts
  src/app/components/event-actions/event.actions.component.ts
  src/app/components/event-table/event.table.component.spec.ts
  src/app/components/event-table/event.table.component.ts
  src/app/services/app.event.service.spec.ts
  src/app/services/app.event.service.ts
  src/app/services/app.original-file-download.service.spec.ts
  src/app/services/app.original-file-download.service.ts
Due: lint-angular

fix: mirror saved route names during hydration
  src/app/services/app.route-hydration.service.spec.ts
  src/app/services/app.route-hydration.service.ts
Due: lint-angular

feat: add route sync admin queue monitor
  firestore.indexes.json
  functions/src/admin/handlers/queues.handlers.ts
  functions/src/admin/queues.handlers.spec.ts
  functions/src/admin/shared/types.ts
  functions/src/admin/test-utils/admin-test-harness.ts
  shared/admin-queue-stats.ts
  src/app/app.routes.server.ts
  src/app/components/admin/admin-dashboard/admin-dashboard.component.html
  src/app/components/admin/admin-dashboard/admin-dashboard.component.spec.ts
  src/app/components/admin/admin-queue-monitor/admin-queue-monitor.component.html
  src/app/components/admin/admin-queue-monitor/admin-queue-monitor.component.spec.ts
  src/app/components/admin/admin-queue-monitor/admin-queue-monitor.component.ts
  src/app/components/admin/admin-queue-stats/admin-queue-stats.component.html
  src/app/components/admin/admin-queue-stats/admin-queue-stats.component.spec.ts
  src/app/components/admin/admin-queue-stats/admin-queue-stats.component.ts
  src/app/modules/admin.module.ts
Due: lint-functions, lint-angular

chore: ttls setups
  scripts/setup-ttl.sh
  scripts/test-setup-ttl.sh
Due: none

feat: add shared Suunto route catch-up prompt
  src/app/components/dashboard/dashboard-action-prompts/dashboard-action-prompts.component.ts
  src/app/components/routes/routes-page.component.html
  src/app/components/routes/routes-page.component.scss
  src/app/components/routes/routes-page.component.spec.ts
  src/app/components/routes/routes-page.component.ts
  src/app/components/services/suunto/services.suunto.component.ts
  src/app/helpers/dashboard-action-prompt.helper.ts
  src/app/helpers/suunto-route-catch-up.helper.spec.ts
  src/app/helpers/suunto-route-catch-up.helper.ts
  src/app/models/app-user.interface.ts
  src/app/modules/dashboard.module.ts
  src/app/modules/shared.module.ts
  src/app/services/app.user.service.spec.ts
  src/app/services/app.user.service.ts
  src/app/shared/help.content.ts
Due: lint-angular

feat: show route sync services in table provenance
  src/app/components/routes/routes-page.component.html
  src/app/components/routes/routes-page.component.scss
  src/app/components/routes/routes-page.component.spec.ts
  src/app/components/routes/routes-page.component.ts
  src/app/helpers/route-provenance.helper.ts
Due: lint-angular

fix: stop route send chunks after terminal in-band failures
  src/app/services/app.route-send.service.spec.ts
  src/app/services/app.route-send.service.ts
Due: lint-angular

fix: handle multi-account Suunto route sync and prompt alignment
  functions/src/routes/process-route-sync-queue-item.spec.ts
  functions/src/routes/process-route-sync-queue-item.ts
  functions/src/routes/route-persistence.ts
  functions/src/routes/route-provenance.spec.ts
  functions/src/routes/send-routes-to-service.spec.ts
  functions/src/routes/send-routes-to-service.ts
  functions/src/suunto/route-sync.spec.ts
  functions/src/suunto/route-sync.ts
  functions/src/suunto/routes.multi-account.spec.ts
  functions/src/suunto/routes.ts
  shared/route-provenance.ts
  src/app/components/dashboard/dashboard-action-prompt/dashboard-action-prompt.component.scss
  src/app/services/app.route-send.service.spec.ts
  src/app/services/app.route-send.service.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

fix: repair route metadata test contracts
  functions/src/routes/route-persistence.ts
  functions/src/suunto/routes.spec.ts
  src/app/helpers/suunto-service-connection.helper.spec.ts
Due: lint-functions, lint-angular

fix: preserve synced route originals on upsert rollback
  functions/src/routes/upsert-synced-route.spec.ts
  functions/src/routes/upsert-synced-route.ts
Due: lint-functions

fix: support Firestore timestamps in route sync skip checks
  functions/src/routes/process-route-sync-queue-item.spec.ts
  functions/src/routes/process-route-sync-queue-item.ts
Due: lint-functions

fix: align Suunto route resend and catch-up state
  functions/src/suunto/route-sync.spec.ts
  functions/src/suunto/route-sync.ts
  functions/src/suunto/routes.multi-account.spec.ts
  functions/src/suunto/routes.ts
  src/app/components/routes/route-detail/route-detail.component.spec.ts
  src/app/components/routes/route-detail/route-detail.component.ts
  src/app/components/routes/routes-page.component.spec.ts
  src/app/components/routes/routes-page.component.ts
  src/app/helpers/route-provenance.helper.ts
  src/app/helpers/suunto-route-catch-up.helper.spec.ts
  src/app/helpers/suunto-route-catch-up.helper.ts
  src/app/models/app-user.interface.ts
  src/app/services/app.user.service.spec.ts
  src/app/services/app.user.service.ts
Due: lint-functions, lint-angular

fix: keep Suunto route catch-up incomplete on provider failures
  functions/src/suunto/route-sync.spec.ts
  functions/src/suunto/route-sync.ts
  src/app/components/routes/routes-page.component.spec.ts
  src/app/components/routes/routes-page.component.ts
  src/app/components/services/suunto/services.suunto.component.html
  src/app/components/services/suunto/services.suunto.component.spec.ts
  src/app/components/services/suunto/services.suunto.component.ts
  src/app/helpers/suunto-route-catch-up.helper.spec.ts
  src/app/helpers/suunto-route-catch-up.helper.ts
  src/app/services/app.user.service.spec.ts
Due: lint-functions, lint-angular

test: stabilize cleanup orphan sweep pagination coverage
  functions/src/users/cleanup.spec.ts
Due: lint-functions

fix: tighten synced route access and Suunto account reads
  functions/src/routes/process-route-sync-queue-item.spec.ts
  functions/src/routes/process-route-sync-queue-item.ts
  functions/src/routes/upsert-synced-route.spec.ts
  functions/src/routes/upsert-synced-route.ts
  functions/src/suunto/routes.multi-account.spec.ts
  functions/src/suunto/routes.ts
Due: lint-functions

chore: test fix
  shared/admin-queue-stats.ts
Due: none

chore: PR fixes
  functions/src/suunto/route-sync.spec.ts
  functions/src/suunto/route-sync.ts
  functions/src/suunto/routes.multi-account.spec.ts
  functions/src/suunto/routes.ts
  shared/suunto-route-import-state.ts
  src/app/components/services/suunto/services.suunto.component.spec.ts
  src/app/helpers/suunto-route-catch-up.helper.spec.ts
  src/app/helpers/suunto-route-catch-up.helper.ts
  src/app/models/app-user.interface.ts
  src/app/services/app.user.service.spec.ts
Due: lint-functions, lint-angular

fix: align Suunto route catch-up token validation
  shared/suunto-route-import-state.ts
  src/app/helpers/suunto-route-catch-up.helper.spec.ts
  src/app/helpers/suunto-route-catch-up.helper.ts
Due: lint-angular

fix: align Suunto connection validity checks
  functions/src/suunto/routes.ts
  src/app/components/services/suunto/services.suunto.component.html
  src/app/components/services/suunto/services.suunto.component.spec.ts
  src/app/components/services/suunto/services.suunto.component.ts
  src/app/services/app.user.service.spec.ts
  src/app/services/app.user.service.ts
Due: lint-functions, lint-angular

fix: align dashboard Suunto connection validity
  src/app/services/app.user.service.spec.ts
  src/app/services/app.user.service.ts
Due: lint-angular

fix: tests
  firebase.json
  ngsw-config.json
Due: none

fix: improve routes table scrolling
  src/app/components/routes/routes-page.component.html
  src/app/components/routes/routes-page.component.scss
  src/app/components/routes/routes-page.component.spec.ts
Due: lint-angular

fix: align routes table vertical scroll with app tables
  src/app/components/routes/routes-page.component.scss
  src/app/components/routes/routes-page.component.spec.ts
Due: lint-angular

fix: align routes table scrolling with compare table
  src/app/components/routes/routes-page.component.html
  src/app/components/routes/routes-page.component.scss
  src/app/components/routes/routes-page.component.spec.ts
Due: lint-angular
