Repository jimmykane/quantified-self: changes, and which lefthook commands are due for each by the changed paths.
All: lint-functions, lint-angular

lint-functions:
  run: npx eslint {staged_files} --fix && git add {staged_files}

lint-angular:
  run: ESLINT_USE_FLAT_CONFIG=false npx eslint {staged_files} --fix && git add {staged_files}

fix: leaks
  src/app/services/echarts-loader.service.spec.ts
  src/app/services/echarts-loader.service.ts
Due: lint-angular

fix: race
  src/app/components/event/chart/panel/event.card.chart.panel.component.spec.ts
  src/app/components/event/chart/panel/event.card.chart.panel.component.ts
Due: lint-angular

chore: fix firestore error
  functions/src/shared/event-writer.spec.ts
  functions/src/shared/event-writer.ts
Due: lint-functions

fix: charts and other place
  src/app/components/benchmark/benchmark-report.component.ts
  src/app/helpers/echarts-host-controller.spec.ts
  src/app/helpers/echarts-host-controller.ts
  src/app/services/echarts-loader.service.spec.ts
  src/app/services/echarts-loader.service.ts
Due: lint-angular

chore: styles
  src/app/components/event/chart/actions/event.card.chart.actions.component.html
  src/app/components/event/chart/actions/event.card.chart.actions.component.scss
Due: lint-angular

chore: hide tooltip
  src/app/components/event/chart/panel/event.card.chart.panel.component.spec.ts
  src/app/components/event/chart/panel/event.card.chart.panel.component.ts
Due: lint-angular

fix: test
  src/app/components/event/chart/panel/event.card.chart.panel.component.spec.ts
Due: lint-angular

chore: usedirty only on event charts
  src/app/components/event/cadence-power/event.cadence-power.component.ts
  src/app/components/event/chart/panel/event.card.chart.panel.component.ts
  src/app/components/event/durability-curve/event.durability-curve.component.ts
  src/app/components/event/intensity-zones/event.intensity-zones.component.spec.ts
  src/app/components/event/intensity-zones/event.intensity-zones.component.ts
  src/app/components/event/power-curve/event.power-curve.component.ts
  src/app/helpers/echarts-host-controller.spec.ts
  src/app/helpers/echarts-host-controller.ts
  src/app/services/echarts-loader.service.spec.ts
  src/app/services/echarts-loader.service.ts
Due: lint-angular

chore: improve resizes
  src/app/helpers/echarts-host-controller.spec.ts
  src/app/helpers/echarts-host-controller.ts
  src/app/services/echarts-loader.service.spec.ts
  src/app/services/echarts-loader.service.ts
Due: lint-angular

chore: modulo and other fixes
  src/app/components/event/chart/panel/event.card.chart.panel.component.spec.ts
  src/app/components/event/chart/panel/event.card.chart.panel.component.ts
  src/app/helpers/event-echarts-yaxis.helper.spec.ts
  src/app/helpers/event-echarts-yaxis.helper.ts
Due: lint-angular

chore: improve locale
  src/app/helpers/dashboard-chart-data.helper.spec.ts
  src/app/helpers/dashboard-chart-data.helper.ts
  src/app/helpers/dashboard-echarts-cartesian.helper.spec.ts
  src/app/helpers/dashboard-echarts-cartesian.helper.ts
  src/app/helpers/event-echarts-xaxis.helper.spec.ts
  src/app/helpers/event-echarts-xaxis.helper.ts
Due: lint-angular

chore: add types
  src/app/components/event/chart/panel/event.card.chart.panel.component.ts
Due: lint-angular

fix: failing tests
  src/app/components/admin/admin-queue-stats/admin-queue-stats.component.spec.ts
  src/app/components/charts/columns/charts.columns.component.spec.ts
  src/app/components/charts/pie/charts.pie.component.spec.ts
  src/app/components/charts/xy/charts.xy.component.spec.ts
  src/app/components/event/cadence-power/event.cadence-power.component.spec.ts
  src/app/components/event/durability-curve/event.durability-curve.component.spec.ts
  src/app/components/event/intensity-zones/event.intensity-zones.component.spec.ts
  src/app/components/event/power-curve/event.power-curve.component.spec.ts
  src/app/helpers/dashboard-pie-chart-data.helper.spec.ts
Due: lint-angular

chore: improve selection range
  src/app/components/event/chart/panel/event.card.chart.panel.component.scss
Due: none

chore: styles
  src/app/components/event/chart/panel/event.card.chart.panel.component.html
  src/app/components/event/chart/panel/event.card.chart.panel.component.scss
  src/app/components/event/chart/panel/event.card.chart.panel.component.spec.ts
  src/app/components/event/chart/panel/event.card.chart.panel.component.ts
Due: lint-angular

chore: improve upload activity
  functions/src/suunto/activities.spec.ts
  functions/src/suunto/activities.ts
Due: lint-functions

chore: add types
  src/app/models/app-user.interface.ts
  src/app/services/app.user.service.ts
Due: lint-angular

fix: bugs
  src/app/authentication/app.auth.service.ts
  src/app/components/dashboard/dashboard.component.spec.ts
  src/app/components/dashboard/dashboard.component.ts
  src/app/services/app.user.service.ts
Due: lint-angular

fix: build
  src/app/services/app.user.service.ts
Due: lint-angular

chore: improve enforce
  functions/src/schedule/enforce-subscription-limits.spec.ts
  functions/src/schedule/enforce-subscription-limits.ts
Due: lint-functions

chore: improve agents
  .agent/rules/rules.md
  .agent/rules/verify-changes-with-tests.md
  AGENTS.md
  extensions/AGENTS.md
  functions/AGENTS.md
  src/AGENTS.md
Due: none

chore: improve limits
  docs/PRICING_AND_LIMITS.md
  functions/src/schedule/enforce-subscription-limits.ts
  functions/src/shared/limits.spec.ts
  functions/src/shared/limits.ts
  functions/src/utils-usage.spec.ts
  functions/src/utils.ts
Due: lint-functions

chore: improve on enforce limits
  functions/src/schedule/enforce-subscription-limits.spec.ts
  functions/src/schedule/enforce-subscription-limits.ts
Due: lint-functions

chore: chart improvements
  src/app/components/admin/admin-queue-stats/admin-queue-stats.component.ts
  src/app/components/admin/admin-user-management/admin-user-management.component.ts
  src/app/components/charts/columns/charts.columns.component.ts
  src/app/components/charts/pie/charts.pie.component.ts
  src/app/components/charts/xy/charts.xy.component.ts
  src/app/components/event/cadence-power/event.cadence-power.component.ts
  src/app/components/event/chart/actions/event.card.chart.actions.component.html
  src/app/components/event/chart/actions/event.card.chart.actions.component.scss
  src/app/components/event/chart/actions/event.card.chart.actions.component.spec.ts
  src/app/components/event/chart/actions/event.card.chart.actions.component.ts
  src/app/components/event/chart/event.card.chart.component.html
  src/app/components/event/chart/event.card.chart.component.spec.ts
  src/app/components/event/chart/event.card.chart.component.ts
  src/app/components/event/chart/panel/event.card.chart.panel.component.spec.ts
  src/app/components/event/chart/panel/event.card.chart.panel.component.ts
  src/app/components/event/durability-curve/event.durability-curve.component.ts
  src/app/components/event/event.card.component.html
  src/app/components/event/intensity-zones/event.intensity-zones.component.ts
  src/app/components/event/power-curve/event.power-curve.component.ts
  src/app/components/pricing/pricing.component.html
  src/app/components/pricing/pricing.component.spec.ts
  src/app/components/pricing/pricing.component.ts
  src/app/components/user-settings/user-settings.component.ts
  src/app/helpers/dashboard-echarts-style.helper.spec.ts
  src/app/helpers/dashboard-echarts-style.helper.ts
  src/app/helpers/echarts-host-controller.spec.ts
  src/app/helpers/echarts-host-controller.ts
  src/app/helpers/echarts-theme.helper.ts
  src/app/helpers/event-echarts-common.helper.spec.ts
  src/app/helpers/event-echarts-common.helper.ts
  src/app/helpers/event-echarts-yaxis.helper.ts
  src/app/models/app-user.interface.ts
  src/app/services/app.user-settings-query.service.ts
  src/app/services/app.user.service.ts
  src/app/services/echarts-loader.service.spec.ts
  src/app/services/echarts-loader.service.ts
  src/app/utils/app.user.utilities.spec.ts
  src/app/utils/app.user.utilities.ts
Due: lint-angular

fix: icon size
  src/app/components/event-table/event.table.component.html
  src/app/components/event-table/event.table.component.scss
Due: lint-angular

chore: styles
  src/app/components/charts/pie/charts.pie.component.spec.ts
  src/app/components/charts/pie/charts.pie.component.ts
  src/app/components/event-table/event.table.component.html
  src/app/components/event-table/event.table.component.scss
Due: lint-angular

chore: improve table
  src/app/components/event-table/event.table.component.html
  src/app/components/event-table/event.table.component.scss
  src/app/components/event-table/event.table.component.spec.ts
  src/app/components/event-table/event.table.component.ts
Due: lint-angular

chore: fix tests
  src/app/components/charts/columns/charts.columns.component.spec.ts
  src/app/components/charts/xy/charts.xy.component.spec.ts
  src/app/components/event/cadence-power/event.cadence-power.component.spec.ts
  src/app/components/event/chart/panel/event.card.chart.panel.component.spec.ts
  src/app/components/event/durability-curve/event.durability-curve.component.spec.ts
  src/app/components/event/intensity-zones/event.intensity-zones.component.spec.ts
  src/app/components/event/power-curve/event.power-curve.component.spec.ts
Due: lint-angular

chore: toggle styles
  src/app/components/event/chart/actions/event.card.chart.actions.component.html
  src/app/components/event/chart/actions/event.card.chart.actions.component.scss
  src/app/components/map/map-layers-actions/map-layers-actions.component.css
  src/app/components/map/map-layers-actions/map-layers-actions.component.html
Due: lint-angular

chore: revert some styles
  src/app/components/admin/admin-changelog/admin-changelog.component.scss
  src/app/components/event-search/event-search.component.scss
  src/app/components/event-table/merge-options-dialog/merge-options-dialog.component.scss
  src/app/components/event/stats-table/event.card.stats-table.component.css
  src/app/components/home/home.component.scss
  src/app/components/login/account-linking-dialog/account-linking-dialog.component.scss
  src/app/components/pricing/pricing.component.scss
  src/styles.scss
Due: none

chore: styles
  src/app/app.component.scss
  src/app/app.component.spec.ts
  src/app/app.component.ts
  src/app/components/event-table/event.table.component.html
  src/app/components/event-table/event.table.component.scss
  src/app/components/event/chart/actions/event.card.chart.actions.component.html
  src/app/components/event/chart/actions/event.card.chart.actions.component.scss
  src/app/components/event/chart/panel/event.card.chart.panel.component.scss
  src/app/components/sidenav/sidenav.component.html
  src/app/components/sidenav/sidenav.component.scss
  src/app/components/sidenav/sidenav.component.spec.ts
  src/app/components/sidenav/sidenav.component.ts
  src/app/services/app.theme.service.spec.ts
  src/app/services/app.theme.service.ts
  src/styles.scss
Due: lint-angular

chore: more style refactoring
  src/app/components/event-table/event.table.component.html
  src/app/components/event-table/event.table.component.scss
  src/app/components/event/chart/actions/event.card.chart.actions.component.html
  src/app/components/event/chart/actions/event.card.chart.actions.component.scss
  src/app/components/sidenav/sidenav.component.scss
  src/styles.scss
Due: lint-angular

fix: types
  src/app/models/app-user.interface.ts
  src/app/services/app.user.service.ts
Due: lint-angular

chore: styles and going fast
  src/app/app.component.html
  src/app/app.component.scss
  src/app/components/event-summary/event-summary.component.html
  src/app/components/event-summary/event-summary.component.scss
  src/app/components/event/chart/actions/event.card.chart.actions.component.scss
  src/app/components/shared/summary-primary-info/summary-primary-info.component.scss
  src/app/components/sidenav/sidenav.component.html
  src/app/components/user-settings/user-settings.component.scss
  src/app/helpers/event-echarts-yaxis.helper.spec.ts
  src/app/helpers/event-echarts-yaxis.helper.ts
Due: lint-angular

chore: more styles
  src/app/components/event-table/event.table.component.scss
  src/app/components/event/intensity-zones/event.intensity-zones.component.spec.ts
  src/app/components/event/intensity-zones/event.intensity-zones.component.ts
  src/styles.scss
Due: lint-angular

chore: style improvements
  src/app/app.component.ts
  src/app/components/event-table/event.table.component.html
  src/app/components/event-table/event.table.component.scss
  src/app/components/event/intensity-zones/event.intensity-zones.component.css
  src/app/components/event/intensity-zones/event.intensity-zones.component.html
  src/app/components/event/intensity-zones/event.intensity-zones.component.spec.ts
  src/app/components/event/intensity-zones/event.intensity-zones.component.ts
  src/app/components/sidenav/sidenav.component.html
  src/app/components/sidenav/sidenav.component.scss
  src/app/components/summaries/summaries.component.spec.ts
  src/app/components/summaries/summaries.component.ts
  src/app/components/whats-new/whats-new-dialog.component.ts
  src/app/components/whats-new/whats-new-item.component.scss
  src/app/components/whats-new/whats-new-page.component.ts
  src/styles.scss
Due: lint-angular

chore: more stylezxs
  src/app/components/benchmark/benchmark-report.component.ts
  src/app/components/whats-new/whats-new-item.component.html
  src/styles.scss
Due: lint-angular

chore: styles
  src/app/components/benchmark/benchmark-report.component.scss
  src/app/components/benchmark/benchmark-report.component.ts
  src/app/components/benchmark/benchmark-selection-dialog.component.scss
  src/app/components/benchmark/benchmark-selection-dialog.component.ts
  src/app/components/event-table/merge-options-dialog/merge-options-dialog.component.scss
  src/app/components/whats-new/whats-new-item.component.html
  src/app/components/whats-new/whats-new-item.component.scss
  src/app/modules/benchmark.module.ts
  src/app/modules/dashboard.module.ts
  src/app/modules/event.module.ts
  src/app/services/app.benchmark-flow.service.spec.ts
  src/app/services/app.benchmark-flow.service.ts
  src/styles.scss
Due: lint-angular

Path conditions:
  lint-functions: any of: **/*.{ts,js} and ^functions/
  lint-angular: any of: {src/*.{ts,html},src/**/*.{ts,html}}
