Repository jimmykane/quantified-self: changes, and which lefthook commands are due for each by the changed paths.
All: lint-functions, lint-angular

lint-functions:
  run: npx eslint {staged_files} --fix && git add {staged_files}

lint-angular:
  run: ESLINT_USE_FLAT_CONFIG=false npx eslint {staged_files} --fix && git add {staged_files}

chore: UI
  src/app/components/services/coros/services.coros.component.spec.ts
  src/app/components/services/garmin/services.garmin.component.spec.ts
  src/app/components/services/suunto/services.suunto.component.spec.ts
  src/app/components/summaries/summaries.component.css
  src/app/components/summaries/summaries.component.html
  src/app/components/summaries/summaries.component.spec.ts
Due: lint-angular

chore: bump sl
  functions/package-lock.json
  package-lock.json
Due: none

chore: UI
  src/app/components/charts/columns/charts.columns.component.spec.ts
  src/app/components/charts/columns/charts.columns.component.ts
  src/app/components/loading/loading-overlay/loading-overlay.component.css
  src/app/components/loading/loading-overlay/loading-overlay.component.spec.ts
  src/app/components/tile/chart/tile.chart.component.html
  src/app/components/tile/chart/tile.chart.component.spec.ts
  src/app/components/tile/map/tile.map.component.css
  src/app/components/tile/map/tile.map.component.html
  src/app/components/tile/map/tile.map.component.spec.ts
  src/app/components/tile/tile.abstract.css
Due: lint-angular

chore: add more kpis
  src/app/components/charts/kpi/charts.kpi.component.spec.ts
  src/app/components/charts/kpi/charts.kpi.component.ts
  src/app/components/summaries/dashboard-manager-dialog/dashboard-manager-dialog.component.spec.ts
  src/app/components/summaries/dashboard-manager-dialog/dashboard-manager-dialog.component.ts
  src/app/components/summaries/summaries.component.html
  src/app/components/summaries/summaries.component.ts
  src/app/components/tile/chart/tile.chart.component.html
  src/app/components/tile/chart/tile.chart.component.spec.ts
  src/app/components/tile/chart/tile.chart.component.ts
  src/app/helpers/dashboard-chart-info.helper.spec.ts
  src/app/helpers/dashboard-chart-info.helper.ts
  src/app/helpers/dashboard-derived-metrics.helper.spec.ts
  src/app/helpers/dashboard-derived-metrics.helper.ts
  src/app/helpers/dashboard-manager-presets.helper.spec.ts
  src/app/helpers/dashboard-manager-presets.helper.ts
  src/app/helpers/dashboard-special-chart-types.spec.ts
  src/app/helpers/dashboard-special-chart-types.ts
  src/app/helpers/dashboard-tile-view-model.helper.spec.ts
  src/app/helpers/dashboard-tile-view-model.helper.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

chore: bump reparse
  functions/src/reparse/sports-lib-reparse.config.ts
  functions/src/schedule/sports-lib-reparse.spec.ts
  functions/src/scripts/reparse-sports-lib-events.spec.ts
Due: lint-functions

chore: use single column
  src/app/components/summaries/dashboard-manager-dialog/dashboard-manager-dialog.component.spec.ts
  src/app/components/summaries/dashboard-manager-dialog/dashboard-manager-dialog.component.ts
Due: lint-angular

chore: ui improvements
  src/app/components/event-search/event-search.component.spec.ts
  src/app/components/event-search/event-search.component.ts
  src/app/components/services/coros/services.coros.component.html
  src/app/components/services/coros/services.coros.component.spec.ts
  src/app/components/services/garmin/services.garmin.component.html
  src/app/components/services/garmin/services.garmin.component.spec.ts
  src/app/components/services/suunto/services.suunto.component.html
  src/app/components/services/suunto/services.suunto.component.spec.ts
  src/app/components/summaries/dashboard-manager-dialog/dashboard-manager-dialog.component.spec.ts
  src/app/components/summaries/dashboard-manager-dialog/dashboard-manager-dialog.component.ts
  src/app/components/summaries/summaries.component.css
  src/app/components/summaries/summaries.component.html
  src/app/components/summaries/summaries.component.spec.ts
  src/app/components/summaries/summaries.component.ts
  src/app/components/tile/actions/chart/tile.chart.actions.component.spec.ts
  src/app/components/tile/actions/chart/tile.chart.actions.component.ts
  src/app/components/user-settings/user-settings.component.html
  src/app/components/user-settings/user-settings.component.scss
  src/app/components/user-settings/user-settings.component.spec.ts
  src/app/components/user-settings/user-settings.component.ts
  src/app/helpers/dashboard-auto-tile.helper.ts
  src/app/helpers/dashboard-grid-layout.helper.spec.ts
  src/app/helpers/dashboard-grid-layout.helper.ts
  src/app/models/app-user.interface.ts
  src/app/services/app.sleep.service.spec.ts
  src/app/services/app.sleep.service.ts
  src/app/services/dashboard-auto-tile.service.spec.ts
  src/app/services/dashboard-auto-tile.service.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/app/utils/app.user.utilities.spec.ts
  src/app/utils/app.user.utilities.ts
Due: lint-angular

chore: more ui improvements
  src/app/components/summaries/dashboard-manager-dialog/dashboard-manager-dialog.component.css
  src/app/components/summaries/dashboard-manager-dialog/dashboard-manager-dialog.component.html
  src/app/components/summaries/dashboard-manager-dialog/dashboard-manager-dialog.component.spec.ts
  src/app/components/summaries/dashboard-manager-dialog/dashboard-manager-dialog.component.ts
  src/app/components/summaries/summaries.component.css
  src/app/components/summaries/summaries.component.html
  src/app/components/summaries/summaries.component.spec.ts
  src/app/components/tile/actions/chart/tile.chart.actions.component.spec.ts
  src/app/components/tile/actions/chart/tile.chart.actions.component.ts
  src/app/helpers/dashboard-auto-tile.helper.ts
  src/app/services/app.theme.service.spec.ts
  src/app/services/app.theme.service.ts
  src/app/services/dashboard-auto-tile.service.spec.ts
  src/app/shared/help.content.ts
  src/styles.scss
Due: lint-angular

chore: power zone line charts colors and UI
  .agent/rules/material-design-strict.md
  src/app/app.module.menu-default-options.spec.ts
  src/app/app.module.ts
  src/app/components/event/chart/event.card.chart.component.spec.ts
  src/app/components/event/chart/event.card.chart.component.ts
  src/app/components/event/chart/panel/event.card.chart.panel.component.spec.ts
  src/app/components/metric-loader/metric-loader.component.scss
  src/app/components/summaries/dashboard-manager-dialog/dashboard-manager-dialog.component.css
  src/app/components/summaries/dashboard-manager-dialog/dashboard-manager-dialog.component.html
  src/app/components/summaries/dashboard-manager-dialog/dashboard-manager-dialog.component.spec.ts
  src/app/components/summaries/dashboard-manager-dialog/dashboard-manager-dialog.component.ts
  src/app/helpers/event-echarts-data.helper.spec.ts
  src/app/helpers/event-echarts-data.helper.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/styles.scss
Due: lint-angular

chore: actions for dashboard
  src/app/app.module.ts
  src/app/components/charts/kpi/charts.kpi.component.spec.ts
  src/app/components/charts/kpi/charts.kpi.component.ts
  src/app/components/dashboard/dashboard-action-prompt/dashboard-action-prompt.component.html
  src/app/components/dashboard/dashboard-action-prompt/dashboard-action-prompt.component.scss
  src/app/components/dashboard/dashboard-action-prompt/dashboard-action-prompt.component.spec.ts
  src/app/components/dashboard/dashboard-action-prompt/dashboard-action-prompt.component.ts
  src/app/components/dashboard/dashboard-action-prompts/dashboard-action-prompts.component.html
  src/app/components/dashboard/dashboard-action-prompts/dashboard-action-prompts.component.scss
  src/app/components/dashboard/dashboard-action-prompts/dashboard-action-prompts.component.spec.ts
  src/app/components/dashboard/dashboard-action-prompts/dashboard-action-prompts.component.ts
  src/app/components/dashboard/dashboard.component.html
  src/app/components/dashboard/dashboard.component.scss
  src/app/components/dashboard/dashboard.component.spec.ts
  src/app/components/dashboard/dashboard.component.ts
  src/app/components/event-summary/service-source-icon/service-source-icon.component.html
  src/app/components/event-summary/service-source-icon/service-source-icon.component.spec.ts
  src/app/components/event-summary/service-source-icon/service-source-icon.component.ts
  src/app/components/event/chart/panel/event.card.chart.panel.component.spec.ts
  src/app/components/event/chart/panel/event.card.chart.panel.component.ts
  src/app/components/upload/upload-abstract.directive.ts
  src/app/components/upload/upload-activities/upload-activities.component.css
  src/app/components/upload/upload-activities/upload-activities.component.html
  src/app/components/upload/upload-activities/upload-activities.component.spec.ts
  src/app/components/upload/upload-activities/upload-activities.component.ts
  src/app/helpers/dashboard-action-prompt.helper.spec.ts
  src/app/helpers/dashboard-action-prompt.helper.ts
  src/app/models/app-user.interface.ts
  src/app/modules/dashboard.module.ts
  src/app/modules/shared.module.ts
  src/app/services/app.user.service.spec.ts
  src/app/services/app.user.service.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/app/utils/app.user.utilities.spec.ts
  src/app/utils/app.user.utilities.ts
Due: lint-angular

chore: ui improvements
  src/app/components/dashboard/dashboard-action-prompt/dashboard-action-prompt.component.html
  src/app/components/dashboard/dashboard-action-prompt/dashboard-action-prompt.component.spec.ts
  src/app/components/dashboard/dashboard-action-prompts/dashboard-action-prompts.component.html
  src/app/components/dashboard/dashboard-action-prompts/dashboard-action-prompts.component.spec.ts
  src/app/components/dashboard/dashboard.component.spec.ts
  src/app/components/dashboard/dashboard.component.ts
  src/app/components/upload/upload-activities/upload-activities.component.html
  src/app/components/upload/upload-activities/upload-activities.component.spec.ts
  src/app/components/upload/upload-activities/upload-activities.component.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

chore: ui
  src/app/components/dashboard/dashboard-action-prompt/dashboard-action-prompt.component.html
Due: lint-angular

chore: ui fixes
  src/app/components/dashboard/dashboard-action-prompt/dashboard-action-prompt.component.html
Due: lint-angular

chore: PR fixes
  src/app/components/dashboard/dashboard.component.spec.ts
  src/app/components/dashboard/dashboard.component.ts
  src/app/components/summaries/summaries.component.spec.ts
  src/app/components/summaries/summaries.component.ts
Due: lint-angular

chore: add logs
  functions/src/suunto/queue.spec.ts
  functions/src/suunto/queue.ts
Due: lint-functions

chore: enable sleep sync
  docs/sleep-sync-operations.md
  functions/src/sleep/polling.spec.ts
  functions/src/sleep/provider-flags.spec.ts
  functions/src/sleep/provider-flags.ts
  src/app/components/summaries/dashboard-manager-dialog/dashboard-manager-dialog.component.spec.ts
  src/app/helpers/dashboard-manager-presets.helper.spec.ts
  src/app/helpers/dashboard-manager-presets.helper.ts
  src/app/helpers/dashboard-special-chart-types.spec.ts
  src/app/helpers/dashboard-special-chart-types.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

chore: bump sl
  functions/package-lock.json
  functions/package.json
  functions/src/reparse/sports-lib-reparse.config.ts
  package-lock.json
  package.json
Due: lint-functions

chore: fixes for units dashboard and derived metrics
  functions/src/derived-metrics/derived-metrics.service.spec.ts
  functions/src/derived-metrics/derived-metrics.service.ts
  functions/src/derived-metrics/derived-metrics.trigger.spec.ts
  functions/src/derived-metrics/derived-metrics.trigger.ts
  src/app/components/event-search/event-search.component.scss
  src/app/components/event-search/event-search.component.spec.ts
  src/app/helpers/unit-setup-preset.helper.spec.ts
  src/app/helpers/unit-setup-preset.helper.ts
Due: lint-functions, lint-angular

chore: PR fixes
  functions/src/sleep/queue.spec.ts
  functions/src/sleep/queue.ts
  functions/src/sleep/webhooks.spec.ts
  functions/src/sleep/webhooks.ts
  src/app/components/summaries/dashboard-manager-dialog/dashboard-manager-dialog.component.spec.ts
  src/app/helpers/dashboard-special-chart-types.spec.ts
  src/app/helpers/dashboard-special-chart-types.ts
  src/app/services/dashboard-auto-tile.service.spec.ts
  src/app/services/dashboard-auto-tile.service.ts
  src/app/shared/help.content.ts
  src/app/utils/app.user.utilities.spec.ts
  src/app/utils/app.user.utilities.ts
Due: lint-functions, lint-angular

chore: sleep improvements
  functions/src/sleep/queue.spec.ts
  functions/src/sleep/queue.ts
  functions/src/sleep/webhooks.ts
Due: lint-functions

chore: styles
  src/app/app.module.menu-default-options.spec.ts
  src/app/components/event-table/event.table.component.html
  src/app/components/event-table/event.table.component.scss
  src/app/components/event-table/event.table.component.spec.ts
  src/app/components/event-table/event.table.component.ts
  src/app/components/event-table/merge-options-dialog/merge-options-dialog.component.html
  src/app/components/event-table/merge-options-dialog/merge-options-dialog.component.scss
  src/app/components/event-table/merge-options-dialog/merge-options-dialog.component.spec.ts
  src/styles.scss
Due: lint-angular

fix: lost settings during manager update
  src/app/components/summaries/dashboard-manager-dialog/dashboard-manager-dialog.component.spec.ts
  src/app/components/summaries/dashboard-manager-dialog/dashboard-manager-dialog.component.ts
Due: lint-angular

chore: bump version
  package.json
Due: none

chore: improve settings saving
  src/app/components/dashboard/dashboard.component.spec.ts
  src/app/components/dashboard/dashboard.component.ts
  src/app/components/event-table/event.table.component.spec.ts
  src/app/components/event-table/event.table.component.ts
  src/app/components/events-export-form/events-export.form.component.spec.ts
  src/app/components/events-export-form/events-export.form.component.ts
  src/app/components/summaries/dashboard-manager-dialog/dashboard-manager-dialog.component.spec.ts
  src/app/components/summaries/dashboard-manager-dialog/dashboard-manager-dialog.component.ts
  src/app/components/summaries/summaries.component.spec.ts
  src/app/components/summaries/summaries.component.ts
  src/app/components/tile/actions/chart/tile.chart.actions.component.spec.ts
  src/app/components/tile/actions/chart/tile.chart.actions.component.ts
  src/app/components/tile/actions/map/tile.map.actions.component.spec.ts
  src/app/components/tile/actions/tile-actions-abstract.directive.ts
  src/app/components/user-settings/user-settings.component.spec.ts
  src/app/components/user-settings/user-settings.component.ts
  src/app/services/app.theme.service.spec.ts
  src/app/services/app.theme.service.ts
  src/app/services/dashboard-auto-tile.service.spec.ts
  src/app/services/dashboard-auto-tile.service.ts
Due: lint-angular

chore: ui fixes
  src/app/components/activity-types-filter-menu/activity-types-filter-menu.component.html
  src/app/components/activity-types-filter-menu/activity-types-filter-menu.component.spec.ts
  src/app/components/activity-types-filter-menu/activity-types-filter-menu.component.ts
  src/app/components/event-table/event.table.component.html
  src/app/components/event-table/event.table.component.scss
  src/app/components/event-table/event.table.component.spec.ts
Due: lint-angular

chore: remove legacy
  functions/src/tokens.spec.ts
  functions/src/tokens.ts
Due: lint-functions

chore: fix queue
  functions/src/sleep/queue.spec.ts
  functions/src/sleep/queue.ts
Due: lint-functions

chore: fix for derived
  functions/src/derived-metrics/derived-metrics.service.spec.ts
  functions/src/derived-metrics/derived-metrics.service.ts
Due: lint-functions

fix: UI tooltips for the dark theme
  src/app/app.module.menu-default-options.spec.ts
  src/styles.scss
Due: lint-angular

feature: event counts
  firestore.indexes.json
  firestore.rules
  functions/package.json
  functions/src/admin/handlers/users.handlers.ts
  functions/src/admin/shared/types.ts
  functions/src/admin/shared/user-enrichment.ts
  functions/src/admin/test-utils/admin-test-harness.ts
  functions/src/admin/user-count.handlers.spec.ts
  functions/src/admin/users.handlers.spec.ts
  functions/src/ai/insights/execute-query.ts
  functions/src/derived-metrics/derived-metrics.service.ts
  functions/src/events/event-stats.spec.ts
  functions/src/events/event-stats.ts
  functions/src/index.ts
  functions/src/scripts/backfill-event-stats.spec.ts
  functions/src/scripts/backfill-event-stats.ts
  functions/src/shared/event-stats.spec.ts
  functions/src/shared/ttl-config.spec.ts
  functions/src/shared/ttl-config.ts
  shared/event-stats.ts
  src/app/components/admin/admin-user-management/admin-user-management.component.html
  src/app/components/admin/admin-user-management/admin-user-management.component.scss
  src/app/components/admin/admin-user-management/admin-user-management.component.spec.ts
  src/app/components/admin/admin-user-management/admin-user-management.component.ts
  src/app/components/summaries/summaries.component.css
  src/app/components/summaries/summaries.component.html
  src/app/components/summaries/summaries.component.spec.ts
  src/app/components/summaries/summaries.component.ts
  src/app/resolvers/admin.resolver.spec.ts
  src/app/services/admin.service.spec.ts
  src/app/services/admin.service.ts
  src/app/services/app.event-stats.service.spec.ts
  src/app/services/app.event-stats.service.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/firestore.rules.spec.ts
Due: lint-functions, lint-angular

chore: improve counters , cleanup
  firestore.rules
  src/app/components/admin/admin-user-management/admin-user-management.component.html
  src/app/components/admin/admin-user-management/admin-user-management.component.spec.ts
  src/app/components/admin/admin-user-management/admin-user-management.component.ts
  src/app/components/event-actions/event.actions.component.html
  src/app/components/event-actions/event.actions.component.ts
  src/app/components/event-form/event.form.component.css
  src/app/components/event-form/event.form.component.html
  src/app/components/event-form/event.form.component.spec.ts
  src/app/components/event-form/event.form.component.ts
  src/app/components/summaries/summaries.component.css
  src/app/components/summaries/summaries.component.html
  src/app/components/summaries/summaries.component.spec.ts
  src/app/components/summaries/summaries.component.ts
  src/app/helpers/compact-count.pipe.spec.ts
  src/app/helpers/compact-count.pipe.ts
  src/app/modules/dashboard.module.ts
  src/app/modules/shared.module.ts
  src/firestore.rules.spec.ts
Due: lint-angular

chore: fix for merge
  functions/src/shared/event-classification.spec.ts
  shared/event-classification.ts
Due: lint-functions

chore: charts and haptic
  src/app/components/charts/columns/charts.columns.component.spec.ts
  src/app/components/charts/columns/charts.columns.component.ts
  src/app/components/charts/efficiency-trend/charts.efficiency-trend.component.spec.ts
  src/app/components/charts/efficiency-trend/charts.efficiency-trend.component.ts
  src/app/components/charts/form/charts.form.component.ts
  src/app/components/charts/freshness-forecast/charts.freshness-forecast.component.spec.ts
  src/app/components/charts/freshness-forecast/charts.freshness-forecast.component.ts
  src/app/components/charts/intensity-distribution/charts.intensity-distribution.component.spec.ts
  src/app/components/charts/intensity-distribution/charts.intensity-distribution.component.ts
  src/app/components/charts/kpi/charts.kpi.component.spec.ts
  src/app/components/charts/kpi/charts.kpi.component.ts
  src/app/components/charts/pie/charts.pie.component.ts
  src/app/components/charts/sleep-trend/charts.sleep-trend.component.ts
  src/app/components/charts/xy/charts.xy.component.spec.ts
  src/app/components/charts/xy/charts.xy.component.ts
  src/app/components/tile/chart/tile.chart.component.html
  src/app/components/tile/chart/tile.chart.component.spec.ts
  src/app/components/tile/chart/tile.chart.component.ts
  src/app/helpers/dashboard-chart-data.helper.spec.ts
  src/app/helpers/dashboard-chart-data.helper.ts
  src/app/helpers/echarts-host-controller.spec.ts
  src/app/helpers/echarts-host-controller.ts
  src/app/helpers/echarts-tooltip-interaction.helper.spec.ts
  src/app/helpers/echarts-tooltip-interaction.helper.ts
  src/app/services/echarts-loader.service.spec.ts
  src/app/services/echarts-loader.service.ts
Due: lint-angular

chore: remove event counters from dashboard
  src/app/components/summaries/summaries.component.html
  src/app/components/summaries/summaries.component.spec.ts
  src/app/components/summaries/summaries.component.ts
  src/app/modules/dashboard.module.ts
  src/app/services/app.event-stats.service.spec.ts
  src/app/services/app.event-stats.service.ts
  src/app/services/app.event.service.ts
Due: lint-angular

chore: better admin stats
  README.md
  functions/src/admin/handlers/users.handlers.ts
  functions/src/admin/shared/types.ts
  functions/src/admin/user-count.handlers.spec.ts
  scripts/setup-ttl.sh
  src/app/components/admin/admin-user-management/admin-user-management.component.html
  src/app/components/admin/admin-user-management/admin-user-management.component.scss
  src/app/components/admin/admin-user-management/admin-user-management.component.spec.ts
  src/app/components/admin/admin-user-management/admin-user-management.component.ts
  src/app/services/admin.service.spec.ts
  src/app/services/admin.service.ts
Due: lint-functions, lint-angular

chore: haptic
  src/app/helpers/echarts-tooltip-interaction.helper.spec.ts
  src/app/helpers/echarts-tooltip-interaction.helper.ts
  src/app/services/echarts-loader.service.spec.ts
Due: lint-angular

fix: mapbox issues
  src/app/components/tracks/tracks-map.manager.spec.ts
  src/app/components/tracks/tracks-map.manager.ts
  src/app/services/map/mapbox-heatmap-layer.service.spec.ts
  src/app/services/map/mapbox-heatmap-layer.service.ts
Due: lint-angular

fix: merge events
  functions/src/events/merge-events.spec.ts
  functions/src/events/merge-events.ts
  src/app/components/event-table/event.table.component.spec.ts
  src/app/components/event-table/event.table.component.ts
Due: lint-functions, lint-angular

Path conditions:
  lint-functions: any of: **/*.{ts,js} and ^functions/
  lint-angular: any of: {src/*.{ts,html},src/**/*.{ts,html}}
