Repository jimmykane/quantified-self: changes, and which lefthook commands are due for each by the changed paths.
All: lint-functions, lint-angular

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint-functions:
      root: "functions"
      glob: "**/*.{ts,js}"
      run: npx eslint {staged_files} --fix && git add {staged_files}
    lint-angular:
      glob: "{src/*.{ts,html},src/**/*.{ts,html}}"
      run: ESLINT_USE_FLAT_CONFIG=false npx eslint {staged_files} --fix && git add {staged_files}

chore: haptics
  src/app/components/event/intensity-zones/event.intensity-zones.component.ts
  src/app/components/tile/chart/tile.chart.component.html
  src/app/components/tile/chart/tile.chart.component.spec.ts
  src/app/helpers/echarts-tooltip-interaction.helper.spec.ts
  src/app/helpers/echarts-tooltip-interaction.helper.ts
  src/app/services/echarts-loader.service.spec.ts
  src/app/services/echarts-loader.service.ts
Due: lint-angular

chore: ui improvements
  src/app/components/charts/columns/charts.columns.component.spec.ts
  src/app/components/charts/columns/charts.columns.component.ts
  src/app/components/charts/efficiency-trend/charts.efficiency-trend.component.ts
  src/app/components/charts/form/charts.form.component.spec.ts
  src/app/components/charts/form/charts.form.component.ts
  src/app/components/charts/freshness-forecast/charts.freshness-forecast.component.spec.ts
  src/app/components/charts/freshness-forecast/charts.freshness-forecast.component.ts
  src/app/components/charts/intensity-distribution/charts.intensity-distribution.component.ts
  src/app/components/charts/kpi/charts.kpi.component.ts
  src/app/components/charts/pie/charts.pie.component.spec.ts
  src/app/components/charts/pie/charts.pie.component.ts
  src/app/components/charts/sleep-trend/charts.sleep-trend.component.ts
  src/app/components/charts/xy/charts.xy.component.spec.ts
  src/app/components/charts/xy/charts.xy.component.ts
  src/app/components/summaries/dashboard-manager-dialog/dashboard-manager-dialog.component.ts
  src/app/helpers/dashboard-chart-info.helper.ts
  src/app/helpers/dashboard-echarts-style.helper.spec.ts
  src/app/helpers/dashboard-echarts-style.helper.ts
  src/app/helpers/dashboard-manager-presets.helper.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

chore: bv
  package.json
Due: none

chore: PR fixes
  functions/src/derived-metrics/derived-metrics.service.spec.ts
  functions/src/derived-metrics/derived-metrics.service.ts
  functions/src/events/merge-events.spec.ts
  functions/src/events/merge-events.ts
  functions/src/tasks/derived-metrics-worker.spec.ts
  functions/src/tasks/derived-metrics-worker.ts
Due: lint-functions

chore: pr fixes
  functions/src/ai/insights/execute-query.spec.ts
  functions/src/ai/insights/execute-query.ts
Due: lint-functions

chore: UI
  src/app/components/services/coros/services.coros.component.html
  src/app/components/services/coros/services.coros.component.spec.ts
  src/app/components/services/garmin/services.garmin.component.html
  src/app/components/services/garmin/services.garmin.component.spec.ts
  src/app/components/services/service-connection-status/service-connection-status.component.scss
  src/app/components/services/services-abstract-component.directive.scss
  src/app/components/services/services-abstract-component.directive.ts
  src/app/components/services/suunto/services.suunto.component.css
  src/app/components/services/suunto/services.suunto.component.html
  src/app/components/services/suunto/services.suunto.component.spec.ts
Due: lint-angular

chore: improve settings and how up setting for connecting routes for autosync
  src/app/components/dashboard/dashboard-action-prompts/dashboard-action-prompts.component.spec.ts
  src/app/components/dashboard/dashboard-action-prompts/dashboard-action-prompts.component.ts
  src/app/components/dashboard/dashboard.component.spec.ts
  src/app/components/dashboard/dashboard.component.ts
  src/app/components/services/coros/services.coros.component.spec.ts
  src/app/components/services/coros/services.coros.component.ts
  src/app/components/services/garmin/services.garmin.component.spec.ts
  src/app/components/services/garmin/services.garmin.component.ts
  src/app/components/services/service-connection-status/service-connection-status.component.scss
  src/app/components/services/service-connection-status/service-connection-status.component.spec.ts
  src/app/components/services/services-abstract-component.directive.scss
  src/app/components/services/services.component.scss
  src/app/components/services/services.component.spec.ts
  src/app/components/user-settings/user-settings.component.html
  src/app/components/user-settings/user-settings.component.scss
  src/app/components/user-settings/user-settings.component.spec.ts
  src/app/helpers/dashboard-action-prompt.helper.spec.ts
  src/app/helpers/dashboard-action-prompt.helper.ts
  src/app/models/app-user.interface.ts
  src/app/services/app.user.service.spec.ts
  src/app/services/app.user.service.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/app/utils/app.user.utilities.spec.ts
Due: lint-angular

chore: disable reparse
  functions/src/reparse/sports-lib-reparse.config.ts
Due: lint-functions

chore: more kpis
  src/app/components/charts/kpi/charts.kpi.component.css
  src/app/components/charts/kpi/charts.kpi.component.spec.ts
  src/app/components/charts/kpi/charts.kpi.component.ts
  src/app/components/summaries/dashboard-manager-dialog/dashboard-manager-dialog.component.spec.ts
  src/app/components/summaries/dashboard-manager-dialog/dashboard-manager-dialog.component.ts
  src/app/components/tile/chart/tile.chart.component.html
  src/app/components/tile/chart/tile.chart.component.spec.ts
  src/app/components/tile/chart/tile.chart.component.ts
  src/app/helpers/dashboard-auto-tile.helper.ts
  src/app/helpers/dashboard-chart-info.helper.ts
  src/app/helpers/dashboard-manager-presets.helper.spec.ts
  src/app/helpers/dashboard-manager-presets.helper.ts
  src/app/helpers/dashboard-special-chart-types.spec.ts
  src/app/helpers/dashboard-special-chart-types.ts
  src/app/helpers/dashboard-tile-view-model.helper.spec.ts
  src/app/helpers/dashboard-tile-view-model.helper.ts
  src/app/models/app-user.interface.ts
  src/app/services/dashboard-auto-tile.service.spec.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

chore: haptics
  src/app/helpers/echarts-tooltip-interaction.helper.spec.ts
  src/app/helpers/echarts-tooltip-interaction.helper.ts
  src/app/services/echarts-loader.service.spec.ts
Due: lint-angular

chore: ui improvements
  src/app/components/charts/form/charts.form.component.html
  src/app/components/charts/form/charts.form.component.spec.ts
  src/app/components/charts/form/charts.form.component.ts
  src/app/components/charts/kpi/charts.kpi.component.css
  src/app/components/charts/kpi/charts.kpi.component.html
  src/app/components/charts/kpi/charts.kpi.component.spec.ts
  src/app/components/charts/kpi/charts.kpi.component.ts
  src/app/components/charts/sleep-trend/charts.sleep-trend.component.spec.ts
  src/app/components/charts/sleep-trend/charts.sleep-trend.component.ts
  src/app/components/summaries/dashboard-manager-dialog/dashboard-manager-dialog.component.spec.ts
  src/app/components/summaries/dashboard-manager-dialog/dashboard-manager-dialog.component.ts
  src/app/components/summaries/summaries.component.html
  src/app/components/summaries/summaries.component.spec.ts
  src/app/components/summaries/summaries.component.ts
  src/app/components/tile/chart/tile.chart.component.spec.ts
  src/app/components/tile/chart/tile.chart.component.ts
  src/app/helpers/dashboard-auto-tile.helper.ts
  src/app/helpers/dashboard-chart-display-settings.helper.spec.ts
  src/app/helpers/dashboard-chart-display-settings.helper.ts
  src/app/helpers/dashboard-chart-info.helper.ts
  src/app/helpers/dashboard-manager-presets.helper.ts
  src/app/helpers/dashboard-sleep-chart.helper.spec.ts
  src/app/helpers/dashboard-sleep-chart.helper.ts
  src/app/helpers/dashboard-tile-view-model.helper.spec.ts
  src/app/helpers/dashboard-tile-view-model.helper.ts
  src/app/models/app-user.interface.ts
  src/app/services/dashboard-auto-tile.service.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/app/utils/app.user.utilities.spec.ts
  src/app/utils/app.user.utilities.ts
Due: lint-angular

fix: missing distance or other callable streams
  src/app/components/event/chart/event.card.chart.component.spec.ts
  src/app/components/event/chart/event.card.chart.component.ts
Due: lint-angular

fix: pr feedback
  src/app/components/summaries/summaries.component.spec.ts
  src/app/components/summaries/summaries.component.ts
Due: lint-angular

chore: fix for units
  src/app/components/charts/columns/charts.columns.component.spec.ts
  src/app/components/charts/columns/charts.columns.component.ts
  src/app/helpers/dashboard-chart-data.helper.spec.ts
  src/app/helpers/dashboard-chart-data.helper.ts
Due: lint-angular

chore: SEO improvements
  src/app/app.routing.module.spec.ts
  src/app/app.routing.module.ts
  src/app/components/home/home.component.html
  src/app/components/home/home.component.spec.ts
  src/app/services/seo.service.spec.ts
  src/app/services/seo.service.ts
  src/index.html
Due: lint-angular

chore: improve home
  src/app/components/home/home.component.html
  src/app/components/home/home.component.scss
  src/app/components/home/home.component.spec.ts
Due: lint-angular

chore: haptics
  src/app/components/charts/kpi/charts.kpi.component.spec.ts
  src/app/components/charts/kpi/charts.kpi.component.ts
  src/app/helpers/echarts-tooltip-interaction.helper.spec.ts
  src/app/helpers/echarts-tooltip-interaction.helper.ts
  src/app/services/echarts-loader.service.spec.ts
  src/app/services/echarts-loader.service.ts
Due: lint-angular

chore: support comparison chart
  src/app/components/event/chart/event.card.chart.component.html
  src/app/components/event/chart/event.card.chart.component.spec.ts
  src/app/components/event/chart/event.card.chart.component.ts
  src/app/components/event/chart/panel/event.card.chart.panel.component.html
  src/app/components/event/chart/panel/event.card.chart.panel.component.scss
  src/app/components/event/chart/panel/event.card.chart.panel.component.spec.ts
  src/app/components/event/chart/panel/event.card.chart.panel.component.ts
  src/app/helpers/event-chart-overlay.helper.spec.ts
  src/app/helpers/event-chart-overlay.helper.ts
  src/app/models/app-user.interface.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/app/utils/app.user.utilities.spec.ts
  src/app/utils/app.user.utilities.ts
Due: lint-angular

chore: analytics for payments and chart improvements
  src/app/components/event/chart/panel/event.card.chart.panel.component.spec.ts
  src/app/components/event/chart/panel/event.card.chart.panel.component.ts
  src/app/components/payment-success/payment-success.component.spec.ts
  src/app/components/payment-success/payment-success.component.ts
  src/app/components/pricing/pricing.component.spec.ts
  src/app/components/pricing/pricing.component.ts
  src/app/services/app.analytics.service.spec.ts
  src/app/services/app.analytics.service.ts
  src/app/services/app.payment.service.spec.ts
  src/app/services/app.payment.service.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-angular

chore: improvements
  src/app/components/payment-success/payment-success.component.spec.ts
  src/app/components/payment-success/payment-success.component.ts
  src/app/components/pricing/pricing.component.spec.ts
  src/app/components/pricing/pricing.component.ts
  src/app/components/tracks/tracks.component.html
  src/app/components/tracks/tracks.component.spec.ts
  src/app/components/tracks/tracks.component.ts
  src/app/models/app-user.interface.ts
  src/app/services/app.analytics.service.spec.ts
  src/app/services/app.analytics.service.ts
  src/app/services/app.payment.service.spec.ts
  src/app/services/app.payment.service.ts
  src/app/services/app.user-settings-query.service.ts
  src/app/shared/help.content.ts
  src/app/utils/app.user.utilities.spec.ts
  src/app/utils/app.user.utilities.ts
Due: lint-angular

chore: payment and filters
  src/app/components/activity-types-filter-menu/activity-types-filter-menu.component.css
  src/app/components/activity-types-filter-menu/activity-types-filter-menu.component.html
  src/app/components/activity-types-filter-menu/activity-types-filter-menu.component.spec.ts
  src/app/components/payment-success/payment-success.component.spec.ts
  src/app/components/payment-success/payment-success.component.ts
  src/app/services/app.analytics.service.spec.ts
  src/app/services/app.analytics.service.ts
Due: lint-angular

chore: auth stuff
  functions/src/OAuth2.spec.ts
  functions/src/OAuth2.ts
  functions/src/coros/auth/wrapper.spec.ts
  functions/src/coros/auth/wrapper.ts
  functions/src/garmin/auth/wrapper.spec.ts
  functions/src/garmin/auth/wrapper.ts
  functions/src/queue.spec.ts
  functions/src/queue.ts
  functions/src/service-auth-lifecycle.spec.ts
  functions/src/service-auth-lifecycle.ts
  functions/src/service-connection-meta.ts
  functions/src/service-token-store.ts
  functions/src/sleep/polling.spec.ts
  functions/src/sleep/polling.ts
  functions/src/sleep/queue.spec.ts
  functions/src/sleep/queue.ts
  functions/src/suunto/auth/wrapper.spec.ts
  functions/src/suunto/auth/wrapper.ts
  functions/src/tokens.spec.ts
  functions/src/tokens.ts
  shared/service-connection.ts
  src/app/components/dashboard/dashboard.component.spec.ts
  src/app/components/dashboard/dashboard.component.ts
  src/app/components/services/service-connection-status/service-connection-status.component.html
  src/app/components/services/service-connection-status/service-connection-status.component.scss
  src/app/components/services/service-connection-status/service-connection-status.component.ts
  src/app/components/services/services-abstract-component.directive.ts
  src/app/components/services/suunto/services.suunto.component.css
  src/app/components/services/suunto/services.suunto.component.html
  src/app/components/services/suunto/services.suunto.component.spec.ts
  src/app/components/services/suunto/services.suunto.component.ts
  src/app/helpers/dashboard-action-prompt.helper.spec.ts
  src/app/helpers/dashboard-action-prompt.helper.ts
  src/app/helpers/suunto-service-connection.helper.spec.ts
  src/app/helpers/suunto-service-connection.helper.ts
  src/app/models/app-user.interface.ts
  src/app/services/app.user.service.spec.ts
  src/app/services/app.user.service.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

chore: checkout session stuff
  functions/src/index.ts
  functions/src/stripe/verify-checkout-session.spec.ts
  functions/src/stripe/verify-checkout-session.ts
  shared/functions-manifest.ts
  shared/stripe-checkout-session.ts
  src/app/components/payment-success/payment-success.component.html
  src/app/components/payment-success/payment-success.component.scss
  src/app/components/payment-success/payment-success.component.spec.ts
  src/app/components/payment-success/payment-success.component.ts
  src/app/services/app.analytics.service.spec.ts
  src/app/services/app.analytics.service.ts
Due: lint-functions, lint-angular

chore: increase file size
  functions/src/coros/activities.spec.ts
  functions/src/coros/activities.ts
  functions/src/events/upload-activity.spec.ts
  functions/src/events/upload-activity.ts
  functions/src/suunto/activities.spec.ts
  functions/src/suunto/activities.ts
  src/app/components/upload/upload-activities-to-service/upload-activities-to-service.component.spec.ts
  src/app/components/upload/upload-activities-to-service/upload-activities-to-service.component.ts
Due: lint-functions, lint-angular

chore: increase cap
  functions/src/events/upload-activity.spec.ts
  functions/src/events/upload-activity.ts
Due: lint-functions

chore : increase cpu
  functions/src/events/upload-activity.spec.ts
  functions/src/events/upload-activity.ts
Due: lint-functions

chore: upload activity max out settings
  functions/src/events/upload-activity.spec.ts
  functions/src/events/upload-activity.ts
Due: lint-functions

chore: analytics payment and dashboard defautls
  functions/src/index.ts
  functions/src/stripe/verify-checkout-session.spec.ts
  functions/src/stripe/verify-checkout-session.ts
  shared/functions-manifest.ts
  shared/stripe-checkout-session.ts
  src/app/components/payment-success/payment-success.component.html
  src/app/components/payment-success/payment-success.component.scss
  src/app/components/payment-success/payment-success.component.spec.ts
  src/app/components/payment-success/payment-success.component.ts
  src/app/components/pricing/pricing.component.spec.ts
  src/app/components/pricing/pricing.component.ts
  src/app/helpers/dashboard-tile-event-filters.helper.spec.ts
  src/app/helpers/dashboard-tile-event-filters.helper.ts
  src/app/services/app.analytics.service.spec.ts
  src/app/services/app.analytics.service.ts
  src/app/services/app.payment.service.spec.ts
  src/app/services/app.payment.service.ts
  src/app/utils/app.user.utilities.spec.ts
  src/app/utils/app.user.utilities.ts
Due: lint-functions, lint-angular

chore: improvements
  functions/src/index.ts
  functions/src/stripe/claims.spec.ts
  functions/src/stripe/claims.ts
  functions/src/stripe/get-upcoming-renewal-amount.spec.ts
  functions/src/stripe/get-upcoming-renewal-amount.ts
  functions/src/stripe/subscriptions.spec.ts
  functions/src/stripe/subscriptions.ts
  shared/functions-manifest.ts
  shared/stripe-renewal.ts
  src/app/components/payment-success/payment-success.component.spec.ts
  src/app/components/payment-success/payment-success.component.ts
  src/app/components/pricing/pricing.component.html
  src/app/components/pricing/pricing.component.scss
  src/app/components/pricing/pricing.component.spec.ts
  src/app/components/pricing/pricing.component.ts
  src/app/services/app.analytics.service.spec.ts
  src/app/services/app.analytics.service.ts
  src/app/services/app.payment.service.spec.ts
  src/app/services/app.payment.service.ts
Due: lint-functions, lint-angular

chore: cleanup
  functions/src/stripe/claims.spec.ts
Due: lint-functions

chore: revert stuff
  functions/src/index.ts
  functions/src/stripe/claims.spec.ts
  functions/src/stripe/claims.ts
  functions/src/stripe/get-upcoming-renewal-amount.spec.ts
  functions/src/stripe/get-upcoming-renewal-amount.ts
  functions/src/stripe/subscriptions.spec.ts
  functions/src/stripe/subscriptions.ts
  shared/functions-manifest.ts
  shared/stripe-renewal.ts
  src/app/components/payment-success/payment-success.component.html
  src/app/components/payment-success/payment-success.component.scss
  src/app/components/payment-success/payment-success.component.spec.ts
  src/app/components/payment-success/payment-success.component.ts
  src/app/components/pricing/pricing.component.html
  src/app/components/pricing/pricing.component.scss
  src/app/components/pricing/pricing.component.spec.ts
  src/app/components/pricing/pricing.component.ts
  src/app/services/app.payment.service.spec.ts
  src/app/services/app.payment.service.ts
Due: lint-functions, lint-angular

chore: version
  package-lock.json
Due: none

chore: fixes
  functions/src/queue-integration.spec.ts
  functions/src/sleep/polling.spec.ts
  functions/src/sleep/polling.ts
Due: lint-functions

chore: fixes
  functions/src/garmin/auth/wrapper.ts
  functions/src/queue.ts
  functions/src/scripts/cleanup-firestore.ts
  functions/src/service-auth-lifecycle.ts
  functions/src/users/cleanup.ts
Due: lint-functions

chore: remove warning for deletion of data email
  functions/src/schedule/notifications.spec.ts
  functions/src/schedule/notifications.ts
  functions/src/scripts/seed-email-templates.ts
  functions/src/scripts/test-all-emails.ts
  functions/templates/grace_period_ending.hbs
Due: lint-functions

chore: fixes
  functions/src/OAuth2.spec.ts
  functions/src/garmin/auth/wrapper.spec.ts
  functions/src/service-auth-lifecycle.spec.ts
  functions/src/service-auth-lifecycle.ts
  functions/src/service-connection-meta.spec.ts
  functions/src/service-connection-meta.ts
  src/app/components/dashboard/dashboard-action-prompts/dashboard-action-prompts.component.ts
Due: lint-functions, lint-angular

chore: pr fixes
  functions/src/OAuth2.spec.ts
  functions/src/queue.spec.ts
  functions/src/queue.ts
  functions/src/service-auth-lifecycle.spec.ts
  functions/src/service-auth-lifecycle.ts
Due: lint-functions

fix: pr feedback
  functions/src/service-auth-lifecycle.spec.ts
  functions/src/service-auth-lifecycle.ts
  functions/src/sleep/writer.spec.ts
  functions/src/sleep/writer.ts
  src/app/components/services/suunto/services.suunto.component.html
  src/app/components/services/suunto/services.suunto.component.spec.ts
Due: lint-functions, lint-angular

chore: chart fixes
  src/app/helpers/event-echarts-data.helper.spec.ts
  src/app/helpers/event-echarts-data.helper.ts
Due: lint-angular
