Repository jimmykane/quantified-self: changes, and which lefthook commands are due for each by the changed paths.
All: lint-functions, lint-angular

lint-functions:
  run: npx eslint {staged_files} --fix && git add {staged_files}

lint-angular:
  run: ESLINT_USE_FLAT_CONFIG=false npx eslint {staged_files} --fix && git add {staged_files}

chore: garmin permissions ui
  functions/src/garmin/constants.ts
  src/app/components/services/garmin/services.garmin.component.html
  src/app/components/services/garmin/services.garmin.component.ts
Due: lint-functions, lint-angular

chore: improvements for 502
  functions/src/OAuth2.spec.ts
  functions/src/OAuth2.ts
  functions/src/coros/auth/wrapper.ts
  functions/src/garmin/auth/wrapper.ts
  functions/src/queue.ts
  functions/src/suunto/auth/wrapper.ts
  functions/src/tokens.spec.ts
  functions/src/tokens.ts
Due: lint-functions

chore: frotnend improvements for 502
  src/app/components/services/garmin/services.garmin.component.spec.ts
  src/app/components/services/services-abstract-component.directive.ts
Due: lint-angular

fix: do not call garmin when they are deuathorizing from their size
  functions/src/garmin/auth/wrapper.spec.ts
  functions/src/garmin/auth/wrapper.ts
Due: lint-functions

chore: improve logging
  functions/src/garmin/auth/wrapper.ts
Due: lint-functions

chore: cleanup states
  functions/src/OAuth2.spec.ts
  functions/src/OAuth2.ts
Due: lint-functions

chore: improve UI for garmin
  src/app/components/history-import-form/history-import.form.component.html
  src/app/components/history-import-form/history-import.form.component.spec.ts
  src/app/components/history-import-form/history-import.form.component.ts
  src/app/components/services/garmin/services.garmin.component.html
Due: lint-angular

chore: styles
  src/app/components/history-import-form/history-import.form.component.html
  src/app/components/services/garmin/services.garmin.component.html
  src/styles/_forms.scss
Due: lint-angular

chore: indexes
  firestore.indexes.json
Due: none

chore: change region
  functions/src/schedule/notifications.ts
Due: lint-functions

chore: better cleanup with recursive
  functions/src/OAuth2.spec.ts
  functions/src/OAuth2.ts
  functions/src/users/cleanup.spec.ts
  functions/src/users/cleanup.ts
Due: lint-functions

chore: retry to get permissions 4 times with backoff
  functions/src/garmin/auth/api.ts
Due: lint-functions

chore: garmin ui
  src/app/components/services/garmin/services.garmin.component.html
  src/app/components/services/garmin/services.garmin.component.spec.ts
  src/app/components/services/garmin/services.garmin.component.ts
Due: lint-angular

++
  functions/src/garmin/auth/api.spec.ts
Due: lint-functions

chore: ui state for sync
  src/app/components/services/coros/services.coros.component.html
  src/app/components/services/coros/services.coros.component.spec.ts
  src/app/components/services/garmin/services.garmin.component.html
  src/app/components/services/garmin/services.garmin.component.spec.ts
  src/app/components/services/suunto/services.suunto.component.html
  src/app/components/services/suunto/services.suunto.component.spec.ts
  src/app/components/shared/service-syncing-state/service-syncing-state.component.ts
  src/app/modules/shared.module.ts
Due: lint-angular

chore: orphaned token archival
  functions/src/OAuth2.spec.ts
  functions/src/OAuth2.ts
  functions/src/shared/ttl-config.ts
  functions/src/users/cleanup.spec.ts
  functions/src/users/cleanup.ts
  scripts/setup-ttl.sh
Due: lint-functions

chore: increase retries for now
  functions/src/garmin/auth/api.spec.ts
  functions/src/garmin/auth/api.ts
Due: lint-functions

chore: add var
  functions/src/queue-utils.ts
  functions/src/shared/ttl-config.ts
Due: lint-functions

fix: tests
  src/app/app.component.spec.ts
  src/app/services/app.theme.service.spec.ts
  src/test-setup.ts
Due: lint-angular

chore: garmin deeplink
  src/app/components/services/garmin/services.garmin.component.spec.ts
  src/app/components/services/garmin/services.garmin.component.ts
  src/app/services/app.deeplink.service.spec.ts
  src/app/services/app.deeplink.service.ts
Due: lint-angular

chore: improve enforce subscriptions
  functions/src/schedule/enforce-subscription-limits.spec.ts
  functions/src/schedule/enforce-subscription-limits.ts
Due: lint-functions

chore: change banner accordingly
  src/app/components/grace-period-banner/grace-period-banner.component.html
Due: lint-angular

fix: saving for legal fields
  src/app/components/user-settings/user-settings.component.ts
  src/app/services/app.user.service.spec.ts
  src/app/services/app.user.service.ts
Due: lint-angular

refactor: start moving functions to call and remove env hardcoded urls
  src/app/app.module.ts
  src/app/services/admin.service.spec.ts
  src/app/services/admin.service.ts
  src/app/services/app.functions.service.spec.ts
  src/app/services/app.functions.service.ts
  src/environments/environment.beta.ts
  src/environments/environment.prod.ts
  src/environments/environment.ts
  src/shared/functions-manifest.ts
Due: lint-angular

chore: move userdelete function call to new structure
  src/app/services/app.user.service.spec.ts
  src/app/services/app.user.service.ts
  src/environments/environment.beta.ts
  src/environments/environment.prod.ts
  src/environments/environment.ts
  src/shared/functions-manifest.ts
Due: lint-angular

feat(ui): implement reusable theme-aware ServiceSourceIconComponent
  .agent/rules/rules.md
  src/app/components/event-summary/event-details-summary-bottom-sheet/event-details-summary-bottom-sheet.component.css
  src/app/components/event-summary/event-details-summary-bottom-sheet/event-details-summary-bottom-sheet.component.html
  src/app/components/event-summary/event-details-summary-bottom-sheet/event-details-summary-bottom-sheet.component.ts
  src/app/components/event-summary/event-summary.component.css
  src/app/components/event-summary/event-summary.component.html
  src/app/components/event-summary/event-summary.component.ts
  src/app/components/service-source-icon/service-source-icon.component.css
  src/app/components/service-source-icon/service-source-icon.component.html
  src/app/components/service-source-icon/service-source-icon.component.spec.ts
  src/app/components/service-source-icon/service-source-icon.component.ts
  src/app/modules/shared.module.ts
Due: lint-angular

feat(ui): implement reusable service source icon and fix alignment
  src/app/components/event-summary/event-summary.component.css
  src/app/components/service-source-icon/service-source-icon.component.css
  src/app/components/service-source-icon/service-source-icon.component.html
  src/app/components/service-source-icon/service-source-icon.component.spec.ts
  src/app/components/service-source-icon/service-source-icon.component.ts
Due: lint-angular

chore: enable sentry sourcemaps
  .github/workflows/buildAndDeployBeta.yml
  .github/workflows/buildAndDeployMain.yml
  .github/workflows/buildAndDeployProduction.yml
  angular.json
  package-lock.json
  package.json
Due: none

Revert "feat(ui): implement reusable service source icon and fix alignment"
  src/app/components/event-summary/event-summary.component.css
  src/app/components/service-source-icon/service-source-icon.component.css
  src/app/components/service-source-icon/service-source-icon.component.html
  src/app/components/service-source-icon/service-source-icon.component.spec.ts
  src/app/components/service-source-icon/service-source-icon.component.ts
Due: lint-angular

feat(ui): move service source icon between hero metrics and actions
  src/app/components/event-summary/event-summary.component.css
  src/app/components/event-summary/event-summary.component.html
  src/app/components/service-source-icon/service-source-icon.component.css
  src/app/components/service-source-icon/service-source-icon.component.html
  src/app/components/service-source-icon/service-source-icon.component.spec.ts
  src/app/components/service-source-icon/service-source-icon.component.ts
Due: lint-angular

Revert "feat(ui): move service source icon between hero metrics and actions"
  src/app/components/event-summary/event-summary.component.css
  src/app/components/event-summary/event-summary.component.html
  src/app/components/service-source-icon/service-source-icon.component.css
  src/app/components/service-source-icon/service-source-icon.component.html
  src/app/components/service-source-icon/service-source-icon.component.spec.ts
  src/app/components/service-source-icon/service-source-icon.component.ts
Due: lint-angular

chore: fix for fonts
  src/app/components/event-summary/event-summary.component.css
Due: none

chore: fix for size
  src/app/components/service-source-icon/service-source-icon.component.css
Due: none

chore: styles
  src/app/components/event-summary/event-details-summary-bottom-sheet/event-details-summary-bottom-sheet.component.html
  src/app/components/event-summary/event-summary.component.css
  src/app/components/event-summary/service-source-icon/service-source-icon.component.css
  src/app/components/event-summary/service-source-icon/service-source-icon.component.html
  src/app/components/event-summary/service-source-icon/service-source-icon.component.spec.ts
  src/app/components/event-summary/service-source-icon/service-source-icon.component.ts
  src/app/components/event/event.card.component.html
  src/app/components/header-stats/header-stats.component.html
  src/app/modules/shared.module.ts
Due: lint-angular

chore: sourcemaps fix
  package.json
Due: none

chore: fixes for sentry
  .github/workflows/buildAndDeployBeta.yml
  angular.json
  package.json
Due: none

chore: bump sl
  functions/package-lock.json
  functions/package.json
  package-lock.json
  package.json
Due: none

chore: enable garmin
  src/app/components/services/garmin/services.garmin.component.html
Due: lint-angular

chore: improvements
  src/app/components/history-import-form/history-import.form.component.html
  src/app/components/history-import-form/history-import.form.component.ts
  src/app/components/services/coros/services.coros.component.html
  src/app/components/services/garmin/services.garmin.component.html
  src/app/components/services/suunto/services.suunto.component.html
Due: lint-angular

Path conditions:
  lint-functions: any of: **/*.{ts,js} and ^functions/
  lint-angular: any of: {src/*.{ts,html},src/**/*.{ts,html}}
