Repository jimmykane/quantified-self: changes, and which lefthook commands are due for each by the changed paths.
All: lint-functions, lint-angular

lint-functions:
  run: npx eslint {staged_files} --fix && git add {staged_files}

lint-angular:
  run: ESLINT_USE_FLAT_CONFIG=false npx eslint {staged_files} --fix && git add {staged_files}

test: verify independent planning consent and read boundaries
  functions/src/mcp/training-plans.service.ts
  src/app/components/mcp-authorization/mcp-authorization.component.spec.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

fix: tighten planning MCP read bounds and guidance
  docs/mcp-server.md
  docs/training-workspace.md
  functions/src/mcp/training-plans.service.spec.ts
  functions/src/mcp/training-plans.service.ts
  plugins/quantified-self/skills/analyze-quantified-self-activity/SKILL.md
  plugins/quantified-self/skills/analyze-quantified-self-training/SKILL.md
  plugins/quantified-self/skills/analyze-quantified-self/SKILL.md
Due: lint-functions

fix: show loading only for the selected pricing action
  src/app/components/pricing/pricing.component.html
  src/app/components/pricing/pricing.component.scss
  src/app/components/pricing/pricing.component.spec.ts
  src/app/components/pricing/pricing.component.ts
Due: lint-angular

fix: harden training verification retries and repair evidence
  docs/provider-integration-guide.md
  docs/training-workspace.md
  functions/src/training-plans/delivery/contracts.ts
  functions/src/training-plans/delivery/delivery.emulator.spec.ts
  functions/src/training-plans/delivery/garmin/http.spec.ts
  functions/src/training-plans/delivery/garmin/http.ts
  functions/src/training-plans/delivery/garmin/inspection.ts
  functions/src/training-plans/delivery/garmin/transport.spec.ts
  functions/src/training-plans/delivery/garmin/transport.ts
  functions/src/training-plans/delivery/store.ts
  functions/src/training-plans/delivery/verification-evidence.spec.ts
  functions/src/training-plans/delivery/verification-evidence.ts
  functions/src/training-plans/delivery/verification-worker.ts
  functions/src/training-plans/delivery/worker.ts
  src/app/components/plans/training-delivery-dialog.component.spec.ts
  src/app/components/plans/training-delivery-dialog.component.ts
  src/app/helpers/training-verification-display.helper.spec.ts
  src/app/helpers/training-verification-display.helper.ts
Due: lint-functions, lint-angular

fix: preserve Health charts and drafts during updates
  docs/unified-health-data.md
  src/app/components/charts/health/dashboard-health-chart.component.spec.ts
  src/app/components/charts/health/dashboard-health-chart.component.ts
  src/app/components/health/health-workspace.component.spec.ts
  src/app/components/health/health-workspace.component.ts
  src/app/helpers/dashboard-health-context.helper.spec.ts
  src/app/helpers/dashboard-health-context.helper.ts
  src/app/services/dashboard-health.service.spec.ts
  src/app/services/dashboard-health.service.ts
Due: lint-angular

fix: retain interrupted training repairs across stop and edits
  docs/provider-integration-guide.md
  docs/training-workspace.md
  functions/src/training-plans/delivery/delivery.emulator.spec.ts
  functions/src/training-plans/delivery/garmin/transport.spec.ts
  functions/src/training-plans/delivery/garmin/transport.ts
  functions/src/training-plans/delivery/garmin/worker.emulator.spec.ts
  functions/src/training-plans/delivery/intent.spec.ts
  functions/src/training-plans/delivery/intent.ts
  functions/src/training-plans/delivery/store.ts
  functions/src/training-plans/delivery/verification-contracts.ts
  functions/src/training-plans/delivery/verification-worker.ts
  functions/src/training-plans/delivery/worker.ts
  src/app/services/training-delivery-reads.spec.ts
Due: lint-functions, lint-angular

fix: improve Health chart library previews
  docs/unified-health-data.md
  src/app/components/charts/health/dashboard-health-chart.component.css
  src/app/components/charts/health/dashboard-health-chart.component.html
  src/app/components/charts/health/dashboard-health-chart.component.spec.ts
  src/app/components/charts/health/dashboard-health-chart.component.ts
  src/app/components/charts/sleep-trend/charts.sleep-trend.component.html
  src/app/components/charts/sleep-trend/charts.sleep-trend.component.spec.ts
  src/app/components/health/health-metric-series-chart.component.spec.ts
  src/app/components/health/health-metric-series-chart.component.ts
  src/app/components/summaries/dashboard-chart-library/dashboard-chart-library.component.css
  src/app/components/summaries/dashboard-chart-library/dashboard-chart-library.component.html
  src/app/components/summaries/dashboard-chart-library/dashboard-chart-library.component.ts
  src/app/helpers/dashboard-health-context.helper.ts
  src/app/helpers/dashboard-health-preview.helper.spec.ts
  src/app/helpers/dashboard-health-preview.helper.ts
  src/app/shared/help.content.ts
Due: lint-angular

feat: hide empty dashboard sections and unify tile discovery
  docs/frontend-ui.md
  src/app/components/summaries/dashboard-chart-library/dashboard-chart-library.component.css
  src/app/components/summaries/dashboard-chart-library/dashboard-chart-library.component.html
  src/app/components/summaries/dashboard-chart-library/dashboard-chart-library.component.spec.ts
  src/app/components/summaries/dashboard-chart-library/dashboard-chart-library.component.ts
  src/app/components/summaries/summaries.component.css
  src/app/components/summaries/summaries.component.html
  src/app/components/summaries/summaries.component.spec.ts
  src/app/components/summaries/summaries.component.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: show readable Health previews and available sources
  docs/frontend-ui.md
  docs/unified-health-data.md
  src/app/components/charts/health/dashboard-health-chart.component.css
  src/app/components/charts/health/dashboard-health-chart.component.html
  src/app/components/charts/health/dashboard-health-chart.component.spec.ts
  src/app/components/charts/health/dashboard-health-chart.component.ts
  src/app/components/health/health-metric-series-chart.component.spec.ts
  src/app/components/health/health-metric-series-chart.component.ts
  src/app/components/summaries/dashboard-chart-library/dashboard-chart-library.component.css
  src/app/components/summaries/dashboard-chart-library/dashboard-chart-library.component.html
  src/app/components/summaries/dashboard-chart-library/dashboard-chart-library.component.ts
  src/app/helpers/dashboard-health-context.helper.spec.ts
  src/app/helpers/dashboard-health-context.helper.ts
  src/app/shared/help.content.ts
Due: lint-angular

test: verify explicit Timeline note bindings
  src/app/helpers/timeline-notes-adapters.spec.ts
Due: lint-angular

fix: use recorded sleep sessions in Health metric charts
  docs/unified-health-data.md
  src/app/components/health/health-workspace.component.spec.ts
  src/app/components/health/health-workspace.component.ts
  src/app/helpers/dashboard-health-context.helper.spec.ts
  src/app/helpers/health-workspace.helper.spec.ts
  src/app/helpers/health-workspace.helper.ts
  src/app/services/health-metric-query.service.spec.ts
  src/app/services/health-metric-query.service.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: increase subscription gift function memory
  functions/src/admin/handlers/subscription-gifts.handlers.ts
Due: lint-functions

fix: prefer main sleep when opening summary charts
  docs/unified-health-data.md
  src/app/helpers/dashboard-health-context.helper.spec.ts
  src/app/helpers/health-workspace.helper.ts
Due: lint-angular

fix: compact dashboard chart source controls
  docs/frontend-ui.md
  src/app/components/charts/health/dashboard-health-chart.component.css
  src/app/components/charts/health/dashboard-health-chart.component.html
  src/app/components/charts/health/dashboard-health-chart.component.spec.ts
  src/app/components/charts/health/dashboard-health-chart.component.ts
  src/app/components/shared/chart-source-picker/chart-source-picker.component.html
  src/app/components/shared/chart-source-picker/chart-source-picker.component.scss
  src/app/components/shared/chart-source-picker/chart-source-picker.component.spec.ts
  src/app/components/shared/chart-source-picker/chart-source-picker.component.ts
  src/app/helpers/chart-source.helper.spec.ts
  src/app/helpers/chart-source.helper.ts
  src/app/helpers/dashboard-health-context.helper.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: show recorded sleep vitals across health charts
  docs/frontend-ui.md
  docs/unified-health-data.md
  src/app/components/health/health-workspace.component.html
  src/app/components/health/health-workspace.component.spec.ts
  src/app/components/health/health-workspace.component.ts
  src/app/helpers/chart-source.helper.spec.ts
  src/app/helpers/chart-source.helper.ts
  src/app/helpers/dashboard-health-context.helper.spec.ts
  src/app/helpers/health-workspace.helper.spec.ts
  src/app/helpers/health-workspace.helper.ts
  src/app/services/dashboard-health.service.spec.ts
  src/app/services/dashboard-health.service.ts
  src/app/shared/help.content.ts
Due: lint-angular

fix: refresh transactional email tagline
  functions/src/email/template-catalog.spec.ts
  functions/templates/partials/email_transactional_footer.hbs
  functions/templates/partials/email_transactional_footer.txt.hbs
Due: lint-functions

fix: tighten health chart header spacing
  docs/frontend-ui.md
  src/app/components/charts/health/dashboard-health-chart.component.css
  src/app/components/charts/health/dashboard-health-chart.component.html
  src/app/components/charts/sleep-trend/charts.sleep-trend.component.css
  src/app/components/charts/sleep-trend/charts.sleep-trend.component.html
Due: lint-angular

feat: expose event tags through MCP
  docs/assistant.md
  docs/mcp-server.md
  functions/src/mcp/activity-tags.firestore.spec.ts
  functions/src/mcp/activity-tags.service.ts
  functions/src/mcp/contracts/pending-change.json
  functions/src/mcp/data.service.spec.ts
  functions/src/mcp/data.service.ts
  functions/src/mcp/server.spec.ts
  functions/src/mcp/server.ts
  functions/src/mcp/tool-output-schemas.spec.ts
  functions/src/mcp/tool-output-schemas.ts
  plugins/quantified-self/skills/analyze-quantified-self-activity/SKILL.md
  src/app/components/mcp-authorization/mcp-authorization.component.spec.ts
  src/app/components/mcp-connections/mcp-connections.component.spec.ts
  src/app/components/public-seo/public-seo-page.component.spec.ts
  src/app/components/public-seo/public-seo-pages.content.ts
  src/app/helpers/mcp-permissions.helper.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/app/shared/policies.content.spec.ts
  src/app/shared/policies.content.ts
  src/firebase-hosting.config.spec.ts
  src/sitemap.xml
Due: lint-functions, lint-angular

fix: harden MCP activity tag reads
  docs/mcp-server.md
  functions/src/mcp/contracts/pending-change.json
  functions/src/mcp/data.service.spec.ts
  functions/src/mcp/data.service.ts
  functions/src/mcp/server.spec.ts
  functions/src/mcp/server.ts
  plugins/quantified-self/skills/analyze-quantified-self-activity/SKILL.md
  src/app/components/mcp-authorization/mcp-authorization.component.spec.ts
  src/app/components/mcp-connections/mcp-connections.component.spec.ts
  src/app/components/public-seo/public-seo-page.component.spec.ts
  src/app/components/public-seo/public-seo-pages.content.ts
  src/app/helpers/mcp-permissions.helper.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
  src/app/shared/policies.content.spec.ts
  src/app/shared/policies.content.ts
Due: lint-functions, lint-angular

fix: reduce dashboard startup and Health chart work
  docs/frontend-ui.md
  docs/unified-health-data.md
  src/app/components/charts/health/dashboard-health-chart.component.spec.ts
  src/app/components/charts/health/dashboard-health-chart.component.ts
  src/app/components/tile/map/tile.map.component.css
  src/app/components/tile/map/tile.map.component.html
  src/app/components/tile/map/tile.map.component.spec.ts
  src/app/helpers/health-workspace.helper.spec.ts
  src/app/helpers/health-workspace.helper.ts
Due: lint-angular

fix: increase memory for remaining OOM functions
  functions/src/activity-sync/disconnect-routes.spec.ts
  functions/src/activity-sync/disconnect-routes.ts
  functions/src/assistant/callable.ts
  functions/src/coros/binding-state.ts
  functions/src/events/set-event-sharing.spec.ts
  functions/src/events/set-event-sharing.ts
  functions/src/garmin/health-availability.spec.ts
  functions/src/garmin/health-availability.ts
  functions/src/mcp/callables.ts
  functions/src/service-connection-account-projection.spec.ts
  functions/src/service-connection-account-projection.ts
Due: lint-functions

fix: distinguish Suunto app credentials and ambiguous accounts
  docs/function-secret-management.md
  docs/training-workspace.md
  functions/src/mcp/training-plans.service.spec.ts
  functions/src/training-plans/delivery/connection.spec.ts
  functions/src/training-plans/delivery/connection.ts
  functions/src/training-plans/delivery/suunto/http.spec.ts
  functions/src/training-plans/delivery/suunto/http.ts
  functions/src/training-plans/delivery/suunto/suunto.emulator.spec.ts
Due: lint-functions

fix: keep shared Training preview dates accurate
  docs/training-workspace.md
  src/app/components/public-seo/public-feature-preview.component.spec.ts
  src/app/components/public-seo/training-explorer-preview.component.html
  src/app/components/public-seo/training-explorer-preview.component.spec.ts
  src/app/components/public-seo/training-explorer-preview.component.ts
  src/app/components/public-seo/training-explorer-preview.data.spec.ts
  src/app/components/public-seo/training-explorer-preview.data.ts
  src/app/components/training/training-power-systems-trend-chart.component.html
  src/app/components/training/training-power-systems-trend-chart.component.spec.ts
  src/app/components/training/training-power-systems-trend-chart.component.ts
Due: lint-angular

fix: prevent crowded Health dashboard actions on mobile
  src/app/components/health/health-workspace.component.html
  src/app/components/health/health-workspace.component.scss
Due: lint-angular

fix: reuse existing Suunto credentials for Guide delivery
  README.md
  docs/function-secret-management.md
  docs/provider-integration-guide.md
  docs/suunto-integration.md
  docs/training-workspace.md
  functions/.secret.local.example
  functions/src/config.spec.ts
  functions/src/config.ts
  functions/src/secrets.spec.ts
  functions/src/secrets.ts
  functions/src/training-plans/delivery/runtime.spec.ts
  functions/src/training-plans/delivery/runtime.ts
  functions/src/training-plans/delivery/suunto/http.spec.ts
  shared/planned-workout-providers.ts
Due: lint-functions

feat: show provider logos in training sync headings
  docs/frontend-ui.md
  docs/training-workspace.md
  src/app/components/plans/training-delivery-dialog.component.html
  src/app/components/plans/training-delivery-dialog.component.scss
  src/app/components/plans/training-delivery-dialog.component.spec.ts
  src/app/components/plans/training-delivery-dialog.component.ts
  src/app/components/shared/compact-row/compact-row.component.html
  src/app/components/shared/compact-row/compact-row.component.scss
  src/app/components/shared/compact-row/compact-row.component.spec.ts
  src/app/components/shared/compact-row/compact-row.component.ts
Due: lint-angular

fix: configure Suunto Guide owner through secrets
  README.md
  docs/function-secret-management.md
  docs/provider-integration-guide.md
  docs/training-workspace.md
  functions/.secret.local.example
  functions/src/config.spec.ts
  functions/src/config.ts
  functions/src/secrets.spec.ts
  functions/src/secrets.ts
  functions/src/training-plans/delivery/commands.ts
  functions/src/training-plans/delivery/runtime.spec.ts
  functions/src/training-plans/delivery/runtime.ts
Due: lint-functions

fix: simplify Suunto workout mapping and sync review
  docs/provider-integration-guide.md
  docs/training-workspace.md
  functions/src/mcp/training-plans.service.spec.ts
  functions/src/training-plans/delivery/suunto/mapping.ts
  functions/src/training-plans/delivery/suunto/suunto.emulator.spec.ts
  functions/src/training-plans/delivery/suunto/transport.spec.ts
  functions/src/training-plans/providers/provider-mapping.spec.ts
  functions/src/training-plans/providers/suunto-guide.serializer.ts
  src/app/components/plans/training-delivery-dialog.component.html
  src/app/components/plans/training-delivery-dialog.component.scss
  src/app/components/plans/training-delivery-dialog.component.spec.ts
  src/app/components/plans/training-delivery-dialog.component.ts
  src/app/helpers/training-verification-display.helper.spec.ts
  src/app/helpers/training-verification-display.helper.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

fix: diagnose Garmin delivery failures and pluralize sync summaries
  docs/provider-integration-guide.md
  docs/training-workspace.md
  functions/src/training-plans/delivery/diagnostics.spec.ts
  functions/src/training-plans/delivery/diagnostics.ts
  functions/src/training-plans/delivery/garmin/diagnostics.spec.ts
  functions/src/training-plans/delivery/garmin/diagnostics.ts
  functions/src/training-plans/delivery/garmin/transport.spec.ts
  functions/src/training-plans/delivery/garmin/transport.ts
  functions/src/training-plans/delivery/garmin/worker.emulator.spec.ts
  functions/src/training-plans/delivery/worker.ts
  shared/training-delivery-summary.ts
  src/app/components/plans/training-delivery-dialog.component.html
  src/app/components/plans/training-delivery-dialog.component.spec.ts
  src/app/helpers/training-delivery-summary.helper.spec.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

feat: add Suunto workout sport profiles
  docs/mcp-server.md
  docs/provider-integration-guide.md
  docs/suunto-integration.md
  docs/training-workspace.md
  functions/src/mcp/training-plans.service.spec.ts
  functions/src/test-setup.ts
  functions/src/training-plans/providers/provider-mapping.spec.ts
  functions/src/training-plans/providers/suunto-guide.serializer.ts
  shared/planned-workout-providers.ts
  shared/planned-workout.ts
  src/app/components/plans/plans-workspace.component.html
  src/app/components/plans/plans-workspace.component.spec.ts
  src/app/components/plans/plans-workspace.component.ts
  src/app/helpers/planned-workout-editor.helper.spec.ts
  src/app/helpers/planned-workout-editor.helper.ts
  src/app/helpers/planned-workout.shared.spec.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

feat: add Garmin workout sport mappings
  docs/garmin-integration.md
  docs/mcp-server.md
  docs/provider-integration-guide.md
  docs/training-workspace.md
  functions/src/training-plans/delivery/garmin/transport.spec.ts
  functions/src/training-plans/delivery/mapping.spec.ts
  functions/src/training-plans/providers/garmin-workout.serializer.ts
  functions/src/training-plans/providers/provider-mapping.spec.ts
  shared/planned-workout-providers.ts
  src/app/shared/help.content.spec.ts
  src/app/shared/help.content.ts
Due: lint-functions, lint-angular

fix: confirm Garmin scalar schedule acknowledgements
  docs/provider-integration-guide.md
  docs/training-workspace.md
  functions/src/training-plans/delivery/garmin/diagnostics.ts
  functions/src/training-plans/delivery/garmin/transport.spec.ts
  functions/src/training-plans/delivery/garmin/transport.ts
  functions/src/training-plans/delivery/garmin/worker.emulator.spec.ts
Due: lint-functions

fix: suppress phantom Suunto route updates
  docs/provider-integration-guide.md
  docs/suunto-integration.md
  functions/src/routes/process-route-sync-queue-item.spec.ts
  functions/src/routes/process-route-sync-queue-item.ts
Due: lint-functions

fix: defer workout retries during token refresh contention
  docs/provider-integration-guide.md
  functions/src/queue-utils.spec.ts
  functions/src/queue-utils.ts
  functions/src/queue.spec.ts
  functions/src/queue.ts
  functions/src/tasks/workout-processor.ts
Due: lint-functions

fix: preserve token refresh contention deferral
  docs/provider-integration-guide.md
  functions/src/queue.spec.ts
  functions/src/queue.ts
Due: lint-functions

fix: reduce redundant dashboard and chart updates
  docs/frontend-ui.md
  docs/training-workspace.md
  src/app/components/charts/form/charts.form.component.ts
  src/app/components/charts/freshness-forecast/charts.freshness-forecast.component.ts
  src/app/components/charts/sleep-trend/charts.sleep-trend.component.ts
  src/app/components/health/health-metric-series-chart.component.spec.ts
  src/app/components/health/health-metric-series-chart.component.ts
  src/app/components/summaries/summaries.component.spec.ts
  src/app/components/summaries/summaries.component.ts
  src/app/components/training/training-body-weight-trend-chart.component.ts
  src/app/components/training/training-durability-trajectory-chart.component.ts
  src/app/components/training/training-power-systems-trend-chart.component.ts
  src/app/components/training/training-readiness-trend-chart.component.ts
  src/app/components/training/training-swim-performance-chart.component.ts
  src/app/helpers/coalesced-frame-task.spec.ts
  src/app/helpers/coalesced-frame-task.ts
  src/app/helpers/dashboard-chart-data.helper.ts
  src/app/helpers/date-time-format.helper.spec.ts
  src/app/helpers/date-time-format.helper.ts
  src/app/helpers/echarts-host-controller.spec.ts
  src/app/helpers/echarts-host-controller.ts
  src/app/helpers/health-metric-chart.helper.ts
  src/app/helpers/health-workspace.helper.ts
  src/app/helpers/timeline-notes-adapters.spec.ts
  src/app/helpers/timeline-notes-chart.helper.spec.ts
  src/app/helpers/timeline-notes-chart.helper.ts
  src/app/helpers/timeline-notes-chart.interaction.spec.ts
  src/app/helpers/training-body-weight.helper.ts
  src/app/helpers/training-readiness.helper.ts
Due: lint-angular

Path conditions:
  lint-functions: any of: **/*.{ts,js} and ^functions/
  lint-angular: any of: {src/*.{ts,html},src/**/*.{ts,html}}
